<div id="{$row_id}" class='row checkout-list-row allPreBasketItems'>
	<div class='col-md-7 col-sm-12 col-xs-12'>
		<a class='thumbnail'>
			<img src="{$img}" width='132' height='87' alt=''>
		</a>
		<div class='product-infos'>
			<p>{$title_fr}</p>
		</div>
	</div>
	<div class='col-md-1 hidden-sm hidden-xs'>{$team_price}</div>
	<div class='col-md-2 col-sm-6 col-xs-6'>
		<div>
			<i id="{$option_id}" class='except-icon'></i>
			<span id="{$quantity_box}" class='quantity_box'>{$quantity}</span>
			<input class='basket_quantity' type='hidden' id="basket_quantity_{$option_id}" maxbuy="{$maxbuy}" price="{$team_price}" teamid="{$team_id}" option='{$option_id}' value='{$quantity}' mode='buy' name='count'>
			<i id="{$option_id}" class='add-icon'></i>
		</div>
	</div>
	<div class='col-md-1 col-sm-6 col-xs-6'>
		<div class='visible-sm-block visible-xs-block text-right'>
			<strong>Prix</strong>(CHF): {$team_price}
			<br>			
		</div>
		<span class="hidden-lg hidden-md"><strong>Total</strong>(CHF):</span> <span id="{$basket_price}" name='basket_price' class='basket_price'>{$total_price}</span>
	</div>
	<div class='col-md-1 col-sm-2 col-xs-2 col-sm-push-10 col-xs-push-10 col-lg-push-0 col-md-push-0 text-center'>
		<a id="{$option_id}"  class='delete-item'>
			<i id="{$option_id}" option_id="{$option_id}" team_id="{$team_id}"  price="{$team_price}" class='removeButton delete-icon'></i>
		</a>
	</div>
</div>