hi {$user['username']},<br />
<br />
Thank you for registering on {$INI['system']['sitename']}，please click the following link to verify your Email：<br />
<br />
<a href="{$INI['system']['wwwprefix']}/account/verify.php?code={$user['secret']}">{$INI['system']['wwwprefix']}/account/verify.php?code={$user['secret']}</a><br />
<br />
--<br />
{$INI['system']['sitename']} - Collective Buying Everyday
