hi {$user['username']},<br />
<br />
You've applied for resetting your password on {$INI['system']['sitename']}, please click the following link and finish reseting your password according to the directions on the page：<br />
<br />
<a href="{$INI['system']['wwwprefix']}/account/reset.php?code={$user['recode']}">{$INI['system']['wwwprefix']}/account/reset.php?code={$user['recode']}</a><br />
<br />
--<br />
{$INI['system']['sitename']} - Collective Buying Everyday
