<h2>{$name} Invite you to register{$INI['system']['sitename']}</h2>
{$content}<br />
<br />
Please click the following link to accept your friend's invitation:
<a href="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}">{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}</a><br />
<br />
--<br />
{$INI['system']['sitename']} - Collective Buying Everyday
