/* Mixins */
@mixin rounded-corners ($radius: 5px) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin rounded ($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin tt-btn {
	font-size: $fs-base + 1;
	font-weight: $fw-semi-bold;
	padding: 10px 25px 8px;
	display: inline-block;
	background-color: $brand-primary;
	color: $white;
	text-transform: uppercase;
	border: none;
	border-bottom: 2px solid darken($brand-primary, 10%);
	@include rounded(3px);
	&.small {
		font-size: $fs-base;
		padding: 5px 10px 4px;
		text-transform: capitalize;
	}
	&:hover {
		color: $white;
		text-decoration: none;
		background-color: darken($brand-primary, 5%);
		border-bottom-color: darken($brand-primary, 15%);
	}
	&.full {
		width: 100%;
	}
	&.tt-btn-blue,
	&.tt-btn-secondary {
		background-color: $brand-secondary;
		border-bottom: 2px solid darken($brand-secondary, 10%);
		&:hover {
			background-color: darken($brand-secondary, 5%);
			border-bottom-color: darken($brand-secondary, 15%);
		}
	}
	&.tt-btn-white {
		color: #111;
		background-color: #eee;
		border-bottom: 2px solid darken(#eee, 10%);
		&:hover {
			background-color: darken(#eee, 5%);
			border-bottom-color: darken(#eee, 15%);
		}
	}

}

@mixin tt-btn-event-details {
	font-size: 16px;
	font-family: $roboto-c;
	font-weight: $fw-bold;
	padding: 5px 15px;
	display: inline-block;
	color: $white;
	text-transform: uppercase;
	border: none;
	@include rounded(3px);
	background-color: $brand-primary;
	border-bottom: 2px solid darken($brand-primary, 10%);
	&:hover {
		color: $white;
		text-decoration: none;
		background-color: #07efd0;
		border-bottom-color: darken(#07efd0, 5%);
	}
}

@mixin tt-filter-btn {
	border: 2px solid $border-gray;
	padding: 5px 10px 5px 10px;
	background: $white;
	color: $gray;
	@include rounded(4px);
	
	&:hover{
		border-color: darken($border-gray, 15%);
		color: darken($gray, 15%);
	}
	&.active { border-color: $brand-primary; }

}


@mixin link-color ($arg: $link-color) {
		&:link,
		&:visited {
			color: $arg;
		}
		&:hover,
		&:active {
			color: darken($arg, 15%);
		}
}

@mixin no-hover-underline {
	&:hover {
		text-decoration: none;
	}
}

@mixin header-logo ($w: 50px, $h: 50px) {
	width: $w;
	height: $h;
	background-image: url('#{$img}/logo.png');
	background-size: cover;
	float: left;
	margin-right: 10px;
}



//Highlight Block
@mixin hl-block {
	border: 1px solid #e4e4e4;
	background-color: #f2f2f2;
	width: auto;
	display: inline-block;
	padding: $padding-base $padding-base*2;
	@include rounded (7px);
	@extend .fs-14;
}

@mixin hr-line {
	background: #e8e8e8;
	height: 1px;
	padding: 0;
	display: block;
	&.v15 { margin: 15px 0; }
}


@mixin sub-title-style1 {
	color: $brand-secondary;
	text-decoration: underline;
	font-size: $fs-base + 11;
	padding-bottom: 10px;
}

@mixin star-rating {
	display: inline-block;
	width: 65px;
	height: 13px;
	background: url('#{$img}/star-rating-sprite.png') 0 0;

	span {
		display: block;
		width: 70%;
		height: 13px;
		background: url('#{$img}/star-rating-sprite.png') 0 13px;
		&.star-0 		{ width: 0%; }
		&.star-1 		{ width: 20%; }
		&.star-1-5 		{ width: 30%; }
		&.star-2 		{ width: 40%; }
		&.star-2-5 		{ width: 50%; }
		&.star-3 		{ width: 60%; }
		&.star-3-5 		{ width: 70%; }
		&.star-4 		{ width: 80%; }
		&.star-4-5 		{ width: 90%; }
		&.star-5 		{ width: 100%; }
	}// span

}// star-rating



