//
// Load variables and mixins and Font
// --------------------------------------------------



/* Table of Contents
	- Import
	- Print
	- Defaults
		- Forms
		- Typographical Elements
		- Headings
		- Objects
		- Tables
	- Structure and Layout
	- Common Classes
	- Header
		- Breadcrumb
	- Footer
	- Content Area
		- Home
		- Hotel
		- Event
		- Checkout
		- Contact Us
		- About Us
*/



/*
Import
---------------------------------------------------------------------------------------------------- */


/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../../fonts/roboto-v15-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../../fonts/roboto-v15-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/roboto-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../../fonts/roboto-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../../fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/roboto-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../../fonts/roboto-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/roboto-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../../fonts/roboto-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/roboto-v15-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../../fonts/roboto-v15-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* roboto-slab-100 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url('../../fonts/roboto-slab-v6-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'),
       url('../../fonts/roboto-slab-v6-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-slab-v6-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-slab-v6-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-slab-v6-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-slab-v6-latin-100.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-300 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/roboto-slab-v6-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
       url('../../fonts/roboto-slab-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-slab-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-slab-v6-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-slab-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-slab-v6-latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/roboto-slab-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../../fonts/roboto-slab-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-slab-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-slab-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-slab-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-slab-v6-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/roboto-slab-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('../../fonts/roboto-slab-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-slab-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-slab-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-slab-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-slab-v6-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}


/* roboto-condensed-300 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/roboto-condensed-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('../../fonts/roboto-condensed-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-condensed-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-condensed-v13-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-condensed-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-condensed-v13-latin-300.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/roboto-condensed-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../../fonts/roboto-condensed-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-condensed-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-condensed-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-condensed-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-condensed-v13-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/roboto-condensed-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('../../fonts/roboto-condensed-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-condensed-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-condensed-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-condensed-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-condensed-v13-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}




@import "elements";
@import "variables";
@import "mixins";


/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */
.mh250 { min-height: 250px; }

.ohidden { overflow: hidden; }
.relative { position: relative; }

/* Custom Columns */
.w50pl { width: 50%; float: left; }
.w50pr { width: 50%; float: right; }

.w33p { width: 33%; }
.w66p { width: 66%; }
.w90p { width: 90%; }

/* Percent Width */
.w10p { width: 10%; }
.w20p { width: 20%; }
.w30p { width: 30%; }
.w40p { width: 40%; }
.w50p { width: 50%; }
.w60p { width: 60%; }
.w70p { width: 70%; }
.w75p { width: 75%; }
.w80p { width: 80%; }
.w90p { width: 90%; }
.w100p { width: 100%; }

.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mb20 { margin-bottom: 20px; }


.mobile .M_offest-0 { padding-left: 0px; padding-right: 0px; }

.offset-0 {
	padding-left: 0px;
	padding-right: 0px; 
}

/* Colors  */
.grey { color: #999; }
.darkgrey { color: #666; }
.green { color: $brand-primary; }



a:focus { outline: none; }
.no-underline a:hover,
a.no-underline:hover { text-decoration: none; }

.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pl-15 { padding-left: 15px; }
.pb-20 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }

.hpadding20 { padding-left: 20px; padding-right: 20px; }
.hpadding30 { padding-left: 30px; padding-right: 30px; }
.hpadding80 { padding-left: 80px; padding-right: 80px; }
.padding15 { padding: 15px; }
.padding20 { padding: 20px; }
.padding30 { padding: 30px; }

.pl30 { padding-left: 30px; }
.margin30 { margin: 30px; }


.mt5 { margin-top: 5px; }
.mt8 { margin-top: 8px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }
.mt80 { margin-top: 80px; }

.mb5 { margin-bottom: 5px; }
.mb8 { margin-bottom: 8px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px; }
.mb70 { margin-bottom: 70px; }
.mb80 { margin-bottom: 80px; }

.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml40 { margin-left: 40px; }
.ml50 { margin-left: 50px; }

.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }
.mr40 { margin-right: 40px; }
.mr50 { margin-right: 50px; }

.mobile {
	.block-mobile {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
}


img.tt {
	padding: 4px;
	border: 1px solid #dcdcdc;
}

.full-width { width: 100% }



a:link,
a:visited,
a:focus,
button:focus { outline: none; }
.bootstrap-select .btn:focus { outline: none !important; }
span.action { cursor: pointer; }

.tt-box {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
}

.border-right-1 { border-right: 1px solid $border-gray; }
.border-left-1 { border-left: 1px solid $border-gray; }



.alert-container {
	margin: 0 auto;
	text-align: center;
	position: fixed;
	top: 70px;
	width: 100%;
	z-index: 101;
}
.tt-alert {
	background-color: #fff;
	display: inline-block;
	padding: 6px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	font-weight: bold;
}
	.tt-alert-success {
		color: #00A100;
		border-color: #3cb835;
		background-color: #F7FFF7;
	}
	.tt-alert-error {
		color: #f00;
		border-color: #F56565;
		background-color: #FFF7F7;
	}




.roundstep {
	width: 23px;
	height: 23px;
	background: $white;
	color: $gray;
	@include rounded(23px);
	padding: 1px 0 0 6px;
	border: 1px solid $gray;
	display: inline-block;
	&.active {
		color: $white;
		background: $brand-primary;
		border-color: $brand-primary;
	}
}



.collapsebtn3 {
	width: 9px;
	height: 6px;
	border: 0px solid black;
	margin-left: 10px;
	background: url('#{$img}/arrows.png') scroll 0 -6px no-repeat;
	&.collapsed {
		background-position: 0 0;
	}
}

.nav-tabs > li a {
	height: 43px;
	float: left;
	background: #ebebeb;
	color: #999999;
	padding: 10px 18px 10px 17px;
	margin: 0px;
	border-left: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}


ul.default {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.responsive-test {
	background: #feffed;
	padding: 3px 7px;
	border: 1px solid #f5ea9c;
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 11px;
}


.mySelectCalendar {
background:url('#{$img}/images/calendar.png') #fff no-repeat right;
background-position:98% 1px;
}
.mySelectCalendar2 {
background:url('#{$img}/images/calendar2.png') #fff no-repeat right;
background-position:98% 1px;
}




.amenities {
	&.input-mt {
		input {
			margin-top: 8px;
		}
		.checkbox {
			margin-bottom: 30px;
			margin-top: 30px;
			:checked + .icon {
				&.internet { background-position: -33px -3px; }
				&.air { background-position: -33px -33px; }
				&.pool { background-position: -33px -63px; }
				&.childcare { background-position: -33px -93px; }
				&.fitness { background-position: -33px -123px; }
				&.breakfast { background-position: -33px -153px; }
				&.parking { background-position: -33px -183px; }
				&.pets { background-position: -33px -213px; }
				&.spa { background-position: -33px -243px; }
				&.hairdryer { background-position: -33px -273px; }
				&.garden { background-position: -33px -303px; }
				&.grill { background-position: -33px -333px; }
				&.kitchen { background-position: -33px -363px; }
				&.bar { background-position: -33px -393px; }
				&.living { background-position: -33px -423px; }
			}
		}
	}
	.icon {
		display: inline-block;
		width: 28px;
		height: 28px;
		// background: #fff url('#{$img}/hotelpref-ico.png') no-repeat;
		border: 2px solid #ebebeb;
		padding: 5px;
		color: #999;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-transition: border .2s;
		-moz-transition: border .2s;
		transition: border .2s;
		margin: 0 10px 10px 0px;
		&.internet { background-position: -3px -3px; }
		&.air { background-position: -3px -33px; }
		&.pool { background-position: -3px -63px; }
		&.childcare { background-position: -3px -93px; }
		&.fitness { background-position: -3px -123px; }
		&.breakfast { background-position: -3px -153px; }
		&.parking { background-position: -3px -183px; }
		&.pets { background-position: -3px -213px; }
		&.spa { background-position: -3px -243px; }
		&.hairdryer { background-position: -3px -273px; }
		&.garden { background-position: -3px -303px; }
		&.grill { background-position: -3px -333px; }
		&.kitchen { background-position: -3px -363px; }
		&.bar { background-position: -3px -393px; }
		&.living { background-position: -3px -423px; }
		&.tv { background-position: -3px -453px; }
		&.fridge { background-position: -3px -483px; }
		&.microwave { background-position: -3px -513px; }
		&.washing { background-position: -3px -543px; }
		&.roomservice { background-position: -3px -573px; }
		&.safe { background-position: -3px -603px; }
		&.playground { background-position: -3px -633px; }
		&.conferenceroom { background-position: -3px -663px; }
		&:hover {
			&.internet { background-position: -33px -3px; }
			&.air { background-position: -33px -33px; }
			&.pool { background-position: -33px -63px; }
			&.childcare { background-position: -33px -93px; }
			&.fitness { background-position: -33px -123px; }
			&.breakfast { background-position: -33px -153px; }
			&.parking { background-position: -33px -183px; }
			&.pets { background-position: -33px -213px; }
			&.spa { background-position: -33px -243px; }
			&.hairdryer { background-position: -33px -273px; }
			&.garden { background-position: -33px -303px; }
			&.grill { background-position: -33px -333px; }
			&.kitchen { background-position: -33px -363px; }
			&.bar { background-position: -33px -393px; }
			&.living { background-position: -33px -423px; }
			&.tv { background-position: -33px -453px; }
			&.fridge { background-position: -33px -483px; }
			&.microwave { background-position: -33px -513px; }
			&.washing { background-position: -33px -543px; }
			&.roomservice { background-position: -33px -573px; }
			&.safe { background-position: -33px -603px; }
			&.playground { background-position: -33px -633px; }
			&.conferenceroom { background-position: -33px -663px; }
		}
	}// icon
}







/*
Defaults
---------------------------------------------------------------------------------------------------- */
html {
	background-color: $white;
	height: 100%;
}

body {
	background-color: $body-bg;
	font-family: $font-family-base;
	color: $text-color;
	min-height: 100%;
	font-size: 13px;
}

.mobile #container { margin-top: 20px; }
.mobile #container.page-home { margin-top: 0px; }
#container {
	min-height: 560px;
}

::-moz-selection { /* Code for Firefox */
    color: $white;
    background: $brand-primary;
}

::selection {
    color: $white;
    background: $brand-primary;
}


.tt-btn { @include tt-btn; }
.hl-block { @include hl-block; }
.hr-line { @include hr-line; }
.tt-btn-event-details { @include tt-btn-event-details; }
.tt-filter-btn { @include tt-filter-btn; }


/* Form 
--------------------------------------------- */
.tt-form label.control-label {
	font-weight: 300;
	margin-bottom: 5px;
	text-align: left;
}

.tt-form-control {
	-webkit-appearance: none;
	background: transparent;
	display: block;
	width: 100%;
	border: 2px solid #bdc3c7;
	border-radius: 5px;
	padding: 7px 13px;
}
textarea.tt-form-control {
	resize: vertical;
}
.tt-form-control.inline {
	display: inline-block;
}
.tt-form-control:focus {
	outline: none;
	border: 2px solid #1abc9c;
}

.tt-form .fixed-width label {
	width: 100px;
	padding-right: 0px;
}

.btn.selectpicker {
	border: 2px solid #bdc3c7;
}

.input-group.date .input-group-addon,
.input-daterange .input-group .input-group-addon {
	background: #fff;
	border: 0px;
	color: #999;
}

/* Custom Style of Checkbox and Raido */
.custom-radio-checkbox {
	label {
		font-weight: normal;
	    display: inline-block;  
	    cursor: pointer;  
	    position: relative;
	    padding-top: 7px; 
	}
	&.pr-20 {
		label { padding-right: 20px; }
	}
	input[type="checkbox"] {
		display:none;

		& + label {
			span {
			    display: inline-block;
			    width: 20px;
			    height: 20px;
			    margin: -1px 4px 0 0;
			    vertical-align: middle;
			    cursor: pointer;
			    background: url('#{$img}/custom-check-radio.png') left top no-repeat;
			    background-position: left top;
			 } // span
		} // label

		&:checked + label {
			color: #16a085;
			span {
				background-position: -30px top;
			 } // span
		} // label
	} // checkbox

	input[type="radio"] {
		display:none;

		& + label {
			span {
			    display: inline-block;
			    width: 20px;
			    height: 20px;
			    margin: -1px 4px 0 0;
			    vertical-align: middle;
			    cursor: pointer;
			    background: url('#{$img}/custom-check-radio.png') left top no-repeat;
			    background-position: -60px top;
			 } // span
		} // label

		&:checked + label {
			color: #16a085;
			span {
				background-position: -90px top;
			 } // span
		} // label
	} // radio

}
/* End Custom Styling Radio and Checkboxes */

.customSelect {
/* This is the default class that is used */
/* Put whatever custom styles you want here */
	background: url('#{$img}/select.png?#{$ver}') #fff no-repeat right;
	border: 2px solid #ebebeb;
}
.customSelect.customSelectHover {
/* Styles for when the select box is hovered */
}
.customSelect.customSelectOpen {
/* Styles for when the select box is open */
  background:url('#{$img}/select-over.png?#{$ver}') #fff no-repeat right;
  border-color: #1abc9c;
  outline: 0;
}
.customSelect.customSelectFocus {
/* Styles for when the select box is in focus */
}
.customSelectInner {
/* You can style the inner box too */

}	
/*.hasCustomSelect {background:#66afe9; color:white;}*/

.customSelect2 {
/* This is the default class that is used */
/* Put whatever custom styles you want here */
background:url('#{$img}/images/select-intro.png?#{$ver}') #e7e2e2 no-repeat right;
border:0px solid #fff;
color:#999;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.customSelect2.customSelect2Open {
/* Styles for when the select box is open */
  background:url('#{$img}/images/select-over.png?#{$ver}') #e7e2e2 no-repeat right;
  border:0px solid #72bf66;
  color:#999;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
		  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);	
}



/* Tables 
--------------------------------------------- */

.tt-table {
	width: 100%;
	max-width: 100%;
	&.h0 {
		td { padding-left: 0px; padding-right: 0px; }
	}
	td {
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: top;
		&.h0 { padding-left: 0px; padding-right: 0px;}
		&.dotted { border-top: 1px solid #999; }
	}
	
}

table {
	thead.bg-color-gray {
		tr {
			th {
				font-weight: $fw-semi-bold;
				background-color: #fafafa;
				border-bottom-width: 1px;
			}	
		}
	}
}




/*
Header
---------------------------------------------------------------------------------------------------- */

#header {
	// padding: 25px 0;
	background-color: $white;
	// margin: 0 0 20px;
	height: 60px;
	// margin-bottom: 30px;
	@include drop-shadow (0, 1px, 2px, 0.1);
	
	.navbar {
		background-color: $white;
		border: none;
		margin: 0px;

		.navbar-brand {
			color: #333;
			font-size: 21px;
			font-weight: $fw-extra-bold;
			text-transform: uppercase;
			height: auto;
			line-height: 60px;
			padding: 0px;
			margin: 0 160px 0 0;
			@include transition();

			.logo {
				@include transition();
				@include header-logo();
					margin-top: 5px;
			} // logo

		} // navbar-brand

		.navbar-toggle {
			border: none;
		}

		.navbar-collapse.in {
		}
	} // navbar


	.primary-links {
		// font-family: $lato;
		li {
			a {
				font-size: 16px;
				text-transform: uppercase;
				background-color: transparent;
				@include link-color($gray-light);
				padding: 0 7px 4px;
				margin: 18px 25px 0 0;
				font-weight: $fw-bold;
				&:link,
				&:visited {
					color: $new-link-color;
				}
				&:hover,
				&:active {
					color: $new-link-color-hover;
				}
			}

		&.active {
			a {
				color: #000;
				border-bottom: 4px solid $new-link-color-hover;
			}
		}

		} // li

	} // primary links


	.secondary-links {
		// font-family: $lato;
		font-size: $fs-base + 1;
		li {

			a {
				background-color: transparent;
				@include link-color($gray-light);
				padding: 0 0 2px;
				margin: 19px 30px 0 0;
				position: relative;
				&:after {
					content: "|";
					right: -15px;
					position: absolute;
				}
			} // li a

		&:last-child {
			a {
				margin-right: 0px;
			&:after {
				display: none;
			}
			}
		} // li:last-child

		&.active {
			a {
				font-weight: $fw-semi-bold;
				border-bottom: 3px solid $brand-secondary;
			}
		} // li.active

		} // li

	} // secondary links

} // header


.mobile {

	#header {
		// padding: 25px 0;
		background-color: $white;
		// margin: 0 0 20px;
		height: auto;
		@include drop-shadow (0, 1px, 2px, 0.1);
		
		.navbar {
			background-color: $white;
			border: none;
			margin: 0px;

			.navbar-brand {
				font-size: 15px;
				margin: 0 60px 0 15px;
				@include transition();

				.logo {
					@include transition();
					@include header-logo(40px, 40px);
						margin-top: 10px;
				} // logo

			} // navbar-brand

			.navbar-toggle {
				border: none;
			}

			.navbar-collapse.in {
			}
		} // navbar


		.primary-links {
			// font-family: $lato;
			li {
				a {
					font-size: 16px;
					text-transform: uppercase;
					background-color: transparent;
					@include link-color($gray-light);
					padding: 0 7px 4px;
					margin: 20px 0 0;
					font-weight: $fw-bold;
					&:link,
					&:visited {
						color: $new-link-color;
					}
					&:hover,
					&:active {
						color: $new-link-color-hover;
					}
				}

			&.active {
				a {
					color: #000;
					border-bottom: 4px solid $new-link-color-hover;
				}
			}

			} // li

		} // primary links


		.secondary-links {
			// font-family: $lato;
			font-size: $fs-base + 1;
			li {

				a {
					background-color: transparent;
					@include link-color($gray-light);
					padding: 0 0 2px;
					margin: 10px 30px 0px 7px;
					position: relative;
					&:after {
						content: "|";
						right: -15px;
						position: absolute;
					}
				} // li a

			&:last-child {
				a {
					margin-right: 0px;
				&:after {
					display: none;
				}
				}
			} // li:last-child

			&.active {
				a {
					font-weight: $fw-semi-bold;
					border-bottom: 3px solid $brand-secondary;
				}
			} // li.active

			} // li

		} // secondary links

	} // header

} // mobile


.sm {

	#header {
		
		.navbar {

			.navbar-brand {
				margin: 0 60px 0 0;
				@include transition();

			} // navbar-brand

		} // navbar

	} // header

} // sm




.ipad-portrait {

	#header {
		padding: 10px 0;
		
		.navbar {
			// background-color: $white;
			// border: none;
			// margin: 0px;
			
			.navbar-header {
				// margin-bottom: 15px;
			}

			.navbar-brand {
				font-size: $fs-base + 2;
				margin: 0 30px 0 0px;
				line-height: 40px;
				.logo {
					@include header-logo(40px, 40px);
				} // logo

			} // navbar-brand

			.navbar-toggle {
			}

			.navbar-collapse.in {
			}
		} // navbar


		.primary-links,
		.secondary-links {
			// font-family: $lato;
			font-size: $fs-base + 2;
			li {
				a {
					margin: 10px 20px 0 0;

				&:after {
					// display: none;
				}
				}

			&.active {
				a {
					// @include link-color($brand-secondary);
					// font-weight: $fw-normal;
					// border-bottom: 1px solid $gray-lighter;
				}
			}

			} // li

		} // primary links


	} // header

} // mobile


/* Breadcrumb
--------------------------------------------- */
.breadcrumb {
	background-color: transparent;
	font-size: $fs-base;
	font-weight: $fw-semi-bold;
  margin-top: 10px;
	margin-bottom: 0px;

	a {
		@include link-color($brand-secondary);
		@include no-hover-underline;
	} // a


} // breadcrumb

	
.brlines {
	height: 8px;
	width: 100%;
	margin: 10px 0 20px;
	background: url('#{$img}/breadcrumb.png');
}







/*
Footer
---------------------------------------------------------------------------------------------------- */

#footer {
	margin: 30px 0 0;
	padding: 35px 0;
	background: $white;
	text-align: center;
	@include drop-shadow (0, -1px, 2px, 0.1);

	.social-links {
		margin-bottom: 30px;

		a {
			margin-left: 15px;
		} // a

	} // social-links

	.links {

		a {
			margin: 0 15px;
			text-decoration: none;
			// font-family: $lato;
			font-weight: $fw-bold;
			font-size: $fs-base + 3;
			&:link,
			&:visited {
				color: $link-gray;
			}
			&:hover,
			&:active {
				color: $link-gray-hover;
			}
		} // a

	} // .links

	.copyright {
		font-size: $fs-base + 1;
		color: $gray-light;
		font-weight: $fw-normal;
	} // copyright
	
	.back-to-top {
		width: 37px;
		height: 37px;
		display: block;
		text-align: center;
		margin: 0 auto;

		img {
			width: 37px;
			height: 37px;
			display: block;
			background: url('#{$img}/sprite.png?#{$ver}') 0px -72px;
		} // img

	} // back-to-top

} // footer

.mobile {

	#footer {
		border-top: 2px solid $gray-lighter;
		.links {

			a {
				font-size: 14px;
				font-weight: 600;
				// display: block;
				margin: 0 11px 0px;
			} // a

		} // .links

	} // footer

} // mobile








/* Pages */


/*
Page Home
---------------------------------------------------------------------------------------------------- */
.page-home {
	background-color: $white;
	// margin-top: -20px;

	.search-container {
		margin-bottom: 20px;
		background: #dee1e3;
		height: 42px;
		padding-top: 6px;
		.form-group {
			width: 560px;
			margin: 0 auto;
		}
		.search-box {
			background-color: #fff;
			height: 30px;
			position: relative;
			border-width: 1px;
			padding: 5px 10px;
			font-size: 15px;
			border-radius: 3px;
		}
		.has-success .form-control-feedback {
			color: #1fbba6;
		}
	}// search-container

	.welcome-message-mobile {
		padding: 20px 30px;
		margin-bottom: 30px;
		color: #fff;
		background-image: url('#{$img}/home/slider/home-slider-mobile.jpg');
	}

	.fullscreen-slideshow {
		img {
			width: 100%;
			height: auto;
		}
	}// fullscreen-slideshow

	.special-events {
		margin: -178px auto 11px;
		position: relative;
		z-index: 200;
		width: 710px;

		.col {
			float: left;
			margin: 0 40px 0 0;
			&:last-child {
				margin-right: 0px;
			}
		}

		.img-wrap {
			overflow: hidden;
			img {
				width: 209px;
				height: 123px;
			}
		}

		.block {
			background-color: $brand-special;
			display: block;
			@include no-hover-underline;
			@include transition(0.5s);
			&:hover {
				background-color: darken($brand-special, 10%);
			}

			.detail {
				overflow: hidden;
				width: 209px;
				padding: 0 10px;
				height: 44px;
				text-transform: uppercase;

				.title {
					margin-bottom: 5px;
					font-size: 13px;
					color: #fff;
					overflow: hidden;
					height: 18px;
					white-space: nowrap;
				}

				.place {
					font-size: 11px;
					color: #fff;

					.arrow {
						float: right;
						padding: 4px 0px 0px 20px;

						img {
							width: 9px;
							height: 12px;
							display: block;
							background: url('#{$img}/arrow-right.png') no-repeat;
							background-size: contain;
						}

					}

					.date {
						float: right;
						color: $color-price;
					}

				}// place

			}// detail

		}// block

	}// special-events

	.home-events {

		.change-view {
			.btn-group {
				.btn {
					background-color: #f2f4f5;
					color: $gray;
					font-size: 15px;
					border-width: 2px;
					border-color: #bdc3c7;
					&.active {
						color: $white;
						background-color: #15262f;
					}
					&.btn-calender-cv { border-right-width: 0px; }
					&.btn-events-az { border-left-width: 0px; }

					i { margin-right: 10px; }
				}
			}
		}

		.selected-event-detail {
			margin-bottom: 30px;
			font-size: $fs-base + 5;

			.details {
				padding-bottom: 20px;
				border-bottom: 1px solid #ccc;
				margin-bottom: 20px;
			}

			.thumb {
				text-align: center;
				img {
					height: 160px;
					width: auto;
					margin: 0 auto;
				}
			}

			.title {
				text-transform: capitalize;
				font-size: 20px;
				font-family: $roboto-c;
				font-weight: $fw-bold;
				margin: 0 0 4px;
			}
			.sub-title {
				font-size: 18px;
				font-family: $roboto-c;
				color: #999;
				font-weight: $fw-light;
				text-transform: uppercase;
			}

			.sub-title-desc {
				font-size: 16px;
				font-family: $roboto-c;
				font-weight: $fw-bold;
			}
			.days-away {
				color: #f5545c;
				font-size: 14px;
				font-family: $roboto-c;
			}
			button {
				font-size: $fs-base + 9;
				font-weight: $fw-bold;
				padding-left: 0px;
				padding-right: 0px;
				text-align: center;
				text-transform: capitalize;
				// .lato;
			}

		}// selected-event-detail

	}


}// page-home


.mobile {

	.page-home {

		.search-container {
			.form-group {
				padding: 0 30px;
				max-width: 560px;
				width: auto;
				margin: 0 auto;
			}
			.search-box {
			}
			.has-success .form-control-feedback {
				right: 30px;
			}
		}// search-container

		.fullscreen-slideshow {
			img {
			}
		}// fullscreen-slideshow

		.special-events {
			margin: 0px auto 30px;
			position: relative;
			z-index: 200;
			width: 209px;

			.col {
				float: none;
				margin: 0 0 30px;
				&:last-child {
					margin-bottom: 0px;
				}
			}

			.slider-image {

				.block {
				
					.detail {
						width: 100%;

						.title {
							font-size: $fs-base + 2;
						}

						.place {
							font-size: $fs-base + 1;

							a {

								img {
								}

							}

							span {
							}

						}// place

					}// detail

				}// block
				
				&:last-child {
					.block {
						margin-bottom: 0px;
					}
				}

			}// slider-image

		}// special-events

	}// page-home

}// mobile

.ipad-portrait {
	.page-home {
		.welcome-message {
			.fs-56 { font-size: 48px;	}
			.fs-40 { font-size: 36px; }
		}
	}// .page-home 
}// ipad-portrait




.select-list {
	font-family: $roboto;
	font-size: 14px;
	font-weight: $fw-light;
	list-style: none;
	color: $gray-light;
	padding: 0px;
	a {
		@include link-color($gray-light);
	}

	.wrap {
	}

	span {
		padding: 5px 10px;
		cursor: pointer;
		display: block;
		.fa {
			display: none;
		}

	&.selected {
		color: #60cbb5;
		background-color: #f2f5f5;
		font-weight: $fw-bold;
		.fa {
			display: inline-block;
			margin-left: 5px;
			color: $brand-primary;
		}
	}
	}// span

	.date {
		color: #069;
		font-weight: 400;
		border-bottom: 1px solid $border-gray;
		margin-bottom: 5px;
	}// date

}// select-list

.mobile {
	.select-list {
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
		margin-bottom: 15px;

		 .wrap.selected {
			background-color: #f3f3f3;
		}

	}// select-list

}// mobile

.events-cv {
	display: none;

	.wrap {
		margin-bottom: 15px;
	}
}
/*.events-az { display: none; }*/















/*
Page Event
---------------------------------------------------------------------------------------------------- */

.event-detail {

	.event-header {
		min-height: 20px;
		padding: 20px 15px 15px;
		margin: 4px 4px 15px;
		background-color: lighten($gray, 64%);
		font-weight: $fw-light;
		font-size: $fs-base + 3;

		.title {
			color: $brand-secondary;
			font-size: $fs-base * 3 + 1;
			line-height: 50px;
			font-weight: $fw-extra-bold;
			padding-bottom: 15px;
		}

		.event-block {
			margin-bottom: 20px;
		}

		.sub-title {
			@include sub-title-style1();
		}

		.hl-text { // day months gray box
			color: $gray-light;
			font-size: $fs-base + 5;
			font-weight: $fw-semi-bold;
		}

	} // event-header

	.description-wrap {
		font-size: $fs-base + 3;
		color: $gray;
		margin-bottom: 25px;
		padding: 0 20px;

		&:after {
			content: "";
			height: 1px;
			border-bottom: 5px solid $border-gray;
			width: 100%;
			display: block;
			margin-top: 15px;
		}

	} // description-wrap


	.hotels-wrap {
		padding: 0 20px 20px;
	}

	.filter {
		border-bottom: 1px solid $border-gray;
		padding-bottom: 15px;
		margin-bottom: 25px;

		button {
			margin-right: 10px;
			@include tt-filter-btn();
		}

		.sort-by {
			margin-left: 30px;
		}

	} // filter 


	.hotel {
		border: 1px solid $border-gray;
		margin-left: 0px;
		margin-bottom: 20px;

	&.selected {
		background-color: lighten($gray, 65%);
		border: 0px;
	}

		.image {
			padding: 0px;
		}

		.detail {
			padding: 15px;
      .title-link {
        float: left;
        width: 270px;
      }
			.hotel-rating {
        float: right;
        margin-top: 6px;
				@include star-rating();
			}
		}

		.title {
			margin-bottom: 15px;
		}

		.description {
			color: $gray-light;
			margin-bottom: 15px;
		}

		.miles {
			font-weight: $fw-semi-bold;
			margin-bottom: 10px;
		}

		.night-price {
			
			.price {
				font-size: $fs-base + 9;
			}

		}

	} // hotel

	.hotels-map {
		// margin-top: -50px;
	}


} // event-detail

#map-canvas,
#map_canvas {
	width: 100% !important;
}

.mobile {

	.event-header {
		padding: 15px;
		margin: 0px;
		margin-bottom: 0px;
		background-color: transparent;
	}

	.description-wrap {
		padding: 15px;
	}

		.event-header .title {
			font-size: 34px;
			margin-bottom: 10px;
		}

	.event-detail .filter {
		border-bottom: 0px;
	}

	.event-detail .hotel {
		margin-left: -10px;
		border: 0;
		border-bottom: 1px solid $border-gray;
	}

	.event-detail .hotel .detail {
		padding-top: 0px;
	}
		.event-detail .hotel .title { margin-bottom: 5px; }
		.event-detail .hotel .description { margin-bottom: 5px; }
		.event-detail .hotel .miles {
		    color: #666;
		    font-size: 15px;
		    margin-top: 10px;
		}
		.event-detail .night-price .price {
			font-size: 17px;
		}

}
















/*
Page Hotel
---------------------------------------------------------------------------------------------------- */

.page-hotel {

#carousel-wrapper {
	overflow: hidden;
}
.slider-loader {
	height: calc(100% - 50px);
  margin-top: 45px;
  width: calc(100% - 30px);
  background: #eee;
  position: absolute;
  z-index: 9999;
}
.slider-loader-status {
  width: 40px;
  height: 40px;
  background: url('#{$img}/home/slider/loader.gif') no-repeat center center;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
  margin-top: -20px;
  margin-left: -20px;
  -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
  animation: tp-rotateplane 1.2s infinite ease-in-out;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  position: absolute;
  left: 50%; /* centers the loading animation horizontally one the screen */
  top: 50%; /* centers the loading animation vertically one the screen */
  // margin: -32px 0 0 -32px; /* is width and height divided by two */
}

	.main-title {
		h1 {
			margin: 0px 0 20px;
			float: left;
			font-size: $fs-base + 11;
			font-weight: $fw-bold;
			color: $gray-dark;	
		}// h1

		.hotel-rating {
			@include star-rating();
			float: left;
			margin: 5px 0 0 20px;
		}// hotel-rating

	}// main-title

	.details-right {
		text-transform: uppercase;

		.view-another { //right title
			float: left;
		}

		.next-previous { //Pagination
			float: right;
		}

		.map { // hotel map top right 
			margin: 46px 0 20px;
			width: 100%;
			border: 1px solid $border-gray;
		}

		.data {
			font-size: $fs-base + 1;
			color: $gray-light;
		}
		
		.value {
			font-size: $fs-base + 3;
			color: $gray;
		}

		.reserve-now {
			margin: 40px 0;

			.tt-btn {
				padding-top: 16px;
				padding-bottom: 14px;
				font-size: $fs-base + 3;
				font-weight: $fw-semi-bold;
			}
		}


	}// details-right


	.reservation-details {
		padding-bottom: 40px;

		table {
			margin-top: 20px;
			border: 0px;
			border-bottom: 1px solid #ddd;

			td {
				font-size: $fs-base + 1;
			}

			.td1 {
				padding-left: 20px;
				border-right: 0px;

				input[type="radio"] + label {
					@extend .gray-dark;
					font-weight: $fw-semi-bold;

					span {
						margin-right: 30px;
					}
				}

				input[type="radio"]:checked + label {
					font-weight: $fw-bold;
				}
			}

			.td2 {
				padding-right: 40px;
				border-left: 0px;
				text-align: right;
			}

			.estimate {
				padding: 25px 0px 25px 70px;
				border: 0px;
			}

			.reserve {
				text-align: right;
				padding: 20px 0px 25px 0;
				border: 0px;
			}

		}// table		

	}// reservation-details

	.widget {
		position: relative;
		padding: 0px 30px 10px 55px;
		margin: 0 0 30px;

		h3 {
			color: $gray-dark;
			position: relative;
			.widget-icon {
				position: absolute;
				left: -35px;
				width: 25px;
				height: 25px;
				background-repeat: no-repeat;
				background-size: cover;
				&.icon-help { background-image: url('#{$img}/icon-phone.png'); }
				&.icon-hf { background-image: url('#{$img}/icon-hf.png'); }
			}
		}//h3

		ul {
			padding-left: 0px;
			// list-style: none;
			li {
				margin-bottom: 10px;
				position: relative;
				i {
					background-color: $brand-primary;
					@include rounded(3px);
					width: 6px;
					height: 6px;
					display: inline-block;
					margin-right: 7px;
					position: relative;
					bottom: 2px;
				}// i
			}// li
		}//ul

	}// widget

}// page-hotel



.mobile {

	.widget {
		padding: 0px 0px 0px 55px;

		.widget-icon {
			width: 21px;
			height: 21px;
			top: 2px;
		}

	} //widget

}//mobile




/*
Checkout
---------------------------------------------------------------------------------------------------- */

.step {
	.title {
		font-size: $fs-base + 3;
		font-weight: $fw-bold;
		padding: 0 0 15px;
		border-bottom: 1px solid #ddd;
		margin-bottom: 20px;
	}
	.gray-box {
		font-size: $fs-base + 3;
		background-color: #f9f9f9;
		padding: 10px;
		margin: 0 0 15px;
	}
	.nav-tabs {
		margin-bottom: 40px;

	}
	.offer {
		position: relative;
		padding: 15px 20px 15px 60px;
		background-color: #f9f9f9;
		margin: 0 0 15px;

		.check {
			position: absolute;
			left: 20px;
		} // check

		img {
			margin-right: 20px;
		} // img
	} // offer
} // step




/*
Contact Us
---------------------------------------------------------------------------------------------------- */

.page-contact-us {
	.tt-box {
		padding-bottom: 100px;
	}
	color: $gray-light;
	.map {
		margin: 1px;
	}//map
	h4 {
		font-weight: $fw-semi-bold;
		color: $gray;
	}
	.contact-form {
		padding: 0 40px;
		p {
			margin-bottom: 40px;
		}
		.form-group {
			margin-bottom: 25px;
		}
		.tt-form-control {
			background-color: #f5f5f5;
			border: 1px solid #f5f5f5;
			&:focus {
				background-color: #fcfcfc;
				border: 1px solid #ddd;
			}
		}
		.tt-btn {
			float: right;
		}
	}// contact-form

	.address {
		border-left: 1px solid $gray-lighter;
		padding: 0 60px;
		p {
			.hl {
				font-weight: $fw-semi-bold;
				color: $gray;
			}
			margin-bottom: 20px;
		}
	}// address
}//page-contact-us

.mobile {
	.page-contact-us {
		.tt-box {
			padding-bottom: 30px;
		}
		.map {
		}//map
		h4 {
		}
		.contact-form {
			padding: 0px;
			p {
			}
			.form-group {
			}
			.tt-form-control {
			}
			.tt-btn {
				float: none;
				display: block;
				width: 100%;
			}
		}// contact-form

		.address {
			border-left: 0;
			padding: 0px;
			p {
				.hl {
				}
			}
		}// address
	}//page-contact-us
}// mobile



.ipad-portrait {
	.page-contact-us {
		.tt-box {
			padding-bottom: 30px;
		}
		.contact-form {
			padding: 0px;
			.tt-btn {
				float: none;
				display: block;
				width: 100%;
			}
		}// contact-form

		.address {
			padding: 0 30px;
		}// address

	}//page-contact-us

}// ipad-portrait








/*
About Us
---------------------------------------------------------------------------------------------------- */

.about-us {
	.tt-box {
		padding: 0 80px 80px;
	}
	.person-block {
		width: 220px;
		text-align: center;
		margin: 90px auto 0;
		img {
			margin-bottom: 10px;
		}
		.name {
			font-size: $fs-base + 5;
			color: $gray-dark;
		}
		.description {
			margin-top: 40px;
		}
		.social {
			margin-top: 20px;
			a {
				@include link-color($gray-light);
				margin-right: 20px;
			}
		}
	}//person-block
}//about-us

.mobile {
	.about-us {
		.tt-box {
			padding: 0 20px 80px;
		}
		.person-block {
			text-align: center;
			margin-top: 90px;
		}//person-block
	}//about-us
}



.carousel-wrapper {
	position: relative;
	#pager {
		img {
			cursor: pointer;
			background: #fff;
			/*box-shadow: 0 2px 5px rgba(0,0,0,0.2);*/
			display: block;
			width: 115px;
			height: 80px;
			padding: 10px;
			margin: 10px;
			float: left;
			&:hover { background: #eff; }
			&.selected { background: #dff; }
		}
	}

		
	.btn-pager {
		width: 34px;
		height: 55px;
		/*background:#15262f;*/
		position: absolute;
		bottom: 45px;
		z-index: 100;
		border: 0;
		background: transparent;
		&.prev {
			float: left;
			left: -10px;
		}
		&.next {
			float: right;
			right: -10px;
		}

		img {
			width: 14px;
			height: 18px;
			display: block;
			background: url('#{$img}/sprite.png') -14px -36px;
			margin: 0px 0 0 4px;
		}

		&:hover.prev {
			img { background-position: -42px -36px; }
		}
		&.next { img { background-position: 0px -36px; margin:0px 0 0 2px; } }
		&:hover.next { img { background-position: -28px -36px; } }

			
	}// btn-pager

}// .carousel-wrapper


.mobile {
	.carousel-wrapper {
		#pager {
			img {
				width: 65px;
				height: 35px;
				padding: 0px;
				margin: 5px;
			}
		}

			
		.btn-pager {
			bottom: 70px;
		}// btn-pager

	}// .carousel-wrapper
}

.ipad-landscape {
		.carousel-wrapper {
		#pager {
			img {
				width: 95px;
				height: 75px;
			}
		}

			
		.btn-pager {
		}// btn-pager

	}// .carousel-wrapper
}






/*
Customer Sidebar
---------------------------------------------------------------------------------------------------- */
.sidebar-links {
	li {
		margin-bottom: 15px;
		padding-bottom: 3px;
		position: relative;
		border-bottom: 1px solid $border-gray;
		i {
			position: absolute;
			right: 0px;
			top: 3px;
			display: none;
			color: $gray;
		}

		&.active,
		&:hover {
			font-weight: $fw-semi-bold;
			i {
				display: block;
			}
		}
	}
}






/*
Page My Bookings
---------------------------------------------------------------------------------------------------- */

.my-bookings {
	position: relative;
	.actions {
		// position: absolute;
	}
}

.tp-bannertimer { display: none !important; }




/*
Page Checkout Quick CSS Fixes
---------------------------------------------------------------------------------------------------- */

.pt7 { padding-top: 7px; }
.test2 { padding-left: 17px; }
.required { color: red; }
.toggle-header { cursor: pointer; }
.nopad { padding: 0px; }
.pr0 { padding-right: 0px; }



/*
Page Waitlist
---------------------------------------------------------------------------------------------------- */


.tp-leftarrow.default,
.tp-rightarrow.default {	background: url('#{$img}/sprite.png?#{$ver}') 8px -232px }
.tp-leftarrow:hover,
.tp-rightarrow:hover { background-position: 8px -288px; }
.tp-rightarrow.default { transform: rotateY(180deg); }
