//
// Variables
// --------------------------------------------------

$img:					"../../img/frontend";
$base-url:				'http://localhost/frontend';
$ver:					'1.001'; //DDMMYYYY

/* Colors */

// 
// After Revision
// 
$new-link-color:					#8db6c5;
$new-link-color-hover:		#189aca;

$brand-primary:			#1fbba6;
.brand-primary			{ color: $brand-primary; }
$brand-secondary: 		#006699;
.brand-secondary		{ color: $brand-secondary; }

$gray-darker:           lighten(#000, 13.5%); // #222
$gray-dark:             lighten(#000, 20%);   // #333
$gray:                  lighten(#000, 33.5%); // #555
.gray 					{ color: $gray; }
$gray-light:            lighten(#000, 60%);   // #999
$gray-lighter:          lighten(#000, 93.5%); // #eee
$blue-light:			lighten($brand-secondary, 33.5%);
.blue-light				{ color: $blue-light; }
$white:					#fff;
.gray-dark 				{ color: $gray-dark; }
.gray-light 			{ color: $gray-light; }
$brand-special:			#15262f;
$border-gray:			lighten(#000, 80%); // ccc


.cblue 			{ color: #007cff; }
.cgray 			{ color: #999; }
.cgreen			{ color: #72bf66; }
.white 			{ color: #fff; }
.yellow 		{ color: #ffc100; }
.pink 			{ color: #fa8564; }
.purple 		{ color: #e0547f; }
.primary 		{ color: #1fbba6; }
.cyan 			{ color: #22beef; }
.blue 			{ color: #3468af; }
.darkblue 		{ color: #006699; }
.darkgreen 		{ color: #aec785; }
.bg-white 		{ background-color: #fff; }
.bg-yellow 		{ background-color: #ffc100; }
.bg-pink 		{ background-color: #fa8564; }
.bg-purple 		{ background-color: #e0547f; }
.bg-primary 	{ background-color: #1fbba6; }
.bg-cyan 		{ background-color: #22beef; }
.bg-blue 		{ background-color: #3468af; }
.bg-darkblue 	{ background-color: #003366; }
.bg-darkgreen 	{ background-color: #aec785; }
.bg-gray		{ background-color: #f9f9f9; }
.bg-primary-light { background-color: lighten($brand-primary, 55.5%); }
.bg-secondary-light { background-color: lighten($brand-secondary, 65.5%); }



// Setting Some Global Syles 
/* Background color for <body> */
$body-bg:				#f2f2f2;
/* Global text color on <body> */
$text-color:			lighten(#000, 13.5%); // 222

$color-price:			#72bf66; // Website price base Color
$color-required:		#ff5a00;
.cprice 				{ color: $color-price; }
.crequired				{ color: $color-required; } // Forms Required Field * Color

/* Global Text Link Color */
$link-color:			$brand-primary;
$link-secondary:		$brand-secondary;
$link-gray:				$gray-light;
/* Text Link hover color set via darken() function. */
$link-hover-color:		darken($link-color, 15%);
$link-secondary-hover:	darken($link-secondary, 15%);
$link-gray-hover:		darken($link-gray, 20%);


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$fs-base:							13px;
$font-family-base:		"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-base:   	400;
$roboto-c:						'Roboto Condensed', sans-serif;
.roboto-c 						{ font-family: $roboto-c; }
$roboto:							'Roboto', sans-serif;
.roboto 							{ font-family: $roboto; }
$roboto-slab:					'Roboto Slab', serif;
.roboto-slab 					{ font-family: $roboto-slab; }

$fw-light: 				300;
$fw-normal: 			400;
$fw-semi-bold: 			600;
$fw-bold: 				700;
$fw-extra-bold: 		900;


.fw-light { font-weight: $fw-light; }
.fw-normal { font-weight: $fw-normal; }
.fw-semi-bold { font-weight: $fw-semi-bold; }
.fw-bold { font-weight: $fw-bold; }
.fw-extra-bold { font-weight: $fw-extra-bold; }

.fs-12 { font-size: $fs-base - 1; }
.fs-13 { font-size: $fs-base; }
.fs-14 { font-size: $fs-base + 1; }
.fs-15 { font-size: $fs-base + 2; }
.fs-16 { font-size: $fs-base + 3; }
.fs-18 { font-size: $fs-base + 5; }
.fs-20 { font-size: $fs-base + 7; }
.fs-22 { font-size: $fs-base + 9; }
.fs-24 { font-size: $fs-base + 11; }
.fs-30 { font-size: $fs-base * 2 + 4; }
.fs-32 { font-size: $fs-base * 2 + 6; }
.fs-36 { font-size: $fs-base * 2 + 10; }
.fs-40 { font-size: $fs-base * 3 + 1; }
.fs-56 { font-size: $fs-base * 4 + 4; }


.mh400 { min-height: 400px; }

$margin-base:			5px;
$padding-base:			5px;



