
<?php 
    // Dès text 
    $des_txt = '';
    $multi_con = array(
		'team_id' => $team['id'],
		'parent_option_id' => 0,
		);
    $multi = DB::LimitQuery('team_multi', array(
            'condition' => $multi_con,
            'order' => 'ORDER BY id DESC',
    ));
    if(!empty($multi)){
        
        $prev_price = 0;
        $in = 0;
        foreach($multi as $m){
        
            if($prev_price != $m['team_price'] && $in != 0){
                $des_txt = 'D&#232;s';
                break;
            }
            $prev_price = $m['team_price'];
            $in++; 
        }
        
        
    }
    $show_promotion = FALSE;
    
    if(isset($INI['promotions'])){
         $start_time = strtotime($INI['promotions']['start_time']).' - ';
         $end_time = strtotime($INI['promotions']['end_time']). ' - ';
         
        if($start_time < $now && $end_time > $now){
            $show_promotion = TRUE;
        }
    }    
?>
<!--{if $session_notice=Session::Get('errorDetail',true)}-->
<div class="alert alert-danger" id="sysmsg-error">{$session_notice}</div> 
<!--{/if}-->

<!---########################################################Sunday Deals###################################################-->
<?php
if( $isSunday && !empty($isSunday) )
{
  include template_sub('content/content_home_sunday'); 
}
else{
?>
<!---########################################################//Sunday Deals###################################################-->


<div class="page-content" id="home-content">
<!--{if $show_promotion == TRUE}-->
<div class="container-fluid hot-deal">
	<div class="container">
		<div class="row">
			<div class="col-md-8 padding-left20">
				<div class="row deal-header text-uppercase">
					<h1 class="big-heading"> {$INI['promotions']['title']}</h1>
				</div>
				<div class="row hot-deal-img"> 
						<a href="{$INI['promotions']['link']}">
								<img src="{$INI['system']['wwwprefix']}/static/{$INI['promotions']['image']}" class="img-responsive product-img" alt="{$INI['promotions']['title']}">
						</a>
				</div>
			</div>
			<div class="col-md-4 padding-left20">
				<?php include template_sub('content/content_best_seller'); ?>
			</div>
		</div>				
	</div>
</div>
</div>
<!--{/if}--> 
<!--{if current_deal_day() && (!$show_promotion || isset($INI['promotions']['today_deals']) && $INI['promotions']['today_deals'] == 1 )}-->
<div class="container-fluid hot-deal">
	<div class="container">
		<div class="row">
			<div class="col-md-8 padding-right20">
				<div class="row deal-header text-uppercase">
					<h1 class="big-heading"> ${current_deal_day()}</h1>
				</div>
				<div class="row has-credit"><!-- Remove css class "has-credit" if there is no credit -->
					<a class="price-box text-center" href="<!--${echo ZTeam::GetTeamUrl($team)}-->">
					<?php $isCashBack=false; ?>
					<!--{if $team['is_cash_back_allowed']}-->
						<!--{if cashBackCredit($team)}-->
							<!--{if cashBackLeftTime($team)}-->
							<?php $isCashBack=true; ?>
							<div class="credit-back-sign">&nbsp;</div>
							<!--{/if}-->
						<!--{/if}-->
					<!--{/if}-->
					
						<p class="discount">{$des_txt} CHF <span class="big">${moneyit($team['team_price'], true)}</span></p>
						<!--  {if $isCashBack } -->
							<p class="original">${cashBackText($team['cb_amount'])}</p>
						<!--{else}-->
						
							<!--  {if $team['market_price'] == $team['team_price'] } -->
							<p class="original">Offre spéciale</p>
							<!--{else}-->
							<p class="original">au lieu de CHF ${moneyit($team['market_price'], true)}</p>
							<!-- {/if} --> 
						<!-- {/if} --> 	
					</a>
					<div class="deal-title">
						<h4>{$team['title']}</h4>
					</div>
				</div>
				<!--{if $lang=="en"}--> 
				<!--${$ititle = $one['title']}--> 
				<!--{elseif $lang =='fr'}--> 
				<!--${$ititle = $one['title_fr']}--> 
				<!--{/if}-->
				<div class="row hot-deal-img">
					<a href="<!--${echo ZTeam::GetTeamUrl($team)}-->" class="offer hidden-xs hidden-sm">Voir l'offre du jour</a>
					<a href="<!--${echo ZTeam::GetTeamUrl($team)}-->"><img src="<?php echo team_image($team['image']); ?>" class="img-responsive product-img" alt="{$team['title']}"></a>
				</div>
			</div><!-- Hot deal -->
			<div class="col-md-4 padding-left20" id="bestseller-block">
				<?php include template_sub('content/content_best_seller'); ?>
			</div><!-- Best seller -->
		</div>
		<!--
		<div class="row hidden-lg hidden-md">
			<div class="col-xs-6 col-xs-offset-3 m-price-box text-center">
				<p class="discount">D&#232;s CHF <span class="big">2999.-</span></p>
				<p class="original">au lieu de CHF 1729.-</p>
			</div>
		</div>
		<div class="row hidden-lg hidden-md">
			<div class="col-xs-12 m-findout text-center"> <a href="#">Découvrir tous les deals</a> </div>
		</div>
		-->
	</div>
</div>
<!--{/if}-->
<?php
}
?>
<div class="container-fluid home-deal">
	<div class="container">
		<div class="row deal-header text-uppercase text-center">
			<h1 class="big-heading">POUR TOUS LES BESOINS DE LA FAMILLE</h1>
		</div>
		<div class="row home-category">
			<div class="col-md-4 col-xs-12 category-avatar"> 
				<a href="/deals/maison"><img src="/static/images/topmaison.png" alt="Topmaison" class="category-img"></a>
				<div class="hidden-sm hidden-xs">
					<p>Pour une maison chaleureuse, pratique et agr&#233;able &#224; vivre<br><br></p>
					<a href="/deals/maison"><img src="/static/images/topmaison-avatar.png" class="img-responsive" alt="Responsive image"></a>
					<a href="/deals/maison" class="submit-01 hidden-sm hidden-xs">S'équiper!</a>
				</div>
				<!--${$cat_deal = $category_deals['Maison']}-->
				<!--{include content/content_responsive_home_deal_box}-->				
			</div>
			
			<div class="col-md-4 col-xs-12"> 
				<a href="/deals/gourmet"><img src="/static/images/topgourmet.png" alt="Topkgourmet" class="category-img"></a>
				<div class="hidden-sm hidden-xs">
					<p>Pour le délice des papilles, le plaisir de vivre des moments de simple convivialité<br><br></p>
					<a href="/deals/gourmet"><img src="/static/images/topgourmet-avatar.png" class="img-responsive" alt="Responsive image"></a>
					<a href="/deals/gourmet" class="submit-01 hidden-sm hidden-xs">Déguster!</a>
				</div>
				<!--${$cat_deal = $category_deals['Gourmet']}-->
				<!--{include content/content_responsive_home_deal_box}-->
				
			</div>
			<div class="col-md-4 col-xs-12"> 
				<a href="/deals/baby"><img src="/static/images/topbaby.png" alt="Topbaby" class="category-img"></a>
				<div class="hidden-sm hidden-xs">
					<p>Pour un &#233;veil au monde en douceur des tous petits et le confort des mamans durant leur grossesse </p>
					<a href="/deals/baby"><img src="/static/images/topbaby-avatar.png" class="img-responsive" alt="Responsive image"></a>
					<a href="/deals/baby" class="submit-01 hidden-sm hidden-xs">Dorloter!</a>
				</div>
				<!--${$cat_deal = $category_deals['Baby']}-->
				<!--{include content/content_responsive_home_deal_box}-->
				
			</div>
		</div>
		
		<div class="row home-category">
			<div class="col-md-4 col-xs-12"> 
				<a href="/deals/zen"><img src="/static/images/topzen.png" alt="Topzen" class="category-img"></a>
				<div class="hidden-sm hidden-xs">
					<p>Pour recharger ses batteries et 
					prendre soin de soi de la t&#234;te aux 
					pieds en toute z&#233;nitude</p>
					<a href="/deals/zen"><img src="/static/images/topzen-avatar.png" class="img-responsive" alt="Responsive image"></a>
					<a href="/deals/zen" class="submit-01 hidden-sm hidden-xs">Se relaxer!</a>
				</div>
				<!--${$cat_deal = $category_deals['Zen']}-->
				<!--{include content/content_responsive_home_deal_box}-->
				
			</div>
			<div class="col-md-4 col-xs-12">
				<a href="/deals/fun"><img src="/static/images/topfun.png" alt="Topfun" class="category-img"></a>
				<div class="hidden-sm hidden-xs">
					<p>Pour s'&#233;vader, s'amuser en famille et 
					d&#233;couvrir les nombreuses activit&#233;s 
					disponibles aux alentours</p>
					<a href="/deals/fun"><img src="/static/images/topfun-avatar.png" class="img-responsive" alt="Responsive image"></a>
					<a href="/deals/fun" class="submit-01 hidden-sm hidden-xs">S'amuser!</a>
				</div>
				<!--${$cat_deal = $category_deals['Fun']}-->
				<!--{include content/content_responsive_home_deal_box}-->
				
			</div>
			<div class="col-md-4 col-xs-12">
				<a href="/deals/kids"><img src="/static/images/topkids.png" alt="Topkids" class="category-img"></a>
				<div class="hidden-sm hidden-xs">
					<p>Pour le bonheur des enfants, l'am&#233;nagement de leur chambre et 
					des journ&#233;es riches d'activit&#233;s</p>
					<a href="/deals/kids"><img src="/static/images/topkids-avatar.png" class="img-responsive" alt="Responsive image"></a> 
					<a href="/deals/kids" class="submit-01 hidden-sm hidden-xs">Jouer!</a>
				</div>
				<!--${$cat_deal = $category_deals['Kids']}-->
				<!--{include content/content_responsive_home_deal_box}-->
				
				</div>
			</div>
		</div>
		<!--
			<div class="row">
				<div class="col-md-6 col-xs-6 deal-margin-right">
					<img src="/static/images/topanimaux.png" alt="topanimaux" class="category-img">
					<p>Pour que nos amis &#224; 4 pattes <br/>aient un nid douillet et tout ce qui <br/>leur faut pour se d&#233;fouler</p>
				</div>
				<div class="col-md-6  col-xs-6 category-avatar">
					<img src="/static/images/topanimaux-avatar.png" class="img-responsive" alt="Responsive image">
				</div>
			</div>
					
		
		
		-->
		<div class="row">
			<div class="col-sm-12 col-xs-12 subscription-form hidden-lg hidden-md">
				<div class="subscription-form-wrapper">
					<h2>Ne ratez aucune offre !</h2>
					<form action="/ajax/subscribe.php" name="newsletter-frm" id="m-subscription">
						<input type="hidden" name="action" value="subscribe" />
						<input type="text" name="fullname" id="fullname" placeholder="Votre nom">
						<input type="email" name="email" id="email" placeholder="Saisissez votre e-mail">
						<div class="subscription-button"><input type="button" onclick="mSubscribe();" class="submit-01" value="S'inscrire"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Blog--> 
<!--
	<div class="container blog">
		<h1 class="text-center big-heading text-uppercase blog-header">Topdeal Blog</h1>
		<div class="row blog-post">			
			<div class="col-md-5 col-sm-5 col-xs-12 blog-excerpt col-md-push-6 col-sm-push-5">
				<p class="blog-date">Lundi, 18 ao&#251;t 2014 </p>
				<p class="blog-title">Nullam id dolor id nibh uricies vehicula lipsum</p>
				<p class="blog-text hidden-sm hidden-xs">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12 blog-img col-md-pull-4 col-sm-pull-5">
				<img src="/static/images/blog-img1.png" class="img-responsive" alt="Responsive image">
			</div>
		</div>	
		<div class="row blog-post top50">			
			<div class="col-md-5 col-sm-5 col-xs-12 blog-excerpt col-md-push-6 col-sm-push-5">
				<p class="blog-date">Lundi, 18 ao&#251;t 2014 </p>
				<p class="blog-title">Nullam id dolor id nibh uricies vehicula lipsum</p>
				<p class="blog-text hidden-sm hidden-xs">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12 blog-img col-md-pull-4 col-sm-pull-5">
				<img src="/static/images/blog-img2.png" class="img-responsive" alt="Responsive image">
			</div>
		</div>
		<div class="row readmore hidden-xs hidden-sm">
			<a href="">Voir tous les articles</a>
		</div>
		<div class="row text-center m-readmore hidden-lg hidden-md">
			<a href="">Voir tous les articles</a>
		</div>
	</div>
	-->
</div>