<div id="primary">
	<h2 class="pages-title">Rejoignez l'équipe TopDeal.ch</h2>
	<div id="faqs">
		<!--{if $lang=="en"}-->
                {$page['value']}
                <!--{elseif $lang =='fr'}-->
                {$page['value_fr']}
                <!--{/if}-->	
	</div>
	<!-- #profiles -->		
</div>