<?php
    $ititle = $one['title'];
    $des_txt = '';
    $multi_con = array(
		'team_id' => $one['id'],
		'parent_option_id' => 0,
		);
    $multi = DB::LimitQuery('team_multi', array(
            'condition' => $multi_con,
            'order' => 'ORDER BY id DESC',
    ));
    if(!empty($multi)){
        
        $prev_price = 0;
        $in = 0;
        foreach($multi as $m){
        
            if($prev_price != $m['team_price'] && $in != 0){
                $des_txt = 'D&#232;s';
                break;
            }
            $prev_price = $m['team_price'];
            $in++; 
        }
        
        
    }
?>
<?php $isCashBack=false; ?>
<!--{if $one['is_cash_back_allowed']}-->
	<!--{if cashBackCredit($one)}-->
		<!--{if cashBackLeftTime($one)}-->
		<?php $isCashBack=true; ?>
		<!--{/if}-->
	<!--{/if}-->
<!--{/if}-->
<div class="deal-box <!--{if $isCashBack}-->has-credit<!--{/if}-->"><!-- Remove css class "has-credit" if there is no credit -->
                        <div class="title"><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->" data-toggle="tooltip" data-placement="top" title="{$ititle}">${trim(mb_strimwidth($ititle,0,86,'...'))}</a></div>
                        <div class="pix-frame"><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->"><img src="${team_image($one['image'], true)}" class="img-responsive" alt="{$ititle}"></a></div>
                        <!--{if $selector == 'archive'}--> 
                        <div class="price-box text-center">
                            <a href="<!--${echo ZTeam::GetTeamUrl($one)}-->">Voir l'offre</a>
                        </div>
                        <!--{else}--> 
                        <?php
                        $sold_out = false;
                         if($one['max_number'] > 0 && $one['now_number'] >= $one['max_number']){
                            $sold_out = true;
                         }
                         $progress_prcntage =  round(($one['max_number']-$one['now_number'])/$one['max_number'] * 100) ;
                         if( $sold_out == false &&  $progress_prcntage <= 10 ){
                         ?>
                          <div class="near-soldout">
                            Bientôt épuisé
                           </div>
                         <?php 
                         }
                         ?>												
                        <a class="price-box <?php if($sold_out){ ?> soldout<?php } ?> text-center" href="<!--${echo ZTeam::GetTeamUrl($one)}-->">
						
                        <?php if($sold_out){ ?>	
                            &#233;puis&#233;!
                        <?php }else{ 
                        ?>
                        <p class="discount">{$des_txt} CHF <span class="big">${moneyit($one['team_price'], true)}</span></p>
                       
					   <!--  {if $isCashBack } -->
							<div class="credit-back-sign">&nbsp;</div>
							<p class="original">${cashBackText($one['cb_amount'])}</p>
						<!--{else}-->
								<!--  {if $one['market_price'] == $one['team_price'] } --><p class="original">Offre spéciale</p><!--{else}--> <p class="original">au lieu de CHF${moneyit($one['market_price'], true)}</p><!--{/if}-->
						<!--{/if}-->		
                        <?php } ?>
                        </a>
                        <!--{/if}--> 
</div>	
