<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">ACHAT</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row checkout-step step02">
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-01 active">1. <small class="hidden-sm hidden-xs">Contrôle de ma commande</small></span> </div>
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-02 active">2. <small class="hidden-sm hidden-xs">Choix de la livraison et du paiement</small></span> </div>
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-03">3. <small class="hidden-sm hidden-xs">Paiement et conﬁrmation</small></span> </div>
			</div>
			<div class="col-md-5 col-sm-12 col-xs-12">
				<h2 class="the-title padt-20 padl-10">Résumé</h2>
				<table class="table table-checkout">
					<thead>
						<tr>
							<th>Article</th>
							<th width="20%" class="text-right">Prix <span>(CHF)</span></th>
							<th width="20%"></th>
						</tr>
					</thead>
					<tbody> 
                                            <!--${$coupon_deal = 0}-->
                                            <!--${$express_pickup_deal = 0}-->
                                            <!--${$delivery_deal = 0}-->
                                             <!--${$total_amount = 0}-->
                                            <!--{loop $order_items $index $one}-->
                                            <!--{if $one['delivery'] == 'coupon' }-->
                                                <!--${$coupon_deal = 1}-->
                                            <!--{/if}-->
                                            <!--{if $one['delivery'] == 'pickup' }-->
                                                <!--${$express_pickup_deal = 1}-->
                                            <!--{/if}-->
                                            <!--{if $one['delivery'] == 'express' }-->
                                                <!--${$delivery_deal = 1}-->
                                            <!--{/if}-->
                                            
                                            <!--${$title = $one['option_id'] ? $options[$one['option_id']]['title'] : $teams[$one['team_id']]['title']}-->
                                            <!--${$image = $one['option_id'] ? $options[$one['option_id']]['image'] : $teams[$one['team_id']]['image']}-->
                                            <!--${$total_amount += $one['quantity']*$one['price']}-->
                                            
                                            <!--begin a product in painer-->
                                            <tr class="item_class" id="row-{$one['id']}">
							<td><p>{$one['quantity']}x&nbsp;<!--{if $one['option_id'] && $options[$one['option_id']]['parent_option_id']}-->{$parent_options[$options[$one['option_id']]['parent_option_id']]['title']}<!--{else}-->{$teams[$one['team_id']]['title']}<!--{/if}--> (${ZTeam::DeliveryTypeDescription($one['delivery'])})</p>
 
                                                            <!--{if $one['option_id']}-->
                                                              <p>{$options[$one['option_id']]['title']}</p>
                                                            <!--{/if}-->
                                                        </td>
							<td class="text-right">${moneyit($one['quantity']*$one['price'])}</td>
							<td class="text-right"><!--<a class="delete-item" order_item_id="{$one['id']}" href="javascript:void(0);"><i class="delete-icon"></i></a>--></td>
						</tr>
                                            <!--{/loop}-->    
						
					</tbody>
					<tfoot>
						<tr>
							<td class="text-right">Total</td>
							<td class="text-right"><span id="order-total">${moneyit($total_amount)}</span></td>
							<td></td>
						</tr>
						<tr>
							<td class="text-right">Déduction de crédit: </td>
							<td class="text-right"> -<span id="order-credit">{$credit}</span></td>
							<td></td>
						</tr>
						<tr>
							<td class="text-right">Déduction de code promo: </td>
							<td class="text-right">-<span id="promo-total">{$order['card']}</span></td>
							<td></td>
						</tr>
						<tr>
							<td class="text-right">Frais d’envoi: </td>
                                                        <td class="text-right"><span id="order-fare">{$order['fare']}</span></td>
							<td></td>
						</tr>
						<tr>
							<th class="text-right">Total à payer : </th>
							<th class="text-right"> <span id="total-amount">{$charges}</span>.-</th>
							<td></td>
						</tr>
					</tfoot>
				</table>
				<div class="text-right"><a href="#" id="promo-btn" class="link-16">Vous avez un code promo</a></div>
				<div class="row promocode" style="display: none">
					<p><strong>Code promo</strong></p>
					<div class="col-md-8 col-xs-8"><input type="text" id="promocode" name="promocode"></div>
					<div class="col-md-4 col-xs-4" ><a class="add-address submit-02 pull-right" href="javascript:void();">Valider</a></div>
				</div>
				<script>
				 jQuery(document).ready(function($){
					
					$('.add-address').click(function(e){
						val = $('#promocode').val();
						var order_id = $("input[name='order_id']").val();
						var query = "id=" + order_id + "&action=cardcode&cid="+ val;
						$.getJSON("/ajax/order.php", query, function(data){
							   if ( ! data.error )
								{	

									var promoVal = parseInt(data.data.data[2].value);
									var totalVal  = parseInt($('#total-amount').text());
									
									var totalpromoval =  parseInt($('#promo-total').text());
									var new_total_promo = totalpromoval + promoVal;
									
									$('#promo-total').html( new_total_promo.toFixed(2) );
									var newTotal = totalVal - promoVal;
									if ( newTotal < 0 )
										newTotal = 0;
									$('#total-amount').html(newTotal);
                                                                        $('#total-amount-last').html(newTotal);
								}
								else
								{
									alert(data.data);
								}
								$('#promocode').val('');
						}, 'json');
						
					});
					
					$('.add-address-link').click(function(e){
						e.preventDefault();
						e.stopPropagation();
						$('#frmNewAddress').slideToggle();		
					});
					
					$('#promo-btn').click(function(e){
						e.preventDefault();
						$('.promocode').slideToggle(400,'swing');
					});
				 });
				</script>
			</div>
			
			<div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                            <?php 
                               // print_r($login_user);
                            ?>
                            <form method="post" id="frmCart" action="{$INI['system']['secure_wwwprefix']}/order/dopayment.php" class="form-01 profil-form padt-20 ">
					<h2 class="the-title">Adresse de facturation</h2>
					<p>*Champs obligatoires</p>
					<input type="hidden" name="gift_first_name" value="<?php if(isset($_GET['name'])){ echo $_GET['name'];  }?>" />
					<input type="hidden" name="gift_last_name" value="<?php if(isset($_GET['last_name'])){ echo $_GET['last_name'];  }?>" />
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="padr-10">
                                  <input type="text" id="billing_address_first_name" value="<?php echo $login_user['first_name'];  ?>" placeholder="*Nom" name="first_name" onfocusout="copyBillingAddress()" />
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="padl-10">
								<input type="text" id="billing_address_last_name" value="<?php echo $login_user['last_name']; ?>" placeholder="*Prénom" name="last_name" onfocusout="copyBillingAddress()" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
								<input type="text" id="billing_address_address" value="{$login_user['address']}" placeholder="Rue" name="address" onfocusout="copyBillingAddress()" />
						</div>
						<!--
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="padl-10">
								<input type="text" value="{$login_user['address_no']}" placeholder="N&deg;" name="address_no" />
							</div>
						</div>
						-->
					</div>
					<div class="row">
						<div class="col-md-12">
							<input type="text" id="billing_address_address2" value="{$login_user['address2']}" placeholder="Complément d'adresse" name="address2" onfocusout="copyBillingAddress()" />
						</div>
					
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="padr-10">
								<input type="text" id="billing_address_zipcode" value="{$login_user['zipcode']}" placeholder="*Code postal" name="zipcode" onfocusout="copyBillingAddress()" />
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="padl-10">
								<input type="text" id="billing_address_region" value="{$login_user['region']}" placeholder="*Ville" name="region" onfocusout="copyBillingAddress()" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="padr-10">
								<input type="text" id="billing_address_mobile" value="{$login_user['mobile']}" placeholder="*Tél/mobile" name="mobile" onfocusout="copyBillingAddress()" />
 							
							</div>
						</div>
					</div>
					<!--{if $delivery_deal == 1 }-->
                                        <hr />
                                        <h2 class="the-title">Adresse de livraison</h2>
					<p>*Champs obligatoires</p>
										<!--${
													$deliveyAddress = array();
													$deliveyAddress['first_name'] = "";
													$deliveyAddress['last_name'] = "";
													$deliveyAddress['address'] = "";
													$deliveyAddress['address2'] = "";
													$deliveyAddress['zipcode'] = "";
													$deliveyAddress['region'] = "";
													$deliveyAddress['mobile'] = "";
													
										}-->
										<!--{if !empty($addresses) }-->
                                       <!--${ $deliveyAddress	=	end($addresses)}--> 
									   <!--{/if}-->
          <div class="row">
            <div class="col-xs-12">
				
				<ul class="userAddresses list-unstyled address-list">
				 <li>
					<input type="radio" class="address" value="{$one['id']}" name="delivery_choice" id="dittoBillingAddress" onclick="getUserAddress()"/>
					<label for="address0">
						Adresse de livraison identique à celle de facturation
					</label>
				</li>
				<!--${$i = 0}-->
				<!--${$len = count($addresses)}-->
				<!--{loop $addresses $index $one}-->
					<li id="address-row{$one['id']}">
						<!--${$checkedradio = ''}-->
						<!--{if ($i == $len - 1)}-->
							<!--${$checkedradio = ' checked="checked" '}-->
						<!--{/if}-->
						<input type="radio" class="address" value="{$one['id']}" name="delivery_choice" onclick="getAddress()"/>
						<label for="address{$one['id']}">
							{$one['street']} {$one['region']} <a id="{$one['id']}" class="removeService" href="#_" onclick="removeBillingAddress(this);">Supprimer</a>
						</label>
					</li>
					<!--${$i++}-->
				 <!--{/loop}-->	
				</ul>
			  
            </div>
            <a href="#_" class="add-address-link pull-right" onclick="clearAddessForm();">AUTRE ADRESSE</a>
          </div>
		 
          <div id="frmNewAddress">
			 <div id="success_address" class="success-msg"></div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="padr-10">
					<input type="hidden" id="address_id"  name="id" value="{$deliveyAddress['id']}"/>
					<input type="text" value="{$deliveyAddress['first_name']}" placeholder="*Nom" name="delivery_first_name" id="first_name" />
			   </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="padl-10">
				  <input type="text" value="{$deliveyAddress['last_name']}" placeholder="*Prénom" name="delivery_last_name" id="last_name" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
				  <input type="text" value="{$deliveyAddress['street']}" placeholder="Rue" name="delivery_address" id="street" />
              </div>
              <!--
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="padl-10">
                  <input type="text" value="{$login_user['address_no']}" placeholder="N&deg;" name="delivery_address_no" />
                </div>
              </div>
              -->
            </div>
            <div class="row">
              <div class="col-md-12">
				<input type="text" value="{$deliveyAddress['address']}" placeholder="Complément d'adresse" name="delivery_address2" id="address" />
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="padr-10">
				  <input type="text" value="{$deliveyAddress['zipcode']}" placeholder="*Code postal" name="delivery_zipcode" id="zipcode" />
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="padl-10">
                  <input type="text" value="{$deliveyAddress['region']}" placeholder="*Ville" name="delivery_region" id="region" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="padr-10">
                  <input type="text" value="{$deliveyAddress['mobile_no']}" placeholder="*Tél/mobile" name="delivery_mobile" id="phone" />
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12" id="validerButton">
                <a href="#_" class="valid-btn pull-right" id="submit_address" onclick="saveDeliveryAddress()" >Valider</a>
              </div>
            </div>
          </div>  
                                        <!--{/if}-->
                                        <!--{if $express_pickup_deal == 1 }-->
                                        <hr />
					<h2 class="the-title">Adresse de retrait</h2>
					<p class="padt-20px">TopDeal <br />
						Rue du Centre 136 <br />
						(Z.I. Jordils B), <br />
						1025 St-Sulpice
					</p>
                                        <!--{/if}-->
                                        <!--{if $coupon_deal == 1}-->
                                        <h2 class="the-title">Coupon à imprimer</h2>
                                        <p class="padt-20px">Une fois la commande effectuée, <br />
                                            un bon sera disponible sur votre compte qui sera à transmettre au prestataire.
					</p>
                                        <!--{/if}-->
					<hr />
                                        <!--{if $charges > 0 }-->
					<h2 class="the-title">Mode de paiement</h2>
					<ul class="list-unstyled card-list">
				
                                            <!--{if $cc_alias}-->
						<li><input type="radio" name="paytype" value="cc_alias" /> 
                                                    <!--{if $cc_alias['method'] == 'VIS'}-->
                                                    <img src="/static/images/visa2.png" width="66" height="40" alt="" />
                                                    <!--{else}-->
                                                    <img src="/static/images/mastercard2.png" width="66" height="40" alt="" />
                                                    <!-- {/if} -->
                                                    Carte enregistrée {$cc_alias['cc_masked']}
                                                </li>
                                                <input type="hidden" name="cc_alias" value="0" />
                                            <!--{/if}-->      											
                                                <li><input type="radio" name="paytype" value="datatrans" onchange = "changeCardType('visa')" /> <img src="/static/images/visa_mc.png" width="66" height="40" alt="" /> Visa ou Mastercard</li>
												 <li><input type="radio" name="paytype" value="datatrans" onchange = "changeCardType('americanexpress')"  /> <img src="/static/images/amx.jpg" width="66" height="40" alt="" /> American Express</li>
						<!-- <li><input type="radio" name="paytype" value="mastercard" /> <img src="/static/images/mastercard2.png" width="66" height="40" alt="" /> Carte MasterCard</li> -->
						<li><input type="radio" name="paytype" value="post" /> <img src="/static/images/postfinance2.png" width="66" height="40" alt="" /> Postfinance Card</li>
						<!--<li><input type="radio" name="paytype" value="paypal" /> <img src="/static/images/paypal2.png" width="66" height="40" alt="" /> Paypal</li>-->
						<li><input type="radio" name="paytype" value="dtpaypal" /> <img src="/static/images/pap.png" width="66" height="40" alt="" /> Paypal</li>
					</ul>
					<hr />
                                        <!--{/if}-->
					<div class="row bottom-total">
						<div class="col-md-7 col-sm-7 col-xs-7 padt-20">
							Total à payer (CHF): 
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 text-right">
							<span id='total-amount-last'>{$charges}</span>.-
						</div>
					</div>
					 
					<div class="row line-height-31">
						<div class="col-md-12 text-left">
							<div class="checkbox-s31"><input type="checkbox" value="1" name="term" id="term"><label for="term"></label></div> J<span class="hidden-sm hidden-xs">'ai lu et j</span>'accepte les <a href="http://www.topdeal.ch/about/terms.php" target="_blank">conditions générales</a>
						</div>						
					</div>
					<div class="text-right">
						
							<a class="submit-02 back" href="/basket.php">Retour</a>
							<a class="submit-01" href="javascript:Continue();">Payer ma commande</a>
						
					</div>
                                        <input type="hidden" id="order_id" name="order_id" value="{$order['id']}" />
                                        <input type="hidden" name="card_type" value="visa"/>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Hot deal -->

    
    
    
<script type="text/javascript">
jQuery(document).ready(function($){
     
     $('.delete-item').on( "click", function() {
        order_item_id = $(this).attr('order_item_id');
        order_id = $("input[name='order_id']").val();
       // alert(order_item_id);
        //option_id = $(this).attr('option_id');
       order_item_price = $(this).parent().prev().text();
         data = {
                action: 'remove',
                order_item_id: order_item_id,
                order_id:order_id
         };
        
        console.log(data);
        
        url = "/team/checkout.php";
            
        $.post( url, data, function( response ) {
                 $('#row-'+order_item_id).remove();
                 console.log(response);
                 console.log(response.charges);
                 $('#total-amount').html(response.charges);
                  $('#order-credit').html(response.credit_last);
                  $('#order-fare').html(response.fare);
                  var order_total  = parseInt($('#order-total').text());
                  
                  update_total = order_total - parseInt(order_item_price);
                  console.log(update_total);
                   $('#order-total').html(update_total);
                  
                 
                if($('.item_class').length == 0){
                    //alert('hello baba');
                     window.location.href = '/index.php';
                 }
            }, "json");
    });
 });
		function addValidateClass(input,message,type){
			if(type == 1) {
				input.removeClass('error');
				input.attr('placeholder', message);
			}else{
				input.addClass('error');
				input.attr('placeholder', message);				
			}
		}
		function isShipping(){
	var i = 0;
	if($("input:radio[value=express], input:radio[value=pickup]").length > 0) {
		var len = $("tr.shippings:visible input:radio[value=express], tr.shippings:visible input:radio[value=pickup]").length;
		$("tr.shippings:visible input:radio[value=express],tr.shippings:visible input:radio[value=pickup]").each(function(){		
			if($(this).is(":checked")) {
				i++;
			}		
		});
		if(i < (len/2)) 
			return false;
	}
	return true;
}
        function Continue(){
            
                $(window).off("beforeunload");
                
			var message = "Ce champ est obligatoire";
            var first_name = $('#frmCart input[name=first_name]');
            var last_name = $('#frmCart input[name=last_name]');
            
            var address2 = $('#frmCart input[name=address2]');
            var address_no = $('#frmCart input[name=address_no]');
           // var email = $('#frmCart input[name=email]');
            var mobile = $('#frmCart input[name=mobile]');
            var address = $('#frmCart input[name=address]');
            var zipcode = $('#frmCart input[name=zipcode]');
			var region = $('#frmCart input[name=region]');
			var flag = 0;
			
			// call validation when delivery form is not hidden
			if(!$('#frmNewAddress').is(':hidden'))
			{ 
				flag = validateDeliveryAddressFields();   
			}
			else
			{
				// when delivery form is hidden
			  if($('#frmNewAddress').is(':hidden'))
			  { 
				  if($('input[name=delivery_choice]:checked').length<=0)
					{
					    alert("Veuillez choisir adresse de livraison");
						return ;
					}
				 
			  }
			}
			
			if(first_name.val() == '') {
				addValidateClass(first_name, "Nom", 0);
                                
				flag++;
			} else{
				addValidateClass(first_name, "Nom", 1);
			}
			if(last_name.val() == '') {
				addValidateClass(last_name, "Prénom", 0);
				flag++;
			} else{
				addValidateClass(last_name, "Prénom", 1);				
			}/*
			if(email.val() == '') {
				addValidateClass(email, message, 0);
				flag++;
			} else{
				addValidateClass(email, "Email", 1);				
			}*/
			if(mobile.val() == '') {
				addValidateClass(mobile, "Tél/mobile", 0);
				flag++;
			} else{
				addValidateClass(mobile, "Numéro de portable", 1);				
			}
			if(address.val() == '') {
				addValidateClass(address, "Rue", 0);
				flag++;
			} else{
				addValidateClass(address, "Adresse 1", 1);				
			}
                        
            if(address_no.val() == '') {
				addValidateClass(address_no, "N°", 0);
				flag++;
			} else{
				addValidateClass(address_no, "Adresse 1", 1);				
			}
                        
                        
			if(zipcode.val() == '') {
				addValidateClass(zipcode, "Code postal", 0);
				flag++;
			} else{
				addValidateClass(zipcode, "Code postal", 1);				
			}
            if( zipcode.val().length != 4) {
				addValidateClass(zipcode, 'doit être de 4 caractères', 0);
				flag++;
			} else{
				addValidateClass(zipcode, "Code postal", 1);				
			}
			if(region.val() == '') {
				addValidateClass(region, "Ville", 0);
				flag++;
			}else{
				addValidateClass(region, "Ville", 1);				
			}/*
			if(email.val() != '') {
				var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
				if(reg.test(email.val()) == false) {
				   email.val('');
			       addValidateClass(email, 'Adresse email invalide', 0);
				   flag++;
				}				
			}*/
			if(flag > 0){                
                $('#warning').modal({"backdrop" : "static"});
				$('#warning').on('hidden.bs.modal', function(event){
					$('html,body').animate({scrollTop: $('.error:first').offset().top}, 800, function(){
						$('.error:first').focus();
					})					
				});
				
				return ;
                            }	
			if(!isShipping()){
				alert("Veuillez choisir une méthode de livraison concernant les articles concernés ci-dessus");
				return ;
			}
			
			if(($('input[name=paytype]').size() > 0) && !$('input[name=paytype]').is(":checked")){
				alert("Veuillez sélectionner un mode de paiement");
				return ;
			}
			
			if(!$('#term').is(":checked")){
				alert("Merci de lire et d'accepter les conditions générales de vente");
				return;
			}
			
			var pay_method = $('#frmCart input:radio[name=paytype]:checked').val();
			<!--{if $cc_alias}-->
		//	var pay_method = $('#frmCart input:radio[name=paytype]:checked').val();
			
			if ( pay_method == "cc_alias" )	{
				var top = $(window).height()/2 - 127 + $(window).scrollTop();
				$('#checkout-password').parent().show();
				$('#checkout-password').parent().children().hide();
				if(isMobile()){
					$('#checkout-password').css({
						'top': (top - 80) + 'px',
						'width': '90%',
						'height': 'auto',
						'margin-left':"-45%"
					}).fadeIn(400);
				}else{
					$('#checkout-password').css({
						'top': top + 'px',
						'width': '526px',
						//'height': '254px',
						'left': '50%',
						'margin-left': '-278px'
					}).fadeIn(400);
				}
					return;
				
			}
			
			$('#frmCart input[name=cc_alias]').val('0');
			<!--{/if}-->
			
			if ( pay_method == "mastercard" )
			{
				$('#frmCart input:radio[name=paytype]:checked').val("datatrans");
				$('#frmCart input[name=card_type]').val('mastercard');
			}
			
			$('#frmCart input').removeClass('error-input');
			getDeliveryAddress();
			//save address on continue when dittoBillingAddress is not selected
			var dittoBillingAddress = $('#dittoBillingAddress').is(':checked'); 
			if(!dittoBillingAddress)
			{
				saveDeliveryAddress();
			}
			
			$('#frmCart').submit();
        }
		function getDeliveryAddress(){
			if($('.edit-item-address:visible').length > 0){
				$('.edit-item-address:visible input').each(function(){
					$('#frmCart').append('<input type="hidden" name="' + $(this).attr('name').replace('tmp_','delivery_') + '" value="' + $(this).val() + '"/>');					
				});
			} else{
				$('.profiles-left input[type=text]').each(function(){
					$('#frmCart').append('<input type="hidden" name="delivery_' + $(this).attr('name') + '" value="' + $(this).val() + '"/>');					
				});
			}
		}
        </script>



<div id="popOverlay" style="display:none">
	<!-- Add new address-->
	<div class="profil-warnings6 add-address-form">
		<form name="add-address" action="{$INI['system']['wwwprefix']}/ajax/user.php">
		<div class="warnings-content">
			<h4>Création d’adresse</h4>
			<div class="edit-item-address">
									<input type="text" value="Donnez un nom à cette adresse" name="address_name" class="set-address-input">
									<input type="text" value="Prénom" name="first_name">
									<input type="text" value="Nom" name="last_name">
									<p><input type="text" value="Adresse 1" name="address[]">
									<a class="add-address" href="#"><span>Add</span></a></p>
									<input type="text" value="CP" name="zipcode" class="wth-40">
									<input type="text" value="Ville" name="region" class="wth-195 mrgl-16">
								</div>
	<div class="warnings-bottom">
	<div class="send-btn"><a href="#" onclick="saveAddress(this,'addaddress')">Sauver</a></div>
	<a href="#" class="cancel-link">ANNULER</a>
	</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
		</form>
	</div>
	
	<!-- Checkout page alias topdeal password -->
	<div id="checkout-password" class="popup">
		<div class="popup-title clearfix">			
			<a id="popup-close" href="javascript:closepopup();">Close</a>
		</div>
		<div class="popup-content">
		<form name="chkPasswd" class="checkpassword_form" action="{$INI['system']['wwwprefix']}/ajax/user.php" method="post">
			<p>Pour des raisons de sécurité veuillez entrer votre mot de passe TopDeal</p>
			<input name="email" type="hidden" value="{$login_user['email']}" />
                        <input style="color:#000;" type="password" placeholder="Mot de passe" name="password">
			<a href="javascript:closepopup();" class="popup-btn back">Retour</a>
			<a href="javascript:void(0);" id="saved_cc_payment_button" class="popup-btn">Valider mon paiement</a>			
		</form>
		</div>
	</div>
	
	<!--Credit info-->
	<div class="apayer-payment credit-card">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par carte de crédit</h5>
				<img src="/static/images/visa2.jpg" width="58" height="37" alt="Virement bancaire">
				<p>Nous acceptons les cartes Visa ou MasterCard. Il vous faut indiquer :</p><br/>
				<div>                
					<p>1. Le numéro de carte de crédit</p>
					<p>2. La date de validité</p>
					<p>3. Le cryptogramme visuel qui se trouve au dos de votre carte de crédit (3 ou 4 derniers chiffres)</p>
				</div>
                <br/>
				<p>Le paiement par carte de crédit est sûr. Vos données sont transférées en toute sécurité par le protocole SSL. Il se peut que l’organisme de paiement (Visa par exemple), vous demande des informations supplémentaires, comme par exemple votre mot de passe Visa ou un nombre de votre dernier relevé.</p>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
	<!--Postfinance info-->
	<div class="apayer-payment Postfinance">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par PostFinance</h5>
				<img src="/static/images/postfinance2.jpg" width="58" height="37" alt="Virement bancaire">
				<p>Avec PostFinance, vous pouvez choisir de payer soit avec votre compte e-finance, soit avec votre carte PostFinance. Vous pouvez choisir la méthode qui convient le mieux.</p>				
				<p></p>
                <p>En tant que méthode standard de PostFinance, le service e-finance vous permet d’effectuer vos achats sur Internet en toute sécurité. Si vous êtes client chez PostFinance, identifiez-vous avec votre numéro e-finance ainsi que votre mot de passe. Le montant de votre commande sera débité sans frais de votre compte PostFinance</p>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
	<!--Paypal info-->
	<div class="apayer-payment Paypal">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par Paypal</h5>
				<img src="/static/images/paypal2.jpg" width="58" height="37" alt="Virement bancaire">
				<p>En choisissant ce mode de paiement, vous serez automatiquement redirigé vers la page PayPal.</p><br/>
				<div>
					<p>1. Si vous avez déjà un compte PayPal, connectez-vous et confirmez le paiement.</p>
					<p>2. Si vous êtes nouveau, vous pouvez créer un compte PayPal.</p>
				</div>
				<br/>
				<p>La transaction par PayPal peut être simplifiée puisque vos données personnelles et les données de la carte de crédit sont déjà introduites</p>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>

	<!--Facture info-->
	<div class="apayer-payment Facture">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par facture à 14 jours (Swissbilling)</h5>
				<img src="/static/images/facture.jpg" width="58" height="37" alt="Virement bancaire">
				<p>Il s'agit du paiement sur facture en une ou plusieurs mensualités avec SwissBilling. Avec ce mode de paiement, vous devez indiquer uniquement votre adresse privée. Il n’est pas possible d’être livré à un autre endroit. Le montant maximum pour votre commande est de 500.- CHF. Il se peut que le paiement vous soit refusé si vous avez déménagé récemment ou pour d'autres raisons. N'hésitez pas à nous appeler au 021 691 30 00 en cas de question.</p>				
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
	<!-- Payment fail popup-->
	<div class="profil-warnings2 payes_error">
		<div class="warnings-content">
			<h4>Ooops. Un petit problème est survenu lors du payement de votre achat.</h4>
			<p class="min-height-127">Pas de panique! Tentons ensemble de trouver la solution et l’origine de l’erreur.<br>Appelez-nous au 021 691 30 00 ou envoyez-nous un<br>email à <a href="#">support@topdeal.ch.</a></p>
	<div class="warnings-bottom">
	<div class="account-deleted"><a href="#">Fermer</a></div>
	</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
	<!-- Payment successful popup-->
	<div class="profil-warnings6 payes_ok">
		<div class="warnings-content">
			<h4>Votre achat a été effectué avec succès!<br>Merci beaucoup de votre confiance.<br>Un email de confirmation a été envoyé à votre email <a href="#">mc@relaxintheair.com</a>.</h4>
			<div class="min-height-80 clearfix">
			<ul class="social-popup">
				<li><a href="#"><img src="/static/images/facebook-icon-03.png"></a></li>
				<li><a href="#"><img src="/static/images/twitter-icon-03.png"></a></li>
				<li><a href="#"><img src="/static/images/email-icon-03.png"></a></li>
			</ul>
			<p>Partagez votre achat et gagnez des crédits!</p>
			</div>
	<div class="warnings-bottom clearfix">
		<div class="send-btn"><a href="#">Fermer</a></div>
	</div>
		</div>
		<div class="close-btn"><span>close</span></div>
	</div>
</div>

<div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Attention</h4>
      </div>
      <div class="modal-body">
        <p>Veuillez remplir tous les champs obligatoires!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">	
// default form open when delivery address checked
		showFormWhenDeliverAddressChecked();

        jQuery(document).ready(function($){
            $('#saved_cc_payment_button').on( "click", function(e) {   
            
		e.preventDefault();
		var loginForm = $('#frmCart');
		var url = '<?php echo $INI['system']['wwwprefix']; ?>/ajax/validator.php';
		var email = $('.checkpassword_form input[name=email]');
		var pass = $('.checkpassword_form input[type=password]');
		var data = {
			'email': email.val(),
			'password': pass.val(),
			'n':'prelogin'
		}
		$.post(url, data, function(data){
			if(data.data == 100) {
				email.addClass('error-input');
				email.val('Utilisateur inconnu');
				pass.removeClass('error-input');
			}
			else if(data.data == 200) {
				//email.removeClass('error-input');
				pass.addClass('error');
				pass.attr('placeholder','Mot de passe erroné');
				pass.focus();
			}
			else if(data.error == 0) {
				pass.removeClass('error-input');
				$("input[name=cc_alias]").val(1);
				$("input[name=paytype]").val("datatrans");
				loginForm.submit();
			}
		}, 'json');
            });
         $('.delete-item').on( "click", function() {   
        });
	Array.prototype.max = function(comparer) {

		if (this.length === 0) return null;
		if (this.length === 1) return this[0];

		comparer = (comparer || Math.max);

		var v = this[0];
		for (var i = 1; i < this.length; i++) {
			v = comparer(this[i], v);    
		}

		return v;
	}
	
	var total = $('.total-paid .purchase-total h3');

	$('#purchase-list .shippings-option input[type=radio]').click(function(event){
		event.stopPropagation();
		hideShipping(this);
		var totalAmount = parseInt($('#total-amount').val());
		var type = $(this).val();		
		var fare = $(this).parents('.shippings').find('.purchase-total .shipping-fare');
		if(type == 'express') {
			fare.show();
		} else {
			fare.hide();
		}		
		var newTotal = totalAmount + getFees();
		var ep_total = parseInt($('input[name=fare-total]').val());
		if(ep_total > getFees()){		
			newTotal = totalAmount;
		}else{
			newTotal = totalAmount - ep_total + getFees();
		}		
		
		total.html(newTotal + "<span>CHF</span>");
	});
	function getFees(){
		if($('#purchase-list .fare-value:visible').length > 0){
			var feeArr = [];
			$('#purchase-list .fare-value:visible').each(function(){
				feeArr.push(parseInt($(this).text()));
			})
			return feeArr.max();
		}
		return 0;
	}
	/*
	var total = $('.total-paid .purchase-total h3');
	var totalAmount = parseInt(total.text().match(/\d+/)[0]);
	$('#purchase-list').on('click','.shippings-option input[type=radio]', function(){
		var type = $(this).val();
		var dealId = $(this).attr('deal_id');
		var fee = parseInt($(this).parents('.shippings').find('.purchase-total').text().match(/\d+/)[0]);
		var iDisplay = isFared(dealId);
		if(type == 'express') {
			var newTotal = totalAmount + fee;
			total.html(newTotal + "<span>CHF</span>");
			if (iDisplay <= 1)
				$(this).parents('.shippings').find('.purchase-total .shipping-fare').fadeIn();
		} else {
			if(iDisplay <= 0)
				total.html(totalAmount + "<span>CHF</span>");
			if(iDisplay == 1) 
				$('input:radio[value=express]:checked').parents('.shippings').find('.purchase-total .shipping-fare').fadeIn();
			$(this).parents('.shippings').find('.purchase-total .shipping-fare').fadeOut();
		}
	});
	*/
	 var timeleft = parseInt(${$order['create_time']+600 - time()});
	  function countdown(){
		if(timeleft <= 0) {			
			try{
				clearTimeout(timer);
				alert("Nous n'avons malheureusement pas pu réserver votre panier plus longtemps afin de ne pas bloquer ces quantités pour d'autres clients. Nous vous invitons donc à recommencer la procédure de commande.");
				$(window).off('beforeunload');
				top.location.href = "/index.php";
			} catch(e){
				alert("Nous n'avons malheureusement pas pu réserver votre panier plus longtemps afin de ne pas bloquer ces quantités pour d'autres clients. Nous vous invitons donc à recommencer la procédure de commande.");
				$(window).off('beforeunload');
				top.location.href = "/index.php";
			}			
			return;
		}
		timeleft--;
		var m = Math.floor(timeleft/60);
		var s = Math.round(timeleft%60);
		renderCountdown(m, s);
		timer = setTimeout(countdown,1000);
	  }
	  function renderCountdown(m, s){
		$(".basket-timer").html("<span>Votre panier est encore réservé:</span> " + m + "m " + s + "s");
	  }               
                 
	  
	  (function(){
		$(window).on('beforeunload', function() {
			if(/Firefox[\/\s](\d+)/.test(navigator.userAgent) && new Number(RegExp.$1) >= 4) {				
				/*if(confirm("Attention, en quittant cette page, votre commande sera perdue")) {
					history.go();
				} else {
					window.setTimeout(function() {
						window.stop();
					}, 1);
				}*/
			} else {
				///return "Attention, en quittant cette page, votre commande sera perdue";
			}			
		});
	  })()
	  
	  //countdown();
		$(document).ready(function(){
                	
	});
	$('.checkout-password').submit(function(){
		$('.checkout-password .send-btn a').trigger('click');
		return false;
	})
	// Set image card clickable
	$('.card-list').on('click','li', function(){
		$('.card-list input').removeAttr('checked');
		$(this).find('input').attr('checked', 'checked');
	});
})	  

function isFared(dealId){
	var i = 0;
	$("input:radio[deal_id=" + dealId + "]").each(function(){
		if($(this).val() == 'express') {
			if($(this).is(":checked")) {
				i++;
			}
		}
	});
	return i;
}
	  


function hideShipping(obj){
	var id = $(obj).attr('deal_id');	
	var inputSelector = 'input[deal_id='+ id +']';
	var val = $(obj).val();
	$(inputSelector).each(function(){		
		if($(this).val() == val) {		        
			$(this).attr('checked',true);
	    } else{
			$(this).attr('checked',false);
		}
	})
	$('tr[dealid="'+ id +'"]').not($(obj).parents('.shippings')).hide();
}

/////////////////////////////////////////////3 Step Buying Flow: Improvement in Billing/Shipping Address Selection/////////////////////////////////
function clearAddessForm()
{
	$('#address_id').val('0');  
	$('#address_name').val('');
	$('#first_name').val('');
	$('#last_name').val('');
	$('#street').val('');
	$('#address').val('');
	$('#zipcode').val('');
	$('#region').val('');
	$('#phone').val('');
	$("input:radio[name=delivery_choice]").removeAttr('checked');
	removeErrorClassFromDeliveryAddress();
	showHideValidateButton();
}

function getAddress()
{
	showForm();
	var id = $("input:radio[name=delivery_choice]:checked").val();
	
	url = "/account/address_change.php?action=edit&id="+id;
	$.get(url, function(response){
			user_address = response.data.data;
			//$('#address_name').val(user_address.address_name);
			$('#first_name').val(user_address.first_name);
			$('#last_name').val(user_address.last_name);
			$('#street').val(user_address.street);
			//$('#street_number').val(user_address.street_no);
			$('#address').val(user_address.address);
			$('#zipcode').val(user_address.zipcode);
			$('#region').val(user_address.region);
			$('#phone').val(user_address.mobile_no);
			$('#address_id').val(user_address.id);
			},'json');
	removeErrorClassFromDeliveryAddress();		
}

function saveDeliveryAddress()
{
<!--{if $delivery_deal }-->			
			var errorStatus =0;
			var firstName 	= $('#first_name').val();
			var lastName  	= $('#last_name').val();
			var address   	= $('#address').val();
			var addressName = $('#address_name').val();
			var street		= $('#street').val();
			//var streetNumber = $('#street_number').val();
			var zipcode   	= $('#zipcode').val();
			var region 	  	= $('#region').val();
			var mobile 	  	= $('#phone').val();
			var address_id 	= $('#address_id').val();
			
			var errorStatus = validateDeliveryAddressFields();
				
				
                if(errorStatus>0)
				{
					return;
				}
				
                var data = {
                        address_name:addressName,
                        first_name:firstName,
                        last_name:lastName,
                        street:street,
                        //street_number:streetNumber,
                        address:address,
                        zipcode:zipcode,
                        region:region,
                        mobile_no:mobile,
                        id:address_id
		};  
                //alert(address_id);
                if(address_id != 0){
                    url = "/account/address_change.php?action=edit_submit";
                }else{
                    url = "/account/address_change.php?action=add";
                }
                $.get(url, data, function(response){
                        
                        if(address_id == 0){
							user_address = response.data.data;
							
							$('#address_id').val(user_address.id);  
                            
							$('.userAddresses').append(
							'<li id="address-row'+user_address.id+'"><input type="radio" class="address" value="'+user_address.id+'" checked name="delivery_choice" onclick="getAddress()"/>&nbsp;<label for="address'+user_address.id+'">'+user_address.street+' '+user_address.region+'&nbsp;<a id="'+user_address.id+'" class="removeService" href="#_" onclick="removeBillingAddress(this);">Supprimer</a></label></li>');
                            $('#success_address').html('Address Added sucessfully');
							showHideValidateButton();
                            //$('#success_address').fadeIn();
                        }
                        else{
                            user_address = response.data.data;
                           // console.log(user_address);
                            $('#address-row'+user_address.id).html('<input type="radio" class="address" value="'+user_address.id+'" checked name="delivery_choice" onclick="getAddress()"/>&nbsp;<label for="address'+user_address.id+'">'+user_address.street+' '+user_address.region+'&nbsp;<a id="'+user_address.id+'" class="removeService" href="#_" onclick="removeBillingAddress(this);">Supprimer</a></label>');
                            $('#success_address').html('Address Changed sucessfully');
							showHideValidateButton();
                            //$('#success_address').fadeIn();
                        }
                },'json');
<!--{/if}-->				
}


function validateDeliveryAddressFields()
{
	var errorStatus =0; 
<!--{if $delivery_deal }-->				
	var firstName 	= $('#first_name').val();
	var lastName  	= $('#last_name').val();
	var address   	= $('#address').val();
	var addressName = $('#address_name').val();
	var street		= $('#street').val();
	//var streetNumber = $('#street_number').val();
	var zipcode   	= $('#zipcode').val();
	var region 	  	= $('#region').val();
	var mobile 	  	= $('#phone').val();
	var address_id 	= $('#address_id').val();
	
		if(firstName=='')
		{
			addValidateClass($('#first_name'),'*Nom',0);
			errorStatus++;
		}
		else
		{
			addValidateClass($('#first_name'),'*Nom',1);
			
		}
		
		//lastName
		if(lastName=='')
		{
			addValidateClass($('#last_name'),'*Prénom',0);
			errorStatus++;
		}
		else
		{
			addValidateClass($('#last_name'),'*Prénom',1);
		}
		
		//zipcode
		if(zipcode=='')
		{
			addValidateClass($('#zipcode'),'*Code postal',0);
			errorStatus++;
		}
		else if (zipcode.length != 4) 
		{
			addValidateClass($('#zipcode'), 'doit être de 4 caractères', 0);
			errorStatus++;
		}
		else
		{
			addValidateClass($('#zipcode'),'*Code postal',1);
			
		}
		
		//region
		if(region=='')
		{
			addValidateClass($('#region'),'*Ville',0);
			errorStatus++;
		}
		else
		{
			addValidateClass($('#region'),'*Ville',1);
			
		}
		
		//mobile
		if(validInteger($('#phone').val()) == null)
		{
			addValidateClass($('#phone'),'*Tél/mobile',0);
			errorStatus++;
		}
		else
		{
			addValidateClass($('#phone'),'*Tél/mobile',1);
			
		}
<!--{/if}-->	
		return errorStatus;
}

function validInteger(theNumber)
{    
    return theNumber.match(/^\d+$/) && parseInt(theNumber) > 0;
} 

function getUserAddress()
{
	hideForm();
	$('#address_id').val('0');  
	$('#address_name').val($('#address_name').val());
	$('#first_name').val($('#billing_address_first_name').val());
	$('#last_name').val($('#billing_address_last_name').val());
	$('#street').val($('#billing_address_address').val());
	$('#address').val($('#billing_address_address2').val());
	$('#zipcode').val($('#billing_address_zipcode').val());
	$('#region').val($('#billing_address_region').val());
	$('#phone').val($('#billing_address_mobile').val());
	removeErrorClassFromDeliveryAddress();

}

function removeErrorClassFromDeliveryAddress()
{
	$('#first_name').removeClass('error');
	$('#last_name').removeClass('error');
	$('#zipcode').removeClass('error');
	$('#region').removeClass('error');
	$('#phone').removeClass('error');
	$('#success_address').html('');
}

function copyBillingAddress()
{
	
	var dittoBillingAddress = $('#dittoBillingAddress').is(':checked'); 
	if(dittoBillingAddress)
	{
		//copy billing address
		getUserAddress();
	}

}

function removeBillingAddress(obj)
{
		c = confirm('Are you sure to delete this address');
		if(c){
			id = obj.id;
			//if select id is equal to remove id then form is emapty
			var checkedId = $("input[name='delivery_choice']:checked").val();
			$('#address-row'+id).remove();
			url = "/account/address_change.php?action=delete&id="+id;
			$.get(url, function(){
				   
				  if(checkedId==id)
				  {
					 clearAddessForm();
				  }
				  $('#address-row'+id).remove();
			});
		}
}


function showForm()
{
	showHideValidateButton();
	$('#frmNewAddress').show();
}

function showHideValidateButton()
{
	var addressChecked = $("input:radio[name=delivery_choice]:checked").val();
	if(addressChecked)
	{
		$('#validerButton').hide();
	}
	else
	{
		$('#validerButton').show();
	}
}

function showFormWhenDeliverAddressChecked()
{
	var addressChecked = $("input:radio[name=delivery_choice]:checked").val();
	if(addressChecked)
	{
		var dittoBillingAddress = $('#dittoBillingAddress').is(':checked'); 
		if(!dittoBillingAddress)
		{
			showForm();
		}
	}
}

function hideForm()
{
	$('#frmNewAddress').hide();
}

function changeCardType(card_type)
{
	$('#frmCart input[name=card_type]').val(card_type);
}

/////////////////////////////////////////////3 Step Buying Flow: Improvement in Billing/Shipping Address Selection/////////////////////////////////	 
</script>