<div id="primary">
	<h2 class="pages-title">Concept</h2>
	<div id="faqs">
		<ul class="faqs-list">
			<li>
				<h4>Qu’est-ce que TopDeal?</h4>
			  <div class="faqs-content">
				  <p align="justify">Sur TopDeal.ch, nous proposons chaque jour une offre exclusive de service ou produit pour nos clients en Suisse Romande garantie au meilleur prix du marché. Vous trouverez plusieurs catégories d'offres dont du bien-être, des restaurants, des voyages, des offres pour la famille, du high tech, mode, etc. Chaque offre est limité en quantité, c'est pourquoi il est important de vérifier régulièrement le site :-)</p>
			    <p align="justify">&nbsp;</p>
			    <p align="justify">Nous sélectionnons nos prestataires avec soin afin d'assurer une qualité de service irréprochable. La satisfaction de nos clients est notre priorité, c'est pourquoi si une offre proposée sur TopDeal.ch ne répond pas aux critères de qualité, nous vous remboursons. Nous sommes à votre écoute et réagissons rapidement à vos demandes et questions.</p>
			    <p align="justify">&nbsp;</p>
			    <p align="justify"><a href="/index.php#register">Cliquez ici</a> pour créer un compte dès à présent afin de bénéficier des offres sur TopDeal.ch</p>
			    </div>
			  <br />
			</li>
			
		</ul>		
	</div>
	<!-- #profiles -->		
</div>