<div class="container-fluid">
		<div class="row deal-header text-uppercase text-center">			
			<h1 class="big-heading">MOT DE PASSE OUBLIÉ</h1>			
		</div>
	</div>
    <div class="container-fluid grey-block mrb-40">
		<div class="container">				
			<div class="sign-block">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<p>Veuillez saisir votre nouveau mot de passe et répéter la saisie</p>
						<form class="form-01 text-center" method="post" action="/account/reset_pass.php?code={$code}">
						<input type="hidden" name="code" value="{$code}" />	
                                                    <input type="password" placeholder="Nouveau mot de passe" name="password" />
							<input type="password" placeholder="Répétez nouveau mot de passe" name="password2" />
							<input type="submit" class="submit-01" value="Conﬁrmer" />
						</form>
					</div>
				</div>
			</div>
		</div>	
	</div><!-- Hot deal -->	
	