<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>
			<li class="current"><a href="/account/settings.php">Profil</a></li>
			<li><a href="/account/refer.php">Crédits</a></li>
			<li><a href="/order/index.php">Achats</a>
				<!--<ul>
					<li class="first-row"><a href="/order/index.php">Payés</a></li>
					 <li><a href="/order/index.php?s=unpay">A payes</a></li>
				</ul>-->
			</li>
			<li><a href="#">Bons</a>
                            <ul>
                                    <li class="first-row"><a href="/coupon/index.php">A échanger</a></li>
                                    <li><a href="/coupon/consume.php">Utilisés</a></li>
                                    <li><a href="/coupon/expire.php">Expirés</a></li>
                            </ul>
			</li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div id="profiles">
		<form action="/account/settings.php" method="post" name="profiles" enctype="multipart/form-data">
		<input type="hidden"  name="id" value="{$login_user_id}" />
		<div class="profiles-left">
			<div class="avatar-box">
                        <img src="${user_image($login_user['avatar'])}" width="126" height="126" />
			<!--{if $login_user['avatar'] == ''}-->
                        <div class="add-button"><a href="#">+</a></div>
                        <!--{else}-->
			<div class="delete-btn" onclick="deleteAvatar({$login_user['id']});"><span>Effacer cette photo</span></div>
			<!--{/if}-->
			
			</div>
		</div>
		<div class="profiles-right">
			
				<input type="file" id="upload_image" name="upload_image" style="display:none;"/>
				<table class="profile-info">
					<tr>
						<td colspan="2"><input type="text" value="<!--{if $login_user['first_name'] != ''}-->{$login_user['first_name']}<!--{else}-->Prénom<!--{/if}-->" name="first_name" placeholder="Prénom"/></td>
					</tr>
					<tr>
						<td colspan="2"><input type="text" value="<!--{if $login_user['first_name'] != ''}-->{$login_user['last_name']}<!--{else}-->Nom<!--{/if}-->" name="last_name" placeholder="Nom"/></td>
					</tr>
					<tr>
						<td colspan="2"><select name="gender">
							<option>Je suis ...</option>
							<option value="M" <!--{if $login_user['gender'] == 'M'}-->selected<!--{/if}-->>Un monsieur </option>
							<option value="F" <!--{if $login_user['gender'] == 'F'}-->selected<!--{/if}-->>Une madame</option>
							</select></td>
					</tr>
					<tr class="dates">
						<th>Né le</th>
						<td>
                                                    <input type="text" value="${date('j',$login_user['birth_day'])}" <!--{if $login_user['birth_day'] > 0 }-->disabled="disabled"<!--{/if}--> name="bd_day" class="wth-33" />
							<input type="text" value="${date('n',$login_user['birth_day'])}" <!--{if $login_user['birth_day'] > 0 }-->disabled="disabled"<!--{/if}--> name="bd_month" class="wth-33" />
							<input type="text" value="${date('y',$login_user['birth_day'])}" <!--{if $login_user['birth_day'] > 0 }-->disabled="disabled"<!--{/if}--> name="bd_year" class="wth-46" />
							&nbsp;&nbsp;<span>XX / XX / 19XX</span></td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td height="68"><p class="font-12">Votre anniversaire est une occasion que nous souhaitons<br /><b>fêter en vous offrant chaque année un bon de 10CHF.</b></p></td>
					</tr>
					<tr>
						<th>Nom d’utilisateur</th>
						<td><input type="text" value="{$login_user['username']}" name="username" /></td>
					</tr>
					<tr>
						<th>Email</th>
						<td><input type="text" value="{$login_user['email']}" name="email" /></td>
					</tr>
					<tr>
						<th>&nbsp;</th>
                                                <!--{if $isSubscribed }-->
							<!--${$sselect = 'checked="checked"'}-->
						<!--{else}-->
							<!--${$sselect = ''}-->
						<!--{/if}-->		
						<td><input type="checkbox" value="1" {$sselect} name="subscribe" />
							Recevoir la newsletter</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td>
						<div class="change-pass"><a href="javascript:doChangePass();">Changer le mot de passe</a></div>
						<table style="display:none;" id="change-pass-form">
							<tr>								
								<td><a class="cancel-btn" href="#">Annuler</a>
									<div class="confirm-btn"><a href="#">Confirmer</a></div></td>
							</tr>
							<tr>								
								<td><input type="password" placeholder="Nouveau mot de passe" name="password_txt" />
									<input type="password" placeholder="Confirmer mot de passe" name="confirm_password_txt" /></td>
							</tr>
						</table>
						</td>
					</tr>
					<tr>
						<td colspan="2"><h4>Informations de contact et de facturation</h4></td>
					</tr>
					<tr>
						<th>Numéro de téléphone</th>
						<td><input type="text" value="{$login_user['mobile']}" name="mobile" /></td>
					</tr>
					<tr>
						<th>Adresse 1</th>
						<td><input type="text" value="{$login_user['address']}" name="address" /></td>
					</tr>
					<tr>
						<th>Adresse 2</th>
						<td><input type="text" value="{$login_user['address2']}" name="address2" /></td>
					</tr>
					<tr>
						<th>Code postal</th>
						<td><input type="text" value="{$login_user['zipcode']}" name="zipcode" class="wth-120" /></td>
					</tr>
					<tr>
						<th>Ville</th>
						<td><input type="text" value="{$login_user['region']}" name="region" /></td>
					</tr>
					<tr>
						<td colspan="2"><h4>Adresses de livraison sauvegardées</h4></td>
					</tr>
                                        <!--{loop $addresses $index $one}-->
                                        <tr id="address-row{$one['id']}">
						<th>{$one['address_name']}</th>
						<td><div class="icon-box"> <div class="edit-btn"><span onclick="showAddressEditBox({$one['id']})">Edit</span></div> <div class="delete-btn" onclick="deleteAddress({$one['id']});"><span>Effacer cette adresse</span></div> </div></td>
					</tr>
                                        <!--{/loop}-->					
				</table>
				<div class="save-btn"><a href="#" onclick="profiles.submit()">Sauver les changements</a></div>
			
		</div>
		</form>
	</div>
	<!-- #profiles -->
	<div class="delete-account"><a href="#" onclick="showWarning('.profil-warnings2')">Effacer définitivement mon compte</a></div>        
</div>
<script type="text/javascript">
	function showWarning(infobox)
	{
		$('#popOverlay > div').hide();
		$('#popOverlay').show();
		$(infobox).fadeIn(100);
		return false;
	}
	function showAddressEditBox(address_id)
	{
		$('#popOverlay > div').hide();
		$("[id^=ua]").hide();
		$('#popOverlay').show();
		$('.profil-warnings6').fadeIn(100);
		$('#ua'+address_id).fadeIn(100);
		return false;
	}
	$(document).ready(function(){
		$('.change-pass').click(function(e){
			e.preventDefault();
			$(this).hide();
			$(this).fadeOut('slow', function(){
				$('#change-pass-form').slideDown('slow');
			});			
		});
		$('#change-pass-form .cancel-btn').click(function(e){
			e.preventDefault();
			$('#change-pass-form').slideUp('slow', function(){
				$('.change-pass').fadeIn('slow');
			});
			
		});
		$('.confirm-btn a').click(function(e){
			e.preventDefault();
			var pass = $('input[name=password_txt]');
			var cf_pass = $('input[name=confirm_password_txt]');
			var user_id = $('input[name=id]');
			if(pass.val() != cf_pass.val()) {
				cf_pass.attr('placeholder','Passworkd correspond pas');
				cf_pass.addClass('error-input');
				cf_pass.focus();
			}else{
				cf_pass.removeClass('error-input');
				var url = ROOT + '/ajax/user.php';
				var data = {
					action:'updatepassword',
					password: pass.val(),
					password2: cf_pass.val(),
					id: user_id.val()
				}
				$.post(url, data, function(){
					$('#change-pass-form .cancel-btn').trigger('click');
					pass.val('');
					cf_pass.val('');
				});
			}
		});
	});
</script>