<div class="container-fluid category sunday-deal">
		<div class="container deals deal-cat-list">
			<div class="row">
				<div class="col-xs-12">
					<div class="row deal-header text-uppercase text-center" style="background-color: #fff;">
						<h1 class="big-heading">{$INI['promotions']['title']}</h1>
					</div>
				</div>
			</div>
			
<!--{if (!$show_promotion || isset($INI['promotions']['today_deals']) && $INI['promotions']['today_deals'] == 1 )}-->			
		
			<div class="row">
			<?php 
					
$counter = 0;
if(!empty($teamArray))
{
					if(is_array($teamArray) && count($teamArray) >0)
					{
						foreach($teamArray as $teamData)
						{
							 if($counter==3)
							 {
							 ?>
			</div>
			<div class="row">
							 <?php
							 }
			?>

	<?php 
		$isCashBack=false; 
		$hasCreditClass= '';
	?>
	<!--{if $teamData['is_cash_back_allowed']}-->
		<!--{if cashBackCredit($teamData)}-->
			<!--{if cashBackLeftTime($teamData)}-->
			<?php 
				$hasCreditClass = 'has-credit';
				$isCashBack=true; 
			?>
			
			<!--{/if}-->
		<!--{/if}-->
	<!--{/if}-->			
							<div class="col-md-4 col-xs-12">
								<div class="text-center category-icon"><img src="/static/images/sunday_icon{$counter}.png"/></div>
								<div class="deal-box {$hasCreditClass}"><!-- Remove css class "has-credit" if there is no credit -->
									<div class="title">
										<a href="<?php echo ZTeam::GetTeamUrl($teamData);?>" data-toggle="tooltip" data-placement="top" title="" data-original-title="{$teamData['title']}">{$teamData['title']}</a></div>
									<div class="pix-frame">
										<a href="<?php echo ZTeam::GetTeamUrl($teamData);?>">
											<img src="<?php echo team_image($teamData['image']);?>" class="img-responsive" alt="{$teamData['title']}">
										</a>
									</div>
									<div class="near-soldout">Bientôt épuisé</div>
									<a class="price-box text-center" href="<?php echo ZTeam::GetTeamUrl($teamData);?>">
										
										<!--{if $isCashBack}-->
											<div class="credit-back-sign">&nbsp;</div>
										<!--{/if}-->
											
										<p class="discount">{$des_txt} CHF <span class="big">${moneyit($teamData['team_price'], true)}</span></p>
										<!--  {if $isCashBack } -->
										<p class="original">${cashBackText($teamData['cb_amount'])}</p>
										<!--{else}-->
									
										<!--  {if $teamData['market_price'] == $teamData['team_price'] } -->
										<p class="original">Offre spéciale</p>
										<!--{else}-->
										<p class="original">au lieu de CHF ${moneyit($teamData['market_price'], true)}</p>
										<!-- {/if} --> 
										<!-- {/if} -->
									</a>
								</div>	
							</div> 
							 
			<?php
							 $counter++;
						}
					}
}					
			?>
			</div>	
<!--{/if}-->
		</div>
	</div>
<div><br/></div>	