<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>
			<li><a href="/account/settings.php">Profil</a></li>
			<li><a href="/account/refer.php">Crédits</a></li>
			<li><a href="/order/index.php">Achats</a>
				<!--<ul>
					<li class="first-row"><a href="/order/index.php">Payés</a></li>
					 <li><a href="/order/index.php?s=unpay">A payes</a></li>
				</ul>-->
			</li>
			<li class="current"><a href="#">Bons</a>
                            <ul>
                                ${current_coupon_sub($selector)}
                            </ul>
			</li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div id="purchase-list">
		<table>
			<!--{loop $coupons $index $one}-->				
			<tr ${$index==1?'':'class="first-row"'}>
				<th colspan="5">					
                                        <!--{if $selector=='index'}-->
                                        <span class="payer-btn"><a href="/coupon/print.php?id={$one['id']}">${I('Print')}</a></span>
					<span class="payable-text">Valable jusqu’au <span>${date('d-m-Y', $one['expire_time'])}</span></span>
                                        <!--{elseif $selector == 'expire'}-->
                                        <span class="payable-text">Expiré le <span>${date('d-m-Y', $one['expire_time'])}</span></span>
                                        <!--{elseif $selector == 'consume'}-->
                                        <span class="payable-text"> Utilisé le <span>${date('d-m-Y', $one['consume_time'])}</span></span>                                       
                                        <!--{/if}-->
					<h4><!--{if $lang=="en"}-->
								<a href="/team.php?id={$one['team_id']}">{$teams[$one['team_id']]['title']}</a>
							<!--{elseif $lang =='fr'}-->
								<a href="/team.php?id={$one['team_id']}">{$teams[$one['team_id']]['title_fr']}</a>
							<!--{/if}--></h4>
				</th>
			</tr>
			<tr>
				<td class="purchase-product">
                                <a href="/team.php?id={$one['team_id']}"><img src="${team_image($teams[$one['team_id']]['image'], true)}" width="114" height="46" alt="{$teams[$one['team_id']]['title']}" /></a>
				</td>
<!--
				<td class="purchase-quantity">2x</td>
				<td class="purchase-price">110<span>CHF</span></td>
				<td class="purchase-total">220<span>CHF</span></td>
-->
				<td colspan="4" class="purchase-view"><a href="/order/view.php?oiid={$one['order_id']}">Voir le détail de l'achat</a></td>
			</tr>
	<!--{/loop}-->
			
		</table>
	</div>
	<!-- #purchase-list -->
	<div class="deals-list">
		<h2 class="section-title">Deals recommandés</h2>
                <!--{loop $recommended_deals $index $one}-->
		<!--{if $lang=="en"}-->
			<!--${$ititle = $one['title']}-->
			<!--{elseif $lang =='fr'}-->
			<!--${$ititle = $one['title_fr']}-->
		<!--{/if}-->
		<div class="deal-box">
			<div class="thumb-box"><img alt="{$ititle}" src="${team_image($one['image'], true)}" width="348px" height="141px">
				<?php if($one['max_number'] > 0 && $one['now_number'] >= $one['max_number']){ ?>
				<div class="sold-out">Sold out</div>
				<?php } ?>
				<div class="prices-box">${moneyit($one['team_price'])}<span>CHF</span></div>
				<div class="percent-box">${moneyit(round((100*($one['market_price'] - $one['team_price'])/$one['market_price'])))}<span>%</span></div>
				<div class="gift-box"> <a href="<!--${echo ZTeam::GetTeamUrl($one)}-->" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->" title="{$ititle}" class="label">${trim(mb_strimwidth($ititle,0,86,'...'))}</a></h3>
			<!--${$now = time()}-->
                        <!--${$diff_time = $left_time = $one['end_time']-$now}-->
                        <!--{if $one['team_type'] == 'seconds' && $one['begin_time'] >= $now}-->
                                <!--${$diff_time = $left_time = $one['begin_time']-$now}-->
                        <!--{/if}-->
                        <!--${$left_day = floor($diff_time/86400)}-->
                        <!--${$left_time = $left_time % 86400}-->
                        <!--${$left_hour = floor($left_time/3600)}-->
                        <!--${$left_time = $left_time % 3600}-->
                        <!--${$left_minute = floor($left_time/60)}-->
                        <!--${$left_time = $left_time % 60}-->
                        <!--{if $left_day>0}-->
                        <div class="timing-box">
				<ul>
					<li>
						<p><span>${I('Days')} </span>{$left_day}</p>
					</li>
					<li>
						<p><span>${I('Hours')} </span>{$left_hour}</p>
					</li>
					<li class="last-item">
						<p><span>${I('Minutes')}  </span>{$left_minute}</p>
					</li>
                                </ul>
			</div>
                        <!--{elseif $left_hour > 0}-->
                         <div class="timing-box less-one-day">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span>{$left_hour}</p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span>{$left_minute}</p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span>{$left_time}</p>
                                    </li>
				</ul>
			</div>
                        <!--{else}-->
                        <div class="timing-box less-one-hour">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span>{$left_hour}</p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span>{$left_minute}</p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span>{$left_time}</p>
                                    </li>
				</ul>
			</div>
                        <!--{/if}-->
		</div>
                 <!--{/loop}-->		
	</div>
	<!-- .deals-list -->
</div>
