<div id="primary" class="checkout-template">
    <form method="post" action="{$INI['system']['wwwprefix']}/order/dopayment.php" id="frmCart">
	<div class="basket-timer"><span>Votre panier est encore réservé:</span> 9m 36s</div>
    <h2 class="pages-title">Commander</h2>
	<div id="purchase-list" class="panier">
		<table>			
                        <!--{loop $order_items $index $one}-->
                        <!--${$title = $one['option_id'] ? $options[$one['option_id']]['title'] : $teams[$one['team_id']]['title']}-->
                        <!--${$image = $one['option_id'] ? $options[$one['option_id']]['image'] : $teams[$one['team_id']]['image']}-->
			<!--begin a product in painer-->
			<tr ${$index==0?'class="first-row"':''}>
				<th colspan="4"> <h4>{$teams[$one['team_id']]['title']} <span>(${ZTeam::DeliveryTypeDescription($teams[$one['team_id']]['delivery'])})</span></h4>
				</th>
			</tr>
                        <!--{if $one['option_id']}-->
                        <td colspan="4">{$options[$one['option_id']]['summary']}</td>
                        <!--{/if}-->
			<tr>
				<td class="purchase-product"><img src="${team_image($image, true)}" width="114" height="46" alt="{$title}" /></td>
				<td class="purchase-quantity">
				<!--
					<div class="edit-quantity">
						<div class="quantity-text">{$one['quantity']}</div>						
					</div>
				-->		
					{$one['quantity']}x</td>
				<td class="purchase-price">{$one['price']}<span>CHF</span></td>
				<td class="purchase-total">${moneyit($one['quantity']*$one['price'])}<span>CHF</span></td>
			</tr>
                        <!--{if $one['mode'] == 'gift'}-->
                        <!--{if $teams[$one['team_id']]['delivery'] == 'coupon'}-->
                        <tr class="panier-gift-box">
				<th colspan="4"> <div class="gift-box-left">
						<h4>Je souhaite offrir ce cadeau à:</h4>
						<p>Ce cadeau se présente sous la forme d’un bon à imprimer </p>
					</div>
					<div class="gift-box-right">
						<input type="text"  placeholder="Prénom" name="first_name_{$one['id']}" />
						<input type="text"  placeholder="Nom" name="last_name_{$one['id']}" />
					</div>
				</th>
			</tr>                        
                        <!--{else if $teams[$one['team_id']]['delivery'] == 'express'}-->
                        <tr class="panier-gift-box">
				<th colspan="4"> <div class="gift-box-left">
						<h4>Je souhaite offrir ce cadeau à:</h4>
						<p>Ce cadeau sera envoyé par courrier à cette adresse</p>
					</div>
					<div class="gift-box-right">
						<input type="text" value="Prénom" name="first_name_{$one['id']}" class="delivery-address-input" />
						<input type="text" value="Nom" name="last_name_{$one['id']}" />
						<input type="text" value="Adresse 1" name="address_{$one['id']}" />
						<input type="text" value="Adresse 1" name="address2_{$one['id']}" />
						<br />
						<input type="text" value="CP" name="zipcode_{$one['id']}" class="wth-40" />
						<input type="text" value="Ville" name="region_{$one['id']}" class="wth-195 mrgl-16" />
					</div>
				</th>
			</tr>
                        <!--{/if}-->
                        <!--{/if}-->
                        <!--{if $teams[$one['team_id']]['delivery'] == 'express_pickup'}-->
			<tr class="shippings" dealid="{$one['team_id']}">
				<th colspan="3"> <span class="label-text">Frais d’envoi:</span>
					<div class="shippings-option">
						<ul>
							<li>
								<div class="option-block">
									<input type="radio" name="delivery_option_{$one['id']}" value="express"  deal_id="{$one['team_id']}"/>
								</div>
								<p class="option-text">Envoyez-moi mon achat par courrier</p>
							</li>
							<li>
								<div class="option-block">
									<input type="radio" name="delivery_option_{$one['id']}" value="pickup"  deal_id="{$one['team_id']}"/>
								</div>
								<p class="option-text">Je viens chercher mon achat chez TopDeal<br />
									Rue du Centre 136<br />
									1025 St-Sulpice<br />
									Horaires: 9h - 12h / 14h - 18h</p>
							</li>
						</ul>
					</div>
				</th>
				<th class="purchase-total"><div class="shipping-fare" style="display:none;"><span class="fare-value" id="" style="font-size: 16px;">{$teams[$one['team_id']]['fare']}</span><span>CHF</span></div></th>
			</tr>
                        <!--{/if}-->
                        <!--{if $teams[$one['team_id']]['delivery'] == 'express' && $one['fare'] > 0}-->
			<tr class="shippings">
				<th colspan="3"> <span class="label-text">Frais d’envoi:</span>					
				</th>
				<th class="purchase-total">{$teams[$one['team_id']]['fare']}<span>CHF</span></th>
			</tr>
                        <!--{/if}-->
			<!--end a product in painer-->
			<!--{/loop}-->			
			<tr class="promo-code">
				<th colspan="3"><input type="text" value="Vous avez un Code Promo" name="promo_code_txt[]"/>
					<a href="#" class="add-address"><span>Add</span></a></th>
				<th class="purchase-total">0<span>CHF</span></th>
			</tr>
                        <!--{if $credit >0}-->
			<tr class="credit-deducted">
				<th colspan="3">Crédits déduits</th>
				<th class="purchase-total">-{$credit}<span>CHF</span></th>
			</tr>
                        <!--{/if}-->
			<tr class="total-paid">
				<th colspan="3"><h4>Total à payer:</h4></th>
				<th class="purchase-total"><h3>{$charges}<span>CHF</span></h3></th>
				<input id="total-amount" type="hidden" value="{$charges}"/>
				<input name="fare-total" type="hidden" value="{$order['fare']}"/>
			</tr>
			<tr><td colspan='4' style="color: #f04e1e;">Pour les commandes comprenant des frais de port, ceux-ci ne sont comptés qu'une seule fois pour l'ensemble des articles commandés (le montant le plus élevé est automatiquement calculé)</td></tr>
		</table> 
	</div>
	<!-- #purchase-list -->	
	<div id="profiles" class="content-panier">
		<div class="profiles-left">
		  <h4>Informations de contact et de facturation</h4>
			<table>
				<tr>
				  <td style="padding-bottom:0;"><p class="gudea-bold">Champs obligatoires avec une *</p></td>
			  </tr>
				<tr>
				  <td style="padding-bottom:0;">&nbsp;</td>
			  </tr>
				<tr>
				  <td style="padding-bottom:0;">*Prénom</td>
			  </tr>
				<tr>
					<td><input type="text" value="{$login_user['first_name']}" name="first_name" placeholder="Prénom"/></td>
				</tr>
				<tr>
				  <td style="padding-bottom:0;">*Nom</td>
			  </tr>
				<tr>
					<td><input type="text" value="{$login_user['last_name']}" name="last_name" placeholder="Nom"/></td>
				</tr>
				<tr>
				  <td style="padding-bottom:0;">*E-mail</td>
			  </tr>
				<tr>
					<td><input type="text" value="{$login_user['email']}" name="email" placeholder="Email"/></td>
				</tr>
				<tr>
				  <td style="padding-bottom:0;">*Numéro de mobile</td>
			  </tr>
				<tr>
					<td style="padding-bottom:0;"><input style="margin-bottom:0;" type="text" value="{$login_user['mobile']}" name="mobile" placeholder="Numéro de portable"/></td>
				</tr>
				<tr>
					<td><p class="font-12">En cas de problème, nous pourrons vous contacter</p></td>
				</tr>
				<tr>
				  <td style="padding-bottom:0;">*Adresse</td>
			  </tr>
				<tr>
					<td><input type="text" value="{$login_user['address']}" name="address" placeholder="Adresse 1"/></td>
				</tr>
				<tr>
					<td><input type="text" value="{$login_user['address2']}" name="adresse2" placeholder="Adresse 2"/></td>
				</tr>
				<tr>
				  <td style="padding-bottom:0;">*Code postal</td>
			  </tr>
				<tr>
					<td><input type="text" class="wth-120" name="zipcode" value="{$login_user['zipcode']}" placeholder="Code postal"/></td>
				</tr>
				<tr>
				  <td style="padding-bottom:0;">*Ville</td>
			  </tr>
				<tr>
					<td><input type="text" name="region" value="{$login_user['region']}" placeholder="Ville"/></td>
				</tr>
			</table>
		</div>
		<div class="profiles-right">
			<h4>Informations de livraison</h4>
			<table>
				<tr>
					<td><input type="checkbox" value="1" name="chk_delivery_address">
						<p class="mrgl-23">L’adresse de livraison est différente de l’adresse de facturation</p></td>
				</tr>
                                <tr>
                                    <td class="add-delivery-address"><p class="link-add-delivery"><a href="#" id="add_address">Ajouter une nouvelle adresse</a> ou utiliser une adresse sauvegardée:</p>
                                        <ul>
                                            <!--{loop $addresses $index $one}-->
                                            <li>
                                                <input type="radio" value="{$one['id']}" name="profile_address" />
                                                <label>{$one['address_name']}</label>
                                                <div class="edit-item-address">
                                                    <input type="text" value="{$one['first_name']}" name="tmp_first_name" class="delivery-address-input" />
                                                    <input type="text" value="{$one['last_name']}" name="tmp_last_name" />
                                                    <input type="text" value="{$one['address']}" name="tmp_address" />
                                                    <input type="text" value="{$one['address2']}" name="tmp_address2" />
                                                    <br />
                                                    <input type="text" value="{$one['zipcode']}" name="tmp_zipcode" class="wth-40" />
                                                    <input type="text" value="{$one['region']}" name="tmp_region" class="wth-195 mrgl-16" />
                                                    <p class="red-text">Votre achat sera envoyé à cette adresse</p>
                                                </div>
                                            </li>
                                            <!--{/loop}-->                                                
                                        </ul>
                                    </td>
				</tr>
			</table>
		</div>
	</div>
	<!-- #profiles -->
	<div class="purchase-bottom">
	<!--{if $charges > 0 }-->
		<h4>Mode de paiement</h4>
		<div class="payement-mode">
			<ul>
				<li>
					<p><img src="/static/images/visa_icon.png" alt="visa" class="visa"/></p>
					<div>
						<input type="radio" value="datatrans" name="paytype"	/>
					</div>
					<p>Visa</p>
				</li>
				<li>
					<p><img src="/static/images/mastercard_icon.png" alt="Facture"  class="mastercard"/></p>
					<div>
						<input type="radio" value="mastercard" name="paytype" />
					</div>
					<p>Mastercard</p>
				</li>
				<li>
					<p><img src="/static/images/postfinance2.jpg" width="58" height="37" alt="Postfinance" /></p>
					<div>
						<input type="radio" value="post" name="paytype" />
					</div>
					<p>Postfinance Card</p>
				</li>
				<li>
					<p><img src="/static/images/paypal2.jpg" width="58" height="37" alt="Paypal" /></p>
					<div>
						<input type="radio" value="paypal" name="paytype" />
					</div>
					<p>Paypal</p>
				</li>
				<!--{if $cc_alias}-->
				<li class="active">
					<p><img src="/static/images/visa2.jpg" width="58" height="37" alt="Data Trans" /></p>
					<div>
						<input type="radio" value="cc_alias" name="paytype" checked="checked"/>
						<input type="hidden" name="cc_alias" value="0" />
					</div>
					
					<p>Carte de crédit enregistrée<br />
						VISA<br />
						{$cc_alias['cc_masked']}</p>
					
					
				</li>
				<!--{/if}-->
				
                <!--        
				<li>
					<p><img src="/static/images/virement.jpg" width="58" height="37" alt="Virement bancaire" /></p>
					<div>
						<input type="radio" value="wire" name="paytype" />
					</div>
					<p>Virement<br />
						bancaire</p>
				</li>
                                -->
			</ul>
		</div>
		<!--{/if}-->
		<div class="continue-btn"><a href="javascript:void(0)" onclick="Continue();">Continuer</a></div>
		<span id="term-container">
		<input type="checkbox" id="term"/>
		</span>
		<p class="continue-warning-message">Vous avez lu et vous acceptez les <a href="http://www.topdeal.ch/infos/conditions_utilisation" target="_blank">Conditions générales</a> et de <a href="http://www.topdeal.ch/infos/confidentialite" target="_blank">Confidentialité</a></p>
		<!--
		<p class="continue-warning-message">En cliquant sur CONTINUER vous acceptez les <a href="#">Conditions générales</a> et de <a href="#">Confidentialité</a></p>
		-->
	</div>
	<!-- .credits-bottom -->
    
        <input type="hidden" name="order_id" value="{$order['id']}" />
		<input type="hidden" name="card_type" value="visa"/>
    </form>
    <script type="text/javascript">
		function addValidateClass(input,message,type){
			if(type == 1) {
				input.removeClass('error-input');
				input.attr('placeholder', message);
			}else{
				input.addClass('error-input');
				input.attr('placeholder', message);
				//input.focus();
			}
		}
		
        function Continue(){
			$(window).off("beforeunload");
			var message = "Ce champ est obligatoire";
            var first_name = $('#frmCart input[name=first_name]');
            var last_name = $('#frmCart input[name=last_name]');
            var email = $('#frmCart input[name=email]');
            var mobile = $('#frmCart input[name=mobile]');
            var address = $('#frmCart input[name=address]');
            var zipcode = $('#frmCart input[name=zipcode]');
			var region = $('#frmCart input[name=region]');
			var flag = 0;
			if(first_name.val() == '') {
				addValidateClass(first_name, message, 0);
				flag++;
			} else{
				addValidateClass(first_name, "Prénom", 1);
			}
			if(last_name.val() == '') {
				addValidateClass(last_name, message, 0);
				flag++;
			} else{
				addValidateClass(last_name, "Nom", 1);				
			}
			if(email.val() == '') {
				addValidateClass(email, message, 0);
				flag++;
			} else{
				addValidateClass(email, "Email", 1);				
			}
			if(mobile.val() == '') {
				addValidateClass(mobile, message, 0);
				flag++;
			} else{
				addValidateClass(mobile, "Numéro de portable", 1);				
			}
			if(address.val() == '') {
				addValidateClass(address, message, 0);
				flag++;
			} else{
				addValidateClass(address, "Adresse 1", 1);				
			}
			if(zipcode.val() == '') {
				addValidateClass(zipcode, message, 0);
				flag++;
			} else{
				addValidateClass(zipcode, "Code postal", 1);				
			}
                        if( zipcode.val().length != 4) {
				addValidateClass(zipcode, 'doit être de 4 caractères', 0);
				flag++;
			} else{
				addValidateClass(zipcode, "Code postal", 1);				
			}
			if(region.val() == '') {
				addValidateClass(region, message, 0);
				flag++;
			}else{
				addValidateClass(region, "Ville", 1);				
			}
			if(email.val() != '') {
				var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
				if(reg.test(email.val()) == false) {
				   email.val('');
			       addValidateClass(email, 'Adresse email invalide', 0);
				   flag++;
				}				
			}
			if(flag > 0) 
				return false;
				
			if(!isShipping()){
				alert("Veuillez choisir une méthode de livraison concernant les articles concernés ci-dessus");
				return false;
			}
			
			if(($('input[name=paytype]').size() > 0) && !$('input[name=paytype]').is(":checked")){
				alert("Veuillez sélectionner un mode de paiement");
				return false;
			}
			
			if(!$('#term').is(":checked")){
				alert("Merci de lire et d'accepter les conditions générales de vente");
				return false;
			}
			
			var pay_method = $('#frmCart input:radio[name=paytype]:checked').val();
			<!--{if $cc_alias}-->
		//	var pay_method = $('#frmCart input:radio[name=paytype]:checked').val();
			
			if ( pay_method == "cc_alias" )
			{
				showPopup('checkout-password');
				return false;
			}
			
			$('#frmCart input[name=cc_alias]').val('0');
			<!--{/if}-->
			
			if ( pay_method == "mastercard" )
			{
				$('#frmCart input:radio[name=paytype]:checked').val("datatrans");
				$('#frmCart input[name=card_type]').val('mastercard');
			}
			
			$('#frmCart input').removeClass('error-input');
			getDeliveryAddress();
			$('#frmCart').submit();
        }
		function getDeliveryAddress(){
			if($('.edit-item-address:visible').length > 0){
				$('.edit-item-address:visible input').each(function(){
					$('#frmCart').append('<input type="hidden" name="' + $(this).attr('name').replace('tmp_','delivery_') + '" value="' + $(this).val() + '"/>');					
				});
			} else{
				$('.profiles-left input[type=text]').each(function(){
					$('#frmCart').append('<input type="hidden" name="delivery_' + $(this).attr('name') + '" value="' + $(this).val() + '"/>');					
				});
			}
		}
        </script>
</div>


<div id="popOverlay" style="display:none">
	<!-- Add new address-->
	<div class="profil-warnings6 add-address-form">
		<form name="add-address" action="{$INI['system']['wwwprefix']}/ajax/user.php">
		<div class="warnings-content">
			<h4>Création d’adresse</h4>
			<div class="edit-item-address">
									<input type="text" value="Donnez un nom à cette adresse" name="address_name" class="set-address-input">
									<input type="text" value="Prénom" name="first_name">
									<input type="text" value="Nom" name="last_name">
									<p><input type="text" value="Adresse 1" name="address[]">
									<a class="add-address" href="#"><span>Add</span></a></p>
									<input type="text" value="CP" name="zipcode" class="wth-40">
									<input type="text" value="Ville" name="region" class="wth-195 mrgl-16">
								</div>
	<div class="warnings-bottom">
	<div class="send-btn"><a href="#" onclick="saveAddress(this,'addaddress')">Sauver</a></div>
	<a href="#" class="cancel-link">ANNULER</a>
	</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
		</form>
	</div>
	
	<!-- Checkout page alias topdeal password -->
	<div class="profil-warnings6 checkout-password">
		<form name="chkPasswd" action="{$INI['system']['wwwprefix']}/ajax/user.php" method="post">
		<div class="warnings-content">
			<h4>Pour des raisons de sécurité veuillez entrer votre mot de passe TopDeal</h4>
			<div class="edit-item-address">
				<input name="email" type="hidden" value="{$login_user['email']}" />
				<input type="password" placeholder="Mot de passe" name="password">				
			</div>
			<div class="warnings-bottom">
			<div class="send-btn"><a href="javascript:void(0);" class="wth-100">CONTINUER</a></div>
			<a href="#" class="cancel-link">ANNULER</a>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
		</form>
		
	</div>
	
	<!--Credit info-->
	<div class="apayer-payment credit-card">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par carte de crédit</h5>
				<img src="/static/images/visa2.jpg" width="58" height="37" alt="Virement bancaire">
				<p>Nous acceptons les cartes Visa ou MasterCard. Il vous faut indiquer :</p><br/>
				<div>                
					<p>1. Le numéro de carte de crédit</p>
					<p>2. La date de validité</p>
					<p>3. Le cryptogramme visuel qui se trouve au dos de votre carte de crédit (3 ou 4 derniers chiffres)</p>
				</div>
                <br/>
				<p>Le paiement par carte de crédit est sûr. Vos données sont transférées en toute sécurité par le protocole SSL. Il se peut que l’organisme de paiement (Visa par exemple), vous demande des informations supplémentaires, comme par exemple votre mot de passe Visa ou un nombre de votre dernier relevé.</p>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
	<!--Postfinance info-->
	<div class="apayer-payment Postfinance">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par PostFinance</h5>
				<img src="/static/images/postfinance2.jpg" width="58" height="37" alt="Virement bancaire">
				<p>Avec PostFinance, vous pouvez choisir de payer soit avec votre compte e-finance, soit avec votre carte PostFinance. Vous pouvez choisir la méthode qui convient le mieux.</p>				
				<p></p>
                <p>En tant que méthode standard de PostFinance, le service e-finance vous permet d’effectuer vos achats sur Internet en toute sécurité. Si vous êtes client chez PostFinance, identifiez-vous avec votre numéro e-finance ainsi que votre mot de passe. Le montant de votre commande sera débité sans frais de votre compte PostFinance</p>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
	<!--Paypal info-->
	<div class="apayer-payment Paypal">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par Paypal</h5>
				<img src="/static/images/paypal2.jpg" width="58" height="37" alt="Virement bancaire">
				<p>En choisissant ce mode de paiement, vous serez automatiquement redirigé vers la page PayPal.</p><br/>
				<div>
					<p>1. Si vous avez déjà un compte PayPal, connectez-vous et confirmez le paiement.</p>
					<p>2. Si vous êtes nouveau, vous pouvez créer un compte PayPal.</p>
				</div>
				<br/>
				<p>La transaction par PayPal peut être simplifiée puisque vos données personnelles et les données de la carte de crédit sont déjà introduites</p>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>

	<!--Facture info-->
	<div class="apayer-payment Facture">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par facture à 14 jours (Swissbilling)</h5>
				<img src="/static/images/facture.jpg" width="58" height="37" alt="Virement bancaire">
				<p>Il s'agit du paiement sur facture en une ou plusieurs mensualités avec SwissBilling. Avec ce mode de paiement, vous devez indiquer uniquement votre adresse privée. Il n’est pas possible d’être livré à un autre endroit. Le montant maximum pour votre commande est de 500.- CHF. Il se peut que le paiement vous soit refusé si vous avez déménagé récemment ou pour d'autres raisons. N'hésitez pas à nous appeler au 021 691 30 00 en cas de question.</p>				
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
	<!-- Payment fail popup-->
	<div class="profil-warnings2 payes_error">
		<div class="warnings-content">
			<h4>Ooops. Un petit problème est survenu lors du payement de votre achat.</h4>
			<p class="min-height-127">Pas de panique! Tentons ensemble de trouver la solution et l’origine de l’erreur.<br>Appelez-nous au 021 691 30 00 ou envoyez-nous un<br>email à <a href="#">support@topdeal.ch.</a></p>
	<div class="warnings-bottom">
	<div class="account-deleted"><a href="#">Fermer</a></div>
	</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
	<!-- Payment successful popup-->
	<div class="profil-warnings6 payes_ok">
		<div class="warnings-content">
			<h4>Votre achat a été effectué avec succès!<br>Merci beaucoup de votre confiance.<br>Un email de confirmation a été envoyé à votre email <a href="#">mc@relaxintheair.com</a>.</h4>
			<div class="min-height-80 clearfix">
			<ul class="social-popup">
				<li><a href="#"><img src="/static/images/facebook-icon-03.png"></a></li>
				<li><a href="#"><img src="/static/images/twitter-icon-03.png"></a></li>
				<li><a href="#"><img src="/static/images/email-icon-03.png"></a></li>
			</ul>
			<p>Partagez votre achat et gagnez des crédits!</p>
			</div>
	<div class="warnings-bottom clearfix">
		<div class="send-btn"><a href="#">Fermer</a></div>
	</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
</div>
<script type="text/javascript">	
	Array.prototype.max = function(comparer) {

		if (this.length === 0) return null;
		if (this.length === 1) return this[0];

		comparer = (comparer || Math.max);

		var v = this[0];
		for (var i = 1; i < this.length; i++) {
			v = comparer(this[i], v);    
		}

		return v;
	}
	
	var total = $('.total-paid .purchase-total h3');

	$('#purchase-list .shippings-option input[type=radio]').click(function(event){
		event.stopPropagation();
		hideShipping(this);
		var totalAmount = parseInt($('#total-amount').val());
		var type = $(this).val();		
		var fare = $(this).parents('.shippings').find('.purchase-total .shipping-fare');
		if(type == 'express') {
			fare.show();
		} else {
			fare.hide();
		}		
		var newTotal = totalAmount + getFees();
		var ep_total = parseInt($('input[name=fare-total]').val());
		if(ep_total > getFees()){		
			newTotal = totalAmount;
		}else{
			newTotal = totalAmount - ep_total + getFees();
		}		
		
		total.html(newTotal + "<span>CHF</span>");
	});
	function getFees(){
		if($('#purchase-list .fare-value:visible').length > 0){
			var feeArr = [];
			$('#purchase-list .fare-value:visible').each(function(){
				feeArr.push(parseInt($(this).text()));
			})
			return feeArr.max();
		}
		return 0;
	}
	/*
	var total = $('.total-paid .purchase-total h3');
	var totalAmount = parseInt(total.text().match(/\d+/)[0]);
	$('#purchase-list').on('click','.shippings-option input[type=radio]', function(){
		var type = $(this).val();
		var dealId = $(this).attr('deal_id');
		var fee = parseInt($(this).parents('.shippings').find('.purchase-total').text().match(/\d+/)[0]);
		var iDisplay = isFared(dealId);
		if(type == 'express') {
			var newTotal = totalAmount + fee;
			total.html(newTotal + "<span>CHF</span>");
			if (iDisplay <= 1)
				$(this).parents('.shippings').find('.purchase-total .shipping-fare').fadeIn();
		} else {
			if(iDisplay <= 0)
				total.html(totalAmount + "<span>CHF</span>");
			if(iDisplay == 1) 
				$('input:radio[value=express]:checked').parents('.shippings').find('.purchase-total .shipping-fare').fadeIn();
			$(this).parents('.shippings').find('.purchase-total .shipping-fare').fadeOut();
		}
	});
	*/
	 var timeleft = parseInt(${$order['create_time']+600 - time()});
	  function countdown(){
		if(timeleft <= 0) {			
			try{
				clearTimeout(timer);
				alert("Nous n'avons malheureusement pas pu réserver votre panier plus longtemps afin de ne pas bloquer ces quantités pour d'autres clients. Nous vous invitons donc à recommencer la procédure de commande.");
				$(window).off('beforeunload');
				top.location.href = "/index.php";
			} catch(e){
				alert("Nous n'avons malheureusement pas pu réserver votre panier plus longtemps afin de ne pas bloquer ces quantités pour d'autres clients. Nous vous invitons donc à recommencer la procédure de commande.");
				$(window).off('beforeunload');
				top.location.href = "/index.php";
			}			
			return;
		}
		timeleft--;
		var m = Math.floor(timeleft/60);
		var s = Math.round(timeleft%60);
		renderCountdown(m, s);
		timer = setTimeout(countdown,1000);
	  }
	  function renderCountdown(m, s){
		$(".basket-timer").html("<span>Votre panier est encore réservé:</span> " + m + "m " + s + "s");
	  }               
                 
	  
	  (function(){
		$(window).on('beforeunload', function() {
			if(/Firefox[\/\s](\d+)/.test(navigator.userAgent) && new Number(RegExp.$1) >= 4) {				
				if(confirm("Attention, en quittant cette page, votre commande sera perdue")) {
					history.go();
				} else {
					window.setTimeout(function() {
						window.stop();
					}, 1);
				}
			} else {
				return "Attention, en quittant cette page, votre commande sera perdue";
			}			
		});
	  })()
	  
	  countdown();
		$(document).ready(function(){
	$('.checkout-password .send-btn a').click(function(e){
		e.preventDefault();
		var loginForm = $('#frmCart');
		var url = 'https://www.topdeal.ch/ajax/validator.php';
		var email = $('.checkout-password input[name=email]');
		var pass = $('.checkout-password input[type=password]');
		var data = {
			'email': email.val(),
			'password': pass.val(),
			'n':'prelogin'
		}
		$.post(url, data, function(data){
			if(data.data == 100) {
				email.addClass('error-input');
				email.val('Utilisateur inconnu');
				pass.removeClass('error-input');
			}
			else if(data.data == 200) {
				email.removeClass('error-input');
				pass.addClass('error-input');
				pass.attr('placeholder','Mot de passe erroné');
				pass.focus();
			}
			else if(data.error == 0) {
				pass.removeClass('error-input');
				$("input[name=cc_alias]").val(1);
				$("input[name=paytype]").val("datatrans");
				loginForm.submit();
			}
		}, 'json');	
	});
	$('.checkout-password').submit(function(){
		$('.checkout-password .send-btn a').trigger('click');
		return false;
	})
})	  

function isFared(dealId){
	var i = 0;
	$("input:radio[deal_id=" + dealId + "]").each(function(){
		if($(this).val() == 'express') {
			if($(this).is(":checked")) {
				i++;
			}
		}
	});
	return i;
}
	  
function isShipping(){
	var i = 0;
	if($("input:radio[value=express], input:radio[value=pickup]").length > 0) {
		var len = $("tr.shippings:visible input:radio[value=express], tr.shippings:visible input:radio[value=pickup]").length;
		$("tr.shippings:visible input:radio[value=express],tr.shippings:visible input:radio[value=pickup]").each(function(){		
			if($(this).is(":checked")) {
				i++;
			}		
		});
		if(i < (len/2)) 
			return false;
	}
	return true;
}

function hideShipping(obj){
	var id = $(obj).attr('deal_id');	
	var inputSelector = 'input[deal_id='+ id +']';
	var val = $(obj).val();
	$(inputSelector).each(function(){		
		if($(this).val() == val) {		        
			$(this).attr('checked',true);
	    } else{
			$(this).attr('checked',false);
		}
	})
	$('tr[dealid="'+ id +'"]').not($(obj).parents('.shippings')).hide();
}	  
</script>