<div class="container-fluid">
		<div class="row deal-header text-center">			
			<h1 class="big-heading text-uppercase">R&eacute;SULTATS DE RECHERCHE</h1>
				<p>Mot clef recherch&eacute;: <em>{$_REQUEST['recherche']}</em></p>
		</div>
	</div>
    
	<div class="container-fluid search-header">
		<div class="row text-center">			
			<form action="/search/search.php">
				<input type="text" name="recherche" value="{$_REQUEST['recherche']}" placeholder="Nouvelle Recherche"/>
				<input type="submit" value="search"/>
			</form>
		</div>
	</div>
	<div class="container search-filter">
		<div class="row text-center">			
			<ul class="list-unstyled list-inline">
                            <li <!--{if $tab=="deal"}-->class="active"<!--{/if}-->><a href="/search/search.php?recherche={$_REQUEST['recherche']}">Offres actuelles ({$teams_count})</a></li>
				<li <!--{if $tab=="content"}-->class="active"<!--{/if}-->><a href="/search/search.php?recherche={$_REQUEST['recherche']}&t=content">Pages ({$count_pages})</a></li>
				<li <!--{if $tab=="deal_archive"}-->class="active"<!--{/if}-->><a href="/search/search.php?recherche={$_REQUEST['recherche']}&t=deal_archive">Anciennes offres ({$teams_archive_count})</a></li>
			</ul>
		</div>
	</div>		
	<div class="container deals deal-cat-list">	
    <!--{loop $teams $index $one}-->
    <!--${$ititle = $one['title']}-->
    <!--{if $index%3 == 0 }-->
    <div class="row">
      <!--{/if}-->
            <div class="col-md-4 col-xs-12">
                ${deal_box($one)}
            </div>
    <!--{if $index%3 == 2  }-->
    </div>
    <!--{/if}-->
    <!--{/loop}-->
    <!--{if !$teams}-->
      <div class="row">
				<div> Pas de résultat pour votre recherche. </div>
      </div>
		<!--{/if}-->
	</div>
	
	