<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
        <div id="profile-tab">
		<ul>
			<li><a href="/account/settings.php">Profil</a></li>
			<li><a href="/account/refer.php">Crédits</a></li>
			<li class="current"><a href="/order/index.php">Achats</a>
                            <!--<ul>
                                <li class="first-row current"><a href="/order/index.php">Payés</a></li>
                                <li><a href="/order/index.php?s=unpay">A payes</a></li>
                            </ul>-->
			</li>
			<li><a href="#">Bons</a>
                            <ul>
                                    <li class="first-row"><a href="/coupon/index.php">A échanger</a></li>
                                    <li><a href="/coupon/consume.php">Utilisés</a></li>
                                    <li><a href="/coupon/expire.php">Expirés</a></li>
                            </ul>
			</li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div id="purchase-list" style="margin-top: 0; background: #fff;">
	<div id="back-to-cate"> <a href="/order/index.php">Retour aux achats payés</a> </div>
                    <div id="invoice">
                        <div class="logo"><img src="http://dev.topdeal.ch:81/static/images/invoice-logo.png"/></div>
                        <div class="outer-header">
                                <div class="inner-header">
                                        <table width="100%"><tbody>
                                                <tr>
                                                        <td><h2>Détails de la facture</h2></td>
                                                        <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                        <td>Commande n&deg; {$order['id']}</td>
                                                        <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                        <td>Date de la facture : <strong>${date('d.m.Y',$order['create_time'])}<strong></td>
                                                        <td style="text-align:right;">TVA n° CHE-169.032.950</td>
                                                </tr>
                                        </tbody></table>
                                </div>
                        </div><!-- Header -->
                        <div class="address">
                                <table width="100%"><tbody>
                                        <tr>
                                                <td width="60%">
                                                        <h3>ADRESSE DE FACTURATION </h3><br/>
                                                        <p>{$order['realname']} {$order['lastname']}<br/>{$order['address']}<br/>{$order['zipcode']} {$order['region']}
                                                </td>
<!--${$showShipping = false}-->
                        <!--{loop $order_items $index $one}-->
<!--{if $one['delivery'] == 'express'}-->
                        <!--${$showShipping = true}-->                        
<!--${$shippingAddress = $one['first_name']." ".$one['last_name']."</p><p>".$one['address']."</p><p>".$one['address2']."</p><p>".$one['zipcode']." ".$one['region']}-->

                        <!--{/if}-->
                        <!--{/loop}-->
                                                <td>
<!--{if $showShipping}-->
                                                        <h3>ADRESSE DE LIVRAISON </h3><br/>
                                                        <p>{$shippingAddress}</p>
<!--{/if}-->
                                                </td>
                                        </tr>	
                                </tbody></table>
                     </div><!-- Address -->
                     <div class="table1">
	<table width="100%" cellspacing="5" cellpadding="5"><tbody>
		<tr>
			<th>
				Articles
			</th>
			<th width="12%">
				Quantité
			</th>
			<th width="12%">
				Prix Unit
			</th>
			<th width="12%">
				Taux TVA
			</th>
			<th width="14%">
				Total
			</th>			
		</tr>
                     <!--{loop $order_items $index $one}-->
			<tr>    
                            <td class="invoice-item">   
                                <h3>{$teams[$one['team_id']]['title']}</h3>
                                <!--{if $one['option_id']}-->
					{$options[$one['option_id']]['summary']}<br/>
                                <!--{/if}-->        
                            </td>
                            <td class="aligncenter borderleft">
                                {$one['quantity']}X
                            </td>
                            <td class="aligncenter borderleft">
                                CHF ${moneyit($one['price'])}
                            </td>
                            <td class="aligncenter borderleft">
                                8%
                            </td>
                            <td class="alignright borderleft">
                                <strong>CHF ${moneyit($one['price']*$one['quantity'])}</strong>
                            </td>
		
			</tr>
                        <!--{if $one['fare'] > 0}-->
                        <tr>
                            <td class="font-geor">
                                Frais d’envoi:
                            </td>
                            <td class="borderleft">&nbsp;</td>
                            <td class="borderleft">&nbsp;</td>
                            <td class="aligncenter borderleft">8%</span></td>
                            <td class="alignright borderleft"><strong>CHF ${moneyit($one['fare'])}</strong></td>
                        </tr>
                        
                        <!--{/if}-->
                        <!--{if $one['delivery'] == 'express'}-->
                        <!--${$showShipping = true}-->                        
                        <!--${$shippingAddress = $one['first_name']." ".$one['last_name']."</p><p>".$one['address']."</p><p>".$one['address2']."</p><p>".$one['zipcode']." ".$one['region']}-->
                        <!--{/if}-->
                        <!--{/loop}-->
	
	</tbody></table>
</div><!-- Table 1 -->

                
                     <div class="table2">
                                <table width="100%" cellspacing="5" cellpadding="5">
                                    <tbody>
                                        <!--{loop $order_cards $index $one}-->
                
                                        <tr>
                                                <td>Code promotionel {$one['card_code']}</td>
                                                <td class="alignright"><strong>- CHF ${moneyit($one['card_value'])}</strong></td>
                                        </tr>
                                        <!--{/loop}--> 
                                        <!--{if $order['credit'] > 0 }-->
                                        <tr >
                                                <th>Déduction de ${moneyit($order['credit'])} crédits</th>
                                                <th class="purchase-total alignright">- CHF ${moneyit($order['credit'])}</th>
                                        </tr>
                                        <!--{/if}-->
                                        
                                        <tr>
                                          <td>Total HT</td>
                                          <td class="alignright"><strong>CHF ${moneyit($order['money']- ($order['money']*0.08))}</strong></td>
                                    </tr>
                                        <tr>
                                                <td class="font-geor">TVA 8 %</td>
                                                <td class="alignright"><strong>CHF ${moneyit($order['money']*0.08)}</strong></td>
                                        </tr>
                                        <tr class="total">
                                                <td>Total payé</td>
                                                <td class="alignright"><strong>CHF ${moneyit($order['money'])}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                        
                        
                    </div>
        
                    <table>
			
		</table>
	</div>
	
	<div class="print-invoice">
		<a href="#" onclick="window.print();">Imprimer la facture</a>
	</div>
	<!-- .credits-bottom -->
</div>
<!-- Popup -->
<div id="popOverlay">
	<div class="apayer-payment">
		<div class="warnings-content">
			<h4>Mode de payement</h4>
		<div class="payement-mode">
			<ul>
				<li class="wth-126">
					<p><img src="/static/images/visa2.jpg" width="58" height="37" alt="visa"></p>
					<div>
						<input type="radio" value="visa" name="payement_rdo" checked="checked">
					</div>
					<p>Carte de crédit<br>
						Visa et Mastercard</p>
				</li>
				<li>
					<p><img src="/static/images/postfinance2.jpg" width="58" height="37" alt="Postfinance"></p>
					<div>
						<input type="radio" value="postfinance" name="payement_rdo">
					</div>
					<p>Postfinance</p>
				</li>
				<li>
					<p><img src="/static/images/paypal2.jpg" width="58" height="37" alt="Paypal"></p>
					<div>
						<input type="radio" value="paypal" name="payement_rdo">
					</div>
					<p>Paypal</p>
				</li>
				<li class="wth-126">
					<p><img src="/static/images/facture.jpg" width="58" height="37" alt="Facture à 14 jours +5.- de traitement"></p>
					<div>
						<input type="radio" value="facture" name="payement_rdo">
					</div>
					<p>Facture à 14 jours<br>
						+5.- de traitement</p>
				</li>
				<li>
					<p><img src="/static/images/virement.jpg" width="58" height="37" alt="Virement bancaire"></p>
					<div>
						<input type="radio" value="virement" name="payement_rdo">
					</div>
					<p>Virement<br>
						bancaire</p>
				</li>
			</ul>
		</div>
		<div class="continue-btn"><a href="#">Continuer</a></div>
	<div class="warnings-bottom">
	<p class="continue-warning-message">En cliquant sur CONTINUER vous acceptez les <a href="#">Conditions générales</a> et de <a href="#">Confidentialité</a></p>
	<a href="#" class="cancel-link">ANNULER</a>
	</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
</div>
