<div class="account">
<!-- Main menu-->
<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">CRÉDITS & PARRAINAGE</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<div class="sidebar-menu">
						<ul class="list-unstyled">							
               <li><a href="/account/settings.php">MON PROFIL</a></li>
							<li><a href="/account/address_change.php">MES ADRESSES</a></li>
							<li><a href="/account/reset.php">MODIFIER LE MOT DE PASSE</a></li>
							<li><a href="/order/index.php">MES ACHATS ET BONS</a></li>
							<li class="active"><a href="/account/refer.php">CREDITS & PARRAINAGE</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="padlr-20">
						<p>Vos invitations ont bien été envoyées!</p>
            <p>Nous espérons que vos amis vous permettront de gagner des crédits à faire valoir sur vos prochains achats.</p>
            <p>Votre dévouée équipe de TopDeal</p>
            <a href="/account/refer.php" class="submit-02 pull-right mrb-25">Retour aux crédits</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Hot deal -->
</div>