<div id="primary">
	<h2 class="pages-title">Proposer un deal</h2>
	<div id="back-to-cate"> <a href="credits.php">Proposer un autre deal</a> </div>
	<div class="confirmation-message-box">
		<p>Vos invitations ont bien été envoyées!</p>
		<p>Nous espérons que vos amis vous permettront de gagner des crédits à faire valoir sur vos prochains achats.</p>
		<p>Votre dévouée équipe de TopDeal</p>
	</div>
	<div class="deals-list">
		<h2 class="section-title">Deals bientôt finis</h2>
		<div class="deal-box">
			<div class="thumb-box"> <img src="/static/images/thumb-02.jpg" width="348" height="141" alt="" />
				<div class="prices-box">249<span>CHF</span></div>
				<div class="percent-box">50<span>%</span></div>
				<div class="gift-box"> <a href="#" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="#">Vol biplace en parapente</a></h3>
			<div class="timing-box less-one-hour">
				<ul>
					<li>
						<p><span>Heures</span> 03</p>
					</li>
					<li>
						<p><span>Minutes</span> 24</p>
					</li>
					<li class="last-item">
						<p><span>Secondes</span> 38</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="deal-box">
			<div class="thumb-box"> <img src="/static/images/thumb-03.jpg" width="348" height="141" alt="" />
				<div class="prices-box">249<span>CHF</span></div>
				<div class="percent-box">50<span>%</span></div>
				<div class="gift-box"> <a href="#" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="deals_detail.php">Siège auto Chicco</a></h3>
			<div class="timing-box less-one-hour">
				<ul>
					<li>
						<p><span>Heures</span> 03</p>
					</li>
					<li>
						<p><span>Minutes</span> 24</p>
					</li>
					<li class="last-item">
						<p><span>Secondes</span> 38</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- .deals-list -->
</div>
