<div class="container-fluid">
		<div class="row deal-header text-center">			
			<h1 class="big-heading text-uppercase">R&eacute;SULTATS DE RECHERCHE</h1>
				<p>Mot clef recherch&eacute;: <em>{$_REQUEST['recherche']}</em></p>
		</div>
	</div>
    
	<div class="container-fluid search-header">
		<div class="row text-center">			
			<form action="/search/search.php">
				<input type="text" name="recherche" value="{$_REQUEST['recherche']}" placeholder="Nouvelle Recherche"/>
				<input type="submit" value="search"/>
			</form>
		</div>
	</div>
	<div class="container search-filter">
		<div class="row text-center">			
			<ul class="list-unstyled list-inline">
                            <li <!--{if $tab=="deal"}-->class="active"<!--{/if}-->><a href="/search/search.php?recherche={$_REQUEST['recherche']}">Offres actuelles ({$teams_count})</a></li>
				<li <!--{if $tab=="content"}-->class="active"<!--{/if}-->><a href="/search/search.php?recherche={$_REQUEST['recherche']}&t=content">Pages ({$count_pages})</a></li>
				<li <!--{if $tab=="deal_archive"}-->class="active"<!--{/if}-->><a href="/search/search.php?recherche={$_REQUEST['recherche']}&t=deal_archive">Anciennes offres ({$teams_archive_count})</a></li>
			</ul>
		</div>
	</div>		
	<div class="container deals">	
            <!--{loop $teams $index $one}--> 
            <!--${$ititle = $one['title']}-->
            <!--{if $index%2 == 0 }-->
                <div class="row">
            <!--{/if}--> 
		<div class="row">
			<div class="col-md-6 col-xs-12 padding-right20">
				<div class="deal-box">
					<div class="title"><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->" data-toggle="tooltip" data-placement="top" title="${trim(mb_strimwidth($ititle,0,86,'...'))}">${trim(mb_strimwidth($ititle,0,86,'...'))}</a></div>
					<div class="pix-frame"><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->"><img src="${team_image($one['image'], true)}" class="img-responsive" alt="{$ititle}"></a></div>
					<?php if($one['max_number'] > 0 && $one['now_number'] >= $one['max_number']){ ?>	
                                           <div class="price-box soldout text-center text-uppercase">
						&#233;puis&#233;!
                                            </div>
                                         <?php }else{ ?>
                                         <div class="price-box text-center">
                                                <p class="discount">
                                                Dès CHF<span class="big">${moneyit($one['team_price'])}.-</span>
                                                </p>
                                                <p class="original">au lieu de CHF ${moneyit($one['market_price'])}.-</p>
                                        </div>
                                        <?php } ?>
				</div>				
			</div>
                    
                    <!--{/loop}-->
          
                  <!--{if !$teams}-->
                  <div class="row">
			<li>
				<div> Pas de résultat pour votre recherche. </div>
			</li>
                  </div>
		  <!--{/if}-->
	<!--{if $index%2 != 0  }-->    
            </div>
        <!--{/if}-->		
		
		
	</div>
	
	