
<div class="row deal-header text-uppercase white text-center hidden-sm hidden-xs">
	<h1 class="big-heading">BEST OF DU MOIS</h1>
</div>
<div class="row best-seller hidden-sm hidden-xs">
<!--{loop $best_sellers $index $one}--> 
<!--{if $index < 2 }-->
<!--${$ititle = $one['title']}-->
<?php
    $des_txt = '';
    $multi_con = array(
		'team_id' => $one['id'],
		'parent_option_id' => 0,
		);
    $multi = DB::LimitQuery('team_multi', array(
            'condition' => $multi_con,
            'order' => 'ORDER BY id DESC',
    ));
    if(!empty($multi)){
        
        $prev_price = 0;
        $in = 0;
        foreach($multi as $m){
        
            if($prev_price != $m['team_price'] && $in != 0){
                $des_txt = 'D&#232;s';
                break;
            }
            $prev_price = $m['team_price'];
            $in++; 
        }
        
        
    }
?>

			<div class="col-md-12 col-xs-12">
				 ${deal_box($one)}
			</div>
<!--{/if}-->
<!--{/loop}-->
</div>