<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>
			<li><a href="/search/search.php?t=deal&recherche={$term}">Deals</a></li>
			<li class="current"><a href="/search/search.php?t=content&recherche={$term}">Contenu</a></li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div id="results2-list">
		<ul>
             <!--{loop $pages $index $one}--> 
                <!--{if $lang=="en"}-->
			<!--${$ivalue = strip_tags($one['value'])}-->
			<!--{elseif $lang =='fr'}-->
			<!--${$ivalue = strip_tags($one['value_fr'])}-->
		<!--{/if}-->

			<li>
				<div> ${trim(mb_strimwidth($ivalue,0,120,'...'))} </div>
				<p class="website-link-out"><a href="http://topdeal.ch/{$one['url']}">http://topdeal.ch/{$one['url']}</a></p>
			</li>
		<!--{/loop}-->

                  <!--{if !$pages}-->
			<li>
				<div> Pas de résultat pour votre recherche. </div>
			</li>
		  <!--{/if}-->

		</ul>
	</div>
	<!-- .deals-list -->
</div>
<script type="text/javascript" language="javascript">
jQuery(document).ready(function($){
  //alert($('input[name=recherche]').val());
	$('input[name=recherche]').val('{$term}');
    	$('input[name=recherche]').attr('style','font-weight: bold; color: #F04E1E;');

  });
</script>