<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">ACHAT</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row checkout-step step03">
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-01 active">1. <small class="hidden-sm hidden-xs">Contrôle de ma commande</small></span> </div>
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-02 active">2. <small class="hidden-sm hidden-xs">Choix de la livraison et du paiement</small></span> </div>
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-03 active">3. <small class="hidden-sm hidden-xs">Paiement et conﬁrmation</small></span> </div>
			</div>
			<div class="col-md-5 col-sm-12 col-xs-12">
				<ul class="list-unstyled payer-votre">
					<li class="lock">
						<p>Payer en toute sécurité</p>
						<p>Vous pouvez réaliser votre transaction en toute tranquilité. Ce site dispose d’un certificat et nos transactions sont sécurisées par Datatrans S.A., leader suisse des transactions online.</p>
					</li>
					
					<li class="votre-code">
						<p>Votre CVV / Code de vérification</p>
						<img class="pull-right" src="/static/images/votre-code.png" width="149" height="97" alt="" />
						<p>Pour la sécurité de votre paiement, nous vous demandons de saisir votre code de vérification qui se trouve à l’arrière de votre carte.</p>
					</li>
				</ul>
			</div>
			
			<div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                            <form method="post"  class="form-01 profil-form padt-20" action="{$dt_web_post}" id="payment-form" name="form1">
                                         <input type="hidden" name="refno" value="{$pay_id}" >
                                        <input type="hidden" name="amount" value="{$amount}" >
                                        <input type="hidden" name="currency" value="{$currency}" >
                                        <input type="hidden" name="merchantId" value="{$merchantID}" >
                                        <input type="hidden" name="successUrl" value="{$return_url}">
                                        <input type="hidden" name="cancelUrl" value="{$error_url}">
                                        <input type="hidden" name="errorUrl" value="{$error_url}">

                                        <input type="hidden" name="hiddenMode" value="yes" />
                                        <input type="hidden" name="useAlias" value="yes" />
                                        <input type="hidden" name="reqtype" value="CAA" />

                                        <input type="hidden" name="order_id" value="{$order_id}">
                                        <input type="hidden" name="pay_id" value="{$pay_id}" >
                                        <input type="hidden" name="sign" value="{$sign}" />
										<input type="hidden" id="post_card_type"name="post_card_type" value="{$paymentmethod}" />
					<h2 class="the-title">Carte de credit</h2>					
					<!--{if $cc_alias == false}-->
                                        <input type="hidden" name="paymentmethod" value="{$paymentmethod}" />    
                                        <input type="hidden" name="new_cc" value="1" />
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="padr-10">
							<?php
							/*
							<!--{if $paymentmethod == "VIS"}-->
								<div class="input-image"><img src="/static/images/visa2.png" width="87" height="52" alt="" /></div>
							<!--{elseif $paymentmethod == "AMX"}-->
								<div class="input-image"><img src="/static/images/amx.jpg" width="87" height="52" alt="" /></div>
							<!--{else}-->
								<div class="input-image"><img src="/static/images/mastercard2.png" width="87" height="52" alt="" /></div>
							<!--{/if}-->
							*/ ?>
								  
								  <!--{if $paymentmethod == 'AMX'}-->
										<div class="input-image card-type-region"><img   style="border:1px solid #E3EDF9" src="/static/images/amx.jpg" width="87" height="52" alt=""  /></div> 
								   <!--{else}-->
										<div class="input-image card-type-region"><img   style="border:1px solid #E3EDF9" src="/static/images/visa_mc.png" width="87" height="52" alt=""  /></div> 
								   <!-- {/if} -->
								  
							</div>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<div class="padl-10">
								<input type="text" value="" placeholder="Numéro de votre carte de crédit" name="cardno" id="cardno" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="padr-10">
								<label class="select-box">
                                                                    <select name="expm" class="select">
										<option value="">Mois d’expiration</option>
										<option value="1">Janvier</option>
										<option value="2">Février</option>
										<option value="3">Mars</option>
										<option value="4">Avril</option>
										<option value="5">Mai</option>
										<option value="6">Juin</option>
										<option value="7">Juillet</option>
										<option value="8">Août</option>
										<option value="9">Septembre</option>
										<option value="10">Octobre</option>
										<option value="11">Novembre</option>
										<option value="12">Décembre</option>
									</select>
								</label>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="padl-10">
								<label class="select-box">
                                                                    <select name="expy" class="select">
										<option value="">Année d’expiration</option>
										<option value="13">2013</option>
										<option value="14">2014</option>
										<option value="15">2015</option>
										<option value="16">2016</option>
										<option value="17">2017</option>
										<option value="18">2018</option>
										<option value="19">2019</option>
										<option value="20">2020</option>
										<option value="21">2021</option>
										<option value="22">2022</option>
									</select>
								</label>
							</div>
						</div>
					</div>	
                                        <!--{else}-->
                                        <input type="hidden" name="aliasCC" value="{$cc_alias['cc_alias']}" />
										<input type="hidden" name="expm" value="{$cc_alias['expm']}" />
										<input type="hidden" name="expy" value="{$cc_alias['expy']}" />
										<input type="hidden" name="paymentmethod" value="{$cc_alias['method']}" />
					<!--{/if}-->
					<div class="row mrb-10">
						<div class="col-md-12">
							<input type="text" value="" placeholder="CVV / Code de vérification" name="cvv" />
						</div>					
					</div>		
				
					<div class="row line-height-31">
						<div class="col-md-12 text-left">							
							<div class="checkbox-s31 pull-left"><input type="checkbox" value="#" name="save_cc" id="remember-01"><label for="remember-01"></label></div> <p class="overhidden mrb-10">Enregistrer cette carte pour mes futurs achats de manière sécurisée.</p>								
						</div>						
					</div
					
					<div class="text-right">
						<div class="text-right">
							<?php
								$href = "javascript:window.history.go(-1);";
							?>
							<a class="submit-02" href="{$href}">Retour</a>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a class="submit-01" id="payment-button1" href="javascript:void(0);">Valider mon paiement</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Attention</h4>
      </div>
      <div class="modal-body">
        <p>Veuillez compléter tous les champs requis</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">	
jQuery(document).ready(function($){

	$('#payment-button1').on( "click", function() {
		var cardno 			= jQuery.trim(jQuery('input[name^="cardno"]').val());
		var post_card_type 	= jQuery.trim(jQuery('input[name="post_card_type"]').val());
		
		var expm 			= jQuery.trim(jQuery('input[name^="expm"]').val());
		if ( jQuery('select[name^="expm"]').length ) {
			expm 			= jQuery.trim(jQuery('select[name^="expm"]').val());
		}
		
		var expy 			= jQuery.trim(jQuery('input[name^="expy"]').val());
		if ( jQuery('select[name^="expy"]').length ) {
			expy 			= jQuery.trim(jQuery('select[name^="expy"]').val());
		}
		
		var cvv 			= jQuery.trim(jQuery('input[name^="cvv"]').val());
		var paymentMethod 	= jQuery.trim(jQuery('input[name="paymentmethod"]').val());
		
		//validate card number
		var validatedCard	=	"";
		jQuery(".modal-body").html("<p>Veuillez compléter tous les champs requis</p>");
		if(cardno!=""){
		
			var validateCard = [ "VISA", "MASTERCARD", "Amex" ];
			var cradType	=	validateCardNumber(cardno);
			if(post_card_type=='AMX' && cradType!='Amex')
			{
				cradType = '';
			}
			
			//SET PAYMENT METHOD
			if (typeof cradType  !== "undefined"){
				if(jQuery.inArray(cradType, validateCard)<0){
					jQuery(".modal-body").html("<p>S'il vous plaît entrer le numéro de carte valide</p>");					
					$('#warning').modal({"backdrop" : "static"});
				}else{
					jQuery(".modal-body").html("<p>Veuillez compléter tous les champs requis</p>");
					validatedCard = "validatedCard";
				}
			}else{
				jQuery(".modal-body").html("<p>S'il vous plaît entrer le numéro de carte valide</p>");	
				$('#warning').modal({"backdrop" : "static"});
			}
			// cvv validation code
			var cvvCodevalidate = false;
			var cvvLength = false;
			if(cvv)
			{
				var cvvLength = cvv.length;
				
			}
			
			//Amex cvv code is 4 
			if(post_card_type=='AMX')
			{
				if(cvvLength==4)
				{
					cvvCodevalidate = true;
				}
				
			}
			else
			{
				// visa and master card cvv is 3
				if(cvvLength==3)
				{
					cvvCodevalidate = true;
				}
			}
		}
		
		if($('.error').length > 0)
			$('.error').removeClass('error');
		if(cardno == '' || expm == '' || expy == '' || cvv == '' || paymentMethod == '' || validatedCard == '') {		
			$('#warning').modal({"backdrop" : "static"});
			$('input[type="text"]').filter(function() { return $(this).val() == ""; }).addClass('error');
			$('.select-box').filter(function() { return $(this).find('select').val() == ""; }).addClass('error');
		}
		else if(!cvvCodevalidate)
		{
			jQuery(".modal-body").html("<p>S'il vous plaît entrer un CVV / Code de vérification valide</p>");	
			$('#warning').modal({"backdrop" : "static"});
			return false;
		}
		else{
			$('#payment-form').submit();
		}
	});
	
	
	//DETECT AND SET CARD TYPE
	jQuery("#cardno").keypress(function() {
		
		var cardNumber	=	jQuery("#cardno").val();
		//set payment method by credit card number
		setPaymentMethodByNumber(cardNumber);	
	});
	
	jQuery("#cardno").keyup(function() {
		
		var cardNumber	=	jQuery("#cardno").val();
		//set payment method by credit card number
		setPaymentMethodByNumber(cardNumber);	
	});
	
	jQuery("#cardno").change(function() {
	  
		var cardNumber	=	jQuery("#cardno").val();
		//set payment method by credit card number
		setPaymentMethodByNumber(cardNumber);		
	});
	//--
	
});
 </script>


<!-- Hot deal -->
