
<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">ACHAT</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row checkout-step step03">
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-01 active">1. <small class="hidden-sm hidden-xs">Contrôle de ma commande</small></span> </div>
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-02 active">2. <small class="hidden-sm hidden-xs">Choix de la livraison et du paiement</small></span> </div>
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-03 active">3. <small class="hidden-sm hidden-xs">Paiement et conﬁrmation</small></span> </div>
			</div>
			<div class="row text-center	conform-purchase padt-20 padb-20">
				<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">				
						<h2 class="the-title">Ooops !</h2>				
						<p>Un petit problème est survenu lors du paiement de votre achat.</p>
					
						<img class="thumb" src="{$INI['system']['wwwprefix']}/static/images/payment_error.png	"/>
						<p>Pas de panique, aucun montant n’a été débité.</p>
						<p>En cas de soucis, appelez-nous au 021 691 30 00 ou envoyez-nous un e-mail à <a href="mailto:support@topdeal.ch">support@topdeal.ch</a></p>					
						<a href="{$INI['system']['wwwprefix']}/team/checkout.php?id={$datatrans['order_id']}" class="submit-01 margin-right20">ESSAYER À NOUVEAU</a>
						<a href="{$INI['system']['wwwprefix']}" class="submit-01">ANNULER</a>							
				</div>
			</div>
		</div>
	</div>
</div>