<!-- Main menu-->
<div class="account">
<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">MES ACHATS ET BONS</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row">
				<div class="col-md-3 hidden-xs hidden-sm">
					<div class="sidebar-menu">
						<ul class="list-unstyled">
							<li><a href="/account/settings.php">MON PROFIL</a></li>
							<li><a href="/account/address_change.php">MES ADRESSES</a></li>
							<li><a href="/account/reset.php">MODIFIER LE MOT DE PASSE</a></li>
							<li class="active"><a href="/order/index.php">MES ACHATS ET BONS</a></li>
							<li><a href="/account/refer.php">CREDITS & PARRAINAGE</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="padlr-20">
						<?php 
							include template_sub('content/content_payes_extended');
						?>						 
						<div id="addhere" style="display:none;"></div>						
					</div>
					<div id="top" style="text-align: center; margin: 30px 0 0; cursor: pointer;">
							<img src="/static/images/gotop.png" alt="Go to top"/>
							<p>Haut de la page</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Hot deal -->
</div>

<script type="text/javascript">
var size = 4;
var counter = 4;
var isDone = true;
function loadMoreOrder(){		
	isDone = false;
	$("#addhere").load("/order/index.php?mode=ajaxRequest&offset=" + counter, function(res){
		$('.padlr-20').append($("#addhere").html());				
		counter += size;
		isDone = true;
		if((res.length == 0)) {
			isDone = false;
		}
	});  		
};


$(document).ready(function(){
	var lastScrollTop = 0;
	$(window).on('scroll',function(event) {
		var st = $(this).scrollTop();
		if(st > lastScrollTop && isDone == true && isBottom()) {
			loadMoreOrder();
		}        
	});
    $('#top').on('click', function(){
        $('html,body').animate({scrollTop: 0},700, 'swing');     
    })
});
</script>