<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">ACHAT</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row checkout-step step01">
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-01 active">1. <small class="hidden-sm hidden-xs">Contrôle de ma commande</small></span> </div>
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-02">2. <small class="hidden-sm hidden-xs">Choix de la livraison et du paiement</small></span> </div>
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-03">3. <small class="hidden-sm hidden-xs">Paiement et confirmation</small></span> </div>
			</div>
			<form method="post" action="{$INI['system']['wwwprefix']}/order/dopayment.php" id="frmCart">
				<div class="checkout-list">
					<div class="row checkout-list-top hidden-sm hidden-xs">
						<div class="col-md-4">Article</div>
						<div class="col-md-3"></div>
						<div class="col-md-1">Prix <span>(CHF)</span></div>
						<div class="col-md-2">Quantité</div>
						<div class="col-md-1">Total <span>(CHF)</span></div>
					</div>
					<!--{loop $basket_items $index $one}--> 
					<!--${$basket_option = Table::Fetch('team_multi',$one['option_id'])}--> 
					
					<!--{if $basket_option['parent_option_id'] }--> 
					<!--${$parent_option = Table::Fetch('team_multi',$basket_option['parent_option_id'])}--> 
					<!--${$bsktTitle = $parent_option['title']}--> 
					<!--{else}--> 
					<!--${$bsktTitle = ''}--> 
					<!--{/if}--> 
					
					<!--${$bsktImage = $basket_option ? $basket_option['image'] : $basket_team['image']}--> 
					<!--${$title = $one['option_id'] ? $options[$one['option_id']]['title'] : $teams[$one['team_id']]['title']}--> 
					<!--${$image = $one['option_id'] ? $options[$one['option_id']]['image'] : $teams[$one['team_id']]['image']}--> 
					<!--${$one['max'] = ZTeam::GetUserBasketMaxQuantity($teams[$one['team_id']], $options[$one['option_id']], $login_user_id, $one['quantity'])}--> 
					<!--${$bsktId = $one['option_id'] ? $one['option_id'] : $one['team_id']}--> 
					<!--${$bsktPrice = $one['option_id'] ? $options[$one['option_id']]['team_price'] : $teams[$one['team_id']]['team_price']}-->
					<!--{if $teams[$one['team_id']]['delivery'] == 'express_pickup'}-->
					<!--${$show_delivery_choice = true}-->
					<!--{/if}-->
					<div id="row-{$one['id']}" class="row checkout-list-row">
						<div class="col-md-4 col-sm-12 col-xs-12"> <a class="thumbnail"><img src="/static/{$image}" width="132" height="87" alt="" /></a>
							<div class="product-infos">
								<p>{$teams[$one['team_id']]['title']}<!--{if $bsktTitle!="" }--> >{$bsktTitle}<!--{/if}--></p>
								<!--{if $one['option_id'] != 0 }-->
								<div class="product-option">
									<p><strong>Option:</strong></p>
									
									<span> {$options[$one['option_id']]['title']}</span> </div>
								<!--{/if}-->
                                                               <!--{if $teams[$one['team_id']]['delivery'] == "coupon" }--> 
                                                               <div class="gift-checkbox">
									<div class="checkbox-wrapper">
                                                                            <input type="checkbox" <!--{if $one['mode'] == 'gift' }-->checked="checked"<!--{/if}--> class="gift_coupon_basket" id="gift_{$bsktId}" name="gift_{$bsktId}" value="{$bsktId}">
										<label for="gift_{$bsktId}"></label>
									</div>
									Cadeau
										<div id="gift_fields_{$bsktId}" <!--{if $one['mode'] != 'gift' }-->style="display:none;"<!--{/if}-->>
											<input name="gift_name_{$bsktId}" id="gift_name_{$bsktId}" placeholder="Prénom" class="gift-input"/><br/>
											<input name="gift_last_name_{$bsktId}" id="gift_last_name_{$bsktId}" placeholder="Nom" class="gift-input"/>
										</div>
								</div>
                                                               <!--{/if}-->
							</div>
						
						</div>
						
						<div class="col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
						<?php echo '<!-- test'; ?>	
								<?php if($teams[$one['team_id']]['delivery'] == 'express_pickup'){ ?>
								<label class="select-box">
                                                                <select class="select delivery-selection" name="delivery_option_{$one['id']}">
									<option value="express">Livraison - frais unique</option>
									<option value="pickup">Retrait - pas de frais</option>
								</select>
                                                                </label>
								<?php }else if($teams[$one['team_id']]['delivery'] == 'pickup'){ ?>
								<span>Retrait - pas de frais</span>
								<?php }else if($teams[$one['team_id']]['delivery'] == 'express'){ ?>
								<span>Livraison - frais unique</span>
								<?php }else if($teams[$one['team_id']]['delivery'] == 'coupon'){ ?>
								<span>Bon à imprimer</span>
								<?php } ?>
						<?php echo '-->'; ?>
						</div>
						
						<div class="col-md-1 hidden-sm hidden-xs">{$bsktPrice}</span></div>
						<div class="col-md-2 col-sm-6 col-xs-6">
							<div><i id="{$bsktId}" class="except-icon"></i>
								<span id="quantity_box_{$bsktId}" class="quantity_box">{$one['quantity']}</span>
								<input class="basket_quantity" type="hidden" id="basket_quantity_{$bsktId}" maxbuy="{$one['max']}" price="{$bsktPrice}" teamid="{$one['team_id']}" option="<!--{if $one['option_id']}-->{$one['option_id']}<!--{else}-->0<!--{/if}-->" value="{$one['quantity']}" mode="{$one['mode']}" name="count" />
								<i id="{$bsktId}" class="add-icon"></i> </div>
						</div>
						<div class="col-md-1 col-sm-6 col-xs-6">
							<div class="visible-sm-block visible-xs-block text-right"><strong>Prix</strong>(CHF): {$bsktPrice}<br />
								<strong>Total</strong>(CHF): <span id="basket-price-{$bsktId}" class="hide-desktop">${moneyit($one['quantity']*$bsktPrice)}</span></div>
							
							<span id="basket-price-{$bsktId}" class="hidden-sm hidden-xs hide-mobile">${moneyit($one['quantity']*$bsktPrice)}</span>
							
							</div>
						<div class="col-md-1 col-sm-2 col-xs-2 col-sm-push-10 col-xs-push-10 col-lg-push-0 col-md-push-0 text-center">
							<a id="{$one['id']}" option_id="<!--{if $one['option_id']}-->{$one['option_id']}<!--{else}-->0<!--{/if}-->" team_id="{$one['team_id']}" class="delete-item" href="javascript:;"><i class="delete-icon"></i></a></div>
					</div>
					<!--{/loop}--> 
					<!--{if $show_delivery_choice}-->
					<div class="row" style="padding: 20px 0;">
						<div class="col-md-12">
							<ul class="list-unstyled delivery_method">
								<li><strong>Choisissez la méthode de livraison</strong></li>
								<li><input type="radio" class="delivery_choice" name="delivery_choice" <!--{if $one['delivery']=='express'}-->checked<!--{/if}--> value="express"/>&nbsp;&nbsp;Livraison - Frais unique</li>
								<li><input type="radio" class="delivery_choice" name="delivery_choice" <!--{if $one['delivery']=='pickup'}-->checked<!--{/if}--> value="pickup"/>&nbsp;&nbsp;Retrait chez Topdeal - Pas de frais</li>
							</ul>
						</div>
					</div>
					<!--{/if}-->
				</div>
                                <?php
									
                                    if (strpos($_SERVER['HTTP_REFERER'],'team.php') !== false) {
                                    /*
                                       $first =  explode ( 'id=', $_SERVER['HTTP_REFERER']);
                                       if(count($first) > 1){
                                             $second =  explode ( '&', $first[1]);
                                             $team_id = $second[0];
                                             $team_prev = Table::Fetch('team', $team_id);
                                             $href = "/team/index.php?gid=".$team_prev['group_id'];
                                       }
                                       else{
                                       $href = "javascript:window.history.go(-1);"; 
                                       }*/
                                       $href = $_SERVER['HTTP_REFERER'];
                                    }
                                    else{
										if (strpos($_SERVER['HTTP_REFERER'],'checkout.php') !== false) {
											$href	=	"/index.php";
										}else{
											$href = "javascript:window.history.go(-1);";
										}
                                    }
                                ?>
                                <div class="text-right"> <a href="{$href}" class="submit-02">Continuer mes achats</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" id="payer_commande" class="submit-01">Payer ma commande</a> </div>
			</form>
		</div>
	</div>
</div>
<!-- Hot deal --> 

<script type="text/javascript">
    
 jQuery(document).ready(function($){
        $('.delete-item').on( "click", function() {
         
        con = confirm("Do you really want to remove this item ?");
        if(con){
            team_id = $(this).attr('team_id');
            id = $(this).attr('id');
            option_id = $(this).attr('option_id');
			//console.log('id = #gift_' + id );
            var item_mode = $('#gift_'+ (option_id > 0 ? option_id : team_id)+':checked').length > 0 ? 'gift' : 'buy';
			//console.log($('#gift_'+id+':checked').length +  ' ' +item_mode);
            data = {
                    action: 'remove',
                    team_id:team_id,
                    mode: item_mode,
                    ajax: '1'
            };
            if(option_id != 0){
                 data.option_id = option_id;
            }
            
            url = "/basket.php";
            
            $.post( url, data, function( response ) {
                $('#row-'+id).remove();
                if($('.checkout-list-row').length == 0){
                    window.location.href = '/index.php';
                }
            });
        }
        
    });
    
    $('.except-icon').on( "click", function() {
        id = $(this).attr('id');
        var currentVal = parseInt($('#basket_quantity_'+id).val());
        var price = parseInt($('#basket_quantity_'+id).attr('price'));
        
        if(isNaN(currentVal)) {
                $('#basket_quantity_'+id).val(1);
                $('#basket-price-'+id).text(price);
                return;
        }
        currentVal -= 1;
        if(currentVal < 1) return;
        $('#basket_quantity_'+id).val(currentVal);
		$('#quantity_box_'+id).html(currentVal);
        $('#basket-price-'+id).html(price*currentVal);
        $('#basket_quantity_'+id).trigger('change');
    });
    
    $('.add-icon').on( "click", function() {
        id = $(this).attr('id');
        var price = parseInt($('#basket_quantity_'+id).attr('price'));
        var currentVal = parseInt($('#basket_quantity_'+id).val());
        if(isNaN(currentVal)) currentVal = 0;
        currentVal += 1;
        if($('#basket_quantity_'+id).attr('maxbuy')) { maxValue = $('#basket_quantity_'+id).attr('maxbuy'); }
        if(currentVal > maxValue) return;
        $('#basket_quantity_'+id).val(currentVal);
		$('#quantity_box_'+id).html(currentVal);
        $('#basket-price-'+id).html(price*currentVal);
      $('#basket_quantity_'+id).trigger('change');
       
    });
    
    $('.basket_quantity').change(function(){
        
					var self = this;
					//$.post('{$INI['system']['wwwprefix']}/basket.php',{
					$.post(top.location.protocol + "//" + top.location.host + '/basket.php',{
						action: 'update',
						team_id: $(self).attr('teamid'),
						mode: $(self).attr('mode'),
						quantity: $(self).val(),
						price: $(self).attr('price'),
						option_id: $(self).attr('option')
					},function(){
						//var amount = parseInt($(self).attr('price')) * parseInt($(self).val());
						//$(self).parents('li').find("#amount").html(amount);
					});					
				});
        $('.gift_coupon_basket').change(function(){
            
            id_r = $(this).attr('id').split('gift_');
            id = id_r[1];
            if($(this).prop('checked')){
                $('#gift_fields_'+id).slideDown(400,'swing');
                $('#basket_quantity_'+id).attr('mode', 'gift');
                $.post(top.location.protocol + "//" + top.location.host + '/basket.php',{
						action: 'update_gift',
						team_id:  $('#basket_quantity_'+id).attr('teamid'),
						option_id:  $('#basket_quantity_'+id).attr('option')
					},function(){
						//var amount = parseInt($(self).attr('price')) * parseInt($(self).val());
						//$(self).parents('li').find("#amount").html(amount);
					});
            }
            else{
                $('#gift_fields_'+id).slideUp(400,'swing');
                $('#basket_quantity_'+id).attr('mode', 'buy');
                $.post(top.location.protocol + "//" + top.location.host + '/basket.php',{
						action: 'update_gift_remove',
						team_id:  $('#basket_quantity_'+id).attr('teamid'),
						option_id:  $('#basket_quantity_'+id).attr('option')
					},function(){
						//var amount = parseInt($(self).attr('price')) * parseInt($(self).val());
						//$(self).parents('li').find("#amount").html(amount);
					});
            }
        });                        
				
	
    $('.delivery_method').on('click','li', function(e){
        e.stopPropagation();
		$('.delivery_method input').removeAttr('checked');
		$(this).find('input').attr('checked', 'checked');
        var self = $(this).find('input');
		if ($(self).val() != "express" && $(self).val() != "pickup" )
		return;
        createMask();
		$.post(top.location.protocol + "//" + top.location.host + "/basket.php", {
            action: "set_delivery",
            delivery: $(self).val()
        }, function(){
            removeMask();
        });
	});
 });
	
        function addValidateClass(input,message,type){
			if(type == 1) {
				input.removeClass('error-input');
				input.attr('placeholder', message);
			}else{
				input.addClass('error-input');
				input.attr('placeholder', message);
				//input.focus();
			}
		}
		
        function Continue(){
			$(window).off("beforeunload");
			var message = "Ce champ est obligatoire";
            var first_name = $('#frmCart input[name=first_name]');
            var last_name = $('#frmCart input[name=last_name]');
            var email = $('#frmCart input[name=email]');
            var mobile = $('#frmCart input[name=mobile]');
            var address = $('#frmCart input[name=address]');
            var zipcode = $('#frmCart input[name=zipcode]');
			var region = $('#frmCart input[name=region]');
			var flag = 0;
			if(first_name.val() == '') {
				addValidateClass(first_name, message, 0);
				flag++;
			} else{
				addValidateClass(first_name, "Prénom", 1);
			}
			if(last_name.val() == '') {
				addValidateClass(last_name, message, 0);
				flag++;
			} else{
				addValidateClass(last_name, "Nom", 1);				
			}
			if(email.val() == '') {
				addValidateClass(email, message, 0);
				flag++;
			} else{
				addValidateClass(email, "Email", 1);				
			}
			if(mobile.val() == '') {
				addValidateClass(mobile, message, 0);
				flag++;
			} else{
				addValidateClass(mobile, "Numéro de portable", 1);				
			}
			if(address.val() == '') {
				addValidateClass(address, message, 0);
				flag++;
			} else{
				addValidateClass(address, "Adresse 1", 1);				
			}
			if(zipcode.val() == '') {
				addValidateClass(zipcode, message, 0);
				flag++;
			} else{
				addValidateClass(zipcode, "Code postal", 1);				
			}
                        if( zipcode.val().length != 4) {
				addValidateClass(zipcode, 'doit être de 4 caractères', 0);
				flag++;
			} else{
				addValidateClass(zipcode, "Code postal", 1);				
			}
			if(region.val() == '') {
				addValidateClass(region, message, 0);
				flag++;
			}else{
				addValidateClass(region, "Ville", 1);				
			}
			if(email.val() != '') {
				var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
				if(reg.test(email.val()) == false) {
				   email.val('');
			       addValidateClass(email, 'Adresse email invalide', 0);
				   flag++;
				}				
			}
			if(flag > 0) 
				return false;
				
			if(!isShipping()){
				alert("Veuillez choisir une méthode de livraison concernant les articles concernés ci-dessus");
				return false;
			}
			
			if(($('input[name=paytype]').size() > 0) && !$('input[name=paytype]').is(":checked")){
				alert("Veuillez sélectionner un mode de paiement");
				return false;
			}
			
			if(!$('#term').is(":checked")){
				alert("Merci de lire et d'accepter les conditions générales de vente");
				return false;
			}
			
			var pay_method = $('#frmCart input:radio[name=paytype]:checked').val();
			<!--{if $cc_alias}-->
		//	var pay_method = $('#frmCart input:radio[name=paytype]:checked').val();
			
			if ( pay_method == "cc_alias" )
			{
				showPopup('checkout-password');
				return false;
			}
			
			$('#frmCart input[name=cc_alias]').val('0');
			<!--{/if}-->
			
			if ( pay_method == "mastercard" )
			{
				$('#frmCart input:radio[name=paytype]:checked').val("datatrans");
				$('#frmCart input[name=card_type]').val('mastercard');
			}
			
			$('#frmCart input').removeClass('error-input');
			getDeliveryAddress();
			$('#frmCart').submit();
        }
		function getDeliveryAddress(){
			if($('.edit-item-address:visible').length > 0){
				$('.edit-item-address:visible input').each(function(){
					$('#frmCart').append('<input type="hidden" name="' + $(this).attr('name').replace('tmp_','delivery_') + '" value="' + $(this).val() + '"/>');					
				});
			} else{
				$('.profiles-left input[type=text]').each(function(){
					$('#frmCart').append('<input type="hidden" name="delivery_' + $(this).attr('name') + '" value="' + $(this).val() + '"/>');					
				});
			}
		}
	
		
        </script>
<div id="popOverlay" style="display:none"> 
	<!-- Add new address-->
	<div class="profil-warnings6 add-address-form">
		<form name="add-address" action="{$INI['system']['wwwprefix']}/ajax/user.php">
			<div class="warnings-content">
				<h4>Création d’adresse</h4>
				<div class="edit-item-address">
					<input type="text" value="Donnez un nom à cette adresse" name="address_name" class="set-address-input">
					<input type="text" value="Prénom" name="first_name">
					<input type="text" value="Nom" name="last_name">
					<p>
						<input type="text" value="Adresse 1" name="address[]">
						<a class="add-address" href="#"><span>Add</span></a></p>
					<input type="text" value="CP" name="zipcode" class="wth-40">
					<input type="text" value="Ville" name="region" class="wth-195 mrgl-16">
				</div>
				<div class="warnings-bottom">
					<div class="send-btn"><a href="#" onclick="saveAddress(this,'addaddress')">Sauver</a></div>
					<a href="#" class="cancel-link">ANNULER</a> </div>
			</div>
			<div class="close-btn"><span>close</span></div>
		</form>
	</div>
	
	<!-- Checkout page alias topdeal password -->
	<div class="profil-warnings6 checkout-password">
		<form name="chkPasswd" action="{$INI['system']['wwwprefix']}/ajax/user.php" method="post">
			<div class="warnings-content">
				<h4>Pour des raisons de sécurité veuillez entrer votre mot de passe TopDeal</h4>
				<div class="edit-item-address">
					<input name="email" type="hidden" value="{$login_user['email']}" />
					<input type="password" placeholder="Mot de passe" name="password">
				</div>
				<div class="warnings-bottom">
					<div class="send-btn"><a href="javascript:void(0);" class="wth-100">CONTINUER</a></div>
					<a href="#" class="cancel-link">ANNULER</a> </div>
			</div>
			<div class="close-btn"><span>close</span></div>
		</form>
	</div>
	
	<!--Credit info-->
	<div class="apayer-payment credit-card">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par carte de crédit</h5>
				<img src="/static/images/visa2.jpg" width="58" height="37" alt="Virement bancaire">
				<p>Nous acceptons les cartes Visa ou MasterCard. Il vous faut indiquer :</p>
				<br/>
				<div>
					<p>1. Le numéro de carte de crédit</p>
					<p>2. La date de validité</p>
					<p>3. Le cryptogramme visuel qui se trouve au dos de votre carte de crédit (3 ou 4 derniers chiffres)</p>
				</div>
				<br/>
				<p>Le paiement par carte de crédit est sûr. Vos données sont transférées en toute sécurité par le protocole SSL. Il se peut que l’organisme de paiement (Visa par exemple), vous demande des informations supplémentaires, comme par exemple votre mot de passe Visa ou un nombre de votre dernier relevé.</p>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>
	</div>
	<!--Postfinance info-->
	<div class="apayer-payment Postfinance">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par PostFinance</h5>
				<img src="/static/images/postfinance2.jpg" width="58" height="37" alt="Virement bancaire">
				<p>Avec PostFinance, vous pouvez choisir de payer soit avec votre compte e-finance, soit avec votre carte PostFinance. Vous pouvez choisir la méthode qui convient le mieux.</p>
				<p></p>
				<p>En tant que méthode standard de PostFinance, le service e-finance vous permet d’effectuer vos achats sur Internet en toute sécurité. Si vous êtes client chez PostFinance, identifiez-vous avec votre numéro e-finance ainsi que votre mot de passe. Le montant de votre commande sera débité sans frais de votre compte PostFinance</p>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>
	</div>
	<!--Paypal info-->
	<div class="apayer-payment Paypal">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par Paypal</h5>
				<img src="/static/images/paypal2.jpg" width="58" height="37" alt="Virement bancaire">
				<p>En choisissant ce mode de paiement, vous serez automatiquement redirigé vers la page PayPal.</p>
				<br/>
				<div>
					<p>1. Si vous avez déjà un compte PayPal, connectez-vous et confirmez le paiement.</p>
					<p>2. Si vous êtes nouveau, vous pouvez créer un compte PayPal.</p>
				</div>
				<br/>
				<p>La transaction par PayPal peut être simplifiée puisque vos données personnelles et les données de la carte de crédit sont déjà introduites</p>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>
	</div>
	
	<!--Facture info-->
	<div class="apayer-payment Facture">
		<div class="warnings-content">
			<h4>Mode de paiement</h4>
			<div id="back-to-cate"> <a href="payes.php">Retour à la page de paiement</a> </div>
			<div class="payment-logo" style="margin-top: 0;">
				<h5>Payer par facture à 14 jours (Swissbilling)</h5>
				<img src="/static/images/facture.jpg" width="58" height="37" alt="Virement bancaire">
				<p>Il s'agit du paiement sur facture en une ou plusieurs mensualités avec SwissBilling. Avec ce mode de paiement, vous devez indiquer uniquement votre adresse privée. Il n’est pas possible d’être livré à un autre endroit. Le montant maximum pour votre commande est de 500.- CHF. Il se peut que le paiement vous soit refusé si vous avez déménagé récemment ou pour d'autres raisons. N'hésitez pas à nous appeler au 021 691 30 00 en cas de question.</p>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>
	</div>
	<!-- Payment fail popup-->
	<div class="profil-warnings2 payes_error">
		<div class="warnings-content">
			<h4>Ooops. Un petit problème est survenu lors du payement de votre achat.</h4>
			<p class="min-height-127">Pas de panique! Tentons ensemble de trouver la solution et l’origine de l’erreur.<br>
				Appelez-nous au 021 691 30 00 ou envoyez-nous un<br>
				email à <a href="#">support@topdeal.ch.</a></p>
			<div class="warnings-bottom">
				<div class="account-deleted"><a href="#">Fermer</a></div>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>
	</div>
	<!-- Payment successful popup-->
	<div class="profil-warnings6 payes_ok">
		<div class="warnings-content">
			<h4>Votre achat a été effectué avec succès!<br>
				Merci beaucoup de votre confiance.<br>
				Un email de confirmation a été envoyé à votre email <a href="#">mc@relaxintheair.com</a>.</h4>
			<div class="min-height-80 clearfix">
				<ul class="social-popup">
					<li><a href="#"><img src="/static/images/facebook-icon-03.png"></a></li>
					<li><a href="#"><img src="/static/images/twitter-icon-03.png"></a></li>
					<li><a href="#"><img src="/static/images/email-icon-03.png"></a></li>
				</ul>
				<p>Partagez votre achat et gagnez des crédits!</p>
			</div>
			<div class="warnings-bottom clearfix">
				<div class="send-btn"><a href="#">Fermer</a></div>
			</div>
		</div>
		<div class="close-btn"><span>close</span></div>
	</div>
</div>
<script type="text/javascript">	
	Array.prototype.max = function(comparer) {

		if (this.length === 0) return null;
		if (this.length === 1) return this[0];

		comparer = (comparer || Math.max);

		var v = this[0];
		for (var i = 1; i < this.length; i++) {
			v = comparer(this[i], v);    
		}

		return v;
	}
	
	var total = $('.total-paid .purchase-total h3');

	$('#purchase-list .shippings-option input[type=radio]').click(function(event){
		event.stopPropagation();
		hideShipping(this);
		var totalAmount = parseInt($('#total-amount').val());
		var type = $(this).val();		
		var fare = $(this).parents('.shippings').find('.purchase-total .shipping-fare');
		if(type == 'express') {
			fare.show();
		} else {
			fare.hide();
		}		
		var newTotal = totalAmount + getFees();
		var ep_total = parseInt($('input[name=fare-total]').val());
		if(ep_total > getFees()){		
			newTotal = totalAmount;
		}else{
			newTotal = totalAmount - ep_total + getFees();
		}		
		
		total.html(newTotal + "<span>CHF</span>");
	});
	function getFees(){
		if($('#purchase-list .fare-value:visible').length > 0){
			var feeArr = [];
			$('#purchase-list .fare-value:visible').each(function(){
				feeArr.push(parseInt($(this).text()));
			})
			return feeArr.max();
		}
		return 0;
	}
	/*
	var total = $('.total-paid .purchase-total h3');
	var totalAmount = parseInt(total.text().match(/\d+/)[0]);
	$('#purchase-list').on('click','.shippings-option input[type=radio]', function(){
		var type = $(this).val();
		var dealId = $(this).attr('deal_id');
		var fee = parseInt($(this).parents('.shippings').find('.purchase-total').text().match(/\d+/)[0]);
		var iDisplay = isFared(dealId);
		if(type == 'express') {
			var newTotal = totalAmount + fee;
			total.html(newTotal + "<span>CHF</span>");
			if (iDisplay <= 1)
				$(this).parents('.shippings').find('.purchase-total .shipping-fare').fadeIn();
		} else {
			if(iDisplay <= 0)
				total.html(totalAmount + "<span>CHF</span>");
			if(iDisplay == 1) 
				$('input:radio[value=express]:checked').parents('.shippings').find('.purchase-total .shipping-fare').fadeIn();
			$(this).parents('.shippings').find('.purchase-total .shipping-fare').fadeOut();
		}
	});
	
          var timeleft = parseInt(${$order['create_time']+600 - time()});
	  function countdown(){
		if(timeleft <= 0) {			
			try{
				clearTimeout(timer);
				alert("Nous n'avons malheureusement pas pu réserver votre panier plus longtemps afin de ne pas bloquer ces quantités pour d'autres clients. Nous vous invitons donc à recommencer la procédure de commande.");
				$(window).off('beforeunload');
				top.location.href = "/index.php";
			} catch(e){
				alert("Nous n'avons malheureusement pas pu réserver votre panier plus longtemps afin de ne pas bloquer ces quantités pour d'autres clients. Nous vous invitons donc à recommencer la procédure de commande.");
				$(window).off('beforeunload');
				top.location.href = "/index.php";
			}			
			return;
		}
		timeleft--;
		var m = Math.floor(timeleft/60);
		var s = Math.round(timeleft%60);
		renderCountdown(m, s);
		timer = setTimeout(countdown,1000);
	  }
	  function renderCountdown(m, s){
		$(".basket-timer").html("<span>Votre panier est encore réservé:</span> " + m + "m " + s + "s");
	  }               
                 
	  
	  (function(){
		$(window).on('beforeunload', function() {
			if(/Firefox[\/\s](\d+)/.test(navigator.userAgent) && new Number(RegExp.$1) >= 4) {				
				if(confirm("Attention, en quittant cette page, votre commande sera perdue")) {
					history.go();
				} else {
					window.setTimeout(function() {
						window.stop();
					}, 1);
				}
			} else {
				return "Attention, en quittant cette page, votre commande sera perdue";
			}			
		});
	  })()
	  
	  countdown();
		$(document).ready(function(){
	$('.checkout-password .send-btn a').click(function(e){
		e.preventDefault();
		var loginForm = $('#frmCart');
		var url = 'https://www.topdeal.ch/ajax/validator.php';
		var email = $('.checkout-password input[name=email]');
		var pass = $('.checkout-password input[type=password]');
		var data = {
			'email': email.val(),
			'password': pass.val(),
			'n':'prelogin'
		}
		$.post(url, data, function(data){
			if(data.data == 100) {
				email.addClass('error-input');
				email.val('Utilisateur inconnu');
				pass.removeClass('error-input');
			}
			else if(data.data == 200) {
				email.removeClass('error-input');
				pass.addClass('error-input');
				pass.attr('placeholder','Mot de passe erroné');
				pass.focus();
			}
			else if(data.error == 0) {
				pass.removeClass('error-input');
				$("input[name=cc_alias]").val(1);
				$("input[name=paytype]").val("datatrans");
				loginForm.submit();
			}
		}, 'json');	
	});
	$('.checkout-password').submit(function(){
		$('.checkout-password .send-btn a').trigger('click');
		return false;
	})
})	  

function isFared(dealId){
	var i = 0;
	$("input:radio[deal_id=" + dealId + "]").each(function(){
		if($(this).val() == 'express') {
			if($(this).is(":checked")) {
				i++;
			}
		}
	});
	return i;
}
	  
function isShipping(){
	var i = 0;
	if($("input:radio[value=express], input:radio[value=pickup]").length > 0) {
		var len = $("tr.shippings:visible input:radio[value=express], tr.shippings:visible input:radio[value=pickup]").length;
		$("tr.shippings:visible input:radio[value=express],tr.shippings:visible input:radio[value=pickup]").each(function(){		
			if($(this).is(":checked")) {
				i++;
			}		
		});
		if(i < (len/2)) 
			return false;
	}
	return true;
}

function hideShipping(obj){
	var id = $(obj).attr('deal_id');	
	var inputSelector = 'input[deal_id='+ id +']';
	var val = $(obj).val();
	$(inputSelector).each(function(){		
		if($(this).val() == val) {		        
			$(this).attr('checked',true);
	    } else{
			$(this).attr('checked',false);
		}
	})
	$('tr[dealid="'+ id +'"]').not($(obj).parents('.shippings')).hide();
}	
*/
function checkout(){
	var params = "/team/checkout.php?";
	$('.delivery_choice').each(function(){
		params += $(this).attr('name') + '=' + $(this).val() + '&';
	});
  name = '';
  last_name = '';
  $('.gift_coupon_basket').each(function(){

              id_r = $(this).attr('id').split('gift_');
              id = id_r[1];

              if($(this).prop('checked')){
                     // team_id = $('#gift_name_'+id).attr('team_id');
                     // option_id = $('#gift_name_'+id).attr('option_id');
                     name = $('#gift_name_'+id).val();
                     last_name = $('#gift_last_name_'+id).val();
               }

   });
   if(name != ''){
       params += 'name=' + name + '&last_name='+last_name;
   }
	top.location.href = params;
}
$(document).ready(function(){
	$('#payer_commande').click(function(e){
		e.preventDefault();
                if($('.delivery_choice').length > 0){
                   
                    if(!$('.delivery_choice').is(':checked')){
                    	alert("Veuillez sélectionner une méthode de livraison pour l'article choisi");
			return false;
                    } 
                }
		
                
		checkout();
	});
	if(isMobile()){
		$('.hide-mobile').remove();
	}else{
		$('.hide-desktop').remove();
	}
});
</script>