<!--{loop $orders $index $one}-->
<h2 class="the-title">${date('d.m.Y',$one['create_time'])}</h2>
<div class="order-item">
	<div class="row infobar">
		<div class="col-md-3 col-sm-7 col-xs-7">
			<p><strong>No. commande:</strong>
			</p>
			<p><strong>Montant d’achat:</strong>
			</p>
		</div>
		<div class="col-md-2 col-md-pull-1 col-sm-4  col-xs-4 text-right">
			<p>{$one['id']}</p>
			<p>CHF {$one['money']}.-</p>
		</div>
		<div class="col-md-3 pull-right pull-left-sm text-right">
			<a target="_blank" href="/order/view.php?id={$one['id']}" class="bill-btn">Facture</a>
		</div>
	</div>
	<div class="row">
		<!--{loop $order_items[$one['id']] $index_item $one_item}-->
		<div class="col-md-6 deal-box">
			<div class="title">
				<!--{if $one_item['option_id']}-->
				{$options[$one_item['option_id']]['title']} >
				<!--{else}-->
				{$teams[$one_item['team_id']]['title']} >
				<!--{/if}-->
				<a href="<!--${echo ZTeam::GetTeamUrl($teams[$one_item['team_id']],true)}-->" data-toggle="tooltip" data-placement="top" title="Go to deal detail">voir</a>
				<span> ...</span>
			</div>
			<div class="pix-frame">

				<img src=<!--{if $one_item[ 'option_id']}-->"${team_image($options[$one_item['option_id']]['image'], true)}"
				<!--{else}-->
				"${team_image($teams[$one_item['team_id']]['image'], true)}"
				<!--{/if}-->class="img-responsive" alt="Responsive image">
				
				<!--${$expire_time_condition = true}-->
				
				<!--{if $one_item['delivery']=='coupon' || $one_item['delivery'] == 'pickup'}-->
				<!--{loop $coupons[$one_item['id']] $one_coupon}-->
				
				
				<!--{if $one_item['delivery']=='coupon' }-->
				         <!--${$expire_time_condition = false}-->
						 <!--{if $one_coupon['expire_time'] >= time() }-->
							<!--${$expire_time_condition = true}-->							
						 <!--{/if}-->
				<!--{/if}-->
				
				<!--{if $one_coupon['consume'] != 'Y' && $expire_time_condition}-->


				<a href="/coupon/print.php?id={$one_coupon['id']}" class="print-order"><span class="sr-only">Print order</span></a>
				<?php break; ?>
				<!--{/if}-->
				<!--{/loop}-->
				<!--{/if}-->
			</div>
			<!--${$expire_time_condition = true}-->
			<!--{if $one_item['delivery']=='coupon' || $one_item['delivery'] == 'pickup'}-->
			<!--{loop $coupons[$one_item['id']] $one_coupon}-->
			
			<!--{if $one_item['delivery']=='coupon' }-->
				         <!--${$expire_time_condition = false}-->
						 <!--{if $one_coupon['expire_time'] >= time() }-->
							<!--${$expire_time_condition = true}-->							
						 <!--{/if}-->
				<!--{/if}-->
				
				<!--{if $one_coupon['consume'] != 'Y' && $expire_time_condition}-->

			<div class="text-center"><a href="/coupon/print.php?id={$one_coupon['id']}" class="coupon-btn">Voir mes bons</a></div>
			<?php break; ?>
			<!--{/if}-->
			<!--{/loop}-->
			<!--{/if}-->

			<!--{if $one_item['delivery'] != 'coupon'}-->
			<div class="order-status <!--{if $one_item['delivery_status'] == ZOrder::ShipStat_Delivered || $one_item['delivery_status']==ZOrder::ShipStat_Available || $one_item['delivery_status'] == ZOrder::ShipStat_PickedUp}--> success<!--{else}-->process<!--{/if}-->">
				<h5>Status</h5>
				<p>

					<!--{if $one_item['delivery_status'] == ZOrder::ShipStat_Available && $one_item['delivery'] == 'pickup'} -->
					Votre commande peut être retirée
					<!--{else if $one_item['delivery_status'] == ZOrder::ShipStat_Delivered}-->
					Commande expédiée le ${date('d.m.Y', $one_item['delivery_time'])}
					<!--{else if $one_item['delivery_status'] == ZOrder::ShipStat_PickedUp}-->
					Retrait effectué le ${date('d.m.Y', $one_item['delivery_time'])}
					<!--{/if}-->
					<!--{if $one_item['delivery_status'] == ZOrder::ShipStat_Waiting && $one_item['delivery'] == 'express'} -->
					Date de livraison estimée ${date('d.m.Y', $one_item['delivery_time'])}
					<!--{else if $one_item['delivery_status'] == ZOrder::ShipStat_InPrep && $one_item['delivery'] == 'express'} -->
					Date de livraison estimée ${date('d.m.Y', $one_item['delivery_time'])}
					<!--{else if $one_item['delivery_status'] == ZOrder::ShipStat_Waiting && $one_item['delivery'] == 'pickup'}-->
					Date de retrait estimée ${date('d.m.Y', $one_item['delivery_time'])}
					<!--{/if}-->
				</p>
			</div>

			<!--{/if}-->

			<!--{if $one_item['delivery']=='coupon' && $coupons[$one_item['id']][0]['consume'] != 'Y' && $coupons[$one_item['id']][0]['expire_time'] > time() }-->
			<div class="order-status success">
				<h5>Status</h5>
				<p>
					Valable jusqu’au <span><!--{if $one_item['delivery'] != 'pickup'}-->${date('d.m.Y',$coupons[$one_item['id']][0]['expire_time'])}<!--{/if}--> 
                                                                                </p>
								</div> 
								<!--{/if}-->
								</div>
                                                             <!--{/loop}-->
								
							</div>							
						</div>
						
						<!--{/loop}-->