<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>
			<li><a href="/account/settings.php">Profil</a></li>
			<li><a href="/account/refer.php">Crédits</a></li>
			<li><a href="#">Achats</a>
				<ul>
					<li class="first-row"><a href="/order/index.php">Payés</a></li>
					<li><a href="apayes1.php">A payer</a></li>
				</ul>
			</li>
			<li class="current"><a href="#">Bons</a>
                            <ul>
                                ${current_coupon_sub($selector)}
                            </ul>
			</li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div id="purchase-list">
	<div id="back-to-cate"> <a href="payes.php">Retour aux achats payés</a> </div>
		<table>
			<tr class="first-row">
				<th colspan="4">
					<span class="purchase-date">Achat payé le 16.07.2012</span>
					<p>Commande n&deg; 55247</p>
					<span class="payable-text">Valable jusqu’au <span>21.03.2013</span></span>
					<h4>Vol en parapente biplace</h4>
				</th>
			</tr>
			<tr>
				<td class="purchase-product">
					<img src="/static/images/thumb-08.jpg" width="114" height="46" alt="Vol en parapente biplace" />
				</td>
				<td class="purchase-quantity">2x</td>
				<td class="purchase-price">110<span>CHF</span></td>
				<td class="purchase-total">220<span>CHF</span></td>
			</tr>
			<tr class="shippings">
				<th colspan="4">
					<p class="georgia-italic">Pour bénéficier de votre prestation, <a href="#">imprimez votre bon</a> et présentez-le chez le partenaire.<br />Bon: <strong>13442786 - LNIXSK</strong></p>
				</th>
			</tr>
			<tr class="promo-code">
				<th colspan="3">Code Promo TOPDEALsummer12</th>
				<th class="purchase-total">-5<span>CHF</span></th>
			</tr>
			<tr class="credit-deducted">
				<th colspan="3">Crédits déduits</th>
				<th class="purchase-total">-15<span>CHF</span></th>
			</tr>
			<tr class="total-paid">
				<th colspan="3"><h4>Total payé par Paypal:</h4></th>
				<th class="purchase-total"><h3>209<span>CHF</span></h3></th>
			</tr>
		</table>
	</div>
	<!-- #purchase-list -->
	<div id="purchase-info">
		<table>
			<tr>
				<th width="50%"><h4>Facturé à</h4></th>
				<th width="50%"><h4>Offert à</h4></th>
			</tr>
			<tr>
				<td>MC Cabral<br />80 rue Ancienne<br />1227 Lausanne</td>
				<td>John Bourrejoin<br />10 rue du Mandemant<br />1007 Lausanne</td>
			</tr>
		</table>
	</div>
	<!-- #purchase-info -->
	<div class="print-invoice">
		<a href="#">Imprimer votre bon</a>
	</div>
	<!-- .credits-bottom -->
</div>
