<style>
.delete-item{cursor: pointer;}
</style>
<div class="container-fluid deal-header">
	<div class="container">
		<div class="row page-title">
			<h1 class="product-options-title">Choisissez votre option pour:<br />{$team['title']}</h1>
		</div>
	</div>
</div>
<div class="container-fluid grey-block">
	<div class="container">
		<div class="product-list">


			<!--{loop $multi $index $one}-->	
			<!--  {if $index == 0 } -->
			<div class="row">
				<!-- {/if} -->
<?php 
$isCashBack=false;
$creditBackAmount = '';
?>
<!--{if $one['is_cash_back_allowed']}-->
	<!--{if cashBackCredit($one)}-->
		<!--{if cashBackLeftTime($one)}-->
		<?php 
			$isCashBack=true; 
			$creditBackAmount = "| Credit back de CHF ".$one['cb_amount'].".- ";
		?>
		<!--{/if}-->
	<!--{/if}-->
<!--{/if}-->

<!--  {if !$isCashBack } -->
	<!--{if $team['is_cash_back_allowed']}-->
		<!--{if cashBackCredit($team)}-->
			<!--{if cashBackLeftTime($team)}-->
			<?php $creditBackAmount = "| Credit back de CHF ".$team['cb_amount'].".- "; ?>
			<!--{/if}-->
		<!--{/if}-->
	<!--{/if}-->
<!--{/if}-->				
				<div class="col-md-4 product-item<!--{if $one['soldout']}--> product-soldout<!--{/if}-->">
					<h3>
							<span>{$one['title']}</span><br />							 
					</h3>
					<div class="price">
						<strong>Prix TopDeal :</strong>
						<br />
						<strong>CHF ${moneyit($one['team_price'], true)}</strong> 
										<!--  {if $creditBackAmount } -->
											{$creditBackAmount}
										<!--{else}-->
											<!--  {if $one['market_price'] != $one['team_price'] } -->
												au lieu de CHF ${moneyit($one['market_price'], true)}
												<!--{else}-->
													Offre spéciale	
											<!-- {/if} -->	
									<!-- {/if} -->
					</div>
					
					<?php #echo'<pre>';print_r($two);?>
					
					
					<div class="img-thumbnail">
					
					
							<?php 
							if(isParentOption($one['id']))
							{
							?>
								<img width="279" height="185" src="<?php echo team_image($one['image']); ?>" alt=""  />
							<?php
							}else{
							?>
							<img width="279" height="185" class="deal-box" src="<?php echo team_image($one['image']); ?>" alt="" onclick="add_to_basket('<?php echo $one['team_id']?>','<?php echo $one['id']?>')"  />
							<?php
							}
							?>
						
						
					</div>
					<!--${$sub_options = false}-->
					<!--{loop $subs $index2 $two}-->
					<!--  {if $two['parent_option_id']==$one['id'] } -->
					<!--${$sub_options = true}-->
					<!-- {/if} -->
					<!--{/loop}-->
					<!--{if $one['soldout'] }-->
					<p>Epuisé</p>
					<!--{else}-->

					<!--${ //SOLD OUT LOGIC} -->
					<!--${$totalItem = 0}-->
					<!--${$soldoutStock = 0}-->
					<!--  {if $sub_options === true } -->
					<!--{loop $subs $index_two $two}-->
					<!--  {if $two['parent_option_id']==$one['id'] } -->
					<!--${$totalItem++;}-->
					<!--{if $two['soldout']}-->
					<!--${$soldoutStock++;}-->
					<!-- {/if} -->
					<!-- {/if} -->
					<!--{/loop}-->
					<!--{else}-->
					<!--{if $one['soldout']}-->
					<!--{else}-->
					<!--${$soldoutStock = 1}-->
					<!--{/if}-->
					<!--  {if $totalItem==$soldoutStock } -->
					<div class="add-cart out">epuisé</div>
					<!--{else}-->
					<div class="text-center"><a href="#"  class="add-cart" data-price="${moneyit($one['team_price'], true)}" data-value="{$one['id']}" onclick="add_to_basket('<?php echo $one['team_id']?>','<?php echo $one['id']?>')">Choisir</a></div>
					<!--{/if}-->
					<!-- {/if} -->


					
					<!--{/if}-->

					<!--  {if $sub_options === true } -->
					<!--  {if $totalItem!=$soldoutStock } -->						
						<div class="multi-options clearfix">
							<!--{loop $subs $index_two $two}-->
							<!--  {if $two['parent_option_id']==$one['id'] } -->
							<!--{if $two['soldout']}-->							
							<div class="add-cart out"  data-price="${moneyit($two['team_price'], true)}" data-value="{$two['id']}" title="{$two['title']}">épuisé</div>
							<!--{else}-->
							<a href="#" class="add-cart" onclick="add_to_basket('<?php echo $two['team_id']?>','<?php echo $two['id']?>')" data-price="${moneyit($two['team_price'], true)}" data-value="{$two['id']}" title="{$two['title']}">{$two['title']}</a>
							<!-- {/if} -->
							<!-- {/if} -->
							<!--{/loop}-->
						</div>
<!--- this code is added due to option hide when all item sold out-->						
					  <!--{else}-->
						<div class="multi-options clearfix">
							<!--{loop $subs $index_two $two}-->
							<!--  {if $two['parent_option_id']==$one['id'] } -->
							<!--{if $two['soldout']}-->							
							<div class="add-cart out"  data-price="${moneyit($two['team_price'], true)}" data-value="{$two['id']}" title="{$two['title']}">épuisé</div>
							<!--{else}-->
							<a href="#" class="add-cart" onclick="add_to_basket('<?php echo $two['team_id']?>','<?php echo $two['id']?>')" data-price="${moneyit($two['team_price'], true)}" data-value="{$two['id']}" title="{$two['title']}">{$two['title']}</a>
							<!-- {/if} -->
							<!-- {/if} -->
							<!--{/loop}-->
						</div>
<!---//this code is added due to option hide when all item sold out-->							
					<!-- {/if} -->
					<!-- {/if} -->
				</div>

				<!--{if $index!=0 && ($index+1)%3 == 0}-->
			</div>
			<div class="row">
				<!--{/if}-->

				<!--{/loop}-->


			</div>
		</div>
		<!-- Hot deal -->
		<div id="pls-w8" style="display:none">Please wait...</div>
		<div id="error-msg" ></div>
		<div class="container-fluid" id="temp-basket" style="background-color: #fff;">
			<div class="container">
				<div class="row" id="basket_rows" style="display:none">
					<div class="col-md-9 col-md-push-3">
						<div class="checkout-list">
							<div class="row checkout-list-top hidden-sm hidden-xs">
								<div class="col-md-4">Article</div>
								<div class="col-md-2"></div>
								<div class="col-md-2">Prix <span>(CHF)</span></div>
								<div class="col-md-2">Quantité</div>
								<div class="col-md-2 text-left">Total <span>(CHF)</span>
								</div>
							</div>

							<div id="basket" class="row"></div>
							
							<div class="row basket-total">
								<div class="col-md-12">
									<div class="total-block">
										Total (CHF): <span id="basket_total">0</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container mrb-25">			
			<form id="frmAcheter" action="/basket.php" method="get">
				<input type="hidden" name="team_id" value="{$team['id']}" />
				<input type="hidden" name="action" value="add" />
				<input type="hidden" name="mode"/>
				<input id="option_id" type="hidden" value="0" name="option_id" />
				<input type="hidden" name="deal_option" />
			</form>
			<div class="text-right">
				<a class="submit-02" href="<!--${echo ZTeam::GetTeamUrl($team)}-->">Retour</a>
				<a class="submit-01" href="#" id="submit_option">Ajouter au panier</a>
			</div>
		</div>
		<script type="text/javascript">
			var team_multi_id_array = new Array();
			
			function add_to_basket(team_id,team_multi_id)
			{
				//check user is login or not if not logged in then redirect to login page 
				var isLogin = ajaxIsUserLoggedIn('ajax/is_loggedin_user.php');
				if (isLogin <= 0)
				{
					$('#pls-w8').hide();
					goToLoginPage();
				}
				else
				{
					//scroll down once added into basket
					//$('html, body').animate({ scrollTop:  $("div#scrol").offset().top - 50 }, 'slow');
					
					$('#pls-w8').show();
					var d = new Date();
					var n = d.getTime();
					var action_url = '/basket.php?'+n;
					var postData = '';
					var exist = jQuery.inArray( team_multi_id, team_multi_id_array );

					if ( exist < 0){
						team_multi_id_array.push( team_multi_id );
						
						postData = {
								team_id: team_id,
								option_id: 	team_multi_id,
								action:'addtobasketviaajax',
								mode:'buy',
								deal_option:''
								
						};
						
						$.ajax({
							type:'POST',
							url: action_url,
							data: postData,
							dataType: "html",
							async: true,
							cache: false,
							success: function(response) 
							{
								$('#error-msg').removeClass('alert alert-danger');
								$('#error-msg').html('');
								response = jQuery.parseJSON(response);
								//if success
								if(response.success)
								{
									$('#option_id').val(team_multi_id);
									add_to_pre_basket(team_multi_id);
								}
								
								if(response.error)
								{
									$('#pls-w8').hide();
									team_multi_id_array.splice( $.inArray(team_multi_id, team_multi_id_array), 1 );	
									
									$('#error-msg').addClass('alert alert-danger');
									$('#error-msg').html(response.error);
								}
							}
						});
						
					}
					else
					{
						$('#pls-w8').hide();
					}
					
			    }
				//scroll down once added into basket	
				$("html, body").animate({ scrollTop: $('#temp-basket').offset().top }, "slow");
			}
			
			function add_to_pre_basket(team_multi_id)
			{
				var basket_total = 0;
				var action_url = 'ajax/pre_basket.php';
				postData = {
							team_multi_id: 	team_multi_id,

					};
				
				$.ajax({
						type:'POST',
						url: action_url,
						data: postData,
						dataType: "html",
						async: false,
						cache: false,
						success: function(response) 
						{
							$('#pls-w8').hide();
							if(response)
							{
								$('#basket_rows').show();
								$('#basket').append(response);
							}
							else
							{
								$('#error-msg').addClass('alert alert-danger');
								$('#error-msg').html('<p>Inventory does not exist.</p>');
							}
						}
					});
				sumAmount();
			}
			
			$(document).on('click','.removeButton',function() {
				
				//check user is login or not if not logged in then redirect to login page 
				var isLogin = ajaxIsUserLoggedIn('ajax/is_loggedin_user.php');
				if (isLogin <= 0)
				{
					$('#pls-w8').hide();
					goToLoginPage();
				}
				else
				{
				
					con = confirm("Do you really want to remove this item ?");
				   if(con)
				   {
						var team_id = $(this).attr('team_id');
						var id = $(this).attr('id');
						var option_id = $(this).attr('option_id');
						
						var teamPrice = $('#basket-price-'+id).html();
			
						var basketTotal = $('#basket_total').html();
						
						var item_mode ='buy';
		
						data = {
								action: 'remove',
								team_id:team_id,
								mode: item_mode,
								ajax: '1'
						};
						
						if(option_id != 0)
						{
							 data.option_id = option_id;
						}
						
						var d = new Date();
						var n = d.getTime();
						
						url = "/basket.php?"+n;
						
						$.post( url, data, function( response ) {
							$('#'+id).remove();
							team_multi_id_array.splice( $.inArray(id, team_multi_id_array), 1 );
							$('#basket_total').html(basketTotal - teamPrice);
							if ($('#basket_total').html() <= 0)
							{
								$('#basket_rows').hide();
								//window.location.href = '/index.php';
							}
							if( team_multi_id_array.length <= 0){
								$('#option_id').val(0);
							}
						});
					}
				}	
			});
			
			jQuery(document).ready(function ($) {
				//Make basket full width				
				if(!isMobile()){
					var mr = ($(window).width() - $("#temp-basket").width())/2;
					$("#temp-basket").css('margin', '0 -'+ mr + 'px');
				}
				$('#basket_rows').hide();
				
				$('#submit_option').on("click", function () {
					if ($('#option_id').val() == "0") {
						alert("Veuillez sélectionner l'option souhaitée");
					} else {
						$('input[name=mode]').val('buy');
						 updateBasketTimer();
						 //window.location.href = '/basket.php';
						
					}
				});
				$('.add-cart').click(function(e){
					e.stopPropagation();
					e.preventDefault();
					$('#option_id').val($(this).attr('data-value'));
					$('input[name=mode]').val('buy');
				});
				$('.price-change').on("click", function () {
					price = $(this).attr('price');
					if (!$(this).attr('sub_options')) {
						$('#option_id').val($(this).val());
						//$('#total').html(parseFloat(Math.round(price * 100) / 100).toFixed(2));
						$('#total').html(price);
					}
				});
				$('.option-select').on("change", function () {
					//alert($(this).find(':selected').attr('price'));
					if ($(this).find(':selected').attr('price') != 0) {
						selected = $(this).find(':selected');
						price = selected.attr('price');
						$('#option_id').val(selected.val());
						// $('#total').html(parseFloat(Math.round(price * 100) / 100).toFixed(2));
						$('#total').html(price);
						$(this).parent().prev('.radio-box').children('.option').children('input').prop('checked', true);
					}
				});

				$('.img-thumbnail').click(function () {
					$(this).next().find('input').click();
				});
				$('#mobile-category').removeClass('home');
				
			});
//////////////////////////////////////////////////multi_option js/////////////////////////////////////////////////////////////////			
			$(document).on('click','.add-icon',function() 
			{
				//check user is login or not if not logged in then redirect to login page 
				var isLogin = ajaxIsUserLoggedIn('ajax/is_loggedin_user.php');
				if (isLogin <= 0)
				{
					$('#pls-w8').hide();
					goToLoginPage();
				}
				else
				{
				
					id = $(this).attr('id');
					var price = parseFloat($('#basket_quantity_'+id).attr('price'));
					var currentVal = parseInt($('#basket_quantity_'+id).val());

					if(isNaN(currentVal)) currentVal = 0;
					currentVal += 1;
					if($('#basket_quantity_'+id).attr('maxbuy')) { maxValue = $('#basket_quantity_'+id).attr('maxbuy'); }
					if(currentVal > maxValue) return;
					$('#basket_quantity_'+id).val(currentVal);
					$('#quantity_box_'+id).html(currentVal);
					$('#basket-price-'+id).html(price*currentVal);
					$('#basket_quantity_'+id).trigger('change');
					sumAmount();
				}	
			});
			
			//$('.except-icon').on( "click", function() 
			$(document).on('click','.except-icon',function() 
			{
				//check user is login or not if not logged in then redirect to login page 
				var isLogin = ajaxIsUserLoggedIn('ajax/is_loggedin_user.php');
				if (isLogin <= 0)
				{
					$('#pls-w8').hide();
					goToLoginPage();
				}
				else
				{
				
					id = $(this).attr('id');
					var currentVal = parseInt($('#basket_quantity_'+id).val());
					var price = parseFloat($('#basket_quantity_'+id).attr('price'));
					
					if(isNaN(currentVal)) {
							$('#basket_quantity_'+id).val(1);
							$('#basket-price-'+id).text(price);
							return;
					}
					currentVal -= 1;
					if(currentVal < 1) return;
					$('#basket_quantity_'+id).val(currentVal);
					$('#quantity_box_'+id).html(currentVal);
					$('#basket-price-'+id).html(price*currentVal);
					$('#basket_quantity_'+id).trigger('change');
					sumAmount();
				}	
			});
			
			
			//$('.basket_quantity').change(function()
			$(document).on('change','.basket_quantity',function() 
			{
				var self = this;
				var d = new Date();
				var n = d.getTime();
				//$.post('{$INI['system']['wwwprefix']}/basket.php',{
				$.post(top.location.protocol + "//" + top.location.host + '/basket.php?'+n,{
					action: 'update',
					team_id: $(self).attr('teamid'),
					mode: $(self).attr('mode'),
					quantity: $(self).val(),
					price: $(self).attr('price'),
					option_id: $(self).attr('option')
				},function(){
					//var amount = parseInt($(self).attr('price')) * parseInt($(self).val());
					//$(self).parents('li').find("#amount").html(amount);
				});					
			});
			
			function sumAmount()
			{
				var basket_total = 0;
				$('.basket_price').each(function() {
								basket_total += Number( $(this).html() );
				});
				var basket_total = basket_total.toFixed(2);
				$('#basket_total').html(basket_total);
			}
			 
			
			function updateBasketTimer()
			{
				var action_url = 'ajax/update_basket_timer.php';
				
				var totalPreBasketItems = $( ".allPreBasketItems" ).length;
				
				postData = {
							totalPreBasketItems: totalPreBasketItems,

					};
				
				$.ajax({
						type:'POST',
						url: action_url,
						data: postData,
						dataType: "html",
						async: false,
						cache: false,
						success: function(response) 
						{
							if(response)
							{
								window.location.href = '/basket.php';
							}
						}
					});
				sumAmount();
			
			}

		</script>
		
		