<div id="primary">
	<h2 class="pages-title">A propos</h2>	
	<div class="page-content">
		<p>TopDeal a été fondé durant l'été 2011 par deux jeunes Romands qui ont fait mûrir leur idée sur le site de l'EPFL et plus particulièrement dans les espaces de travail du Rolex Learning Center. Aujourd'hui c'est une dizaine de collaborateurs qui ont rejoint l'aventure.<br />TopDeal propose sur son site internet TopDeal.ch un système innovant d’achats groupés reposant sur une offre exclusive par jour dans la région de Suisse Romande. Il permet notamment de substantielles réductions sur des nuits d'hôtel, des voyages, des établissements de bien-être ou encore des repas dans des restaurants prestigieux et bien plus encore.<br />De plus, TopDeal innove en faisant participer les internautes à l'apport d'idée pour des offres futures et les récompense en conséquence.<br />Notre philosophie est de constamment rechercher des offres de qualité pour nos clients tout en promouvant nos partenaires. Notre vision du futur est enthousiasmante et nous espérons partager notre aventure avec le plus de monde possible!</p>
	</div>	
</div>
