<!--{loop $teams $index $one}-->
<!--{if $index%3 == 0 }-->
<div class="row">
  <!--{/if}-->
        <div class="col-md-4 col-xs-12">
            ${deal_box($one)}
        </div>
<!--{if $index%3 == 2  }-->
</div>
<!--{/if}-->
<!--{/loop}-->