<!--${$cat_name = strtolower(array_search($cat_deal, $category_deals))}-->
<div class="deal-box hidden-lg hidden-md">
	<div class="title">
		<a href="<!--${echo ZTeam::GetTeamUrl($cat_deal)}-->" data-toggle="tooltip" data-placement="top" title="{$cat_deal["title"]}">{$cat_deal["title"]}</a>
	</div>
	<div class="pix-frame">
		<a href="/deals/{$cat_name}"><img src="${team_image($cat_deal['image'], true)}" class="img-responsive" alt="{$cat_deal["title"]}" title="{$cat_deal["title"]}"></a>
	</div>
	<a class="m-offer" href="/deals/{$cat_name}">Voir toutes les offres</a>
</div>