<!-- Main menu-->
<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">ACHAT</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row checkout-step step03">
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-01 active">1. <small class="hidden-sm hidden-xs">Contrôle de ma commande</small></span> </div>
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-02 active">2. <small class="hidden-sm hidden-xs">Choix de la livraison et du paiement</small></span> </div>
				<div class="col-md-4 col-sm-4 col-xs-4"> <span class="step-03 active">3. <small class="hidden-sm hidden-xs">Paiement et conﬁrmation</small></span> </div>
			</div>
			<div class="row text-center	conform-purchase padt-20 padb-20">
				<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">				
						<h2 class="the-title">Confirmation</h2>				
						<p>Félicitations! Votre commande est désormais passée.</p>
						<img class="thumb" src="{$INI['system']['wwwprefix']}/static/images/thumb.png"/>
						<p>L’équipe de Topdeal va se charger de vous préparer tout ça. Vous pouvez sans autre consulter l’onglet <strong>&laquo; Mes achats &raquo;</strong> dans votre compte, aﬁn de consulter à tout moment l’état de votre commande ou pour accéder à l’impression de vos bons.</p>
						<p>Un email de conﬁrmation avec un récapitulatif et les instructions vous a été envoyé</p>					
						<a href="{$INI['system']['wwwprefix']}/order/index.php" class="submit-01">Mes achats</a>
						
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Hot deal -->