﻿<div id="primary">
	<h2 class="pages-title">Proposer un deal</h2>
	<div class="proposer-deal">
		<table>
			<tr>
				<td><input type="text" value="Titre du deal" name="title" /></td>
			</tr>
			<tr>
				<td><select name="city_id">
						${Utility::Option(Utility::OptionArray($allcities, 'id','name'), $team['city_id'], 'all cities')}
					</select></td>
			</tr>
			<tr>
				<td><div class="deal-message">
						<textarea name="detail">Description</textarea>
						<div id="letter_count">(300 mots)</div>
					</div></td>
			</tr>
		</table>
	</div>
	
	<div><h4>Choisir une catégorie</h4>
	<div id="toutes">
		<ul class="list-categorys">
			<li>
				<p><a href="#"><img src="/static/images/products-icon.png" width="34" height="34" alt="products" /></a></p>
				<div>Produits</div>
			</li>
			<li>
				<p><a href="#"><img src="/static/images/lifestyle-icon.png" width="34" height="34" alt="lifestyle" /></a></p>
				<div>Lifestyle</div>
			</li>
			<li>
				<p><a href="#"><img src="/static/images/restaurants-icon.png" width="34" height="34" alt="food" /></a></p>
				<div>Food</div>
			</li>
			<li>
				<p><a href="#"><img src="/static/images/kids-icon.png" width="34" height="34" alt="kids" /></a></p>
				<div>Kids</div>
			</li>
			<li>
				<p><a href="#"><img src="/static/images/voyage-icon.png" width="34" height="34" alt="voyage" /></a></p>
				<div>Voyage</div>
			</li>
			<li>
				<p><a href="#"><img src="/static/images/sports-icon.png" width="34" height="34" alt="sports" /></a></p>
				<div>Sports</div>
			</li>
			<li>
				<p><a href="/deals/bien-etre"><img src="/static/images/bienetre-icon.png" height="34" alt="bien-être"></a></p>
				<div>Bien-être</div>
			</li>
		</ul>
	</div>
	</div>
	<div class="prix-du-deal">
	<h4>Prix du deal</h4>
	<div class="prix-content">
		<div class="prix-box">
			<input name="normal_prix" id="normal_prix" value="200" class="submit_prix"/><span>CHF</span>
			<p>Prix normal</p>
		</div>
		<div class="prix-percent-box">
			<div class="prix-percent-label">0%</div>
			<div class="prix-percent-bar"><div class="prix-percent-slider-bg" style="width: 0%;">
				<div class="prix-percent-slider"></div></div></div>
			<div class="prix-percent-label">100%</div>
			<div class="prix-percent-text"><p>Bougez le curseur pour décider du rabais.<br  />Le prix TopDeal sera automatiquement ajusté.</p></div>
		</div>
		<div class="prix-box prix-grey-box">
			<input id="topdeal_prix" name="topdeal_prix" value="0" disabled class="submit_prix"/><span>CHF</span>
			<p>Prix Topdeal</p>
		</div>
	</div>
	</div>
	<div id="profiles" class="content-credits">
		<div class="profiles-left">
			<form action="/deals/submit.php?id={$team['id']}" method="post" name="profiles">
				<table class="profile-info">
					<tr>
						<td><h4>Détails sur le partenaire</h4></td>
					</tr>
					<tr>
						<td><input type="text" value="Accepter les Conditions générales" name="realname" /></td>
					</tr>
					<tr>
						<td><input type="text" value="Numéro de téléphone" name="mobile" /></td>
					</tr>
					<tr>
						<td><input type="text" value="Email" name="email" /></td>
					</tr>
					<tr>
						<td><input type="text" value="http:// (site internet du partenaire)" name="part_url" /></td>
					</tr>
					<tr>
						<td><input type="checkbox" value="http://topdeal.ch/Ohz7rtJ" name="term" /> Accepter les Conditions générales</td>
					</tr>
					<tr>
						<td><div class="send-btn"><a href="#">Envoyer</a></div></td>
					</tr>
				</table>
			</form>			
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	initSliderControl();
	$("#normal_prix").trigger('change');
});
</script>
