<div class="account">
<!-- Main menu-->
<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">CRÉDITS & PARRAINAGE</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<div class="sidebar-menu">
						<ul class="list-unstyled">
							
                                                        <li><a href="/account/settings.php">MON PROFIL</a></li>
							<li><a href="/account/address_change.php">MES ADRESSES</a></li>
							<li><a href="/account/reset.php">MODIFIER LE MOT DE PASSE</a></li>
							<li><a href="/order/index.php">MES ACHATS ET BONS</a></li>
							<li class="active"><a href="/account/refer.php">CREDITS & PARRAINAGE</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="padlr-20">
						<div class="row credit-block">
							<div class="col-md-8">
								<h2 class="the-title">Vous possédez: </h2>
							</div>
							<div class="col-md-4">
								<div class="credits1 text-center">
									<p>${moneyit($login_user['money'])}</p>
									<p class="credits-label">CRÉDITS</p>
								</div>
							</div>
						</div>
						
						<div class="row credit-block">							
							<h2 class="the-title">Recevoir des crédits: </h2>
							<p>Vous pouvez gagnez des crédits TopDeal à utiliser sur toutes les offres du site tout simplement partageant votre lien personnel à vos amis. Plus vous avez d'amis qui s'inscrivent et plus vous gagnerez des crédits.</p>
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="credits2 text-center">
									<p>5 amis inscrits<br/>grâce à vous</p>
									<p class="credits-label">10 CRÉDITS</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="credits2 20 text-center">
									<p>10 amis inscrits<br/>grâce à vous</p>
									<p class="credits-label">20 CRÉDITS</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12">
								<div class="credits2 40 text-center">
									<p>20 amis inscrits<br/>grâce à vous</p>
									<p class="credits-label">40 CRÉDITS</p>
								</div>
							</div>
						</div>
						
						<div class="row credit-block">
							<h2 class="the-title">En parler à des amis</h2>							
							<form action="/account/invite.php" class="form-01 profil-form" id="refer_to_email_form">
								<p>Copiez-collez les adresses emails de vos amis en les séparant par une virgule, puis cliquez sur envoyer pour qu’il reçoivent une invitation de votre part.</p>
								<input type="text" name="email_txt" id="refer_friend_email" value="" placeholder="Saisissez les email séparés par une virgule"/>
								<div id="email_txt_err" style="display:none;color:red;"></div>
								<div class="text-right">
									<input type="submit" class="submit-01" value="Envoyer" />
								</div>
							</form>
							
							<form class="form-01 profil-form">
								<p>Vous pouvez soit partager cette URL personnelle.</p>
								<input type="text" name="copy" value="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" placeholder="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}"/>
								<div class="text-right">
									<input type="submit" class="submit-01" value="Copier" />
								</div>
								<p>Soit cliquer sur le bouton de partage de votre choix</p>
								<ul class="list-inline list-unstyled social text-center">
									<li><a title="TopDeal.ch: Vos meilleures offres en Suisse Romande"
href="http://www.facebook.com/sharer.php?u={$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" target="_blank"><img class="img-responsive" src="/static/images/facebook-02.png"></a></li>
									<li><a href="https://twitter.com/share?url={$INI['system']['wwwprefix']}/r.php?r={$login_user_id}&text=Profite chaque jour d'une offre produit ou service en Suisse Romande au meilleur prix!" target="_blank"><img class="img-responsive" src="/static/images/twitter-02.png"></a></li>
								</ul>
							</form>
						</div>
                                            <div class="row credit-block" style="display: none;">
							<h2 class="the-title">Vos filleuls</h2>
							<ul class="list-unstyled refer">
								<li><strong>Vos amis nous ont rejoint grâce à vous</strong></li>
								<li><span>15.7.2014</span>Vincent.gartner@gmail.com</li>
								<li><span>20.7.2014</span>Laura@gmail.com</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function(){
		
		jQuery("#refer_to_email_form").on('submit',function(){
			
			var refer_friend_email	=	jQuery.trim(jQuery("#refer_friend_email").val());
			
			var errorMessage	=	"";
			if(refer_friend_email==""){
				errorMessage	+= "Saisissez les email séparés par une virgule";
			}
			
			if(refer_friend_email!=""){
				if( !isValidEmailAddress( refer_friend_email ) ) {
					errorMessage	+= "S'il vous plaît Entrez Adresse électronique valide";
				}
			}
			
			if(errorMessage==""){
			
				jQuery("#email_txt_err").html("");
				jQuery("#email_txt_err").css("display","none");
				
				return true;
			}else{
			
				jQuery("#email_txt_err").html(errorMessage);
				jQuery("#email_txt_err").css("display","block");
				
				return false;
			}
			
		});
		
		function isValidEmailAddress(emailAddress) {
	
			var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
			
			return pattern.test(emailAddress);
		}
	});
	
	

</script>
<!-- Hot deal -->
</div>