<div class="container-fluid">
		<div class="row deal-header text-center">			
			<h1 class="big-heading text-uppercase">R&eacute;SULTATS DE RECHERCHE</h1>
				<p>Mot clef recherch&eacute;: <em>{$_REQUEST['recherche']}</em></p>
		</div>
	</div>
    
	<div class="container-fluid search-header">
		<div class="row text-center">			
			<form action="/search/search.php">
				<input type="text" name="recherche" value="{$_REQUEST['recherche']}" placeholder="Nouvelle Recherche"/>
				<input type="submit" value="search"/>
			</form>
		</div>
	</div>
	<div class="container search-filter">
		<div class="row text-center">			
			<ul class="list-unstyled list-inline">
				<li <!--{if $tab=="deal"}-->class="active"<!--{/if}-->><a href="/search/search.php?recherche={$_REQUEST['recherche']}">Offres actuelles ({$teams_count})</a></li>
				<li <!--{if $tab=="content"}-->class="active"<!--{/if}-->><a href="/search/search.php?recherche={$_REQUEST['recherche']}&t=content">Pages ({$count_pages})</a></li>
				<li <!--{if $tab=="deal_archive"}-->class="active"<!--{/if}-->><a href="/search/search.php?recherche={$_REQUEST['recherche']}&t=deal_archive">Anciennes offres ({$teams_archive_count})</a></li>
			</ul>
		</div>
	</div>		
	<div class="container">
		<ul class="list-unstyled page-result">
                     <!--{loop $pages $index $one}--> 
                <!--{if $lang=="en"}-->
			<!--${$ivalue = strip_tags($one['value'])}-->
			<!--{elseif $lang =='fr'}-->
			<!--${$ivalue = strip_tags($one['value_fr'])}-->
		<!--{/if}-->

			<li>
				<div> ${trim(mb_strimwidth($ivalue,0,120,'...'))} </div>
				<a href="http://topdeal.ch/{$one['url']}">http://topdeal.ch/{$one['url']}</a>
			</li>
		<!--{/loop}-->

                  <!--{if !$pages}-->
			<li>
				<div> Pas de résultat pour votre recherche. </div>
			</li>
		  <!--{/if}-->
			
		</ul>
	</div>	
	