<div id="primary">
	<h2 class="pages-title">${I(ContactUs)}</h2>
	<div id="faqs">
		<!--{if $lang=="en"}-->
                {$page['value']}
                <!--{elseif $lang =='fr'}-->
                {$page['value_fr']}
                <!--{/if}-->	
	</div>
	<!-- #profiles -->		
</div>