<div class="container-fluid">
		<div class="row deal-header text-center">			
			<h1 class="big-heading text-uppercase">R&eacute;SULTATS DE RECHERCHE</h1>
				<p>Mot clef recherch&eacute;: <em>{$_REQUEST['recherche']}</em></p>
		</div>
	</div>
    
	<div class="container-fluid search-header">
		<div class="row text-center">			
			<form action="/search/search.php">
                            <input type="text" name="recherche" value="{$_REQUEST['recherche']}" placeholder="Nouvelle Recherche"/>
				<input type="submit" value="search"/>
			</form>
		</div>
	</div>		
	<div class="container text-center noresult">
		<p>Votre recherche ne donne aucun r&eacute;sultat.<br/>Vous ne trouvez pas votre bonheur ou vous voulez nous faire<br/>une suggestion</p>
		<a href="#" class="submit-01">Contactez-nous</a>
	</div>	
	