<div id="primary">
	<h2 class="pages-title">FAQs</h2>
	<div id="faqs">
		<ul class="faqs-list">
			<li>
				<h4>Qu’est-ce que TopDeal?</h4>
				<div class="faqs-content">
				  <p align="justify">Sur TopDeal.ch, nous proposons chaque jour une offre exclusive de service ou produit pour nos clients en Suisse Romande garantie au meilleur prix du marché. Vous trouverez plusieurs catégories d'offres dont du bien-être, des restaurants, des deals pour la famille, du high tech, mode, etc. </p>
				  <p align="justify">&nbsp;</p>
				  <p align="justify">Nous sélectionnons nos prestataires avec soin afin d'assurer une qualité de service irréprochable. La satisfaction de nos clients est notre priorité, c'est pourquoi si une offre proposée sur TopDeal.ch ne répond pas aux critères de qualité, nous vous remboursons.</p>
				</div>
			</li>
			<li>
				<h4>Comment faire pour profiter d’une offre?</h4>
				<div class="faqs-content"><p align="justify">Il vous suffit de cliquer sur le bouton « Acheter » avant que l’offre ne soit expirée. Il vous sera demandé de créer un compte si vous n’êtes pas encore enregistré. Dans le cas contraire, il vous suffit de vous connecter avec votre adresse e-mail et votre mot de passe afin de procéder à l’achat à l’aide des différents moyens de paiement proposés sur le site.<br />
				</p></div>
			</li>
			
		</ul>		
	</div>
	<!-- #profiles -->		
</div>