<?php 
    // Dès text 
    $des_txt = '';
    $multi_con = array(
		'team_id' => $feature_team['id'],
		'parent_option_id' => 0,
		);
    $multi = DB::LimitQuery('team_multi', array(
            'condition' => $multi_con,
            'order' => 'ORDER BY id DESC',
    ));
    if(!empty($multi)){
        
        $prev_price = 0;
        $in = 0;
        foreach($multi as $m){
        
            if($prev_price != $m['team_price'] && $in != 0){
                $des_txt = 'D&#232;s';
                break;
            }
            $prev_price = $m['team_price'];
            $in++; 
        }
        
        
    }
	$gid = intval($_GET['gid']); 
?>
<div class="page-content" id="category-content">
<div class="category">
<!--{if $selector != 'archive'}-->
<!-- Hot deal start -->	
<div class="container-fluid">
    <div class="row deal-header text-uppercase text-center">
		<!--{if $gid == 0 }-->
		    <h1 class="big-heading">L'offre du jour</h1>			
		<!--{else}-->
            <h1 class="big-heading">Notre coup de coeur Top${strtolower($category['name'])}</h1>			
		<!--{/if}-->	
    </div>
</div>
<!--{if $feature_team}--> 
	<?php $isCashBack=false; ?>
	<!--{if $feature_team['is_cash_back_allowed']}-->
						
		<!--{if cashBackCredit($feature_team)}-->
			<!--{if cashBackLeftTime($feature_team)}-->
			<?php $isCashBack=true; ?>
			<!--{/if}-->
		<!--{/if}-->
	<!--{/if}-->
<div class="container-fluid hot-deal">
		<div class="container">
			<div class="row top-category">
				<div class="col-md-8 padding-right20">	
					<div class="row <!--{if $isCashBack}-->has-credit<!--{/if}-->"><!-- Remove css class "has-credit" if there is no credit -->
					
						<!--  {if $isCashBack } -->
						<div class="credit-back-sign hidden-sm hidden-xs">&nbsp;</div>
						<!-- {/if} --> 
						<a class="price-box pull-right text-center<?php if($feature_team['max_number'] > 0 && $feature_team['now_number'] >= $feature_team['max_number']){ echo ' soldout text-uppercase'; }?>" href="<!--${echo ZTeam::GetTeamUrl($feature_team)}-->">
							<div class="credit-back-sign hidden-lg hidden-md">&nbsp;</div>					
												<?php if($feature_team['max_number'] > 0 && $feature_team['now_number'] >= $feature_team['max_number']){
												?>
												   &#233;puis&#233;!
												<?php }else{ 
												?>
							<p class="discount">{$des_txt} CHF <span class="big">${moneyit($feature_team['team_price'], true)}</span></p>
							<!--  {if $isCashBack } -->
								<p class="original">${cashBackText($feature_team['cb_amount'])}</p>
							<!--{else}-->
								<!--  {if $feature_team['market_price'] == $feature_team['team_price'] } --><p class="original">Offre sp&#233;ciale</p><!--{else}--><p class="original">au lieu de CHF ${moneyit($feature_team['market_price'], true)}</p><!-- {/if} -->
							<!-- {/if} --> 	
												<?php } ?>
							</a>
						<div class="deal-title">
							<h4>{$feature_team['title']}</h4>
						</div>
					</div>		
					<div class="row hot-deal-img">
						<!-- <a href="#" class="hidden-xs hidden-sm"><img src="<?php echo team_image($feature_team['image']); ?>" alt="Electrolux logo" class="product-logo"></a>				 --->
						<a href="<!--${echo ZTeam::GetTeamUrl($feature_team)}-->" class="offer hidden-xs hidden-sm">Voir l'offre</a>
						<a href="<!--${echo ZTeam::GetTeamUrl($feature_team)}-->"><img src="<?php echo team_image($feature_team['image']); ?>" class="img-responsive product-img" alt="Hot deal image"></a>
					</div>
				</div>
				<div class="col-md-4 right-content hidden-sm hidden-xs">
					 <?php 
						 if($feature_team['notice']){
					?>
					
					<div class="row">
						<h2 class="text-center vous-aimerez-title"><img src="{$INI['system']['wwwprefix']}/static/images/heart-icon.png"/> Vous aimerez:</h2>		
						<div class="col-md-12 padding-right20">
							<div class="text-center vous-aimerez">				
								{$feature_team['notice']}
							</div>
						</div>						
					</div>
					
					<?php 
						}
					?>
				</div>
			</div>
		</div>	
	</div><!-- Hot deal end -->
        <!--{/if}-->
        <!--{/if}-->
	<div class="container-fluid">
		<div class="row deal-header text-uppercase white mrt-20 text-center">			
			<h1 class="big-heading">
                             <!--{if $selector == 'archive'}--> 
                              Les anciennes offres
                             <!--{else}--> 
                             TOUTES LES OFFRES <!--{if $category}-->TOP<!--{/if}-->{$category['name']} 
                            <!--{/if}-->
                            
                        </h1>			
		</div>
	</div>		
	<div class="container deals deal-cat-list <!--{if $selector == 'archive'}-->archive-deals<!--{/if}-->">			
		<?php 
		  include template_sub('content/content_actuels_extended');
		?>
		<div id="addhere" style="display:none;"></div>
	</div>
</div>
<div id="top" style="text-align: center; margin: 50px 0; cursor: pointer;">
    <img src="/static/images/gotop.png" alt="Go to top" style="padding-bottom: 20px;"/>
    <p>Haut de la page</p>
</div>
<script type="text/javascript">
var counter = $('.deal-box').length;
var isDone = true;
function loadMore(){		
	isDone = false;
	
	<!--{if $selector == 'archive'}-->
	scroll_url = "/team/index.php?t=archive&gid=<?php echo $gid; ?>&s=&d=&mode=ajaxRequest&offset=" + counter + "&bust=" + (new Date()).getTime(); 
	<!--{else}-->
    scroll_url = "/team/index.php?gid=<?php echo $gid; ?>&s=&d=&mode=ajaxRequest&offset=" + counter + "&bust=" + (new Date()).getTime();
	<!--{/if}-->	
	$("#addhere").load(scroll_url, function(res){
		$('.deals').append($("#addhere").html());				
		counter += 12;
		isDone = true;
		$('.product-list .row').each(function(e) {
		fixBottom($(this).find('.product-item > h3'));
		});
		
		$('.container.deals .row').each(function(e) {
			fixBottom($(this).find('.title'));
		});	
		if((res.length == 0)) {
			isDone = false;
		}
	});  		
};


$(document).ready(function(){
	var lastScrollTop = 0;
	$(window).on('scroll',function(event) {
		var st = $(this).scrollTop();
		if(st > lastScrollTop && isDone == true && isBottom()) {
			loadMore();
		}        
	});
	$('#top').on('click', function(){
			$('html,body').animate({scrollTop: 0},700, 'swing');     
	})
	$('#mobile-category').removeClass('home');
});
</script>
<div class="hidden" id="category-script">
var counter = $('.deal-box').length;
var isDone = true;
function loadMore(){		
	isDone = false;
	
	<!--{if $selector == 'archive'}-->
	scroll_url = "/team/index.php?t=archive&gid=<?php echo $gid; ?>&s=&d=&mode=ajaxRequest&offset=" + counter + "&bust=" + (new Date()).getTime(); 
	<!--{else}-->
    scroll_url = "/team/index.php?gid=<?php echo $gid; ?>&s=&d=&mode=ajaxRequest&offset=" + counter + "&bust=" + (new Date()).getTime();
	<!--{/if}-->	
	$("#addhere").load(scroll_url, function(res){
		$('.deals').append($("#addhere").html());				
		counter += 12;
		isDone = true;
		$('.product-list .row').each(function(e) {
		fixBottom($(this).find('.product-item > h3'));
		});
		
		$('.container.deals .row').each(function(e) {
			fixBottom($(this).find('.title'));
		});	
		if((res.length == 0)) {
			isDone = false;
		}
	});  		
};


$(document).ready(function(){
	var lastScrollTop = 0;
	$(window).on('scroll',function(event) {
		var st = $(this).scrollTop();
		if(st > lastScrollTop && isDone == true && isBottom()) {
			loadMore();
		}        
	});
	$('#top').on('click', function(){
			$('html,body').animate({scrollTop: 0},700, 'swing');     
	})
	$('#mobile-category').removeClass('home');
});

</div>
</div>