
<div class="account">
<!--    <script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
<!-- Main menu-->
<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">MES ADRESSES</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<div class="sidebar-menu">
						<ul class="list-unstyled">
							<li><a href="/account/settings.php">MON PROFIL</a></li>
							<li class="active"><a href="/account/address_change.php">MES ADRESSES</a></li>
							<li><a href="/account/reset.php">MODIFIER LE MOT DE PASSE</a></li>
							<li><a href="/order/index.php">MES ACHATS ET BONS</a></li>
							<li><a href="/account/refer.php">CREDITS & PARRAINAGE</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="padlr-20">
						<h2 class="the-title">Adresse de facturation</h2>
                                                <!--{if $session_notice=Session::Get('notice',true)}-->
                                                    <div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p>{$session_notice}</p></div></div> 
                                                <!--{/if}-->
                                                <!--{if $session_notice=Session::Get('error',true)}-->
                                                    <div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p></div></div> 
                                                    <!--{/if}-->
                                                    <form action="/account/address_change.php" method="post" class="form-01 profil-form">
							<div class="row">
								<div class="col-md-6 padr-5">									
                                    <input type="text" placeholder="Prénom" value="{$login_user['first_name']}" name="user_first_name" />                       								
								</div>
								<div class="col-md-6 padl-5">
									<input type="text" value="{$login_user['last_name']}" placeholder="Nom" name="last_name" />	
								</div>
							</div>
                                                        <div class="row">
								<div class="col-md-9 padr-5">									
									<input type="text"  placeholder="Rue" value="{$login_user['address']}" name="user_address" />									
								</div>
								<!-- <div class="col-md-3 padl-5">
                                                                    <input type="text" placeholder="No" value="{$login_user['address_no']}" id="street_number"  name="address_no" />
								</div> -->								
							</div>
							<div class="row">
								<div class="col-md-12">									
                                                                    <input value="{$login_user['address2']}" type="text" placeholder="Complément d'adresse" name="address2" />
								</div>								
							</div>
							
							<div class="row">
								<div class="col-md-6 padr-5">									
									<input type="text" placeholder="Code postal" value="{$login_user['zipcode']}" name="user_zipcode" />									
								</div>
								<div class="col-md-6 padl-5">
                                                                    <input type="text" placeholder="Ville" value="{$login_user['region']}" name="user_region" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 padr-5">									
                                                                    <input type="text" placeholder="N° mobile" value="{$login_user['mobile']}" name="user_mobile" />
								</div>								
							</div>
							<div class="text-right">
								<input type="submit" class="submit-01" value="Conﬁrmer" />
							</div>
						</form>
						
						<h2 class="the-title">Adresse de livraison</h2>
                                                <form id="address_form" class="form-01 profil-form">
                                                    <input type="hidden" id="address_id" value="0" />
                                                    <div id="success_address" style="display:none;"></div>
							<span>Donnez un nom au lieu et saisissez l'adresse correspondante.</span>
							<div class="row">
								<div class="col-md-12">									
                                                                    <input type="text" id="address_name" placeholder="Nom du lieu" name="address_name" />
								</div>								
							</div>
							<div class="row">
								<div class="col-md-6 padr-5">	
									<input type="text" placeholder="Prénom" id="last_name" name="last_name" />	
								</div>
								<div class="col-md-6 padl-5">
									<input type="text" id="first_name" placeholder="Nom" name="first_name" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-9 padr-5">									
									<input type="text" id="street" placeholder="Rue" name="street" />									
								</div>
								<!-- <div class="col-md-3 padl-5">
									<input type="text" placeholder="No" id="street_number"  name="street_number" />
								</div> -->
							</div>
							<div class="row">
								<div class="col-md-12">									
                                                                    <input type="text" id="address" placeholder="Complément d'adresse" name="address" />
								</div>								
							</div>
							<div class="row">
								<div class="col-md-6 padr-5">									
									<input type="text" id="zipcode" placeholder="Code postal" name="zipcode" />									
								</div>
								<div class="col-md-6 padl-5">
                                                                    <input type="text" id="region" placeholder="Ville" name="region" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 padr-5">									
									<input type="text" id="phone" placeholder="N° mobile" name="" />
								</div>								
							</div>
							<div class="text-right">
                                                            <input type="submit" id="submit_address" class="submit-01" value="Ajouter" />
							</div>
							<div class="member-list address">								
								<ul class="list-unstyled">									
									<!--{loop $addresses $index $one}-->
                                                                        <li id="address-row{$one['id']}">
                                                                            <a id="{$one['id']}" class="delete-address-button" href="javascript:;"><i class="delete-icon"></i></a>
										<a id="{$one['id']}" class="edit-address-button" href="javascript:;"><i class="edit-icon"></i></a>
										<b>{$one['address_name']}</b>
										<span>{$one['last_name']} {$one['first_name']}</span>
									</li>
                                                                        <!--{/loop}-->	
									
								</ul>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Hot deal -->
</div>
<script>
 jQuery(document).ready(function($){
     $( ".delete-address-button" ).on( "click", function() {
            
            c = confirm('Are you sure to delete this address');
            if(c){
                id = $(this).attr('id');
               $(this).parent('li').remove();
                url = "/account/address_change.php?action=delete&id="+id;
                $.get(url, function(){
                      //  alert($(this).html());
                       //  $(this).parent('li').remove();
                });
            }
            /*id = $(this).attr('id');
            url = "/account/address_change.php?action=delete&id="+id;
            
           */
    });
    
     $(document).on('click', ".edit-address-button", function(e) {
    //$( ".edit-address-button" ).on( "click", function() {
            
                id = $(this).attr('id');
                url = "/account/address_change.php?action=edit&id="+id;
                $.get(url, function(response){
                        user_address = response.data.data;
                        $('#address_name').val(user_address.address_name);
                        $('#first_name').val(user_address.first_name);
                        $('#last_name').val(user_address.last_name);
                        $('#street').val(user_address.street);
                        $('#street_number').val(user_address.street_no);
                        $('#address').val(user_address.address);
                        $('#zipcode').val(user_address.zipcode);
                        $('#region').val(user_address.region);
                        $('#phone').val(user_address.mobile_no);
                        $('#address_id').val(user_address.id);
                        $('html, body').animate({
    scrollTop: ($('#address_form').first().offset().top)
},500);
                        
                },'json');
            
    });
     $(document).on('click', "#submit_address", function(e) {
    //$( "#submit_address" ).on( "click", function(e) {
                e.preventDefault();
                if($('#address_name').val() == ""){
                    $('#address_name').addClass('error');
                    return;
                }
                else if($('#first_name').val() == ""){
                    $('#first_name').addClass('error');
                    return;
                }
                
                address_id = $('#address_id').val();
                var data = {
                        address_name:$('#address_name').val(),
                        first_name:$('#first_name').val(),
                        last_name:$('#last_name').val(),
                        street:$('#street').val(),
                        street_number:$('#street_number').val(),
                        address:$('#address').val(),
                        zipcode:$('#zipcode').val(),
                        region:$('#region').val(),
                        mobile_no:$('#phone').val(),
                        id:address_id
		};  
                //alert(address_id);
                if(address_id != 0){
                    url = "/account/address_change.php?action=edit_submit";
                }else{
                    url = "/account/address_change.php?action=add";
                }
                $.get(url, data, function(response){
                        //alert('adsfasdf');
                        $('#address_id').val('0');  
                        $('#address_name').val('');
                        $('#first_name').val('');
                        $('#last_name').val('');
                        $('#street').val('');
                        $('#street_number').val('');
                        $('#address').val('');
                        $('#zipcode').val('');
                        $('#region').val('');
                        $('#phone').val('');
                        //alert(address_id);
                        if(address_id == 0){
                            user_address = response.data.data;
                            $('.member-list .list-unstyled').append('<li id="address-row'+user_address.id+'"><a id="'+user_address.id+'" class="delete-address-button" href="javascript:;"><i class="delete-icon"></i></a><a id="'+user_address.id+'" class="edit-address-button" href="javascript:;"><i class="edit-icon"></i></a><b>'+user_address.address_name+'</b><span>'+user_address.last_name+' '+user_address.first_name+'</span></li>');
                            $('#success_address').html('Address Added sucessfully');
                            $('#success_address').fadeIn();
                        }
                        else{
                            user_address = response.data.data;
                           // console.log(user_address);
                            $('#address-row'+user_address.id).html('<a id="'+user_address.id+'" class="delete-address-button" href="javascript:;"><i class="delete-icon"></i></a><a id="'+user_address.id+'" class="edit-address-button" href="javascript:;"><i class="edit-icon"></i></a><b>'+user_address.address_name+'</b><span>'+user_address.last_name+' '+user_address.first_name+'</span>');
                            $('#success_address').html('Address Changed sucessfully');
                            $('#success_address').fadeIn();
                        }
                },'json');
              
            
            /*
                id = $(this).attr('id');
                url = "/account/address_change.php?action=edit&id="+id;
                $.get(url, function(response){
                        user_address = response.data.data;
                        
                        
                },'json');
            */
    });
    
   
 });
</script>