<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>
			<li><a href="/account/settings.php">Profil</a></li>
			<li class="current"><a href="/account/refer.php">Crédits</a></li>
			<li><a href="/order/index.php">Achats</a>
				<!--<ul>
					<li class="first-row"><a href="/order/index.php">Payés</a></li>
					 <li><a href="/order/index.php?s=unpay">A payes</a></li>
				</ul>-->
			</li>
			<li><a href="#">Bons</a>
                            <ul>
                                    <li class="first-row"><a href="/coupon/index.php">A échanger</a></li>
                                    <li><a href="/coupon/consume.php">Utilisés</a></li>
                                    <li><a href="/coupon/expire.php">Expirés</a></li>
                            </ul>
			</li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div class="credits-top">
		<span>Vous possédez</span><span><a href="#">${moneyit($login_user['money'])}</a></span><span>crédits.</span>
	</div>
	<div id="profiles" class="content-credits">
		<h3><span>Vous voudriez en gagner plus?</span></h3>
		<div class="profiles-left">
			<form action="#" method="post" name="profiles">
				<table class="profile-info">
					<tr>
						<td><h4>Votre URL personnelle à partager avec vos amis</h4></td>
					</tr>
					<tr>
						<td><input type="text" value="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" name="url_txt" /></td>
					</tr>
					<tr>
						<td><div class="send-btn"><a href="#" id="copy-btn">Copier</a></div></td>
					</tr>
					
				</table>
			</form>
			<div class="social-share">
				<p>Partagez-là avec votre réseau:</p>

						<!-- share tool bar script -->

<style type="text/css" media="screen">
  #custom-tweet-button a {
  	background: url('../static/images/twitter-icon-03.png') 0 0 no-repeat;
	display: block;
	width: 54px;
	height: 52px;
	padding: 2px 5px 2px 20px;
  }
</style>
                          
<div style="float:left;">                          
<a title="TopDeal.ch: Vos meilleures offres en Suisse Romande"
href="http://www.facebook.com/sharer.php?u={$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" target="_blank">
<img src="/static/images/facebook-icon-03.png"
alt="Share on Facebook"/>
</a>
</div>               

<div id="custom-tweet-button" style="float:left;">
<a href="https://twitter.com/share?url={$INI['system']['wwwprefix']}/r.php?r={$login_user_id}&text=Profite chaque jour d'une offre produit ou service en Suisse Romande au meilleur prix!" target="_blank"></a>
</div>                          
                          
						<!-- share tool bar script -->
				
				
			</div>
		</div>
		<div class="profiles-right">
                  <form action="/account/invite.php" method="post" name="invites">
				<table class="profile-info directly-invite">
					<tr>
						<td><h4>Ou invitez directement vos amis par e-mail</h4></td>
					</tr>
					<tr>
						<td><input type="text" value="Email de votre ami(e)" name="email_txt[]" /></td>
					</tr>
					<tr>
						<td><input type="text" value="Email de votre ami(e)" name="email_txt[]" /></td>
					</tr>
					<tr>
						<td><input type="text" value="Email de votre ami(e)" name="email_txt[]" /> <a class="add-address" href="#"><span>Add</span></a></td>
					</tr>
					<tr>
						<td><h4>Ecrivez-leur un petit message personnel</h4></td>
					</tr>
					<tr>
						<td><input type="text" value="Votre nom" name="name_txt" /></td>
					</tr>
					<tr>
						<td><textarea name="message_are">Votre message</textarea></td>
					</tr>
					<tr>
						<td class="note-text"><p>Vous manquez d’inspiration? <a href="#">Utilisez notre message par défaut.</a></p></td>
					</tr>
					<tr>
						<td><div class="save-btn"><a href="#" onclick="invites.submit()">Envoyer</a></div></td>
					</tr>
					
				</table>
			</form>
		</div>
	</div>
	<!-- #profiles -->
	<div class="credits-bottom">
		<p>Vous pouvez gagnez des crédits TopDeal à utiliser sur toutes les offres du site tout simplement en partageant votre lien personnel à vos amis. Plus vous avez d'amis qui s'inscrivent et plus vous gagnerez des crédits. Veuillez trouver ci-dessous le schéma des récompenses :</p>
		<div class="credits-reward">
			<ul>
				<li class="first-lever">5 amis inscrits grâce à vous
					<div>10<span>CHF</span></div>
				</li>
				<li class="second-lever">10 amis inscrits grâce à vous
					<div>20<span>CHF</span></div>
				</li>
				<li class="third-lever">20 amis inscrits grâce à vous
					<div>40<span>CHF</span></div>
				</li>
			</ul>
		</div>
	</div>
</div>
