<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>
			<li class="current"><a href="/search/search.php?t=deal&recherche={$term}">Deals</a></li>
			<li><a href="/search/search.php?t=content&recherche={$term}">Contenu</a></li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div class="deals-list">
                <!--{loop $teams $index $one}--> 
                <!--{if $lang=="en"}-->
			<!--${$ititle = $one['title']}-->
			<!--{elseif $lang =='fr'}-->
			<!--${$ititle = $one['title_fr']}-->
		<!--{/if}-->
		<div class="deal-box">
			<div class="thumb-box" onclick="top.location.href='{$INI['system']['wwwprefix']}<!--${echo ZTeam::GetTeamUrl($one)}-->';" ><img alt="{$ititle}" src="${team_image($one['image'], true)}" width="348px" height="141px" onclick="top.location.href='{$INI['system']['wwwprefix']}<!--${echo ZTeam::GetTeamUrl($one)}-->'">
				<?php if($one['max_number'] > 0 && $one['now_number'] >= $one['max_number']){ ?>
				<div class="sold-out">Sold out</div>
				<?php } ?>
				<div class="prices-box">${moneyit($one['team_price'])}<span>CHF</span></div>
				<div class="percent-box">${moneyit(round((100*($one['market_price'] - $one['team_price'])/$one['market_price'])))}<span>%</span></div>
				<div class="gift-box"> <a href="#" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->" title="{$ititle}" target="_blank"  class="label">${trim(mb_strimwidth($ititle,0,86,'...'))}</a></h3>
			<!--${$now = time()}-->
			<!--${$diff_time = $left_time = $one['end_time']-$now}-->
			<!--{if $one['team_type'] == 'seconds' && $one['begin_time'] >= $now}-->
				<!--${$diff_time = $left_time = $one['begin_time']-$now}-->
			<!--{/if}-->
			<!--${$left_day = floor($diff_time/86400)}-->
			<!--${$left_time = $left_time % 86400}-->
			<!--${$left_hour = floor($left_time/3600)}-->
			<!--${$left_time = $left_time % 3600}-->
			<!--${$left_minute = floor($left_time/60)}-->
			<!--${$left_time = $left_time % 60}-->
			<script type="text/javascript">remain{$one['id']} = ({$left_day}*24*60*60 + {$left_hour}*60*60 + {$left_minute}*60 + {$left_time});</script>
			
			
						<!--{if $left_day>0}-->						
				<div class="timing-box" id="timing-box{$one['id']}">
				<ul>
                        
				
					<li>
						<p><span>${I('Days')} </span><span class="day">{$left_day}</span></p>
					</li>
					<li>
						<p><span>${I('Hours')} </span><span class="hour">{$left_hour}</span></p>
					</li>
					<li class="last-item">
						<p><span>${I('Minutes')}  </span><span class="minute">{$left_minute}</span></p>
					</li>
                                </ul>
			</div>
                        <!--{elseif $left_hour > 0}-->
                         <div class="timing-box less-one-day" id="timing-box{$one['id']}">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span><span class="hour">{$left_hour}</span></p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span><span class="minute">{$left_minute}</span></p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span><span class="second">{$left_time}</span></p>
                                    </li>
				</ul>
			</div>
                        <!--{else}-->
                        <div class="timing-box less-one-hour" id="timing-box{$one['id']}">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span><span class="hour">{$left_hour}</span></p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span><span class="minute">{$left_minute}</span></p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span><span class="second">{$left_time}</span></p>
                                    </li>
				</ul>
			</div>
                        <!--{/if}-->
		</div>
		<script type="text/javascript">
		function convert{$one['id']}(){			
			if(remain{$one['id']} <= 0) {
				clearTimeout(atimer{$one['id']});	
				return;
			};
			var days = parseInt(remain{$one['id']}/(3600*24));
			var hours = parseInt((remain{$one['id']} - days*24*3600)/3600);
			var minutes = parseInt((remain{$one['id']} - days*24*3600 - hours * 3600)/60);
			var seconds = remain{$one['id']} - days*24*3600 - hours * 3600 - minutes * 60;
			render(days, hours, minutes, seconds, "timing-box{$one['id']}");			
			remain{$one['id']}--;
			atimer{$one['id']} = setTimeout(convert{$one['id']}, 1000);
		}
		convert{$one['id']}();
		</script>
		<!--{/loop}-->
          
                  <!--{if !$teams}-->
			<li>
				<div> Pas de résultat pour votre recherche. </div>
			</li>
		  <!--{/if}-->
          
		
	</div>
	<!-- <div id="load-more"> <a href="#">Charger plus de deals</a> </div> -->
	<!-- .deals-list -->
</div>
<script type="text/javascript" language="javascript">
jQuery(document).ready(function($){
  //alert($('input[name=recherche]').val());
	$('input[name=recherche]').val('{$term}');
  	$('input[name=recherche]').attr('style','font-weight: bold; color: #F04E1E;');
  });
</script>
