﻿<div id="primary" class="homepage">
	<div class="entry-box">
		<div class="entry-header">
			<h2 class="entry-title">{$team['title']}</h2>
		</div>
		<!-- .entry-header -->
		<div class="entry-content">
			<div class="entry-summary">
				{$team['seo_description']}
			</div>
			<!-- .entry-summary -->
			<div class="entry-infos">
				<div class="header clearfix">
					<ul>
						<li class="topdeal-price">
							<h3>${moneyit($team['team_price'])}<span>CHF</span></h3>
							<p>Prix TopDeal</span></p>
						</li>
						<li class="topdeal-save">
							<h4>${moneyit($team['market_price'])}<span>CHF</span></h4>
							<p class="mrgdt-3">Valeur</p>
							<h4>{$team['market_price']-$team['team_price']}<span>CHF</span></h4>
							<p class="mrgdt-3">Economie</p>
						</li>
						<li class="topdeal-discount">
							<h3><?php echo moneyit(round((100*($team['market_price'] - $team['team_price'])/$team['market_price']))); ?><span>%</span></h3>
							<p>Rabais</p>
						</li>
					</ul>
					<div class="acheter-box">
                                            <form id="frmAcheter" action="/basket.php" method="post">
                                                <input type="hidden" name="team_id" value="{$team['id']}" />
                                                <input type="hidden" name="action" value="add" />
                                                <input type="hidden" name="mode" />
                                              	<input type="hidden" name="option_id" />
                                            </form>
						<h3><a href="javascript:buy();">Acheter</a></h3>
						<div class="gift-box"> <a href="javascript:gift();" title="Offrir ce deal à un ami"><img src="/static/images/gift.png" alt="Gift" /></a></div>
                                                <script type="text/javascript">
                                                    function buy(){
                                                        <!--{if $login_user_id}-->

                                                              $('input[name=mode]').val('buy');
                                                              <!--  {if $multi} -->
                                                                      $('#popOverlay').fadeIn(100);
                                                              <!-- {else} -->
                                                                      $('#frmAcheter').submit();
                                                              <!-- {/if} -->
                                                        <!--{else}-->													
														$('#show-connect').trigger('click');
														$('#show-connect').addClass('current');
														
                                                        <!--{/if}-->
                                                    }
                                                    
                                                    function gift(){
                                                         <!--{if $login_user_id}-->

                                                        $('input[name=mode]').val('gift');
                                                        <!--  {if $multi} -->
                                                                $('#popOverlay').fadeIn(100);
                                                        <!-- {else} -->
                                                                $('#frmAcheter').submit();
                                                        <!-- {/if} -->
                                                        <!--{else}-->
														$('#show-connect').trigger('click');
														$('#show-connect').addClass('current');
                                                        <!--{/if}-->
                                                    }
                                                  
                                                    function acheter(){
                                                        $('#frmAcheter').submit();
                                                    }
                                                  
                                                </script>
					</div>
				</div>
				<div class="thumb-box" onclick="top.location.href='<!--${echo ZTeam::GetTeamUrl($team,true)}-->';"> 
                                    <?php if($team['image']){?><img src="<?php echo team_image($team['image']); ?>" width="718" height="292" />
                                    <?php } else if($team['image1']){?><img src="<?php echo team_image($team['image1']); ?>" width="718" height="292" />
                                    <?php } else if($team['image2']){?><img src="<?php echo team_image($team['image2']); ?>" width="718" height="292" /><?php } ?>
					
                                    
					<div class="gift-box"> <a href="<!--${echo ZTeam::GetTeamUrl($team,true)}-->" class="add-cart"><span>Add to cart</span></a> </div>
				</div>
			</div>
			<!-- .entry-infos -->
		</div>
		<!-- .entry-content -->
	</div>
	<div class="deals-list">
		<h2 class="section-title">Deals bientôt finis</h2>
		<!--{loop $expiring_soon $index $one}--> 
                <!--{if $lang=="en"}-->
			<!--${$ititle = $one['title']}-->
			<!--{elseif $lang =='fr'}-->
			<!--${$ititle = $one['title_fr']}-->
		<!--{/if}-->
		<div class="deal-box">
			<div class="thumb-box" onclick="top.location.href='{$INI['system']['wwwprefix']}<!--${echo ZTeam::GetTeamUrl($one)}-->';"><img alt="{$ititle}" src="${team_image($one['image'], true)}">
				<?php if($one['max_number'] > 0 && $one['now_number'] >= $one['max_number']){ ?>
				<div class="sold-out">Sold out</div>
				<?php } ?>
				<div class="prices-box">${moneyit($one['team_price'])}<span>CHF</span></div>
				<div class="percent-box">${moneyit(round((100*($one['market_price'] - $one['team_price'])/$one['market_price'])))}<span>%</span></div>
				<div class="gift-box"> <a href="<!--${echo ZTeam::GetTeamUrl($one)}-->" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->" title="{$ititle}"  class="label">${trim(mb_strimwidth($ititle,0,86,'...'))}</a></h3>
			<!--${$now = time()}-->
                        <!--${$diff_time = $left_time = $one['end_time']-$now}-->
                        <!--{if $one['team_type'] == 'seconds' && $one['begin_time'] >= $now}-->
                                <!--${$diff_time = $left_time = $one['begin_time']-$now}-->
                        <!--{/if}-->
                        <!--${$left_day = floor($diff_time/86400)}-->
                        <!--${$left_time = $left_time % 86400}-->
                        <!--${$left_hour = floor($left_time/3600)}-->
                        <!--${$left_time = $left_time % 3600}-->
                        <!--${$left_minute = floor($left_time/60)}-->
                        <!--${$left_time = $left_time % 60}-->
						<script type="text/javascript">remain{$one['id']} = ({$left_day}*24*60*60 + {$left_hour}*60*60 + {$left_minute}*60 + {$left_time});</script>
                        <!--{if $left_day>0}-->
                        <div class="timing-box" id="timing-box{$one['id']}">
				<ul>
					<li>
						<p><span>${I('Days')} </span><span class="day">{$left_day}</span></p>
					</li>
					<li>
						<p><span>${I('Hours')} </span><span class="hour">{$left_hour}</span></p>
					</li>
					<li class="last-item">
						<p><span>${I('Minutes')}  </span><span class="minute">{$left_minute}</span></p>
					</li>
                                </ul>
			</div>
                        <!--{elseif $left_hour > 0}-->
                         <div class="timing-box less-one-day" id="timing-box{$one['id']}">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span><span class="hour">{$left_hour}</span></p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span><span class="minute">{$left_minute}</span></p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span><span class="second">{$left_time}</span></p>
                                    </li>
				</ul>
			</div>
                        <!--{else}-->
                        <div class="timing-box less-one-hour" id="timing-box{$one['id']}">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span><span class="hour">{$left_hour}</span></p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span><span class="minute">{$left_minute}</span></p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span><span class="second">{$left_time}</span></p>
                                    </li>
				</ul>
			</div>
                        <!--{/if}-->
		</div>
		<script type="text/javascript">
		function convert{$one['id']}(){			
			if(remain{$one['id']} <= 0) {
				clearTimeout(atimer{$one['id']});	
				return;
			};
			var days = parseInt(remain{$one['id']}/(3600*24));
			var hours = parseInt((remain{$one['id']} - days*24*3600)/3600);
			var minutes = parseInt((remain{$one['id']} - days*24*3600 - hours * 3600)/60);
			var seconds = remain{$one['id']} - days*24*3600 - hours * 3600 - minutes * 60;
			render(days, hours, minutes, seconds, "timing-box{$one['id']}");			
			remain{$one['id']}--;
			atimer{$one['id']} = setTimeout(convert{$one['id']}, 1000);
		}
		convert{$one['id']}();
		</script>
		<!--{/loop}-->	
	</div>
	<!-- .deals-list -->
          
</div>

<div id="wrapper">
<!-- #popOverlay -->

<div id="popOverlay" style="display:none;">
	<div class="profil-warnings6 panier-b1a">
		<div class="warnings-content">
			<h4>Choisissez votre offre pour:</h4>
			<h4 class="green-text">{$team['title']}</h4>
			<div class="b1a-content">
				<ul>
					<!-- {if $multi_option_type=='gender'} -->
					<li>
					<div class="b1a-sub-tilte">Modèle</div>
					<div class="model-box">
						<img src="/static/images/model-01.png" width="70" height="55" alt="" class="model-01" onclick="javascript:enableSubOptions('{$multi[0]['id']}','{$multi[0]['summary']}','{$multi[0]['team_price']}','gender-');" />
						<img src="/static/images/model-02.png" width="70" height="55" alt="" class="model-02" onclick="javascript:enableSubOptions('{$multi[1]['id']}','{$multi[1]['summary']}','{$multi[1]['team_price']}','gender-');" />
					</div>
						<p class="mrgt-20" id="gender-desc"></p>
						<p class="mrgt-20" id="gender-price"></p>
					</li>
					<!-- {/if} -->
				
					<!-- {if $multi_option_type=='flat'} -->
					<li>
					<div class="b1a-sub-tilte">Sélection</div>
					<div class="model-box">
						<select name="gender_slt">
                                                  <option id="default">Choisissez votre option</option>
							 <!--{loop $multi $index $one}--> 
								<option value="{$one['id']}" onclick="javascript:enableSubOptions('{$one['id']}','${strip_tags($one['summary'])}','${moneyit($one['team_price'])}', 'flat-');" > {$one['title']} </option>
					 		 <!--{/loop}-->						
						</select>
                                          <p class="mrgt-20" id="flat-desc"></p>
					</div>						
						<p class="mrgt-20" id="flat-price"></p>
					</li>
					<!-- {/if} -->

					<!-- {if $multi_option_type=='sub'} -->
					<li class="li-radio">
						 <!--{loop $multi $index $one}--> 
							<div class="b1a-sub-tilte"><input type="radio" value="{$one['id']}" <!-- {if $index==0 }  --> checked="checked"  <!-- {/if} --> name="Formule" onclick="javascript:enableSubOptions({$one['id']});" /></div>
							<div class="model-box">
								<p><a href="#">{$one['title']}</a>, {$one['summary']}</p>
							</div>
						<!--{/loop}-->		
						<p class="mrgt-20" id="sub-desc"></p>
						<p class="mrgt-20" id="sub-price"></p>
					</li>
					<!-- {/if} -->
					
					<?php 
					/*
					<!-- {if $sub_option_type=='gender'} -->
					<li id="sub-gender" style="display:none;">
					<div class="b1a-sub-tilte">Mod\E8le</div>
					<div class="model-box">
						<img src="/static/images/model-01.png" width="70" height="55" alt="" class="model-01" onclick="alert('female selected');" />
						<img src="/static/images/model-02.png" width="70" height="55" alt="" class="model-02" onclick="alert('male selected');" />
					</div>
					</li>
					<!-- {/if} -->
					*/
					?>
				
					<!-- {if $sub_option_type=='flat'} -->
					<li id="sub-taille" style="display:none;">
					<div class="b1a-sub-tilte">Sélection</div>
					<div class="model-box" id="flat_sub_options">
						<select name="gender_slt">
                                                  <option id="default">Choisissez votre option</option>
						<?php 
						/*
							 <!--{loop $subs $index $one}--> 
								<option value="{$one['id']}">{$one['title']} </option>
					 		 <!--{/loop}-->						
						*/
						?>	 
						</select>
					</div>
						<p class="mrgt-20" id="sub-taille-desc" style="margin-left:70px"></p>
						<p class="mrgt-20" id="sub-taille-price"></p>
					</li>
					<!-- {/if} -->

					<!-- {if $sub_option_type=='sub'} -->
					<li id="sub-option" class="li-radio" style="display:none;">
						<?php 
						/*					
						 <!--{loop $subs $index $one}--> 
							<div class="b1a-sub-tilte"><input type="radio" value="{$one['id']}" onchange="javascript:setSelection({$one['id']})"  <!-- {if $index==0 }  --> checked="checked"  <!-- {/if} --> name="Formule" /></div>
							<div class="model-box">
								<p><a href="#">{$one['title']}</a>, {$one['summary']}</p>
							</div>
						<!--{/loop}-->		
						*/
						?>	 
						
					</li>
					<!-- {/if} -->
					
				</ul>
			</div>
	<div class="warnings-bottom">
		<div class="send-btn" class="bg-grey" id="send-btn-dis"><a href="#" class="bg-grey">Acheter</a></div>
		<div class="send-btn" style="display:none;" id="send-btn-en"><a href="javascript:acheter();" class="bg-green">Acheter</a></div>
          <h3> <div id="price"></div> </h3>
	</div>
		</div>
		<div class="close-btn"><span>close</span></div>		
	</div>
</div>

<script language="javascript" type="text/javascript">

// This is home page script--
  
var options = new Array();
	 <!--{loop $multi $index $one}--> 
		options[{$one['id']}]=[
			 <!--{loop $subs $index $two}--> 	
				<!--  {if $two['parent_option_id']==$one['id'] } -->
					["{$two['id']}","{$two['title']}","${strip_tags($two['summary'])}","${moneyit($two['team_price'])}"],
				<!-- {/if} -->
			 <!--{/loop}-->
		];			 
	 <!--{/loop}-->						


function enableSubOptions(opVal, desc, price, div){
hasSub = false;
//alert(options[opVal]);
//alert('enableSubOptions');
	if ($(document).find('#sub-taille').length){
		//alert('sub-taille');
		hasSub = true;
		$('select').html('');
		  $('select').append('<option id="default">Choisissez votre option</option>');
		jQuery.each(options[opVal], function(index, item) {
			//alert(item);
			$('select').append('<option value="'+item[0]+'" onclick="javascript:setSelection(\''+item[0]+'\',\''+item[1]+'\',\''+item[3]+'\',\'sub-taille-\');">'+item[1]+'</option>');
		});		
 
                var interest = $('select');
                $('.sbo-control').remove();
                $('#flat_sub_options').html(interest.prop('outerHTML'));
  
  		$('select').selectbox();
  
		$('#sub-taille').show();  
	}
	if ($(document).find('#sub-option').length){
		//alert('sub-option');
		hasSub = true;
		$('#sub-option').show();
	}
	if ($(document).find('#sub-gender').length){
		//alert('sub-gender');
		hasSub = true;
		$('#sub-gender').show();
	}
	
	if(!hasSub){
		setSelection(opVal, desc, price, div);
	}	
}

function setSelection(opVal, desc, price, div){
		$('#send-btn-dis').hide();
		$('#send-btn-en').show();
		//alert(desc);
		//alert(price);		
		$('input[name=option_id]').val(opVal);
		$('#'+div+'desc').text(desc);
		$('#price').html(price+'<span>CHF</span>');
		$('#default').remove();
}

</script>

  
<!-- END #popOverlay -->
</div>




