<style>
#credits-i-image {
    background-image:none
}
</style>
<?php 
    $nowTime = time();
	// Dès text 
    $des_txt = '';
    if(!empty($multi)){
        
        $prev_price = 0;
        $in = 0;
        foreach($multi as $m){
        
            if($prev_price != $m['team_price'] && $in != 0){
                $des_txt = 'D&#232;s';
                break;
            }
            $prev_price = $m['team_price'];
            $in++; 
        }
        
        
    }
	
	function curPageURL() {
		 $pageURL = 'http';
		 if ($_SERVER["HTTPS"] == "on") {$pageURL .= "s";}
		 $pageURL .= "://";
		 if ($_SERVER["SERVER_PORT"] != "80") {
		  $pageURL .= $_SERVER["SERVER_NAME"].":".$_SERVER["SERVER_PORT"].$_SERVER["REQUEST_URI"];
		 } else {
		  $pageURL .= $_SERVER["SERVER_NAME"].$_SERVER["REQUEST_URI"];
		 }
		 return $pageURL;
	}
	$progress_prcntage =  round(($team['max_number']-$team['now_number'])/$team['max_number'] * 100) ;
?>

<div class="container-fluid hidden-sm hidden-xs" id="scroll-bar">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="title">{$team['title']}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="price-box">
					<p class="discount"> {$des_txt}  CHF <span class="big">${moneyit($team['team_price'], true)}</span></p>
					<!--  {if $isCashBack } -->
						<p class="original">${cashBackText($team['cb_amount'])}</p>
					<!--{else}-->
						
						<!--  {if $team['market_price'] == $team['team_price'] } --><p class="original">Offre spéciale</p><!--{else}--><p class="original">au lieu de CHF ${moneyit($team['market_price'], true)}</p><!-- {/if} -->
					<!-- {/if} -->
				</div>
			</div>
			<div class="col-xs-3">
				<div class="progress-wrapper hidden-xs hidden-sm<!--{if $progress_prcntage < 50}--> red<!--{/if}-->">
						<div style="font-size: 16px; margin-bottom: 5px;"><strong>Stock disponible</strong><!--{if $progress_prcntage < 50}--> <span>: Bientôt épuisé</span><!--{/if}--></div>
						<div class="progress ">
						<!--{if $team['state'] == 'soldout'}-->
							 <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
							<!--{else}-->
							 <div class="progress-bar" role="progressbar" aria-valuenow="<?php echo $progress_prcntage; ?>" aria-valuemin="0" aria-valuemax="100">
							<!--{/if}-->
								<span class="sr-only"></span>
						</div>
					</div>		
				</div>
			</div>
			<div class="col-xs-5">
				<div class="buy-btn hidden-sm hidden-xs">
				<!-- {if empty($multi) } -->
					<!--{if $team['state'] == 'soldout'}-->
						<a href="#">Epuisé</a>
					<!--{else}-->
						<a href="#" onclick="javascript:buy();">Acheter</a>
					<!--{/if}-->
				<!--{else}-->
					<!--{if $team['state'] == 'soldout'}-->
						<a href="#">Epuisé</a>
					<!--{else}-->
						<!--{if $login_user_id}-->
							<a href="/team.php?id={$team['id']}&mode=options">Choisir</a>
						<!--{else}-->
							<a href="/account/login.php">Choisir</a>
						<!--{/if}-->
					<!--{/if}-->
				<!--{/if}-->
				</div>
			</div>
		</div>
	</div>
</div><!-- End of srollbar-->
<div class="products">
	<div class="container-fluid hot-deal">
	<div class="container">		
		<div class="row hot-deal-img">
			<!-- <a href="#" class="hidden-xs hidden-sm"><img src="/static/images/electrolux-logo.png" alt="Electrolux logo" class="product-logo"></a> -->
			<!--{if $team['close_time'] == 0 }-->
			<div class="col-md-8">
			<!--{else}-->
			<div class="col-md-8 col-md-offset-2">
			<!--{/if}-->
				<h1>{$team['title']}</h1>
			</div>
			<!--<div class="col-md-4">
				<ul class="list-inline social-links">
					<li><a href="#">Favoris</a></li>
					<li><a href="#">Facebook</a></li>
				</ul>
			</div>-->
			<!--{if $team['close_time'] == 0 }-->
			<div class="col-md-8">
			<!--{else}-->
			<div class="col-md-8 col-md-offset-2">
			<!--{/if}-->
				
				<?php 
						 if($gallery_images){
				?>
                
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<ul class="sliders">
						<li><img src="<?php echo team_image($team['image']); ?>" class="img-responsive product-images" alt="Hot deal image"></li>
						<?php 
								foreach($gallery_images as $g_img){
						?>
								<li><img src="/static/{$g_img['image_loc']}" class="img-responsive product-images" alt="" /></li>
						<?php 
								}
						?>
					</ul>
					<div class="pager-container">
					<ul id="bx-pager">
						<li><a data-slide-index="0" href=""><img src="<?php echo team_image($team['image']); ?>" class="img-responsive pager-images" alt="Hot deal image" style="width:120px!important; height:80px!important;"></a></li>
						<?php 
								$i = 0;
								foreach($gallery_images as $g_img){
								$i++
						?>
								<li><a data-slide-index="<?php echo $i; ?>" href=""><img src="/static/{$g_img['image_loc']}" class="img-responsive pager-images" style="width:120px!important; height:80px!important;" alt="" /></a></li>
						<?php 
								}
						?>
					</ul>
					<div href="#" id="slider-next" class="slider-control next"><span class="sr-only"></span></div>
					<div href="#" id="slider-prev" class="slider-control prev"><span class="sr-only"></span></div>
					</ul>
					</div>
				</div>						
			</div>
			<?php 
			} else {
			?>
				<img src="<?php echo team_image($team['image']); ?>" class="img-responsive product-images" alt="Hot deal image">
			<?php
			}
			?>				
			<!--{if $team['seo_description']}-->
				<div class="authen">
					<h1>Notre coup de coeur</h1>
					<div class="description">
						<p>{$team['seo_description']}</p>
					</div>
				</div>
			<!--{/if}-->
			</div>
		
<!--{if $team['close_time'] == 0 }-->
			<div class="col-md-4 padding-left40 has-credit"><!-- Remove css class "has-credit" if there is no credit -->
<?php $isCashBack=false; ?>
<!--{if $team['is_cash_back_allowed']}-->
	<!--{if cashBackCredit($team)}-->
		<!--{if cashBackLeftTime($team)}-->
			<?php $isCashBack=true; ?>
			<div class="credit-back">
				<ul class="list-unstyled">
					
					<li id="credits-i-image"><?php echo cashBackCredit($team);?> crédits</li>
					<!--<li>Plus que <strong class="red-text"><?php //echo cashBackLeftTime($team);?></strong><br>pour recevoir vos <a href="/account/refer.php" >crédits</a></li>-->
					<li>Ce montant vous sera crédité sur votre compte Topdeal après l'achat de cette offre</li>
					
				</ul>
			</div>
		<!--{/if}-->
	<!--{/if}-->				
<!--{/if}-->				
				<div class="progress-wrapper hidden-xs hidden-sm<!--{if $progress_prcntage < 50}--> red<!--{/if}-->">
						<div style="font-size: 16px; margin-bottom: 5px;"><strong>Stock disponible</strong><!--{if $progress_prcntage < 50}--> <span>: Bientôt épuisé</span><!--{/if}--></div>
						<div class="progress ">
						<!--{if $team['state'] == 'soldout'}-->
							 <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
							<!--{else}-->
							 <div class="progress-bar" role="progressbar" aria-valuenow="<?php echo $progress_prcntage; ?>" aria-valuemin="0" aria-valuemax="100">
							<!--{/if}-->
								<span class="sr-only"></span>
						</div>
					</div>		
				</div>

				<div class="price-box hidden-sm hidden-xs">
					<p class="discount"> {$des_txt}  CHF <span class="big">${moneyit($team['team_price'], true)}</span></p>
					<!--  {if $isCashBack } -->
						<p class="original">${cashBackText($team['cb_amount'])}</p>
					<!--{else}-->
						
						<!--  {if $team['market_price'] == $team['team_price'] } --><p class="original">Offre spéciale</p><!--{else}--><p class="original">au lieu de CHF ${moneyit($team['market_price'], true)}</p><!-- {/if} -->
					<!-- {/if} -->
				</div>
				<ul class="list-unstyled more-info hidden-sm hidden-xs">
					<li>
						 <?php if ($team['delivery'] == "express_pickup" ){ ?>
							Livraison CHF ${moneyit($team['fare'], true)} | Sur place CHF 0.-
							<?php 
							}
							else if($team['delivery'] == "pickup" ){
							?>
							Sur place CHF 0.-
							<?php }else if($team['delivery'] == "express" ){?>
							 Livraison CHF ${moneyit($team['fare'], true)}
							<?php 
							}else if($team['delivery'] == "coupon" ){
							?>
							Bon à imprimer
							<?php 
							}
						 ?>
					</li>
					<!--<li>Retrait gratuit possible ou frais de port uniques</li>
					<li>Garantie 2 ans</li>-->
				</ul>
				<div class="buy-btn hidden-sm hidden-xs">
				<!-- {if empty($multi) } -->
					<!--{if $team['state'] == 'soldout'}-->
						<a href="#">Epuisé</a>
					<!--{else}-->
						<a href="#" onclick="javascript:buy();">Acheter</a>
					<!--{/if}-->
				<!--{else}-->
					<!--{if $team['state'] == 'soldout'}-->
						<a href="#">Epuisé</a>
					<!--{else}-->
						<!--{if $login_user_id}-->
							<a href="/team.php?id={$team['id']}&mode=options">Choisir</a>
						<!--{else}-->
							<a href="/account/login.php">Choisir</a>
						<!--{/if}-->
					<!--{/if}-->
				<!--{/if}-->
				</div>
		</div>
	</div>
	<!--{/if}-->
</div><!-- Hot deal -->

<!--{if $team['close_time']}-->	
	<div class="container-fluid">		
		<div class="container" style="padding:0;">
			<div class="row text-center">				
				<a href="mailto:support@topdeal.ch?subject=Demande%20de%20réassort%20d'une%20offre&body=Je%20désire%20une%20nouvelle%20publication%20de%20cette%20offre:%20<?php echo curPageURL(); ?>%0A%0AMerci%20de%20me%20tenir%20informé(e)%20par%20e-mail%20si%20le%20deal%20peut%20être%20à%20nouveau%20publié." class="long-btn restock">Me prévenir si l'offre est réactivée</a>				
			</div>
		</div>
	</div>	
<!--{else}-->
<div class="container-fluid hot-deal hidden-lg hidden-md"  id="action-bar">
			
		<div class="container" style="padding:0;">
			
				<h1 class="mobile-title">{$title}</h1>
				<div class="row">
				<div class="col-md-4 col-xs-12  col-md-pull-7 hidden-lg hidden-md">
					<div class="progress-wrapper<!--{if $progress_prcntage < 50}--> red<!--{/if}-->">
						<h4>Stock disponible</h4>
						<div class="progress">							
						<!--{if $team['state'] == 'soldout'}-->
							 <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
							<!--{else}-->
							 <div class="progress-bar" role="progressbar" aria-valuenow="<?php echo $progress_prcntage; ?>" aria-valuemin="0" aria-valuemax="100">
							<!--{/if}-->
								<span class="sr-only"></span>
							  
							</div>							
						</div>
					</div>		
				</div>	
				<div class="col-md-3 col-xs-6 text-right col-md-push-5">
					<div class="price-box">
						<p class="discount"> {$des_txt}  CHF <span class="big">${moneyit($team['team_price'], true)}</span></p>
						<!--  {if $isCashBack } -->
							<p class="original">${cashBackText($team['cb_amount'])}</p>
						<!--{else}-->
						<!--  {if $team['market_price'] == $team['team_price'] } --><p class="original">Offre spéciale</p><!--{else}--><p class="original">au lieu de CHF ${moneyit($team['market_price'], true)}</p><!-- {/if} -->
						<!-- {/if} -->
					</div>
				</div>
				
                           <!-- {if empty($multi) } -->
				<div class="col-md-4 col-xs-6 text-center buy-btn col-md-push-5">		
                                        <form id="frmAcheter" action="/basket.php" method="post">
                                                <input type="hidden" name="team_id" value="{$team['id']}" />
                                                <input type="hidden" name="action" value="add" />
                                                <input type="hidden" name="mode" />
                                                <input type="hidden" name="option_id" />
                                            </form>
											<!--{if $team['state'] == 'soldout'}-->
											<a href="#">Epuisé</a>
											<!--{else}-->
											<a href="#"  onclick="javascript:buy();">Acheter</a>
											<!--{/if}-->
					<p class="hidden-xs">
                                            <?php if ($team['delivery'] == "express_pickup" ){ ?>
                                            Livraison CHF ${moneyit($team['fare'], true)} | Sur place CHF 0.-
                                            <?php 
                                            }
                                            else if($team['delivery'] == "pickup" ){
                                            ?>
                                            Sur place CHF 0.-
                                            <?php }else if($team['delivery'] == "express" ){?>
                                             Livraison CHF ${moneyit($team['fare'], true)}
                                            <?php 
                                            }else if($team['delivery'] == "coupon" ){
                                            ?>
                                            Bon à imprimer
                                            <?php 
                                            }
                                            ?>
                                        </p>
				</div>
                            <!--{else}-->
				<div class="col-md-4 col-xs-6 text-center buy-btn col-md-push-5">
							<!--{if $team['state'] == 'soldout'}-->
								<a href="#">Epuisé</a>
							<!--{else}-->
					
							   <!--{if $login_user_id}-->
									<a href="/team.php?id={$team['id']}&mode=options">Choisir</a>
							   <!--{else}-->
									<a href="/account/login.php">Choisir</a>
							   <!--{/if}-->
						   <!--{/if}-->
                            <p class="hidden-xs">
                                            <?php if ($team['delivery'] == "express_pickup" ){ ?>
                                            Livraison CHF ${moneyit($team['fare'], true)} | Sur place CHF 0.-
                                            <?php 
                                            }
                                            else if($team['delivery'] == "pickup" ){
                                            ?>
                                            Sur place CHF 0.-
                                            <?php }else if($team['delivery'] == "express" ){?>
                                             Livraison CHF ${moneyit($team['fare'], true)}
                                            <?php 
                                            }else if($team['delivery'] == "coupon" ){
                                            ?>
                                            Bon à imprimer
                                            <?php 
                                            }
                                            ?>
                                        </p>
                           </div>
                            <!--{/if}-->
                <ul class="list-unstyled more-info hidden-lg hidden-md">
					<li>
						 <?php if ($team['delivery'] == "express_pickup" ){ ?>
							Livraison CHF ${moneyit($team['fare'], true)} | Sur place CHF 0.-
							<?php 
							}
							else if($team['delivery'] == "pickup" ){
							?>
							Sur place CHF 0.-
							<?php }else if($team['delivery'] == "express" ){?>
							 Livraison CHF ${moneyit($team['fare'], true)}
							<?php 
							}else if($team['delivery'] == "coupon" ){
							?>
							Bon à imprimer
							<?php 
							}
						 ?>
					</li>
					<!--<li>Retrait gratuit possible ou frais de port uniques</li>
					<li>Garantie 2 ans</li>-->
				</ul>                
				<div class="col-md-4 col-xs-12  col-md-pull-7 hidden-sm hidden-xs">
					<div class="progress-wrapper<!--{if $progress_prcntage < 50}--> red<!--{/if}-->">
						<div class="progress ">
						<!--{if $team['state'] == 'soldout'}-->
							 <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
							<!--{else}-->
							 <div class="progress-bar" role="progressbar" aria-valuenow="<?php echo $progress_prcntage; ?>" aria-valuemin="0" aria-valuemax="100">
							<!--{/if}-->
								<span class="sr-only"></span>
							  
							</div>
							<h4>Stock disponible</h4>
						</div>
					</div>		
				</div>		
			</div>
		</div>			
<!-- {/if} -->
		</div>
	</div>
	
<?php $parentCreditBackAmount = ''; ?>
<!--{if $team['is_cash_back_allowed']}-->
	<!--{if cashBackCredit($team)}-->
		<!--{if cashBackLeftTime($team)}-->
		<?php $parentCreditBackAmount = "| Credit back de CHF ".$team['cb_amount'].".- "; ?>
		<!--{/if}-->
	<!--{/if}-->
<!--{/if}-->
		
<div class="container description">
               <!-- {if !empty($team['summary']) } --> 
                <div class="article-box">
                    <div class="row">
                        <h2>Nous vous proposons</h2>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="options">
								<strong>{$team['title']} </strong>
								{$team['summary']}
								<?php
									if($team['end_time']>$nowTime)
									{
									?>
										<p><strong>CHF ${moneyit($team['team_price'], true)}</strong>
										<!--  {if $parentCreditBackAmount } -->
											{$parentCreditBackAmount}
										<!--{else}-->
											<!--{if $team['team_price'] != $team['market_price']}-->
													au lieu de CHF ${moneyit($team['market_price'], true)}
												<!--{else}-->
													Offre spéciale
											<!-- {/if} -->	
									<!-- {/if} -->
										</p>
									<?php
									}
								?>
							</div>
                        </div>
                    </div>
                </div>
               <!--{else}-->
               
		<!-- {if !empty($multi) } -->
		
                <div class="article-box">
                    <!--{loop $multi $index $one}-->
<?php $creditBackAmount = ''; ?>
<!--{if $one['is_cash_back_allowed']}-->
	<!--{if cashBackCredit($one)}-->
		<!--{if cashBackLeftTime($one)}-->
		<?php 
			$creditBackAmount = "| Credit back de CHF ".$one['cb_amount'].".- ";
		?>
		<!--{/if}-->
	<!--{/if}-->
<!--{/if}-->

<!--  {if !$creditBackAmount } -->
	<?php $creditBackAmount = $parentCreditBackAmount; ?>	
<!--{/if}-->
					
                    <!--{if $index%2 == 0 }-->
                        <div class="row">
												<!--{if $index < 2 }-->
												 <h2>Nous vous proposons</h2>
												 <!--{/if}-->
                    <!--{/if}-->  
										
				<div class="col-md-5 <!--{if $index%2 == 0  }--> col-md-offset-1<!--{/if}-->">
					<div class="options">
					<strong>{$one['title']} </strong>
						{$one['summary']}
							<?php
							if($team['end_time']>$nowTime)
							{
							?>
								<p><strong>CHF ${moneyit($one['team_price'], true)}</strong>
									<!--  {if $creditBackAmount } -->
												{$creditBackAmount}
											<!--{else}-->
												<!--  {if $one['market_price'] != $one['team_price'] } -->
													au lieu de CHF ${moneyit($one['market_price'], true)}
												<!--{else}-->
													Offre spéciale	
												<!-- {/if} -->	
										<!-- {/if} -->
								
								</p>
						<?php	
							}
						?>
						</ul>
					</div>
				</div>
					
                                <!--{if $index%2 != 0  }-->    
                                    </div>
                                    <!--{/if}-->
			<!--{/loop}-->
		</div>
                <!--{/if}-->
                <!--{/if}-->
                
                <?php 
                     if($team['notice']){
                ?>
		<div class="article-box">
			<div class="row">
				<h2><img src="/static/images/heart-icon.png"/> Vous aimerez:</h2>		
				<div class="col-md-8 col-md-offset-2">
					<div class="text-center vous-aimerez">				
						{$team['notice']}
					</div>
				</div>						
			</div>
		</div>
                <?php 
                    }
                ?>
		<div class="article-box">
			<div class="row">				
				<div class="col-md-8 col-md-offset-2 col-xs-12">
					
                                    <?php 
                                        if($desc_images){
                                            foreach($desc_images as $dsc_img){
                                    ?>
                                        <div class="product-images">
						<img src="/static/{$dsc_img['image_loc']}" class="img-responsive" />
					</div>
				    <?php 
                                    }}
                                    ?>
                                    <?php
                                    if($team['flv'] != ''){
                                    ?>
					<div class="product-video">
						<div class="embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item" src="<?php echo $team['flv']; ?>" allowfullscreen=""></iframe>
						  </div>
					</div>
                                    <?php } ?>
				</div>						
			</div>
		</div>
		
                <?php 
                    if(trim($team['systemreview']) != ''){
                ?>
		<div class="article-box">
			<div class="row">		
				<h2>Caractéristiques</h2>		
				<div class="col-md-8 col-md-offset-2 col-xs-12">
                                    <table class="table type-01">
                                        <tbody>
                                            <?php 
                                               $systemreview = explode('<br />', $team['systemreview']); 
                                               $j = 0;
                                               foreach($systemreview as $sr){
                                               if($j ==0){
                                                echo '<tr><th width="50%">'.$sr.': </th>';
                                                $j++;
                                               } 
                                               else if($j == 1){
                                                echo '<td>'.$sr.'</td></tr>';
                                                $j = 0;
                                               }
                                               
                                               }
                                            ?>
                                        </tbody>
                                    </table>
				</div>						
			</div>
		</div>
                <?php 
                }
                 if($team['detail']){
                ?>
		<div class="article-box">
			<div class="row">		
				<h2>Conditions</h2>		
				<div class="col-md-8 col-md-offset-2 col-xs-12">
                                        {$team['detail']}
				</div>						
			</div>
		</div>
                <?php 
                    }
                     if($partner['location']){
                ?>
                <div class="article-box">
			<div class="row">		
				<h2>{$partner['title']}</h2>		
				<div class="col-md-8 col-md-offset-2 col-xs-12">
                                        {$partner['location']}
					<div class="partner_images">
						
						 <!--{if $partner['image'] }-->    
						<div>
							<img src="/static/{$partner['image']}" class="img-responsive"/>
						</div>
						<!--{/if}-->
						 <!--{if $partner['image1'] }-->    
						<div>
							<img src="/static/{$partner['image1']}" class="img-responsive"/>
						</div>
						<!--{/if}-->
						 <!--{if $partner['image2'] }-->    
						 <div>
							<img src="/static/{$partner['image2']}" class="img-responsive"/>
						</div>
						<!--{/if}-->    
				   </div>
				</div>	
				
			</div>
		</div>
                
                <?php 
                    }
                     if($brand){
                ?>
		<div class="article-box">
			<div class="row">		
				<h2>La Marque - {$brand['brand_title']}</h2>		
				<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
				{$brand['brand_text']}	
				</div>						
			</div>
		</div>
                <?php 
                }
                ?>
		<div class="article-box">
			<div class="row">		
				<h2>Partagez cette offre</h2>		
				<div class="col-md-12 text-center">
					<ul class="list-inline list-unstyled social">
						<li><a target="_blank" href="https://twitter.com/share?text={$team['title']} @topdealch"><img src="/static/images/twitter.png" class="img-responsive"/></a></li>
						<li><a href="javascript:var%20d=document,f='https://www.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1342667834&u='+e(l.href)+'&t='+e(d.title);1;try{if%20(!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z)%20{a=function()%20{if%20(!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p};if%20(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0)"><img src="/static/images/facebook.png" class="img-responsive"/></a></li>
                                                <li>
                                                    <span  class='st_sharethis_custom' st_url="{$INI['system']['wwwprefix']}/team.php?id={$team['id']}" st_title="{$team['title']}"></span>
                                                          <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
                                                          <script type="text/javascript">
                                                                  stLight.options({
                                                                          publisher:'50016f1b-c289-4cf4-a6ee-29604472432c',
                                                                                          
                                                                  });
                                                          </script> 
                                                          <style>
                                                              .st_sharethis_custom{
	background: url("/static/images/email.png") no-repeat scroll left top transparent;
	padding:31px 71px 0 0;
}
                                                              </style>
                                                </li>
					</ul>
				</div>						
			</div>
		</div>
	</div>

<script type="text/javascript">	
	function buy(){
		 <!--{if $login_user_id}-->
						$('input[name=mode]').val('buy');
						 $('#frmAcheter').submit();
		<!--{else}-->
				window.location.href = '/account/login.php';
		<!--{/if}-->
	}

	function acheter(){
		$('#frmAcheter').submit();
	}
	$('#mobile-category').removeClass('home');
		
	var productSlider = $('.sliders').bxSlider({
		pagerCustom: '#bx-pager',
		controls: false,
		onSliderLoad: function(){
			$('#bx-pager').bxSlider({
				slideWidth: 120,
				minSlides: 1,
				maxSlides: 4,
				moveSlides: 1,
				controls: true,
				nextSelector: '#slider-next',
				prevSelector: '#slider-prev',
				prevText: '',
				nextText: '',
				pager: false,
				slideMargin: 25,
				onSliderLoad: function(index){
					$('#bx-pager').parent().height('100');
				},
				onSlideNext: function(){
					productSlider.goToNextSlide();
				},
				onSlidePrev: function(){
					productSlider.goToPrevSlide();
				}
			});
			$('.sliders li').click(function(){
				productSlider.goToNextSlide();
			});			
		}
	});
	
</script>
<div class="hidden" id="category-script"><!-- Run script when call by ajax -->
	function buy(){
		 <!--{if $login_user_id}-->
						$('input[name=mode]').val('buy');
						 $('#frmAcheter').submit();
		<!--{else}-->
				window.location.href = '/account/login.php';
		<!--{/if}-->
	}

	function acheter(){
		$('#frmAcheter').submit();
	}
	$('#mobile-category').removeClass('home');
	
	var productSlider = $('.sliders').bxSlider({
		pagerCustom: '#bx-pager',
		controls: false,
		onSliderLoad: function(){
			$('#bx-pager').bxSlider({
				slideWidth: 120,
				minSlides: 1,
				maxSlides: 4,
				moveSlides: 1,
				controls: true,
				nextSelector: '#slider-next',
				prevSelector: '#slider-prev',
				prevText: '',
				nextText: '',
				pager: false,
				slideMargin: 25,
				onSliderLoad: function(index){
					$('#bx-pager').parent().height('100');
				},
				onSlideNext: function(){
					productSlider.goToNextSlide();
				},
				onSlidePrev: function(){
					productSlider.goToPrevSlide();
				}
			});
			$('.sliders li').click(function(){
				productSlider.goToNextSlide();
			});			
		}
	});
</div>
<input type="hidden" value="{$previous_team_id}" name="prev_deal"/>
<input type="hidden" value="{$next_team_id}" name="next_deal"/>
</div>
<!--
<div class="navi-deal hidden-lg hidden-md text-center fixed">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"  title="Previous deal"></span>
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="Next deal"></span>
</div>
-->
<?php
$prevUrl = (!empty($previous_team_id))?'/team.php?id='.$previous_team_id: '#';
$nextUrl = (!empty($next_team_id))?'/team.php?id='.$next_team_id: '#';
?>
<div class="container deal-navi hidden-lg hidden-md">
	<div class="row">
		<div class="col-xs-5"><a href="{$prevUrl}" class="previous">Offre précédente</a></div>
		<div class="col-xs-2"><span class="sr-only">Deal navigation</span></div>
		<div class="col-xs-5"><a href="{$nextUrl}"  class="next">Offre suivante</a></div>
	</div>
</div>
