<div id="primary" class="myorder-template">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>			
			<li class="current"><a href="/order/index.php">Achats</a>
                            <!--<ul>
                                <li class="first-row current"><a href="/order/index.php">Payés</a></li>
                                <li><a href="/order/index.php?s=unpay">A payes</a></li>
                            </ul>-->
			</li>
			<li><a href="#">Bons</a>
                            <ul>
                                    <li class="first-row"><a href="/coupon/index.php">A imprimer</a></li>
                                    <li><a href="/coupon/consume.php">Utilisés</a></li>
                                    <li><a href="/coupon/expire.php">Expirés</a></li>
                            </ul>
			</li>
			<li><a href="/account/refer.php">Crédits</a></li>
			<li><a href="/account/settings.php">Profil</a></li>			
		</ul>
	</div>

        <!--{if !$order_items}-->
                      <div style="text-decoration: none;"> Pas d'achat pour le moment </div>
        <!--{/if}-->  

	<!-- #profile-tab -->
	<div id="purchase-list" class="myorder-list" style="margin-top: 0;">
		
			<div class="order-block">
                        <!--{loop $order_items $index $one}-->			
			<table class="order-block-item">		
                        <tr class="first-row">
                            <th colspan="4">
							<p class="orderid">Commande n&deg; {$one['order_id']}</p>
							<span>Achat effectué le ${date('d.m.Y',$orders[$one['order_id']]['create_time'])}</span>	
                                    
                            </th>
						</tr>
						</tr>
                        <!--${$showShipping = false}-->
						<tr>
							<td colspan="4">
								<!--{if $one['delivery'] != 'coupon'}-->
								<div class="order-status status{$one['delivery_status']}">											
									<div class="status<!--{if $one['delivery_status'] == ZOrder::ShipStat_Delivered || $one['delivery_status']==ZOrder::ShipStat_Available}--> delivered<!--{/if}-->">Statut - {$delivery_status[$one['delivery_status']]}</div>
									<div class="eta">
									<!--{if $one['delivery_status'] == ZOrder::ShipStat_Available && $one['delivery'] == 'pickup'} -->
									Votre commande peut être retirée
									<!--{else if $one['delivery_status'] == ZOrder::ShipStat_Delivered}-->
									Commande expédiée le ${date('d.m.Y', $one['delivery_time'])}	
									<!--{else if $one['delivery_status'] == ZOrder::ShipStat_PickedUp}-->
									Retrait effectué le ${date('d.m.Y', $one['delivery_time'])}
									<!--{else}-->
									Date de livraison estimée ${date('d.m.Y', $one['delivery_time'])}
									<!--{/if}-->
									</div>
								</div>
								<!--{/if}-->
							</td>
						</tr>
                        <tr>
                            <td class="purchase-product" width="50%">
							<h4><a href="<!--${echo ZTeam::GetTeamUrl($one,true)}-->"><!--{if $lang=="en"}-->{$teams[$one['team_id']]['title']}<!--{elseif $lang =='fr'}--> {$teams[$one['team_id']]['title_fr']}<!--{/if}--></a></h4><br/>
								<!--{if $one['option_id']}-->
								{$options[$one['option_id']]['summary']}<br/>
								<!--{/if}-->
								<a href="/order/view.php?oiid={$one['id']}"><img src=
								<!--{if $one['option_id']}-->
								 "${team_image($options[$one['option_id']]['image'], true)}"
								 <!--{else}-->
								 "${team_image($teams[$one['team_id']]['image'], true)}" 
								 <!--{/if}-->
								height="108" class="thumbnail" alt="{$teams[$one['team_id']]['title']}" /></a>
								
						    </td>
                            <td class="purchase-quantity">{$one['quantity']}x</td>
                            <td class="purchase-price">${moneyit($one['price'])}<span>CHF</span></td>
                            <td class="purchase-total">${moneyit($one['price']*$one['quantity'])}<span>CHF</span></td>                            
                        </tr>
						<tr>
							
							<td><!--{if $one['delivery_status'] != ZOrder::ShipStat_PickedUp && 
								$one['delivery']=='pickup' || 
								($one['delivery']=='coupon' && $coupons[$one['id']]['consume'] != 'Y' && $coupons[$one['id']]['expire_time'] > time()) }-->
								<div class="clearfix" style="margin: 0 38px;">					
									<div class="payer-btn"><a href="/coupon/index.php">Accéder à mes bons</a></div>
									<div class="payable-text">Valable jusqu’au <span>${date('d.m.Y',$coupons[$one['id']]['expire_time'])} </span></div>
								</div>
								<!--{/if}-->
							</td>
							
							<td colspan="3" class="purchase-view bons-view">							
									<a href="/order/view.php?oiid={$one['id']}" class="view-order"><img src="/static/images/eye-icon.png"/> Voir le détail de la facture</a>
									<!--{if $selector!='expire'}-->
									<a href="/team.php?id={$one['team_id']}" class="view-deal"><img src="/static/images/eye-icon.png"/> Voir le deal</a>
									<!--{/if}-->
                                                                       <!--{if $delivery_status[$one['delivery_status']] == 'En cours de préparation' && $one['shipment_status'] == 1  }-->
                                                                       <a href="http://www.post.ch/swisspost-tracking?formattedParcelCodes={$one['shipment_identcode']}" target="_blank" class="view-deal"><img src="/static/images/eye-icon.png"/> Suivi de livraison </a>
                                                                       <!--{/if}-->
							</td>
						</tr>
        			</table>
				<?php if (($order_items[$index+1]['order_id'] != null) && ($order_items[$index+1]['order_id'] != $order_items[$index]['order_id'])) { ?>			
				</div>	
				<div class="order-block">		    
				<?php } ?>			
		        <!--{/loop}-->			
				</div>
	</div>
  
	<!-- #purchase-list -->
	<div class="deals-list">
		<h2 class="section-title">Deals recommandés</h2>
                <!--{loop $recommended_deals $index $one}-->
		<!--{if $lang=="en"}-->
			<!--${$ititle = $one['title']}-->
			<!--{elseif $lang =='fr'}-->
			<!--${$ititle = $one['title_fr']}-->
		<!--{/if}-->
		<div class="deal-box">
			<div class="thumb-box" onclick="top.location.href='<!--${echo ZTeam::GetTeamUrl($one)}-->'"><img alt="{$ititle}" src="${team_image($one['image'], true)}" width="348px" height="141px">
				<?php if($one['max_number'] > 0 && $one['now_number'] >= $one['max_number']){ ?>
				<div class="sold-out">Sold out</div>
				<?php } ?>
				<div class="prices-box">${moneyit($one['team_price'])}<span>CHF</span></div>
				<div class="percent-box">${moneyit(round((100*($one['market_price'] - $one['team_price'])/$one['market_price'])))}<span>%</span></div>
				<div class="gift-box"> <a href="<!--${echo ZTeam::GetTeamUrl($one)}-->" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->" title="{$ititle}" class="label">${trim(mb_strimwidth($ititle,0,86,'...'))}</a></h3>
			<!--${$now = time()}-->
                        <!--${$diff_time = $left_time = $one['end_time']-$now}-->
                        <!--{if $one['team_type'] == 'seconds' && $one['begin_time'] >= $now}-->
                                <!--${$diff_time = $left_time = $one['begin_time']-$now}-->
                        <!--{/if}-->
                        <!--${$left_day = floor($diff_time/86400)}-->
                        <!--${$left_time = $left_time % 86400}-->
                        <!--${$left_hour = floor($left_time/3600)}-->
                        <!--${$left_time = $left_time % 3600}-->
                        <!--${$left_minute = floor($left_time/60)}-->
                        <!--${$left_time = $left_time % 60}-->
                        <!--{if $left_day>0}-->
                        <div class="timing-box">
				<ul>
					<li>
						<p><span>${I('Days')} </span>{$left_day}</p>
					</li>
					<li>
						<p><span>${I('Hours')} </span>{$left_hour}</p>
					</li>
					<li class="last-item">
						<p><span>${I('Minutes')}  </span>{$left_minute}</p>
					</li>
                                </ul>
			</div>
                        <!--{elseif $left_hour > 0}-->
                         <div class="timing-box less-one-day">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span>{$left_hour}</p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span>{$left_minute}</p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span>{$left_time}</p>
                                    </li>
				</ul>
			</div>
                        <!--{else}-->
                        <div class="timing-box less-one-hour">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span>{$left_hour}</p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span>{$left_minute}</p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span>{$left_time}</p>
                                    </li>
				</ul>
			</div>
                        <!--{/if}-->
		</div>
                 <!--{/loop}-->		
	</div>
	<!-- .deals-list -->
</div>
