<div class='account'>
<!-- Main menu-->
<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">MON PROFIL</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<div class="sidebar-menu">
						<ul class="list-unstyled">
							<li class="active"><a href="/account/settings.php">MON PROFIL</a></li>
							<li><a href="/account/address_change.php">MES ADRESSES</a></li>
							<li><a href="/account/reset.php">MODIFIER LE MOT DE PASSE</a></li>
							<li><a href="/order/index.php">MES ACHATS ET BONS</a></li>
							<li><a href="/account/refer.php">CREDITS & PARRAINAGE</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="padlr-20">
						<h2 class="the-title">Je suis</h2>
						
						<!--{if $session_notice=Session::Get('notice',true)}-->
							<div class="alert alert-success" id="sysmsg-success"><div class="sysmsg"><p>{$session_notice}</p></div></div> 
						<!--{/if}-->
						
						<!--{if $session_error=Session::Get('error',true)}-->
							<div class="alert alert-danger" id="sysmsg-error"><div class="sysmsg"><p>{$session_error}</p></div></div> 
						<!--{/if}-->
						<form action="/account/settings.php" method="post" name="profiles" enctype="multipart/form-data" class="form-01 profil-form">
							<div class="row">
								<div class="col-md-6">
									<label class="select-box">
                                                                            
                                                                            <select name="gender" class="select">
                                                                                <option value="M" <!--{if $login_user['gender'] == 'M'}-->selected = "selected"<!--{/if}-->>Un monsieur</option>
										<option value="F" <!--{if $login_user['gender'] == 'F'}-->selected = "selected"<!--{/if}-->>Une madame</option>
                                                                            </select>
									</label>
                                                                        <input type="text" value="<!--{if $login_user['first_name'] != ''}-->{$login_user['first_name']}<!--{/if}-->" name="first_name" placeholder="Prénom"/>
									<input type="text" value="<!--{if $login_user['first_name'] != ''}-->{$login_user['last_name']}<!--{/if}-->" name="last_name" placeholder="Nom"/>
								</div>
								<div class="col-md-6 hidden-sm hidden-xs">
                                                                        <input type="file" id="upload_image" name="upload_image" style="display:none;"/>
									<div class="padl-25 user-avatar avatar-box"> <span>Ma photo:</span>
										<div class="user-photo"> <img src="${user_image($login_user['avatar'])}" width="173" height="173" alt="" /> <i class="add-icon"></i> </div>
									</div>
								</div>
							</div>
							<span>Né(e) le:</span>
							<div class="row">
								<div class="col-md-6 col-sm-8 col-xs-8">
									<div class="row">
										<div class="col-md-6 col-sm-6 col-xs-6">
											<div class="padr-5">
												<label class="select-box">
                                                 <select name="bd_day">
														<option>jj</option>
														<?php 
														for($i =1; $i < 32; $i++)
														{
															$daySelected = '';
															if(!empty($login_user['birth_day']))
															{
																if(date('j',$login_user['birth_day']) == $i)
																{
																	$daySelected = " selected=selected ";
																}
															}	
														?>
															
															<option value="{$i}""{$daySelected}" >{$i}</option>
														
														<?php 
															
														}
														?>
													</select>
												</label>
											</div>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<div class="padl-5">
												<label class="select-box">
                                                   <select name="bd_month">
														<option>MM</option>
														<?php 
														for($m =1; $m <= 12; $m++)
														{
															$monthSelected = '';
															if(!empty($login_user['birth_day']))
															{
																if(date('n',$login_user['birth_day']) == $m)
																{
																	$monthSelected = " selected=selected ";
																}
																	
															}
														?>
																<option value="{$m}""{$monthSelected}">{$m}</option>
														<?php 
														}
														?>
                                                    </select>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-4 col-xs-4">
									<div class="padl-25">
										<label class="select-box">
											<select name="bd_year">
												<option>AA</option>
												<?php 
													$currentYear = date('Y');
													for($y = 1900; $y <$currentYear; $y++)
													{
														$yearSelected = '';
														if(!empty($login_user['birth_day']))
														{
															if(date('Y',$login_user['birth_day']) == $y)
															{
																$yearSelected = " selected=selected ";
															}
														}
													?>
															<option value="{$y}""{$yearSelected}" >{$y}</option>
													<?php 
													}
													?>
											</select>
										</label>
									</div>
								</div>
							</div>
							<p>Votre anniversaire est une occasion que nous souhaitons fêter avec une petite surprise... :-)</p>
							<?php 
                                                        
                                                        if ($login_user['username'] == $login_user['email']) {
                                                          $username = '';
                                                        }
                                                        else{
                                                            $username= $login_user['username'];
                                                        }
                                                        ?>
                                                        <input type="text" value="{$username}" placeholder="Nom d'utilisateur" name="username" required />
							<input type="email" value="{$login_user['email']}" name="email" required />
							<div class="text-left line-height-31">
                                                                <!--{if $isSubscribed }-->
                                                                        <!--${$sselect = 'checked="checked"'}-->
																		<!--${$labelCheck = 'class="checked"'}-->
                                                                <!--{else}-->
                                                                        <!--${$sselect = ''}-->
																		<!--${$labelCheck = 'class=""'}-->
                                                                <!--{/if}-->
								<div class="checkbox-s31">
									<input type="checkbox" value="1" {$sselect} name="subscribe" id="remember-01">
									<label for="remember-01" {$labelCheck}></label>
								</div>
								Recevoir la newsletter </div>
							<div class="text-right">
								<input type="submit" class="submit-01" value="Conﬁrmer" />
							</div>
						</form>
						<!--
						<h2 class="the-title">Mes enfants</h2>
						<form class="form-01 profil-form">
							<span>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultrici.</span>
							<div class="row">
								<div class="col-md-4">
									<label class="select-box">
										<select>
											<option>Garçon</option>
											<option>Un monsieur 2</option>
										</select>
									</label>
								</div>
							</div>
							<input type="text" placeholder="Prénom" name="user-name" />
							<span>Né(e) le:</span>
							<div class="row">
								<div class="col-md-6 col-sm-8 col-xs-8">
									<div class="row">
										<div class="col-md-6 col-sm-6 col-xs-6">
											<div class="padr-5">
												<label class="select-box">
													<select>
														<option>jj</option>
														<option>21</option>
													</select>
												</label>
											</div>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<div class="padl-5">
												<label class="select-box">
													<select>
														<option>MM</option>
														<option>12</option>
													</select>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-4 col-xs-4">
									<div class="padl-25">
										<label class="select-box">
											<select>
												<option>AAAA</option>
												<option>2014</option>
											</select>
										</label>
									</div>
								</div>
							</div>
							<div class="text-right">
								<input type="submit" class="submit-01" value="Ajouter" />
							</div>
							<div class="member-list">
								<h4>Mes enfants:</h4>
								<ul class="list-unstyled">
									<li> <a href="#"><i class="delete-icon"></i></a> <a href="#"><i class="edit-icon"></i></a> <span>Vincent</span><span>15.7.2010</span> </li>
									<li> <a href="#"><i class="delete-icon"></i></a> <a href="#"><i class="edit-icon"></i></a> <span>Laura </span><span>15.7.2010</span></li>
								</ul>
							</div>
						</form>
                                                
                                                -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Hot deal -->
</div>
<script type="text/javascript">
    jQuery(document).ready(function($){
        $('.user-photo').click(function(e){
		e.preventDefault();
		$('#upload_image').trigger('click');
	});
    });
</script>

<style>
.checkbox-s31 label {
	background-image: url("../../../static/images/input.png") !important;
}

.checkbox-wrapper label.checked,
.checkbox-s31 label.checked {
	background-image: url("../../../static/images/input-checked.png") !important;
}

</style>