<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_coupon('cardcreate')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2>New Promo Code</h2>
				</div>
                <div class="sect">
                    <form id="login-user-form" method="post" class="validator">
					<input type="hidden" name="id" value="{$card['id']}" />
                        <div class="field">
                            <label>Partner ID</label>
                            <input type="text" size="30" name="partner_id" id="card-create-partner" class="number" value="${abs(intval($card['partner_id']))}" require="true" datatype="number" /><span class="inputtip">Partner ID could be copied from the Partner menu.</span>
							<span class="hint">0 meaning voucher applicable to all partners here.</span>
                        </div>
						<div class="field">
                            <label>Promo Card Value Type</label>
                            <select name="value_type">
							<option value="1">Face Value</option>
							<option value="2">Discount %age</option>
							</select><span class="inputtip">value is {$currency}</span>
                        </div>
                        <div class="field">
                            <label>Promo Card Face Value</label>
                            <input type="text" size="30" name="money" id="card-create-money" class="number" value="{$card['money']}" datatype="number" require="true" /><span class="inputtip">value is {$currency}</span>
                        </div>
						<div class="field">
                            <label>Promo Card Discount %</label>
                            <input type="text" size="30" name="discount" id="card-create-discount" class="number" value="{$card['discount']}" datatype="decimal" require="true" /><span class="inputtip">value in %age</span>
                        </div>
                        <div class="field">
                            <label>quantity</label>
                            <input type="text" size="30" name="quantity" id="card-create-quantity" class="number" value="${abs(intval($card['quantity']))}" datatype="number" require="true" /><span class="inputtip"> maximum: 1000 vouchers. This operation is repeatable.</span>
                        </div>
                        <div class="field">
                            <label>Begin Time</label>
                            <input type="text" size="30" name="begin_time" id="card-create-begintine" class="number" value="${date('Y-m-d', $card['begin_time'])}" datatype="date" require="true" />
						</div>
                        <div class="field">
                            <label>Close Time</label>
                            <input type="text" size="30" name="end_time" id="card-create-endtime" class="number" value="${date('Y-m-d', $card['end_time'])}" datatype="date" require="true" />
						</div>
                        <div class="field">
                            <label>Batch Label</label>
                            <input type="text" size="30" name="code" id="card-create-code" class="f-input" value="{$card['code']}" datatype="require" require="true" /><span class="inputtip">For the convenience of recording, counting and checking vouchers.</span>
                        </div>
						<div class="field">
                            <label>Total Use</label>
                            <input type="text" size="30" name="max_use" id="card-create-max-use" class="number" value="${abs(intval($card['max_use']))}" datatype="number" require="true" /><span class="inputtip"> How many times this promo card can be used</span>
                        </div>
						<div class="field">
                            <label>Card Code</label>
                            <input type="text" size="30" name="promo_code" id="card-create-card-promo-code" class="f-input" value="{$card['promo_code']}" datatype="require" require="true" /><span class="inputtip"> Code</span>
                        </div>
						<div class="field">
                            <label>Deal ID</label>
                            <input type="text" size="30" name="team_id" id="card-create-card-team-id" class="number" value="${abs(intval($card['team_id']))}" datatype="number" require="true" /><span class="inputtip"> Limit the Promo Code to specific Deal</span>
                        </div>
						<div class="field">
                            <label>Minimum Order Amount</label>
                            <input type="text" size="30" name="min_order" id="card-create-card-min-order" class="number" value="${abs(intval($card['min_order']))}" datatype="double" require="true" /><span class="inputtip"> Minimum Order Amount</span>
                        </div>
						<div class="field">
                            <label>Per Person Limit</label>
                            <input type="text" size="30" name="limit_per_user" id="card-create-card-limit-per-user" class="number" value="${abs(intval($card['limit_per_user']))}" datatype="number" require="true" /><span class="inputtip"> Limit the use per User</span>
                        </div>
						<div class="field">
                            <label>Per Deal Limit</label>
                            <input type="text" size="30" name="limit_per_deal" id="card-create-card-limit-per-deal" class="number" value="${abs(intval($card['limit_per_deal']))}" datatype="number" require="true" /><span class="inputtip"> Limit the use per Deal</span>
                        </div>
						<div class="field">
                            <label>Per Person Per Deal</label>
                            <input type="text" size="30" name="limit_per_user_deal" id="card-create-card-limit-per-user-deal" class="number" value="${abs(intval($card['limit_per_user_deal']))}" datatype="number" require="true" /><span class="inputtip"> Limit the use per deal per person. For e.g. one user can only use once per deal, but can use it with another deal</span>
                        </div>
						<div class="field">
                            <label>Allow Other Promo Code</label>
                            <input type="checkbox" name="allow_other" id="card-create-card-allow-other" value="Y" 
							${$card['allow_other']=='Y'?'checked' : ''}
							/><span class="inputtip"> Allow Other Promo Code with this one</span>
                        </div>
                        <div class="act">
                            <input type="submit" value="Edit" name="commit" id="partner-submit" class="formbutton"/>
                        </div>
					</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
