#coupon-template {
	background-repeat: no-repeat;
	height: 265px;
	width: 559px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding:5px;
	font-family: arial;
	font-size: 12px;
}
#coupon-template h1 {
	font-size:15px;
	color:#21899a;
	font-weight:bold;
	text-align: center;
}
#coupon-template .idspan {
	display:block;
	display:inline;
	background-color:#000;
	font-size:11px;
	color: #FFF;
	padding: 5px;
	margin-top: 0;
	margin-right: 2px;
	margin-left: 2px;
}
#coupon-template .strong {
	font-weight:bold;
	color:red;
	background-color: #FFF;
}
#coupon-template .colRight {
	float:right;
	padding-top:6px;
	padding-right:10px;
	width:320px;
	margin-right:10px;
	margin-top:21px;
	text-align: center;
	z-index:999999;
	position:absolute;
	margin-left:222px;
}
#coupon-template .tableData {
	margin:15px 0px 2px 5px;
	border:1px solid #187e8d;
	padding:4px 4px 2px 4px;
}
#coupon-template .tableDataRules {
	padding:5px;
	font-size: 11px;
}
#coupon-template .tableDataRules th {
	padding-right:5px;
}
#coupon-template .colLeft {
	float:left;
	width:201px;
	padding-top:10px;
	padding-left:10px;
	z-index:9999;
	position:absolute;
	margin-left:5px;
}
.clear{
	clear:both
	}
.clear2{
	clear:both;
	page-break-before:always
	}

.imageBorder{z-index:1; position:absolute}

@media print{
  .page-break { display:block; page-break-after:always; }
  	.noprint{display:none;}
}
