.coupon_print {
	font-family: arial;
	font-size:13px;
}
.coupon_print ul,h1, h2, h3{
	margin: 5px auto ;
}

.coupon_print ul{
	padding-left: 20px;
}

#coupon-template {
	background: url(/static/img/coupon-bg.jpg) no-repeat top center;
	width:596px;
	height:412px;	
	margin: 0 auto;
	padding:5px;
	font-family: arial;
	font-size: 14px;
}
.topbotBorder {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #D6D6D6;
	border-bottom-color: #D6D6D6;
	border-top-style: solid;
	border-bottom-style: solid;
}

#coupon-template h1 {
	font-size:16px;
	color:#911659;
	font-weight:bold;
	font-family: helvetica;
	margin: 0px;
	padding: 0px;
}
.color1 {
	color: #911659;
}
.color2 {
	color: #555;
}


#coupon-template h2 {
	font-size:17px;
	color:#911659;
	font-weight:bold;
	margin: 0px;
	padding: 0px;
}

#coupon-template .idspan {
	display:block;
	display:inline;
	background-color:#000;
	font-size:11px;
	color: #FFF;
	padding: 5px;
	margin-top: 0;
	margin-right: 2px;
	margin-left: 2px;
}
#coupon-template .strong {
	font-weight:bold;
	color:red;
	background-color: #FFF;
}
#coupon-template .colRight {
	float:right;
	padding-top:6px;
	padding-right:10px;
	width:320px;
	margin-right:10px;
	margin-top:21px;
	text-align: center;
	z-index:999999;
	position:absolute;
	margin-left:222px;
}
#coupon-template .tableData {
	margin:15px 0px 5px 5px;
	border:1px solid #187e8d;
	padding:5px;
}
#coupon-template .tableDataRules {
	padding:5px;
	font-size: 11px;
}
#coupon-template .tableDataRules th {
	padding-right:5px;
}
#coupon-template .colLeft {
	float:left;
	width:201px;
	padding-top:10px;
	padding-left:10px;
	z-index:9999;
	position:absolute;
	margin-left:5px;
}
.clear{
	clear:both
	}
.clear2{
	clear:both;
	page-break-before:always
	}

.imageBorder{z-index:1; position:absolute}

.product_package {
	border: solid 2px #7F2452;
	padding: 10px;
	border-radius: 11px 11px 11px 11px;
	width:568px;
	margin: 0 auto 10px;
}

.conditions {
	background: #c3c2c1;
	padding: 10px;
	border-radius: 11px 11px 11px 11px;
	width:568px;
	margin: 0 auto 10px;
}

.conditions h3, .product_package h3{
	font-size: 19px;
	color:#911659;
}

@media print{
  .page-break { display:block;}
  .noprint{display:none;}
}