body,ul,ol,form{
	margin:0 0;
	padding:0 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
ul,ol{list-style:none}
h1,h2,h3,div,li,p{margin:0;padding:2px;font-size:medium}
h2,li,.s{border-bottom:1px solid #ccc}
h1{
	background-color: #fff;
	color: #333;
}
h2{
	
	color: #333;
}

h3{	background-color: #b5cb10;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #13b1c7;
	color: #333;}
.n{border:1px solid #ffed00;background:#fffcaa}
.t,.a,.stamp,#ft{
	color:#FFF;
	font-size:small;
	background-color: #000;
}
a{
	color:#13b0c5;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img{border:0px;}
h1 a{color:#FFFFFF; text-decoration:none;}
.navBg td{
	background-image: url(i/nav-bg.gif);
	background-repeat: repeat-x;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #12C1DA;
	height: 47px;
	vertical-align: middle;
}

.navBg a{
	text-decoration: none;
	color: #000;
}
.forButton {
	background-image: url(i/btn-bg.gif);
	background-repeat: repeat-x;
	color: #FFF;
	font-weight: bold;
	border: 1px solid #13b0c5;
}
