/* = Common
----------------------------------------------- */
@font-face {
    font-family: 'Gudea-Bold';
    src: url('../fonts/gudea-bold-webfont.eot');
    src: url('../fonts/gudea-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gudea-bold-webfont.woff') format('woff'),
         url('../fonts/gudea-bold-webfont.ttf') format('truetype'),
         url('../fonts/gudea-bold-webfont.svg#gudeabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gudea-Italic';
    src: url('../fonts/gudea-italic-webfont.eot');
    src: url('../fonts/gudea-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gudea-italic-webfont.woff') format('woff'),
         url('../fonts/gudea-italic-webfont.ttf') format('truetype'),
         url('../fonts/gudea-italic-webfont.svg#gudeaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gudea-Regular';
    src: url('../fonts/gudea-regular-webfont.eot');
    src: url('../fonts/gudea-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gudea-regular-webfont.woff') format('woff'),
         url('../fonts/gudea-regular-webfont.ttf') format('truetype'),
         url('../fonts/gudea-regular-webfont.svg#gudearegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'Gudea-Regular' ,Verdana, Arial , tahoma;	
	background: url(../images/new_nav.png) repeat-x 0 0;
	font-size: 14px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-size: 14px;
}

#help .sect p{
	font-size: 14px;
}

h1, h2, h3, h3, h5{
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	color: inherit;
}
#doc{
	background: url(../images/header_new.png) no-repeat top center;
	width: 100%;
}

.h-input, input.date, input.number, .f-input, input[type=text]{
	padding: 7px;
	border: #d9dad5 solid 3px;	
	margin-bottom: 10px;
	height: auto;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;	
	margin-left: 5px;
}

input.formbutton, #signup input.formbutton{
	padding: 1px 6px;
	font-weight: bold;
	color: #ffffff;
	border: 0;
	cursor: pointer;
	background: #85c422;
	font-size: 16px;
	font-family: 'Gudea-Bold', arial;
	text-transform: capitalize;
	margin-left: 5px;
}
a{
	color: #f04e1e;
}

dd#bd{position:relative;z-index:1;width:960px;margin:0 auto;padding:75px 0 65px;}
#bd,#bd2{position:relative;z-index:1;width:960px;margin:0px auto 15px;}
#header{
	background: transparent;
	width: 100%;
}

/* Header */

#header .banner{
	width: 960px;
	margin: 0 auto;
}

.header .logo > a{
	display: block;
	width: 348px;
	height: 87px;
	text-indent: -999px;
}
.header .navigation{
	overflow:visible;
	position:relative;
	width: 100%;
	height: 36px;
	background: transparent;
}

.header .navigation a,.header .action a{
	margin-left: 25px;
	font-size: 18px;
}


/* Content */
#bd, #bd2{
	width: 100%;
}


.dashboard{
	padding-top: 15px;
	margin: 0;
}

.dashboard ul{
	margin: 0 auto;
	float: none;
}

.dashboard li, .filter li{
	height: 30px;
	background: #a2a39d url(../images/dot-06.jpg) repeat-y right top;
	padding-right: 1px;
	margin-right: 0;
}

.dashboard li a, 
#coupons  .filter li a, 
#content  .filter li a{
	padding: 0 20px 13px;
	height: 30px;
	display: block;
	line-height: 30px;
	color: #ffffff;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.dashboard li span{
	display: none;
}

#coupons .filter li, #content .filter li{
	margin: 0;		
}

#coupons  .filter li a, #content  .filter li a{
	background: transparent;
}

.dashboard li.current a,
#coupons  .filter li.current a,
#coupons  .filter li a:hover,
#content  .filter li.current a,
#content  .filter li a:hover,
.dashboard li a:hover{
	padding: 0 20px 13px;
	height: 30px;
	display: block;
	line-height: 30px;
	color: #ffffff;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	font-size: 14px;	
	background: url(../images/profil-tab-bg-on.png) no-repeat left top;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.filter, th{
	text-transform: capitalize;
}

#coupons .filter, #content .filter{
	top: -15px;
	right: 10px;
	left: auto;
}



#content, #content.mainwide {
	float: none;
	margin: 0 auto;
}

#content .field label{
	text-transform: capitalize;
	width: 150px;	
}

#content .head h2{
	color: inherit;
	padding-left: 0;
}

#content.mainwide .sect{
	padding: 10px 0;
	width: 960px;
}

#content.mainwide .sect.customize{
	padding: 10px 0;
	border-top: none;
}

#content.mainwide .sect.disabletop{
	padding: 10px 0;
}

.coupons-table{
	margin: 0;
}

.coupons-table td.op{
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
}

.bdw .box, .bdw .sbox, .sbox-white{
	background: none;
}

.paginator li a:hover{
	background: #85c422;
}
/* Footer*/
#footer_wrapper{	
	color: inherit;
	padding: 0;
	min-height: 0;
}

#footer {
	background: #c1e48a url(../images/footer_bg.png) repeat-x 0 0;
	overflow: hidden;
	padding: 20px 0px 30px;
}

.container {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}

#footer .aside-box {
	float: left;
	width: 130px;
	padding-right: 18px;
	color: #31332f;	
}
#footer .aside-box h3 {
	padding-bottom: 10px;
	font-size: 14px;
	text-transform: none;	
}
#footer .link-list li {
	padding-bottom: 7px;
}
#footer .link-list li a {
	font-size: 13px;
	color: #31332f;
}
#footer .link-list li.current a {
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	color: #70b10a;
}

#footer .link-list li.current a {
	font-size: 14px;
}

#footer .link-list li:hover a,#footer  .link-list li a:hover {
	color: #70b10a;
}
#footer .payment-box {
	float: right;
	width: 200px;
	padding-right: 0px;
}
#footer .payment-box li {
	float: left;
	margin-right: 12px;
}

.wth-200 {
	width: 200px !important;
}

.copyright {
	float: left;
	width: 940px;
	font-style: italic;
	padding: 10px;
	color: #3a3b39;
	margin-top: 15px;
	background: url(../images/dot-04.jpg) repeat-x left top;
	font-family: Georgia,"Gudea-Regular", Arial, Helvetica, sans-serif;
}
.copyright p{
	font-size: 11px;
}
.linespace{
	background: transparent;
}
.account_info{
	height: auto;
}

.account_info li {
	padding: 10px;
	font-size: 14px;
	background: #f1f1f1;
	border-radius: 0 0 6px 6px;
	border: 3px solid #ccc;
	margin-top: -3px;
}

#verify-coupon-id{
	background: #85c422 url(../images/yes-success-32.png) no-repeat center left;
	color: #fff;
	position: absolute;
	top: 195px;
	border-radius: 6px;
	z-index: 2000;
	font-family: Gudea-Bold;
	padding: 10px 10px 10px 32px;
}
#order-pay-dialog .close{
	background: none;
}
#order-pay-dialog .info{
	font-family: inherit;
}
#order-pay-dialog .act{
	text-align:center;
}

.header .banner .BoxConer1 .BgBL{
	display: none;
}
.header .banner .BoxConer1 .BGM.selectbox{
	padding: 16px 10px 10px;
	margin-top: -6px;
	border: solid 3px #ccc;
	border-radius: 6px;
}

#content .inputtip{
	float: none;
}