body {
	background: #fff ;
	font-family: Arial, Verdana, sans-serif;
	margin: 0px;
	color: #484848;
	font-size: 12px;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6, p, ul, li {
	margin: 0px;
	padding: 0px;
}

ul, li {list-style: none;}


.ClearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ClearFix {
	!display: inline-block;
	!zoom: 1;
	!display: block; 
}

.FL {
	float: left;
}
	
.FR {
	float: right;
}

.PageSecond {background: #fff; width: 580px; margin: 0px auto; position: relative;}
.PageSecond .content{
	position: absolute;
	top: 100px;
}
.PageSecond .center-top {
	height: 320px;
}
.PageSecond .center-top .column {width: 130px;}
.PageSecond .center-top .column h4 {font-size: 14px; font-weight: bold; margin-bottom: 5px;}
.PageSecond .center-top .column p {line-height: 20px;}
.PageSecond .center-top .column2 {width: 250px; text-align: center; overflow:hidden;}
.PageSecond .center-top .column2 img{
	max-width: 240px;
}
.PageSecond .center-top {padding: 0px 35px;}
.PageSecond .center-top .title-top {text-align: center; color: #882858; font: 14px/20px arial; text-transform: uppercase; font-weight: normal; margin-bottom: 10px;}
.PageSecond .center-top .sub-title {text-align: center; color: #882858; font: 13px/20px arial; font-weight: normal; margin-bottom: 15px;}
.PageSecond .center-top .desc {text-align: center; color: #882858; font: 15px/22px arial; font-weight: normal; margin-top: 15px;}

.PageSecond .center-bottom {margin-top: 35px;}
.PageSecond .center-bottom .left-bottom img {width: 24px; height: 460px;}
.PageSecond .center-bottom .right-bottom img {width: 24px; height: 460px;}
.PageSecond .bottom {height: 94px;}
.PageSecond .bottom img {width: 800px; height: 94px;}

.PageSecond .center-bottom {padding: 0px 35px; height: 340px ; overflow:hidden;}
.PageSecond .center-bottom h1 {font-size: 16px; font-weight: normal; margin-bottom: 5px; text-transform: uppercase; text-align: center;}
.PageSecond .center-bottom ol {padding: 0px 0px 0px 30px; margin: 0px 0px 10px 0px;}
.PageSecond .center-bottom ol li {list-style: decimal; line-height: 16px;}
.PageSecond .center-bottom .column-bottom, .PageSecond .center-bottom .product_package, .PageSecond .center-bottom .conditions {width: 48%; float:left;}
.PageSecond .center-bottom h3 {
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-align: center;
}

.PageSecond .center-bottom .product_package{
	padding-right: 15px;
}
.PageSecond .center-bottom .product_package:last-child{
	width: 100%;
}
.PageSecond .center-bottom h3 br{
	display:none;
}
.PageSecond .center-bottom li {line-height: 15px;}
.page-break{ display:none;}
@media print{
  .page-break { display:block;}
  .noprint{display:none;}
}
