#referrals .dashboard li ,
#settings .dashboard li ,
#credit .dashboard li ,
#coupons .dashboard li,
.ongoing_deals li
{
	width: 91px;
	height: 87px;
	display:block;
	background:none;
	margin-right: 7px;
}

#referrals .dashboard li a,
#settings .dashboard li a,
#credit .dashboard li a,
#coupons .dashboard li a
{
	display:block;
	background-image: url("../img/new_refer_tabs.png");
	background-color: transparent;
	width: 91px;
	height: 87px;
	background-position  : -819px -0px; 
	padding: 0;
	font-size: 0px;
	color:#c2c2c2;
}

#referrals .dashboard .current .item0,
#settings .dashboard .current .item0,
#credit .dashboard .current .item0,
#coupons .dashboard .current .item0,
#referrals .dashboard .item0:hover,
#settings .dashboard .item0:hover,
#credit .dashboard .item0:hover,
#coupons .dashboard .item0:hover
{
	background-position  : -728px -0px;
}

#referrals .dashboard .item1,
#settings .dashboard .item1,
#credit .dashboard .item1,
#coupons .dashboard .item1
{
	background-position  : -637px -0px; 
}

#referrals .dashboard .current .item1,
#settings .dashboard .current .item1,
#credit .dashboard .current .item1,
#coupons .dashboard .current .item1,
#referrals .dashboard .item1:hover,
#settings .dashboard .item1:hover,
#credit .dashboard .item1:hover,
#coupons .dashboard .item1:hover
{
	background-position  :-0px -0px; 
}

#referrals .dashboard .item2,
#settings .dashboard .item2,
#credit .dashboard .item2,
#coupons .dashboard .item2
{
	background-position  : -182px -0px;
}

#referrals .dashboard .current .item2,
#settings .dashboard .current .item2,
#credit .dashboard .current .item2,
#coupons .dashboard .current .item2,
#referrals .dashboard .item2:hover,
#settings .dashboard .item2:hover,
#credit .dashboard .item2:hover,
#coupons .dashboard .item2:hover
{
	background-position  : -91px -0px;
}

#referrals .dashboard .item3,
#settings .dashboard .item3,
#credit .dashboard .item3,
#coupons .dashboard .item3
{
	background-position  : -364px -0px;
}

#referrals .dashboard .current .item3,
#settings .dashboard .current .item3,
#credit .dashboard .current .item3,
#coupons .dashboard .current .item3,
#referrals .dashboard .item3:hover,
#settings .dashboard .item3:hover,
#credit .dashboard .item3:hover,
#coupons .dashboard .item3:hover
{
	background-position  : -455px -0px;
}


#referrals .dashboard .item4,
#settings .dashboard .item4,
#credit .dashboard .item4,
#coupons .dashboard .item4
{
	background-position  : -546px -0px;
}

#referrals .dashboard .current .item4,
#settings .dashboard .current .item4
#credit .dashboard .current .item4
#coupons .dashboard .current .item4,
#referrals .dashboard .item4:hover,
#settings .dashboard .item4:hover,
#credit .dashboard .item4:hover,
#coupons .dashboard .item4:hover
{
	background-position  : -273px -0px;
}
/*Ongoing tabs*/

.ongoing_deals {
	width: 960px;
	padding-left: 30px;
	margin: 30px auto -17px;
}
.ongoing_deals li{
	width: 84px!important;
}
.ongoing_deals li a
{
	display:block;
	background-image: url("../img/ongoing_tabs.png");
	background-color: transparent;
	width: 84px;
	height: 86px;
	padding: 0;
	background-position: 0 0;
	font-size: 0px;
	color:#c2c2c2;
}

.ongoing_deals .deal_groups li a{
	font-size: 0px;
	color:#c2c2c2;
}

.ongoing_deals .current .item0, .ongoing_deals .item0:hover { background-position: 0 -87px;}

.ongoing_deals .current .item1, .ongoing_deals .item1:hover{ background-position: 0 -261px;} 
.ongoing_deals .item1{ background-position: 0 -174px;} 
.ongoing_deals .current .item2, .ongoing_deals .item2:hover{ background-position: 0 -435px;} 
.ongoing_deals .item2{ background-position: 0 -348px;} 
.ongoing_deals .current .item3, .ongoing_deals .item3:hover{ background-position: 0 -609px;} 
.ongoing_deals .item3{ background-position: 0 -522px;} 
.ongoing_deals .current .item4, .ongoing_deals .item4:hover{ background-position: 0 -783px;} 
.ongoing_deals .item4{ background-position: 0 -696px;} 
.ongoing_deals .current .item5, .ongoing_deals .item5:hover{ background-position: 0 -957px;} 
.ongoing_deals .item5{ background-position: 0 -870px;} 
.ongoing_deals .current .item6, .ongoing_deals .item6:hover{ background-position: 0 -1131px;} 
.ongoing_deals .item6{ background-position: 0 -1044px;} 
.ongoing_deals .current .item7, .ongoing_deals .item7:hover{ background-position: 0 -1305px;} 
.ongoing_deals .item7{ background-position: 0 -1218px;} 
.ongoing_deals .current .item8, .ongoing_deals .item8:hover{ background-position: 0 -1479px;} 
.ongoing_deals .item8{ background-position: 0 -1392px;} 
.ongoing_deals .current .item9, .ongoing_deals .item9:hover{ background-position: 0 -1653px;} 
.ongoing_deals .item9{ background-position: 0 -1566px;} 
