#wrapper, #main .container{
	background:none;
}
#branding, #secondary, .pages-title, #profile-tab, #back-to-cate, #footer, #zenbox_tab, .print-invoice{
	display:none;
}
#purchase-list {
	float: left;
	background: #E3E4DB;
	width: 650px;
	margin: 90px 0 30px;
}
