/* CSS Document */

@media(max-width: 768px) {
	.container {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	[class^="col-"],
	.hot-deal-img,
	.category .deals .row {
		padding: 0 !important;
	}
	
	.category .deals .price-box {
		bottom: -30px;
	}
	
	.category .deal-header.white {
		padding: 0;
		margin: 25px 0 17px !important;
	}
	.category .big-heading {
		margin: 0;
	}
	.category .deals .deal-box {
		margin-top: 55px;
	}
	.category .deals.deal-cat-list .deal-box .title {
		padding-top: 0 !important;
	}
	
	.products .hot-deal .hot-deal-img {
		padding-top: 15px;
		margin-top: 0;
	}
	.products .hot-deal .hot-deal-img img,
	.products .hot-deal .hot-deal-img h1,
	.products .hot-deal .hot-deal-img p,
	.products .description .options {
		margin: 0 0 15px;
	}
	.products .hot-deal .hot-deal-img h1{
		font-size: 22px;		
	}
	.products .hot-deal .hot-deal-img .authen h1{
		background: url(../images/topdeal-authen.png) no-repeat;
		background-size: 62px auto;
		padding-left: 73px;
		line-height: 64px;
	}
	.products .hot-deal-img .authen .description{
		background: transparent;
		padding-left: 0;
	}
  
	.products .hot-deal .hot-deal-img .col-md-8 > h1{
		font-size: 26px;
		font-weight: 300;
		background-color: #DDD6CF;
		margin: 0 -15px 15px;
		padding: 15px;
		text-align: center;
	}
	.products .hot-deal .hot-deal-img p {
		font-size: 14px;	
	}
	.products .navi-deal{
		position: relative;
		bottom: 140px;
		width: 100%;
	}
	.products .navi-deal > span{
		border: 1px solid #1e1e1e;
		border-radius: 50%;
		padding: 10px;
		background-color: #fff;
	}
	.products .navi-deal > span:first-child{
		margin-right: 10px;
	}
	.products .navi-deal.fixed{
		position: fixed;
		bottom: 20px;
	}
}

