/* CSS Document */

body {
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 10px;
	line-height: 1.2;
	color: #000000;
}

#small-screen {
	padding-left: 30px;
	width: 567px;
	max-width: 100%;
	margin: 0 auto;
}

h1 {
	font-family: "Sue Ellen Francisco", Arial, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
}

#header {
	margin: 25px 15px 4px;
}
#header h1 {
	margin: 0;
	padding: 25px 0 0 0;
}
#header h1.title {
	float: left;
	padding: 25px 21px 0 0;
	background: url(../images/small/stars-02.png) no-repeat 100% 0;
}
#header h1.title2 {
	background: url(../images/small/title-02.png) no-repeat 100% 0;
}
#header p {
	font-family: "Roboto Slab", Arial,sans-serif;
	 font-size: 12px;
	 margin: 0;
    padding-top: 35px;
}
#header h1.logo {
	float: right;
	padding: 0;
}
#header h1.logo img,
.top-block .thumb img {
	vertical-align: top;
}

#main {
	position: relative;
	margin-bottom: 20px;
}

.grey-block {
	padding: 15px;
	background-color: #f5f3f1;
}
.dark-grey-block {
	padding: 15px;
	background-color: #ddd6cf;	
	margin-bottom: 25px;
}

.dark-grey-block h4 {
	font-size: 12px;
	font-family: "Roboto Slab", Arial,sans-serif;
	margin: 0;
}

.top-block .content {
	padding-right:  125px;
}
h3.title {
	 font-family: "Roboto Slab", Arial,sans-serif;
	 font-size: 20px;
	 font-weight: 300;
	 margin: 0 0 5px;
}
.grey-block h3.title {
	margin: 0 0 15px;
	padding-bottom: 15px;
	border-bottom: dotted 3px #000000;
}
.grey-block h3.title small {
	font-size: 12px;
	color: #000000;
}

.top-block .thumb {
	float: left;
	width: 230px;
	margin-right: 10px;
}
.top-block .thumb + .text {
	overflow: hidden;
}
.top-block .text p {
	
}
.top-block .text h5 {
	font-size: 10px;
	font-weight: 700;
	margin: 0 0 5px;
	font-family: "Roboto Slab", Arial,sans-serif;
}
.top-block .text p:last-child,
.dark-grey-block p:last-child {
	margin-bottom: 0;
}
.instructions {
	background-color: #ded7cf;
	font-size: 9px;
	padding: 8px 15px;	
	margin-bottom: 10px;
}
.instructions i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: middle;
}
.instructions i.arrow {
	width: 10px;
	background-image: url(../images/small/arrow.png);
}
.instructions i.num-1 {
	background-image: url(../images/small/num-1.png);
}
.instructions i.num-2 {
	background-image: url(../images/small/num-2.png);
}
.instructions div.num-1,
.instructions div.num-2 {
	display: inline-block;
	padding: 5px 0 0 22px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	min-height: 20px;
}
.instructions div.num-1 {
	background-image: url(../images/small/num-1.png);
}
.instructions div.num-2 {
	background-image: url(../images/small/num-2.png);
}

.two-cols > div {
	padding: 0 15px 0 10px;
}
.two-cols > div:first-child {
	padding: 0 10px 0 15px;
}
.style-01 li {
	padding-left: 6px;
	background: url(../images/small/li-icon.png) no-repeat 0 4px;
}

.facture .facture-top {
	font-weight: 700;
	padding-bottom: 4px;
	border-bottom: #cccccc solid 1px;
}
.facture .row .col-01 {
	padding-left: 20px;
}
.facture .row .col-02 {
	padding-left: 10px;
}
.facture .row .col-03 {
	padding-right: 10px;
}
.facture .row .col-06 {
	padding-right: 20px;
}

.facture .facture-item {	
	padding: 10px 0;
	border-bottom: #cccccc solid 1px;
}
.facture .facture-item h4{
	font-size: 12px;
}
.facture .facture-bottom .facture-item {
	border: none;
	padding: 0;
	text-align: right;
	line-height: 1;
}
.facture .facture-bottom .facture-item > div {	
	border-bottom: #cccccc dotted 1px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.facture .facture-bottom .facture-item.border-none > div {
	border: none;
	padding-bottom: 0;
}
.facture .facture-bottom .facture-item.border-solid > div {
	border-bottom: #cccccc solid 1px;
}
.facture .facture-bottom .last-child > div {
	border: none;
	font-size: 13px;
	font-family: "Roboto Slab", Arial,sans-serif;	
	font-weight: 300;
}
.facture .facture-bottom .last-child > div span {
	font-size: 22px;
	font-weight: 400;
}

#footer {
	background: url(../images/small/footer-bg.png) no-repeat center 0;
	padding: 4px 15px 30px;
	line-height: 18px;
	font-size: 9px;
}
.heart-icon {
	display: inline-block;
	width: 17px;
	height: 17px;
	background-image: url(../images/small/heart-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: middle;
}

#pin-code {
	position: absolute;
	width: 120px;
	top: 92px;
	right: 15px;
	font-family: "Roboto Slab", Arial,sans-serif;
	font-size: 12px;
	font-weight: 700;
}

.pages {
	float: right;
	font-style: italic;
}

#small-screen.screen-280 {
	width: 310px;
	padding: 15px;
}
.screen-280 #header {
    margin: 0;
}
.screen-280 #header h1.logo {
	float: none;
	text-align: center;
}
.screen-280 #header h1.title {
	float: none;
	padding: 22px 0 0;
	text-align: center;
	background: url(../images/small/stars-03.png) no-repeat 50% 0;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.screen-280 #header p {
    padding: 11px 0;
	text-align: center;
}
.screen-280 .grey-block h3.title {
    border-bottom: none;
    margin: 0 0 15px;
    padding-bottom: 0;
}
.screen-280 .top-block .content {
    padding-right: 0;
}
.screen-280 .top-block .thumb {
    float: none;
    margin: 0 0 15px;
	width: 100%;   
	text-align: center;
}
.screen-280 .instructions div.num-1,
.screen-280 .instructions div.num-2 {
	display: block;
}

.screen-280 .two-cols > div {
	width: 100%;
	padding: 0 15px;
}
.screen-280 .two-cols > div:first-child {
	padding: 0 15px;
}
.screen-280 #main {	
	background-color: #f5f3f1;
	padding: 0 0 5px;
}

.screen-280 #pin-code {
	position: static;
	text-align: center;
	width: 100%;
}
.button-small {
  padding: 0 20px;
  font-size: 14px;
	height: 35px;
	line-height: 35px; 
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none !important;
  background: url("../images/buy-btn.png") no-repeat 50% 50%;
  background-size: 100% 100%;
  color: #1e1e1e !important;
}

.button-small:hover {
  text-decoration: none !important;
  color: #ffffff !important;
  background: url("../images/complete-btn.png") no-repeat 50% 50%;
  background-size: 100% 100%;
}
#footer + div {
	padding-bottom: 30px;
}