@charset "utf-8";
/* =Reset default browser CSS.
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
a {
	text-decoration: none;
	color: #f04e1e;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	
}


/* =Structure
----------------------------------------------- */
@font-face {
    font-family: 'Gudea-Bold';
    src: url('../fonts/gudea-bold-webfont.eot');
    src: url('../fonts/gudea-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gudea-bold-webfont.woff') format('woff'),
         url('../fonts/gudea-bold-webfont.ttf') format('truetype'),
         url('../fonts/gudea-bold-webfont.svg#gudeabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gudea-Italic';
    src: url('../fonts/gudea-italic-webfont.eot');
    src: url('../fonts/gudea-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gudea-italic-webfont.woff') format('woff'),
         url('../fonts/gudea-italic-webfont.ttf') format('truetype'),
         url('../fonts/gudea-italic-webfont.svg#gudeaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gudea-Regular';
    src: url('../fonts/gudea-regular-webfont.eot');
    src: url('../fonts/gudea-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gudea-regular-webfont.woff') format('woff'),
         url('../fonts/gudea-regular-webfont.ttf') format('truetype'),
         url('../fonts/gudea-regular-webfont.svg#gudearegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body, input, textarea {
	color: #5b5c59;
	font-size: 14px;
	font-family: "Gudea-Regular", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, .credits p, b {
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}

.gudea-bold{
	font-family: 'Gudea-Bold';
	color: #31332f;
}

#branding {
	margin: 0 auto;
	padding-bottom: 8px;
	background: #fff url(../images/header-bg.jpg) repeat-x left bottom;
}

.container {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}

#branding .container {
	position: relative;
	z-index: 9999;
	height: 169px;	
}

#site-title {
	float: left;
	margin-top: 19px;
	padding-bottom: 17px;
/*	
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);	
*/	
}
.top-search {
	float: right;
	color: #6c6e69;
	margin-top: 4px;
	border: #a2a39d solid 3px;
	border-top: none;
	background: #ffffff;
	width: 190px;
	margin-right: 4px;
}
.submit-btn {
	float: right;
}
.top-search input[type="text"], .newsletter input[type="text"] {
	border: 0;
	color: #6c6e69;
	width: 142px;
	padding: 8px;
}
.cart-info {
	position: absolute;
	right: 14px;
	bottom: 46px;
	color: #ffffff;
	background: #31332f;
	padding: 4px;
	width: 188px;
	min-width: 188px;
	cursor: pointer;
}

.cart-info img{
	margin-right: 5px;
	margin-left: 3px;
}

.cart-info p {
	margin-right: 24px;
	text-align: center;
	line-height: 25px;
}
.cart-info span {
	float: left;
	width: 40px;
	text-align: center;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;	
	font-size: 30px;
	color: #ffffff;
}
#basket-detail {
	position: absolute;
	right: 10px;
	top: 123px;
	color: #31332f;
	background: #e3e4db;
	width: 202px;
	min-width: 202px;
	display: none;
	-moz-box-shadow: 2px 2px 2px #C4C4C4;
	-webkit-box-shadow: 2px 2px 2px #C4C4C4;
	box-shadow: 2px 2px 2px #C4C4C4;
}
#basket-detail .basket-list {
	font-size: 12px;
	overflow: hidden;
	width: 100%;
	border-bottom: #a2a39d solid 1px;
}
#basket-detail .basket-list li {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	border-top: #a2a39d dotted 1px;
}
#basket-detail .basket-list h4 {
	padding: 10px;
	font-size: 14px;
}
#basket-detail .basket-list h3 span {
	font-size: 11px;
}
#basket-detail .basket-list span span {
	font-size: 9px;
}
/*0910 edit dong 195*/
#basket-detail .basket-list h3 {
	text-align: right;
	border-top: #a2a39d dotted 1px;
	font-size: 16px;
	margin-top: 3px;
    padding-top: 6px;
}

.have-gift {
	background: url(../images/gift-icon.png) no-repeat 0 6px;
	padding-left: 15px;
	margin-left: 10px;
}
/*0910 END edit dong 195*/
#basket-detail .basket-list li img {
	float: left;
	border: solid 1px #A2A39D;
}
/*0910 edit dong 209*/
#basket-detail .basket-list li div.basket-right {
	margin: 0px 10px 0 114px;
}
/*add*/
#basket-detail p a {
	font-size: 10px;
	color: #7f8077;
	text-decoration: underline;
	margin-left: 10px;
	display:block;
	clear:left;
}
#basket-detail p a:hover {
	text-decoration: none;
}
#basket-detail .basket-right p {
	text-align: right;
	line-height: 20px;
	overflow: hidden;
}
#basket-detail .edit-quantity {
	border: 0;
	width: 34px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 0;
	margin-left: 4px;
	margin-top: 1px;
}
#basket-detail .quantity-text {
	width: 14px;
	font-size: 12px;
	height: 20px;
    line-height: 20px;
}
#basket-detail .quantity-text input[type="text"] {
	border: none;
	height: 20px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    width: 100%;
	font-size: 12px;
}
#basket-detail .up-down {
	width: 11px;
	float: right;
	height: 20px;
}
#basket-detail .up-down .up-btn, #basket-detail .up-down .down-btn {
	width: 11px;
	height: 10px !important;
	 background: url(../images/up-down-icon.jpg) no-repeat left bottom;
}
#basket-detail .up-down .up-btn {
	 background: url(../images/up-down-icon.jpg) no-repeat left top;
}
#primary .basket-timer {
	clear: none;
	float: right;
	font-size: 16px;
	margin-right: 68px;
	padding: 5px 0px 0px 22px;
	background: url(../images/oclock.jpg) no-repeat 0 0;
}
#primary .basket-timer span {
	margin: 5px 10px 0 0;
}
/*0910 end edit dong 209*/

.basket-timer {
	clear: both;
	padding: 10px 10px 10px 30px;
	margin-bottom: 10px;
	background: url(../images/oclock.png) no-repeat 10px 10px;
	color: #f04e1e;
	text-align: right;
	overflow: hidden;
}
.basket-timer span {
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #31332f;
	font-size: 11px;
	margin-top: 3px;
}
#basket-detail .payer-btn a {
	float: right;
	clear: both;
	width: 90px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	background: #f04e1e;
	margin-right: 10px;
}
.basket-message {
	clear: both;
	padding: 10px 10px 5px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.close-basket {
	padding: 10px;
	color: #a2a39d;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.close-basket a {
	color: #a2a39d;
	text-decoration: underline;
}
.basket-message, .warning-top, .page-content, .purchase-bottom, .faqs-list li, .faqs-list li {
	line-height: 160%;
}

.delivery-box p {
	min-height: 63px;
	line-height: 130%;
}
.warning-top {
	width: 263px;
	position: absolute;
	z-index: 999;
	top: 0;
	color: #ffffff;
	padding: 16px 17px 16px 18px;
	right: 227px;
}
.warning-top .warning-link-out {
	padding-top: 6px;
}
#bg-green {
	background: url(../images/warning-top-bg-01.png) no-repeat left bottom;
}
#bg-orange {
	background: url(../images/warning-top-bg-02.png) no-repeat left bottom;
}
.warning-top-content {
	width: 263px;
	min-height: 80px;
	position: relative;
	max-height: 96px;
}
.warning-top a {
	color: #31332f;
	font-size: 16px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
.warning-top .quitter-la-page {
	float: right;
	text-decoration: underline;
	font-size: 12px;
	font-family: "Gudea-Regular", Arial, Helvetica, sans-serif;
}
.close-btn {
	width: 19px;
	height: 19px;
	display: block;
	position: absolute;
	bottom: -20px;
	right: -21px;
	cursor: pointer;
	background: url(../images/close-icon.png) no-repeat center center;
}
#access, .entry-box, .confirmation-message-box, .credits-bottom, .purchase-bottom  {
	float: left;
	width: 100%;
}

#top-nav li {
	float: left;
	height: 26px;
	padding: 10px;
	width: 161px;
	text-align: center;
	position: relative;
	border-right: #676767 dotted 1px;
}
#top-nav li.last-item {
	float: right;
}
#top-nav a {
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}
#top-nav .current a, #top-nav li:hover a {
	color: #85c422;
}

#main {
	margin: 30px auto 30px;
	width: 960px;
	position:relative;
}
#main .container {
	background: url(../images/dot-01.jpg) repeat-y 727px top;
	overflow-x: hidden;
/*	overflow: hidden; */
}
/**/
#primary {
	float: left;
	width: 718px;
	padding-right: 22px;
	overflow: hidden;
}

/*entry-box*/
.confirmation-message-box {
	margin: 15px 0 20px;
}
.confirmation-message-box p {
	color: #31332f;
	padding-bottom: 20px;
}
.entry-title {
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: #31332f;
	margin-bottom: 10px;
}
.entry-content {}
.entry-content .entry-summary p {
	padding-bottom: 10px;
	font-size: 18px;
}
.entry-infos {
	margin-bottom: 40px;
}
.entry-infos .header {	
	background: #252525;
	color: #a2a39d;
	font-size: 12px;
	width: 718px;
	height: 92px;
}
.entry-infos .header li {
	float: left;
	padding: 7px;
	height: 78px;
	background: url(../images/dot-02.jpg) repeat-y right top;
}
.entry-infos .header li.topdeal-price {
	width: 176px;
}
.entry-infos .header li.topdeal-discount {
	width: 142px;
}
.entry-infos .header li.topdeal-save {
	width: 84px;
}
.entry-infos .header h3 {
	font-size: 54px;
	color: #85c422;
}
.entry-infos .header h3 span {
	font-size: 24px;
}
.entry-infos .header li h3 {	
	color: #ffffff;	
	text-align: center;
}
.entry-infos .header li h4, .deals-list h3 {
	font-size: 24px;
}
.entry-infos .header li h4 span {
	font-size: 14px;
}


.acheter-box {
	float: right;
	width: 255px;
	height: 92px;
	position: relative;
}
.thumb-box {
	position: relative;
	width: 100%;
	cursor: pointer;
	border: solid 1px #a2a39d;
	overflow:hidden;	
}
.entry-infos .thumb-box {
	height: 292px;
	width:716px;
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	filter:alpha(opacity=80);
}

.deal-detail .entry-infos .thumb-box {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
}

.entry-infos .margin-top {
	margin-top: 90px !important;
}

.acheter-box h3 {
	line-height: 91px;
}
.acheter-box h3 a {
	font-size: 54px;
	color: #85c422;
	text-decoration: none;
}

.gift-box {
	width: 71px;
	text-align: right;
	height: 37px;
	padding: 48px 14px 7px 7px;
	background: url(../images/gift-bg.png) no-repeat left top;
	position: absolute;
	right: 0;
	bottom: 0;	
}

.header .gift-box {
	width: 70px;
	height: 36px;
	background: url(../images/gift-bg-home.png) no-repeat left top;
}
.slide-nav {
	z-index: 9999;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 125px;
	height: 50px;
	background: #a7a7a7;
}

.slide-nav a{
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	filter:alpha(opacity=80);
}
.slide-nav a:hover {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
}

.slide-nav .prev-btn {
	float: left;
}
.slide-nav .next-btn {
	float: right;
}
.gift-box .add-cart {
	float: right;
	width: 28px;
	height: 28px;
	display: block;
	background: url(../images/add-bg.png) no-repeat center top;
}
.gift-box .add-cart:hover, .thumb-box:hover .add-cart {
	background-position: center bottom;
}
.percent-box {
	display: none;
	width: 80px;
	text-align: center;
	height: 80px;
	line-height: 80px;
	padding: 6px;
	background: url(../images/cycle-green-bg.png) no-repeat left top;
	position: absolute;
	left: 128px;
	top: 23px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 45px;
}
.sold-out, .prices-box {
	position: absolute;	
	left: 0;
	text-align: center;
	font-size: 24px;
	padding: 6px;
	height: 25px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	line-height: 25px;
	background: #31332f;
}
.sold-out {
	top: 0;
	width: 95px;
	color: #f04e1e;
}
.prices-box {
	bottom: 0;
	width: 67px;
	color: #ffffff;
	opacity: 0.9;
	filter:  alpha(opacity=90);
}
.prices-box span {
	font-size: 14px;
}
.thumb-box:hover .percent-box {
	display: block;
}
.percent-box span {
	font-size: 24px;
}
.entry-meta {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 1px;
	background: #31332f;
	color: #a2a39d;
	margin-bottom: 30px;
}
.stock-bar {
	float: left;
	width: 190px;
	height: 190px;
	text-align: center;
	background: url(../images/dot-white-1.jpg) repeat-y right top;
	padding-right: 1px;
}
#stock-bar{
	background: url(../images/round.png) no-repeat;
}
.entry-meta .timing-box, .partner-location, .category-box {
	float: left;
	border-right: #ffffff dotted 1px;
	height: 94px;
	border-bottom: #ffffff dotted 1px;
}
.entry-meta .timing-box {
	background: url(../images/timing.jpg) no-repeat left top;
	width: 276px;
}
.entry-meta .timing-box p, .timing-box .day, .timing-box .hour, .timing-box .minute, .timing-box .second {
	color: #ffffff;
	text-align: left;
	padding: 4px 0px;
}
.entry-meta .timing-box ul {
	float: left;
	margin: 0px 8px 0px 25px;
}
.entry-meta .timing-box li {
	padding: 20px 7px 0px;
	height: 74px;
	width: 66px;
}
.partner-location {
	width: 112px;
	font-size: 12px;
	padding: 0px 6px;
}
.category-box {
	width: 111px;
	padding: 7px;
	height: 80px;
	font-size: 12px;
	border-right: none;
}
.category-box img {
	margin-bottom: 2px;
	margin-left: 30px;
}
.partner-location h3 {
	margin: 20px 0px 5px;
	font-size: 18px;
}
.delivery-box {
	float: left;
	width: 260px;
	padding: 8px;
	height: 79px;
	border-right: #ffffff dotted 1px;
}
.delivery-box span {
	font-size: 12px;
}
.delivery-box .conditions{
	margin-top: 15px;
}
.social-box {
	float: left;
	width: 240px;
	padding: 20px 5px 5px;
	height: 70px;
}
.social-box li {
	float: left;
	width: 80px;
	text-align: center;
}
.social-box p {
	font-size: 12px;
	color: #ffffff;
	margin-top: 50px;
}
.entry-escription, .product_package, div.conditions, .entry-technique {
	clear:  both;
	line-height: 150%;
	font-size: 14px;
	margin-bottom: 20px;
}

.entry-escription b {
	color: #31332f;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
.entry-escription h3, .product_package h3, div.conditions h3, .entry-technique h3, .partner-detail h3 {
	line-height: 30px;
	font-size: 20px;
	color: #31332f;
	padding-bottom: 10px;
}
.product_package h3{
	background: url(../images/deal-icon.jpg) no-repeat top right;
	display: inline-block;
	padding-right: 35px;
}

.entry-technique h3{
	background: url(../images/tech-icon.jpg) no-repeat top right;
	display: inline-block;
	padding-right: 35px;
}

.partner-detail h3{
	background: url(../images/icon-coordon.jpg) no-repeat top right;
	display: inline-block;
	padding-right: 35px;
}

.partner-detail table {
	width: 100%;
	border: #A2A39D solid 3px;
	padding: 18px;
}
.partner-detail table p{
	padding: 4px 0;
}

.entry-escription h3 img {
	margin-bottom: -3px;
}
.product_package h3 img, .entry-technique h3 img {
	margin-bottom: -8px;
}
.product_package ul li, div.conditions ul li, div.partner-detail ul li , .entry-escription ul li{
	padding-left: 13px;
	background: url(../images/dot-list.png) no-repeat left 4px;
	font-family: "Gudea-Regular", Arial, Helvetica, sans-serif;
	color: #31332f;
	padding-bottom: 8px;
}
.entry-technique li {
	padding-left: 13px;
	background: url(../images/dot-list-02.jpg) no-repeat left 4px;
	font-family: "Gudea-Regular", Arial, Helvetica, sans-serif;
	color: #5b5c59;
	padding-bottom: 8px;
}
.product_package ul ul, div.conditions ul ul {
	margin-left: 10px;
}
.product_package ul ul li, div.conditions ul ul li {
	background: none;
	font-family: "Gudea-Regular", Arial, Helvetica, sans-serif;
	color: #5b5c59;
	padding-bottom: 0;
	padding-top: 5px;
}
div.conditions {
 background: #e3e3e1;
 padding: 18px;
}
/*End for Entry*/

.deals-list {
	float: left;
	width: 740px;
}
.section-title, .pages-title {
	color: #85c422;
	font-size: 20px;
	margin-bottom: 10px;
}
.pages-title {
	color: #31332f; 
}
.page-content {
	float: left;
	width: 100%;
	margin-top: 5px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.deals-list h3 {
	color: #31332f;
	padding: 6px 0px;
}
.deals-list h3 a {
	color: #31332f;
}
.deals-list .deal-box {
	float: left;
	width: 348px;
	height: 228px;
	margin-right: 22px;
	padding-bottom: 40px;
}
.deals-list .deal-box .thumb-box {
	height: 141px;
	text-align: center;
	width: 348px;
	height: 141px;
	overflow: hidden;
}
.deals-list .timing-box {
	color: #a2a39d;
	font-size: 12px;
	background: #31332f;
	float: left;
	width: 100%;
}
.timing-box li {
	float: left;
	width: 33.3%;
	height: 45px;
	background: url(../images/dot-02.jpg) repeat-y right top;
}
.timing-box p {
	font-size: 36px;
	padding: 4px 7px;
	line-height: 1;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
.timing-box p span {
	font-size: 12px;
	font-family: "Gudea-Regular", Arial, Helvetica, sans-serif;
}

.timing-box .day, .timing-box .hour, .timing-box .minute, .timing-box .second {
	color: #fff;
	font-size: 36px;
	line-height: 1;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}

.newsletter input[type="text"] {
	padding: 6px;
	color: #6c6e69;
}
#toutes {
	float: left;
	width: 718px;
	margin-bottom: 35px;
	height: 64px;
}

#home_deal #toutes, .deal-detail #toutes {
	float: none;
	width: 600px;
	margin: 0 auto 35px;
	height: 64px;
}

#home_deal > h2.pages-title,  .deal-detail > h2.pages-title{
	padding-left: 55px;
}

filtres-box ul.list-categorys {
	float: left;
	width: 518px;
}
#toutes .list-categorys li {
	float: left;
	width: 52px;
	margin-right: 22px;
	height: 64px;
	font-size: 12px;
	color: #ffffff;
	position: relative;
	text-align: center;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	background: url(../images/cate-bg.png) no-repeat center top;
	cursor:pointer;
}
#toutes .list-categorys li a{
	color: #ffffff;
}
#toutes .list-categorys div {
	color: #a2a39d;
	width: 96px;
	display: none;
	margin: 10px 0px 0px -22px;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}
#toutes .list-categorys .current, #toutes .list-categorys li:hover {
	background-position: center bottom;
}
#toutes .list-categorys li:hover div {
	display: block;
}
#toutes li p {
	padding-top: 20px;
	line-height: 34px;
}
#toutes li span {
	float: right;
	width: 21px;
	height: 21px;
	display: block;
	line-height: 21px;
	text-align: center;
	background: url(../images/orange-circle.png) no-repeat center bottom;
}
.filtres-box {
	float: right;
	width: 105px;
	position: relative;
	height: 64px;
	color: #3a3b39;
	border-left: solid 1px #a2a39d;
	padding-left: 20px;
}
.filtres-box span {
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	cursor: pointer;
}
.filtres-box ul {
	position: absolute;
	left: 20px;
	top: 20px;
	display: block;
	bottom:0;
	height: 35px;
	width: 100%;
}
.filtres-box ul li {
	cursor: pointer;
	width: 74px;
	line-height: 25px;
	height: 25px;
}
.filtres-box ul .close-filtres {
	width: 52px;
	text-align: center;
	position: absolute;
	top: -20px;
	right:0;
  	display: none;
}
.filtres-box a{
	color:#3a3b39;
}

#profile-tab, #profiles {
	float: left;
	width: 100%;
	margin-bottom: 35px;
}
/*#profiles*/
#profiles {
	margin-bottom: 16px;
	padding-bottom: 40px;
	border-bottom: #a2a39d dotted 1px;
}
#profiles h3 {
	font-size: 18px;
	color: #31332f;
	padding: 20px 0 10px;
}
#profiles h3 span {
	color: #70b10a;
}
#profile-tab li {
	float: left;
	height: 30px;
	background: #a2a39d url(../images/dot-06.jpg) repeat-y right top;
	padding-right: 1px;
	position: relative;
}
#profile-tab li a {
	padding: 0 49px 13px;
	height: 30px;
	display: block;
	line-height: 30px;
	color: #ffffff;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
#profile-tab li.current a, #profile-tab li:hover a {
	background: url(../images/profil-tab-bg-on.png) no-repeat left top;
}
#profile-tab li:hover ul {
	display: block;
}

#profile-tab li ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 30px;
	left: 0px;
	background: url(../images/profil-tab-bg-on.png) no-repeat left bottom;
	padding-bottom: 15px;
}

#profile-tab li.current ul{
	display:block
}

#profile-tab li ul li {
	background: #85c422;
	width: 100%;
	padding: 0;
}
#profile-tab li ul li.first-row {
	border-top: #ffffff dotted 1px;
}
#profile-tab li ul li a {
	padding: 0 5px;
	text-align: center;
	font-family: "Gudea-Regular", Arial, Helvetica, sans-serif;
}
#profile-tab li ul li.current a, #profile-tab li ul li:hover a {
	color: #31332f;
}
.credits-top {
	float: left;
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 20px;
	border-bottom: #a2a39d dotted 1px;
}
.credits-top span {
	float: left;
	margin-right: 8px;
	height: 62px;
	line-height: 62px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
.credits-top span a {
	width: 62px;
	display: block;
	font-size: 24px;
	text-align: center;
	color: #ffffff;
	background: url(../images/credits-green.png) no-repeat center center;
}
.social-share {
	margin-top: 15px;
}
.social-share p {
	padding-bottom: 10px;
}
.social-share li {
	float: left;
	margin-right: 22px;
}

.credits-bottom p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 12px;
	color: #6c6e69;
}
.credits-reward {
	padding-top: 20px;
}
.credits-reward li {
	float: left;
	width: 222px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	margin-right: 26px;
	color: #31332f;
}
.credits-reward li.third-lever {
	margin-right: 0px;
}
.credits-reward li div {
	float: left;
	width: 74px;
	height: 74px;
	line-height: 74px;
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	margin: 10px 0 0 40px;
}
.credits-reward li.first-lever div {
	background: url(../images/credits-grey.png) no-repeat center center;
}
.credits-reward li.second-lever div {
	background: url(../images/credits-dark-grey.png) no-repeat center center;
}
.credits-reward li.third-lever div {
	background: url(../images/credits-black.png) no-repeat center center;
}
.credits-reward li div span {
	font-size: 12px;
}
#profiles .profiles-left {
	float: left;
	width: 126px;
	margin-right: 22px;
}
#profiles.content-credits .profiles-left, #profiles.content-panier .profiles-left {
	width: 348px;
}
#profiles .profiles-right {
	margin-left: 148px;
}
#profiles .profiles-right td{
	padding-bottom: 0;
}

#profiles.content-credits .profiles-right, #profiles.content-panier .profiles-right {
	margin-left: 370px;
}
#profiles.content-panier {
	padding-bottom: 15px;
}
#profiles.content-panier .profiles-right h4, #profiles.content-panier .profiles-left h4 {
	padding-bottom: 17px;
}

#profiles .avatar-box {
	width: 126px;
	height: 126px;
	background: url(../images/avatar-bg.jpg) no-repeat center center;
}
.avatar-box .add-button {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #85c422;
	color: #ffffff;
	text-align: center;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
.add-button a, #secondary .aside-box .add-button a {
	color: #ffffff;
	display: block;
}
#profiles .avatar-box .add-button a, #secondary .add-button a {
	width: 21px;
	height: 21px;
	font-size: 24px;
	line-height: 21px;
}
#profiles .profiles-right table {
	/*width: 496px;*/
}
#profiles h4 {
	font-size: 16px;
	color: #31332f;
}
#profiles.content-credits td h4 {
	font-size: 14px;
	padding: 20px 0px 10px;
}
#profiles td h4 {
	padding: 20px 0px 15px;
}
#profiles td, #profiles th {
	padding-bottom: 10px;
	vertical-align: middle;
}
#profiles .profiles-right .receiver-chk {
	padding: 8px 0 26px;
}
#profiles .profiles-right th {
	width: 148px;
}
#primary input[type="text"], #popOverlay input[type="text"], #primary input[type="password"], #primary select, #primary textarea , .checkout-password input[type="password"]{
	width: 268px;
	color: #31332f;
	padding: 4px;
	border: #d9dad5 solid 3px;
	margin-bottom: 10px;
}
.note-text p {
	width: 274px;
}
.note-text p, .note-text a {
	color: #6c6e69;
	font-size: 12px;
}
.note-text a {
	text-decoration: underline;
}
#primary textarea { 
	height: 145px;
}
#primary select {
	width: 200px;
}
#primary .dates input[type="text"] { 
	text-align: center;
}
/*.profiles-right .change-pass { margin-top: 15px; }*/
.change-pass a {
	width: 222px;
	background: #f04e1e;
}
.change-pass a:hover{
	background: #da4215;
}
.change-pass p {
	color: #f04e1e;
	line-height: 150%;
}
.profiles-right .save-btn a {
	width: 222px;
}
.profiles-right .confirm-btn a {
	width: 116px;
}
#profiles .send-btn a {
	float: left;
	margin-left: 198px;
	width: 84px;
}
.profiles-right .cancel-btn {
	float: right;
	margin-right: 68px;
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	color: #6c6e69;
	text-decoration: underline;
}
.add-address {
	margin: 7px 0 0 5px;
	width: 19px;
	height: 19px;
	float: left;
	background: url(../images/add-icon.png) no-repeat center center;
}
#primary .directly-invite .add-address {
	margin-top: 17px;
}
#primary .directly-invite textarea{
	margin-top: 10px;
}
#primary .promo-code input[type="text"] {
	float: left;
}

#primary .directly-invite input[type="text"]{
	float: left;
	margin-top: 10px;
}

#primary  .promo-code input[type="text"] {
	border: 3px solid #31332F;
	width: 163px;
	color: #6c6e69;
	clear:left;
}
#primary  .promo-code .add-address {
	/*background-color: #85C422;*/
	background: url(../images/ok.png) no-repeat center center;
	border: #85C422 solid 1px;
	height: 21px;
	width: 32px;
}
#primary .change-pass input {
	margin-top: 10px;
	color: #6c6e69;
}
.profiles-right .save-btn {
	float: right;
	clear: both;
	width: 100%;
}
.profiles-right .save-btn a, .payer-btn a, .purchase-date {
	float: right;
}
.profiles-right .profile-info ul {
	width: 200px;
}
.profiles-right .profile-info ul li {
	font-family: "Gudea-Italic", Arial, Helvetica, sans-serif;
	line-height: 22px;
	padding-bottom: 12px;
}
.icon-box {
	float: left;
	height: 22px;
	padding-top: 3px;
}

.icon-box a {
	float: left;
	margin-left: 11px;
}
.delete-btn, .edit-btn {
	float: left;
	width: 19px;
	height: 19px;
	display: block;
	cursor: pointer;
	margin-right: 10px;
	overflow: hidden;
}
.edit-btn {
	background: url(../images/change-icon.png) no-repeat left center;
}
.delete-btn {
	background-image: url(../images/change-icon.png);
	background-repeat: no-repeat;
	background-position: -30px 0;
	color: #ffffff;
	line-height: 19px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
.promo-code .delete-btn, .warnings-content  .delete-btn, .profile-info .delete-btn{
	margin: 7px 0 0 5px;
}

.icon-box .delete-btn{
	margin-top: 0;
}

.avatar-box .delete-btn {
	position: absolute;
	top: -9px;
	right: -9px;
	margin-right: 0;
	overflow: hidden;
}
.avatar-box .delete-btn:hover, .icon-box .delete-btn:hover, #purchase-list .purchase-product .delete-btn.displayings {
	padding: 3px 3px 3px 3px;
	width: 149px;
	background-color: #f04e1e;
	background-position: -30px 3px;
}
#purchase-list .purchase-product .delete-btn.displayings {
	margin-top: 21px;		
}

#purchase-list h4 a{
	color:#31332F;
}

.avatar-box .delete-btn:hover {
	right: -145px;
	top: -12px;
}
.icon-box .delete-btn:hover {
	margin-top: -3px;
	width: 159px;
}
.avatar-box .delete-btn span, .delete-btn span, .edit-btn span{
	padding-left: 22px;
}
.delete-account {
	clear: both;
}
.delete-account a {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #f04e1e;
	font-size: 12px;
}

#primary .directly-invite .delete-btn{
	margin-top: 17px;
}
/*END #profiles*/
/*#purchase-list*/
#purchase-list {
	float: left;
	background: #e3e4db;
	width: 650px;
	margin: 90px 0 30px;
}
#purchase-list.panier {
	margin-top: 10px;
}
#purchase-list #back-to-cate {
	margin-bottom: 0;
	padding-bottom: 20px;
	background: #ffffff;
}
#purchase-info {
	float: left;
	width: 650px;
	margin: 0px 0 30px;
	padding-bottom: 30px;
	border-bottom: #aaaba4 solid 1px;
}
.print-invoice {
	clear: both;
	width: 160px;
	float: right;
	margin: 0 68px 30px 0px;
}
.print-invoice a {
	display: block;
	background: #85c422;
	height: 25px;
	color: #ffffff;
	line-height: 25px;
	text-align: center;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
#purchase-info th, #purchase-info td {
	line-height: 36px;
	color: #31332f;
}
 #purchase-info table {
	width: 100%;
 }
#purchase-list table {
	width: 610px;
	margin: 0 20px;
}
#purchase-list th {border-top: #aaaba4 dotted 1px; padding: 17px 0 6px; color: #31332f;}
#purchase-list .shippings th, #purchase-list .promo-code th, #purchase-list .credit-deducted th, #purchase-list .total-paid th {
	padding-bottom: 20px;
}
#purchase-list .shippings .label-text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	width: 150px;
	display: inline-block;
}
.georgia-italic {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 160%;
}
.georgia-italic a {
	color: #31332f;
	text-decoration: underline;
}
.georgia-italic strong {
	font-weight: bold;
}
#purchase-list.panier .shippings .purchase-total {
	vertical-align: top;
}
#purchase-list .shippings .label-text {
	float: left;
	width: 130px;
}
.shippings-option {
	margin-left: 130px;
}
.shippings-option li {
	float: left;
	padding-bottom: 10px;
	width: 100%;
}
.shippings-option .option-block {
	float: left;
	width: 18px;
}
.shippings-option p.option-text {
	margin-left: 23px;
}
#purchase-list .shippings th, #purchase-list .total-paid th {
	border-top: #aaaba4 solid 1px;
}
#purchase-list.panier th {
	padding-top: 20px;
	border: none;
	background: url(../images/line-double.png) repeat-x top left;
}
#purchase-list.panier .first-row th {
	background: none;
	padding-top: 17px;
}
#purchase-list.panier .shippings th, #purchase-list.panier .total-paid th, #purchase-list.panier .promo-code th, #purchase-list.panier .credit-deducted th, #purchase-list.panier .panier-gift-box th {
	background: none;
	border-top: #aaaba4 solid 1px;
}
#purchase-list.panier .credit-deducted th {
	border-top: #aaaba4 dotted 1px;
}
#purchase-list.panier .break-row {
	height: 10px;
	padding-bottom: 0px;
}
#purchase-list td {
	padding: 0px 0px 20px;
	vertical-align: bottom;
	color: #31332f;
	line-height: 1;
}
#purchase-list .first-row:first-child th, #basket-detail .basket-list:first-child li.first-row {
	border-top: none;
}
#purchase-list h4 {
	font-size: 14px;
}
#purchase-list th h4 span {
	font-family: "Gudea-Regular", Arial, Helvetica, sans-serif;
}
#purchase-info h4 {
	font-size: 16px;
}
#purchase-list h3 {
	font-size: 24px;
}
#purchase-list .purchase-show-details {
	width: 40px;
	text-align: right;
}
#purchase-list .purchase-product img {
	float: left;
}

#purchase-list .purchase-product .product-item{
	font-weight: bold;
	color:#31332F;
}

#purchase-list .purchase-product .delete-btn {
	margin: 24px 0px 0px 5px;
}
#purchase-list .purchase-quantity {
	width: 40px;
	text-align: right;
}
#purchase-list.panier .purchase-quantity {
	width: 75px;
}
#purchase-list.panier .purchase-quantity {
	width: 75px;
}
#purchase-list.panier .purchase-quantity span {
	float: right;
	padding: 3px;
	margin-bottom: -10px;
	height: 29px;
	line-height: 29px;
}
.edit-quantity {
	float: left;
	width: 49px;
	border: #31332f solid 3px;
	overflow: hidden;
	margin-bottom: -10px;
	background: #ffffff;
}
.up-down {
	float: left;
	width: 23px;
	height: 29px;
	overflow: hidden;
	cursor: pointer;
}
.quantity-text {
	float: left;
	width: 26px;
	height: 29px;
	text-align: center;
	line-height: 29px;
}
#primary .quantity-text input[type="text"] {
	width: 100%;
	border: 0;
	padding: 0;
	height: 29px;
	text-align: center;
	line-height: 29px;
}
.up-down .up-btn, .up-down .down-btn {
	float: left;
	padding: 0 !important;
	margin: 0 !important;
	width: 23px;
	height: 14px !important;
	display: block;
	overflow: hidden;
	background: url(../images/up-down-icon.png) no-repeat left bottom;
}
.up-down .up-btn {
	margin-bottom: 1px;
	background: url(../images/up-down-icon.png) no-repeat left top;
}
#purchase-list .purchase-price {
	width: 65px;
	text-align: right;
}
#purchase-list .purchase-price span {
	font-size: 10px;
}
#purchase-list .purchase-total {
	width: 90px;
	text-align: right;
	font-size: 16px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}

#purchase-list .purchase-total span {
	font-size: 11px;
}

#purchase-list .purchase-view{
	text-align: right;
}

#purchase-list .purchase-view a{
	color: #31332F;
}

#purchase-list .purchase-show-details a {
	background: url(../images/eye-icon.png) no-repeat center center;
	width: 22px;
	height: 15px;
	display: inline-block;
}
.purchase-bottom h4 {
	font-size: 16px;
}
.purchase-bottom {
	padding-bottom: 30px;
	font-size: 13px;
}
.payable-text {
	float: right;
	line-height: 25px;
	color: #f04e1e;
}
.payable-text span {
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
.close-btn span, .gift-box .add-cart span, .add-address span, a.edit-btn span, .edit-btn a span, .delete-btn a span, a.delete-btn span, #purchase-list .purchase-show-details a span {
	display: none;
}
.payement-mode {
	float: left;
	width: 100%;
	margin: 15px 0 50px;
}
.payement-mode li {
	float: left;
	width: 140px;
	text-align: center;	
	padding: 10px 0;
}
.payement-mode li:last-child{
	margin-right: 0px;
}

.payement-mode li > p:first-child{
	height: 50px;
}

.payement-mode li .visa{
	margin-top: -6px;
}

.payement-mode li .mastercard{
	margin-top: -4px;
}

.payement-mode li.active{
	border: #d9dad5 solid 3px;
}

.continue-warning-message {
	font-family: Arial, Helvetica, sans-serif;
	color: #6c6e69;
	font-size: 11px;
	text-align: right;
	line-height: 40px;
}
.continue-warning-message a {
	color: #6c6e69;
	text-decoration: underline;
}
.continue-btn {
	/*clear: both;*/
    float: right;
    margin: 0 68px 0 20px;
}
.continue-btn a, .formbutton {
	padding: 7px 30px 8px;
	background: none repeat scroll 0 0 #85C422;
    font-size: 16px;
	color: #FFFFFF;
    display: block;
    font-family: "Gudea-Bold",Arial,Helvetica,sans-serif;
    text-align: center;
	border:none;
}
.add-delivery-address p.link-add-delivery, .add-delivery-address p.link-add-delivery a {
	font-size: 16px;
	color: #31332f;
	margin: 10px 0px 30px;
}
.add-delivery-address  p.link-add-delivery a {
	text-decoration: underline;
}
.add-delivery-address li {
	float: left;
	width: 100%;
	color: #6c6e69;
	margin-bottom: 23px;
}
.add-delivery-address li label {
	font-style: italic;
	line-height: 17px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.add-delivery-address .delivery-selected li label {
	padding-left: 23px;
	background: url(../images/radio-01.png) no-repeat left bottom;
}
.add-delivery-address .delivery-selected li.selected-item {
	text-decoration: underline;
}

.edit-item-address {
	display:none;
}

#popOverlay .edit-item-address {
	display:block;
}

#popOverlay .checkout-password .edit-item-address{
	min-height: 150px;
}

#primary .edit-item-address input[type="text"], #primary .gift-box-right input[type="text"] {
	margin-bottom: 10px;
}
#primary .edit-item-address input.delivery-address-input,
#primary .edit-item-address input.set-address-input,
#popOverlay .profil-warnings6 input.set-address-input {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#primary .edit-item-address input.delivery-address-input {
	border: 3px solid #85c422;
}
#primary .edit-item-address input.set-address-input, #popOverlay .profil-warnings6 input.set-address-input {
	border: 3px solid #a1a29d;
}
.edit-item-address p {
	clear: both;
	overflow: hidden;
}
.edit-item-address p input[type="text"] {
	float: left;
}
#purchase-list.panier .panier-gift-box th {
	padding-bottom: 20px;
}
.gift-box-left {
	float: left;
	width: 253px;
	margin-right: 22px;
}
.gift-box-left h4 {
	padding: 18px 0 0 32px;
	font-style: italic;
	background: url(../images/gift-icon02.png) no-repeat left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: -10px 0 10px;
}

.gift-box-left p {
	color: #f04e1e;
}
.gift-box-right {
	margin-left: 275px;
}

/*END #purchase-list*/
/* #faqs*/
#faqs {
	margin-top: 15px;
}
.faqs-list li {
	padding: 0 0 25px 75px;
	background: url(../images/faqs-icon.png) no-repeat left 3px;
	font-size: 13px;
}
.faqs-list li h4 {
	color: #31332f;
	font-size: 16px;
}
/*END #faqs*/

/* #results2-list */
#results2-list {
	clear: both;
	width: 100%;
}
#results2-list li {
	color: #31332f;
	line-height: 160%;
	padding-bottom: 20px;
}
#results2-list li div a {
	color: #31332f;
	text-decoration: underline;
	 font-family: "Gudea-Bold",Arial,Helvetica,sans-serif;
}
.website-link-out a {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #a2a39d;
	font-style: italic;
}

/* END #results2-list */
/* .proposer-deal*/
#primary.partenaires {
	font-size: 14px;
	color: #31332f;
}
#primary.partenaires #profiles {
	border: none;
	padding: 0;
	margin: 0;
}
.choose-category, .price-deal {
	clear: both;
}
.proposer-deal {
	margin-bottom: 20px;
}
.deal-message {
	position: relative;
	z-index: 1;
}
.proposer-deal td {
	padding-bottom: 10px;
}
#primary .deal-message textarea {
	width: 556px;
	height: 202px;
}
#letter_count {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #70b10a;
}
.sbo-control .options {
	z-index: 666;	
}
.sbo-control {
	z-index: 666;
	margin-bottom: 10px;
}
/* END .proposer-deal*/

/*prix-du-deal*/
.prix-du-deal {
	float: left;
	width: 100%;
}
.prix-content {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.prix-box {
	float: left;
	width: 112px;
	color: #31332f;
	border: #31332f solid 3px;
	height: 47px;
	padding: 4px;
	font-size: 12px;
}
.prix-grey-box {
	color: #a2a39d;
	border: #d9dad5 solid 3px;
}
.prix-green-box {
	color: #70b10a;
	border: #70b10a solid 3px;
}
.prix-box h2 {
	font-size: 36px;
	line-height: 1;
	text-align: center;
}
.prix-box h2 span {
	font-size: 18px;
}
.prix-percent-box {
	float: left;
	width: 349px;
	margin: 0px 22px;
	height: 55px;
	font-size: 12px;
	color: #8f908b;
}
.prix-percent-bar {
	float: left;
	width: 232px;
	height: 9px;
	background: url(../images/prix-percent-bar.jpg) no-repeat left bottom;
	margin: 15px 13px 0 0;
}
.prix-percent-slider-bg {
	float: left;
	position: relative;
	height: 9px;
	background: #70b10a;
}
.prix-percent-slider {
	position: absolute;
	bottom: 0;
	right: -17px; /* 1/2 width*/
	color: #85c422;
	width: 36px;
	padding-bottom: 34px;
	text-align: center;
	background: url(../images/percent-slider.png) no-repeat center bottom;
	font-size: 18px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
.prix-percent-text {
	margin: 10px 52px 0;
}
.prix-percent-label {
	float: left;
	margin: 9px 0 0 0;
	width: 52px;
	text-align: center;
	color: #a2a39d;
	font-size: 18px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}

/* END .prix-du-deal*/
/*END #primary */

#secondary {
	float: right;
	width: 200px;
}
#secondary .aside-box {
	float: left;
	width: 100%;
	padding-bottom: 12px;
	border-bottom: #a2a39d solid 1px;
	margin-bottom: 11px;
	color: #31332f;
	position:relative;
}
#secondary .aside-box h3 {
	padding-bottom: 10px;
	font-size: 14px;
}
#secondary .aside-box a {
	color: #31332F;
}
 
#secondary .not-connect .aside-box h3 {
	padding: 10px;
	font-size: 16px;
	background: #85c422;
}
#secondary .aside-box h3.current {
	background: #a2a39d;
}
#secondary .not-connect .aside-box h3 a, #secondary .not-connect h3 {
	color: #ffffff;
}
#secondary .not-connect .aside-box h3 span {
	font-size: 12px;
}
#secondary .not-connect .connects-box h3 {
	margin-bottom: 20px;
}
.not-connect h3.hover{
	background: #70b10a!important;
}
.avatar-box {
	float: left;
	margin: 0px 15px 10px 0px;
	position: relative;
}

.aside-box .avatar-box {
	cursor:pointer;
}

/*nologged_process, popup for login box */
#secondary .not-connect .user-info {
	padding-bottom: 0;
	border: 0;
}
.not-connect .user-info, .not-connect .credits-box {
	z-index: 999999;
}
.connects-box {
	display: none;
	position: absolute;
	width: 500px;
	right: 0px;
	top: 82px;
	z-index: 99999;
	padding: 10px;
	color: #a2a39d;
	background: #31332f;
}
.connects-box .connect-content {
	position: relative;
	width: 500px;
	float: left;
}
.popup-box {
	float: left;
	width: 100%;
	display: none;
}
#close-popup {
	position: absolute;
	right: 0;
	bottom: 10px;
}
.connect-left {
	float: left;
	width: 250px;
	padding: 10px 20px;
	min-height: 285px;
	background: url(../images/dot-05.jpg) repeat-y right top;
}
.connect-left p {
	margin-bottom: 10px;	
}

.connect-left p.text-italic{
	font-family: Georgia, "Gudea-Regular", Arial, sans serif;
}

.connect-form {
	float: left;
	width: 200px;
	margin-bottom: 40px;
}
#register-box .connect-form {
	margin-bottom: 0px;
}
.connect-form .forgot-link {
	font-size: 11px;
	padding-top: 10px;
	color: #a2a39d;
}
.connect-form a, #close-popup a, .register-text a {
	font-size: 11px;
	text-decoration: underline;
	color: #a2a39d;
}
.connect-form a:hover, #close-popup a:hover, #register-box a:hover {
	text-decoration: none;
}
.connect-form input[type="text"], .connect-form input[type="password"] {
	padding: 7px;
	border: #d9dad5 solid 3px;
	width: 180px;
	margin-bottom: 10px;
	color: #6c6e69;
}
.connect-form input[type="submit"], .connect-form input[type="button"] {
	padding: 7px 20px;
	font-weight: bold;
	color: #ffffff;
	float: right;
	border: 0;
	cursor: pointer;
	background: #85c422;
}
.notice-text {
	font-size: 12px;
}
.register-text {
	clear: both;
	padding-top: 10px;
	font-size: 11px;
}
.notice-text a {
	color: #ffffff;
}
.out-connect {
}
.out-connect li {
	float: left;
	margin-right: 20px;
}
.connect-right {
	float: right;
	width: 200px;
	margin-top: 120px;
	font-size: 12px;
}

/*END nologged_process, popup for login box */


.user-info h3 {
	font-size: 16px;
}
.credits {
	float: left;
	margin: 0px 15px 10px 0px;
	width: 52px;
	height: 52px;
	background: url(../images/credits-bg.png) no-repeat center center;
}
.credits p {
	line-height: 52px;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
}
.credits-text {
	margin: 20px 0px 30px;
}
.deals-consult li {
	background: url(../images/dot-03.jpg) no-repeat left top;
	padding: 0px 0px 6px 10px;
	font-style: italic;
	font-size: 12px;
	color: #70b10a;
}
.newsletter {
	border: #dbdcd7 solid 3px;
}

.social-link {
	padding-left: 20px;
}
.social-link li {
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.social-link li p {
	margin-top: 15px;
}
.social-link li img {
	float: left;
	margin-right: 20px;
	margin-top: -2px;
}
.social-link li a {
	font-style: italic;
	color: #a2a39d !important;
	font-family: Georgia,"Gudea-Regular", Arial, Helvetica, sans-serif;	
}

.social-link li a:hover{
	text-decoration:underline;
}

.deals-recommend li {
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.deals-recommend li .gift-box {
	width: 36px;
	padding: 28px 8px 8px 8px;
	height: 16px;
	background: url(../images/gift-bg-02.png) repeat right bottom;
}
#load-more {
	clear: both;
	width: 200px;
	margin: 0 auto;
	padding-bottom: 10px;
}
#load-more a, .save-btn a, .confirm-btn a, .send-btn a, .payer-btn a  {
	width: 200px;
	background: #85c422;
}
#load-more a, .change-pass a, .save-btn a, .confirm-btn a, .send-btn a, .payer-btn a {
	display: block;	
	height: 35px;
	line-height: 35px;	
	font-size: 16px;
	color: #ffffff;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	text-align: center;
}
.payer-btn a {
	height: 26px;
	line-height: 26px;	
	font-size: 14px;
	width: 72px;
	margin-left: 18px;
}
#back-to-cate {
	float: left;
	width: 100%;
	color: #a2a39d;
	margin-bottom: 20px;
}
#back-to-cate a {
	font-family: Georgia,"Gudea-Regular", Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #a2a39d;
	line-height: 17px;
	padding-left: 20px;
	background: url(../images/back-icon.jpg) no-repeat left center;
}
/*END #secondary */

#footer {
	background: #e3e4db;
	overflow: hidden;
	padding: 20px 0px 30px;
}
#footer .aside-box {
	float: left;
	width: 130px;
	padding-right: 18px;
	color: #31332f;	
}
#footer .aside-box h3 {
	padding-bottom: 10px;
	font-size: 14px;
}
.link-list li {
	padding-bottom: 7px;
}
.link-list li a {
	font-size: 13px;
	color: #31332f;
}
.link-list li.current a {
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	color: #70b10a;
}

#footer .link-list li.current a {
	font-size: 14px;
}

.link-list li:hover a, .link-list li a:hover {
	color: #70b10a;
}
#footer .payment-box {
	float: right;
	width: 200px;
	padding-right: 0px;
}
#footer .payment-box li {
	float: left;
	margin-right: 12px;
}
.copyright {
	float: left;
	width: 940px;
	font-style: italic;
	padding: 10px;
	color: #3a3b39;
	font-size: 11px;
	margin-top: 15px;
	background: url(../images/dot-04.jpg) repeat-x left top;
	font-family: Georgia,"Gudea-Regular", Arial, Helvetica, sans-serif;	
}

/*END #footer */
/* #lbOverlay */
#popOverlay {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1000000;
	width: 100%;
	height: 100%;
	background: url(../images/bgOverlay.png);
	display:none;
}
.profil-warnings2, .profil-warnings6, .apayer-payment, .profil-photo {
	position: relative;
	margin: 190px auto 0;
	padding: 6px;
}
.profil-warnings2 {
	height: 265px;
	width: 347px;
	color: #ffffff;
	line-height: 160%;
	background: url(../images/bg-profil-warnings2.png) no-repeat left bottom;
}
.profil-warnings6 {
	width: 348px;
	height: 346px;
	background: url(../images/bg-profil-warnings6.png) no-repeat left bottom;
}
.panier-b1a {
	background: url(../images/bg-panier-b1a.png) no-repeat left bottom;
	height: 364px;
}
.profil-photo {
	width: 348px;
	height: 496px;
	background: url(../images/bg-profil-photo.png) no-repeat left bottom;
}
.jcrop-holder {
	background: #ffffff !important;
}
.jcrop-handle {
	display: none;
}

#crop-avatar .ord-se {
	display: block;
	background: url(../images/jcrop-handle.jpg) no-repeat center center;
	width: 16px !important;
	height: 16px !important;
	border: none;
	opacity: 1 !important;
}
#crop-avatar .jcrop-vline, #crop-avatar .jcrop-hline {
	background: none;
}
#crop-avatar {
	width: 308px;
	height: 380px;
	overflow: hidden;
	margin-bottom: 15px;
}
.apayer-payment {
	width: 800px;
	height: 316px;
	background:#fff ;
}
.apayer-payment .payement-mode li {
	margin: 0 11px;
}
.profil-warnings2 .close-btn, .profil-warnings6 .close-btn, .apayer-payment .close-btn, .profil-photo .close-btn {
	top: -5px;
	right: -5px;
}
.warnings-content {
	padding: 20px;
}
.apayer-payment .warnings-content {
	padding: 20px 32px;
}
.profil-warnings6 .warnings-content {
	background: #ffffff;
}
#popOverlay h4 {
	margin-bottom: 10px;
	font-size: 16px;
	color: #31332F;
}
#popOverlay input[type="text"] {
	margin-bottom: 10px;
}
.profil-warnings2 h4 {
	color: #f04e1e!important;
}
.profil-warnings2 h6 {
	color: #31332f;
}
.apayer-payment .warnings-bottom {
	clear: both;
	padding-top: 10px;
}
.apayer-payment .continue-btn {
	margin: 0;
}
.apayer-payment .continue-warning-message {
	line-height: 26px;
	float: right;
}
#popOverlay .profil-warnings6 .send-btn a, .profil-photo .send-btn a {
	float: right;
	margin: 0 10px 0 0;
	width: 84px;
	height: 26px;
	line-height: 26px;
}
.profil-photo .send-btn a {
	margin: 0;
}
.account-deleted {
	float: right;
}
.account-deleted a {
	color: #ffffff;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	padding: 6px 10px;
	background: #f04e1e;
}
.cancel-link {
	color: #a2a39d;
	text-decoration: underline;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 26px;
}
.profil-warnings2 p {
	margin-bottom: 10px;
}
.payment-logo {
	float: left;
	width: 100%;
	margin-top: 30px;
	color: #6c6e69;
}
.payment-logo h5 {
	margin-bottom: 20px;
	font-size: 14px;
}
.payment-logo img {
	float: left;
	margin-right: 20px;
}
.payment-logo p {
	margin-left: 80px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}
.b1a-content {
	margin-top: 28px;
}
.panier-b1a ul li {
	padding: 0 0 20px 20px;
	color: #31332f;
	background: url(../images/model-li.png) no-repeat left top;
}
.panier-b2 ul li.li-radio input[type="radio"]{
	float: right;
}
.panier-b1a ul li.li-radio, .panier-b1a .sbo-control .options li {
	background: none;}

.panier-b1a ul li .b1a-sub-tilte {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	float: left;
	width: 60px;
}
.panier-b1a ul li .model-box {
	margin-left: 70px;
}
.panier-b1a .warnings-bottom {
	position: absolute;
	right: 26px;
    width: 308px;
	bottom: 26px;
}
.panier-b1a .sbo-control {
	width: 150px;
	background-position-x: 155px;
}
.panier-b2 .sbo-control {
	width: 186px;
}
.panier-b2 .model-box a {
	color: #31332f;
	text-decoration: underline;
}

/* CSS Document */

.bons-redeem {
	margin: 20px auto;
	width: 602px;
}
.top-content {
	overflow: hidden;
	background: url(../images/bg-redeem.jpg);
	margin-bottom: 15px;
}
.top-content .inner-top-content {
	margin: 10px;
	background: #fff;
	padding: 9px 8px;
}
.top-content .inner-top-content h1 {
	font-size: 32px;
	padding-bottom: 20px;
	color: #31332f;
}
.bons-logo {
margin-bottom: 10px;
border-bottom: #a2a39d dotted 1px;
overflow: hidden; 
}

.bons-logo > .flr{
margin-top: -25px;
}

.bons-code{
margin-top: 18px; 
}
.bons-code h3{
text-align:left!important;
}
.top-content .inner-top-content h2 {
	font-size: 24px;
	overflow: hidden;
	color: #a2a39d;
	padding-bottom: 10px;
}
.top-content .inner-top-content h3 {
	text-align: right;
	font-size: 20px;
	padding-bottom: 15px;
	color: #31332f;
}
.top-content .inner-top-content h4 {
	float: left;
	width: 295px;
	color: #f04e1e;
	font-size: 18px;
}
.top-content .inner-top-content h2 span {
	font-size: 14px;
}
.top-content .inner-top-content > p {
	font-size: 18px;
	margin-bottom: 15px;
}
.top-content .inner-top-content table {
	margin-bottom: 15px;
	width: 100%;
}
.top-content .inner-top-content table th {
	text-align: center;
	width: 120px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
.top-content .inner-top-content table th, .top-content .inner-top-content table td {
	vertical-align: top;
	font-size: 14px;
	padding-bottom: 15px;
	border-bottom: #a2a39d dotted 1px;
}
.top-content .inner-top-content ul li {
	color: #a2a39d;
	font-family: "Gudea-Italic", Arial, Helvetica, sans-serif;
}
.top-content .inner-top-content ul li p {
	overflow: hidden;
	padding: 8px 0 11px;
}
.top-content .inner-top-content ul .li-number {
	float: left;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	background: url(../images/bg-li-number.jpg) no-repeat;
	margin-right: 5px;
	font-size: 18px;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
.bons-redeem .product-package, .bons-redeem .conditions, .bons-redeem .bottom-content {
	margin-bottom: 10px;
}
.bons-redeem .conditions ul {
	padding-bottom: 10px;
}
.bons-redeem .conditions li {
	color: #31332f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.bons-redeem .conditions li a {
	text-decoration: underline;
	color: #31332f;
}
.bons-redeem .conditions li a:hover {
	text-decoration: none;
}
.bons-redeem .conditions h4 {
	font-weight: bold;
	font-size: 13px;
}
.bons-redeem .bottom-content h3 {
    color: #31332F;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 10px;
}
.bons-redeem .bottom-content h3 img {
    margin-bottom: -8px;
}
.bons-redeem .bottom-content table {
	width: 100%;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	border: #a2a39d solid 3px;
	padding: 18px;
}
.bons-redeem .bottom-content table td {
	*padding: 5px;
}
.bons-redeem .bottom-content table p {
	padding-bottom: 10px;
}
.bons-redeem .bottom-content table a {
	color: #f04e1e;
}
.bons-redeem .bottom-content a:hover {
	text-decoration: underline;
}
.bons-redeem .bottom-content table h4 {
	font-weight: bold;
	color: #31332F;
}

.bons-redeem .actionbar{
	padding: 35px 0 0;
}

.bons-redeem .actionbar a{
	display: block;
}

.bons-redeem .actionbar .btn_print{
	float:right;
}

.top-content .inner-top-content h2.gift-title {
 background: url(../images/gift-icon03.png) no-repeat;
 padding: 16px 0 0 71px;
 margin: 10px 0;
 color: #85c422;
 float: left;
 width: 100%;
}

.top-content .inner-top-content ul.green-dot .li-number {
 background: url(../images/dot-green-32.png) no-repeat;
}

.top-content .inner-top-content h2.gift-title  span{
	font-size: 14px;
	color: #A2A39D;
}

#popOverlay .panier-b1a .warnings-bottom .send-btn a {
	margin: 0;
}
.panier-b1a .warnings-bottom h3 {
	font-size: 24px;
	color: #a2a39d;
}
.panier-b1a .warnings-bottom h3 span {
	font-size: 14px;
}
/*END #lbOverlay */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
.pos-fixed {
	position: fixed;
	top: 0px;
	z-index: 9999999;
	-webkit-box-shadow: 1px 3px 7px rgba(50, 50, 50, 0.8);
	-moz-box-shadow:    1px 3px 7px rgba(50, 50, 50, 0.8);
	box-shadow:         1px 3px 7px rgba(50, 50, 50, 0.8);
}

.bg-grey {
	background: #a1a29d !important;
}
.bor-none, tr.bor-none th, tr.bor-none td {
	border: none !important;
}
.bor-top-dot, tr.bor-top-dot th, tr.bor-top-dot td {border-top: #aaaba4 dotted 1px !important;}
.bor-top-sol, tr.bor-top-sol th, tr.bor-top-sol td {border-top: #aaaba4 solid 1px !important;}
.clr-both {
	clear: both;
}
.fll {
	float: left;
}
.flr {
	float: right;
}
.font-12 {
	font-size: 12px !important;
}
.timing-box .last-item {
	background: none !important;
}
.wth-33 {
	width: 33px !important;
}
.wth-40 {
	width: 40px !important;
}
.wth-46 {
	width: 46px !important;
}
.wth-82 {
	width: 82px !important;
}
.wth-100 {
	width: 100px !important;
}
.wth-120 {
	width: 120px !important;
}
.wth-126 {
	width: 126px !important;
}
.wth-142 {
	width: 142px !important;
}
.wth-176 {
	width: 176px !important;
}
.wth-195 {
	width: 195px !important;
}
.wth-200 {
	width: 200px !important;
}
.current-logged .cart-info span, .acheter-box h3.sold-out-title a,.error-text, .link-red, .red-text, .promo-code .purchase-total, .credit-deducted .purchase-total {
	color: #f04e1e !important;
}

.error-input, .error-input input[type=text]{
	color: #f04e1e !important;
	border-color: #f04e1e !important;
}

input.error-input::-webkit-input-placeholder {
    color: #f04e1e !important;
}
input.error-input:-moz-placeholder {
    color: #f04e1e !important;
}
input.error-input:-ms-input-placeholder {
    color: #f04e1e !important;
}

.error-input input[type=text]::-webkit-input-placeholder {
    color: #f04e1e !important;
}
.error-input input[type=text]:-moz-placeholder {
    color: #f04e1e !important;
}
.error-input input[type=text]:-ms-input-placeholder {
    color: #f04e1e !important;
}

.green-text {
	color: #85c422 !important;
}
.padb-0 {
	padding-bottom: 0px !important;
}
.padt-10 {
	padding-top: 10px !important;
}
.mrgl-16 {
	margin-left: 16px !important;
}
.mrgl-23 {
	margin-left: 23px !important;
}
.mrgt-20 {
	margin-top: 20px !important;
}
.mrgdt-3 {
	margin-top: -3px !important;
}
.text-italic {
	font-style: italic;
}

@charset "utf-8";
/* Update css for Payment ok and error popup */

.profil-warnings2 .warnings-content {
    padding: 20px 16px;
}
.profil-warnings2 .warnings-content p a {
	color: #fff;
	text-decoration: underline;
}
.profil-warnings2 .warnings-content p a:hover {
	text-decoration: none;
}
#popOverlay .payes_ok .warnings-content h4 {
	padding-bottom: 15px;
	margin-bottom: 30px;
	border-bottom: #a2a39d dotted 1px;
}
.payes_ok {
	height: 280px;
}
.payes_ok .warnings-content h4 a {
	color: #21332f;
}
.social-popup {
	float: right;
	padding-top: 5px;
}
.social-popup li {
	float: left;
	margin-left: 20px;
}
.min-height-80 {
	min-height: 80px;
}
.min-height-127 {
	min-height: 127px;
}

.Orange-Text p, .Orange-Full p, .Orange-Text span, .Orange-Full span{
	color: #F04E1E;
}

.Orange-Text .day, .Orange-Text .hour .Orange-Text .minute, .Orange-Text .second{
	color: #FFFFFF;
}

.Orange-Full .day, .Orange-Full .hour, .Orange-Full .minute, .Orange-Full .second{
	color: #F04E1E !important;
}

.tooltip{
	display:none;
	position: relative;
}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }
.reset-password{
	padding: 10px;
	font-size: 16px;
	background: #85C422;
	border: none;
	color: white;
	font-family: "Gudea-Bold", Arial, Sans Serif !important;
}

.prix-du-deal .submit_prix{
	width: 70px;
	text-align: right;
	padding: 0;
	margin: 0;
	font-size: 36px;
	height: 36px;
	line-height: 36px;
	border: none;
	font-family: "Gudea-Bold", Arial, Sans Serif !important;
	background: transparent;
	margin-top: -6px;
}

.prix-du-deal #topdeal_prix{
	color:#A2A39D;
}

.prix-du-deal input[type="text"][disabled] {
   color: #A2A39D;
}

.prix-du-deal .prix-box span{
	font-size: 16px;
	font-weight: bold;
}

.prix-du-deal .prix-box{
	text-align: center;
}
/*Birth day only*/
.birthday_text{
	display:none;	
	clear: left;	
	padding: 0 0 10px;
}

.birthday_text h2{
	font-size: 32px;
	color: #31332f;
}

.birthday_text p{
	font-size: 18px;
	color: #5b5c59;
	margin: 20px 0;
}

.new.birthday #branding{	
	background: url(../images/header_birthday.png) no-repeat top center;
}

.new.birthday #home_deal{
	display:none;
}
#birthday_deal{
	display:none;
	margin-bottom: 15px;
}

.new.birthday #birthday_deal{
	display:block;
}

.new.birthday .birthday_text{
	display:block;
}

.new.birthday #footer {
	background: #fff url(../images/footer_birthday.png) repeat-x 0 0;
}
/*-------- End --------*/

/*27 Nov 2012 : Updated 31_PANIER_C_payment1.psd screen*/
.votre-panier {
	padding-top: 20px;
	color: #6c6e69;
}
.votre-panier th {
	font-size: 18px;
	padding-bottom: 10px;
	color: #a2a39d;
}
.votre-panier .mask {
	width: 344px;
	height: 50px;
	margin: 0 -15px;
	background: #DBDCD7;
	margin-bottom: 10px;
}

#form1{
	min-height: 600px;
}
.votre-panier td p {
	padding-bottom: 10px;
}
#primary .tow-cols {
	float: left;
	margin-left: -18px;
}
#primary .tow-cols .col {
	float: left;
	margin-left: 18px;
	padding: 15px;
	width: 314px;
	min-height: 220px;
	border: 3px solid #DBDCD7;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#primary .tow-cols .col input[type="text"] {
	width: 300px;
}

.votre-panier .sbo-control{
	width: 200px;
	background-position: 200px center;
}
.infomation {
	float: right;
	position: relative;
}
.infomation a {
	background: url(../images/icon-info.png) no-repeat;
	width: 19px;
	height: 19px;
	display: block;
}
.infomation a span {
	display: none;
}
.infomation .tooltips {
	position: absolute;
	right: 0;
	bottom: 100%;
	padding-bottom: 12px;
	background: url(../images/icon-down.png) no-repeat 100% 100%;
	display:none;
	z-index:9999;
}
.infomation .tooltips .tooltips-content {
	padding: 10px;
	margin-right: -10px;
	width: 185px;
	background: #83847b;
	color: #fff;
}
.datatrans {
	margin: 20px 0;
	clear:both;
}
.datatrans h2 {
	margin-bottom: 15px;
}

.paybutton{
	float:right;
	margin: 20px 10px;
	clear:both;
}
.backward{
	font-family: Georgia, "Gudea-Regular", Arial, sans serif;
	font-style:italic;
	background: url(../images/back.png) no-repeat left center;
	padding-left: 20px;
	color: #a2a39d;
}
/*--------- End ---------*/
/*--------- X-mas ---------*/
.xmas{
	background: url(../images/xmas-header.png) repeat-x top left;
}

.xmas #branding{
	background: url(../images/xmas-banner.png) no-repeat top center;
}

.xmas #site-title  a{
	display:block;
	overflow: hidden;
	width: 348px;
	height: 87px;
}

.xmas #site-title img{
	display:none;
}

.home-notification {
	display: none;	
	background: url(../images/xmas-gift.png) no-repeat;
	height: 129px;
	position: absolute;
	top: 85px;
	z-index: 9999;
	width: 145px;
	left: -85px;
}

.livraison-sign{
	background: url(../images/xmas-livraison.png) no-repeat top left;
	width: 145px;
	height: 145px;
	display: none;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 9999;
}

.livraison-info{
	padding-bottom: 10px;	
}

.livraison-info h3{
	font-size: 20px;
	line-height: 30px;
	padding-bottom: 10px;
	padding-right: 40px;
	color: #EF4E1E;
	background: url(../images/xmas-car.png) no-repeat right 5px;
	display:inline-block;
}

.xmas .livraison-sign,.xmas .livraison-sign, .xmas  #branding .home-notification, .xmas .livraison-info{
	display: block;
}

.xmas .home-notification a{
	font-style:italic;
	text-decoration: underline;
}

.xmas .home-notification h2{
	font-size: 20px;
	color: #EF4E1E;
	line-height: 30px;
}

.placeholder{
	width: 180px;
	padding: 9px 7px 7px 9px;
	height: 18px;
	font-size: 14px;
	position: absolute;
	overflow: hidden;
	display: block;
	cursor: text;
	color: #a2a39d!important;
}

.xmas #footer{
	background: #e3e4db url(../images/xmas-footer.png) no-repeat center center;
}

/*--------- Easter ---------*/
.easter{
	background: url(../images/easter-wrapper.png) repeat-x 0 0;
}

.easter #branding{
	background: url(../images/easter-header.png) no-repeat top center;
}

.easter #site-title a{
	-moz-opacity: 0.00;
	-khtml-opacity: 0.00;
	opacity: 0.00;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter:alpha(opacity=0);
}
.easter #access{
	padding-top: 8px;
}
.easter .cart-info{
	bottom: 39px;
}
/* ----- End ------ */

/*--------- New on 04 April 2013---------*/
.new{
	background: url(../images/new_nav.png) repeat-x 0 0;
}

.new #branding{
	background: url(../images/header_new.png) no-repeat top center;
}

.new #site-title a{
	display:inline-block;
	-moz-opacity: 0.00;
	-khtml-opacity: 0.00;
	opacity: 0.00;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	
}

.new #footer{
	background:#c1e48a url(../images/footer_bg.png) repeat-x 0 0;
}
/* ----- End ------ */


/*--------- Mother's Day on 6 May 2013---------*/
.new.mama #branding{
	background: url(../images/header_mama.png) no-repeat top center;
}
/* ----- End ------ */


@media print {
	.print-invoice {
		display:none;
	}
	.actionbar,.actionbar.clearfix{
		display:none;
	}
}

/* http://dev.topdeal.ch/issues/55 */
.myaccount_container{
	border: dotted 1px #85c422;
	padding: 3px;
	margin-bottom: 10px;
}

.myaccount_container .credits-box{
	border-bottom: none!important;
	margin-bottom: 0!important;
}
.myaccount_container .user-info h3 a{
	color: #fff;
	background: #85c422;
	display: block;
	margin: 0 0 0 57px;
	padding: 5px 0;
	text-align: center;
	color: #fff!important;
	font-size: 16px;
}
.myaccount_container .user-info .avatar-box{
	margin-right: 0!important;
}

.myaccount_container .user-info .user-name{
	clear:both;
}
.myaccount_container .user-info p > a{
	text-align: center;
	display: block;
}

/* http://dev.topdeal.ch/issues/56 */

#popOverlay .profil-warnings6 .send-btn a.acheter-btn{
	width: 150px;
}

.close-basket a {
	color: #f04e1e;
	font-size: 12px;
}

.acheter-box h3.sold-out-title {
	text-align:center;
	margin-left: -19px;
	line-height: 65px
}

.acheter-box h3.sold-out-title  a{
	cursor: default;	
}
.acheter-box.soldout-deal{
	text-align: center;
}
.acheter-box.soldout-deal> a{
	font-family: 'Gudea-Regular';
	font-size: 17px;
	color: #85c422;
	text-decoration: underline;
	margin-left: -19px;
}

#home_deal .section-title{
	color: #f04e1e;
}

/* Next deal countdown*/

#nextdeal{		
	background: url(../images/countdown_bg.png) no-repeat bottom left;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

#nextdeal table{
	width: 100%;	
}

#nextdeal table td{
	text-align: center;	
	font-family: "Gudea-Bold";
	padding: 2px 0;
}

#nextdeal .title{
	font-size: 17px;

}

.countdown_header{
	font-size: 12px;
	text-align: center;
	color: #31332f;	
}

.countdown_content{
	font-family: "Gudea-Bold";
	font-size: 17px;	
}

.countdown_content td:nth-child(odd)
{	
	color: #f04e1e;
	vertical-align: middle;	
}
.countdown_content td:nth-child(even)
{
	color: #31332f;
	min-width: 10px;
}
#nextdeal .countdown_header td{
	padding-bottom: 5px;
}

.load-more{
	color: #fff;
	display: block;
	font-size: 20px;
	text-align: center;	
	background: #f04e1e;
	width: 170px;
	padding: 5px 15px;
	margin: 0 auto;
	font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
	clear:both;
	
}
.load-more.loading {
	background: transparent url('../images/loadingmore.gif') no-repeat  center center!important;	
	text-indent: -9999px;
}

/* Kid day 2013 */

.kidday #branding{
	background: url(../images/kidday_bg.png) no-repeat top center;
}

.kidday #footer{
	background: #ffe0e1 url(../images/kidday_footer.png) repeat-x 0 0;
}

/* issue #177 */

.orderid{
	font-size: 15px;
	font-family: "Gudea-Bold";	
}

.purchase-date{
	font-size: 15px;	
}

.order-status{
	text-align: center;
	padding: 0;
	margin-top: 10px;
	border-top: solid #a2a39d 10px;
	background: url(../images/shipping-status.png) top right no-repeat;
}

.order-status.item0{	
	border-top: none;
}

.order-status .status{
	color: #f04e1e;
	font-size: 18px;
	font-family: "Gudea-Bold";
}

.order-status .status.delivered {
	color: #85c422;
}

.order-status .eta{
	font-size: 16px;
	font-family: "Gudea-Bold";
	padding: 10px 0;
}

.purchase-product .deal-title{
	font-size: 18px;
	font-family: "Gudea-Bold";
	color:#31332F;
	margin-bottom: 10px;
}

.purchase-product .thumbnail{
	margin-top: 10px;
	max-width: 267px;
}

#purchase-list {
	padding-bottom: 15px
}


/* Issue 173 */
.myorder-template #purchase-list{
	overflow: hidden;
	background: none;
}

#purchase-list .order-block{
	background: #e3e4db;
	margin-bottom: 10px;
}

#purchase-list h4{
	font-size: 15px;
}
#purchase-list .payer-btn a{
	width: auto;
	height: auto;
	line-height: inherit;
	font-size: 15px;
	display: block;
	padding: 10px;
}
#purchase-list .purchase-view a{
	font-family: "Gudea-Bold";
}

.bons-view a{
	display: block;
}
.bons-view a img{
	vertical-align: middle;
}

.bons-view .view-deal{
	margin-top: 10px;
}

.myorder-list .order-status{
	border-top: none;
}

.status1{
	background-position: 100% -7px;
}

.myorder-list .order-status.status2{
	background-position: 100% -120px;
	padding-top: 10px;
}
.status3{
	background-position: 100% -67px;
}

.status4{
	background-position: 100% -176px;
	padding-top: 20px!important;
}
.status4 .status{
	color:#85c422;
}

#purchase-list .payable-text{
	line-height: auto!important;
	padding-top: 10px;
}

/* Issue 186 */

.special-deal .topdeal-save{
	visibility: hidden;
}

.special-deal .topdeal-save, 
.special-deal .topdeal-discount p,
.special-deal .topdeal-discount h3{
	visibility: hidden;
}

.special-deal.entry-infos .header {
	background: #252525 url(../images/special.png) no-repeat 190px 0;
}


/* issue #177 */

.orderid{
	font-size: 15px;
	font-family: "Gudea-Bold";	
}

.purchase-date{
	font-size: 15px;	
}

.order-status{
	text-align: center;
	padding: 0;
	margin-top: 10px;
	border-top: solid #a2a39d 10px;
	background: url(../images/shipping-status.png) top right no-repeat;
}

.order-status.item0{	
	border-top: none;
}

.order-status .status{
	color: #f04e1e;
	font-size: 18px;
	font-family: "Gudea-Bold";
}

.order-status .status.delivered {
	color: #85c422;
}

.order-status .eta{
	font-size: 16px;
	font-family: "Gudea-Bold";
	padding: 10px 0;
}

.purchase-product .deal-title{
	font-size: 18px;
	font-family: "Gudea-Bold";
	color:#31332F;
	margin-bottom: 10px;
}

.purchase-product .thumbnail{
	margin-top: 10px;
	max-width: 267px;
}

#purchase-list {
	padding-bottom: 15px
}


/* Issue 173 */
.myorder-template #purchase-list{
	overflow: hidden;
	background: none;
}

#purchase-list .order-block{
	background: #e3e4db;
	margin-bottom: 10px;
}

#purchase-list .order-block .order-block-item{	
	border-top: dotted #aaaba4 1px;
}

#purchase-list .order-block .order-block-item:first-child{
	border: none;
}

#purchase-list .order-block .order-block-item .first-row{
	display: none;
}

#purchase-list .order-block .order-block-item:first-child .first-row{
	display: block;
}

#purchase-list h4{
	font-size: 15px;
}
#purchase-list .payer-btn a{
	width: auto;
	height: auto;
	line-height: inherit;
	font-size: 15px;
	display: block;
	padding: 10px;
}
#purchase-list .purchase-view a{
	font-family: "Gudea-Bold";
}

.bons-view a{
	display: block;
}
.bons-view a img{
	vertical-align: middle;
}

.bons-view .view-deal{
	margin-top: 10px;
}

.myorder-list .order-status{
	border-top: none;
}

.status1{
	background-position: 100% -7px;
}

.myorder-list .order-status.status2{
	background-position: 100% -120px;
	padding-top: 10px;
}
.status3{
	background-position: 100% -67px;
}

.status4{
	background-position: 100% -176px;
	padding-top: 20px!important;
}
.status4 .status{
	color:#85c422;
}

#purchase-list .payable-text{
	line-height: auto!important;
	padding-top: 10px;
}

.order-space {
	
}

/* issue #189  */
.xmas.mainday .birthday_text, .xmas.mainday #birthday_deal{
	display: block;
}

.xmas.mainday #home_deal .section-title, .xmas.mainday #home_deal .entry-header, .xmas.mainday #home_deal .entry-content{
	display: none;
}

/* Issue 190 */

#invoice{
	margin: 0 auto;
	font-family: Gudea-Regular, Arial, Helvetica, sans-serif;
	font-size: 12.5px;
	background: #fff;
	color: #31332f;
}
#invoice table{
	width: 100%;
	margin: 0;
}
#invoice .aligncenter{
	text-align: center;
	vertical-align: middle;
}

#invoice .alignright{
	text-align: right;
	padding-right: 10px;
}

#invoice .font-geor{
	font-family: Georgia;
	font-style: italic;
	font-size: 12px;
}
#invoice .borderleft{
	border-left: 1px dotted rgb(166,167,161);
}
#invoice strong{
	font-family: Gudea-Bold, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#invoice .logo{
	text-align: center;
	padding: 20px 0;
}

#invoice h2{
	font-size: 24px;
	font-family: Gudea-Bold, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#invoice h3{
	font-size: 14px;
	font-family: Gudea-Bold, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#invoice  table td{
	padding: 7px 0;
}

#invoice .inner-header{
	font-style: italic;
	border-bottom: 1px dotted rgb(166,167,161);
	border-top: 1px dotted rgb(166,167,161);
	padding: 15px 0;
}

#invoice .outer-header{
	border-bottom: 1px dotted rgb(166,167,161);
	border-top: 1px dotted rgb(166,167,161);
	padding: 3px 0;
}

#invoice strong, #invoice th,
#invoice .inner-header h2{
	font-weight: bold;
	font-style: normal;
}

#invoice .address{
	padding: 15px 0;
}

#invoice .address td{
	vertical-align: top;
}

#invoice .table1{
	padding-bottom: 3px;
}
#invoice .table1 th{
	background: rgb(225,225,225);
	padding: 5px;
	text-align: center;
	font-size: 12px
}
#invoice .invoice-item{
	padding: 15px 0;
}

#invoice .invoice-item h3{
	font-size: 16px;
	font-weight: bold;
}

#invoice .table1 th{
	border-top: none;
}

#invoice .table2{	
	margin-bottom: 20px;
	padding-bottom: 3px;
}

#invoice .table2 td, #invoice .table1 td{
	border-bottom: 1px dotted rgb(166,167,161);
}

#invoice .table2 .total td{
	font-size: 26px;
	font-weight: bold;
	font-family: Gudea-Bold, Arial, Helvetica, sans-serif;
	border-bottom: 1px dotted rgb(166,167,161);
}

#invoice .footer{
	text-align: center;
	padding: 50px 0;
	margin-top: 20px;
	border-top: 1px dotted rgb(166,167,161);
}

#invoice .purchase-total{
	width: auto;
}

