/* Common style */
a:hover {
	text-decoration: none;
	color: #D1212D!important;
}
input:focus, select:focus {
	outline: none;
}
input[type=text].error,
input[type=password].error,
.select-box.error{
	border: 3px solid #D1212D;
}
.white-bg {
	background-color: #ffffff;
}
.big-heading {
	font-family: "Sue Ellen Francisco";
	font-size: 55px; /*fix for Issue 311*/
	color: #1e1e1e;
  line-height: 65px;
}
.top50 {
	margin-top: 50px;
}
.padding-left40 {
	padding-left: 40px;
}
.padding-left20 {
	padding-left: 20px;
}
.padr-20 {
	padding-right: 20px;
}
.padl-25 {
	padding-left: 25px;
}
.padl-5 {
	padding-left: 5px;
}
.padr-5 {
	padding-right: 5px;
}
.padl-10 {
	padding-left: 10px;
}
.padr-10 {
	padding-right: 10px;
}
.padt-20 {
	padding-top: 20px;
}
.padb-20 {
	padding-bottom: 20px;
}

.padt-25 {
	padding-top: 25px;
}
.padlr-20 {
	padding: 0 20px;
}
.pad-25-20 {
	padding: 25px 20px !important;
}
.pad-30-0 {
	padding: 30px 0 !important;
}
.padding-right20 {
	padding-right: 20px;
}
.margin-left20 {
	margin-left: 20px;
}
.margin-right20 {
	margin-right: 20px;
}
.col-20{
	width: 20%;
}
.width-380 {
	width: 380px;
	margin: 0 auto;
	max-width: 100%;
}
.width-390 {
	width: 390px;
	margin: 0 auto;
	max-width: 100%;
}
.mrt-20 {
	margin-top: 20px !important;
}
.mrb-10 {
	margin-bottom: 10px !important;
}
.mrb-25 {
	margin-bottom: 25px !important;
}
.mrb-40 {
	margin-bottom: 40px !important;
}
.mrb-50 {
	margin-bottom: 50px !important;
}
.text-light {
	font-weight: 300;
}
h3.font-light {
	font-weight: 300;
	font-size: 26px;
}
.category-img {
	max-height: 71px;
}
.top-menu {
	height: 50px;
	background: #EAEAEA;
}
.top-menu .col-md-3:nth-child(1){
    width: 28%;
}
.top-menu .col-md-6{
    width: 47%;
}
.top-menu a {
	font-family: "Source Sans Pro";
	font-size: 16px;
	color: #1e1e1e;
	font-weight: bold;
	line-height: 46px;
}
.top-menu .form-search {
	margin-top: 10px;
	text-align: left;
}
.top-menu .form-search input[type=text] {
	height: 30px;
	width: 200px;
	padding: 5px 10px;
	border: none;
	font-style: italic;
	line-height: normal;
  margin-right: 9px;
}
.top-menu .form-search input[type=submit] {
	text-indent: -999px;
	background: url("../images/black-search-btn.png") no-repeat center center;
	height: 30px;
	width: 30px;
	border: none;
	margin-left: 5px;
}
.top-menu .list-inline li {
	padding-left: 10px;
	padding-right: 10px;
}
.top-menu .login {
	top: 0;
	position: relative;
	z-index: 999;
}
.top-menu .login .unlogin {
	color: #1e1e1e;
	font-weight: 400;
	display: block;
	background: url("../images/login-bg-black.png") no-repeat top center;
	width: 147px;
	height: 50px;
}
.top-menu .notification {
	background: #ffffff url("../images/notification-bg.png") no-repeat bottom center;
	padding: 0 20px 0 20px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Source Sans Pro";
	width: 239px;
	height: 210px;
	position: absolute;
	z-index: 9999;
	right: 0;
	top: 0;
}
.top-menu .notification a {
	font-weight: 400;
	line-height: 40px;
	color: #1e1e1e;
	padding-left: 55px;
	display: block;
	text-align: left;
}
.top-menu .notification li {
	background: url("../images/icons.png") no-repeat;
	border-top: 1px solid #efefef;
}
.top-menu .notification .account {
	background-position: 0px 15px;
}
.top-menu .notification .account a {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 30px;
}
.top-menu .notification .cart {
	background-position: 0px -78px;
	min-height: 55px;
}
.top-menu .notification .cart a {
	color: #d1212d;
}
.top-menu .notification .cart > span {
	padding-left: 20px;
}
.top-menu .notification .money {
	background-position: 0px -45px;
}
.top-menu .notification .logout {
	background: url("../images/logout.png") no-repeat center left;
}
.main-menu {
	font-family: "Source Sans Pro";
	font-size: 26px;
	margin-bottom: 0;
}
.main-menu .brand {
	padding: 0;
	margin: 7px 12px 6px -5px;
}

.main-menu #navigation li {
	padding: 0 10px;
}
.main-menu .nav>li>a{
	padding: 25px 14px;
}
.main-menu .nav>li>a.brand{
	padding: 0;
}
.main-menu #navigation .navbar-nav > li.active > a {
	background-image: url(../images/nav-dot.png);
	background-repeat: repeat-x;
	background-position: 50% 100%;
	position: relative;
	background-color: transparent;
}
.main-menu #navigation .navbar-nav > li.active > a:before {
	content: "";
	height: 16px;
	left: 0;
	position: absolute;
	bottom: 0;
	width: 12px;
	z-index: 111;
}
.main-menu #navigation .navbar-nav > li.active > a:after {
	content: "";
	height: 16px;
	right: 0;
	position: absolute;
	bottom: 0;
	width: 12px;
	z-index: 111;
}
.main-menu #navigation li.all-deals {
	background: url("../images/separate-line.png") no-repeat left center;
}
.main-menu #navigation li:first-child {
	padding: 0;
}
.deal-header {
	margin: 40px 0;
}
.logo {
	margin-bottom: 20px;
	margin-top: 87px;
}
.has-popup .logo {
	margin-bottom: 174px;
}
.logo img {
	max-height: 71px;
}
.home-logo {
	margin-bottom: 0;
	margin-top: 0;
}
.home-logo img {
	max-height: 174px;
}
h2.the-title {
	font-size: 40px;
	font-weight: 300;
	margin-top: 0;
}
.page-title {
	display: table-cell;
	height: 86px;
	vertical-align: bottom;
}
.page-title > h1 {
	margin: 0 0 0 20px;
}
#release.popup{
  position: absolute;
  background-color: #91d1bb;
}
.popup .popup-title {
	height: 30px;
}
.popup .popup-title a {
	display: block;
	background: url("../images/close-btn.png") no-repeat center center;
	height: 30px;
	width: 30px;
	float: right;
	text-indent: -999px;
	overflow: hidden;
  margin-right: 5px;
  margin-top: 5px;
}
.popup .popup-content {
	padding: 0 20px 30px;
}
.popup .popup-content h2 {
	font-family: "Sue Ellen Francisco";
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
}
.popup .popup-content p {
	font-size: 26px;
	font-weight: 300;
	line-height: 33px;
}
.popup .popup-content .popup-btn {
	font-size: 26px;
	text-align: center;
	color: #1e1e1e;
	line-height: 53px;
	background: url("../images/popup-btn.png") no-repeat center center;
	background-size: 100% 100%;
	display: inline-block;
	width: 181px;
}
.popup .popup-content .checkpassword_form .popup-btn{
	font-size: 20px;	
	padding: 0 20px;
}
.popup .popup-content .checkpassword_form .popup-btn.back{
	max-width: 150px;	
}
.popup .popup-content .checkpassword_form .popup-btn#saved_cc_payment_button{
	white-space: nowrap;
	width: 280px;
}
.img-border {
	border: solid 1px;
	border-color: #a8a8a8 #a3a3a3 #6d6b6a #a2a1a0;
}
.homepage .top-menu {
	background: url("../images/opacity_header.png");
	position: absolute;
	width: 100%;
}
.homepage .top-menu .list-inline a {
	color: white;
}
.homepage .top-menu .notification {
	background: url("../images/home-notification-bg.png") no-repeat;
}
.homepage .top-menu .unlogin {
	background: #ffffff;
}
.homepage .top-menu .form-search input[type="submit"] {
	background: url("../images/search-btn.png") no-repeat center center;
	background-size: 24px 24px;
}
.homepage .banner {
	position: relative;
	background: url("../images/banner.jpg") no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.homepage .banner .logo a {
	position: relative;
	z-index: 9999;
}
.homepage .banner .findout {
	margin: 30px auto;
	background: url("../images/findout.png") no-repeat center center;
	font-size: 26px;
	color: #1e1e1e;
	display: block;
	width: 237px;
	height: 114px;
	line-height: 114px;
	padding-left: 30px;
	text-align: left;
}
.homepage .banner .home-logo + .findout {
	width: 140px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: url(../images/findout-03.png);
	background-size: 100% 100%;
	margin: 20px auto 0;
	font-size: 20px;
	padding: 0;
}
.homepage .banner #mask {
	top: 50px;
	width: 100%;
	bottom: 0;
	position: absolute;
	background: #000;
	opacity: 0.2;
	height: 370px;
}
.popup {
	position: absolute;
	top: 50px;
	left: 0;
	width: 355px;
	top: 140px;
	background: #1e1e1e;
	color: white;
	z-index: 99999;
}
.homepage .frame {
	/*  background: url("../images/frame-02.png") no-repeat;*/
	background-size: 100% 100%;
	margin: 75px auto;
	text-align: center;
	position: relative;
	z-index: 9999;
	width: 400px!important;
}
.homepage .slogan {
	font-family: "Roboto Slab";
	font-size: 42px;
	font-weight: 300;
	color: white;
	margin-top: 80px;
}
.homepage .hot-deal, .homepage .best-seller {
	background: #fff;
}
.homepage .hot-deal .deal-header {
	background: transparent;
	padding-bottom: 10px;
	padding-top: 45px;
}
.homepage .hot-deal .hot-deal-img {
	position: relative;
	min-height: 640px;
}
.homepage .hot-deal .hot-deal-img .offer {
	padding-left: 26px;
}
.homepage .hot-deal .hot-deal-img .product-logo {
	position: absolute;
	top: 20px;
	left: 20px;
}
.homepage .hot-deal .hot-deal-img img {
	border: 1px solid #5b5b5b;
}
.homepage .hot-deal .deal-title h4 {
	font-size: 26px;
	font-weight: 300;
	cursor: pointer;
}
.homepage .home-deal {
	background-color: #f4f2f0;
	margin-top: 50px;
}
.homepage .home-deal .deal-header {
	background: transparent;
    margin-top: 15px;
    padding-bottom: 50px;
}
.homepage .home-deal p {
	font-size: 26px;
	color: #1e1e1e;
	font-weight: 300;
}
.homepage .blog .blog-header {
	margin-top: 330px;
	margin-bottom: 25px;
}
.homepage .blog .blog-post .blog-img {
	padding-right: 20px;
}
.homepage .blog .blog-post .blog-excerpt {
	padding-left: 20px;
}
.homepage .blog .blog-post .blog-excerpt .blog-date {
	font-size: 16px;
	color: #1e1e1e;
	font-style: italic;
}
.homepage .blog .blog-post .blog-excerpt .blog-title {
	font-size: 26px;
	color: #1e1e1e;
	font-weight: 300;
	line-height: 33px;
}
.homepage .blog .blog-post .blog-excerpt .blog-text {
	font-family: "Source Sans Pro";
	font-size: 16px;
	color: #1e1e1e;
}
.homepage .blog .readmore {
	margin: 50px auto;
	background: url("../images/readmore.png") no-repeat;
	width: 340px;
	height: 85px;
	padding-left: 30px;
}
.homepage .blog .readmore a {
	font-size: 26px;
	line-height: 85px;
	color: #1e1e1e;
}
.homepage .footer {
	margin-top: 50px;
}
.homepage .category + .home-deal {
	margin-top: 0;
}
.homepage .category .deals > .row:first-child {
	padding-top: 0;
}
.deal-box {
	position: relative;
	cursor: pointer;
}

.credit-back-sign{
	display: none;
	width: 83px;
	height: 83px;
	background: url(../images/credit-back.png) no-repeat center center;
	position: absolute;
	top: 10px;
  right: 155px;
  z-index: 2;
	background-size: 100% 100%;
}
.deal-box.has-credit .credit-back-sign{
	width: 61px;
	height: 61px;
	background-size: 100%;
	top: 0;
  right: 132px;
}
.best-seller .deal-box.has-credit .credit-back-sign{
	right: 110px;
}
.has-credit .credit-back-sign{
	display: block;
}
.hot-deal .has-credit .deal-title{
	padding-right: 240px!important;
}
.price-box {
	background: url("../images/price-box.png") no-repeat;
	width: 205px;
	height: 95px;
	line-height: 24px;
  display: block;
  text-decoration: none;
}
.price-box:hover,
.price-box:focus,
.price-box:active,
.price-box:visited{
  text-decoration: none;
}
.soldout {
	background: url("../images/soldout.png") no-repeat;
	font-size: 26px;
	color: white;
	line-height: 58px;
	font-weight: 300;
}
.near-soldout {
	background: url("../images/near-soldout.png") no-repeat;
	font-family: "Source Sans Pro";
	font-size: 16px;
	color: white;
	width: 180px;
	height: 50px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	right: 20px;
	bottom: 125px;
	line-height: 50px;
}
.price-box .discount {
	color: #d1212d;
	font-size: 16px;
	margin: 16px 0 0;
	font-weight: 400;
}
.price-box .discount .big {
	font-size: 34px;
}
.price-box .original {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-size: 13px;
	color: #1e1e1e;
}
.deal-margin-left {
	padding: 50px 0 0 20px;
}
.deal-margin-right {
	text-align: right;
	padding: 50px 20px 0 0;
}
.footer {
	background: url("../images/line.png") no-repeat top center;
	font-family: "Source Sans Pro";
	font-size: 16px;
	color: #1e1e1e;
	padding: 10px 0;
}
/* Category page */
.category .top-menu {
	margin-bottom: 30px;
}
.category .top-menu a {
	color: #1e1e1e;
}
.category .deal-header {
	background: #DED7CF;
	padding: 25px 0;
}
.category .deal-header.white {
	background: #fff;
}
.category .hot-deal {
	background: #F5F3F1;
	padding: 15px 0 50px;
}
.category .hot-deal .deal-title {
	margin-bottom: 10px;
	cursor: pointer;
}
.category .hot-deal .deal-title h4 {
	display: table-cell;
	font-size: 40px;
	font-weight: 300;
	height: 95px;
	vertical-align: bottom;
}
.category .hot-deal .hot-deal-img {
	position: relative;
	min-height: 640px;
}
.hot-deal .hot-deal-img .offer {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 21px;
	color: #1e1e1e;
	width: 260px;
	height: 95px;
	line-height: 95px;
	padding-left: 56px;
	background: url(../images/offer.png);
	display: block;
	background-size: 100% 100%;
}
.category .hot-deal .hot-deal-img .product-logo {
	position: absolute;
	top: 20px;
	left: 20px;
}
.category .hot-deal .hot-deal-img img {
	border: 1px solid #5b5b5b;
}
.category .hot-deal .price-box {
	margin-bottom: 10px;
}
.category .deals {
	padding-bottom: 50px;
}
.category .deals > .row:first-child{
	padding-top: 15px;
}
.category .deals > .row {
	padding-top: 45px;
}
.category .deals > .row > div:nth-child(1){
	padding-right: 27px
}
.category .deals > .row > div:nth-child(2){
	padding-right: 13px;
	padding-left: 13px;
}
.category .deals > .row > div:nth-child(3){
	padding-left: 27px;
}
.category .deals .deal-box .pix-frame {
	background-size: 100% 100%;
	padding: 0;
	text-align: center;
	min-height: 147px;
	border: #5b5b5b solid 1px;
	overflow: hidden;
}
.category .deals .deal-box .pix-frame img {
	margin: 0 auto;
	min-height: 305px;
}
.category .deals .deal-box .title {
	font-size: 26px;
	margin: 0 0 10px;
	line-height: 1.1;
	font-weight: 300;
}
.category .deals .deal-box .title a {
	color: #1e1e1e;
	display: block;
}
.category .deals .price-box {
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.grey-block {
	background: #F5F3F1;
	padding-bottom: 50px;
}
.product-list {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 20px;
}
.product-list .row {
	margin-bottom: 5px;
}
.product-list .product-item {
	padding: 0 20px;
}
.product-list .product-item h3 {
	font-size: 26px;
	font-weight: 300;
}
.product-list .product-item h3 span {
	text-transform: uppercase;
}
.product-list .product-item .img-thumbnail {
	padding: 0;
	margin-bottom: 5px;
	position: relative;
}
.product-list .product-item.product-soldout .img-thumbnail {
	background-color: #000000;
}
.product-list .product-item .img-thumbnail img {
	border: solid 1px;
	border-color: #c4c4c4 #bfbebc #b9b8b8 #b7b7b7;
	max-width: 100%;
}
.product-list .product-item.product-soldout .img-thumbnail img {
	opacity: 0.5;
}
.product-list .product-item.product-soldout p {
	font-weight: 700;
	color: #D1212D;
}
.product-list .product-item .img-thumbnail .option {
	position: absolute;
	z-index: 20;
	bottom: 10px;
	right: 8px;
}
.product-list .product-item .img-thumbnail .option i {
	display: inline-block;
	width: 110px;
	height: 95px;
	vertical-align: middle;
}
.product-list .product-item .img-thumbnail .option i.spa-01 {
	background: url("../images/spa-01.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.spa-02 {
	background: url("../images/spa-02.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.spa-03 {
	background: url("../images/spa-03.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.size-s {
	background: url("../images/size-s.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.size-l {
	background: url("../images/size-l.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.size-m {
	background: url("../images/size-m.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.nuitee-1 {
	background: url("../images/1nuitee.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.nuitee-2 {
	background: url("../images/2nuitee.png") no-repeat;
}
.product-list .product-item .select-box {
	margin-bottom: 0;
}
.product-list .product-item .select-box:before {
	height: 39px;
	width: 32px;
}
.product-list .product-item .select-box > span {
	height: 39px;
	line-height: 39px;
}
.product-list .product-item .select-box select {
	font-family: "Source Sans Pro";
	height: 39px;
	line-height: 39px;
	padding-left: 8px;
}
.product-list .product-item .select-box select option {
	padding: 10px;
}
.select-box.s39 {
	margin-bottom: 0;
}
.select-box.s39:before {
	height: 39px;
	width: 32px;
}
.select-box.s39 > span {
	height: 39px;
	line-height: 39px;
}
.select-box.s39 select {
	font-family: "Source Sans Pro";
	height: 39px;
	line-height: 39px;
	padding-left: 8px;
}
.select-box.s39 select option {
	padding: 10px;
}
.radio-box {
	position: relative;
	padding-left: 23px;
	font-family: "Source Sans Pro";
	margin-bottom: 5px;
}
.radio-box .option {
	left: 0;
	position: absolute;
	width: 23px;
}
.products {
/*slider*/
}
#scroll-bar{
	display: none;
	position: fixed;
	width: 100%;
	z-index: 99999;
	top: 0;
	left: 0;
	background: #F4F2F0;
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.64);
	-moz-box-shadow:    0px 3px 11px 0px rgba(0, 0, 0, 0.64);
	box-shadow:         0px 3px 11px 0px rgba(0, 0, 0, 0.64);
}
#scroll-bar .container{
	padding: 0 20px;
}
#scroll-bar .title{
	font: 400 26px/28px "Roboto Slab";
	margin: 20px 0 15px;
}

#scroll-bar .price-box{
	background: transparent;
	width: auto;
	height: auto;
	display: inline-block;
  text-align: center;
}
.products .top-menu {
	margin-bottom: 30px;
}
.products .top-menu a {
	color: #1e1e1e;
}
.products .hot-deal .mobile-title{
	display: none;
}
.products .deal-header h1 {
	font-size: 40px;
	font-weight: 300;
}
.products .deal-header .row {
	display: table-cell;
	height: 86px;
	vertical-align: bottom;
}
.products .grey-block {
	padding-bottom: 10px;
}
.products .hot-deal {
	font-size: 26px;
	font-weight: 300;
	padding: 0 0 10px;
	background-color: #F4F2F0;
}
.products .hot-deal .hot-deal-img {
	position: relative;
	min-height: 140px;
	margin-top: 50px;
}
.products .hot-deal .hot-deal-img h1{
	font: 400 26px/28px "Roboto Slab";
	margin: 0 0 15px;
}
.products .hot-deal .hot-deal-img p{
	font: 300 16px/21px "Roboto Slab";
}
.products .hot-deal .hot-deal-img p.original{
	font: 300 italic 13px/16px "Source Sans Pro";
}
.products .hot-deal .hot-deal-img .offer {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 26px;
	color: #1e1e1e;
	width: 326px;
	height: 114px;
	line-height: 114px;
	padding-left: 30px;
	background: url(../images/offer.png);
	display: block;
}
.products .hot-deal .hot-deal-img .product-logo {
	position: absolute;
	top: 20px;
	left: 20px;
}
.products .hot-deal .hot-deal-img img {
	border: 1px solid #5b5b5b;
}
.buy-btn a {
	display: block;
	background: url("../images/buy-btn.png") no-repeat;
	width: 180px;
	height: 50px;
	font: 400 21px/50px "Roboto Slab";
	color: #fff;
	margin: 15px auto 5px;
	background-size: 100% 100%;
	text-align: center;
}
.buy-btn a:hover{
	background: url("../images/buy-white.png") no-repeat;
	color: #1e1e1e!important;
	background-size: 100% 100%;
}
.products .hot-deal .buy-btn p {
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: italic;
	font-size: 13px;
}
.products .hot-deal .price-box {
	background: transparent;
	margin: 0 auto 5px;
}
.products .short-description {
	line-height: 1.7;
	padding: 15px 0 0px;
	font-size: 26px;
	font-weight: 300;
}
.products .short-description p {
	line-height: 1.7;
	font-size: 16px;
	font-weight: 300;
}
.products .description {
	padding-bottom: 30px;
}
.vous-aimerez {
	color: #1e1e1e;
	font-size: 16px;
}
.vous-aimerez p {
	font-weight: 400;
}
.products .description h2 {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin: 30px 0 20px;
}
.products .description .options {
	font-family: "Source Sans Pro";
	font-size: 16px;
	background: #DED7CF;
	padding: 30px 20px;
	margin: 0 20px 20px;
}
.products .description .options > ul, .products .description .options > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.products .description .options > ul li {
	padding-left: 15px;
	position: relative;
}
.products .description .options > ul li:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "-";
}
.products .description a {
	color: #d1212d;
}
.progress-wrapper {
	font-family: "Source Sans Pro";
	position: relative;
}
.progress-wrapper .progress {
	background: url("../images/progress-bg.png") no-repeat;
	height: 24px;
	background-size: 100% 100%;
	padding: 3px 3px 4px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.progress-wrapper .progress .progress-bar {
	background: url("../images/progress-grey.png") repeat-x 100% 50%;
	background-size: 100% 100%;
	min-width: 0!important;
}
.progress-wrapper .progress .progress-bar-grey {
	background: url("../images/progress-grey.png") repeat-x 100% 50%;
}
.progress-wrapper .progress .progress-bar-red {
	background: url("../images/progress-red.png") repeat-x 100% 50%;
}
.progress-wrapper .progress-icon {
	background: url("../images/progress-icon.png") no-repeat;
	position: absolute;
	width: 15px;
	height: 17px;
	top: -18px;
	margin-left: -8px;
}
.progress-wrapper h4 {
	font-size: 13px;
	font-weight: 700;
}
.progress-wrapper.red .progress-bar {
	background: url("../images/progress-red.png") repeat-x 100% 50%;
}

.products .social-links{
	text-align: right;
	margin-right: 20px;
}

.products .social-links > li > a{
	font-family: "Source Sans Pro";
	font-size: 16px;
	padding-left: 32px;	
	text-decoration: none;
	color: #1e1e1e;
	background: url("../images/favoris-icon.png") no-repeat;
}

.products .social-links > li:last-child > a{
	background: url("../images/facebook-icon.png") no-repeat;
}

.products .more-info{
	clear: both;
	padding-left: 44px;
}
.products .more-info li{
	background: url(../images/tick-green.png) no-repeat;
	padding-left: 24px;
	font-size: 13px;
	font-family: "Source Sans Pro";
	font-style: italic;	
}

.products .credit-back{
	background: url(../images/credit-back.png) no-repeat top right;
	padding-right: 100px;
	min-height: 83px;
	background-size: 30% auto;
}
.products .credit-back .red-text{
	color: #d1212d;
}
.products .credit-back li:first-child{
	font: 400 20px/28px "Roboto Slab";
	color: #d1212d;
	background: url(../images/info.png) no-repeat right center;
	padding-right: 40px;
	display: inline-block;
}

.products .credit-back li{
	font-family: "Source Sans Pro";
	font-size: 16px;
}

.products .hot-deal-img .price-box .big{
	font-weight: 400;
}
.products .hot-deal-img .authen{
	margin-top: 35px;
}
.products .hot-deal-img .authen .description{
	background: url(../images/topdeal-authen.png) no-repeat;
	padding-left: 100px;
	background-size: 84px;
	min-height: 86px;
}

.products #bx-pager{
	margin-top: 25px;
}
.products .pager-container{
	position: relative;
}

.products .pager-container .slider-control{
	position: absolute;
	height: 90px;
	width: 20px;
	top: 10px;
}
.products .pager-container .slider-control a{
	display: block;
	height: 90px;
	width: 20px;
}
.products .pager-container .slider-control.prev{
	left: 0;
	background: url(../images/arrow_black.png) no-repeat center;
}
.products .pager-container .slider-control.next{
	right: 0;
	background: url(../images/arrow_black.png) no-repeat center;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.products .bx-wrapper .bx-viewport{
	min-height: 105px!important;
}
.products .list-01 {
	margin-bottom: 30px;
}
.products .list-01 li {
	font-size: 16px;
	margin-bottom: 20px;
	color: #1e1e1e;
}
.products .list-01 li h3 {
	font-size: 26px;
	margin: 0;
}
.products .table.type-01 tbody th {
	text-align: right;
}
.products .table.type-01 tr:last-child td, .products .table.type-01 tr:last-child th {
	border-bottom: 1px solid #ddd;
}
.products .pos-fixed {
	position: fixed;
	top: 0px;
	z-index: 9999999;
	-webkit-box-shadow: 1px 3px 7px rgba(50, 50, 50, 0.8);
	-moz-box-shadow: 1px 3px 7px rgba(50, 50, 50, 0.8);
	box-shadow: 1px 3px 7px rgba(50, 50, 50, 0.8);
	background-color: #fff;
	width: 100%;
}
.products .margin-top {
	margin-top: 120px;
}
.deal-header {
	padding: 26px 0;
	margin: 0;
}
.deal-header h1 {
	margin: 0;
}
.article-box {
	margin-bottom: 20px;
}
.article-box .product-images {
	margin-bottom: 15px;
}
.article-box .product-images img {
	border-style: solid;
	border-width: 1px;
	border-color: #af8192 #5f0426 #5f0426 #af8192;
	min-height: 300px;
}
.article-box .product-video {
	border: #c6c6c6 solid 1px;
}
.article-box .product-slider {
	border: #bfbfbf solid 1px;
}
.article-box h2 {
	font-size: 40px;
	font-weight: 300;
	margin: 30px 0 20px;
	text-align: center;
}
.article-box h3 {
	font-size: 26px;
	font-weight: 300;
}
.article-box:last-child {
	margin-bottom: 0;
}
.article-box:last-child .social {
	margin: 0;
}
.account .top-menu {
	margin-bottom: 30px;
}
.account .top-menu a {
	color: #1e1e1e;
}
.account .deal-header {
	background: #DED7CF;
	padding: 27px 0;
}
.account .deal-header.white {
	background: #fff;
}
.account .sign-block {
	min-height: 420px;
	padding-top: 20px;
	font-size: 16px;
	line-height: 24px;
}
.account .big-title {
	font-size: 40px;
	font-weight: 300;
}
.account p {
	font-weight: 300;
}
.account .signup p {
	font-family: "Source Sans Pro";
	line-height: 21px;
}
.account .signup .submit-02 {
	padding: 0 50px;
}
.account .social li {
	margin: 0 10px;
}
.account .complete-btn {
	color: #fff;
	background: url("../images/complete-btn.png") no-repeat;
	display: inline-block;
	width: 329px;
	height: 54px;
	line-height: 54px;
	font-size: 26px;
}
.account .complete-btn:hover {
	text-decoration: none;
}
.account .border-tb-w {
	border-top: #ffffff solid 1px;
	border-bottom: #ffffff solid 1px;
	padding: 20px 0;
}
.account .sidebar-menu li {
	padding: 17px 31px 17px 0;
	border-bottom: #d9d9d9 solid 1px;
	box-shadow: inset 0 -1px #f2f2f2;
}
.account .sidebar-menu li a {
	color: #333333;
	text-decoration: none;
	display: block;
	font-family: "Source Sans Pro";
	font-size: 16px;
}
.account .sidebar-menu li a:hover {
	font-weight: 700;
	text-decoration: none;
}
.account .sidebar-menu li:hover {
	background: url("../images/sidebar-li-icon.png") no-repeat 100% 0;
}
.account .sidebar-menu li.active {
	background: url("../images/sidebar-li-icon.png") no-repeat 100% 0;
	font-weight: 700;
}
.account .user-avatar {
	margin-top: -6px;
}
.account .user-avatar > span {
	vertical-align: top;
}
.account .user-avatar .user-photo {
	margin-top: -2px;
	border: #cccccc solid 1px;
	width: 100%;
	max-width: 175px;
	position: relative;
}
.account .user-avatar .user-photo img {
	vertical-align: top;
}
.account .user-avatar .user-photo .add-icon {
	position: absolute;
	bottom: 5px;
	right: 5px;
	display: block;
}
.account .member-list {
	margin-top: 25px;
}
.account .member-list h4 {
	padding-bottom: 10px;
	border-bottom: #d7d6d6 solid 1px;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0;
}
.account .member-list ul li {
	padding: 10px 0;
	border-bottom: #d7d6d6 solid 1px;
	vertical-align: middle;
	position: relative;
	min-height: 70px;
}
.account .member-list ul li span {
	display: block;
}
.account .member-list ul li i {
	float: right;
	margin-left: 10px;
}
.account .member-list.address {
	border-top: #d7d6d6 solid 1px;
}
.account .order-item {
	padding: 20px;
	background-color: #f5f3f1;
}
.account .order-item a {
	color: #1e1e1e;
}
.account .order-item a:hover {
	text-decoration: none;
}
.account .order-item .infobar {
	font-family: "Source Sans Pro";
	font-size: 16px;
	border-bottom: white solid 1px;
	padding-bottom: 10px;
}
.account .order-item .infobar p {
	margin-bottom: 0;
}
.account .order-item .infobar .bill-btn {
	width: 100px;
	height: 40px;
	line-height: 40px;
	background: url("../images/submit-btn.png") no-repeat;
	background-size: 100% 100%;
	text-align: center;
	display: inline-block;
	font-family: "Roboto Slab";
	font-size: 16px;
}
.account .order-item .coupon-btn{
    display: inline-block;
    background: url(../images/buy-btn-mobile.png) no-repeat;
    background-size: 100% 100%;
    line-height: 40px;
    padding: 0 20px;
    margin: 10px auto;
    color: #fff;
}
.account .order-item .deal-box {
	padding-left: 10px;
}
.account .order-item .deal-box .title {
	padding: 10px 0;
	font-size: 16px;
	font-weight: 300;
}
.account .order-item .deal-box .title a {
	font-family: "Source Sans Pro";
	font-weight: 400;
	text-decoration: underline;
}
.account .order-item .deal-box .title span {
	font-family: "Source Sans Pro";
	font-weight: 400;
}
.account .order-item .deal-box .pix-frame {
	position: relative;
}
.account .order-item .deal-box .pix-frame .print-order {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../images/print-order.png") no-repeat center center;
	top: 0;
	left: 0;
	opacity: 0.0;
	filter: alpha(opacity=0);
}
.account .order-item .deal-box .pix-frame:hover .print-order {
	opacity: 1.0;
	filter: alpha(opacity=100);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.account .order-item .deal-box .order-status {
	font-family: "Source Sans Pro";
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 1px solid white;
}
.account .order-item .deal-box .order-status h5 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0;
	color: #1e1e1e;
}
.account .order-item .deal-box .order-status p {
	font-weight: 400;
}
.account .order-item .deal-box .order-status.success {
	color: #007c29;
}
.account .order-item .deal-box .order-status.process {
	color: #dd8600;
}
.account .order-item .deal-box .order-status.expired {
	color: #d1212d;
}
.account .order-item .deal-box:nth-of-type(odd) {
	padding-right: 10px;
	padding-left: 0;
}
.account .credit-block p {
	font:400 16px/16px "Source Sans Pro";
}
.account .credit-block .credits1 {
	background: url("../images/credits1.png") no-repeat center center;
	min-height: 140px;
	padding-top: 40px;
}
.account .credit-block .credits1 p {
	font-family: "Sue Ellen Francisco";
	font-size: 35px;
	line-height: 30px;
	margin: 0;
}
.account .credit-block .credits1 .credits-label {
	font-size: 16px;
	font-weight: 700;
}
.account .credit-block .credits2 {
	background: url("../images/credits2.png") no-repeat center center;
	min-height: 175px;
	padding-top: 45px;
}
.account .credit-block .credits2 p {
	font-size: 10px;
	font-family: "Roboto Slab";
	margin-bottom: 5px;
}
.account .credit-block .credits2 .credits-label {
	font-size: 16px;
	font-weight: 700;
	font-family: "Sue Ellen Francisco";
}
.account .credit-block .credits2.20 {
	background: url("../images/credits3.png") no-repeat center center;
}
.account .credit-block .credits2.40 {
	background: url("../images/credits4.png") no-repeat center center;
}
.account .credit-block:first-child .the-title {
	line-height: 140px;
}
.account .credit-block .refer {
	padding: 20px;
	background-color: #f5f3f1;
}
.account .credit-block .refer li {
	font-family: "Source Sans Pro";
	font-size: 16px;
	padding: 15px 0;
	border-bottom: #cfcece solid 1px;
}
.submit-01 {
	margin-top: 15px;
	padding: 0 20px;
	height: 55px;
	line-height: 55px;
	color: #ffffff !important;
	background: url("../images/complete-btn.png") no-repeat 50% 50%;
	border: none;
	font-size: 24px;
	background-size: 100% 100%;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none !important;
}
.submit-01:hover {
	text-decoration: none !important;
	color: #1e1e1e !important;
	background: url("../images/buy-white.png") no-repeat 50% 50%;
	background-size: 100% 100%;
}
.submit-02 {
	margin-top: 15px;
	padding: 0 20px;
	height: 55px;
	line-height: 55px;
	color: #ffffff !important;
	background: url("../images/complete-btn.png") no-repeat 50% 50%;
	border: none;
	font-size: 24px;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none !important;
	background-size: 100% 100%;
}
.submit-02:hover {
	text-decoration: none !important;
	color: #1e1e1e !important;
	background: url("../images/buy-btn.png") no-repeat 50% 50%;
	background-size: 100% 100%;
}
.submit-02:hover {
	text-decoration: none !important;
	color: #ffffff !important;
	background: url("../images/complete-btn.png") no-repeat 50% 50%;
	background-size: 100% 100%;
}
.submit-03 {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	color: #1e1e1e !important;
	background: url("../images/buy-white.png") no-repeat 50% 50%;
	border: none;
	font-size: 20px;
	background-size: 100% 100%;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none !important;
}
.long-btn {
	margin-top: 15px;
	padding: 0 20px;
	height: 55px;
	line-height: 55px;
	color: #ffffff !important;
	background: url("../images/complete-btn.png") no-repeat 50% 50%;
	border: none;
	font-size: 24px;
	background-size: 100% 100%;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none !important;
	font-weight: 400;
	width: 480px;
	color: #1e1e1e !important;
	background: url("../images/long-btn.png") no-repeat;
}
.long-btn:hover {
	text-decoration: none !important;
	color: #1e1e1e !important;
	background: url("../images/buy-btn.png") no-repeat 50% 50%;
	background-size: 100% 100%;
}
.long-btn:hover {
	background: url("../images/long-btn.png") no-repeat;
}
.long-btn.restock {
	margin: 40px auto 25px;
}
.add-icon {
	width: 58px;
	height: 58px;
	bottom: 5px;
	right: 5px;
	background: url("../images/add-icon.png") no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}
.except-icon {
	width: 58px;
	height: 58px;
	bottom: 5px;
	right: 5px;
	background: url("../images/except-icon.png") no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}
form.form-01 {
	padding-top: 15px;
}
.form-01 a {
	color: #333333;
	text-decoration: underline;
}
form.form-01 a:hover {
	text-decoration: none;
}
form.form-01 .line-height-31 {
	line-height: 31px;
}
form.form-01 .overhidden {
	overflow: hidden;
}
input {
	outline: none;
}
input[type=email], input[type=text], input[type=password] {
	width: 380px;
	height: 55px;
	font-size: 16px;
	border: #d7d6d6 solid 1px;
	box-shadow: 1px 1px #f2f2f2, inset 1px 1px #f2f2f2;
	padding: 0 15px;
	margin-bottom: 10px;/* firefox 19+ */
  /* ie */
}
input[type=email]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
 font-style: italic;
 font-family: "Source Sans Pro", Arial, sans-serif;
 font-size: 16px;
 color: #1e1e1e;
}
input[type=email]::-moz-placeholder, input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder {
 font-style: italic;
 font-family: "Source Sans Pro", Arial, sans-serif;
 font-size: 16px;
 color: #1e1e1e;
}
input[type=email]:-ms-input-placeholder, input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder {
 font-style: italic;
 font-family: "Source Sans Pro", Arial, sans-serif;
 font-size: 16px;
 color: #1e1e1e;
}
input[type=email]:-moz-placeholder, input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder {
 font-style: italic;
 font-family: "Source Sans Pro", Arial, sans-serif;
 font-size: 16px;
 color: #1e1e1e;
}
.input-image {
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	border: #d7d6d6 solid 1px;
	box-shadow: 1px 1px #f2f2f2, inset 1px 1px #f2f2f2;
	padding: 0;
	margin-bottom: 10px;
	text-align: center;
	background: #f1f1f1 url("../images/input-image-bg.png") repeat-x 50% 0;
}
.input-image img {
	vertical-align: top;
}
.checkbox-wrapper {
	width: 18px;
	height: 18px;
}
.checkbox-s31, .checkbox-wrapper {
	position: relative;
	display: inline-block;
}
.checkbox-s31 label, .checkbox-wrapper label {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	background: url("../images/input.png") no-repeat 50% 50%;
	background-size: 100% 100%;
}
.checkbox-s31 input[type="checkbox"], .checkbox-wrapper input[type="checkbox"] {
	margin: 0 0 0 3px;
}
.checkbox-s31 input[type="checkbox"]:checked + label, .checkbox-wrapper input[type="checkbox"]:checked + label {
	background: url("../images/input-checked.png") no-repeat 50% 50%;
	background-size: 100% 100%;
	border: 1px solid #ccc;
}
.checkbox-s31 + p, .checkbox-wrapper + p {
	overflow: hidden;
	line-height: 1.3;
	padding-left: 10px;
}
.checkbox-s31 {
	width: 31px;
	height: 31px;
	line-height: 31px;
}
.checkbox-s31 label {
	background: url("../images/input.png") no-repeat 50% 50%;
}
.checkbox-s31 input[type="checkbox"]:checked + label {
	background: url("../images/input-checked.png") no-repeat 50% 50%;
	border: 1px solid #ccc;
}
.checkbox-wrapper label.checked, .checkbox-s31 label.checked {
	background: url("../images/input-checked.png") no-repeat 50% 50%;
	border: 1px solid #ccc;
}
.select-box {
	border: #d7d6d6 solid 1px;
	box-shadow: 1px 1px #f2f2f2, inset 1px 1px #f2f2f2;
	margin-bottom: 10px;
	width: 100%;
	position: relative;
}
.select-box > span {
	padding: 0 15px;
	height: 55px;
	line-height: 55px;
	display: block;
}
.select-box select {
	padding: 0 15px;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	width: 100%;
	border: none;
	cursor: pointer;
	color: #333;
	font-family: "Roboto Slab", "Source Sans Pro", "Sue Ellen Francisco", Arial, sans-serif;
	font-weight: 400;
	box-shadow: none;
}
.select-box select option {
	padding: 15px;
	box-shadow: none;
}
.select-box:before {
	background: #ffffff url("../images/select-icon.png") no-repeat 100% 50%;
	content: "";
	display: block;
	height: 55px;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
.select-box:after {
	pointer-events: none;
	position: absolute;
	right: 1px;
	top: 1px;
}
form.profil-form {
	padding: 20px;
	margin-bottom: 25px;
	background-color: #f5f3f1;
}
form.profil-form input[type=email], form.profil-form input[type=text], form.profil-form input[type=password],
.checkout-form input[type=email], .checkout-form input[type=text], .checkout-form input[type=password]{
	width: 100%;
}
form.profil-form p {
	margin: 0 0 25px;
}
form.profil-form hr,
.checkout-form hr{
	border-color: #d7d6d6;
	margin: 25px 0;
	clear: both;
}
.edit-icon, .delete-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
}
.edit-icon {
	background: url("../images/edit-icon.png") no-repeat;
}
.delete-icon {
	background: url("../images/delete-icon.png") no-repeat;
}
.checkout-step {
	margin-bottom: 25px;
}
.checkout-step > div > span {
	display: block;
	padding-left: 38px;
	height: 57px;
	background-position: 0 0;
	background-size: 100% 57px;
	background-repeat: no-repeat;
	font-size: 40px;
	font-weight: 300;
}
.checkout-step > div > span small {
	font-size: 16px;
}
.checkout-step > div > span.active {
	color: #f2f2f2;
}
.checkout-step > div > span.step-01 {
	background-image: url("../images/step-01.png");
	padding-right: 3px;
	padding-left: 30px;
}
.checkout-step > div > span.step-01.active {
	background-image: url("../images/step-01-act.png");
}
.checkout-step > div > span.step-02 {
	background-image: url("../images/step-02.png");
	margin-left: -17px;
	margin-right: -49px;
}
.checkout-step > div > span.step-02.active {
	background-image: url("../images/step-02-act.png");
}
.checkout-step > div > span.step-03 {
	background-image: url("../images/step-03.png");
}
.checkout-step > div > span.step-03.active {
	background-image: url("../images/step-03-act.png");
}
.checkout-step > div:last-child {
	padding-left: 33px;
}
.gift-input {
	width: 170px;
	padding: 5px;
	margin: 5px 0;
}
.delivery_method li {
	cursor: pointer;
	margin: 10px 0;
}
.delivery_method li:first-child {
	cursor: default;
}
.promocode {
	margin-top: 20px;
}
.promocode input[type=text] {
	width: 280px;
	height: 38px;
}
.promocode .submit-02 {
	font-size: 16px;
	height: 38px;
	margin-top: 0;
	line-height: 38px;
}
.validation-warning p {
	color: #D1212D;
	padding-top: 10px;
	font-weight: 700;
}
.validation-warning .submit-02 {
	font-size: 16px;
	height: 38px;
	margin-top: 0;
	line-height: 38px;
}
.checkout-list {
	font-size: 16px;
}
.checkout-list .checkout-list-top {
	padding: 5px 0 5px 10px;
	border-bottom: #7f7f7f solid 1px;
	font-family: "Source Sans Pro";
	font-weight: 700;
	text-align: right;
}
.checkout-list .checkout-list-top > div:nth-child(4) {
	text-align: center;
}
.checkout-list .checkout-list-top > div:nth-child(1), .checkout-list .checkout-list-top > div:nth-child(2) {
	text-align: left;
}
.checkout-list .checkout-list-top > div:nth-child(2) {
	padding: 0 10px;
}
.checkout-list .checkout-list-top span {
	font-weight: 400;
}
.checkout-list .checkout-list-row {
	padding: 25px 0 25px 10px;
	text-align: right;
	border-bottom: #cccccc solid 1px;
}
.checkout-list .checkout-list-row > div:nth-child(4) {
	text-align: center;
	padding-top: 10px!important;
}
.checkout-list .checkout-list-row > div:nth-child(4) input[type="text"] {
	width: 39px;
	padding: 0;
	text-align: center;
	margin: 0 5px;
}
.checkout-list .checkout-list-row > div:nth-child(1), .checkout-list .checkout-list-row > div:nth-child(2) {
	text-align: left;
}
.checkout-list .checkout-list-row > div:nth-child(2) {
	padding: 0 10px;
}
.checkout-list .checkout-list-row > div:nth-child(3), .checkout-list .checkout-list-row > div:nth-child(5) {
	padding-top: 10px!important;
	text-align: center;
}
.checkout-list .checkout-list-row .select-box {
	margin-bottom: 0;
}
.checkout-list .checkout-list-row .select-box:before {
	height: 39px;
}
.checkout-list .checkout-list-row .select-box > span {
	height: 39px;
	line-height: 39px;
}
.checkout-list .checkout-list-row .select-box select {
	height: 39px;
	line-height: 39px;
}
.checkout-list .checkout-list-row .select-box select option {
	padding: 10px 15px;
}
.checkout-list .checkout-list-row input[type="text"] {
	height: 39px;
	line-height: 39px;
	margin-bottom: 0;
	vertical-align: middle;
	max-width: 100%;
}
.checkout-list .checkout-list-row span.quantity_box {
	color: #000;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 3px 12px;
}
.checkout-list .checkout-list-row .add-icon, .checkout-list .checkout-list-row .except-icon {
	height: 32px;
	width: 32px;
	vertical-align: middle;
	cursor: pointer;
}
.checkout-list .checkout-list-row .delete-icon {
	height: 39px;
	width: 39px;
	background-image: url("../images/delete-icon-02.png");
}
.checkout-list .checkout-list-row .thumbnail {
	float: left;
	width: 132px;
	height: 87px;
	margin: 0 10px 0 0;
	padding: 0px;
	overflow: hidden;
}
.checkout-list .checkout-list-row .product-infos {
	overflow: hidden;
	font-weight: 300;
	line-height: 1.3;
}
.checkout-list .checkout-list-row .product-infos p {
	margin-bottom: 3px;
}
.checkout-list .checkout-list-row .product-infos p:last-child {
	margin-bottom: 0;
}
.checkout-list .checkout-list-row .product-infos .product-option {
	font-family: "Source Sans Pro";
}
.checkout-list .checkout-list-row .product-infos .product-option .checkbox-wrapper {
	vertical-align: middle;
}
.checkout-list .checkout-list-bottom {
	padding: 20px 0 25px;
}
.checkout-list .checkout-list-bottom .save-money {
	background: #f5f3f1 url("../images/save-money.png") no-repeat 10px 3px;
	padding: 15px 15px 15px 120px;
	font-weight: 300;
	min-height: 90px;
	margin-right: 25px;
}
.checkout-list .checkout-list-bottom .checkout-total .top-total {
	font-family: "Source Sans Pro";
}
.checkout-list .checkout-list-bottom .checkout-total + .bottom-total {
	border-top: #cccccc solid 1px;
}
.bottom-total {
	font-weight: 300;
	font-size: 26px;
}
.bottom-total span {
	font-weight: 400;
	font-size: 40px;
}
.total-block {
	text-align: right;
	margin: 25px 0 10px;
	line-height: 1;
	font-weight: 300;
	font-size: 26px;
}
.total-block span {
	font-weight: 400;
	font-size: 40px;
}
table.table-checkout {
	font-family: "Source Sans Pro";
	line-height: 1.3;
	font-size: 16px;
}
table.table-checkout thead th {
	border-bottom: #808080 solid 1px;
}
table.table-checkout thead th, table.table-checkout thead td {
	padding: 5px 0;
}
table.table-checkout thead th:first-child, table.table-checkout thead td:first-child {
	padding-left: 10px;
}
table.table-checkout thead th:last-child, table.table-checkout thead td:last-child {
	padding-right: 10px;
}
table.table-checkout thead th span, table.table-checkout thead td span {
	font-weight: 400;
}
table.table-checkout tbody th, table.table-checkout tbody td {
	padding: 5px 0;
}
table.table-checkout tbody th:first-child, table.table-checkout tbody td:first-child {
	padding-left: 10px;
}
table.table-checkout tbody th:last-child, table.table-checkout tbody td:last-child {
	padding-right: 10px;
}
table.table-checkout tbody th p, table.table-checkout tbody td p {
	margin-bottom: 3px;
}
table.table-checkout tbody th p:last-child, table.table-checkout tbody td p:last-child {
	margin-bottom: 0;
}
table.table-checkout tbody th .delete-icon, table.table-checkout tbody td .delete-icon {
	height: 39px;
	width: 39px;
	background-image: url("../images/delete-icon-02.png");
}
table.table-checkout tfoot tr:last-child td, table.table-checkout tfoot tr:first-child td, table.table-checkout tfoot tr:last-child th, table.table-checkout tfoot tr:first-child th {
	border-color: #808080;
}
table.table-checkout tfoot tr th, table.table-checkout tfoot tr td {
	padding: 5px 0;
}
.submit-02.back{
  margin-right: 30px;  
}
.card-list {
	margin-top: 10px;
	font-family: "Source Sans Pro";
	font-size: 16px;
}
.card-list li {
	margin-bottom: 10px;
	cursor: pointer;
}
.card-list li img {
	margin: 0 5px;
  border: 1px solid #d7d6d6;
}
.address-list {
	font-family: "Source Sans Pro";
	font-size: 16px;
}
.address-list li{
	display: table-row;
}
.address-list input {
	margin-right: 10px;
	display: table-cell;
}
.address-list label{
  font-weight: 400;
	display: table-cell;
}
.add-address {
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-weight: 400;
  padding-bottom: 15px;
}
.valid-btn{
  font: 400 16px/24px "Roboto Slab";
  background: url("../images/buy-white.png") no-repeat;
  background-size: 100% 100%;
  text-decoration: none!important;
  padding: 7px 20px;
  margin-top: 15px;
}
.valid-btn:hover{
  background: url("../images/complete-btn.png") no-repeat;
  color: #fff!important;
}
#frmNewAddress {display: none;}
.link-16 {
	font-family: "Source Sans Pro";
	line-height: 1.3;
	font-size: 16px;
	color: #333333;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700;
}
.link-16:hover {
	text-decoration: none;
	color: #333333;
}
.payer-votre {
	padding-top: 10px;
}
.payer-votre li {
	padding: 15px 0 15px 40px;
}
.payer-votre li img.pull-right {
	margin-left: 20px;
}
.payer-votre li.lock {
	background: url("../images/lock.png") no-repeat 0 6px;
}
.payer-votre li.votre-code {
	background: url("../images/code.png") no-repeat 0 6px;
}
.conform-purchase {
	background: #f5f3f1;
}
.conform-purchase p {
	font-size: 16px;
	font-weight: 300;
}
.save-credit p {
	font-family: "Source Sans Pro";
	font-size: 16px;
}
.save-credit .row {
	margin-bottom: 115px!important;
}
.archive-header {
	font-size: 16px;
	padding: 15px 0 5px;
	border-bottom: 1px solid #d7d6d6;
	margin-bottom: 15px;
}
.archive-header p, .archive-header select {
	line-height: 55px;
	font-family: "Source Sans Pro";
}
.archive-deals .price-box {
	height: 70px;
	background-size: 100% 100%;
	width: 230px;
}
.archive-deals .price-box a {
	line-height: 60px;
	font-size: 21px;
	font-weight: 400;
	color: #1e1e1e;
}
.archive-deals .price-box a:hover {
	text-decoration: none;
}
.archive-deals .price-box .discount {
	margin-top: 10px;
}
.archive-deals .near-soldout {
	width: 230px;
	background-size: 100% 100%;
}
.search-header {
	padding: 20px 0 10px;
	background-color: #f5f3f1;
}
.search-header input[type=text] {
	height: 50px;
}
.search-header input[type=submit] {
	border: none;
	background: url("../images/search-btn2.png") no-repeat;
	height: 50px;
	width: 55px;
	text-indent: -999px;
	margin-left: 15px;
}
.search-filter {
	margin: 25px auto;
}
.search-filter li {
	width: 196px;
	height: 55px;
	line-height: 55px;
	background: url("../images/search-filter-normal.png") no-repeat;
	background-size: 100% 100%;
	margin: auto 5px;
}
.search-filter li:last-child {
	display: none;
}
.search-filter li a {
	font-size: 16px;
	font-weight: 300;
	color: #1e1e1e;
}
.search-filter li.active {
	height: 65px;
	background: url("../images/search-filter.png") no-repeat;
}
.search-filter li.active a {
	color: white;
}
.page-result li {
	border-bottom: 1px solid #c7c7c7;
	padding-bottom: 20px;
}
.page-result li h3 {
	font-size: 26px;
	font-weight: 300;
}
.page-result li a {
	color: #1e1e1e;
	font-family: "Source Sans Pro";
	font-size: 16px;
}
.page-result li:last-child {
	border-bottom: none;
}
.noresult {
	margin: 30px auto;
}
.noresult p {
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
}
.slideshow {
	background: #1e1e1e;
	padding: 0 0 35px;
}
.slideshow .container {
	text-align: right;
}
.slideshow #close {
	width: 100%;
	font-size: 16px;
	font-family: "Source Sans Pro";
	line-height: 35px;
	text-align: right;
	color: #ccc;
	text-transform: uppercase;
}
#discovery .carousel-inner {
	margin: 0 50px;
	width: auto;
	height: 340px;
}
#discovery .carousel-inner .item {
	text-align: center;
	color: white;
}
#discovery .carousel-inner .item h3 {
	font-family: "Sue Ellen Francisco";
	font-size: 50px;
}
#discovery .carousel-inner .item p {
	font-weight: 300;
	font-size: 26px;
}
#discovery .carousel-inner .item img {
	margin: 0 auto;
}
#discovery .carousel-indicators {
	bottom: -30px;
}
#discovery .carousel-indicators li {
	width: 13px;
	height: 13px;
	background-color: #ffffff;
}
#discovery .carousel-indicators li.active {
	width: 15px;
	height: 15px;
	background-color: transparent;
}
#discovery .carousel-control {
	width: 50px;
	opacity: 1;
}
#discovery .left-btn {
	background: #1e1e1e url("../images/prev.png") no-repeat center center;
}
#discovery .right-btn {
	background: #1e1e1e url("../images/next.png") no-repeat center center;
}
.enterprise p/*,
.enterprise strong */ {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}
.enterprise h2 {
	font-size: 40px;
	font-weight: 300;
}
.enterprise .com-welcome {
	background-color: #f5f3f1;
	font-size: 26px;
	padding: 50px 0 30px;
}
.enterprise .com-welcome .info p, .enterprise .com-welcome .info a {
	font-size: 16px;
	color: #1e1e1e;
	font-weight: 300;
}
.enterprise .showroom p {
	font-family: "Source Sans Pro";
}
.enterprise .showroom .carousel {
	margin: 50px auto 10px;
}
.enterprise .showroom .carousel .carousel-inner {
	margin-bottom: 50px;
}
.enterprise .showroom .carousel .carousel-inner .item img {
	border: 1px solid #9d9796;
	margin: 0 15px;
}
.enterprise .showroom .carousel .left-btn {
	background: url("../images/back-icon.png") no-repeat center left;
}
.enterprise .showroom .carousel .right-btn {
	background: url("../images/next-icon.png") no-repeat center right;
}
.enterprise .com-member {
	background-color: #ded7cf;
	padding: 10px 0 30px;
}
.enterprise .com-member p {
	margin: 15px auto 30px;
}
.enterprise .com-member img {
	border: solid 1px #767b61;
}
.enterprise .social .col-md-offset-1 {
	margin-left: 12.5%;
}
.enterprise .social p {
	font-family: "Source Sans Pro";
	text-align: left;
}
.enterprise .com-partner {
	background-color: #f5f3f1;
	padding: 10px 0 30px;
}
.enterprise .com-partner .partner {
	height: 175px;
	background: url("../images/partner-bg.png") no-repeat top center;
}
.enterprise .com-partner .partner ul {
	margin-top: 50px;
}
.enterprise .com-partner .partner ul li {
	font-size: 16px;
	font-family: "Roboto Slab";
	font-weight: 300;
	line-height: 24px;
	background: url("../images/icon-greater.png") no-repeat left center;
	padding-left: 15px;
}
.enterprise .com-partner .partner-list {
	font-family: "Source Sans Pro";
}
.enterprise .com-partner .partner-list img {
	display: block;
	max-width: 80px;
	margin: 0 auto;
}
.enterprise .com-partner .partner-list .col-middle {
	margin: 0 5%;
}
.enterprise .join {
	padding-bottom: 50px;
}
.enterprise .join h2 {
	padding: 30px 0 10px;
}
.enterprise .join a {
	color: #1e1e1e;
}
.condition {
	padding-top: 20px;
}
.condition h2 {
	font-size: 26px;
	text-align: center;
}
.condition p, .condition h2 {
	margin-bottom: 30px;
}
/* Issue 311 */
.category .hot-deal .padding-right20 .row{
	position: relative;
}
.category .hot-deal .deal-title{
	padding-right: 185px;
	padding-bottom: 15px;
}
.category .hot-deal .price-box{
	width: 180px;
	height: 83px;
	background-size: 100% 100%;
	position: absolute;
	right: 0;
	bottom: 15px;
}

.products .hot-deal .price-box{
	width: 205px;
	position: static;
	line-height: 24px;
	margin-right: 18px;
	padding-top: 5px;
}

.category .hot-deal .price-box .discount .big{
	font-size: 34px;
}
.category .hot-deal .price-box .discount,
.category .hot-deal .price-box .original{
	font-size: 13px;
}
.homepage .hot-deal .deal-header+.row{
    position: relative;
}
.homepage .hot-deal .price-box{
    position: absolute;
    right: 0;
    bottom: 10px;
	  width: 180px;
		height: 83px;
		background-size: 100% 100%;
}
.homepage .hot-deal .deal-title{
	padding-right: 185px;
	min-height: 83px;
}
.homepage .hot-deal .hot-deal-img {
	min-height: 400px;
    margin-top: 20px;
}
.homepage .home-deal .subscription-form{
    margin-top: 20px;
}

.hot-deal .col-md-4.padding-left20 .deal-header .big-heading{
	white-space: nowrap;
}
.best-seller .deal-box,
.best-seller .deal-box .title {
	margin-bottom: 20px;
}

.best-seller > div:nth-child(2) > .deal-box{
    margin-bottom: 0;    
}
.best-seller .deal-box .title a,
.home-category .deal-box .title a{
	color: #1e1e1e;
	font: 300 21px/21px 'Roboto Slab';
}
.best-seller .deal-box .img-responsive{
	border: 1px solid #5b5b5b;
}
.best-seller .deal-box .price,
.home-category .deal-box .price{
	background-size: 100% auto;
}
.best-seller .deal-box .price-box,
.home-category .deal-box .price-box
{
	position: absolute;
	bottom: 40px;    
	height: 61px;   
	right: 20px;
	width: 128px;
	background-size: 100% 100%;
	line-height: 20px;
}
.hot-deal .col-md-4 .deal-header{
    margin-right: -12px;
    padding-bottom: 20px;
}
.best-seller .near-soldout,
.home-category .near-soldout{
    width: 128px;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    background-size: 100% 100%;
    bottom: 110px;
}
.best-seller .deal-box .price-box .discount,
.home-category .deal-box .price-box .discount{   
	font-size: 10px; 
	margin: 10px 0 0;
	color: #d1212d;	
}
.best-seller .deal-box .price-box .discount .big,
.home-category .deal-box .price-box .discount .big{
    font-size: 20px;
		font-weight: 400;
}
.best-seller .deal-box .price-box .original,
.home-category .deal-box .price-box .original{
	font-size: 13px;
	margin: 0!important;
}

.best-seller .deal-box .price-box.soldout{
	line-height: 56px;
}
.homepage .banner{
	height: 370px;
}
.homepage .home-deal {
	text-align: center;
}
.homepage .home-deal p {
	font-size: 21px;
	text-align: center;
	max-width: 90%;
	margin: 10px auto;
}
.homepage .category-img{
    max-height: 52px;    
}

.homepage .home-category{
    margin-bottom: 50px;
}

.homepage .home-category .img-responsive{
	max-height: 235px;
	margin: 25px auto 0;
}

.homepage .submit-01{
	font-weight: 300;
	font-size: 21px;
}
.homepage .price-box .discount{
	margin-top: 20px;
	font-size: 13px;
}

.category .hot-deal .container,
.category .deal-cat-list.container{
	padding: 0 20px;
}
.category .deal-header.white{
	padding: 15px 0 0;
}

.category .hot-deal .top-category .col-md-8{
	padding-right: 14px;
}
.category .hot-deal .top-category .right-content{
	padding-left: 6px;
}
.category .hot-deal .top-category .hot-deal-img {
	min-height: 114px;
}
.category .hot-deal .top-category .deal-title h4 {
	font-size: 26px;
}
.category .deals.deal-cat-list .deal-box .title {
	font-size: 16px;
	line-height: 1.5em;
}

.category .deals.deal-cat-list .deal-box .pix-frame img {
	min-height: 147px;
}
.category .deals.deal-cat-list .near-soldout {
	font-size: 14px;    
	height: 33px;
	line-height: 33px;
	position: absolute;
	width: 150px;
	background-size: 100% 100%;
	bottom: 89px;
}
.category .deals.deal-cat-list .price-box {   
    height: 60px;    
    width: 150px;
	background-size: 100% 100%;
}
.category .deals.deal-cat-list .price-box .discount {   
	font-size: 12px;
	margin: 2px 0 0;
	line-height: 1;
}
.category .deals.deal-cat-list .price-box .original {
	font-size: 13px;
}

.category .hot-deal .vous-aimerez-title{
	font-size: 26px;
	margin-bottom: 25px;
}

.category .hot-deal .vous-aimerez h3{
	font-size: 21px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
}

.products .hot-deal .price-box .big{
	font-size: 40px;
}
.products .hot-deal .price-box .discount, .products .hot-deal .price-box .original{
	font-size: 13px;
}
.products .hot-deal .price-box .discount{
	margin-bottom: 3px;
}
.subscription-form{
	background: #91d1bb;
	color: #fff;
	height: 90px;
	font: 400 14px/16px "Roboto Slab";
}
.subscription-form .container{
    position: relative;
}
.subscription-form a{
	color: #fff;
	font: 400 14px/16px "Roboto Slab";
	text-decoration: none;
}
.subscription-form li:first-child a{
	text-decoration: underline;
}
.subscription-form a:hover{
	text-decoration: underline;
	color: #fff!important;
}
.subscription-form input[type=email]{
	border: 0;
	width: 200px;
	height: 30px;
	box-shadow: none;
	font: 400 13px/16px "Source Sans Pro";
	color: #1e1e1e;
}
.subscription-form input[type=email]::-webkit-input-placeholder{
	font-size: 13px;
	color: #898989;
	font-style: normal;
}

.subscription-form input[type=email]::-webkit-input-placeholder:-moz-placeholder{
	font-size: 13px;
	color: #898989;
	font-style: normal;
}
.subscription-form .submit-01{
	width: 130px;
	height: 35px;
	font: 400 14px/16px "Roboto Slab";
	background-size: 100% 100%;
}
.subscription-form ul li{
	padding-right: 20px;
	display: table-cell;
	white-space: nowrap;
    padding-top: 10px;
}
.subscription-form .today-deal{
	width: 230px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	background: url("../images/separate-line.png") no-repeat right bottom;
	padding-right: 10px;
}
.subscription-form .form-title{
	padding-left: 20px;
}
#close-subscription{
	cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}
#open-subscription{
	position: fixed;
	right: 10px;
	top: 0;
	height: 48px;
	background: #fff;
	display: none;
	border-radius: 0 0 6px 6px;
	z-index: 1;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px #888888;
	-webkit-box-shadow: 1px 1px 1px 1px #888888;
	-moz-box-shadow: 1px 1px 1px 1px #888888;
}

@media(max-width: 768px) {
	body{
		overflow-x: hidden;
	}
	#top-banner{
		display: none;
	}
	#top-banner .close-mobilemenu{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 5px;
		right: 5px;
		background: url(../images/close-btn.png) no-repeat center center;
		background-size: 100% auto;
	}
	#top-banner .padl-25{
		padding-left: 5px;
	}
	#wrapper{
		position: relative;
		top: 0;
	}
	
	.popup{
		top: 121px;
		background-color: #91d1bb;
		width: 100%;
	}
	.shadow{
		-webkit-box-shadow: 1px 3px 7px rgba(50, 50, 50, 0.8);
		-moz-box-shadow: 1px 3px 7px rgba(50, 50, 50, 0.8);
		box-shadow: 1px 3px 7px rgba(50, 50, 50, 0.8);
	}
	.posfixed{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	.posfixed .banner{
		height: 100%;
		display: none;
	}
	#zenbox_tab{ display: none!important; }
  .select-box:before{
    background: transparent;    
  }
  .select-box{
    border: none;    
  }
  input[type=email], input[type=text], input[type=password]{
    width: 100%;
  }
	.top-menu .form-search input[type=text]{
		width: 170px;
		margin-right: 5px;
	}
	.gift-input {
		width: 90%;
	}
  .padding-right20{ padding-right: 0;}
	.top-menu{
/*		background: #bf3c61!important;*/
    background: #91d1bb!important;
		height: auto!important;
		position: static!important;
		margin-bottom: 0!important;
	}
	.top-menu .col-md-6{
		width: 100%;
	}
	.top-menu a,
	.top-menu li{
		font-size: 14px!important;
		font-weight: normal!important;
		color: #fff!important;
		border-top: none!important;
		line-height: 39px;
	}
	.top-menu li{		
		padding-left: 0;
		display: block;
	}
	.top-menu .list-inline li,
	.top-menu .unlogined li{
		padding-left: 0;		
		border-bottom: 1px solid #fff;
	}
	.top-menu li a{
		white-space: nowrap;
	}
	.top-menu .col-md-3:nth-child(1){
		width: 100%;
		padding-left: 20px;
	}
	.top-menu .notification{
		position: static;
		width: auto;
		background: transparent!important;
		height: auto;
		padding: 0;
	}
	.top-menu .notification li{		
		background-size: 15% auto!important;
	}
	.top-menu .notification .account{
		background: url("../images/account-m.png") no-repeat -12px center;
	}
	.top-menu .notification .cart{
		background: url("../images/cart-m.png") no-repeat -9px center;
		min-height: 0;
	}
	.top-menu .notification .money{
		background: url("../images/money-m.png") no-repeat -9px center;
		min-height: 0;
	}
	.top-menu .notification .logout{
		background: url("../images/logout-m.png") no-repeat -13px center;
	}
	.top-menu .notification {
		text-transform: uppercase;
	}
	.top-menu .notification .account a{
		line-height: 40px;
	}	
	.top-menu .notification a{
		padding-left: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		white-space: nowrap;
	}
	.category .top-menu{
		margin-bottom: 0;
	}
	.top-menu .form-search input[type=submit]{
		line-height: 16px;
		background: url("../images/search-btn.png") no-repeat center center;
		background-size: 24px;
		margin-left: 0;
	}
  .main-menu {
    min-height: 35px;
    margin-bottom: 0;
		border: none;
		border-bottom: 1px solid #fff;
  }
  .main-menu #navigation {
    position: relative;
    background: #1e1e1e;
  }
	.main-menu #navigation > .col-xs-8{
		display: block;
		padding-top: 5px!important;
	}
	.main-menu #navigation > .col-xs-8 img{
		height: 45px;
		margin: 0 auto;
	}
	
  .main-menu #navigation .menu-btn {
    background: #1e1e1e url("../images/menu-btn.png") no-repeat center center;
    height: 50px;
    position: absolute;
    z-index: 9999;
    left: 0;
		background-size: auto 35%;
  }
  .main-menu #navigation .mobile-cart {
    background: #1e1e1e url("../images/mobile-cart.png") no-repeat center center;
    height: 50px;
		width: 100%;
		display: block;
  }
	.main-menu #navigation .mobile-cart span {
		display: none; 
	}
  .main-menu #navigation .navbar-nav {
    position: absolute;
    background: #1e1e1e;
    top: 0;
    left: -1px;
    margin: 0;
    z-index: 999;
    display: none;
    padding-right: 20px;
  }
  .main-menu #navigation .navbar-nav li {
    float: none;
  }
  .main-menu #navigation .navbar-nav li a {
    font-family: "Source Sans Pro";
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main-menu #navigation li.extended-item {
    background: url("../images/m-separate.png") no-repeat 25px 0;
    padding: 15px 10px;
  }
  .main-menu #navigation li.all-deals {
    background: transparent;
    padding-bottom: 15px;
  }
  .main-menu .brand {
    margin: 0;
		position: absolute;
		right: 0;
		text-align: center;
		background: url(../images/cart-m.png) no-repeat center center;
		background-size: auto 80%;
		line-height: 50px;
		height: 50px;
  }
	.main-menu .brand.account{
		background: url(../images/account-m.png) no-repeat center center;
		background-size: auto 80%;
		right: 50px;		
	}
  .main-menu .brand img {
    height: 32px;
		visibility: hidden;
  }
	.main-menu .brand .badge{
		font-weight: 300;
/*		background-color: #bf3c61;*/
    background-color: #91d1bb;
		position: absolute;
		top: 8px;
		left: 50%;
		font-size: 12px;
		margin-left: -11px;
	}		
	
	.homepage > .banner,
	.category > .banner,
	.enterprise > .banner{
		height: auto;
		overflow: visible;
		display: block;
		top: 0;
		left: -260px;
		position: fixed;
		width: 260px;
		background: transparent;		
	}
	#mobile-category{
		background-color: #1e1e1e;
		position: relative;
		height: 70px;
	}
/*
	#mobile-category .col-xs-2,
	#mobile-category .col-xs-12{
		position: absolute;
		top: 0;
	}
	#mobile-category .col-xs-2:first-child{
		left: 0;
	}
	#mobile-category .col-xs-2:last-child{
		right: 0;
	}
	#mobile-category .col-xs-12{
		z-index: 100;
	}	
*/
  #mobile-category img{
    max-height: 64px;    
  }
	#mobile-category .mobile-logo{
		line-height: 70px;
		color: #fff;
		font: 300 28px/64px "Roboto Slab";
	}
	#mobile-category .navi{
		background: url(../images/arrow.png) no-repeat center center;
		display: block;
		height: 70px;
		background-size: auto 100%;
	}
	.home#mobile-category{
		background-color: #fff;
	}
	.home#mobile-category .navi{
		background: url(../images/home-arrow.png) no-repeat center center;
		background-size: auto 60%;		
	}	
	.home#mobile-category a{
		color: #1e1e1e;
	}
	#mobile-category .navi.next{		
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
  .big-heading {
    font-size: 28px;
    line-height: 36px;
  }
  .product-options-title{
    font-size: 20px;
    margin: 0 -15px!important;
    line-height: 28px;
  }    
  .product-list .product-item h3 span{
    font-size: 16px;
  }
  .deal-header {
    margin: 0;  
  }
  .homepage .hot-deal .deal-header{
    padding: 15px 0; 
    text-align: center;
  }
	.homepage .hot-deal .deal-header+.row,
	.category .hot-deal .padding-right20 .row{
		position: static;
	}
	.homepage .hot-deal .col-md-8{
		position: relative;
	}
  .homepage .hot-deal .deal-title{
    padding: 0;
    margin-top: 0;
    min-height: 0;
  }
	.hot-deal .has-credit .deal-title{
		padding-right: 0!important;
	}
	.products .credit-back{
		background-size: 25% auto;
	}
	.deal-box.has-credit .credit-back-sign{
		width: 83px;
		height: 83px;
		background-size: 90%;
		top: -5px;
	}
	.credit-back-sign{		
		top: -5px;
		left: -55px;
		z-index: 2;
		background-size: 90% auto;
	}
	.homepage .home-deal .deal-header{
		padding-bottom: 15px;
	}
	.homepage .home-category .img-responsive,
	.best-seller .deal-box .img-responsive
	{
		margin-top: 0;
		border: 1px solid #5b5b5b;
		margin-left: auto;
		margin-right: auto;
	}
	.homepage .home-category{
		margin-bottom: 0;
	}
  .hot-deal-img {
    padding: 0 20px;
    min-height: 100px!important;
    margin-top: 0;
  }
  .hot-deal .deal-title h4 {
    font-size: 21px!important;
    text-align: center!important;
  }

  .best-seller .deal-box .title a{
    font: 300 18px/20px "Roboto Slab";
  }
	#home-content .hot-deal{
		background-color: #1e1e1e;
	}
	#home-content .hot-deal .deal-title,
	#home-content .hot-deal .big-heading{
		color: #fff;
	}
	
	.homepage .hot-deal .hot-deal-img img{
		margin-left: auto;
		margin-right: auto;
	}
	.price-box,
	.homepage .hot-deal .price-box{
		left: 50%;
		margin-left: -81px;
		z-index: 1;
		width: 162px;
		height: 75px;
	}
	
	.price-box .original,
	.best-seller .deal-box .price-box .original{
		font-size: 14px;
	}
	.price-box .discount,
	.best-seller .deal-box .price-box .discount{
		margin-top: 15px!important;
		font-size: 14px!important;
	}
	.price-box .discount .big,
	.best-seller .deal-box .price-box .discount .big{
		font-size: 30px;
	}
	.homepage .hot-deal .price-box{
		bottom: -35px;
	}
	#bestseller-block{
		margin-top: 45px;
	}
	.best-seller .deal-box,
	.best-seller .deal-box .title {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.best-seller .col-xs-12:first-child{
		margin-bottom: 20px;
	}
	.best-seller .deal-box .price-box,
	.best-seller .near-soldout,
	.home-category .deal-box .price-box,
	.home-category .near-soldout{
		left: 50%;
  	margin-left: -81px;
	  bottom: -40px;
		width: 162px;
	}
	.best-seller .near-soldout{
		bottom: 50px;
	}
	.best-seller .deal-box .price-box.soldout{
		line-height: 75px;
		bottom: -40px;
	}
	.home-category .deal-box{
		margin-bottom: 20px;
		margin-top: 15px;
	}
	.home-category .deal-box .title{
		margin-bottom: 15px;
	}
  .homepage .home-deal {
    margin-top: 0;
  }
  .homepage .home-deal .deal-header h1 {
    margin: 0 auto;
  }
  .homepage .home-deal p {
    font-size: 14px;
  }
	.m-offer{
		position: absolute;
		bottom: 10px;
		right: 10px;
		background: url(../images/m-offer.png) no-repeat;
		display: block;
		width: 219px;
		height: 65px;		
		font: 400 16px/65px "Roboto Slab";
		color: #1e1e1e;
		text-align: left;
		padding-left: 25px;
		background-size: auto 100%;
	}
	.homepage .home-deal .subscription-form {
    background: none;
    height: auto;
		margin-top: 0;
    padding: 0 15px!important;
    color: #1e1e1e;
  }
  .homepage .home-deal .subscription-form .subscription-form-wrapper {
    background: url("../images/m-envelope.png") no-repeat top center;
    background-size: 100% 100%;
    background-position: center center;
  }
  .homepage .home-deal .subscription-form h2 {
    font-size: 18px;
    padding-top: 15px;
		color: #1e1e1e;
  }
  .homepage .home-deal .subscription-form p {
    font-size: 16px;
  }
  .homepage .home-deal .subscription-form input[type=text],
  .homepage .home-deal .subscription-form input[type=email] {
    width: 85%;
    padding-left: 10px;
    height: 35px;
    font-family: "Source Sans Pro";
    font-size: 14px;
  }
  .homepage .home-deal .subscription-form input[type=email] {
    margin-left: 0;
    margin-top: 10px;
  }
  .homepage .home-deal .subscription-form input[type=button] {
    width: 125px;
    height: 40px;    
    margin: 15px 0;
    font-size: 16px;
		background: url(../images/subscribe-btn.png) no-repeat;
		background-size: 100% 100%;
  }
  .homepage .home-deal .subscription-form input[type=button]:active,
  .homepage .home-deal .subscription-form input[type=button]:focus,
  .homepage .home-deal .subscription-form input[type=button]:visited{
    text-decoration: none!important;
    color: #fff!important;
  }
  .homepage .category-img {
    height: 40px;
  }
  .homepage .deal-margin-left,
  .homepage .deal-margin-right {
    padding: 0;
  }
  .homepage .blog .blog-header {
    margin-top: 30px;
  }
  .homepage .blog .blog-post.top50 {
    margin-top: 15px;
  }
  .homepage .blog .blog-post {
    padding: 0 10px;
  }
  .homepage .blog .blog-post .blog-img {
    padding-right: 0;
  }
  .homepage .blog .blog-post .blog-excerpt {
    padding-left: 0;
  }
  .homepage .blog .blog-post .blog-excerpt .blog-date,
  .homepage .blog .blog-post .blog-excerpt .blog-title {
    font-size: 14px;
  }
  .homepage .blog .blog-post .blog-excerpt .blog-date {
    font-family: "Source Sans Pro";
  }
  .hot-deal .m-price-box,
  .category .price-box {
    margin-top: 15px;		
  }
  .category .hot-deal .price-box{
    left: 50%;
    margin-left: -81px;
/*    top: 220px;*/
    z-index: 1;
		width: 162px!important;
		height: 75px;
		bottom: -35px;
  }
  .m-footer .footer {
    background-size: 100%;
  }
  .category .deals .padding-left20,
  .category .deals .padding-right20 {
    padding: 0;
  }
  .category .deals .row {
    padding: 0 20px;
  }
  .category .deals .title {
    font-size: 14px!important;
  }
  .category .deals .deal-box .title a{
    font-size: 21px!important;
  }
  .category .deals .deal-box {
    margin-top: 70px;
  }
  .category .deals .row:first-child .col-xs-12:first-child .deal-box:first-child {
    margin-top: auto;
  }
  .category .deals .row:last-child .col-xs-12:last-child .deal-box:last-child {
    margin-bottom: 50px;
  }
  .category .deals .top50 {
    margin-top: 0;
  }
  .category .deals.deal-cat-list .price-box {
    width: 162px;
    left: 50%;
    bottom: -40px;
    height: 75px;
		margin-left: -81px;
  }
  .category .deals.deal-cat-list .price-box .discount{
    margin-top: 10px;
  }
  .category .deals .price-box.soldout {
    background: url("../images/soldout.png") no-repeat;
    font-size: 31px;
    line-height: 75px;
    background-size: 100% 100%;
  }
  .category .deals .near-soldout {
    font-size: 14px;
    width: 162px!important;
    left: 50%;
		margin-left: -81px;
    height: 35px;
    line-height: 35px;
    background-size: 100% 100%;
    bottom: 50px!important;
  }
  .category .hot-deal {
    padding-bottom: 30px;
    background: #f4f2f0;
  }
  .category .hot-deal .deal-title {
    display: block;
    height: auto;
    padding: 0;
  }
  .category .hot-deal .deal-title h4{
    height: auto;
  }
  .category .deal-header {
    background: #f4f2f0;
    padding: 15px 15px 0;
  }
  .category .big-heading {
    margin: 25px 0px 5px;
  }
  .hot-deal .deal-title h4 {
    padding: 0!important;
		margin: 0;
  }
  .products .deal-header {
    padding: 0 20px;
  }
  .products .deal-header h1 {
    font-size: 26px;
    text-align: center;
    margin: 15px 0;
  }
  .products .hot-deal {
    font-size: 14px;
    padding-bottom: 0;
  }
  .products .hot-deal .buy-btn a {
    font-size: 16px;
    width: auto;
    height: auto;
	background: url(../images/buy-btn-mobile.png) no-repeat;
    background-size: 90% 70%;
    background-position: center center;
	padding: 10px 0;		
  }
	.products .more-info{
		padding-left: 0;
	}
	.products .more-info li{
		margin-top: 10px;
	}
	.products .pos-fixed .more-info{
		display: none;
	}
	.products .pos-fixed .buy-btn{ margin-left: 0; }
  .products .price-box {
    width: auto;
    height: auto;
    text-align: left;
    white-space: nowrap;
    margin-left: 0!important;
  }
  .products .price-box .discount,
  .products .price-box .original {
    font-size: 14px;
  }
  .products .price-box .discount .big,
  .products .price-box .original .big {
    font-size: 30px;
  }
  .products .progress-wrapper {
    margin: 0;
  }
  .products .progress-wrapper h4 {
    font-size: 14px;
  }
  .products .description h2 {
    font-size: 21px;
  }
  .products .description .options {
    margin: 20px;
  }
  .products .list-01 li {
    font-size: 14px;
  }
  .products .list-01 li h3 {
    font-size: 20px;
  }
  .products .social img {
    height: 40px;
  }
	
  .account .padlr-20 {
    padding: 0;
  }
	.products .pos-fixed .col-md-pull-7{
		display: none;
	}
	.products .pos-fixed{
		background: #000;
		color: #fff;
	}
	.products .pos-fixed.hot-deal .buy-btn a{
		background: url(../images/buy-btn-whilte.png) no-repeat;
		color: #1e1e1e;
		background-size: 100% 100%;
		padding: 5px 0;
	}
	.products .pos-fixed .price-box .original{
		color: #fff;
	}
	.products .pos-fixed .mobile-title{
		display: block;
		font-size: 16px;		
		margin: 10px 0 0;
	}
	
	.deal-navi{
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: #F4F2F0;
		-webkit-box-shadow: -1px -9px 11px -8px rgba(0,0,0,0.64);
		-moz-box-shadow: -1px -9px 11px -8px rgba(0,0,0,0.64);
		box-shadow: -1px -9px 11px -8px rgba(0,0,0,0.64);
	}
	.deal-navi.stop-float{
		position: static!important;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.deal-navi .col-xs-5{
		position: relative;		
	}
	.deal-navi a{
		color: #1e1e1e;
		display: inline-block;
		
	}
	
	.deal-navi a.previous{
		padding-left: 30px;
	}
	
	.deal-navi a.previous::after,
	.deal-navi a.next::after{
		content: '';
    height: 55px;
    width: 55px;
    background: url(../images/home-arrow.png) no-repeat left center;
    background-size: auto 30px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -27px;
	}
	
	.deal-navi a.next::after{
	  right: 0;
    transform: rotate(180deg);
    left: inherit;
	}
	
	
	.deal-navi a.next{
		padding-right: 30px;
		background-position: right center;
		text-align: right
	}
	
	.year-field {
		padding-left: 10px;
	}
/*
  
  .account .padl-5,
  .account .padr-5 {
    padding: 0;
  }
*/
  .account .mrb-40 {
    margin-bottom: 0!important;
  }
  .account .grey-block {
    background: white;
    padding-bottom: 0;
  }
  .account .sign-block {
    padding: 15px;
    margin: 15px 0;
    background: #F5F3F1;
  }
  .account .sign-block .img-welcome {
    width: 225px;
  }
  .account .sign-block .big-title {
    font-size: 26px;
    font-weight: 300;
  }
  .account .complete-btn {
    font-size: 16px;
    width: 220px;
    height: 50px;
    line-height: 50px;
    background-size: 100% 100%;
    margin: 20px auto;
  }
  .account form.form-01 input[type=email],
  .account form.form-01 input[type=text],
  .account form.form-01 input[type=password] {
    height: 40px;
    line-height: 40px;
  }
  .account form.form-01 .forgot-password-text {
    text-align: left;
    margin-top: 15px;
  }
  .account form.form-01 .select-box:before {
    height: 40px;
  }
  .account form.form-01 .select-box select {
    height: 40px;
  }
  .account .submit-01 {
    font-size: 16px;
  }
  .account .submit-02 {
    font-size: 16px;
    font-weight: 300;
    white-space: normal;
  }
  .account .goto-btn .col-md-6:first-child {
    padding-right: 5px;
  }
  .account .goto-btn .col-md-6:last-child {
    padding-left: 5px;
  }
  .account .goto-btn .submit-02 {
    line-height: 24px;
    height: 70px;
    padding-top: 10px;
    text-align: center;
  }
  .account .social-login {
    font-size: 16px;
  }
  .account .social-login img {
    height: 40px;
  }
  .account .social li {
    margin: 0;
  }
  .account .social li img {
    height: 35px;
  }
  .account .the-title {
    font-size: 18px;
    text-align: center;
  }
  .account form.profil-form {
    padding: 15px;
  }
  .account .pull-left-sm {
    float: left!important;
  }
  .account .order-item .infobar .bill-btn {
    margin-top: 15px;
  }
  .account .order-item .deal-box,
  .account .order-item .deal-box:nth-of-type(odd) {
    padding-left: 0;
    padding-right: 0;
  }
  .account .order-item .deal-box .order-status,
  .account .order-item .deal-box:nth-of-type(odd) .order-status {
    margin-top: 15px;
  }
  .account .credit-block:first-child,
  .account .credit-block:nth-of-type(2) {
    border-bottom: 1px solid #DED7CF;
    margin-bottom: 15px;
  }
  .account .credit-block:first-child .the-title,
  .account .credit-block:nth-of-type(2) .the-title {
    line-height: 18px;
  }
	.homepage .footer{
		margin-top: 30px;
	}
  table.table-checkout tbody th .delete-icon,
  table.table-checkout tbody td .delete-icon{
    width: 24px;
    height: 24px;
    background-size: 100% auto;    
  }
	.long-btn.restock {
		margin: 25px auto ;
		font-size: 16px;
		background-size: 100% 100%;
		width: 100%;
	}
	.enterprise h2{
		font-size: 24px;
		font-weight: 400;
	}
	.enterprise p,
	.enterprise .com-welcome .info p,
	.enterprise .com-welcome .info a{
		font-size: 14px;
		line-height: 18px;
	}
	.enterprise .com-partner .partner{
		height: 70px;
		background-size: 100% auto;
	}
	.enterprise .com-partner .partner .col-md-6{
		margin-left: 40%;		
	}
	.enterprise .com-partner .partner ul{
		margin-top: 0;
	}
	.enterprise .com-partner .partner ul li{
		font-size: 10px;
	}
	.enterprise .com-member{
		padding: 10px 15px 30px;
	}
	.enterprise .com-member img{
		max-width: 100%;
	}
	.enterprise .com-partner .partner-list img,
	.enterprise .social img{
		max-width: 40px;
	}
	.enterprise .info img{
		max-width: 50px;
	}
	.enterprise .com-partner .partner-list .col-middle{
		margin: 0;
	}
	.enterprise .social .col-md-offset-1{
		margin-left: 0;
	}
	.carousel-control{
		display: none;
	}
	.enterprise .showroom .carousel .carousel-inner .item img{
		margin: 10px 0;
	}
	#checkout-password.popup .popup-content .popup-btn{
		font-size: 20px;
	}
	#checkout-password.popup .popup-content .popup-btn{
		font-size: 20px;
	}
	#checkout-password.popup .popup-content p {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
	}
	#checkout-password.popup .popup-content popup-btn.back{
		width: 154px;
	}
	
	.popup .popup-content .checkpassword_form .popup-btn#saved_cc_payment_button{
		width: 100%;
	}
  .promocode input[type=text] {
    width: 100%;
  }
}
@media(max-width: 992px) {
  .checkout-list .checkout-list-row {
    border-bottom: none;
    padding: 0 0 15px;
  }
  .checkout-list .checkout-list-row > div {
    padding: 0 10px;
  }
  .checkout-list .checkout-list-row > div:nth-child(1) {
    background-color: #f5f3f1;
    margin-bottom: 10px;
    padding: 10px!important;
  }
	#temp-basket .checkout-list .checkout-list-row > div:nth-child(1){
		background-color: #fff;  	
  }
  .checkout-list .checkout-list-row > div:nth-child(5) {
    padding-top: 0;
  }
  .checkout-list .checkout-list-row > div:last-child {
    margin-top: 10px;
  }
  .checkout-list .checkout-list-row > div:last-child .select-box {
    margin-bottom: 10px;
  }
  .checkout-list .checkout-list-bottom {
    padding: 20px 0 25px;
  }
  .checkout-list .checkout-list-bottom .save-money {
    background: #f5f3f1 url("../images/save-money.png") no-repeat 10px 3px;
    padding: 15px 15px 15px 120px;
    font-weight: 300;
    min-height: 90px;
    margin-right: 25px;
  }
  .checkout-list .checkout-list-bottom .checkout-total .top-total {
    font-family: "Source Sans Pro";
  }
  .checkout-list .checkout-list-bottom .checkout-total + .bottom-total {
    border-top: #cccccc solid 1px;
  }
  
  .checkout-step > div > span {
    /* padding-left: 10px; */
  }
	.checkout-step > div > span.step-03,.checkout-step > div > span.step-05{
		padding-left: 25px;
	}
  .checkout-step > div > span.step-02 {
    margin: 0;
  }
  .checkout-step > div:last-child {
    padding: 0;
  }
  .checkout-step.step01{
    background: url(../images/mobile-step1.png) no-repeat;
    background-size: 100% 100%;
  }
  .checkout-step.step02{
    background: url(../images/mobile-step2.png) no-repeat;
    background-size: 100% 100%;
  }
  .checkout-step.step03{
    background: url(../images/mobile-step3.png) no-repeat;
    background-size: 100% 100%;
  }
	.checkout-step.step04{
    background: url(../images/mobile-step4.png) no-repeat;
    background-size: 100% 100%;
  }
	.checkout-step.step05{
    background: url(../images/mobile-step5.png) no-repeat;
    background-size: 100% 100%;
  }
  .checkout-step > div > span.step-01.active,
  .checkout-step > div > span.step-02.active,
  .checkout-step > div > span.step-03.active,
	.checkout-step > div > span.step-04.active,
	.checkout-step > div > span.step-05.active,
  .checkout-step > div > span.step-01,
  .checkout-step > div > span.step-02,
	.checkout-step > div > span.step-03,
	.checkout-step > div > span.step-04,
  .checkout-step > div > span.step-05{
    background: transparent;
  }
}
@media(max-width: 767px) {
	.container.pos-fixed {
		width: 100%;
	}
	.products .short-description {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 16px;
	}
	.products .short-description p { font-size: 16px; }
	.products .sliders .slider-nav ul li {
		margin-bottom: 5px;
	}
}
@media (max-width: 480px) {
	#mobile-category .mobile-logo{
		font-size: 24px;
	}
  .bottom-total {
    font-size: 20px;
  }
  .col-xs-12 > .padl-10,
  .col-xs-12 > .padr-10 {
    padding: 0;
  }
  .submit-01,
  .submit-02 {
    font-size: 16px;
  }
  .submit-02.back{
    margin-right: 0;  
  }

  .checkout-list + .text-right {
    text-align: center;
  }
  .checkout-list + .text-right .submit-01,
  .checkout-list + .text-right .submit-02 {
    width: 130px;
    white-space: normal;
    height: auto;
    line-height: 110%;
    padding: 15px 20px;
    font-size: 16px;
  }
	.top-menu .notification li{		
		background-size: 	20% auto!important;
	}
}

/* Check password popup */

#checkout-password.popup {
	width: 526px;
	height: 254px;
	position: absolute;
	left: 50%;
	margin-left: -278px;
}
#checkout-password input[type=password]{
	width: 100%;
}
#zenbox_tab.ZenboxTabLeft {
	-webkit-transform: rotate(0deg)!important;
	-moz-transform: rotate(0deg)!important;
	-o-transform: rotate(-0deg)!important;
	-ms-transform: rotate(0deg)!important;
	transform: rotate(0deg)!important;
	height: 140px!important;
	border: none!important;
	min-width: 45px!important;
	padding: 0!important;
	top: 50%!important;
	background-position: 0 0 !important;
}
/* For disable responsive 
.hidden-lg, .hidden-md {
	display: none;
	visibility: hidden;
}
span.hidden-xs, span.hidden-sm, small.hidden-xs, small.hidden-sm {
	display: inline-block!important;
}
.container {
	width: 960px!important;
}
 @media print {
.no-print, .no-print * {
	display: none !important;
}
*/
.success-msg {
	color:green;
}

.removeService { color: red !important; }

ul li .removeService { display: none; } 
ul li:hover .removeService { display: inline; }

.category .add-cart{
	background: url(../images/add-cart.png) no-repeat;
	height: 42px;
	width: 121px;
	font: 400 16px/42px "Source Sans Pro";
	text-align: center;
	margin: 10px auto 0;
	display: inline-block;
	color: #1e1e1e;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 10px;
}
.category .multi-options .add-cart{
	width: 90px;
	margin-right: 4px;
	float: left;
	background-size: 100% 100%;
}
.category .multi-options .add-cart:nth-child(3n){
	margin-right: 0;
}
.category .add-cart:hover{
	text-decoration: none;
}
.category .add-cart.out{
	background: url(../images/add-cart-soldout.png) no-repeat;
	background-size: 100% 100%;
}
.products .description .options {
	font-family: "Source Sans Pro";
	font-size: 16px;
	background: #DED7CF;
	padding: 30px 20px;
	margin: 0 20px 20px;
} 

#pls-w8
{
	color:green;
}

.sunday-deal .category-icon{
	margin-bottom: 10px;
}