/* Common style */
a:hover {
  text-decoration: none;
  color: #D1212D!important;
}
input:focus,
select:focus {
  outline: none;
}
input[type=text].error,
input[type=password].error {
  border: 3px solid #D1212D;
}
.white-bg {
  background-color: #ffffff;
}
.big-heading {
  font-family: "Sue Ellen Francisco";
  font-size: 68px;
  color: #1e1e1e;
  min-height: 86px;
  line-height: 86px;
}
.top50 {
  margin-top: 50px;
}
.padding-left20 {
  padding-left: 20px;
}
.padl-25 {
  padding-left: 25px;
}
.padl-5 {
  padding-left: 5px;
}
.padr-5 {
  padding-right: 5px;
}
.padl-10 {
  padding-left: 10px;
}
.padr-10 {
  padding-right: 10px;
}
.padt-20 {
  padding-top: 20px;
}
.padb-20 {
  padding-bottom: 20px;
}
.padt-25 {
  padding-top: 25px;
}
.padlr-20 {
  padding: 0 20px;
}
.pad-25-20 {
  padding: 25px 20px !important;
}
.pad-30-0 {
  padding: 30px 0 !important;
}
.padding-right20 {
  padding-right: 20px;
}
.margin-left20 {
  margin-left: 20px;
}
.margin-right20 {
  margin-right: 20px;
}
.width-380 {
  width: 380px;
  margin: 0 auto;
  max-width: 100%;
}
.width-390 {
  width: 390px;
  margin: 0 auto;
  max-width: 100%;
}
.mrt-20 {
  margin-top: 20px !important;
}
.mrb-10 {
  margin-bottom: 10px !important;
}
.mrb-25 {
  margin-bottom: 25px !important;
}
.mrb-40 {
  margin-bottom: 40px !important;
}
.mrb-50 {
  margin-bottom: 50px !important;
}
.text-light {
  font-weight: 300;
}
h3.font-light {
  font-weight: 300;
  font-size: 26px;
}
.category-img {
  max-height: 71px;
}
.top-menu {
  height: 50px;
  background: #EAEAEA;
}
.top-menu a {
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: #1e1e1e;
  font-weight: bold;
  line-height: 46px;
}
.top-menu .form-search {
  margin-top: 10px;
  text-align: left;
}
.top-menu .form-search input[type=text] {
  height: 30px;
  width: 200px;
  padding: 5px 10px;
  border: none;
  font-style: italic;
  line-height: normal;
}
.top-menu .form-search input[type=submit] {
  text-indent: -999px;
  background: url("../images/black-search-btn.png") no-repeat center center;
  height: 30px;
  width: 30px;
  border: none;
  margin-left: 5px;
}
.top-menu .list-inline li {
  padding-left: 10px;
  padding-right: 10px;
}
.top-menu .login {
  position: relative;
}
.top-menu .login .unlogin {
  color: #1e1e1e;
  font-weight: 400;
  display: block;
  background: url("../images/login-bg-black.png") no-repeat top center;
  width: 147px;
  height: 50px;
}
.top-menu .notification {
  background: #ffffff url("../images/notification-bg.png") no-repeat top center;
  padding: 0 20px 0 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Sans Pro";
  width: 239px;
  height: 203px;
  position: absolute;
  z-index: 9999;
  right: 0;
  top: 0;
}
.top-menu .notification a {
  font-weight: 400;
  line-height: 40px;
  color: #1e1e1e;
  padding-left: 47px;
  display: block;
  text-align: left;
}
.top-menu .notification li {
  background: url("../images/icons.png") no-repeat;
  border-top: 1px solid #efefef;
}
.top-menu .notification .account {
  background-position: 0px 5px;
}
.top-menu .notification .account a {
  text-overflow: ellipsis;
  overflow: hidden;
}
.top-menu .notification .cart {
  background-position: 0px -78px;
  min-height: 55px;
}
.top-menu .notification .cart a {
  color: #d1212d;
}
.top-menu .notification .money {
  background-position: 0px -45px;
}
.top-menu .notification .logout {
  background: url("../images/logout.png") no-repeat center left;
}
.main-menu {
  font-family: "Source Sans Pro";
  font-size: 26px;
  margin-bottom: 0;
}
.main-menu .brand {
  padding: 0;
  margin: 18px 12px 6px;
}
.main-menu #navigation li {
  padding: 0 10px;
}
.main-menu #navigation li.all-deals {
  background: url("../images/separate-line.png") no-repeat left center;
}
.main-menu #navigation li:first-child {
  padding: 0;
}
.deal-header {
  margin: 40px 0;
}
.logo {
  margin-bottom: 10px;
  margin-top: 100px;
}
.logo img {
  max-height: 71px;
}
h2.the-title {
  font-size: 40px;
  font-weight: 300;
  margin-top: 0;
}
.page-title {
  display: table-cell;
  height: 86px;
  vertical-align: bottom;
}
.page-title > h1 {
  margin: 0 0 0 20px;
}
#popup {
  background: #1e1e1e;
  color: white;
  z-index: 9999;
}
#popup .popup-title {
  height: 30px;
}
#popup .popup-title a {
  display: block;
  background: url("../images/close-btn.png") no-repeat center center;
  height: 30px;
  width: 30px;
  float: right;
  text-indent: -999px;
  overflow: hidden;
}
#popup .popup-content {
  padding: 0 20px 30px;
}
#popup .popup-content h2 {
  font-family: "Sue Ellen Francisco";
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}
#popup .popup-content p {
  font-size: 26px;
  font-weight: 300;
  line-height: 33px;
}
#popup .popup-content .popup-btn {
  font-size: 26px;
  text-align: center;
  color: #1e1e1e;
  line-height: 53px;
  background: url("../images/popup-btn.png") no-repeat center center;
  display: inline-block;
  width: 181px;
}
.img-border {
  border: solid 1px;
  border-color: #a8a8a8 #a3a3a3 #6d6b6a #a2a1a0;
}
.homepage .top-menu {
  background: url("../images/opacity_header.png");
}
.homepage .top-menu .list-inline a {
  color: white;
}
.homepage .top-menu .notification {
  background: url("../images/home-notification-bg.png") no-repeat;
}
.homepage .top-menu .unlogin {
  background: #ffffff;
}
.homepage .top-menu .form-search input[type="submit"] {
  background: url("../images/search-btn.png") no-repeat center center;
}
.homepage .banner {
  position: relative;
  background-size: 100% 100%;
}
.homepage .banner .logo a {
  position: relative;
  z-index: 9999;
}
.homepage .banner .findout {
  margin: 30px auto;
  background: url("../images/findout.png") no-repeat center center;
  font-size: 26px;
  color: #1e1e1e;
  display: block;
  width: 237px;
  height: 114px;
  line-height: 114px;
  padding-left: 30px;
  text-align: left;
}
.homepage .banner #mask {
  top: 50px;
  width: 100%;
  height: 531px;
  position: absolute;
  background: #000;
  opacity: 0.2;
}
.homepage .banner #popup {
  position: absolute;
  top: 50px;
  left: 0;
  width: 355px;
}
.homepage .frame {
  background: url("../images/frame.png") no-repeat;
  background-size: 100% 100%;
  margin-bottom: 20px;
  height: 340px;
  position: relative;
  z-index: 9999;
}
.homepage .slogan {
  font-family: "Roboto Slab";
  font-size: 42px;
  font-weight: 300;
  color: white;
  margin-top: 80px;
}
.homepage .hot-deal {
  background: #fff;
}
.homepage .hot-deal .deal-header {
  background: transparent;
}
.homepage .hot-deal .price-box .discount {
  margin: 0;
}
.homepage .hot-deal .hot-deal-img {
  position: relative;
  min-height: 640px;
}
.homepage .hot-deal .hot-deal-img .offer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  color: #1e1e1e;
  width: 326px;
  height: 114px;
  line-height: 114px;
  padding-left: 30px;
  background: url(http://www.topdeal.ch/topdeal_r3/demo/topdeal2014/images/offer.png);
  display: block;
}
.homepage .hot-deal .hot-deal-img .product-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.homepage .hot-deal .hot-deal-img img {
  border: 1px solid #5b5b5b;
}
.homepage .hot-deal .deal-title h4 {
  font-size: 40px;
  font-weight: 300;
}
.homepage .home-deal {
  background-color: #f4f2f0;
  margin-top: 50px;
}
.homepage .home-deal .deal-header {
  background: transparent;
}
.homepage .home-deal p {
  font-size: 26px;
  color: #1e1e1e;
  font-weight: 300;
}
.homepage .home-deal .subscription-form {
  background: url("../images/subscription-bg.png") no-repeat top center;
  margin-top: 50px;
  padding-top: 173px;
  margin-bottom: -280px;
}
.homepage .home-deal .subscription-form h2 {
  font-size: 40px;
  font-weight: 300;
}
.homepage .home-deal .subscription-form p {
  font-family: "Source Sans Pro";
  font-size: 16px;
}
.homepage .home-deal .subscription-form input[type=text],
.homepage .home-deal .subscription-form input[type=email] {
  width: 380px;
  padding-left: 40px;
  height: 55px;
  border: none;
}
.homepage .home-deal .subscription-form input[type=email] {
  margin-left: 40px;
}
.homepage .home-deal .subscription-form input[type=submit],
.homepage .home-deal .subscription-form input[type=button] {
  background: transparent url("../images/subscription-btn.png") no-repeat;
  border: none;
  color: #f2f2f2;
  width: 171px;
  height: 70px;
  font-size: 26px;
  margin: 20px 0 60px;
}
.homepage .blog .blog-header {
  margin-top: 330px;
  margin-bottom: 25px;
}
.homepage .blog .blog-post .blog-img {
  padding-right: 20px;
}
.homepage .blog .blog-post .blog-excerpt {
  padding-left: 20px;
}
.homepage .blog .blog-post .blog-excerpt .blog-date {
  font-size: 16px;
  color: #1e1e1e;
  font-style: italic;
}
.homepage .blog .blog-post .blog-excerpt .blog-title {
  font-size: 26px;
  color: #1e1e1e;
  font-weight: 300;
  line-height: 33px;
}
.homepage .blog .blog-post .blog-excerpt .blog-text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: #1e1e1e;
}
.homepage .blog .readmore {
  margin: 50px auto;
  background: url("../images/readmore.png") no-repeat;
  width: 340px;
  height: 85px;
  padding-left: 30px;
}
.homepage .blog .readmore a {
  font-size: 26px;
  line-height: 85px;
  color: #1e1e1e;
}
.price-box {
  background: url("../images/price-box.png") no-repeat;
  width: 205px;
  height: 95px;
}
.soldout {
  background: url("../images/soldout.png") no-repeat;
  font-size: 40px;
  color: white;
  line-height: 95px;
  font-weight: 300;
}
.near-soldout {
  background: url("../images/near-soldout.png") no-repeat;
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: white;
  width: 205px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  right: 20px;
  bottom: 125px;
  line-height: 50px;
}
.price-box .discount {
  color: #d1212d;
  font-size: 16px;
  margin: 20px 0 0;
  font-weight: 400;
}
.price-box .discount .big {
  font-size: 40px;
}
.price-box .original {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-size: 16px;
  color: #1e1e1e;
}
.deal-margin-left {
  padding: 50px 0 0 20px;
}
.deal-margin-right {
  text-align: right;
  padding: 50px 20px 0 0;
}
.footer {
  background: url("../images/line.png") no-repeat top center;
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: #1e1e1e;
  padding: 10px 0;
}
/* Category page */
.category .top-menu {
  margin-bottom: 30px;
}
.category .top-menu a {
  color: #1e1e1e;
}
.category .logo img {
  width: 182px;
}
.category .deal-header {
  background: #DED7CF;
  padding: 27px 0;
}
.category .deal-header.white {
  background: #fff;
}
.category .hot-deal {
  background: #F5F3F1;
  padding: 15px 0 50px;
}
.category .hot-deal .deal-title {
  margin-bottom: 10px;
}
.category .hot-deal .deal-title h4 {
  display: table-cell;
  font-size: 40px;
  line-height: 32px;
  font-weight: 300;
  height: 95px;
  vertical-align: bottom;
}
.category .hot-deal .hot-deal-img {
  position: relative;
  min-height: 640px;
}
.category .hot-deal .hot-deal-img .offer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  color: #1e1e1e;
  width: 326px;
  height: 114px;
  line-height: 114px;
  padding-left: 30px;
  background: url(http://www.topdeal.ch/topdeal_r3/demo/topdeal2014/images/offer.png);
  display: block;
}
.category .hot-deal .hot-deal-img .product-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.category .hot-deal .hot-deal-img img {
  border: 1px solid #5b5b5b;
}
.category .hot-deal .price-box {
  margin-bottom: 10px;
}
.category .deals {
  padding-bottom: 50px;
}
.category .deals > .row {
  padding-top: 30px;
}
.category .deals .deal-box {
  position: relative;
}
.category .deals .deal-box .pix-frame {
  background-size: 100% 100%;
  padding: 0;
  text-align: center;
  min-height: 147px;
  border: #5b5b5b solid 1px;
}
.category .deals .deal-box .pix-frame img {
  margin: 0 auto;
  min-height: 305px;
}
.category .deals .deal-box .title {
  font-size: 26px;
  margin: 0 0 10px;
  line-height: 1.1;
  font-weight: 300;
}
.category .deals .deal-box .title a {
  color: #1e1e1e;
  display: block;
}
.category .deals .price-box {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.grey-block {
  background: #F5F3F1;
  padding-bottom: 50px;
}
.product-list {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}
.product-list .row {
  margin-bottom: 5px;
}
.product-list .product-item {
  padding: 0 20px;
}
.product-list .product-item h3 {
  font-size: 26px;
  font-weight: 300;
}
.product-list .product-item h3 span {
  text-transform: uppercase;
}
.product-list .product-item .img-thumbnail {
  padding: 0;
  margin-bottom: 5px;
  position: relative;
}
.product-list .product-item .img-thumbnail img {
  border: solid 1px;
  border-color: #c4c4c4 #bfbebc #b9b8b8 #b7b7b7;
}
.product-list .product-item .img-thumbnail .option {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  right: 8px;
}
.product-list .product-item .img-thumbnail .option i {
  display: inline-block;
  width: 110px;
  height: 95px;
  vertical-align: middle;
}
.product-list .product-item .img-thumbnail .option i.spa-01 {
  background: url("../images/spa-01.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.spa-02 {
  background: url("../images/spa-02.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.spa-03 {
  background: url("../images/spa-03.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.size-s {
  background: url("../images/size-s.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.size-l {
  background: url("../images/size-l.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.size-m {
  background: url("../images/size-m.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.nuitee-1 {
  background: url("../images/1nuitee.png") no-repeat;
}
.product-list .product-item .img-thumbnail .option i.nuitee-2 {
  background: url("../images/2nuitee.png") no-repeat;
}
.product-list .product-item .select-box {
  margin-bottom: 0;
}
.product-list .product-item .select-box:before {
  height: 39px;
  width: 32px;
}
.product-list .product-item .select-box > span {
  height: 39px;
  line-height: 39px;
}
.product-list .product-item .select-box select {
  font-family: "Source Sans Pro";
  height: 39px;
  line-height: 39px;
  padding-left: 8px;
}
.product-list .product-item .select-box select option {
  padding: 10px;
}
.select-box.s39 {
  margin-bottom: 0;
}
.select-box.s39:before {
  height: 39px;
  width: 32px;
}
.select-box.s39 > span {
  height: 39px;
  line-height: 39px;
}
.select-box.s39 select {
  font-family: "Source Sans Pro";
  height: 39px;
  line-height: 39px;
  padding-left: 8px;
}
.select-box.s39 select option {
  padding: 10px;
}
.radio-box {
  position: relative;
  padding-left: 23px;
  font-family: "Source Sans Pro";
  margin-bottom: 5px;
}
.radio-box .option {
  left: 0;
  position: absolute;
  width: 23px;
}
.products {
  /*slider*/
}
.products .top-menu {
  margin-bottom: 30px;
}
.products .top-menu a {
  color: #1e1e1e;
}
.products .deal-header h1 {
  font-size: 40px;
  font-weight: 300;
}
.products .deal-header .row {
  display: table-cell;
  height: 86px;
  vertical-align: bottom;
}
.products .grey-block {
  padding-bottom: 10px;
}
.products .hot-deal {
  font-size: 26px;
  font-weight: 300;
  padding: 0 0 10px;
}
.products .hot-deal .hot-deal-img {
  position: relative;
  min-height: 640px;
}
.products .hot-deal .hot-deal-img .offer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  color: #1e1e1e;
  width: 326px;
  height: 114px;
  line-height: 114px;
  padding-left: 30px;
  background: url(http://www.topdeal.ch/topdeal_r3/demo/topdeal2014/images/offer.png);
  display: block;
}
.products .hot-deal .hot-deal-img .product-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.products .hot-deal .hot-deal-img img {
  border: 1px solid #5b5b5b;
}
.products .hot-deal .buy-btn a {
  display: block;
  font-weight: 400;
  font-size: 26px;
  background: url("../images/buy-btn.png") no-repeat;
  width: 225px;
  height: 54px;
  line-height: 54px;
  color: #1e1e1e;
  margin: 15px auto 5px;
}
.products .hot-deal .buy-btn p {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}
.products .hot-deal .price-box {
  background: transparent;
  margin: 15px auto 5px;
}
.products .short-description {
  line-height: 1.7;
  padding: 15px 0 0px;
}
.products .description {
  padding-bottom: 30px;
}
.products .description h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin: 30px 0 20px;
}
.products .description .options {
  font-family: "Source Sans Pro";
  font-size: 16px;
  background: #DED7CF;
  padding: 30px 20px;
  margin: 0 20px;
}
.products .description .options > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.products .description .options > ul li {
  padding-left: 15px;
  position: relative;
}
.products .description .options > ul li:after {
  position: absolute;
  top: 0;
  left: 0;
  content: ">";
}
.products .progress-wrapper {
  margin-top: 41px;
  font-family: "Source Sans Pro";
  position: relative;
}
.products .progress-wrapper .progress {
  background: url("../images/progress-bg.png") no-repeat;
  height: 24px;
  background-size: 100% 100%;
  padding: 3px 3px 4px;
  margin-bottom: 10px;
}
.products .progress-wrapper .progress .progress-bar {
  background: url("../images/progress-grey.png") no-repeat 100% 50%;
}
.products .progress-wrapper .progress .progress-bar-grey {
  background: url("../images/progress-grey.png") no-repeat 100% 50%;
}
.products .progress-wrapper .progress .progress-bar-red {
  background: url("../images/progress-red.png") no-repeat 100% 50%;
}
.products .progress-wrapper .progress-icon {
  background: url("../images/progress-icon.png") no-repeat;
  position: absolute;
  width: 15px;
  height: 17px;
  top: -18px;
  margin-left: -8px;
}
.products .progress-wrapper h4 {
  font-size: 16px;
  font-weight: 700;
}
.products .progress-wrapper.red .progress-bar {
  background: url("../images/progress-red.png") no-repeat 100% 50%;
}
.products .progress-wrapper.red h4 {
  color: #d1212d;
}
.products .sliders .slider-wrapper {
  position: relative;
  margin-bottom: 15px;
  /*.slider img {
				width: 100%;
				height: auto;
			}*/
}
.products .sliders .slider-wrapper .slider {
  width: 100%;
}
.products .sliders .slider-wrapper .cycle-prev,
.products .sliders .slider-wrapper .cycle-next {
  width: 38px;
  height: 63px;
  position: absolute;
  z-index: 200;
  display: block;
  cursor: pointer;
  top: 50%;
  margin-top: -31px;
}
.products .sliders .slider-wrapper .cycle-prev {
  background: url("../images/back-icon.png") no-repeat 50% 50%;
  left: -58px;
}
.products .sliders .slider-wrapper .cycle-next {
  background: url("../images/next-icon.png") no-repeat 50% 50%;
  right: -58px;
}
.products .sliders .slider-nav ul {
  padding: 0;
  list-style: none;
}
.products .sliders .slider-nav ul li {
  float: left;
  width: 60px;
  height: 32px;
  margin-right: 20px;
  position: relative;
}
.products .sliders .slider-nav ul li img {
  width: 58px;
  height: 30px;
  border: #bfbfbf solid 1px;
}
.products .sliders .slider-nav ul li span {
  position: absolute;
  z-index: 10;
  background: url("../images/thumb-active.png") no-repeat 50% 50%;
  width: 61px;
  height: 38px;
  display: none;
  top: -3px;
  left: -1px;
}
.products .sliders .slider-nav ul li.cycle-pager-active span {
  display: block;
}
.products .list-01 {
  margin-bottom: 30px;
}
.products .list-01 li {
  font-size: 16px;
  margin-bottom: 20px;
  color: #1e1e1e;
}
.products .list-01 li h3 {
  font-size: 26px;
  margin: 0;
}
.products .table.type-01 tbody th {
  text-align: right;
}
.deal-header {
  padding: 26px 0;
  margin: 0;
}
.deal-header h1 {
  margin: 0;
}
.article-box {
  margin-bottom: 20px;
}
.article-box .product-images {
  margin-bottom: 15px;
}
.article-box .product-images img {
  border-style: solid;
  border-width: 1px;
  border-color: #af8192 #5f0426 #5f0426 #af8192;
}
.article-box .product-video {
  border: #c6c6c6 solid 1px;
}
.article-box .product-slider {
  border: #bfbfbf solid 1px;
}
.article-box h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 30px 0 20px;
  text-align: center;
}
.article-box h3 {
  font-size: 26px;
  font-weight: 300;
}
.article-box:last-child {
  margin-bottom: 0;
}
.article-box:last-child .social {
  margin: 0;
}
.account .top-menu {
  margin-bottom: 30px;
}
.account .top-menu a {
  color: #1e1e1e;
}
.account .deal-header {
  background: #DED7CF;
  padding: 27px 0;
}
.account .deal-header.white {
  background: #fff;
}
.account .sign-block {
  min-height: 420px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 24px;
}
.account .big-title {
  font-size: 40px;
  font-weight: 300;
}
.account p {
  font-weight: 300;
}
.account .signup p {
  font-family: "Source Sans Pro";
  line-height: 21px;
}
.account .signup .submit-02 {
  padding: 0 50px;
}
.account .social li {
  margin: 0 10px;
}
.account .complete-btn {
  color: #fff;
  background: url("../images/complete-btn.png") no-repeat;
  display: inline-block;
  width: 329px;
  height: 54px;
  line-height: 54px;
  font-size: 26px;
}
.account .complete-btn:hover {
  text-decoration: none;
}
.account .border-tb-w {
  border-top: #ffffff solid 1px;
  border-bottom: #ffffff solid 1px;
  padding: 20px 0;
}
.account .sidebar-menu li {
  padding: 17px 31px 17px 0;
  border-bottom: #d9d9d9 solid 1px;
  box-shadow: inset 0 -1px #f2f2f2;
}
.account .sidebar-menu li a {
  color: #333333;
  text-decoration: none;
  display: block;
  font-family: "Source Sans Pro";
  font-size: 16px;
}
.account .sidebar-menu li a:hover {
  font-weight: 700;
  text-decoration: none;
}
.account .sidebar-menu li:hover {
  background: url("../images/sidebar-li-icon.png") no-repeat 100% 0;
}
.account .sidebar-menu li.active {
  background: url("../images/sidebar-li-icon.png") no-repeat 100% 0;
  font-weight: 700;
}
.account .user-avatar {
  margin-top: -6px;
}
.account .user-avatar > span {
  vertical-align: top;
}
.account .user-avatar .user-photo {
  margin-top: -2px;
  border: #cccccc solid 1px;
  width: 100%;
  max-width: 175px;
  position: relative;
}
.account .user-avatar .user-photo img {
  vertical-align: top;
}
.account .user-avatar .user-photo .add-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: block;
}
.account .member-list {
  margin-top: 25px;
}
.account .member-list h4 {
  padding-bottom: 10px;
  border-bottom: #d7d6d6 solid 1px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}
.account .member-list ul li {
  padding: 10px 0;
  border-bottom: #d7d6d6 solid 1px;
  vertical-align: middle;
  position: relative;
  min-height: 70px;
}
.account .member-list ul li span {
  display: block;
}
.account .member-list ul li i {
  float: right;
  margin-left: 10px;
}
.account .member-list.address {
  border-top: #d7d6d6 solid 1px;
}
.account .order-item {
  padding: 20px;
  background-color: #f5f3f1;
}
.account .order-item a {
  color: #1e1e1e;
}
.account .order-item a:hover {
  text-decoration: none;
}
.account .order-item .infobar {
  font-family: "Source Sans Pro";
  font-size: 16px;
  border-bottom: white solid 1px;
  padding-bottom: 10px;
}
.account .order-item .infobar p {
  margin-bottom: 0;
}
.account .order-item .infobar .bill-btn {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background: url("../images/submit-btn.png") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  display: inline-block;
  font-family: "Roboto Slab";
  font-size: 16px;
}
.account .order-item .deal-box {
  padding-left: 10px;
}
.account .order-item .deal-box .title {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
}
.account .order-item .deal-box .title a {
  font-family: "Source Sans Pro";
  font-weight: 400;
  text-decoration: underline;
}
.account .order-item .deal-box .title span {
  font-family: "Source Sans Pro";
  font-weight: 400;
}
.account .order-item .deal-box .pix-frame {
  position: relative;
}
.account .order-item .deal-box .pix-frame .print-order {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/print-order.png") no-repeat center center;
  top: 0;
  left: 0;
  opacity: 0.0;
  filter: alpha(opacity=0);
}
.account .order-item .deal-box .pix-frame:hover .print-order {
  opacity: 1.0;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.account .order-item .deal-box .order-status {
  font-family: "Source Sans Pro";
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
.account .order-item .deal-box .order-status h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  color: #1e1e1e;
}
.account .order-item .deal-box .order-status p {
  font-weight: 400;
}
.account .order-item .deal-box .order-status.success {
  color: #007c29;
}
.account .order-item .deal-box .order-status.process {
  color: #dd8600;
}
.account .order-item .deal-box .order-status.expired {
  color: #d1212d;
}
.account .order-item .deal-box:nth-of-type(odd) {
  padding-right: 10px;
  padding-left: 0;
}
.account .credit-block p {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
}
.account .credit-block .credits1 {
  background: url("../images/credits1.png") no-repeat center center;
  min-height: 140px;
  padding-top: 40px;
}
.account .credit-block .credits1 p {
  font-family: "Sue Ellen Francisco";
  font-size: 35px;
  line-height: 30px;
  margin: 0;
}
.account .credit-block .credits1 .credits-label {
  font-size: 16px;
  font-weight: 700;
}
.account .credit-block .credits2 {
  background: url("../images/credits2.png") no-repeat center center;
  min-height: 175px;
  padding-top: 45px;
}
.account .credit-block .credits2 p {
  font-size: 10px;
  font-family: "Roboto Slab";
  margin-bottom: 5px;
}
.account .credit-block .credits2 .credits-label {
  font-size: 16px;
  font-weight: 700;
  font-family: "Sue Ellen Francisco";
}
.account .credit-block .credits2.20 {
  background: url("../images/credits3.png") no-repeat center center;
}
.account .credit-block .credits2.40 {
  background: url("../images/credits4.png") no-repeat center center;
}
.account .credit-block:first-child .the-title {
  line-height: 140px;
}
.account .credit-block .refer {
  padding: 20px;
  background-color: #f5f3f1;
}
.account .credit-block .refer li {
  font-family: "Source Sans Pro";
  font-size: 16px;
  padding: 15px 0;
  border-bottom: #cfcece solid 1px;
}
.submit-01 {
  margin-top: 15px;
  padding: 0 20px;
  height: 55px;
  line-height: 55px;
  color: #ffffff !important;
  background: url("../images/complete-btn.png") no-repeat 50% 50%;
  border: none;
  font-size: 24px;
  background-size: 100% 100%;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none !important;
}
.submit-01:hover {
  text-decoration: none !important;
  color: #1e1e1e !important;
  background: url("../images/buy-btn.png") no-repeat 50% 50%;
  background-size: 100% 100%;
}
.submit-02 {
  margin-top: 15px;
  padding: 0 20px;
  height: 55px;
  line-height: 55px;
  color: #ffffff !important;
  background: url("../images/complete-btn.png") no-repeat 50% 50%;
  border: none;
  font-size: 24px;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none !important;
  background: url("../images/buy-btn.png") no-repeat 50% 50%;
  background-size: 100% 100%;
  color: #1e1e1e !important;
}
.submit-02:hover {
  text-decoration: none !important;
  color: #1e1e1e !important;
  background: url("../images/buy-btn.png") no-repeat 50% 50%;
  background-size: 100% 100%;
}
.submit-02:hover {
  text-decoration: none !important;
  color: #ffffff !important;
  background: url("../images/complete-btn.png") no-repeat 50% 50%;
  background-size: 100% 100%;
}
.long-btn {
  margin-top: 15px;
  padding: 0 20px;
  height: 55px;
  line-height: 55px;
  color: #ffffff !important;
  background: url("../images/complete-btn.png") no-repeat 50% 50%;
  border: none;
  font-size: 24px;
  background-size: 100% 100%;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none !important;
  font-weight: 400;
  width: 480px;
  color: #1e1e1e !important;
  background: url("../images/long-btn.png") no-repeat;
}
.long-btn:hover {
  text-decoration: none !important;
  color: #1e1e1e !important;
  background: url("../images/buy-btn.png") no-repeat 50% 50%;
  background-size: 100% 100%;
}
.long-btn:hover {
  background: url("../images/long-btn.png") no-repeat;
}
.long-btn.restock {
  margin: 40px auto 25px;
}
.add-icon {
  width: 58px;
  height: 58px;
  bottom: 5px;
  right: 5px;
  background: url("../images/add-icon.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}
.except-icon {
  width: 58px;
  height: 58px;
  bottom: 5px;
  right: 5px;
  background: url("../images/except-icon.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}
form.form-01 {
  padding-top: 15px;
}
form.form-01 a {
  color: #333333;
  text-decoration: underline;
}
form.form-01 a:hover {
  text-decoration: none;
}
form.form-01 .line-height-31 {
  line-height: 31px;
}
form.form-01 .overhidden {
  overflow: hidden;
}
input[type=email],
input[type=text],
input[type=password] {
  width: 380px;
  height: 55px;
  font-size: 16px;
  border: #d7d6d6 solid 1px;
  box-shadow: 1px 1px #f2f2f2, inset 1px 1px #f2f2f2;
  padding: 0 15px;
  margin-bottom: 10px;
  /* firefox 19+ */
  /* ie */
}
input[type=email]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  font-style: italic;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  color: #1e1e1e;
}
input[type=email]::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  font-style: italic;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  color: #1e1e1e;
}
input[type=email]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder {
  font-style: italic;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  color: #1e1e1e;
}
input[type=email]:-moz-placeholder,
input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder {
  font-style: italic;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  color: #1e1e1e;
}
.input-image {
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  border: #d7d6d6 solid 1px;
  box-shadow: 1px 1px #f2f2f2, inset 1px 1px #f2f2f2;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
  background: #f1f1f1 url("../images/input-image-bg.png") repeat-x 50% 0;
}
.input-image img {
  vertical-align: top;
}
.checkbox-wrapper {
  width: 18px;
  height: 18px;
}
.checkbox-s31,
.checkbox-wrapper {
  position: relative;
  display: inline-block;
}
.checkbox-s31 label,
.checkbox-wrapper label {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: url("../images/input-18.png") no-repeat 50% 50%;
  background-size: 100% 100%;
}
.checkbox-s31 input[type="checkbox"],
.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
}
.checkbox-s31 input[type="checkbox"]:checked + label,
.checkbox-wrapper input[type="checkbox"]:checked + label {
  background: url("../images/input-checked-18.png") no-repeat 50% 50%;
}
.checkbox-s31 + p,
.checkbox-wrapper + p {
  overflow: hidden;
  line-height: 1.3;
  padding-left: 10px;
}
.checkbox-s31 {
  width: 31px;
  height: 31px;
}
.checkbox-s31 label {
  background: url("../images/input.png") no-repeat 50% 50%;
}
.checkbox-s31 input[type="checkbox"]:checked + label {
  background: url("../images/input-checked.png") no-repeat 50% 50%;
}
.select-box {
  border: #d7d6d6 solid 1px;
  box-shadow: 1px 1px #f2f2f2, inset 1px 1px #f2f2f2;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
.select-box > span {
  padding: 0 15px;
  height: 55px;
  line-height: 55px;
  display: block;
}
.select-box select {
  padding: 0 15px;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  width: 100%;
  border: none;
  cursor: pointer;
  color: #333;
  font-family: "Roboto Slab", "Source Sans Pro", "Sue Ellen Francisco", Arial, sans-serif;
  font-weight: 400;
  box-shadow: none;
}
.select-box select option {
  padding: 15px;
  box-shadow: none;
}
.select-box:before {
  background: #ffffff url("../images/select-icon.png") no-repeat 100% 50%;
  content: "";
  display: block;
  height: 55px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}
.select-box:after {
  pointer-events: none;
  position: absolute;
  right: 1px;
  top: 1px;
}
form.profil-form {
  padding: 20px;
  background-color: #f5f3f1;
  margin-bottom: 25px;
}
form.profil-form input[type=email],
form.profil-form input[type=text],
form.profil-form input[type=password] {
  width: 100%;
}
form.profil-form p {
  margin: 0 0 25px;
}
form.profil-form hr {
  border-color: #d7d6d6;
  margin: 25px 0;
}
.edit-icon,
.delete-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.edit-icon {
  background: url("../images/edit-icon.png") no-repeat;
}
.delete-icon {
  background: url("../images/delete-icon.png") no-repeat;
}
.checkout-step {
  margin-bottom: 25px;
}
.checkout-step > div > span {
  display: block;
  padding-left: 38px;
  height: 57px;
  background-position: 0 0;
  background-size: 100% 57px;
  background-repeat: no-repeat;
  font-size: 40px;
  font-weight: 300;
}
.checkout-step > div > span small {
  font-size: 16px;
}
.checkout-step > div > span.active {
  color: #f2f2f2;
}
.checkout-step > div > span.step-01 {
  background-image: url("../images/step-01.png");
  padding-right: 3px;
  padding-left: 30px;
}
.checkout-step > div > span.step-01.active {
  background-image: url("../images/step-01-act.png");
}
.checkout-step > div > span.step-02 {
  background-image: url("../images/step-02.png");
  margin-left: -17px;
  margin-right: -49px;
}
.checkout-step > div > span.step-02.active {
  background-image: url("../images/step-02-act.png");
}
.checkout-step > div > span.step-03 {
  background-image: url("../images/step-03.png");
}
.checkout-step > div > span.step-03.active {
  background-image: url("../images/step-03-act.png");
}
.checkout-step > div:last-child {
  padding-left: 33px;
}
.promocode {
  margin-top: 20px;
}
.promocode input[type=text] {
  width: 280px;
  height: 38px;
}
.promocode .submit-02 {
  font-size: 16px;
  height: 38px;
  margin-top: 0;
  line-height: 38px;
}
.validation-warning p {
  color: #D1212D;
  padding-top: 10px;
  font-weight: 700;
}
.validation-warning .submit-02 {
  font-size: 16px;
  height: 38px;
  margin-top: 0;
  line-height: 38px;
}
.checkout-list {
  font-size: 16px;
}
.checkout-list .checkout-list-top {
  padding: 0 0 5px 10px;
  border-bottom: #7f7f7f solid 1px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  text-align: right;
}
.checkout-list .checkout-list-top > div:nth-child(4) {
  text-align: center;
}
.checkout-list .checkout-list-top > div:nth-child(1),
.checkout-list .checkout-list-top > div:nth-child(2) {
  text-align: left;
}
.checkout-list .checkout-list-top > div:nth-child(2) {
  padding: 0 10px;
}
.checkout-list .checkout-list-top span {
  font-weight: 400;
}
.checkout-list .checkout-list-row {
  padding: 25px 0 25px 10px;
  text-align: right;
  border-bottom: #cccccc solid 1px;
}
.checkout-list .checkout-list-row > div:nth-child(4) {
  text-align: center;
}
.checkout-list .checkout-list-row > div:nth-child(4) input[type="text"] {
  width: 39px;
  padding: 0;
  text-align: center;
  margin: 0 5px;
}
.checkout-list .checkout-list-row > div:nth-child(1),
.checkout-list .checkout-list-row > div:nth-child(2) {
  text-align: left;
}
.checkout-list .checkout-list-row > div:nth-child(2) {
  padding: 0 10px;
}
.checkout-list .checkout-list-row > div:nth-child(3),
.checkout-list .checkout-list-row > div:nth-child(5) {
  padding-top: 10px;
}
.checkout-list .checkout-list-row .select-box {
  margin-bottom: 0;
}
.checkout-list .checkout-list-row .select-box:before {
  height: 39px;
}
.checkout-list .checkout-list-row .select-box > span {
  height: 39px;
  line-height: 39px;
}
.checkout-list .checkout-list-row .select-box select {
  height: 39px;
  line-height: 39px;
}
.checkout-list .checkout-list-row .select-box select option {
  padding: 10px 15px;
}
.checkout-list .checkout-list-row input[type="text"] {
  height: 39px;
  line-height: 39px;
  margin-bottom: 0;
  vertical-align: middle;
  max-width: 100%;
}
.checkout-list .checkout-list-row .add-icon,
.checkout-list .checkout-list-row .except-icon {
  height: 32px;
  width: 32px;
  vertical-align: middle;
}
.checkout-list .checkout-list-row .delete-icon {
  height: 39px;
  width: 39px;
  background-image: url("../images/delete-icon-02.png");
}
.checkout-list .checkout-list-row .thumbnail {
  float: left;
  width: 132px;
  height: 87px;
  margin: 0 10px 0 0;
  padding: 0px;
}
.checkout-list .checkout-list-row .product-infos {
  overflow: hidden;
  font-weight: 300;
  line-height: 1.3;
}
.checkout-list .checkout-list-row .product-infos p {
  margin-bottom: 3px;
}
.checkout-list .checkout-list-row .product-infos p:last-child {
  margin-bottom: 0;
}
.checkout-list .checkout-list-row .product-infos .product-option {
  font-family: "Source Sans Pro";
}
.checkout-list .checkout-list-row .product-infos .product-option .checkbox-wrapper {
  vertical-align: middle;
}
.checkout-list .checkout-list-bottom {
  padding: 20px 0 25px;
}
.checkout-list .checkout-list-bottom .save-money {
  background: #f5f3f1 url("../images/save-money.png") no-repeat 10px 3px;
  padding: 15px 15px 15px 120px;
  font-weight: 300;
  min-height: 90px;
  margin-right: 25px;
}
.checkout-list .checkout-list-bottom .checkout-total .top-total {
  font-family: "Source Sans Pro";
}
.checkout-list .checkout-list-bottom .checkout-total + .bottom-total {
  border-top: #cccccc solid 1px;
}
.bottom-total {
  font-weight: 300;
  font-size: 26px;
}
.bottom-total span {
  font-weight: 400;
  font-size: 40px;
}
.total-block {
  text-align: right;
  margin: 25px 0 10px;
  line-height: 1;
  font-weight: 300;
  font-size: 26px;
}
.total-block span {
  font-weight: 400;
  font-size: 40px;
}
table.table-checkout {
  font-family: "Source Sans Pro";
  line-height: 1.3;
  font-size: 16px;
}
table.table-checkout thead th {
  border-bottom: #808080 solid 1px;
}
table.table-checkout thead th,
table.table-checkout thead td {
  padding: 5px 0;
}
table.table-checkout thead th:first-child,
table.table-checkout thead td:first-child {
  padding-left: 10px;
}
table.table-checkout thead th:last-child,
table.table-checkout thead td:last-child {
  padding-right: 10px;
}
table.table-checkout thead th span,
table.table-checkout thead td span {
  font-weight: 400;
}
table.table-checkout tbody th,
table.table-checkout tbody td {
  padding: 5px 0;
}
table.table-checkout tbody th:first-child,
table.table-checkout tbody td:first-child {
  padding-left: 10px;
}
table.table-checkout tbody th:last-child,
table.table-checkout tbody td:last-child {
  padding-right: 10px;
}
table.table-checkout tbody th p,
table.table-checkout tbody td p {
  margin-bottom: 3px;
}
table.table-checkout tbody th p:last-child,
table.table-checkout tbody td p:last-child {
  margin-bottom: 0;
}
table.table-checkout tbody th .delete-icon,
table.table-checkout tbody td .delete-icon {
  height: 39px;
  width: 39px;
  background-image: url("../images/delete-icon-02.png");
}
table.table-checkout tfoot tr:last-child td,
table.table-checkout tfoot tr:first-child td,
table.table-checkout tfoot tr:last-child th,
table.table-checkout tfoot tr:first-child th {
  border-color: #808080;
}
table.table-checkout tfoot tr th,
table.table-checkout tfoot tr td {
  padding: 5px 0;
}
.card-list {
  margin-top: 10px;
  font-family: "Source Sans Pro";
  font-size: 16px;
}
.card-list li {
  margin-bottom: 10px;
}
.card-list li img {
  margin: 0 5px;
}
.address-list {
  font-family: "Source Sans Pro";
  font-size: 16px;
}
.address-list input {
  margin-right: 10px;
}
.add-address {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 700;
}
.link-16 {
  font-family: "Source Sans Pro";
  line-height: 1.3;
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
}
.link-16:hover {
  text-decoration: none;
  color: #333333;
}
.payer-votre {
  padding-top: 10px;
}
.payer-votre li {
  padding: 15px 0 15px 40px;
}
.payer-votre li img.pull-right {
  margin-left: 20px;
}
.payer-votre li.lock {
  background: url("../images/lock.png") no-repeat 0 6px;
}
.payer-votre li.votre-code {
  background: url("../images/code.png") no-repeat 0 6px;
}
.conform-purchase {
  background: #f5f3f1;
}
.conform-purchase p {
  font-size: 16px;
  font-weight: 300;
}
.save-credit p {
  font-family: "Source Sans Pro";
  font-size: 16px;
}
.save-credit .row {
  margin-bottom: 115px!important;
}
.archive-header {
  font-size: 16px;
  padding: 15px 0 5px;
  border-bottom: 1px solid #d7d6d6;
  margin-bottom: 15px;
}
.archive-header p,
.archive-header select {
  line-height: 55px;
  font-family: "Source Sans Pro";
}
.archive-deals .price-box {
  height: 70px;
  background-size: 100% 100%;
  width: 230px;
}
.archive-deals .price-box a {
  line-height: 70px;
  font-size: 40px;
  font-weight: 300;
  color: #1e1e1e;
}
.archive-deals .price-box a:hover {
  text-decoration: none;
}
.search-header {
  padding: 20px 0 10px;
  background-color: #f5f3f1;
}
.search-header input[type=text] {
  height: 50px;
}
.search-header input[type=submit] {
  border: none;
  background: url("../images/search-btn2.png") no-repeat;
  height: 50px;
  width: 55px;
  text-indent: -999px;
  margin-left: 15px;
}
.search-filter {
  margin: 25px auto;
}
.search-filter li {
  width: 196px;
  height: 55px;
  line-height: 55px;
  background: url("../images/search-filter-normal.png") no-repeat;
  background-size: 100% 100%;
  margin: auto 5px;
}
.search-filter li a {
  font-size: 16px;
  font-weight: 300;
  color: #1e1e1e;
}
.search-filter li.active {
  height: 65px;
  background: url("../images/search-filter.png") no-repeat;
}
.search-filter li.active a {
  color: white;
}
.page-result li {
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 20px;
}
.page-result li h3 {
  font-size: 26px;
  font-weight: 300;
}
.page-result li a {
  color: #1e1e1e;
  font-family: "Source Sans Pro";
  font-size: 16px;
}
.page-result li:last-child {
  border-bottom: none;
}
.noresult {
  margin: 30px auto;
}
.noresult p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.slideshow {
  background: #1e1e1e;
  padding: 0 0 35px;
}
.slideshow .container {
  text-align: right;
}
.slideshow #close {
  width: 100%;
  font-size: 16px;
  font-family: "Source Sans Pro";
  line-height: 35px;
  text-align: right;
  color: #ccc;
  text-transform: uppercase;
}
#discovery .carousel-inner {
  margin: 0 50px;
  width: auto;
  height: 340px;
}
#discovery .carousel-inner .item {
  text-align: center;
  color: white;
}
#discovery .carousel-inner .item h3 {
  font-family: "Sue Ellen Francisco";
  font-size: 50px;
}
#discovery .carousel-inner .item p {
  font-weight: 300;
  font-size: 26px;
}
#discovery .carousel-inner .item img {
  margin: 0 auto;
}
#discovery .carousel-indicators {
  bottom: -30px;
}
#discovery .carousel-indicators li {
  width: 13px;
  height: 13px;
  background-color: #ffffff;
}
#discovery .carousel-indicators li.active {
  width: 15px;
  height: 15px;
  background-color: transparent;
}
#discovery .carousel-control {
  width: 50px;
  opacity: 1;
}
#discovery .left-btn {
  background: #1e1e1e url("../images/prev.png") no-repeat center center;
}
#discovery .right-btn {
  background: #1e1e1e url("../images/next.png") no-repeat center center;
}
.enterprise p,
.enterprise strong {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.enterprise h2 {
  font-size: 40px;
  font-weight: 300;
}
.enterprise .com-welcome {
  background-color: #f5f3f1;
  font-size: 26px;
  padding: 50px 0 30px;
}
.enterprise .com-welcome .info p,
.enterprise .com-welcome .info a {
  font-size: 16px;
  color: #1e1e1e;
  font-weight: 300;
}
.enterprise .showroom p {
  font-family: "Source Sans Pro";
}
.enterprise .showroom .carousel {
  margin: 50px auto 10px;
}
.enterprise .showroom .carousel .carousel-inner {
  margin-bottom: 50px;
}
.enterprise .showroom .carousel .carousel-inner .item img {
  border: 1px solid #9d9796;
  margin: 0 15px;
}
.enterprise .showroom .carousel .left-btn {
  background: url("../images/back-icon.png") no-repeat center left;
}
.enterprise .showroom .carousel .right-btn {
  background: url("../images/next-icon.png") no-repeat center right;
}
.enterprise .com-member {
  background-color: #ded7cf;
  padding: 10px 0 30px;
}
.enterprise .com-member p {
  margin: 15px auto 30px;
}
.enterprise .com-member img {
  border: solid 1px #767b61;
}
.enterprise .social .col-md-offset-1 {
  margin-left: 12.5%;
}
.enterprise .social p {
  font-family: "Source Sans Pro";
  text-align: left;
}
.enterprise .com-partner {
  background-color: #f5f3f1;
  padding: 10px 0 30px;
}
.enterprise .com-partner .partner {
  height: 175px;
  background: url("../images/partner-bg.png") no-repeat top center;
}
.enterprise .com-partner .partner ul {
  margin-top: 50px;
}
.enterprise .com-partner .partner ul li {
  font-size: 16px;
  font-family: "Roboto Slab";
  font-weight: 300;
  line-height: 24px;
  background: url("../images/icon-greater.png") no-repeat left center;
  padding-left: 15px;
}
.enterprise .com-partner .partner-list {
  font-family: "Source Sans Pro";
}
.enterprise .com-partner .partner-list img {
  display: block;
  max-width: 80px;
  margin: 0 auto;
}
.enterprise .com-partner .partner-list .col-middle {
  margin: 0 5%;
}
.enterprise .join {
  padding-bottom: 50px;
}
.enterprise .join h2 {
  padding: 30px 0 10px;
}
.enterprise .join a {
  color: #1e1e1e;
}
.condition {
  padding-top: 20px;
}
.condition h2 {
  font-size: 26px;
  text-align: center;
}
.condition p,
.condition h2 {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .main-menu {
    min-height: 35px;
    margin-bottom: 0;
  }
  .main-menu #navigation {
    position: relative;
    height: 35px;
    background: #1e1e1e;
  }
  .main-menu #navigation .menu-btn {
    background: #1e1e1e url("../images/menu-btn.png") no-repeat center center;
    height: 35px;
    position: absolute;
    z-index: 9999;
  }
  .main-menu #navigation .mobile-cart {
    background: #1e1e1e url("../images/mobile-cart.png") no-repeat center center;
    height: 35px;
  }
  .main-menu #navigation .navbar-nav {
    position: absolute;
    background: #1e1e1e;
    top: 0;
    left: -1px;
    margin: 0;
    z-index: 999;
    display: none;
    padding-right: 20px;
  }
  .main-menu #navigation .navbar-nav li {
    float: none;
  }
  .main-menu #navigation .navbar-nav li a {
    font-family: "Source Sans Pro";
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main-menu #navigation li.extended-item {
    background: url("../images/m-separate.png") no-repeat 25px 0;
    padding: 15px 10px;
  }
  .main-menu #navigation li.all-deals {
    background: transparent;
    padding-bottom: 15px;
  }
  .main-menu .brand {
    margin: 15px 0 0 20px;
  }
  .main-menu .brand img {
    height: 26px;
  }
  .big-heading {
    font-size: 28px;
  }
  .deal-header {
    margin: 0;
  }
  .hot-deal-img {
    padding: 0 20px;
    min-height: 100px!important;
  }
  .hot-deal .deal-title h4 {
    font-size: 18px!important;
    text-align: center!important;
  }
  .homepage .home-deal {
    margin-top: 0;
  }
  .homepage .home-deal .deal-header h1 {
    margin: 0 auto;
  }
  .homepage .home-deal p {
    font-size: 14px;
  }
  .homepage .home-deal .row {
    margin-top: 30px;
  }
  .homepage .home-deal .row:first-child {
    margin-top: 15px;
    margin-bottom: -15px;
  }
  .homepage .home-deal .subscription-form {
    background: none;
    margin: 0 auto 30px;
    padding: 0 10px;
  }
  .homepage .home-deal .subscription-form .subscription-form-wrapper {
    background: url("../images/subscription-bg.png") no-repeat top center;
    background-size: 100% 100%;
    background-position: center center;
  }
  .homepage .home-deal .subscription-form h2 {
    font-size: 18px;
    padding-top: 15px;
  }
  .homepage .home-deal .subscription-form p {
    font-size: 16px;
  }
  .homepage .home-deal .subscription-form input[type=text],
  .homepage .home-deal .subscription-form input[type=email] {
    width: 85%;
    padding-left: 10px;
    height: 35px;
    font-family: "Source Sans Pro";
    font-size: 14px;
  }
  .homepage .home-deal .subscription-form input[type=email] {
    margin-left: 0;
    margin-top: 10px;
  }
  .homepage .home-deal .subscription-form input[type=submit] {
    width: 125px;
    height: 40px;
    background-size: 100% 100%;
    margin: 15px 0;
    font-size: 16px;
  }
  .homepage .category-img {
    height: 30px;
  }
  .homepage .deal-margin-left,
  .homepage .deal-margin-right {
    padding: 0;
  }
  .homepage .blog .blog-header {
    margin-top: 30px;
  }
  .homepage .blog .blog-post.top50 {
    margin-top: 15px;
  }
  .homepage .blog .blog-post {
    padding: 0 10px;
  }
  .homepage .blog .blog-post .blog-img {
    padding-right: 0;
  }
  .homepage .blog .blog-post .blog-excerpt {
    padding-left: 0;
  }
  .homepage .blog .blog-post .blog-excerpt .blog-date,
  .homepage .blog .blog-post .blog-excerpt .blog-title {
    font-size: 14px;
  }
  .homepage .blog .blog-post .blog-excerpt .blog-date {
    font-family: "Source Sans Pro";
  }
  .hot-deal .m-price-box,
  .category .price-box {
    background: #ffffff url("../images/price-box.png") no-repeat;
    height: 80px;
    background-size: 100% 100%;
    margin-top: -30px;
  }
  .hot-deal .m-price-box .discount,
  .hot-deal .m-price-box .original,
  .category .price-box .discount,
  .category .price-box .original {
    font-size: 14px;
  }
  .hot-deal .m-price-box .discount,
  .category .price-box .discount {
    color: #d1212d;
    margin: 0;
  }
  .hot-deal .m-price-box .original {
    font-family: "Source Sans Pro";
    font-style: italic;
  }
  .hot-deal .m-price-box .discount .big,
  .category .price-box .discount .big {
    font-size: 30px;
  }
  .hot-deal .m-findout {
    background-color: #1e1e1e;
    padding: 25px 0;
    margin-top: 15px;
  }
  .m-readmore {
    padding: 15px 0;
  }
  .m-footer {
    padding: 0 10px;
  }
  .m-footer .footer {
    background-size: 100%;
  }
  .category .deals .padding-left20,
  .category .deals .padding-right20 {
    padding: 0;
  }
  .category .deals .row {
    padding: 0 20px;
  }
  .category .deals .title {
    font-size: 14px!important;
  }
  .category .deals .deal-box {
    margin-top: 70px;
  }
  .category .deals .row:first-child .col-xs-12:first-child .deal-box:first-child {
    margin-top: auto;
  }
  .category .deals .row:last-child .col-xs-12:last-child .deal-box:last-child {
    margin-bottom: 50px;
  }
  .category .deals .top50 {
    margin-top: 0;
  }
  .category .deals .price-box {
    width: 58%;
    left: 21%;
    bottom: -50px;
  }
  .category .deals .price-box.soldout {
    background: url("../images/soldout.png") no-repeat;
    font-size: 31px;
    line-height: 80px;
    background-size: 100% 100%;
  }
  .category .deals .near-soldout {
    font-size: 14px;
    width: 58%;
    left: 21%;
    height: 35px;
    line-height: 35px;
    background-size: 100% 100%;
    bottom: 35px;
  }
  .category .hot-deal {
    padding-bottom: 30px;
    background: #f4f2f0;
  }
  .category .hot-deal .deal-title {
    display: block;
    height: auto;
  }
  .category .deal-header {
    background: #f4f2f0;
    padding: 0;
  }
  .category .big-heading {
    margin: 25px 0px 5px;
  }
  .hot-deal .deal-title h4 {
    padding: 0 0 10px!important;
  }
  .products .deal-header {
    padding: 0 20px;
  }
  .products .deal-header h1 {
    font-size: 26px;
    text-align: center;
    margin: 15px 0;
  }
  .products .hot-deal {
    font-size: 14px;
  }
  .products .hot-deal .row:first-child {
    padding: 0 20px;
  }
  .products .hot-deal .buy-btn a {
    font-size: 16px;
    width: auto;
    height: auto;
    background-size: 90% 70%;
    background-position: center center;
  }
  .products .price-box {
    width: auto;
    height: auto;
    text-align: left;
    white-space: nowrap;
  }
  .products .price-box .discount,
  .products .price-box .original {
    font-size: 14px;
  }
  .products .price-box .discount .big,
  .products .price-box .original .big {
    font-size: 30px;
  }
  .products .progress-wrapper {
    margin: 0;
  }
  .products .progress-wrapper h4 {
    font-size: 14px;
  }
  .products .description h2 {
    font-size: 26px;
  }
  .products .description .options {
    margin: 20px;
  }
  .products .list-01 li {
    font-size: 14px;
  }
  .products .list-01 li h3 {
    font-size: 20px;
  }
  .products .social img {
    height: 40px;
  }
  .account .padlr-20 {
    padding: 15px;
  }
  .account .padl-5,
  .account .padr-5 {
    padding: 0;
  }
  .account .mrb-40 {
    margin-bottom: 0!important;
  }
  .account .grey-block {
    background: white;
    padding-bottom: 0;
  }
  .account .sign-block {
    padding: 15px;
    margin: 15px;
    background: #F5F3F1;
  }
  .account .sign-block .img-welcome {
    width: 225px;
  }
  .account .sign-block .big-title {
    font-size: 26px;
    font-weight: 300;
  }
  .account .complete-btn {
    font-size: 16px;
    width: 220px;
    height: 50px;
    line-height: 50px;
    background-size: 100% 100%;
    margin: 20px auto;
  }
  .account form.form-01 input[type=email],
  .account form.form-01 input[type=text],
  .account form.form-01 input[type=password] {
    width: 260px;
    height: 40px;
    line-height: 40px;
  }
  .account form.form-01 .forgot-password-text {
    text-align: left;
    margin-top: 15px;
  }
  .account form.form-01 .select-box:before {
    height: 40px;
  }
  .account form.form-01 .select-box select {
    height: 40px;
  }
  .account .submit-01 {
    font-size: 16px;
  }
  .account .submit-02 {
    font-size: 16px;
    font-weight: 300;
    white-space: normal;
  }
  .account .goto-btn .col-md-6:first-child {
    padding-right: 5px;
  }
  .account .goto-btn .col-md-6:last-child {
    padding-left: 5px;
  }
  .account .goto-btn .submit-02 {
    line-height: 24px;
    height: 70px;
    padding-top: 10px;
    text-align: center;
  }
  .account .social-login {
    font-size: 16px;
  }
  .account .social-login img {
    height: 40px;
  }
  .account .social li {
    margin: 0;
  }
  .account .social li img {
    height: 35px;
  }
  .account .the-title {
    font-size: 18px;
    text-align: center;
  }
  .account form.profil-form {
    padding: 15px;
  }
  .account .pull-left-sm {
    float: left!important;
  }
  .account .order-item .infobar .bill-btn {
    margin-top: 15px;
  }
  .account .order-item .deal-box,
  .account .order-item .deal-box:nth-of-type(odd) {
    padding-left: 0;
    padding-right: 0;
  }
  .account .order-item .deal-box .order-status,
  .account .order-item .deal-box:nth-of-type(odd) .order-status {
    margin-top: 15px;
  }
  .account .credit-block:first-child,
  .account .credit-block:nth-of-type(2) {
    border-bottom: 1px solid #DED7CF;
    margin-bottom: 15px;
  }
  .account .credit-block:first-child .the-title,
  .account .credit-block:nth-of-type(2) .the-title {
    line-height: 18px;
  }
}
@media screen and (max-width: 992px) {
  .checkout-list .checkout-list-row {
    border-bottom: none;
    padding: 0 0 15px;
  }
  .checkout-list .checkout-list-row > div {
    padding: 0 10px;
  }
  .checkout-list .checkout-list-row > div:nth-child(1) {
    background-color: #f5f3f1;
    margin-bottom: 10px;
    padding: 10px;
  }
  .checkout-list .checkout-list-row > div:nth-child(4) .select-box {
    width: 90px;
  }
  .checkout-list .checkout-list-row > div:nth-child(5) {
    padding-top: 0;
  }
  .checkout-list .checkout-list-row > div:last-child {
    margin-top: 10px;
  }
  .checkout-list .checkout-list-row > div:last-child .select-box {
    margin-bottom: 10px;
  }
  .checkout-list .checkout-list-bottom {
    padding: 20px 0 25px;
  }
  .checkout-list .checkout-list-bottom .save-money {
    background: #f5f3f1 url("../images/save-money.png") no-repeat 10px 3px;
    padding: 15px 15px 15px 120px;
    font-weight: 300;
    min-height: 90px;
    margin-right: 25px;
  }
  .checkout-list .checkout-list-bottom .checkout-total .top-total {
    font-family: "Source Sans Pro";
  }
  .checkout-list .checkout-list-bottom .checkout-total + .bottom-total {
    border-top: #cccccc solid 1px;
  }
  .checkout-step > div > span {
    padding-left: 36px;
  }
  .checkout-step > div > span.step-02 {
    margin: 0;
  }
  .checkout-step > div:last-child {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  h2.the-title {
    font-size: 32px;
  }
  .bottom-total {
    font-size: 20px;
  }
  .col-xs-12 > .padl-10,
  .col-xs-12 > .padr-10 {
    padding: 0;
  }
  .submit-01,
  .submit-02 {
    font-size: 16px;
  }
  .checkout-list + .text-right {
    text-align: center;
  }
  .checkout-list + .text-right .submit-01,
  .checkout-list + .text-right .submit-02 {
    width: 160px;
    white-space: normal;
    height: auto;
    line-height: 110%;
    padding: 15px 20px;
    font-size: 20px;
  }
}
