.main-content{
	color: #656565;
	width: 964px;
	background-color: #ffffff;
	margin-top: 10px;
	border-top: 5px solid #000;
	font-family: Arial, Georgia, 'HelveticaNeue',Sans-Serif;
	font-size: 14px;
	padding-bottom: 40px;
}

.main-content a{
	color: #3a3a3a;
}

.main-content .title{
	color: #84c23e;
	font-size: 48px;
	text-transform: none;
	padding-top: 20px !important;
	text-shadow: 6px 1px 8px #ccc;
	line-height: 54px;
}

.main-content p,.main-content strong{
	font-size: 14px;
	line-height: 16px;
	color: #656565;
}

.main-content .banner .left{
	width: 640px;
	float:left;
}

.main-content .banner .right{
	margin-left: 640px;
	padding-top: 65px;
}
.main-content .banner .left .featured{
	position: relative;	
}

.main-content .banner .left .featured img{
	padding-top: 15px;
}

.main-content .banner .left .featured .title{
	position: absolute;
	font-size: 60px;
	padding-left: 20px!important;
}

.main-content .banner .left .featured .description{
	position: absolute;
	bottom: -35px;
	left: 30px;
}

.main-content .banner .left .featured p{
	font-size: 24px;
	font-family: Georgia, Arial, 'HelveticaNeue',Sans-Serif;
	font-style: italic;
	line-height: 30px;
}

.main-content .banner .left .featured .subtitle{
	color: #84c23e;
	font-size: 30px;
	font-weight:bold;
	text-decoration:none;
	line-height: 34px;	
}

.main-content .banner .right .item img{
	padding-bottom: 5px;
}

.main-content .banner .right .item p{
	font-size: 14px;
	font-family: Georgia, Arial, 'HelveticaNeue',Sans-Serif;
	font-style: italic;	
}

.main-content .banner .right .item h3{
	font-family: Arial, 'HelveticaNeue',Sans-Serif;
	font-size: 18px;	
	text-transform: none;
}

.main-content .separator{
	margin: 30px auto 20px;
	width: 911px;
}

.main-content .content .left{
	width: 270px;
	float:left;
	padding: 40px 25px 0;
}

.main-content .content .left ul li{
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 15px;
}

.main-content .content .left h2{
	font-size: 24px;
	font-weight: bold;
	text-transform: none;
	margin-bottom: 15px;
	color: #3a3a3a;
}

.main-content .content .right{
	margin-left: 320px;
	
}

.main-content .column{
	width: 270px;
	float:left;
	padding: 40px 25px 0;
	background: url(/static/img/vertical-line.png) no-repeat center left;
	min-height: 265px;
}

.main-content .column-2{
	width: 430px;
	float:left;
	padding: 20px 25px 0;
	min-height: 200px;
}

.main-content .content .connect{
	background: url(/static/img/line.png) no-repeat top center;
	margin-top: 20px;
	padding-top: 20px;
}

.main-content .content .connect .fl{
	margin: 0 15px;
}
.main-content .content .connect p{
	font-family: Georgia, 'HelveticaNeue',Sans-Serif;
	font-style: italic;
	font-size: 18px;
	vertical-align: middle;
	line-height: 30px;
}

.main-content .content .connect-footer{
	background:none;	
	margin-top: 22px;
}
.main-content .content 	.connect .connect-text{
	margin-left: 0;
}
.main-content .content .connect-text strong{
	font-size: 14px;
}

.main-content .content .connect-text p{
	font-size: 12px;
	font-family: Arial, 'HelveticaNeue',Sans-Serif;
	font-style:normal;	
}

.main-content .content .bonjour {
	width: auto;
	font-style: italic;
	font-family: Georgia, 'HelveticaNeue',Sans-Serif;
}
.main-content .content .bonjour label, .main-content .content .bonjour a, .main-content .content .bonjour span{
	font-size: 24px;
	line-height: 30px;
}

.main-content .content .bonjour a, .main-content .content .bonjour span{
	font-family: Georgia, 'HelveticaNeue',Sans-Serif;
	text-decoration: none;
	color: #84C23E;	
}

.main-content .content .bonjour p{
	font-size: 18px;
	line-height: 26px;
	color: #656565;
}

.button_tag{
	margin: 40px 0 0 60px;
	display:inline-block;
}
/*Input format*/

.signup-form .input-container{
	width: 265px;
	height: 44px;
	position: relative;
	margin-top: 18px;
	font-style: italic;
	font-size: 14px;
	font-family: Georgia, 'HelveticaNeue',Sans-Serif;
	
}
.signup-form .input-container .input-label {
	width: 245px;
	height: 30px;
	border:none;
	padding: 14px 0 0 14px;
	/*background: url(../img/bg_input.png) no-repeat;*/
	float:left;
	font-size: 14px;
}

.signup-form .input-container input[type="text"], .signup-form .input-container input[type="password"],.signup-form .input-container textarea {
	width: 240px;
	border: none;
	padding-left: 10px;
	background:transparent;
	margin: -46px 5px 0px;
	outline:none;
	float:left;
	font-size: 16px;
	box-shadow: inset 4px 4px 6px #E7E6E8;
	border: solid 2px #D2D2D2;
	border-radius: 6px;
}

.signup-form .input-container textarea{
	resize: vertical;
	padding-top: 14px;
}

.signup-form .input-container input[type="text"], .signup-form .input-container input[type="password"]{
	height: 44px;
}

.signup-form .large-input{
	width: 413px;	
	margin-left: 0;
}

.signup-form .large-input .input-label{
	width: 393px;
	/*background: url(../img/bg_largeinput.png) no-repeat;*/
}

.signup-form .large-input input[type="text"], .signup-form .large-input input[type="password"]{
	width: 393px;
}

.signup-form .medium-input{
	width: 363px;	
	margin-left: 0;
}

.signup-form .medium-input .input-label{
	width: 343px;
	/*background: url(../img/bg_mediuminput.png) no-repeat;*/
}

.signup-form .medium-input input[type="text"], .signup-form .medium-input input[type="password"]{
	width: 343px;
}

.signup-form .textarea-input{
	width: 413px;
	height: 144px;
	/*background: url(../img/bg_textarea.png) no-repeat;*/
	margin-left: 0;
}

.signup-form .textarea-input .input-label{
	width: 393px;
	background: none;
}

.signup-form .textarea-input textarea{
	width: 393px;
	height: 120px;
}

.signup-form .input-container .delete_textfield{
	position: absolute;
	right: -42px;
	top: 8px;
}

.signup-form label, .signup-form label a, .signup-form label span{
	font-size: 18px;
	font-style: italic;
	font-family: Georgia, 'HelveticaNeue',Sans-Serif;
	line-height: 22px;
}

.main-content a{
	text-decoration: underline;
	font-family: Arial, 'HelveticaNeue',Sans-Serif;
}

.signup-form label a, .signup-form label span{
	color: #649231;
	text-decoration: none;
}

.main-content .button{
	display: block;
	background:  url(../img/bg_button_left.png) no-repeat;
	font-weight:bold;
	text-decoration: none;
	min-width: 40px;
}

.main-content .button div{
	font-family: Arial, 'HelveticaNeue',Sans-Serif;
	font-size: 16px;
	background:  url(../img/bg_button_right.png) no-repeat top right;
	height: 26px;
	text-align:center;
	padding-top: 10px;
	color: #fff;
	text-decoration: none;
}
/*Personelle page*/
.personnelle {
	padding: 0 30px;
}

.personnelle .title{
	padding-bottom: 60px;
}

.personnelle p{
	font-size: 18px;
	font-style: italic;
	font-family: Georgia, 'HelveticaNeue',Sans-Serif;
	line-height: 40px;	
}

.personnelle .back{
	display:inline-block;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, 'HelveticaNeue',Sans-Serif;
	color: #84c23e;
	margin: 40px 0 30px;
}

.top-banner p{
	color: #3a3a3a;
	font-size: 18px;
	font-style: italic;
	font-family: Georgia, 'HelveticaNeue',Sans-Serif;
	line-height: 24px;	
}

.main-content .top-banner label, .main-content .top-banner a, .main-content .top-banner label span{
	font-size: 24px;
	font-style: italic;
	font-family: Georgia, 'HelveticaNeue',Sans-Serif;
}

 .main-content .top-banner a, .main-content .top-banner label span{
	text-decoration: none;
	color: #84c23e;
}

#frmInviteFriends p a{
	color: #3a3a3a;
	font-size: 18px;
	text-decoration: underline;
}

.top-banner .button_tag{
	margin-left: 0;
}

.summer5 .connect{
	padding: 22px 0 0 22px;
	overflow:hidden;
}

.top-banner .circle{
	background:url(../img/circle.png) no-repeat;
	width:118px;
	height:118px;
	color: #ffffff;
	font-weight: bold;
	font-size: 55px;
	font-style: italic;
	font-family: Georgia, 'HelveticaNeue',Sans-Serif;
	text-align: center;
	position: absolute;
	line-height: 100px;
	vertical-align: middle;
	text-shadow: 1px 1px 1px #3a3a3a;
	top: 0;
	right: 0;
}

.width-64{
	width: 64px;
}

.width-130{
	width: 130px;
}

.main-content .content .widthauto{
	width: auto;
	float:none;
}

.mr-7{
	margin-right: 7px;
}
.main-content .social{
	margin-left:-10px;
}
.main-content .social a{
	padding-left: 10px;
	display: block;
}

.summer3 a.button{
	font-style:normal;
}

.summer4 .column-2, .summer3 .column-2{
	width: 455px;
	padding: 20px 0 0 25px;	
}

.summer3 .title{
	padding-left: 35px!important;
}

.summer4 .title{
	margin: 0 0 20px;
}
.summer5 .title{
	margin: 0 20px 40px;
	font-size: 60px;
}

#fancybox-content a{
	font-size: 16px;
}
