*{margin:0; padding:0}
body{font-family:Arial, Helvetica, sans-serif; font-size:14px;}
div#wrapper{width:1200px; height:1200px; margin:0 auto; }
div#top_bar{height:28px; width:auto; background:#2e3032;}
#logon input{padding-left:10px;}
.username{background:url(../imges/login.png) no-repeat; width:210px; height:32px;  margin-right:85px; padding-left:10px; border:none;}
.password{background:url(../imges/login.png) no-repeat; width:210px; height:32px;  margin-right:85px; padding-left:10px; border:none; }
.logon{background:url(../imges/logon.png) no-repeat; width:75px; height:36px; border:none; cursor:pointer; margin-left:126px;}
p#language {float:right; margin:5px 129px; color:#ffffff; font-size:13px; font-weight:bold; float:right;}
p#language span {color:#7bd246;}
div#banner{background:url(../imges/banner_topdeal.png) no-repeat; width:auto; height:172px;}
div#main_body{width:auto; height:auto; background:#d3e1d0; overflow:hidden;}
div#topdeal_left{width:647px; height:829px; float:left;  margin-left:117px;}
img#c_header{margin:17px 0 0 45px;}
div#clock{width:425px; height:125px; margin:12px 0 0 133px; }
div.c1{background:url(../imges/jours.png) no-repeat; width:94px; height:123px; float:left;}
div.c2{background:url(../imges/heures.png) no-repeat; width:94px; height:123px; float:left;}
div.c3{background:url(../imges/minutes.png) no-repeat; width:94px; height:123px; float:left;}
div.c4{background:url(../imges/seconds.png) no-repeat; width:98px; height:124px; float:left;}
p#c1,p#c2,p#c3,p#c4{margin-top:50px; margin-left:0px; font-size:40px; font-weight:bold; color:#aa6f8f;}
div#news_letter{width:640px; margin-left:5px; margin-top:18px;}
div.n_top{background:url(../imges/n_top.png) no-repeat; width:640px; height:20px; }
div.n_body{background:url(../imges/n_body.png) repeat-y; width:640px; height:661px; }
div.n_bottom{background:url(../imges/n_bottom.png) no-repeat; width:640px; height:17px; }
div.m1{background:url(../imges/n_m1.png) no-repeat; width:620px; height:95px; margin-left:10px;}
p#m1{padding:21px 30px 0 18px; font-size:23px; color:#FFFFFF; text-shadow:#889583 1px 1px 5px;}
div#message_box{width:308px; height:227px; margin:40px 0 0 10px; float:left;}
.email{background:url(../imges/field.png) no-repeat; width:306px; height:39px; padding-bottom:19px; }
#message input{padding:0px 2px 7px 7px; border:none; margin-bottom:12px;}
.submit{background:url(../imges/button.png) no-repeat; float:right; margin-top:23px; border:none; width:105px; height:29px; cursor:pointer;}
div#message_box1{width:314px; height:228px; float:right;  margin:40px 0 0 8px;}
div.nm_top{background:url(../imges/nm_top.png) no-repeat; width:300px; height:9px; }
div.nm_body{background:url(../imges/nm_body.png) repeat-y; width:300px; height:209px; }
div.nm_bottom{background:url(../imges/nm_bottom.png) no-repeat; width:300px; height:9px; }
p#nm{ padding:10px 10px 10px 10px; font-size:13px; line-height:18px;}
div#subscribe{width:624px; height:106px;  margin:37px 0 0 10px; float:left;}
div#subscribe_header{ background:url(../imges/mfoot.png) no-repeat; width:622px; height:33px; margin-top:151px}
#subscribe{margin-top:29px;}
.email1{background:url(../imges/subscriber.png) no-repeat; width:304px; height:39px; float:left; }
#subscribe input{padding-left:13px; padding-right:8px; border:none;}
.submit1{background:url(../imges/button_subscribe.png) no-repeat; float:right;  border:none; width:105px; height:29px; cursor:pointer; margin:5px 191px 0 0; }
p#s_txt{padding:8px 0 0 12px; font-size:15px; color:#FFFFFF; font-weight:bold;}

div#topdeal_right{float:left; margin:15px 0 0 66px; }
div.r_top{background:url(../imges/r_top.png) no-repeat; width:240px; height:8px; }
div.r_body{background:url(../imges/r_body.png) repeat-y; width:240px; height:auto; font-family:Verdana, Geneva, sans-serif }
div.r_bottom{background:url(../imges/r_bottom.png) no-repeat; width:240px; height:8px; padding-bottom:17px;}
p#r_message{padding:23px 23px 0px 23px; color:#FFFFFF; line-height:20px; font-size:11px;}
img#r_image{padding:23px 23px 10px 23px;}
div#footer{background:url(../imges/footer_bg.png) repeat-x; width:1200px; height:176px; }
div#footer_container{ width:auto; height:150px; padding:10px;}
img#f_image{border-right:1px solid #86305b; display:block; float:left; margin-left:67px; padding-right:10px;}
div#fmnu1{margin:23px 0 0 10px;;}
ul#footer_menu{float:left; padding-left:40px; color:#FFFFFF; padding-right:40px; }
ul#footer_menu1{float:left; padding-left:20px; color:#FFFFFF; border-left:1px solid #86305b; display:block; width:217px; height:127px;}
ul li{list-style:none}