/* Select control*/
.sbo-control {
	padding-right: 28px;
	width: 248px;
	color: #31332F;	
	border: #D9DAD5 solid 3px;	
	cursor: pointer;
	background: #ffffff url(../images/select-icon.png) no-repeat 97% center;
}
.sbo-control.active{
	position:relative;
}
.sbo-control .label {
	padding: 4px 24px 4px 4px;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	width: 100%;
	overflow: hidden;
}
.sbo-control .options {
	display:none;
	position:absolute;
	top:17px;
	background:#fff;
	border: #D9DAD5 solid 3px;
	border-top:none;
	box-shadow: #d9dad5 2px 2px 10px
}
.sbo-control .options li {
	padding: 4px !important;
	cursor: default;
}
.sbo-control .options li:hover {
	background: #85C422;
	color: #fff;
}

#term-container .chk-control{
	margin: 12px 0 0 100px;
}

.chk-control {
	width: 17px;
	height: 17px;
	float: left;
	margin-right: 3px;
	cursor: pointer;
	background: url(../images/check-bg.png) no-repeat left top;
}
.chk-control.checked {
	background: url(../images/check-bg.png) no-repeat left bottom;
}
.warnings {
	border: #f04e1e solid 3px !important;
}