<!--{include header}-->



<div id="bdw" class="bdw">

<div id="bd" class="cf">

<div id="about">

	<div class="dashboard" id="dashboard">

		<ul>${current_about('contact')}</ul>

	</div>

	<div id="content" class="about clear">

        <div class="clear box">

            <div class="box-top"></div>

            <div class="box-content">

                <div class="head"><h2>${I(ContactUs)}</h2></div>

                <div class="sect">				
				<!--{if $lang=="en"}-->
				{$page['value']}
				<!--{elseif $lang =='fr'}-->
				{$page['value_fr']}
				<!--{/if}-->					
				</div>

            </div>

            <div class="box-bottom"></div>

        </div>

	</div>

</div>

</div> <!-- bd end -->

</div> <!-- bdw end -->



<!--{include footer}-->

