<!--{include header}-->
<div id="main" class="main clear_fix faq">
	<div class="sidebar fl">
		<!--<form method="post" name="faq" action="#">
			<p>Recherche FAQ</p>
			<input type="text" name="question" class="f-input"/>
		</form>-->
	</div>
	<div class="content">
		<div class="rightside">
		    <!--box corner -->
		    <div class="BoxCorner BoxConer1">
			<div class="BGM BoxTable">
			    <div class="add">
			        <a href="/deals/submit.php">${I('Propose_Deal')}</a>
			    </div>
			</div>
			<div class="BgBL">
			    <div class="BgBR">
			        <div class="BgBM">
			        </div>
			    </div>
			</div>
		    </div>
		    <!--end box corner--><!--box corner -->
		    <div class="BoxCorner">
			<div class="BgTL">
			    <div class="BgTR">
			        <div class="BgTM">
			        </div>
			    </div>
			</div>
			<div class="BGM BoxTable">
			    <!--{include block_side_subscribe}-->
			</div>
			<div class="BgBL">
			    <div class="BgBR">
			        <div class="BgBM">
			        </div>
			    </div>
			</div>
		    </div>
		    <!--{include block_social}-->
		</div>
		<!--{if $lang=="en"}-->
		<div class="maincontent press  clear_fix">{$page['value']}</div>
		<!--{elseif $lang =='fr'}-->
		<div class="maincontent press  clear_fix">{$page['value_fr']}</div>
		<!--{/if}-->
	</div>
</div>

<!--{include footer}-->
