<!--{include html_header}-->
<!-- Main menu-->
<div class="account">
<div class="container-fluid">
	<div class="row deal-header text-uppercase text-center">
		<h1 class="big-heading">MODIFIER LE MOT DE PASSE</h1>
	</div>
</div>
<div class="container-fluid mrb-40">
	<div class="container">
		<div class="padt-20">
			<div class="row">
				<div class="col-md-3 hidden-sm hidden-xs">
					<div class="sidebar-menu">
						<ul class="list-unstyled">
							<li><a href="/account/settings.php">MON PROFIL</a></li>
							<li><a href="/account/address_change.php">MES ADRESSES</a></li>
							<li class="active"><a href="/account/reset.php">MODIFIER LE MOT DE PASSE</a></li>
							<li><a href="/order/index.php">MES ACHATS ET BONS</a></li>
							<li><a href="/account/refer.php">CREDITS & PARRAINAGE</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="padlr-20">						
                                            <form id="reset-pass-form" method="post" class="form-01 profil-form">
							<h5>Veuillez saisir votre nouveau mot de passe.</h5>
							<div class="row">
								<div class="col-md-12">									
									<input type="password" placeholder="Mot de passe actuelle" name="current_pass" />
								</div>								
							</div>
							<div class="row">
								<div class="col-md-12">									
									<input type="password" placeholder="Nouveau mot de passe" name="password" />
								</div>								
							</div>
							<div class="row">
								<div class="col-md-12">									
									<input type="password" placeholder="Confirmer mot de passe" name="password2" />
								</div>								
							</div>
                                                        <!--{if $session_notice=Session::Get('notice',true)}-->
                                                            <div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p>{$session_notice}</p><span class="close">
                                                            
                                                            </span></div></div> 
                                                            <!--{/if}-->
                                                            <!--{if $session_notice=Session::Get('error',true)}-->
                                                            <div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p><span class="close">
                                                            
                                                            </span></div></div> 
                                                            <!--{/if}-->
							<div class="text-right">
								<input type="submit" class="submit-01" value="Confirmer" />
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
            jQuery(document).ready(function(){
                
                $('#reset-pass-form').submit(function(e){
                   var current_pass = $('#reset-pass-form input[name=current_pass]');
                   var pass = $('#reset-pass-form input[name=password]');
                     var pass2 = $('#reset-pass-form input[name=password2]');
                    if(current_pass.val() == ''){
                        current_pass.addClass('error-input');
                        current_pass.attr('placeholder', 'Utilisateur inconnu');
                        current_pass.removeClass('error-input');
                        e.preventDefault();
                    }else if(pass.val() == ''){
                        current_pass.removeClass('error-input');
                        pass.addClass('error-input');
                        pass.attr('placeholder','Mot de passe erroné');
                        pass.focus();
                        e.preventDefault();
                    }else if(pass2.val() == ''){
                        current_pass.removeClass('error-input');
                        pass2.addClass('error-input');
                        pass2.attr('placeholder','Mot de passe erroné');
                        pass2.focus();
                        e.preventDefault();
                    }
                    else if(pass2.val() != pass.val()){
                        current_pass.removeClass('error-input');
                        pass2.addClass('error-input');
                        pass2.attr('placeholder','Mot de passe erroné');
                        pass2.focus();
                        e.preventDefault();
                    }
                    
                });
            });
        </script>
<!--{include html_footer}--> 
