<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="consult">
	<div class="dashboard" id="dashboard">
		<ul>${current_account('/account/myask.php')}</ul>
	</div>
	<div id="content">
		<div class="box clear">
			<div class="box-top"></div>
			<div class="box-content">
				<div class="head">
					<h2>My Q & A</h2>
				</div>
				<div class="sect consult-list">
					<ul class="list">
					<!--{loop $asks $one}-->
					<li id="ask-entry-{$one['id']}" >
						<div class="item">
							<p class="user"><strong>{$login_user['username']}</strong><span>${Utility::HumanTime($one['create_time'])}</span></p>
							<div class="clear"></div>
							<p class="text">{$one['content']}</p>
							<p class="reply"><strong>Reply：</strong>{$one['comment']}</p>
						</div>
					</li>
					<!--{/loop}-->
					</ul>
					{$pagestring}
				</div>
			</div>
			<div class="box-bottom"></div>
		</div>
	</div>
	<div id="sidebar">
	<!--{include block_side_invite}-->
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
