<!--{include html_header}-->
<div class='account'>
<div class="container-fluid">
		<div class="row deal-header text-uppercase text-center">			
			<h1 class="big-heading">CONNECTEZ-VOUS!</h1>			
		</div>
	</div>
    <div class="container-fluid grey-block mrb-40">
		<div class="container">				
			<div class="sign-block">
				<div class="row">
					<div class="col-md-6 text-center">
						
						<div class="width-380">
						
							<h1 class="big-title">
								J’ai un compte
							</h1>
                                                         <!--{if $session_notice=Session::Get('error',true)}-->
                                                            <div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p><span class="close">
                                                            </span></div></div> 
                                                        <!--{/if}-->
							<p>Saisissez votre e-mail et mot de passe</p>
							<form class="form-01" action="{$INI['system']['secure_public_url']}/account/login.php"  method="post" id="login-form">
                                                                <?php 
                                                                    $error_class_email = '';
                                                                    $error_class_pass = '';
                                                                    
                                                                    $placeholder_email = "E-mail ou nom d’utilisateur";
                                                                    $placeholder_pass = "Mot de passe";
                                                                    
                                                                     $pass_error = Session::Get('pass_error',true);
                                                                    $email_error = Session::Get('email_error',true);
                                                                    
                                                                    if($pass_error){ $error_class_pass = 'class="error"'; $placeholder_pass = $pass_error; }
                                                                    if($email_error){$error_class_email = 'class="error"'; $placeholder_email = $email_error; }
                                                                    
                                                                ?>
                                                                <input type="text" value="<!--{if $email_entered=Session::Get('email_entered',true)}-->{$email_entered}<!--{/if}-->" placeholder="{$placeholder_email}" {$error_class_email} name="email" />
								<input type="password" placeholder="{$placeholder_pass}" {$error_class_pass} name="password" />
								<div class="text-left line-height-31">
									<div class="checkbox-s31"><input type="checkbox" id="remember-01" name="#" value="1" /><label for="remember-01"></label></div> Se souvenir de moi
									<a href="/account/forgot.php" class="pull-right">Mot de passe oublié?</a>
								</div>
                                                                <?php 
                                                                    if(isset($_GET['ref'])){
                                                                ?>
                                                                <input type="hidden" name="ref" value="<?php echo $_GET['ref']; ?>" />
                                                                <?php    
                                                                    }
                                                                    else{
                                                                ?>
                                                                <input type="hidden" name="ref" value="<?php echo $_SERVER['HTTP_REFERER']; ?>" />
								<?php 
                                                                }
                                                                ?>
                                                                
								<input type="submit" class="submit-01" value="Je me connecte" />							
							</form>
              <!--
							<h3 class="font-light">Ou connectez-vous avec:</h3>
							<ul class="list-inline list-unstyled social">
								<li><a href="javascript:fblogin()"><img class="img-responsive" src="/static/images/facebook-02.png"></a></li>
								<li><a href="/redirect.php"><img class="img-responsive" src="/static/images/twitter-02.png"></a></li>
							</ul>
              -->
						</div>
					</div>
					<div class="col-md-6">
						<div class="width-390">
							<h1 class="big-title text-center">Créer mon compte</h1>
							<p>L’inscription sur Topdeal est gratuite et vous permet de profiter des avantages de la communauté Topdeal (accès à nos offres et aux ventes privées).</p>
							<p>Créez votre compte sans attendre et inscrivez-vous à la newsletter pour ne rater aucune offre!</p>
							<div class="row text-center"><a href="/account/signup.php" class="submit-01">Je crée mon compte</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div><!-- Hot deal -->	
        <div id="fb-root"></div>
        <script> 
		window.fbAsyncInit = function() {
			FB.init({
				appId : '184414568270630',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml : true // parse XFBML
			});
		};
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);

                

        function fblogin()
        {
             FB.login(function(response) {
               if (response.authResponse) {
                 window.location.href = '{$INI['system']['wwwprefix']}/fblogin.php';;
               }
             }, {scope: 'publish_stream,email,user_birthday'});
        }
    </script>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                
                $('#login-form').submit(function(e){
                   var email = $('#login-form input[name=email]');
                   var pass = $('#login-form input[type=password]');
                    
                    if(email.val() == ''){
                        email.addClass('error');
                        email.attr('placeholder', 'Utilisateur inconnu');
                        pass.removeClass('error');
                        e.preventDefault();
                    }else if(pass.val() == ''){
                        email.removeClass('error');
                        pass.addClass('error');
                        pass.attr('placeholder','Mot de passe erroné');
                        pass.focus();
                        e.preventDefault();
                    }
                    
                });
            });
        </script>
</div>  

<!--{include html_footer}-->
