<!--{include header}--><div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="settings">
	<div class="dashboard" id="dashboard">
		<ul>${current_account('/account/settings.php')}</ul>
	</div>
    <div id="content" class="clear settings-box">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>${I('My_Account')}</h2></div>
                <div class="sect">
                    <form id="settings-form" method="post" action="/account/settings.php" enctype="multipart/form-data" class="validator form-01 profil-form">
						<div class="wholetip clear"><h3>${I('PersonalDetails')}</h3></div>					
                        <div class="field username">
                            <label>${I('Full_Name')}</label>
                            <input type="text" size="30" name="realname" id="settings-realname" class="f-input" value="{$login_user['realname']}" />
							<span class="hint">Full name should be consistent with your ID name to make sure of a successful delivery.</span>	
						</div>						
                        <div class="field password">
                            <label>Gender</label>
							<!--{if $login_user['gender'] == 'M'}-->
								<!--${$mselect = 'checked="checked"'}-->
								<!--${$fselect = ''}-->
							<!--{else}-->
								<!--${$fselect = 'checked="checked"'}-->
								<!--${$mselect = ''}-->
							<!--{/if}-->	
							<input type="radio" value="M" name="gender" {$mselect} /> ${I(Mister)}.
							<input type="radio" value="F" name="gender" {$fselect} /> ${I(Miss)}.	

                        </div>		
                        <div class="field username">
                            <label>${I('Username')}</label>
                            <input type="text" size="30" name="username" id="settings-username" class="f-input {$readonly['username']}" value="{$login_user['username']}" require="true" datatype="limit" min="2" max="16" maxLength="16" {$readonly['username']} />
                        </div>											
                        <div class="field email">
                            <label>${I('Email')}</label>
                            <input type="text" size="30" name="email" id="settings-email-address" class="f-input {$readonly['email']}" {$readonly['email']} value="{$login_user['email']}" />
                        </div>
                        <div class="field">
                            <label>${I('Image')}</label>
							<!--{if $login_user['avatar']}-->
							<img src="${user_image($login_user['avatar'])}" style="float:left;margin-top:-10px;margin-right:10px;"/>
							<!--{/if}-->
                            <input type="file" size="30" name="upload_image" id="settings-avatar" class="f-input" />
                            <span class="hint">${I('ImageMax')} </span>
                        </div>
                        <div class="field password">
                            <label>${I('ChangePass')}</label>
                            <input type="password" size="30" name="password" id="settings-password" class="f-input" />
                            <span class="hint">${I('NoCngPass')}</span>
                        </div>
                        <div class="field password">
                            <label>${I('ConfirPass')}</label>
                            <input type="password" size="30" name="password2" id="settings-password-confirm" class="f-input" />
                        </div>
						<div class="wholetip clear"><h3>${I('ContactDetails')}</h3></div>
                        <div class="field mobile">
                            <label>${I('PhoneNumber')}</label>
                            <input type="text" size="10" name="mobile" id="settings-mobile" class="number" value="{$login_user['mobile']}" datatype="mobile|ajax" url="{$WEB_ROOT}/ajax/validator.php" vname="signupmobile"  msg="Incorrect phone number|The number has been registered" /><span class="hint">${I('Phone_Info')}</span>
                        </div>
                        <div class="field username">
                            <label>${I('Address')}</label>
                            <input type="text" size="30" name="address" id="settings-address" class="f-input" value="{$login_user['address']}" />
                            <!-- <span class="hint">For a timely delivery, please type your detailed address. </span>-->
                        </div>						
						<div class="field">
                            <label>${I('Zipcode')}</label>
                            <input type="text" maxLength=6 size="10" name="zipcode" id="settings-zipcode" class="f-input number" value="{$login_user['zipcode']}" />
                        </div>								
						<div class="field city">
                            <label>${I('City')}</label>
							<input type="text"  size="10" name="region" id="settings-region" class="f-input" value="{$login_user['region']}" />
                        </div>	
													
                        <div class="field password">
                            <label>${I('Country')}</label>
							<select name="country" class="f-city">
								<!--{loop $countries $country_id $country}-->
									<!--{if $country_id == $login_user['country']}-->
										<!--${$cselect = 'selected="selected"'}-->
									<!--{else}-->
										<!--${$cselect = ''}-->
									<!--{/if}-->
										<option value='{$country_id}' {$cselect}>{$country}</option>
								<!--{/loop}-->
							</select>
                        </div>
						<div class="field city">
                            <label>${I('YourRegion')}</label>
							<select name="city_id" class="f-city">
								${Utility::Option(Utility::OptionArray($allcities, 'id', 'name'), $login_user['city_id'])}
								<option value='0'>Others</option>
							</select>
                        </div>							
						<!--{if $login_user['enable'] == "Y" }-->
							<!--${$sselect = 'checked="checked"'}-->
						<!--{else}-->
							<!--${$sselect = ''}-->
						<!--{/if}-->						
						<div class="field subscribe">
                            <input tabindex="3" type="checkbox" value="1" name="subscribe" id="subscribe" class="f-check" {$sselect} />&nbsp;&nbsp;
                            <label for="subscribe"> ${I(SubscribeEmail)}</label>
                        </div>																					
						
						<div class="field city">
                            <label>${I(CategoriesOfInterest)}</label>
							<div class="interest-list">${Utility::CheckBox(Utility::OptionArray($allcategories, 'id', 'name'), $user_interests ,'category')}</div>
                        </div>					
                        <div class="clear"></div>
                        <div style="margin-left:178px" class="act">
                            <input type="submit" value="${I('Confirm')}" name="commit" id="settings-submit" class="formbutton"/>
                        </div>						
                        


                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar" class="rail">
		<!--{include block_side_credit}-->
		<!--{include block_side_credittip}-->
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
