<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf loginup">
<div id="content">
        <div id="signup" style="position:relative;">
        <div id="deal-buy-login">
            <h3>${I(HaveAccount)}</h3>
            <form action="/account/login.php" method="post" id="deal-buy-form-login" class="validator">
            <div id="deal-buy-login-form">
                <p><span>E-mail</span><input type="text" class="f-input" id="deal-buy-email" name="email" size="30" require="true" datatype="require|limit" min="2" /></p>

                <p><span>${I(Password)}</span><input type="password" class="f-input" name="password" size="30" datatype="require" require="true" /></p>
                <p class="act">
                    <input type="submit"  class="formbutton" name="login" value="${I(Login)}"/>
                </p>
            </div>
            </form>
        </div>
    </div>

    <div class="box" id="deal-buy-box">
        <div class="box-top"></div>
        <div class="box-content">
            <div class="head"><h2>${I(Register30)}</span></h2></div>
            <div class="sect">
                <form action="/account/signup.php" method="post" id="deal-buy-form-signup" class="validator">
                    <div class="field email">
                        <label for="signup-email-address">${I(Email)}</label>

                        <input type="text" class="f-input" size="30" name="email" id="signup-email-address" require="true" datatype="email|ajax" msg="|" url="${WEB_ROOT}/ajax/validator.php" vname="signupemail" />
                        <span class="hint">${I(HintEmail)}</span>
                    </div>
                    <div class="field username">
                        <label for="signup-username">${I(Username)}</label>
                        <input type="text" class="f-input" size="30" name="username" id="signup-username" require="true" datatype="limit|ajax" min="2" max="16" vname="signupname" url="${WEB_ROOT}/ajax/validator.php" msg="|" maxLength="16" /><span class="hint"> ${I(HintUsername)}</span>

                    </div>
					<div class="field">
						<label for="signup-password-confirm">${I(Mobile)}</label>
						<input type="text" size="30" name="mobile" id="signup-mobile" class="number" require="${option_yes('needmobile')?'true':'require'}" datatype="mobile" /><span class="hint">${I(HintEmail)} {$INI['system']['couponname']} SMS</span>
					</div>
					<div class="field password">
                        <label for="signup-password">${I(Password)}
</label>
                        <input type="password" size="30" name="password" id="signup-password" class="f-input" datatype="require" require="true" /><span class="hint">${I(HintPassword)}</span>
                    </div>
                    <div class="field password">
                        <label for="signup-password-confirm">${I(RepeatPassword)}</label> 
                        <input type="password" size="30" name="password2" id="signup-password-confirm" class="f-input" require="true" datatype="compare" compare="signup-password" />
                    </div>
                    <div class="act">
                        <input type="submit" value="${I(Login)}" name="commit" id="signup-submit" class="formbutton"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="box-bottom"></div>

    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
