<!--{include html_header}-->
<div class='account'>
   <div class="container-fluid">
		<div class="row deal-header text-uppercase text-center">			
			<h1 class="big-heading">BIENVENUE CHEZ TOPDEAL</h1>			
		</div>
	</div>
    <div class="container-fluid grey-block mrb-40">
		<div class="container">				
			<div class="sign-block">
				<div class="row text-center">
					<img src="/static/images/welcome.png" class="img-welcome"/>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<p>Nous sommes heureux de vous compter parmi nos membres et nous vous souhaitons la bienvenue.</p>
						<p>Votre compte est désormais créé et vous êtes connecté. Vous allez recevoir un email de conﬁrmation.</p>
						<p>Bonne suite!</p>
					</div>
				</div>
				<div class="row text-center">
					<a href="/account/settings.php" class="complete-btn">Compléter mon compte</a>
				</div>
			</div>
		</div>	
	</div><!-- Hot deal -->	
	
</div>	
<!--{include html_footer}-->
