<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="signuped">
    <div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                  <h2>V&eacute;rification de votre adresse e-mail</h2></div>
                <div class="sect">
                  <div class="notice-content">
                    <p>Nous vous avons envoy&eacute; un e-mail &agrave; <strong>{$email}</strong>, veuillez v&eacute;rifier votre courrier et cliquer sur le lien dans notre e-mail afin de finaliser votre inscription &agrave; TopDeal.ch. </p>
					<!--{if $wwwlink}-->
					<!--{/if}-->
					</div>
                    <div class="help-tip">
                        <h3 class="help-title">Vous n'avez pas re&ccedil;u d'e-mail?</h3>
                        <ul class="help-list">
                            <li>Peut-&ecirc;tre que l'e-mail est pass&eacute; dans votre boite de spam.  Veuillez v&eacute;rifier s'il ne s'y trouve pas.</li>
                            <li><a href="/account/verify.php?email=${urlEncode($email)}">Cliquez ici</a> pour recevoir un autre e-mail de v&eacute;rification sur votre boite de messagerie.{$_SESSION['unemail']}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
