
<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="referrals">

<!--{if !$pre_launch}-->

	<div class="dashboard" id="dashboard">
		<ul>${current_account('/account/refer.php')}</ul>
	</div>

<!--{/if} -->

    <div id="content" class="invites refers">
        <div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
              <div class="head">
				<h2>Invitez des amis et gagnez des crédits</h2>
				</div>
                <div class="sect">
					<div class="share-list">
					  <div class="blk im">
							<div class="info">
								Voici votre lien personnel à transmettre à vos amis afin de recevoir des crédits TopDeal
								</div>
                        <div>Votre lien personnel:<br />
<input id="share-copy-text" type="text" value="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" size="60" class="f-input" onfocus="this.select()" tip="link copied，and you can send it to your friends on Chat" /><input id="share-copy-button" type="button" value="Copy" class="formbutton" />

&nbsp;&nbsp;&nbsp;

<!-- share tool bar script -->

<span  class='st_twitter' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Enregistrez-vous dès à présent sur TopDeal.ch afin de bénéficier de crédits en partageant votre lien personnel avec vos amis"></span><span  class='st_facebook' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Register with TopDeals!"></span><span  class='st_yahoo' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Enregistrez-vous dès à présent sur TopDeal.ch afin de bénéficier de crédits en partageant votre lien personnel avec vos amis"></span><span  class='st_gbuzz' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Enregistrez-vous dès à présent sur TopDeal.ch afin de bénéficier de crédits en partageant votre lien personnel avec vos amis"></span><span  class='st_email' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Enregistrez-vous dès à présent sur TopDeal.ch afin de bénéficier de crédits en partageant votre lien personnel avec vos amis"></span><span  class='st_sharethis' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Enregistrez-vous dès à présent sur TopDeal.ch afin de bénéficier de crédits en partageant votre lien personnel avec vos amis"></span>


<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
        stLight.options({
                publisher:'50016f1b-c289-4cf4-a6ee-29604472432c',
				offsetLeft:'950',
				offsetTop:'350'
        });
</script>

<!-- share tool bar script -->

						</div>

						</div>
					</div>

					<table style="margin-top:15px" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr>
					  <th width="300">Vos amis enregistrés</th>
					  <th width="300">Date d’enregistrement</th><!--<th width="200">Statut</th>--></tr>
					<!--{loop $invites $index $one}-->
						<tr ${$index%2?'':'class="alt"'}><td>{$users[$one['other_user_id']]['username']}</td><td>${date('d-m-Y H:i', $one['create_time'])}</td><!--<td>${invite_state($one)}</td>--></tr>
					<!--{/loop}-->
					</table>

			<h3 class="credit-title" align="right">Votre solde de crédits est de: <strong>${moneyit($login_user['money'])}</strong> {$currency}</h3>

					
				</div>
            </div>
			
            <!-- <div class="box-bottom"></div> -->
			
        </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_invitenotice}-->
    </div>
</div>
</div> <!-- bd end -->

</div> <!-- bdw end -->

<!--{include footer}-->
