<!--{include html_header}-->
<div class='account'>
    <div class="container-fluid">
		<div class="row deal-header text-uppercase text-center">			
			<h1 class="big-heading">MOT DE PASSE OUBLIÉ</h1>			
		</div>
    </div>
    <div class="container-fluid grey-block mrb-40">
		<div class="container">				
			<div class="sign-block">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<p>Veuillez entrer l’email que vous utilisez pour votre compte TopDeal et nous vous enverrons un email pour changer votre mot de passe.</p>
                                                <!--{if $session_notice=Session::Get('error',true)}-->
                                                            <div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p><span class="close">
                                                            <!--{if $lang=="en"}-->Close<!--{elseif $lang =='fr'}--> Fermer<!--{/if}-->
                                                            </span></div></div> 
                                                        <!--{/if}-->
                                                <form method="post" action="/account/repass.php" class="form-01 text-center">
							<input type="email" placeholder="E-mail ou nom d’utilisateur" name="email" />
							<input type="submit" class="submit-01" value="Envoyer" />
						</form>
					</div>
				</div>
			</div>
		</div>	
	</div><!-- Hot deal -->	
	
</div>	
<!--{include html_footer}-->
