<!--{include html_header}-->
<div class='account'>
    <div class="container-fluid">
            <div class="row deal-header text-uppercase text-center">			
                    <h1 class="big-heading">CRÉATION DE COMPTE</h1>			
            </div>
    </div>
    <div class="container-fluid grey-block mrb-40">
		<div class="container">				
			<div class="sign-block signup">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">						
						<h1 class="big-title">Je m’inscris à Topdeal </h1>
						<div class="width-380">	
                                                    <!--{if $session_notice=Session::Get('error',true)}-->
                                                    <div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p></div></div> 
                                                    <!--{/if}-->
                                                    <form method="post" id="signup-form" action="/account/signup.php" class="form-01">
                                                            <input type="email" id="user-email"  placeholder="E-mail ou nom d’utilisateur" name="email" />
								<input type="password" id="user-password" placeholder="Mot de passe" name="password" />
								<input type="password" id="user-confirm-password" placeholder="Confirmer mot de passe" name="password2" />
								<div class="text-left">
									<div class="checkbox-s31 pull-left"><input type="checkbox" checked id="remember-01" name="subscribe" value="1" /><label for="remember-01" class="checked"></label></div> <p class="overhidden">Pour ne rien manquer de nos offres, nous vous invitons à vous abonner à notre newsletter.</p>
								</div>
								<input type="submit" class="submit-02" value="Inscription" />
							
                                                                <p class="mrt-20">En cliquant sur le bouton d'inscription, vous acceptez les<br /> <a target="_blank" href="/about/terms.php">Conditions d'utilisation</a> et de <a target="_blank" href="/about/privacy.php">Confidentialité</a></p>
								<p class="border-tb-w">Vous êtes déjà membre?  <a href="/account/login.php">Cliquez ici</a></p>
							</form>
							<h3 class="font-light">Ou connectez-vous avec:</h3>
							<ul class="list-inline list-unstyled social">
								<li><a href="javascript:fblogin()"><img class="img-responsive" src="/static/images/facebook-02.png"></a></li>
								<li><a href="/redirect.php"><img class="img-responsive" src="/static/images/twitter-02.png"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div><!-- Hot deal -->	
        <div id="fb-root"></div>
        <script> 
		window.fbAsyncInit = function() {
			FB.init({
				appId : '184414568270630',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml : true // parse XFBML
			});
		};
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);

                

        function fblogin()
        {
             FB.login(function(response) {
               if (response.authResponse) {
                 window.location.href = '{$INI['system']['wwwprefix']}/fblogin.php';;
               }
             }, {scope: 'publish_stream,email,user_birthday'});
        }
    </script>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                
                $('#signup-form').submit(function(e){
                   var email = $('#signup-form input[name=email]');
                   var pass = $('#signup-form input[name=password]');
                     var pass2 = $('#signup-form input[name=password2]');
                    if(email.val() == ''){
                        email.addClass('error-input');
                        email.attr('placeholder', 'Utilisateur inconnu');
                        pass.removeClass('error-input');
                        e.preventDefault();
                    }else if(pass.val() == ''){
                        email.removeClass('error-input');
                        pass.addClass('error-input');
                        pass.attr('placeholder','Mot de passe erroné');
                        pass.focus();
                        e.preventDefault();
                    }else if(pass2.val() == ''){
                        email.removeClass('error-input');
                        pass2.addClass('error-input');
                        pass2.attr('placeholder','Mot de passe erroné');
                        pass2.focus();
                        e.preventDefault();
                    }
                    else if(pass2.val() != pass.val()){
                        email.removeClass('error-input');
                        pass2.addClass('error-input');                        
                        alert('Le mot de passe saisi ne correspond pas');
                        pass2[0].setSelectionRange(0, pass2[0].value.length)
                        e.preventDefault();
                    }
                    
                });
            });
        </script>
</div>	
<!--{include html_footer}-->
