<div class="container-fluid">
		<div class="row deal-header text-uppercase text-center">			
			<h1 class="big-heading">BIENVENUE CHEZ TOPDEAL!</h1>			
		</div>
	</div>
    <div class="container-fluid grey-block mrb-40">
		<div class="container">				
			<div class="sign-block">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<p>Votre mot de passe a bien été ré-initiallisé. Vous pouvez dès à présent vous connecter avec votre nouveau mot de passe !</p>
						<div class="row goto-btn">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<a href="http://www.topdeal.ch/team" class="submit-02">Vers les deals</a>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6">	
								<a href="http://www.topdeal.ch/account/settings.php" class="submit-02">Vers mon compte</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>	
	</div><!-- Hot deal -->	