<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="credit">
	<div class="dashboard" id="dashboard">
		<ul>${current_account('/account/mypoints.php')}</ul>
	</div>
    <div id="content">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>My Points</h2>
                </div>
                <div class="sect">
					<h3 class="credit-title">Your Total Points is: <strong> {$usrreward} </strong></h3>
					<table id="order-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="120"> Id</th><th width="auto"> Detail</th><th width="50"> Reward </th><th width="70"> Sum</th></tr>
						<!--{loop $flows $index $one}-->
						<tr ${$index%2?'':'class="alt"'}><td style="text-align:left;">{$one['id']}</td>
						<td class="{$one['direction']}">{$dealdata['{$one['deal_id']}']}
						</td>
						<td class="{$one['direction']}">{$one['reward']}</td>
						<td class="{$one['direction']}">{$one['previous_reward']}</td>
						</tr>
						<!--{/loop}-->
						<tr><td colspan="4">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_credit}-->
		<!--{include block_side_credittip}-->
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
