
<!--{include header}-->
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'197adea3-a0ff-4dec-9b1c-3ed5342a5c0b'});</script>
<link href="../Source Code/static/css/index.css" rel="stylesheet" type="text/css" />

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="referrals">
	 <div id="content" class="refers">
        <div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Invitation Rebate </h2></div>
                <div class="sect">
					<!--{if $money}-->
					<p class="notice-total">You have invited <strong>{$count}</strong> people, got in total <strong><span class="money">{$currency}</span>${moneyit($money)}</strong> rebate，<a href="/account/refer.php">Check List </a>。</p>
					<!--{/if}-->
					<p class="intro">When your friends accept your invitation, and make his/her first purchase in {$INI['system']['sitename']}You will get  {$INI['system']['invitecredit']} {$currency} in your {$INI['system']['sitename']} account within the next 24 hours. You can use these credits in your future purchase. There's no upper limit for invitation. More invitation，more rebate.</p>
					<div class="share-list">
						<div class="blk im">
													<div class="info">
								
								
								<input id="share-copy-button" type="button" value="copy" class="formbutton" />
							</div>
						</div>
						<div class="blk">
							<div class="info finder-form">
								<div id="email_invitation" style="display:none;">
								<form action="/account/invite.php" method="post" id="finder-form" class="validator">
								 <p>
									<label for="recipients">invitation list</label>
									<textarea name="recipients" id="recipients" class="f-input" rows="5" cols="50" require="true" datatype="require"></textarea>
								</p>

								 <p>
									<label for="invitation_content">invitation content</label>
									<textarea name="invitation_content" id="invitation_content"  class="f-input" cols="50" rows="5" require="true" datatype="require">Hi，recently I'm surfing {$INI['system']['sitename']}, and find it has wonderful deals everyday. Do come and have a look~ </textarea>
								</p>
								<p>
									<label for="real_name">Your name</label>
									<input id="real_name" type="text" value="${htmlspecialchars($login_user['username'])}" name="real_name" size="12" class="f-input"  require="true" datatype="require" />
								</p>
								<p class="commit"><input type="submit" class="formbutton" value="continue" /></p>
								</form>
								</div>
							</div>
						</div>
					<!--{if $team}-->
						<div class="blk last">
						  <div class="info">
						  <div class="deal-info"><center>
                                <h4>This is your invitation link, please send it on Any Messenger (Gtalk ,Skype,MSN ,Yahoo)</h4><input id="share-copy-text" type="text" value="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" size="35" class="f-input" onfocus="this.select()" tip="link copied，and you can send it to your friends on Chat" />
									<p class="pic">
    <a href="/team.php?id={$team['id']}" target="_blank"><img src="${team_image($team['image'])}" width="400" height="238" border="0" /></a></p>
									<p class="deal-title">{$team['title']}</p>
                                   
				<div id="deal-share-links" style=" width:100px;" >
								<!-- AddThis Button BEGIN  -->
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_preferred_1" addthis:url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" ></a>
<a class="addthis_button_preferred_2" addthis:url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}"></a>
<a class="addthis_button_preferred_3" addthis:url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}"></a>
<a class="addthis_button_preferred_4" addthis:url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}"></a>
<a class="addthis_button_preferred_5" addthis:url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}"></a>
</div>

	<!--AddThis Button END -->

								</div>
			

				                      </center>
							</div>
							
						  </div>
						<!--{/if}-->
					  </div>
                    <div class="clear"></div>
				</div>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_invitetip}-->
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
 
<!--{include footer}-->
