<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="reset">
    <div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>RE-INITIALISER VOTRE MOT DE PASSE</h2></div>
                <div class="sect">
				<!--{if $_POST}-->
				<!--{else}-->
					<form method="post" action="/account/repass.php">
                    <div class="field email">
                        <label class="f-label" for="reset-email">Votre adresse e-mail</label>
                        <input type="text" name="email" class="f-input" id="reset-email" value="" />
                    </div>
                    <div class="act">
                        <input type="submit" class="formbutton" value="Confirmer" />
                    </div>
                    </form>
				</div>
				<!--{/if}-->
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
</div>
<!--{include footer}-->
