<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="referrals">

<!--{if !$pre_launch}-->

	<div class="dashboard" id="dashboard">
		<ul>${current_account('/account/refer.php')}</ul>
	</div>

<!--{/if} -->

    	<div id="content" class="invites refers">
        <div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
              <div class="head">
				<h2>Invitez vos amis sur TopDeal.ch et recevez des crédits !</h2>
				</div>
              	<div class="sect" style="width: auto;">
				<h1 class="Title_head">Votre lien personnel <br> à transmettre à vos amis :</h1>
			<div class="clear_fix" style="margin: 35px 0px; height: 130px;">
				
				<div class="fl" style="width: 440px;">
					<img alt="" width='440px' height='133px' src="/static/img/img.jpg"/>
				</div>
				<div class="fl" style="width: 270px;">
					<div class="clear_fix">
						
					</div>
					<p class="buy_first" style="font-size: 37px; color: #773453; font-weight: normal; padding: 5px 0px;">&nbsp;</p>
				</div>
			</div>
			<h1 class="Title_head" style="color: #773453; margin-bottom: 20px;font-size: 37px;text-transform: none;">Partagez dès maintenant <br> et gagnez des crédits</h1>
			<div class="clear_fix" style="height: 36px;"><input class="ipt fl" type="text" value="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" style="margin-right: 8px;"/>
			<span  class='st_twitter' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Enregistrez-vous dès à présent sur TopDeal.ch afin de bénéficier de crédits en partageant votre lien personnel avec vos amis"></span><span  class='st_facebook' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Register with TopDeals!"></span><span  class='st_yahoo' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Enregistrez-vous dès à présent sur TopDeal.ch afin de bénéficier de crédits en partageant votre lien personnel avec vos amis"></span><span  class='st_gbuzz' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Enregistrez-vous dès à présent sur TopDeal.ch afin de bénéficier de crédits en partageant votre lien personnel avec vos amis"></span><span  class='st_email' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Enregistrez-vous dès à présent sur TopDeal.ch afin de bénéficier de crédits en partageant votre lien personnel avec vos amis"></span><span  class='st_sharethis' st_url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" st_title="Enregistrez-vous dès à présent sur TopDeal.ch afin de bénéficier de crédits en partageant votre lien personnel avec vos amis"></span>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
        stLight.options({
                publisher:'50016f1b-c289-4cf4-a6ee-29604472432c',
				offsetLeft:'950',
				offsetTop:'350'
        });
</script>
		
			<!--
				<a href="#" class="link1 fl"></a><a href="#" class="link2 fl"></a><a href="#" class="link3 fl"></a><a href="#" class="link4 fl"></a><a href="#" class="link5 fl"></a>
			-->			
			</div>
			<div class="clear_fix buy_options" style="height: 219px;">
				<div class="fr" style="width: 383px;">
					<div class="clear_fix">
						<div class="fr right_ct_bt font_normal">${moneyit($money)} {$currency}</div>
						<div class="fr left_ct_bt font_normal" style="margin-top:18px">CREDITS ACTIVES A CE JOUR</div>
					</div>
					<p style="padding-left: 20px; font-size: 18px; color:#3c3c3c;" class=" font_light">Combien de temps <br> mes crédits sont-ils<br>valables ?</p>
					<div class="clear_fix">
						<div class="fr right_bt_bt"><p class="font_bold">{$count}</p><p class="font_bold">amis</p><p style="color: #773453; margin-top: 22px;" class="font_bold">inscrits</p></div>
						<div class="fr center_bt_bt"><p class="font_normal" style="font-size: 13px;">30 jours</p><p style="font-size: 11px;" class="font_light">maximum</p></div>
						<div class="fr left_bt_bt"><p class="font_normal" style="font-size: 13px;">Vos crédits sont </p><p style="font-size: 13px;" class="font_light">valables pendant</p></div>
					</div>
				</div>
			</div>
						<h1 class="Title_head" style="padding-top:50px;">Comment recevoir <br> 
						des credits TopDeal?</h1>
			<div class="tag_container">
				<div class="tag_image"><img alt="" width='557px' height='283px' src="/static/img/New_refer_page_not.jpg"/></div>
				<div class="tag_content" style="top: 32px; left: 90px;">
					<p>Partagez votre lien personnel à vos amis via Facebook, Twitter, e-mail, etc. en cliquant sur les icones de partage</p>
				</div>
				<div class="tag_content" style="top: 32px; left: 358px;">
					<p>Accédez en temps réél à la liste de vos amis qui se sont enregistrés via votre lien personnel</p>
				</div>
				<div class="tag_content" style="top: 79px; left: 593px;">
					<p>Si 5 amis s'inscrivent sur TopDeal.ch, vous serez crédité de</p>
					<div class="tag_bg">CHF 10.-</div>
					<img style="margin-left: 47px;" alt="" width='44px' height='55px' src="/static/img/group1.png"/>
				</div>
				<div class="tag_content" style="top: 209px; left: 421px;">
					<p>Si 10 amis s'inscrivent, vous serez crédité de</p>
					<div class="tag_bg">CHF 20.-</div>
					<img style="margin-left: 24px;" alt="" width='79px' height='62px' src="/static/img/group2.png"/>
				</div>
				<div class="tag_content" style="top: 237px; left: 120px;">
					<p>Si 20 amis s'inscrivent, vous serez crédité de</p>
					<div class="tag_bg">CHF 40.-</div>
					<img style="margin-left: 24px;" alt="" width='81px' height='92px' src="/static/img/group3.png"/>
				</div>
			</div>
			
				<script type="text/javascript" >
					$(document).ready(function(){
						Cufon.replace('#referrals .buy_options .font_normal',{ fontFamily: 'Akkurat' });
						Cufon.replace('#referrals .Title_head, #referrals .buy_first, #referrals .buy_options .font_light',{ fontFamily: 'Akkurat Light' });
						Cufon.replace('#referrals .bt_add span, #referrals .tag_bg, #referrals .head h2, .font_bold',{ fontFamily: 'Akkurat Bold' });											
					});

				</script>
					</div>
            </div>
			
            <!-- <div class="box-bottom"></div> -->
			
        </div>
    </div>
    
</div>
</div> <!-- bd end -->

</div> <!-- bdw end -->

<!--{include footer}-->
