<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="referrals">
    <div id="content">
        <div class="box clear">
                    <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Invite and get rebate</h2></div>
                <div class="sect">
                <p class="intro">When your friend accepted your invitation and bought on {$INI['system']['sitename']} for the first time, system would add  {$INI['system']['invitecredit']} {$currency} to your {$INI['system']['sitename']} account, and you can use that in the future deals. There's no limit for invitation. More invitation, more rebate. </p>
                            <p class="login">Please <a href="/account/login.php?r={$currefer}">login</a> or <a href="/account/signup.php">register</a>，and get your exclusive link for invitation.</p>
        				                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_invitetip}-->
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
