<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd2" class="cf">
<div id="signup">
    <div id="content" class="signup-box">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>${I(Register)}</h2></div>
                <div class="sect">
                    <form id="signup-user-form" method="post" action="/account/signup.php" class="validator">
                        <div class="field email">
                            <label for="signup-email-address">E-mail</label>
                            <input type="text" size="30" name="email" id="signup-email-address" class="f-input" value="{$_POST['email']}" require="true" datatype="email|ajax" url="${WEB_ROOT}/ajax/validator.php" vname="signupemail" msg="Email incorrect format | Email has already been registered" /> 
                            <span class="hint">${I(HintEmail)}</span>
                        </div>
<!--
                        <div class="field username">
                            <label for="signup-username">${I(Username)}</label>
                            <input type="text" size="30" name="username" id="signup-username" class="f-input" value="{$_POST['username']}" datatype="limit|ajax" require="true" min="2" max="16" maxLength="16" url="${WEB_ROOT}/ajax/validator.php" vname="signupname" msg="|" />
                            <span class="hint">${I(HintUsername)}</span>
                        </div>
-->
                        <div class="field password">
                            <label for="signup-password">${I(Password)}</label>
                            <input type="password" size="30" name="password" id="signup-password" class="f-input" require="true" datatype="require" />
                            <span class="hint">${I(HintPassword)}</span>
                        </div>
                        <div class="field password">
                            <label for="signup-password-confirm">${I(RepeatPassword)}</label>
                            <input type="password" size="30" name="password2" id="signup-password-confirm" class="f-input" require="true" datatype="compare" compare="signup-password" />
                        </div>
<!--						
						<div class="field city">
                            <label id="enter-address-city-label" for="signup-city">${I(YourRegion)}</label>
							<select name="city_id" class="f-city">${Utility::Option(Utility::OptionArray($allcities,'id','name'), $city['id'])}<option value='0'>other</option></select>
                        </div>
						 <div class="field subscribe">
                            <input tabindex="3" type="checkbox" value="1" name="subscribe" id="subscribe" class="f-check" checked="checked" />
                            <label for="subscribe">${I(SubscribeEmail)}</label>
                        </div>
-->
						<div style="width:500px; margin-left: 183px" class="field subscribe">
                            <span style="margin-top:-7px" class="fl"><input tabindex="4" type="checkbox" value="1" name="term" class="f-check" checked="checked" /></span>
                            <span><label for="subscribe">${I(Term)}</label></span>
                        </div>                        

                        <div class="act" style="margin-left: 183px">
                            <input type="submit" value="${I(Register)}" name="commit" id="signup-submit" class="formbutton" style="background: #7f2452; width: 150px; border-radius: 6px;"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
        <div class="sbox">
            <div class="sbox-top"></div>
            <div class="sbox-content">
                <div class="side-tip">
                    <h2>${I(AlreadyRegister)}<h2>
                    <p>${I(ClickLogin)}</p>
                </div>
            </div>
            <div class="sbox-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
</div>
<!--{include footer}-->
