<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="login">
    <div id="content" class="login-box">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2>${I(Login)}</h2><span>&nbsp;${I(or)} <a href="/account/signup.php">${I(Register)}</a></span>
				</div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="/account/login.php" class="validator">
                        <div class="field email">
                            <label for="login-email-address">${I(Email)}</label>
                            <input type="text" size="30" name="email" id="login-email-address" class="f-input" value="" require="true" datatype="require|limit" min="2" />
                        </div>
                        <div class="field password">
                            <label for="login-password">${I(Password)}</label>
                            <input type="password" size="30" name="password" id="login-password" class="f-input" require="true" datatype="require" />
                            <span class="lostpassword"><a href="/account/repass.php">${I(ForgotPassword)}?</a></span> 
                        </div>
                        <div class="field" style="margin-left:110px">
                            <input type="checkbox" value="1" name="auto-login" id="autologin" class="f-check" checked />
                            <label for="autologin">${I(AutoLogin)}</label>
                        </div>
						<div align="left" style="padding: 10px 0px;">
							   <input type="checkbox" value="checked" class="required checkbox" name="cond" id="check-cond">
										 J'accepte les <a target="_blank" href="/topdeal_prod/about/terms.php" style="text-decoration: underline;">conditions générales</a> et de <a target="_blank" href="/topdeal_prod/about/privacy.php" style="text-decoration: underline;">confidentialité</a>
								   
							 <label><em class="required"></em> </label>
						</div>						
                        <div class="act">
                            <input type="submit" value="${I(Login)}" name="commit" id="login-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
        <div class="sbox">
            <div class="sbox-top"></div>
            <div class="sbox-content">
                <div class="side-tip">
                    <h2>${I(UnRegister)}</h2>

                    <p><a href="/account/signup.php">${I(Register30)}</a></p>
                </div>
            </div>
            <div class="sbox-bottom"></div>
        </div>
    </div>
</div>
    </div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
