<!--{include html_header}-->
<div class='account'>
<div class="container-fluid">
		<div class="row deal-header text-uppercase text-center">			
			<h1 class="big-heading">MOT DE PASSE OUBLIÉ</h1>			
		</div>
	</div>
    <div class="container-fluid grey-block mrb-40">
		<div class="container">				
			<div class="sign-block">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<p>Réinitialisation du mot de passe effectuée avec succès!</p>
						<p class="text-center"><img src="/static/images/mail_sent.png"/></p>
						<p>Un e-mail a été envoyé à l'adresse <?php echo Session::Get('reemail',true); ?>.</p>
						<p>Cliquez sur le lien dans l'e-mail pour changer votre mot de passe.</p>
					</div>
				</div>
			</div>
		</div>	
	</div><!-- Hot deal -->	
</div>
<!--{include html_footer}-->