<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>SMS verification code</h3>
	<p class="info" id="smssub-dialog-display-id">SMS verification code has been sent to you. <br/> Please type the code！</p>
	<p class="notice">Verification code has been sent to your mobile:<span style="font-weight:bold; color:#F00;">{$mobile}</span></p>
	<p class="notice" style="margin-top:15px;">Authentication Code：<input id="smssub-dialog-input-secretcode" type="text" name="captchacode" style="text-transform:uppercase;" class="f-input" maxLength="6" /></p>
	<p class="notice" style="margin:20px 4em;" ><input id="smssub-dialog-query" class="formbutton" value="yes" name="query" type="submit" onclick="smssub_submit();"/></p>
</div>

<script type="text/javascript">
function smssub_submit() {
	var secretcode = trim(jQuery('#smssub-dialog-input-secretcode').val());
	if(secretcode == '') {
		alert('Verification code must be typed');
		jQuery('#smssub-dialog-input-secretcode').focus();
	} else {
		X.get(WEB_ROOT + "/ajax/sms.php?action=codeyes&mobile="+{$mobile}+"&secretcode="+secretcode+"&r="+ Math.random());
		jQuery('#smssub-dialog-input-secretcode').val('');
		jQuery('#smssub-dialog-input-secretcode').focus();
	}
}

function trim(str) {
	return str.replace(/^\s*(.*?)[\s\n]*$/g, '$1');
}
</script>
