<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>SMS subscribe</h3>
	<p class="info" id="smssub-dialog-display-id">Subscription of {$city['name']} succeeded！<br><span style="font-size:12px; color:gray;"> You can cancel subscription at any time.</span></p>
</div>
