<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
  <h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Fermer </span>Vérifier et valider les {$INI['system']['couponname']}</h3>
  <p class="info" id="coupon-dialog-display-id">Entrez le No. du bon et le PIN correspondant</p>
  <p class="notice">No. du bon：
    <input id="coupon-dialog-input-id" value="${Session::Get('consume_id',true)}" type="text" name="id" class="f-input" style="text-transform:uppercase;" maxLength="12" onkeyup="X.coupon.dialoginputkeyup(this);" />
  </p>
  <p class="notice">PIN du bon：
    <input id="coupon-dialog-input-secret" value="${Session::Get('consume_secret',true)}" type="text" name="secret" style="text-transform:uppercase;" class="f-input" maxLength="8" onkeyup="X.coupon.dialoginputkeyup(this);" />
  </p>
  <p class="act">    
	<input id="coupon-dialog-consume-more" name="consume" class="formbutton" value="Valider"  ask="Ce bon n'est utilisable qu'une seule fois, êtes-vous sûr de vouloir le valider?"  type="submit" onclick="X.coupon.dialogconsume_more();" callback="X.coupon.clearform"/>
  </p>
</div>
<script type="text/javascript">
setTimeout(function(){
	document.getElementById("coupon-dialog-input-id").focus();	
	$('#coupon-dialog-input-id, #coupon-dialog-input-secret').keypress(function(event){
		if (event.keyCode == 13)  {
			$('#coupon-dialog-consume-more').trigger('click');
		}
	});
}, 1000);
</script>
