<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>Unsubscribe SMS</h3>
	<p class="info" id="smssub-dialog-display-id">Your mobile number<span style="color:#F00;font-weight:bold;">{$mobile}</span><br>has successfully cancelled SMS subscription！</p>
</div>
