<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span></h3>
	<p class="info">Please pay on the webpage you just opened.</p>
	<p class="notice">Don't close this window before you pay.<br> After paying, please click the following button according to your need.</p>
	<p class="act"><input id="order-pay-dialog-succ" class="formbutton" value="paid" type="submit" onclick="location.href=WEB_ROOT + '/order/pay.php?id={$order_id}';" />&nbsp;&nbsp;&nbsp;<input id="order-pay-dialog-fail" class="formbutton" value="paying meets trouble" type="submit" onclick="location.href=WEB_ROOT + '/order/pay.php?id={$order_id}';" /></p>
	<p class="retry"><!--{if $order_id=='charge'}--><a href="/credit/charge.php"><!--{else}--><a href="/order/check.php?id={$order_id}"><!--{/if}-->&raquo; back to turn to other means of payment.</a></p>
</div>
