<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:710px;">
<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>{$INI['system']['abbreviation']} Fast login and registration</h3>

<div id="content">
	<div id="signup" style="position:relative;">
	<div id="deal-buy-login">
		<h3>Have a {$INI['system']['abbreviation']} account?</h3>
		<form action="/account/login.php" method="post" id="deal-buy-form-login" class="validator">
		<div id="deal-buy-login-form">
			<p><span>Email</span><input type="text" class="f-input" id="deal-buy-email" name="email" size="30" datatype="email" require="true" /></p>

			<p><span>Password</span><input type="password" class="f-input" name="password" size="30" datatype="require" require="true" /></p>
			<p class="act">
				<input type="submit" class="formbutton" name="login" value="login"/>
			</p>
		</div>
		</form>
	</div>
</div>

<div class="box" id="deal-buy-box">
	<div class="nobox-top"></div>
	<div class="nobox-content">
		<div class="head"><h2>Please login or register<span> Fast registration needs only 30 seconds.</span></h2></div>
		<div class="sect">
			<form action="/account/signup.php" method="post" id="deal-buy-form-signup" class="validator">
				<div class="field email">
					<label for="signup-email-address">Email</label>

					<input type="text" class="f-input" size="30" name="email" id="signup-email-address" require="true" datatype="email" />
					<span class="hint">For login and getting back your password. It'll be safe with us.</span>
				</div>
				<div class="field username">
					<label for="signup-username">Username</label>
					<input type="text" class="f-input" size="30" name="username" id="signup-username" datatype="require" require="true" />
					<span class="hint">4-16 characters</span>
				</div>
				<div class="field password">
					<label for="signup-password">Password</label>
					<input type="password" size="30" name="password" id="signup-password" class="f-input" datatype="require" require="true" />
					<span class="hint">at least 4 characters</span>
				</div>
				<div class="field password">
					<label for="signup-password-confirm">Confirm password</label>
					<input type="password" size="30" name="password2" id="signup-password-confirm" class="f-input" datatype="compare" require="true" compare="signup-password" />
				</div>
				<div class="act" style="margin-left:110px;">
					<input type="submit" value="Submit" name="commit" id="signup-submit" class="formbutton"/>
				</div>
			</form>
		</div>
	</div>
	<div class="nobox-bottom"></div>
</div>

</div>
</div>
