<!--{include biz_html_header}-->
<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
	// General options
	mode : "textareas",
	theme : "advanced",
	plugins : "safari,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras",

	// Theme options
	theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
	theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,insertdate,inserttime,preview,|,forecolor,backcolor",
	theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
	theme_advanced_buttons4 : "rtlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,code,|,insertfile,insertimage",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_statusbar_location : "bottom",
	theme_advanced_resizing : true

	// Example content CSS (should be your site CSS)
	//content_css : "css/example.css",

	// Drop lists for link/image/media/template dialogs
	//template_external_list_url : "js/template_list.js",
	//external_link_list_url : "js/link_list.js",
	//external_image_list_url : "js/image_list.js",
	//media_external_list_url : "js/media_list.js",

	// Replace values for the template plugin
	//template_replace_values : {
	//	username : "Some User",
	//	staffid : "991234"
	//}
});
</script> 
<?php
parse_str($_SERVER['QUERY_STRING'], $query_string);
$query_string['tr'] = 'fr';
$rdr_str = http_build_query($query_string);
$frLink = $INI['system']['wwwprefix'] . '/' . "?".$rdr_str;

$query_string['tr'] = 'en';
$rdr_str = http_build_query($query_string);
$enLink = $INI['system']['wwwprefix'] . '/' . "?".$rdr_str;

/*  Important to chang language french only added line below */
$LC = $_SESSION['tr'] = $lang = "fr";
?>

<div id="header" class="header clear_fix">    
        <div class="banner clear_fix">
			<!--{if is_partner()}-->
			<ul class="account_info fr" style="margin: 0;">
				<li class="username">${I('Welcome')} <strong>{$login_partner['title']}!</strong> | <a href="/biz/logout.php">${I('Logout')}</a></li>
			</ul>
			<a href="javascript:;" id="verify-coupon-id">VÉRIFIER ET VALIDER</a>
			<!--{/if}-->
            <div class="logo fl">
                <a href="/index.php" class="link"><img src="/static/img/logo.png" alt="TopDeal.ch"></a>
            </div>
            
         </div>
        <div class="navigation">
            <ul id="top-nav" class="clear_fix">
						${current_biz()}
					</ul>
        </div>
</div>
<!--{if $session_notice=Session::Get('notice',true)}-->
<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p>{$session_notice}</p><span class="close">close</span></div></div> 
<!--{/if}-->
<!--{if $session_notice=Session::Get('error',true)}-->
<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p><span class="close">close</span></div></div> 
<!--{/if}-->
<script>
    jQuery(document).ready(function($){
        $('#top-nav').css('width', '450px');
    });
    </script>