<!--{include biz_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="biz">
    <div id="content" class="biz">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
              <div class="head"><h2>LOGIN PARTENAIRE</h2></div>
                <div class="sect">
                    <form id="biz-user-form" method="post" action="/biz/login.php" class="validator">
                        <div class="field">
                            <label for="biz-login">Login</label>
                            <input type="text" size="30" name="username" id="biz-username" class="f-input" datatype="require" require="true" />
                        </div>
                        <div class="field">
                            <label for="biz-password">password</label>
                            <input type="password" size="30" name="password" id="biz-password" class="f-input" datatype="require" require="true" />
                        </div>
                        <div class="field">
                            <input tabindex="3" type="checkbox" value="1" name="remember_me" id="remember_me" class="f-check" {$sselect} />&nbsp;&nbsp;
                            <label style="float: left;" for="subscribe">Remember me</label>
                        </div>
                        <div class="act">
                            <input type="submit" value="login" name="commit" id="login-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
                            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
