<!--{include biz_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>${I('PartbizInfo')}</h2></div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="/biz/settings.php" class="validator">
					<input type="hidden" name="id" value="{$partner['id']}" />
						<div class="wholetip clear"><h3>1 ${I('LgonInfo')}</h3></div>
                        <div class="field">
                            <label>${I('Username')}</label>
                            <input type="text" size="30" name="username" id="partner-create-username" class="f-input" value="{$partner['username']}" readonly/>
                        </div>
                        <div class="field password">
                            <label>${I('NewPass')}</label>
                            <input type="password" size="30" name="password" id="settings-password" class="f-input" />
					<!--{if $lang=="en"}-->
						<span class="hint">If you're not going to change it, please keep it blank.</span>
					<!--{elseif $lang =='fr'}--> 
						<span class="hint">Laissez vide si vous ne désirez pas changer de mot de passe.</span>			
					<!--{/if}-->							
                            
                        </div>
                        <div class="field password">
                            <label>${I('ConNewPass')}</label>
                            <input type="password" size="30" name="password2" id="settings-password-confirm" class="f-input" />
                        </div>

						<div class="wholetip clear"><h3>2 ${I('BasicSetting')}</h3></div>
                        <div class="field">
                            <label>${I('BizName')}</label>
                            <input type="text" size="30" name="title" id="partner-create-title" class="f-input" value="{$partner['title']}" datatype="require" require="ture"/>
                        </div>
                        <div class="field">
                            <label>${I('WebsiteURL')}</label>
                            <input type="text" size="30" name="homepage" id="partner-create-homepage" class="f-input" value="{$partner['homepage']}"/>
                        </div>
                        <div class="field">
                            <label>${I('PersonToCont')}</label>
                            <input type="text" size="30" name="contact" id="partner-create-contact" class="f-input" value="{$partner['contact']}"/>
						</div>
                        <div class="field">
                            <label>${I('Location')}</label>
                            <input type="text" size="30" name="address" id="partner-create-address" class="f-input" value="{$partner['address']}" datatype="require" require="ture" />
						</div>
                        <div class="field">
                            <label>${I('PhoneNumber')}</label>
                            <input type="text" size="30" name="phone" id="partner-create-phone" class="f-input" value="{$partner['phone']}" maxLength="12" datatype="require" require="ture"/>
						</div>
                        <div class="field">
                            <label>${I('Mobile')}</label>
                            <input type="text" size="30" name="mobile" id="partner-create-mobile" class="f-input" value="{$partner['mobile']}" maxLength="11" />
						</div>
                        <div class="field">
                            <label>${I('Address')}</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="location" id="partner-create-location" class="f-textarea">${htmlspecialchars($partner['location'])}</textarea></div>
						</div>
                        <div class="field">
                            <label>${I('OtherInfo')}</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="other" id="partner-create-other" class="f-textarea">${htmlspecialchars($partner['other'])}</textarea></div>
						</div>

						<div class="wholetip clear"><h3>3 ${I('Bank')}</h3></div>
                        <div class="field">
                            <label>${I('AccBank')}</label>
                            <input type="text" size="30" name="bank_name" id="partner-create-bankname" class="f-input" value="{$partner['bank_name']}" readonly />
                        </div>
                        <div class="field">
                            <label>${I('AccName')}</label>
                            <input type="text" size="30" name="bank_user" id="partner-create-bankuser" class="f-input" value="{$partner['bank_user']}" readonly />
                        </div>
                        <div class="field">
                            <label>${I('BankNo')}</label>
                            <input type="text" size="30" name="bank_no" id="partner-create-bankno" class="f-input" value="{$partner['bank_no']}" readonly />
                        </div>
                        <div class="act">
                            <input type="submit" value="${I('Confirm')}" name="commit" id="partner-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
