<!--{include biz_header}-->
 
<div id="bdw" class="bdw">
<div id="bd" class="cf"> 
<div id="coupons"> 
    <div id="content" class="coupons-box clear mainwide"> 
		<div class="box clear"> 
            <div class="box-top"></div>
            <div class="box-content"> 
                <div class="head"> 
                    <h2>${I('BonList')} {$INI['system']['couponname']}</h2>				
				</div>
				<div class="sect coupons-filter">
					<form action="/biz/coupon.php" method="get">Deal<input type="text" class="h-input" name="title" value="${htmlspecialchars($title)}" >&nbsp;<input type="submit" value="select" class="formbutton" style="padding:1px 6px; margin-right: 120px;" />coupon No. <input type="text" class="h-input" name="coupon" value="${htmlspecialchars($coupon)}" >&nbsp;<select name="state">${Utility::Option($option_state, $state, '--all--')}</select><input type="submit" value="select" class="formbutton" style="padding:1px 6px;"/></form>
                </div>
				<div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="100" nowrap>No.</th>
                                                    <th width="450">Deal</th>
                                                    <th width="160">Date</th>
                                                    <th width="60" nowrap>Revenue</th>
                                                    
                                                    <th width="160">${I('State')}</th>
                                                <th width="100">Action</th></tr>
					<!--{loop $statements $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td>{$one['id']}</td>
							<td><!--{$one['team_id']}-->&nbsp;(<a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">
							<!--{if $lang=="en"}-->
								{$teams[$one['team_id']]['title']}
							<!--{elseif $lang =='fr'}-->
								{$teams[$one['team_id']]['title_fr']}
							<!--{/if}-->							
							</a>)
							</td>
                                                        <td nowrap>${date('d-m-Y', $one['create_time'])}</td>
                                                        <td></td>
							<td nowrap><!--{if $one['status']==1}-->[New]<!--{elseif $one['status'] == 2}-->[New - Paid]<!--{elseif $one['status'] == 4}-->Paid<!--{/if}--></td>
                                                        <td><a href="/biz/statement_view.php?id={$one['id']}">View</a> | <a href="/biz/statement_view.php?id={$one['id']}&action=print">Print</a></td>
						</tr>	
					<!--{/loop}-->
						<tr><td colspan="6">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
