<!--{include biz_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>${I('ListOfDeals')}</h2>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="500">${I('ListOfDeals')}</th><th width="80">${I('BizCity')}</th><th width="100">Date</th><th width="100">Bons vendus</th><th width="50">Bons validés</th><th width="50">${I('BizPrice')}</th>
                                        
                                        </tr>
					<!--{loop $teams $index $one}-->
					<!--${$one['state'] = team_state($one)}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td style="text-align:left;">
						<a class="deal-title" href="/team.php?id={$one['id']}" target="_blank">
						{$one['title']}					
						</a></td>
						<td>{$cities[$one['city_id']]['name']}</td>
						<td>${date('Y-m-d',$one['begin_time'])}<br/>${date('Y-m-d',$one['end_time'])}</td>
                                                <td>{$one['total']}</td>
						<td>{$one['validated']}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['team_price'])}<br/><span class="money">{$currency}</span>${moneyit($one['market_price'])}</td>
						
					</tr>
					<!--{/loop}-->
					<tr><td colspan="6">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
 <!--{if Session::Get('consume_id')}-->
<script type='text/javascript'>
    $(function(){		
        $('#verify-coupon-id').click();		
    });   
</script>					
<!--{/if}-->
<!--{include manage_footer}-->
