<!--{if $team}-->
<div class="sbox side-Business">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip today-deal">
			<h2>Today's deal</h2>
			<h4><a href="/team.php?id={$team['id']}" title="${htmlspecialchars($team['title'])}" target="_blank">${mb_strimwidth($one['title'],0,128,'...')}</a></h4>
			<div class="info"><div class="deal-pic"><a href="/team.php?id={$team['id']}" title="${htmlspecialchars($team['title'])}" target="_blank"><img width="200" height="121" src="${team_image($team['image'], true)}" /></a></div><p class="total"><strong class="count">{$team['now_number']}</strong> bought</p><p class="price"> Value：<strong class="old"><span class="money">{$currency}</span>${moneyit($team['market_price'])}</strong> Discount：<strong class="discount">${team_discount($team)} off</strong><br />Price：<strong><span class="money">{$currency}</span>${moneyit($team['team_price'])}</strong>Save：<strong><span class="money">{$currency}</span>${$team['market_price']-$team['team_price']}</strong><br /></p></div>
			<p class="buy"><a href="/team.php?id={$team['id']}"><img width="96" height="38" src="http://s0.meituan.com/css/i/button-buy-hurry.png" /></a></p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
<!--{/team}-->
