<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'197adea3-a0ff-4dec-9b1c-3ed5342a5c0b'});</script>
<div id="deal-share">
	<div class="deal-share-top">
		
		
		<div class="deal-share-links">
			
			

				  <!-- AddThis Button BEGIN 
<div class="addthis_toolbox addthis_default_style">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4cb9a349408ca125" class="addthis_button_compact">Share</a>
<span class="addthis_separator">|</span>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
</div>
 AddThis Button END -->	<h4>Partagez via!</h4>
                  <span class="st_twitter_large" displayText="Tweet"></span><span class="st_facebook_large" displayText="Facebook"></span><span class="st_ybuzz_large" displayText="Yahoo! Buzz"></span><span class="st_gbuzz_large" displayText="Google Buzz"></span><span class="st_email_large" displayText="Email"></span><span class="st_sharethis_large" displayText="ShareThis"></span>
        </div>
	</div>
	<div class="deal-share-fix"></div>
	<div id="deal-share-im-c">
		<div class="deal-share-im-b">
			<h3>Copy the following content and send it to your friends on Chat:</h3>
			<p><input id="share-copy-text" type="text" value="{$INI['system']['wwwprefix']}/team.php?id={$team['id']}&r={$login_user_id}" size="30" class="f-input" tip="copy done, please send it on Chat to your friends."/> <input id="share-copy-button" type="button" value="copy" class="formbutton" /></p>
		</div>
	</div>
</div>
