<div class="sbox">
  <div class="sbox-top"></div>
  <div class="sbox-content">
    <div class="credit">    
			<div class="clear_fix" style="padding-left: 2px;">
				<h3>RETROUVEZ NOUS SUR</h3>
				<a target="_blank" href="http://www.facebook.com/TopDeal.ch" class="social facebook">&nbsp;</a>
				<a target="_blank" href="http://www.linkedin.com/company/topdeal-s-a-" class="social linkedin">&nbsp;</a>
				<a target="_blank" href="http://twitter.com/#!/topdealch" class="social twitter">&nbsp;</a>
				<a target="_blank" href="http://topdealch.tumblr.com/" class="social tumblr">&nbsp;</a>
			</div>
		</div>
  </div>
</div>

