<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip">
			<h3 class="first">Quand puis-je imprimer mes  {$INI['system']['couponname']}?</h3>
		  <p>Les {$INI['system']['couponname']} seront disponibles sur cette &eacute;cran une fois l'offre correspondante valid&eacute;e. Vous pourrez alors imprimer vos bons en cliquant sur le lien &quot; Imprimer&quot;</p>
		  <h3>Comment utiliser vos {$INI['system']['couponname']}?</h3>
			<p>Imprimez vos {$INI['system']['couponname']} et pr&eacute;sentez-les au partenaire correspondant. Les instructions sont &eacute;galement expliqu&eacute;es sur les {$INI['system']['couponname']}</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
