<!--${
	$ask_con = array('length(comment)>0');
	if(option_yes('teamask')) { $ask_con[] = 'team_id > 0'; } 
	else { $ask_con['team_id'] = $id; }
	$ask_count = Table::Count('ask', $ask_con);
	$asks = DB::LimitQuery('ask', array('condition'=>$ask_con, 'size'=>3, 'order'=>'ORDER BY id DESC'));
}-->
<div class="deal-consult sbox">
	<div class="sbox-bubble"></div>
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="deal-consult-tip">
			<h2>Q & A of this deal</h2>
			<p class="nav"><a href="/team/ask.php?id={$team['id']}">check all({$ask_count})</a> | <a href="/team/ask.php?id={$team['id']}#post">I want to ask</a></p>
			<ul class="list">
			<!--{loop $asks $one}-->
				<li><a href="/team/ask.php?id={$team['id']}#ask-entry-{$one['id']}" target="_blank">${htmlspecialchars(mb_substr($one['content'],0,30,'UTF-8'))}...</a></li>
			<!--{/loop}-->
			</ul>

		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
