<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="cardcode">
			<h2>Do you have vouchers? </h2>
			<p>Maximum voucher value that can be used is ：<span class="current">{$currency}</span>{$team['card']}</p>
			<p>There is no change for the voucher consumption. </p>
			<a href="javascript:void(0);" id="cardcode-link">Click and type in your voucher code </a>
			<p id="cardcode-link-t" class="act">
				<input id="cardcode-card-id" class="f-input" type="text" name="cardcode" maxLength="16" style="text-transform:uppercase;" />
				<input id="cardcode-order-id" type="hidden" name="order_id" value="{$order['id']}"/>
				<input id="cardcode-verify-id" type="button" class="formbutton" value="Verify" />
			</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
