<div class="sbox side-invite-tip">

	<div class="sbox-top"></div>
	<div class="sbox-content">
	<div style="text-align:center">
	</div>
		<div class="tip">
			<h2>Invite and get rebate </h2>
			<p class="text">Invite your friend and get <strong><span class="money">{$currency}</span>${abs(intval($INI['system']['invitecredit']))}</strong> rebate. </p>
			<p class="link"><a href="/account/invite.php">&raquo;&nbsp;Click here to get the invitation link exclusive for you. </a></p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
