<!--${
$others_side_ns = abs(intval($INI['system']['sideteam']));
$others_team_id = abs(intval($team['id']));
$others_city_id = abs(intval($city['id']));
$others_now = time();
if ( abs(intval($INI['system']['sideteam'])) ) {
	$oc = array( 
			'city_id' => array($others_city_id, 0), 
			'team_type' => 'normal',
			"id <> '$others_team_id'",
			"begin_time < '$others_now'",
			"end_time > '$others_now'",
			);
	$others = DB::LimitQuery('team', array(
				'condition' => $oc,
				'order' => 'ORDER BY `sort_order` DESC, `id` DESC',
				'size' => $others_side_ns,
				));
}
}-->
<!--{if $others}-->
<div class="sbox side-Business">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip">
		<h2>Today's side deals...</h2>
		<!--${$index=0}-->
		<!--{loop $others $one}-->
			<b>${++$index}、{$one['title']}</b>
			<!--{if $one['image']}--><p><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->"><img src="${team_image($one['image'], true)}" width="195" border="0" /></a></p><!--{/if}-->
			<p><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->">&raquo;&nbsp;Click to check detailed information</a></p>
		<!--{/loop}-->
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
<!--{/if}-->
