<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip">
			<h3 class="first">QU'EST-CE QUE LE SOLDE DE MON COMPTE? </h3>
		  <p>Cela représente le montant disponible pour un prochain achat sur {$INI['system']['sitename']}.</p>
	    <h3>COMMENT RECEVOIR DES CREDITS TOPDEAL? </h3>
			<p>Invitez vos amis et partagez votre lien personnel afin de bénéficier de plus de réductions. Plus d'informations sur l'onglet &quot;inviter des amis&quot;.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
