<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="credit">
			<h2>${I(Account_Balance)}</h2>
			<p>${I(YAB)}：<span class="money">{$currency}</span>${moneyit($login_user['money'])}</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
