<div class="sbox">
  <div class="sbox-top"></div>
  <div class="sbox-content">
    <div class="credit" style="text-align:center;">
			<h3><a href="http://www.facebook.com/TopDeal.ch?sk=app_190322544333196" style="font-size:11px;">CONCOURS IPHONE 4S</a></h3>
			<a href="http://www.facebook.com/TopDeal.ch?sk=app_190322544333196"><img src="/static/img/iphone4s.png"/></a>
			<p><strong>Gagnez un iPhone 4s via notre page facebook</strong></p>
			<a href="http://www.facebook.com/TopDeal.ch?sk=app_190322544333196"><img src="/static/img/participer.png"/></a>
    </div>
  </div>
</div>

