<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip referrals-side">
			<h3 class="first">Where can I see my rebate?</h3>
			<p>If your invitation succeeded, you would see a list of successful invitations. On the right of "Account setting page", you can see your account balance. Rebate can not be withdrawn, but can be used in future deals.</p>
			<h3>My friend has registered a {$INI['system']['abbreviation']} account, can I still invite her/him to buy?</h3>
			<p>As long as it's the first buy, you will get rebate. Whether your friend has registered {$INI['system']['abbreviation']} account or not doen't matter.</p>
			<h3>Under what cirmstances will my invitation be invalid? </h3>
			<ul class="invalid">

			<li>Your friend bought a deal 72 hours after she/he clicked the invitation link.</li>
			<li>Your friend clicked other invitation link before she/he bought.</li>
			<li>This is not the first time that your friend has bought a deal product.</li>
			<li>Because this deal's buyers hadn't met the minimum limit, this deal has been cancelled.</li>
			</ul>
			<h3>Can I get rebate by inviting myself?</h3>

			<p>No。We would examine the invitation carefully. If you cheat in inviting, your invitation would be rejected and you won't get rebate.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
