<div class="sbox side-Business-tip">
	<div class="sbox-bubble"></div>
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip">
		   <h2>Business Cooperation</h2>
		   <p class="text">Get your deals On {$INI['system']['sitename']}!<a href="/feedback/seller.php">Contact</a></p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
