<div style="text-align:center" class="connect">
    <!--{if $login_user}-->
    <!--{else}-->
        <div>
            <?php include WWW_ROOT. "/fb_connector.php"; ?>
        </div>
        <div>
            <a href="/redirect.php"><img src="/tw_connect/images/lighter.png"  alt="Twitter Connect"/></a>
        </div>
      <!--{/if}-->
</div>
<div class="Iframe">
	<fb:like-box href="https://www.facebook.com/pages/NoOpYcH/193603067335604?" width="160" height="287" style="border: solid 1px #F0F1F2;"  show_faces="true" stream="false" header="false"></fb:like-box> 
</div>
