<!--{if trim(strip_tags($INI['bulletin'][0]))}-->
<div class="sbox side-Business">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip">
			<h2>Site Annoucements</h2>
			<div>{$INI['bulletin'][0]}</div>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
<!--{/if}-->

<!--{if $city['id']&&trim(strip_tags($INI['bulletin'][$city['id']]))}-->
<div class="sbox side-Business">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip">
			<h2>{$city['name']}Annoucements</h2>
			<div>{$INI['bulletin'][$city['id']]}</div>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
<!--{/if}-->
