<!--${
$contest_city_id = $city['id'];
$contest_now = time();
$oc = array( 
		'city_id' => $contest_city_id, 
		"start_time < '$contest_now'",
		"end_time > '$contest_now'",
		);
$contest = DB::LimitQuery('contest', array(
			'condition' => $oc,
			'order' => 'ORDER BY `id` DESC LIMIT 1' ,
			));
}-->
<!--{if $contest}-->
<div class="BoxCorner">
	<div class="BgTL">
		<div class="BgTR">
			<div class="BgTM">
			</div>
		</div>
	</div>
	<div class="BGM BoxTable">
		<h2><!--${$cname = ucfirst($city['name'])}-->{$cname} Contest</h2>
		<div>
			<ul>
			<!--{loop $contest $index $one}-->
			<li><a href="/contest/index.php?id={$one['id']}">{$one['title']}</a></li>
			<!--{/loop}-->
			</ul>
		</div>
	</div>	
	<div class="BgBL">
		<div class="BgBR">
			<div class="BgBM">
			</div>
		</div>
	</div>
</div>
<!--{/if}-->