<!--{if $INI['system']['googlemap']&&$partner['longlat']}-->
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key={$INI['system']['googlemap']}" type="text/javascript"></script>
<script type="text/javascript">
window.x_init_hook_gmp = function() {
	X.misc.showgooglemap = function() {
		X.get(WEB_ROOT+'/ajax/system.php?id={$partner['id']}&action=showgooglemap');
	};
};
</script>
<div class="mapbody map"><img src="http://maps.google.com/maps/api/staticmap?zoom=12&size=194x194&maptype=roadmap&mobile=true&markers={$partner['longlat']}&sensor=false&language=en" /><a class="link" href="javascript:;" onclick="X.misc.showgooglemap();" title="click to check the complete map">Complete Map</a></div>
<!--{/if}-->
