<!--${
$contest_city_id = $city['id'];
$contest_now = time();
$oc = array( 
		'id' => $cid, 
		"start_time < '$contest_now'",
		"end_time > '$contest_now'",
		);
$contest = DB::LimitQuery('contest', array(
			'condition' => $oc,
			'order' => 'ORDER BY `id` DESC LIMIT 1' ,
			));
}-->

<!--{if $contest}-->
<div class="sbox side-Business">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip" style="margin-left:10px;">
		<form action="/contest/index.php" method="post">
			<input type="hidden" name="contest_id" value="{$cid}" />
			<input type="hidden" name="my_vote" value="1" />
			<!--{loop $contest $index $one}-->
			<h2>{$one['title']}</h2>
			<div><!--${$ddeals = explode('|',$one['deals'])}-->			
					<!--${$i = 0}-->
					<!--{loop $ddeals $i $dd}-->
					<!--{if $dd}-->
					<!--${$j = $i + 1}-->
					<input type="radio" name="deal_id" value="{$dd}"> Deal {$j}<br />
					<!--{/if}-->
					<!--{/loop}-->			
			</div>
			<input type="submit" value="Vote" />
			<!--{/loop}-->			
		</form>	
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
<!--{/if}-->