<!--${
$logos = DB::LimitQuery('friendlink', array(
			'condition' => array( 'LENGTH(logo)>0' ),
			'order' => 'ORDER BY sort_order DESC',
			));
$texts = DB::LimitQuery('friendlink', array(
			'condition' => array( 'LENGTH(logo)=0',),
			'order' => 'ORDER BY sort_order DESC',
			));
}-->
<div class="sbox side-Business-tip">
	<div class="sbox-bubble"></div>
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip">
		   <h2>friendlink </h2>
			<div class="link">
			<!--{loop $logos $one}-->
				<a href="{$one['url']}" title="{$one['title']}" target="_blank"><img src="{$one['logo']}" alt="{$one['title']}" /></a>
			<!--{/loop}-->
			</div>
			<div class="cl"></div>
			<div id="txt_link">
			<!--{loop $texts $one}-->
				<a href="{$one['url']}" title="{$one['title']}" target="_blank">{$one['title']}</a>
			<!--{/loop}-->
			</div>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
