﻿<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip referrals-side">
			<h3 class="first">Définition des différents statuts de vos invitations:</h3>
			<ul class="invalid">
				<li> En attente: vous avez invité un ami à s’enregistrer mais il ou elle n’a pas encore acheté de NoOpY.</li>
				<li>Rabais accordé: vous pouvez maintenant utilisé votre rabais sur un prochain achat.</li>
				<li> Rabais à recevoir: votre ami a effectué un achat sur NoOpY.cH et vous recevrez votre rabais dans les 24 heures.</li>
				<li> Invalide: l’invitation n’a pas pu être approuvée car les informations de votre ami ont déjà été enregistrées.</li>

				<li>Expirée: votre ami n’a pas effectué d’achat dans les 7 jours suivant votre invitation</li>
			</ul>
			<h3>Puis-je obtenir un rabais en m’inviter moi-même?</h3>
			<p>Ce n’est malheureusement pas possible, dans ce cas là, l’invitation ne sera pas validée.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
