﻿<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip referrals-side">
			<h3 class="first">Comment recevoir des crédits TopDeal:</h3>
			<ul class="invalid">
				<li> Partagez votre lien personnel à vos amis via Facebook, Twitter, e-mail, etc. en cliquant sur les icones de partage</li>
				<li>Accédez en temps réél à la liste de vos amis qui se sont enregistrés via votre lien personnel</li>
				<li> Si 5 amis s'inscrivent, vous serez crédités de CHF 10.-</li>
				<li>Si 10 amis s'inscrivent, vous serez crédités de CHF 10.- supplémentaire</li>

				<li>Si 20 amis s'inscrivent, vous serez crédités de CHF 20.- supplémentaire</li>
			</ul>
	    <h3>Combien de temps mes crédits sont valables?</h3>
			<p>Vos crédits sont valables pendant 30 jours au maximum. </p>
			<p>Chaque 22 du mois, les crédits attribués avant cette date sont remis à zéro. </p>
			<p>Les crédits attribués après le 22 du mois sont valables jusqu'au 22 du mois suivant et ainsi de suite.</p>
			<p> A vous donc d'utiliser vos crédits au plus vite!</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
