<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip">
		<h3 class="first">J’ai procédé au paiement mais n’ai pas encore reçu le bon à imprimer?</h3>
		<p>Cela veut dire que le nombre d’achats requis pour ce deal n’a pas encore été atteind. Vous recevrez un E-mail dès que le deal sera validé. </p>
		<h3>Suis-je immédiatement débité lors d'un paiement sur TopDeal.ch?</h3>
		<p>Sachez que vous ne serez débité que si le deal atteind le nombre d’achat requis. Dans le cas contraire, aucune transaction ne s’effectue et donc vous ne payez rien.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
