<!--${
$contest_city_id = $city['id'];
$contest_now = time();
$oc = array( 
		'id' => $cid, 
		"start_time < '$contest_now'",
		"end_time > '$contest_now'",
		);
$contest = DB::LimitQuery('contest', array(
			'condition' => $oc,
			'order' => 'ORDER BY `id` DESC LIMIT 1' ,
			));
}-->
<div class="sidebar fl">
		<h3>CLASSEMENT DES DEALS</h3>
			<!--${	
				$vdeals = array();
			}-->		
			<!--{loop $contest $index $one}-->
			<!--${$ddeals = explode('|',$one['deals'])}-->			
				<!--${$i = 0}-->
				<!--{loop $ddeals $i $dd}-->
				<!--{if $dd}-->
					<!--${	
						$ocs = array( 
								'id' => $dd, 
								);
						$udeals = DB::LimitQuery('userdeals', array(
									'condition' => $ocs,
									'order' => 'ORDER BY `id` DESC LIMIT 1' ,
									));				
					}-->	
					<!--${	
						$tdeals = array();
					}-->
					<!--{loop $udeals $uindex $uon}-->
						
						<!--${$tdeals['title'] = $uon['title']}-->
					<!--{/loop}-->		
					
					<!--${	$condition = array(
							'contest_id' => $cid,	
							'deal_id' => $dd,
							);
							$count = Table::Count('vote_deal', $condition);	
					}-->
					<!--${$tdeals['count'] = $count}-->		
				<!--${$vdeals[] = $tdeals}-->	
				<!--{/if}-->
				<!--{/loop}-->				
			<!--{/loop}-->
			<!--${	
			  function orderBy($data, $field)
			  {
				$code = "return strnatcmp(\$a['$field'], \$b['$field']);";
				usort($data, create_function('$a,$b', $code));
				$res = array_reverse($data);
				return $res;
			  }			
			}-->																
				
			<!--${//print_r(orderBy($vdeals, 'count'))}-->	
				
			<!--${$temp = orderBy($vdeals, 'count')}-->		
			<!--{loop $temp $index $done}-->
				<!--${$k = $index+1}-->
				<div class="mn_content temps">					
					<a href="#" class="item">{$k}</a>	
					<a href="#" class="mn_item">{$done['title']}</a>	
				<p>Nombre de votes pour</p>	
				<p> ce Deal: <span style="font-size: 20px; font-weight: bold;">{$done['count']}</span></p>
				</div>							
			<!--{/loop}-->
	</div>