<form class="signupBox" id="deal-subscribe-form" method="post" action="/subscribe.php">
	<table class="address">
		<tr>
			<td class="subscribe_email">${I('Stay_in')}!</td>
		</tr>
		<tr>
			<td><div class="fl"><input style="width:120px;font-size:11px;" type="text" name="email" class="f-text" id="deal-subscribe-form-email" xtip="${I('Enter_Email')}" value="${I('Header_Login_Value')}" /></div>
<div class="fr" style="margin-left:-2px; padding-top:6px"><input type="hidden" name="city_id" value="{$city['id']}" /><input type="image" src="/static/css/i/signup-go.jpg" value="Subscribe" /></div></td>
		</tr>
	</table>
</form>
<script type="text/javascript">
$(document).ready(function(){
	$('#deal-subscribe-form-email').focus(function(){
		clearEmail(this.id);
	});
	$('#deal-subscribe-form-email').blur(function(){
		fillEmail(this.id);
	});
	
});
</script>
