<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>
			<li><a href="/account/settings.php">Profil</a></li>
			<li class="current"><a href="/account/refer.php">Crédits</a></li>
			<li><a href="#">Achats</a>
				<ul>
					<li class="first-row"><a href="/order/index.php">Payés</a></li>
					<li><a href="apayes1.php">A payes</a></li>
				</ul>
			</li>
			<li><a href="#">Bons</a></li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div class="credits-top">
		<span>Vous possédez</span><span><a href="#">{$login_user['money']}</a></span><span>crédits.</span>
	</div>
	<div id="profiles" class="content-credits">
		<h3>Une bien jolie somme, mais <span>vous voudriez en gagner plus!</span></h3>
		<div class="profiles-left">
			<form action="#" method="post" name="profiles">
				<table class="profile-info">
					<tr>
						<td><h4>Votre URL personnelle à partager avec vos amis</h4></td>
					</tr>
					<tr>
						<td><input type="text" value="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" name="url_txt" /></td>
					</tr>
					<tr>
						<td><div class="send-btn"><a href="#">Copier</a></div></td>
					</tr>
					
				</table>
			</form>
			<div class="social-share">
				<p>Partagez-là avec votre réseau:</p>
				<ul>
					<li><a href="#"><img src="/static/images/facebook-icon-03.png" width="31" height="31" alt="facebook" /></a></li>
					<li><a href="#"><img src="/static/images/twitter-icon-03.png" width="31" height="31" alt="twitter" /></a></li>
					<li><a href="#"><img src="/static/images/email-icon-03.png" width="31" height="31" alt="email" /></a></li>
				</ul>
			</div>
		</div>
		<div class="profiles-right">
			<form action="#" method="post" name="profiles">
				<table class="profile-info directly-invite">
					<tr>
						<td><h4>Ou invitez directement vos amis par email</h4></td>
					</tr>
					<tr>
						<td><input type="text" value="Email de votre ami(e)" name="email_txt_1" /></td>
					</tr>
					<tr>
						<td><input type="text" value="Email de votre ami(e)" name="email_txt_2" /></td>
					</tr>
					<tr>
						<td><input type="text" value="Email de votre ami(e)" name="email_txt_3" /> <a class="add-address" href="#"><span>Add</span></a></td>
					</tr>
					<tr>
						<td><h4>Ou invitez directement vos amis par email</h4></td>
					</tr>
					<tr>
						<td><input type="text" value="Votre nom" name="name_txt" /></td>
					</tr>
					<tr>
						<td><textarea name="message_are">Votre message</textarea></td>
					</tr>
					<tr>
						<td class="note-text"><p>Vous manquez d’inspiration? <a href="#">Utilisez notre message par défaut.</a></p></td>
					</tr>
					<tr>
						<td><div class="send-btn"><a href="credits-2.php">Envoyer</a></div></td>
					</tr>
					
				</table>
			</form>
		</div>
	</div>
	<!-- #profiles -->
	<div class="credits-bottom">
		<p>Ce texte est celui qui explique comment marche le système de crédits. Ce texte est celui qui explique comment marche le système de crédits. Ce texte est celui qui explique comment marche le système de crédits. Ce texte est celui qui explique comment marche le système de crédits. Ce texte est celui qui explique comment marche le système de crédits.</p>
		<div class="credits-reward">
			<ul>
				<li class="first-lever">5 amis inscrits grâce à vous
					<a href="#">10<span>CHF</span></a>
				</li>
				<li class="second-lever">10 amis inscrits grâce à vous
					<a href="#">20<span>CHF</span></a>
				</li>
				<li class="third-lever">20 amis inscrits grâce à vous
					<a href="#">40<span>CHF</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
