<div id="primary">
	<h2 class="pages-title">FAQs</h2>
	<div id="faqs">
		<ul class="faqs-list">
			<li>
				<h4>Qu’est-ce que TopDeal?</h4>
				<div class="faqs-content"><p>Sur TopDeal.ch, nous proposons chaque jour une offre exclusive par région avec des réductions importantes allant jusqu’à 70%. De plus chaque semaine une offre “exceptionnelle” sera publiée en parallèle.<br />Pour chaque offre, un nombre minimum de personnes souscrites est requis afin de la valider (en général 10 personnes). Nous garantissons dans ce cas un nombre minimum de clients qui nous permet de vous faire bénéficier de réductions importantes.</p></div>
			</li>
			<li>
				<h4>Comment faire pour profiter d’une offre?</h4>
				<div class="faqs-content"><p>Il vous suffit de cliquer sur le bouton « Acheter » avant que l’offre ne soit expirée. Il vous sera demandé de créer un compte si vous n’êtes pas encore enregistré. Dans le cas contraire, il vous suffit de vous connecter avec votre adresse e-mail et votre mot de passe afin de procéder à l’achat à l’aide des différents moyens de paiement proposés sur le site.<br />La valeur du bon ne sera débitée que lorsque l’offre est validée en atteignant le nombre minimum de participants requis. Dans le cas contraire, aucun paiement ne sera effectué. N’hésitez pas à parler de l’offre à vos amis et de les convaincre de vous rejoindre pour ce deal afin de le valider.<br />Lorsque le deal est validé, vous recevrez une confirmation par e-mail vous invitant à vous connecter à votre compte TopDeal pour imprimer votre bon.</p></div>
			</li>
			
		</ul>		
	</div>
	<!-- #profiles -->		
</div>