<div id="primary">
	<div class="entry-box">
		<div class="entry-header">
			<h2 class="entry-title">{$team['title']}</h2>
		</div>
		<!-- .entry-header -->
		<div class="entry-content">
			<div class="entry-summary">
				{$team['summary']}
			</div>
			<!-- .entry-summary -->
			<div class="entry-infos">
				<div class="header clearfix">
					<ul>
						<li class="topdeal-price">
							<h3>{$team['team_price']}<span>CHF</span></h3>
							<p>Prix TopDeal</span></p>
						</li>
						<li class="topdeal-discount">
							<h3><?php echo moneyit(round((100*($team['market_price'] - $team['team_price'])/$team['market_price']))); ?><span>%</span></h3>
							<p>Rabais</p>
						</li>
						<li class="topdeal-save">
							<h4>{$team['market_price']}<span>CHF</span></h4>
							<p class="mrgdt-3">Valeur</p>
							<h4><?php echo $discount_price; ?><span>CHF</span></h4>
							<p class="mrgdt-3">Economie</p>
						</li>
					</ul>
					<div class="acheter-box">
						<h3><a href="#">Acheter</a></h3>
						<div class="gift-box"> <a href="#"><img src="/static/images/gift.png" width="25" height="31" alt="" /></a> </div>
					</div>
				</div>
				<div class="thumb-box"> 
					<?php if($team['image']){?><img src="<?php echo team_image($team['image']); ?>" width="718" height="292" /><?php } ?>
					<div class="gift-box"> <a href="#" class="add-cart"><span>Add to cart</span></a> </div>
				</div>
			</div>
			<!-- .entry-infos -->
		</div>
		<!-- .entry-content -->
	</div>
	<div class="deals-list">
		<h2 class="section-title">Deals bientôt finis</h2>
		<div class="deal-box">
			<div class="thumb-box"> <img src="/static/images/thumb-02.jpg" width="348" height="141" alt="" />
				<div class="prices-box">249<span>CHF</span></div>
				<div class="percent-box">50<span>%</span></div>
				<div class="gift-box"> <a href="#" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="#">Vol biplace en parapente</a></h3>
			<div class="timing-box less-one-day">
				<ul>
					<li>
						<p><span>Heures</span> 03</p>
					</li>
					<li>
						<p><span>Minutes</span> 24</p>
					</li>
					<li class="last-item">
						<p><span>Secondes</span> 38</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="deal-box">
			<div class="thumb-box"> <img src="/static/images/thumb-03.jpg" width="348" height="141" alt="" />
				<div class="prices-box">249<span>CHF</span></div>
				<div class="percent-box">50<span>%</span></div>
				<div class="gift-box"> <a href="#" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="deals_detail.php">Siège auto Chicco</a></h3>
			<div class="timing-box less-one-day">
				<ul>
					<li>
						<p><span>Heures</span> 03</p>
					</li>
					<li>
						<p><span>Minutes</span> 24</p>
					</li>
					<li class="last-item">
						<p><span>Secondes</span> 38</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="deal-box">
			<div class="thumb-box"> <img src="/static/images/thumb-04.jpg" width="348" height="141" alt="" />
				<div class="prices-box">249<span>CHF</span></div>
				<div class="percent-box">50<span>%</span></div>
				<div class="gift-box"> <a href="#" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="#">Menu filets de perche</a></h3>
			<div class="timing-box less-one-day">
				<ul>
					<li>
						<p><span>Heures</span> 03</p>
					</li>
					<li>
						<p><span>Minutes</span> 24</p>
					</li>
					<li class="last-item">
						<p><span>Secondes</span> 38</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="deal-box">
			<div class="thumb-box"> <img src="/static/images/thumb-05.jpg" width="348" height="141" alt="" />
				<div class="prices-box">249<span>CHF</span></div>
				<div class="percent-box">50<span>%</span></div>
				<div class="gift-box"> <a href="#" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="#">Vélo électrique Flow</a></h3>
			<div class="timing-box less-one-day">
				<ul>
					<li>
						<p><span>Heures</span> 03</p>
					</li>
					<li>
						<p><span>Minutes</span> 24</p>
					</li>
					<li class="last-item">
						<p><span>Secondes</span> 38</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- .deals-list -->
</div>
