<div id="primary">
	<script language="javascript" type="text/javascript" src="/static/js/stock-bar.js"></script>
	<div class="entry-box">
		<div class="entry-header">
			<h2 class="entry-title">{$team['title']}</h2>
		</div>
		<!-- .entry-header -->
		<div class="entry-content">
			<div class="entry-summary">
				{$team['seo_description']}
			</div>
			<!-- .entry-summary -->
			<script language="javascript" type="text/javascript" src="/static/js/position-fixed.js"></script>
			<div class="entry-infos">
				<div class="header detail-page clearfix">
					<ul>
						<li class="topdeal-price">
							<h3>${moneyit($team['team_price'])}<span>CHF</span></h3>
							<p>Prix TopDeal</span></p>
						</li>
						<li class="topdeal-discount">
							<h3><?php echo moneyit(round((100*($team['market_price'] - $team['team_price'])/$team['market_price']))); ?><span>%</span></h3>
							<p>Rabais</p>
						</li>
						<li class="topdeal-save">
							<h4>${moneyit($team['market_price'])}<span>CHF</span></h4>
							<p class="mrgdt-3">Valeur</p>
							<h4>{$discount_price}<span>CHF</span></h4>
							<p class="mrgdt-3">Economie</p>
						</li>
					</ul>
					<div class="acheter-box">
						<h3><a href="#">Acheter</a></h3>
						<div class="gift-box"> <a href="#"><img src="/static/images/gift.png" width="25" height="31" alt="" /></a> </div>
					</div>
				</div>
				<div class="thumb-box slides-carousel">
				<ul>
                                    <?php if($team['image']){?><li><img src="<?php echo team_image($team['image']); ?>" width="718" height="292" /></li><?php } ?>
                                    <?php if($team['image1']){?><li><img src="<?php echo team_image($team['image1']); ?>" width="718" height="292" /></li><?php } ?>
                                    <?php if($team['image2']){?><li><img src="<?php echo team_image($team['image2']); ?>" width="718" height="292" /></li><?php } ?>
					
				</ul>
					<div class="slide-nav"><a href="#" class="prev-btn"><img src="/static/images/prev-btn.jpg" width="62" height="50" alt="" /></a> <a href="#" class="next-btn"><img src="/static/images/next-btn.jpg" width="62" height="50" alt="" /></a> </div>
				</div>
				<script type="text/javascript" language="javascript">
					jQuery(function() {
						$(".slides-carousel").jCarouselLite({
							btnNext: ".prev-btn",
    						btnPrev: ".next-btn",
							auto: 800,
  							speed: 2000,
							visible: 1
						});
					});
			</script>
				<div class="entry-meta">
					<div class="stock-bar"><canvas id="stock-bar" width="190" height="190"></canvas></div>
                                        <script language="javascript" type="text/javascript" src="/static/js/stock-bar.js">
                                                                               
                                        </script>
                                        <script type="text/javascript" language="javascript">
                                        jQuery(document).ready(function($){
                                                drawStockbar(<?php echo round(($team['max_number']-$team['now_number'])/$team['max_number'] * 100) ; ?>, "stock-bar");
                                            });
                                        </script>
					<div class="timing-box">
						<ul>
							<?php if($left_day>0){?>
            <li>
				<p>{$left_day}</p>
				<p><span>${I('Days')}</span></p>
			</li>
			<li>
				<p>{$left_hour}</p>
				<p><span>Heures</span></p>
			</li>
			<li class="last-item">
				<p>{$left_minute}</p>
				<p><span>Minutes</span></p>
			</li>
            <?php } else { ?>
			<li>
								<p>{$left_hour}</p>
								<p><span>Heures</span></p>
							</li>
							<li>
								<p>{$left_minute}</p>
								<p><span>Minutes</span></p>
							</li>
							<li class="last-item">
								<p>{$left_time}</p>
								<p><span>Secondes</span></p>
							</li>
	
            <?php } ?>   
						</ul>
					</div>
					<div class="partner-location">
						<h3>{$city['name']}</h3>
						<p>Région</p>
					</div>
					<div class="category-box"> <img src="/static/images/plane.jpg" width="110" height="55" alt="" />
						<p>{$category['name']}</p>
					</div>
					<div class="delivery-box">
						<p>Ce deal peut être envoyé par courrier ou
							être directement retiré dans nos bureaux</p>
						<p class="conditions"><span>Conditions de réception</span></p>
					</div>
					<div class="social-box ">
						<ul>
							<li><a href="#"><img src="/static/images/facebook-icon-02.jpg" width="35" height="35" alt="" /></a></li>
							<li><a href="#"><img src="/static/images/twitter-icon-02.jpg" width="35" height="35" alt="" /></a></li>
							<li><a href="#"><img src="/static/images/email-icon.jpg" width="35" height="35" alt="" /></a></li>
						</ul>
						<p>Partagez ce deal et gagnez des crédits!</p>
					</div>
				</div>
				<!-- .entry-meta -->
				<div class="entry-escription">
					<h3>Description <img src="/static/images/i-icon.jpg" width="20" height="20" alt="" /></h3>
					{$team['summary']}
				</div>
				<div class="entry-highlights">
					{$team['detail']}
				</div>				
			</div>
			<!-- .entry-infos -->
		</div>
		<!-- .entry-content -->
	</div>
</div>
