<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>
			<li><a href="/account/settings.php">Profil</a></li>
			<li><a href="/account/refer.php">Crédits</a></li>
			<li><a href="#">Achats</a>
				<ul>
					<li class="first-row"><a href="/order/index.php">Payés</a></li>
					<li><a href="apayes1.php">A payes</a></li>
				</ul>
			</li>
			<li class="current"><a href="#">Bons</a>
                            <ul>
                                ${current_coupon_sub($selector)}
                            </ul>
			</li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div id="purchase-list">
		<table>
			<!--{loop $coupons $index $one}-->				
			<tr ${$index==1?'':'class="first-row"'}>
				<th colspan="5">					
                                        <!--{if $selector=='index'}-->
                                        <span class="payer-btn"><a href="/coupon/print.php?id={$one['id']}">${I('Print')}</a></span>
					<span class="payable-text">Valable jusqu’au <span>${date('d-m-Y', $one['expire_time'])}</span></span>
                                        <!--{elseif $selector == 'expire'}-->
                                        <span class="payable-text">Expiré le <span>${date('d-m-Y', $one['expire_time'])}</span></span>
                                        <!--{elseif $selector == 'consume'}-->
                                        <span class="payable-text"> Utilisé le <span>${date('d-m-Y', $one['consume_time'])}</span></span>                                       
                                        <!--{/if}-->
					<h4><!--{if $lang=="en"}-->
								{$teams[$one['team_id']]['title']}
							<!--{elseif $lang =='fr'}-->
								{$teams[$one['team_id']]['title_fr']}
							<!--{/if}--></h4>
				</th>
			</tr>
			<tr>
				<td class="purchase-product">
                                <img src="${team_image($teams[$one['team_id']]['image'], true)}" width="114" height="46" alt="{$teams[$one['team_id']]['title']}" />
				</td>
<!--
				<td class="purchase-quantity">2x</td>
				<td class="purchase-price">110<span>CHF</span></td>
				<td class="purchase-total">220<span>CHF</span></td>
-->
				<td><a href="/order/view.php?id={$one['order_id']}">Voir le détail de l'achat</a></td>
			</tr>
	<!--{/loop}-->
			
		</table>
	</div>
	<!-- #purchase-list -->
	<div class="deals-list">
		<h2 class="section-title">Deals recommandés</h2>
		<div class="deal-box">
			<div class="thumb-box"> <img src="/static/images/thumb-02.jpg" width="348" height="141" alt="" />
				<div class="prices-box">249<span>CHF</span></div>
				<div class="percent-box">50<span>%</span></div>
				<div class="gift-box"> <a href="payes_detail.php" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="#">Vol biplace en parapente</a></h3>
			<div class="timing-box less-one-day">
				<ul>
					<li>
						<p><span>Heures</span> 03</p>
					</li>
					<li>
						<p><span>Minutes</span> 24</p>
					</li>
					<li class="last-item">
						<p><span>Secondes</span> 38</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="deal-box">
			<div class="thumb-box"> <img src="/static/images/thumb-03.jpg" width="348" height="141" alt="" />
				<div class="prices-box">249<span>CHF</span></div>
				<div class="percent-box">50<span>%</span></div>
				<div class="gift-box"> <a href="#" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="deals_detail.php">Siège auto Chicco</a></h3>
			<div class="timing-box less-one-hour">
				<ul>
					<li>
						<p><span>Heures</span> 03</p>
					</li>
					<li>
						<p><span>Minutes</span> 24</p>
					</li>
					<li class="last-item">
						<p><span>Secondes</span> 38</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- .deals-list -->
</div>
