<div id="primary">
	<h2 class="pages-title">Catégories</h2>
	<div id="toutes">
		<ul class="list-categorys">
			<li class="current">
				<p>Toutes</p>
			</li>
			<li> <span>{$category_count[11]['sum']}</span>
				<p><a href="/team/index.php?gid=11"><img src="/static/images/products-icon.png" width="34" height="34" alt="products" /></a></p>
				<div>Produits</div>
			</li>
			<li> <span>0</span>
				<p><a href="#"><img src="/static/images/lifestyle-icon.png" width="34" height="34" alt="lifestyle" /></a></p>
				<div>Lifestyle</div>
			</li>
			<li> <span>{$category_count[9]['sum']}</span>
				<p><a href="/team/index.php?gid=9"><img src="/static/images/restaurants-icon.png" width="34" height="34" alt="restaurants" /></a></p>
				<div>Restaurants</div>
			</li>
			<li> <span>0</span>
				<p><a href="#"><img src="/static/images/kids-icon.png" width="34" height="34" alt="kids" /></a></p>
				<div>Kids</div>
			</li>
			<li> <span>{$category_count[10]['sum']}</span>
				<p><a href="/team/index.php?gid=10"><img src="/static/images/voyage-icon.png" width="34" height="34" alt="voyage" /></a></p>
				<div>Voyage</div>
			</li>
			<li> <span>{$category_count[12]['sum']}</span>
				<p><a href="/team/index.php?gid=12"><img src="/static/images/sports-icon.png" width="34" height="34" alt="sports" /></a></p>
				<div>Sports</div>
			</li>
		</ul>
		<div class="filtres-box"> <span>Filtres</span>
			<ul>
				<li>Par prix <img src="/static/images/up-icon.jpg" width="9" height="10" alt="up" /></li>
				<li>Par timer <img src="/static/images/down-icon.jpg" width="9" height="10" alt="down" /></li>
				<li class="close-filtres"><img src="/static/images/close-icon.jpg" width="19" height="19" alt="close x" /></li>
			</ul>
		</div>
	</div>
	<div class="deals-list">
                <!--{loop $teams $index $one}--> 
                <!--{if $lang=="en"}-->
			<!--${$ititle = $one['title']}-->
			<!--{elseif $lang =='fr'}-->
			<!--${$ititle = $one['title_fr']}-->
		<!--{/if}-->
		<div class="deal-box">
			<div class="thumb-box"><img alt="{$ititle}" src="${team_image($one['image'], true)}" >
				<?php if($one['max_number'] > 0 && $one['now_number'] >= $one['max_number']){ ?>
				<div class="sold-out">Sold out</div>
				<?php } ?>
				<div class="prices-box">${moneyit($one['team_price'])}<span>CHF</span></div>
				<div class="percent-box">${moneyit(round((100*($one['market_price'] - $one['team_price'])/$one['market_price'])))}<span>%</span></div>
				<div class="gift-box"> <a href="#" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="<!--${echo ZTeam::GetTeamUrl($one)}-->" title="{$ititle}" target="_blank"  class="label">${trim(mb_strimwidth($ititle,0,86,'...'))}</a></h3>
			<!--${$now = time()}-->
                        <!--${$diff_time = $left_time = $one['end_time']-$now}-->
                        <!--{if $one['team_type'] == 'seconds' && $one['begin_time'] >= $now}-->
                                <!--${$diff_time = $left_time = $one['begin_time']-$now}-->
                        <!--{/if}-->
                        <!--${$left_day = floor($diff_time/86400)}-->
                        <!--${$left_time = $left_time % 86400}-->
                        <!--${$left_hour = floor($left_time/3600)}-->
                        <!--${$left_time = $left_time % 3600}-->
                        <!--${$left_minute = floor($left_time/60)}-->
                        <!--${$left_time = $left_time % 60}-->
                        <!--{if $left_day>0}-->
                        <div class="timing-box">
				<ul>
					<li>
						<p><span>${I('Days')} </span>{$left_day}</p>
					</li>
					<li>
						<p><span>${I('Hours')} </span>{$left_hour}</p>
					</li>
					<li class="last-item">
						<p><span>${I('Minutes')}  </span>{$left_minute}</p>
					</li>
                                </ul>
			</div>
                        <!--{elseif $left_hour > 0}-->
                         <div class="timing-box less-one-day">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span>{$left_hour}</p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span>{$left_minute}</p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span>{$left_time}</p>
                                    </li>
				</ul>
			</div>
                        <!--{else}-->
                        <div class="timing-box less-one-hour">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span>{$left_hour}</p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span>{$left_minute}</p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span>{$left_time}</p>
                                    </li>
				</ul>
			</div>
                        <!--{/if}-->
		</div>
		<!--{/loop}-->
		
	</div>
	<div id="load-more"> <a href="#">Charger plus de deals</a> </div>
	<!-- .deals-list -->
</div>
