<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>
			<li><a href="/account/settings.php">Profil</a></li>
			<li><a href="/account/refer.php">Crédits</a></li>
			<li class="current"><a href="#">Achats</a>
                            <ul>
                                <li class="first-row"><a href="/order/index.php">Payés</a></li>
                                <li class="current"><a href="/order/index.php?s=unpay">A payes</a></li>
                            </ul>
			</li>
			<li><a href="#">Bons</a></li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div id="purchase-list">
		<table>
                        <!--{loop $orders $index $one}-->
			<tr class="first-row">
				<th colspan="5">
					<span class="payer-btn"><a href="#">Payer</a></span>
					<span class="payable-text">Payable jusqu’au <span>21.07.2012 à 17h10</span></span>
					<h4>{$teams[$one['team_id']]['title']}</h4>
				</th>
			</tr>
			<tr>
				<td class="purchase-product">
					<img src="${team_image($teams[$one['team_id']]['image'], true)}" width="114" height="46" alt="{$teams[$one['team_id']]['title']}" /><div class="delete-btn"><span>Effacer cet achat</span></div>
				</td>
				<td class="purchase-quantity">{$one['quantity']}x</td>
				<td class="purchase-price">${moneyit($one['price'])}<span>CHF</span></td>
				<td class="purchase-total">${moneyit($one['origin'])}<span>CHF</span></td>
				<td class="purchase-show-details"><a href="/order/view.php?id={$one['id']}"><span>detail</span></a></td>
			</tr>
                         <!--{/loop}-->			
		</table>
	</div>
	<!-- #purchase-list -->
	<div class="purchase-bottom">
		<h4>Comment payer votre achat?</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et lorem turpis, porttitor vehicula tellus. Ut non ultrices massa. Maecenas sit amet sapien vitae lectus adipiscing semper. Vivamus tellus orci, euismod non auctor id, elementum ac urna. Vestibulum interdum cursus neque nec sodales. Donec laoreet pretium ligula, eu ornare purus eleifend ac. Etiam non sem neque, non feugiat velit. Nulla et dui risus, ac suscipit libero. Proin libero magna, posuere nec feugiat a, lacinia ac metus. In hac habitasse platea dictumst. Mauris felis dolor, scelerisque in interdum sed, consectetur eget nulla. Ut arcu urna, malesuada eget auctor ac, sagittis vestibulum magna. Proin id justo lacus.<br />Vivamus suscipit vulputate enim, in suscipit diam faucibus a. Sed ullamcorper faucibus lorem, eget elementum elit mollis vitae. Phasellus viverra justo id lorem mattis dapibus. Nunc bibendum neque sit amet nunc aliquam quis facilisis nibh elementum. Phasellus posuere luctus felis in congue. Phasellus eget justo eget risus facilisis interdum eget quis leo. Duis at lacus leo, et pulvinar enim. Mauris gravida hendrerit lectus at fringilla.</p>
	</div>
	<!-- .credits-bottom -->
</div>
