<div id="primary">
	<div class="entry-box">
		<div class="entry-header">
			<h2 class="entry-title">{$team['title']}</h2>
		</div>
		<!-- .entry-header -->
		<div class="entry-content">
			<div class="entry-summary">
				{$team['seo_description']}
			</div>
			<!-- .entry-summary -->
			<div class="entry-infos">
				<div class="header clearfix">
					<ul>
						<li class="topdeal-price">
							<h3>${moneyit($team['team_price'])}<span>CHF</span></h3>
							<p>Prix TopDeal</span></p>
						</li>
						<li class="topdeal-discount">
							<h3><?php echo moneyit(round((100*($team['market_price'] - $team['team_price'])/$team['market_price']))); ?><span>%</span></h3>
							<p>Rabais</p>
						</li>
						<li class="topdeal-save">
							<h4>${moneyit($team['market_price'])}<span>CHF</span></h4>
							<p class="mrgdt-3">Valeur</p>
							<h4>{$team['market_price']-$team['team_price']}<span>CHF</span></h4>
							<p class="mrgdt-3">Economie</p>
						</li>
					</ul>
					<div class="acheter-box">
						<h3><a href="#">Acheter</a></h3>
						<div class="gift-box"> <a href="#"><img src="/static/images/gift.png" width="25" height="31" alt="" /></a> </div>
					</div>
				</div>
				<div class="thumb-box"> 
                                    <?php if($team['image']){?><img src="<?php echo team_image($team['image']); ?>" width="718" height="292" />
                                    <?php } else if($team['image1']){?><img src="<?php echo team_image($team['image1']); ?>" width="718" height="292" />
                                    <?php } else if($team['image2']){?><img src="<?php echo team_image($team['image2']); ?>" width="718" height="292" /><?php } ?>
					
                                    
					<div class="gift-box"> <a href="/team.php?id={$team['id']}&primary=1" class="add-cart"><span>Add to cart</span></a> </div>
				</div>
			</div>
			<!-- .entry-infos -->
		</div>
		<!-- .entry-content -->
	</div>
	<div class="deals-list">
		<h2 class="section-title">Deals bientôt finis</h2>
		<!--{loop $expiring_soon $index $one}--> 
                <!--{if $lang=="en"}-->
			<!--${$ititle = $one['title']}-->
			<!--{elseif $lang =='fr'}-->
			<!--${$ititle = $one['title_fr']}-->
		<!--{/if}-->
		<div class="deal-box">
			<div class="thumb-box"><img alt="{$ititle}" src="${team_image($one['image'], true)}" width="348px" height="141px">
				<?php if($one['max_number'] > 0 && $one['now_number'] >= $one['max_number']){ ?>
				<div class="sold-out">Sold out</div>
				<?php } ?>
				<div class="prices-box">${moneyit($one['team_price'])}<span>CHF</span></div>
				<div class="percent-box">${moneyit(round((100*($one['market_price'] - $one['team_price'])/$one['market_price'])))}<span>%</span></div>
				<div class="gift-box"> <a href="/team.php?id={$one['id']}&primary=1" class="add-cart"><span>Add to cart</span></a> </div>
			</div>
			<h3><a href="/team.php?id={$one['id']}&primary=1" title="{$ititle}" target="_blank"  class="label">${trim(mb_strimwidth($ititle,0,86,'...'))}</a></h3>
			<!--${$now = time()}-->
                        <!--${$diff_time = $left_time = $one['end_time']-$now}-->
                        <!--{if $one['team_type'] == 'seconds' && $one['begin_time'] >= $now}-->
                                <!--${$diff_time = $left_time = $one['begin_time']-$now}-->
                        <!--{/if}-->
                        <!--${$left_day = floor($diff_time/86400)}-->
                        <!--${$left_time = $left_time % 86400}-->
                        <!--${$left_hour = floor($left_time/3600)}-->
                        <!--${$left_time = $left_time % 3600}-->
                        <!--${$left_minute = floor($left_time/60)}-->
                        <!--${$left_time = $left_time % 60}-->
                        <!--{if $left_day>0}-->
                        <div class="timing-box">
				<ul>
					<li>
						<p><span>${I('Days')} </span>{$left_day}</p>
					</li>
					<li>
						<p><span>${I('Hours')} </span>{$left_hour}</p>
					</li>
					<li class="last-item">
						<p><span>${I('Minutes')}  </span>{$left_minute}</p>
					</li>
                                </ul>
			</div>
                        <!--{elseif $left_hour > 0}-->
                         <div class="timing-box less-one-day">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span>{$left_hour}</p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span>{$left_minute}</p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span>{$left_time}</p>
                                    </li>
				</ul>
			</div>
                        <!--{else}-->
                        <div class="timing-box less-one-hour">
				<ul>
                                    <li>
                                            <p><span>${I('Hours')} </span>{$left_hour}</p>
                                    </li>
                                    <li>
                                            <p><span>${I('Minutes')}  </span>{$left_minute}</p>
                                    </li>
                                    <li class="last-item">
                                            <p><span> ${I('Seconds')} </span>{$left_time}</p>
                                    </li>
				</ul>
			</div>
                        <!--{/if}-->
		</div>
		<!--{/loop}-->	
	</div>
	<!-- .deals-list -->
</div>
