<div id="primary">
	<h2 class="pages-title">Mon compte</h2>
	<div id="profile-tab">
		<ul>
			<li class="current"><a href="/account/settings.php">Profil</a></li>
			<li><a href="/account/refer.php">Crédits</a></li>
			<li><a href="#">Achats</a>
				<ul>
					<li class="first-row"><a href="/order/index.php">Payés</a></li>
					<li><a href="apayes1.php">A payes</a></li>
				</ul>
			</li>
			<li><a href="/coupon/index.php">Bons</a></li>
		</ul>
	</div>
	<!-- #profile-tab -->
	<div id="profiles">
		<div class="profiles-left">
			<div class="avatar-box">
                        <img src="${user_image($login_user['avatar'])}" width="126" height="126" />
			<!--{if $login_user['avatar'] == ''}-->
                        <div class="add-button"><a href="#">+</a></div>
                        <!--{else}-->
			<div class="delete-btn"><span>Effacer cette photo</span></div>
			<!--{/if}-->			
			</div>
		</div>
		<div class="profiles-right">
			<form action="#" method="post" name="profiles">
				<table class="profile-info">
					<tr>
						<td colspan="2"><input type="text" value="{$login_user['first_name']}" name="first_name" /></td>
					</tr>
					<tr>
						<td colspan="2"><input type="text" value="{$login_user['last_name']}" name="last_name" /></td>
					</tr>
					<tr>
						<td colspan="2"><select name="gender">
                                                        <option value="M" <!--{if $login_user['gender'] == 'M'}-->selected<!--{/if}-->>Monsieur </option>
							<option value="F" <!--{if $login_user['gender'] == 'F'}-->selected<!--{/if}-->>Madame</option>
							</select></td>
					</tr>
					<tr class="dates">
						<th>Né le</th>
						<td><input type="text" value="${date('j',$login_user['birth_day'])}" name="bd_day" class="wth-33" />
							<input type="text" value="${date('n',$login_user['birth_day'])}" name="bd_month" class="wth-33" />
							<input type="text" value="${date('y',$login_user['birth_day'])}" name="bd_year" class="wth-46" />
							&nbsp;&nbsp;<span>XX / XX / 19XX</span></td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td height="68"><p class="font-12">Comme une grande marque de meubles low cost suédoise,<br />votre anniversaire est une occasion que nous souhaitons<br /><b>fêter en vous offrant chaque année un bon de 10CHF.</b></p></td>
					</tr>
					<tr>
						<th>Nom d’utilisateur</th>
						<td><input type="text" value="{$login_user['username']}" name="username" /></td>
					</tr>
					<tr>
						<th>Email</th>
						<td><input type="text" value="{$login_user['email']}" name="email" /></td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td><input type="checkbox" value="1" checked="checked" name="newsletter_chk" />
							Recevoir la newsletter</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td><div class="change-pass"><a href="profil_password.php">Changer le mot de passe</a></div></td>
					</tr>
					<tr>
						<td colspan="2"><h4>Informations de contact et de facturation</h4></td>
					</tr>
					<tr>
						<th>Numéro de téléphone</th>
						<td><input type="text" value="{$login_user['mobile']}" name="mobile" /></td>
					</tr>
					<tr>
						<th>Adresse 1</th>
						<td><input type="text" value="" name="address1_txt" /></td>
					</tr>
					<tr>
						<th>Adresse 2</th>
						<td><input type="text" value="" name="address2_txt" /></td>
					</tr>
					<tr>
						<th>Code postal</th>
						<td><input type="text" value="{$login_user['zipcode']}" name="zipcode" class="wth-120" /></td>
					</tr>
					<tr>
						<th>Ville</th>
						<td><input type="text" value="{$login_user['region']}" name="region"  class="wth-120" /></td>
					</tr>
					<tr>
						<td colspan="2"><h4>Adresses de livraison sauvegardées</h4></td>
					</tr>
					<tr>
						<th>Chez ma maîtresse</th>
						<td><div class="icon-box"> <div class="edit-btn"><span>Edit</span></div> <div class="delete-btn"><span>Effacer cette adresse</span></div> </div></td>
					</tr>
					<tr>
						<th>Grand-mère</th>
						<td><div class="icon-box"> <div class="edit-btn"><span>Edit</span></div> <div class="delete-btn"><span>Effacer cette adresse</span></div> </div></td>
					</tr>
					<tr>
						<th>Mon bureau</th>
						<td><div class="icon-box"> <div class="edit-btn"><span>Edit</span></div> <div class="delete-btn"><span>Effacer cette adresse</span></div> </div></td>
					</tr>
					<tr>
						<th>Chez Jacqueline</th>
						<td><div class="icon-box"> <div class="edit-btn"><span>Edit</span></div> <div class="delete-btn"><span>Effacer cette adresse</span></div> </div></td>
					</tr>
				</table>
				<div class="save-btn"><a href="#">Sauver les changements</a></div>
			</form>
		</div>
	</div>
	<!-- #profiles -->
	<div class="delete-account"><a href="#">Effacer définitivement mon compte</a></div>	
</div>
