<!--{include header}-->
<div id="main" class="main clear_fix">
	<div class="sidebar fl">
		<h3>CLASSEMENT DES DEALS</h3>
		<div class="mn_content temps">
			<a href="#" class="item">1</a>
			<a href="#" class="mn_item">BALNEA CROISIERE</a>
			<p>Nombre de votes pour</p>
			<p> ce Deal: <span style="font-size: 20px; font-weight: bold;">203</span></p>
		</div>
		<div class="mn_content temps">
			<a href="#" class="item">2</a>
			<a href="#" class="mn_item">BALNEA CROISIERE</a>
			<p>Nombre de votes pour</p>
			<p> ce Deal: <span style="font-size: 20px; font-weight: bold;">203</span></p>
		</div>
		<div class="mn_content temps">
			<a href="#" class="item">3</a>
			<a href="#" class="mn_item">BALNEA CROISIERE</a>
			<p>Nombre de votes pour</p>
			<p> ce Deal: <span style="font-size: 20px; font-weight: bold;">203</span></p>
		</div>
		<div class="mn_content temps">
			<a href="#" class="item">4</a>
			<a href="#" class="mn_item">BALNEA CROISIERE</a>
			<p>Nombre de votes pour</p>
			<p> ce Deal: <span style="font-size: 20px; font-weight: bold;">203</span></p>
		</div>
	</div>
	<div class="content">
		 <div class="rightside">
		    <!--box corner -->
		    <div class="BoxCorner BoxConer1">
			<div class="BGM BoxTable">
			    <div class="add">
			        <a href="/deals/submit.php">${I('Propose_Deal')}</a>
			    </div>
			</div>
			<div class="BgBL">
			    <div class="BgBR">
			        <div class="BgBM">
			        </div>
			    </div>
			</div>
		    </div>
		    <!--end box corner--><!--box corner -->
		    <div class="BoxCorner">
			<div class="BgTL">
			    <div class="BgTR">
			        <div class="BgTM">
			        </div>
			    </div>
			</div>
			<div class="BGM BoxTable">
			    <!--{include block_side_subscribe}-->
			</div>
			<div class="BgBL">
			    <div class="BgBR">
			        <div class="BgBM">
			        </div>
			    </div>
			</div>
		    </div>
		    <!--{include block_social}-->
		</div>
		<div class="maincontent clear_fix">
			<div class="product_content">
				<h2>SUSHI ZEN</h2>
				<p> Dolor site amet, conse ctetur meas an adipi scing, conse ctetur meas an adipi scing.</p>
				<a href="#"><img src="/static/img/img11.jpg"/></a>
				<ul class="clear_fix">
					<li class="fl"><a href="#" class="bt_detail violet">VOTER POUR CE DEAL</a></li>
					<li class="fl"><a href="#" class="bt_detail gray">PLUS D'INFO SUR CE DEAL</a></li>
				</ul>
			</div>
			<div class="product_content">
				<h2>SUSHI ZEN</h2>
				<p> Dolor site amet, conse ctetur meas an adipi scing, conse ctetur meas an adipi scing.</p>
				<a href="#"><img src="/static/img/img11.jpg"/></a>
				<ul class="clear_fix">
					<li class="fl"><a href="#" class="bt_detail gray">VOTER POUR CE DEAL</a></li>
					<li class="fl"><a href="#" class="bt_detail gray">PLUS D'INFO SUR CE DEAL</a></li>
				</ul>
			</div>
			<div class="product_content">
				<h2>SUSHI ZEN</h2>
				<p> Dolor site amet, conse ctetur meas an adipi scing, conse ctetur meas an adipi scing.</p>
				<a href="#"><img src="/static/img/img11.jpg"/></a>
				<ul class="clear_fix">
					<li class="fl"><a href="#" class="bt_detail gray">VOTER POUR CE DEAL</a></li>
					<li class="fl"><a href="#" class="bt_detail gray">PLUS D'INFO SUR CE DEAL</a></li>
				</ul>
			</div>
			<div class="product_content">
				<h2>SUSHI ZEN</h2>
				<p> Dolor site amet, conse ctetur meas an adipi scing, conse ctetur meas an adipi scing.</p>
				<a href="#"><img src="/static/img/img11.jpg"/></a>
				<ul class="clear_fix">
					<li class="fl"><a href="#" class="bt_detail gray">VOTER POUR CE DEAL</a></li>
					<li class="fl"><a href="#" class="bt_detail gray">PLUS D'INFO SUR CE DEAL</a></li>
				</ul>
			</div>
			<div class="product_content">
				<h2>SUSHI ZEN</h2>
				<p> Dolor site amet, conse ctetur meas an adipi scing, conse ctetur meas an adipi scing.</p>
				<a href="#"><img src="/static/img/img11.jpg"/></a>
				<ul class="clear_fix">
					<li class="fl"><a href="#" class="bt_detail gray">VOTER POUR CE DEAL</a></li>
					<li class="fl"><a href="#" class="bt_detail gray">PLUS D'INFO SUR CE DEAL</a></li>
				</ul>
			</div>
		</div>			
	</div>
</div>
<!--{include footer}-->
