<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${current_account('/coupon/index.php')}</ul>
	</div>
    <div id="content" class="coupons-box clear">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>${I('My')} {$INI['system']['couponname']}</h2>
                    <ul class="filter">
						<li class="label"> </li>
						${current_coupon_sub('index')}
					</ul>
				</div>
                <div class="sect">
					<!--{if $selector=='index'&&!$coupons}-->
					<div class="notice">${I('NoValid')} {$INI['system']['couponname']}</div>
					<!--{/if}-->
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="240"><!--{if $lang=="en"}-->{$INI['system']['couponname']} name<!--{elseif $lang =='fr'}-->Nom du Bon<!--{/if}--></th><th width="100" nowrap>${I('Duetime')}</th><th width="100" nowrap></th></tr>
					<!--{loop $coupons $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td><a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">
							<!--{if $lang=="en"}-->
								{$teams[$one['team_id']]['title']}
							<!--{elseif $lang =='fr'}-->
								{$teams[$one['team_id']]['title_fr']}
							<!--{/if}-->
							</a></td>
							<td>${date('d-m-Y', $one['expire_time'])}</td>
							<td><a href="/coupon/print.php?id={$one['id']}">${I('Print')}</a></td>
						</tr>	
					<!--{/loop}-->
						<tr><td colspan="2">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_aboutcoupon}-->
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
