<div class="bons-redeem">
	<div class="top-content">
   		<div class="inner-top-content">
        	<div class="flr">
            	<h3>Coupon No. 13442792</h3>	
                <h3>PIN: LNIXSK</h3>
            </div>
        	<h1 class="bons-logo"><a href="#"><img src="/static/logo-03.jpg" width="295" height="66" alt="" /></a></h1>
            <h4>Date d'expiration 10-03-2013</h4>
            <h2>Bon d'une valeur de 50<span>CHF</span><br /><span>Acheté par: MC Casal</span></h2>
            <h1>Bon Delta du Mékong</h1>
            <p>Bon d'une valeur de 50.- à faire valoir au restaurant Delta du Mékong à Prilly. A l'emporter, livré à domicile ou sur place !</p>
            <table>
            	<tr>
                <td width="200">	<img src="/static/thumb-06.jpg" width="200" height="81" alt="" />
                </td>
                <th>Valable chez:</th>
                <td>Delta du Mékong<br />Rte des Flumeaux 1<br />1008 Prilly<br />tél: 021 625 73 61</td></tr>
            </table>
            <ul>
            	<li><span class="li-number">1</span><p>Imprimez votre coupon. Veuillez noter que celui-ci est transmissible</p></li>

<li><span class="li-number">2</span><p>Echanger le coupon auprès du partenaire afin de bénéficier de la prestation</p></li>

<li><span class="li-number">3</span><p>Assurez-vous d'échanger le coupon avant la date d'expiration</p></li>
            </ul>
        </div>
    
    </div>
	<div class="entry-highlights">
					<h3>Nous vous proposons <img width="29" height="29" alt="" src="/static/deal-icon.jpg"></h3>
					<ul>
						<li>Bon d'une valeur de 50.- à faire valoir sur votre commande à l'emporter, livré à domicile ou sur place
							<ul>
								<li>- Valable sur les plats et les boissons, pour les commandes à l'emporter et livrées à domicile</li>
								<li>- Boissons non-comprises, pour le repas pris sur place</li>
								<li>- Marche à suivre sous conditions</li>
							</ul>
						</li>
					</ul>
				</div>
                <div class="entry-conditions">
					<h3>Conditions</h3>
					<ul>
						<li>2 bons par acheteur, non cumulable</li>
						<li>Boissons non-comprises pour le repas pris sur place</li>
						<li>Valable jusqu'au 10 mars 2013</li>
                        <li>Commande à l'emporter ou livrée à domicile au 021 625 73 61 (mentionnez que vous avez un bon TopDeal) ou sur <a href="#">www.delta-mekong.ch</a></li>
                        <li>Pour les commandes à l'emporter et sur place, n'oubliez pas d'imprimer votre bon TopDeal et de le remettre au prestataire</li>
                        <li>Pour les commandes sur le site internet, veuillez suivre les instructions ci-dessous.</li>
					</ul>
                    <h4>Marche à suivre pour commander sur le site internet :</h4>
                    <ul>
						<li>2 bons par acheteur, non cumulable</li>
						<li>Boissons non-comprises pour le repas pris sur place</li>
						<li>Valable jusqu'au 10 mars 2013</li>
                        <li>Commande à l'emporter ou livrée à domicile au 021 625 73 61 (mentionnez que vous avez un bon TopDeal) ou sur <a href="#">www.delta-mekong.ch</a></li>
                        <li>Pour les commandes à l'emporter et sur place, n'oubliez pas d'imprimer votre bon TopDeal et de le remettre au prestataire</li>
                        <li>Pour les commandes sur le site internet, veuillez suivre les instructions ci-dessous.</li>
					</ul>
				</div>
	<div class="bottom-content">
    	<h3>Coordonnées de notre partenaire <img width="18" height="29" alt="" src="/static/icon-coordon.jpg" /></h3>
        <table>
        	<tr>
            	<td width="66%"><h4>SuNails & Beauty</h4>
                <p>Institut de Beauté et Onglerie<br />Susanne Depallens<br />Chemin des Roches 1<br />1009 Pully</p>
<p>Tél: 078 906 32 05</p>
<p><a href="#">sdepallens@gmail.com</a><br /><a href="#">www.sunails.com</a></p></td>
                <td><h4>Horaires</h4>
                <p>Du lundi au vendredi<br />8h à 20h30</p>
<p>Samedi<br />8h à 19h30</p></td>
            </tr>
            <tr>
            	<td colspan="2"><h4>Zone de livraison</h4>
<p>Lausanne : 1000 – 1003 – 1004 –1005 – 1006 – 1007 – 1010 – 1011 – 1012 – 1018
Chavannes-près-Renens, Cheseaux, Ecublens, Epalinges, Prilly, Jouxtens, Renens, Pully, Belmont, Le Mont sur Lausanne, Romanel sur Lausanne, Bussigny, St Sulpice</p></td>
            </tr>
        </table>
    </div>
</div>
