<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="credit">
	<div class="dashboard" id="dashboard">
		<ul>${current_account('/credit/score.php')}</ul>
	</div>
    <div id="content">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Exchange goods</h2>
                    <ul class="filter">
						<li class="label">Category: </li>
						${current_credit_index('goods')}
					</ul>
                </div>
                <div class="sect">
					<h3 class="credit-title">Your points now：<strong>${moneyit($login_user['score'])}</strong></h3>
					<ul style="padding:10px;">
					<!--{loop $goods $index $one}-->
						<li style="width:32%; float:left; text-align:center;">
							<div>
								<a href="/team.php?id={$one['id']}" title="{$one['title']}" target="_blank"><img alt="{$one['title']}" src="${team_image($one['image'], true)}" width="160" height="121"></a>
							</div>
							<div>
								<p class="total">Points used：<strong class="count">{$one['consume']}</strong></p>
								<p class="total">Points：<strong class="count">{$one['score']}</strong></p>
								<p class="price"><a href="/credit/ajax.php?id={$one['id']}&action=exchange" class="ajaxlink">I want to exchange goods</a></p>
							</div>
						</li>
					<!--{/loop}-->
					</ul>
					<div class="clear"></div>
					<div>{$pagestring}</div>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_credit}-->
		<!--{include block_side_credittip}-->
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
