<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="account-charge">
    <div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Recharge</h2></div>
                <div class="sect">
                    <div class="charge">
                        <form id="account-charge-form" action="/order/charge.php" method="post" class="validator">
                            <p>Type the amount of recharge：</p>
                            <p class="number">
                                <input type="text" maxlength="6" class="f-text" name="money" require="true" datatype="money" value="{$money}" /> {$currency} （no fraction, the minimum value should be 1 {$currency}）
                            </p>
                            <p id="account-charge-tip" class="tip" style="visibility:hidden;"></p>
                            <div class="choose">
                                <p class="choose-pay-type">Please choose a payment gateway：</p>
                                <ul class="typelist">
									<!--{if $INI['paypal']['mid']}-->
										<li><input id="check-paypal" type="radio" name="paytype" value="paypal" {$ordercheck['paypal']} /><label for="check-paypal" class="paypal">PayPal, Recommended</label></li>
									<!--{/if}-->
									<!--{if $INI['alipay']['mid']}-->
										<li><input id="check-alipay" type="radio" name="paytype" value="alipay" {$ordercheck['alipay']} /><label for="check-alipay" class="alipay">Alipay Transaction</label></li>
									<!--{/if}-->
										
									<!--{if $INI['tenpay']['mid']}-->
										<li><input id="check-tenpay" type="radio" name="paytype" value="tenpay" {$ordercheck['tenpay']} /><label for="check-tenpay" class="tenpay">TenPay Transaction</label></li>
									<!--{/if}-->
										<!--{if $INI['bill']['mid']}-->
										<li><input id="check-bill" type="radio" name="paytype" value="bill" {$ordercheck['bill']} /><label for="check-bill" class="bill">Quick money transactions</label></li>
									<!--{/if}-->
									<!--{if $INI['chinabank']['mid']}-->
										<li><input id="check-chinabank" type="radio" name="paytype" value="chinabank" {$ordercheck['chinabank']} /><label for="check-chinabank" class="chinabank">Support the investment, ICBC, China Construction Bank, Bank of China and other mainstream banks online banking payment</label></li>
									<!--{/if}-->
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <p class="commit">
                                <input type="submit" value="Pay Now" class="formbutton" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
