<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="credit">
	<div class="dashboard" id="dashboard">
		<ul>${current_account('/credit/score.php')}</ul>
	</div>
    <div id="content">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Points left</h2>
                    <ul class="filter">
						<li class="label"></li>
						${current_credit_index('score')}
					</ul>
                </div>
                <div class="sect">
					<h3 class="credit-title">Total：<strong>${moneyit($login_user['score'])}</strong></h3>
					<table id="order-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="120">Time</th><th width="auto">Detail</th><th width="50">Balance</th><th width="70">Point</th></tr>
						<!--{loop $credits $index $one}-->
						<tr ${$index%2?'':'class="alt"'}><td style="text-align:left;">${date('Y-m-d H:i', $one['create_time'])}</td><td>${ZCredit::Explain($one)}</td><td class="{$one['direction']}">${$one['score']>0?'income':'expense'}</td><td>${moneyit($one['score'])}</td></tr>
						<!--{/loop}-->
						<tr><td colspan="4">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_credit}-->
		<!--{include block_side_credittip}-->
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
