<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="credit">
	<div class="dashboard" id="dashboard">
		<ul>${current_account('/credit/index.php')}</ul>
	</div>
    <div id="content">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>${I('My_Balance')}</h2>
                </div>
                <div class="sect">
					<p class="charge" style="display:none">
					Top up your {$INI['system']['abbreviation']} account to grab a deal！ <span>&raquo;</span> 
					<a href="/credit/charge.php"> ${I('TopUpAccount')}</a></p>
					<h3 class="credit-title">
					<!--{if $lang=="en"}-->
						Your account balance now is
					<!--{elseif $lang =='fr'}--> 
						Votre solde de compte est de			
					<!--{/if}-->					
					: <strong>${moneyit($login_user['money'])}</strong> {$currency}</h3>
					<table id="order-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="120"> ${I('Time')}</th><th width="auto"> ${I('Detail')}</th><th width="100"> ${I('IANDE')} </th><th width="70"> ${I('Sum')} ({$currency})</th></tr>
						<!--{loop $flows $index $one}-->
						<tr ${$index%2?'':'class="alt"'}><td style="text-align:left;">${date('Y-m-d H:i', $one['create_time'])}</td><td>${ZFlow::Explain($one)}</td><td class="{$one['direction']}">${$one['direction']=='income'?'income':'exspense'}</td><td>${moneyit($one['money'])}</td></tr>
						<!--{/loop}-->
						<tr><td colspan="4">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_credit}-->
		<!--{include block_side_credittip}-->
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
