<!--{include header}-->
<div id="suggest_deal" class="main clear_fix">
	<div class="sidebar fr">
		<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
		<p>Lorem ipsum dolor sit amet</p>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
		</ul>-->
		<!--{include block_side_business}-->
	</div>
	<div class="content">
		<h2 style="padding-bottom:10px;">${I(Propose_Deal)}</h2>
  <form method="post" action="/deals/submit.php?id={$team['id']}" name="suggest_deal">
		<input type="hidden" name="id" value="{$team['id']}" />
		<h3>${I('DealInfo')}</h3>
		<table width="100%">
		  <tr>
				<td width="25%">${I('DealTitle')}</td>
				<td><input type="text" size="30" name="title" id="team-create-title" class="f-input" value="${htmlspecialchars($team['title'])}" datatype="require" require="true" /></td>
			</tr>
			<tr>
				<td>${I('DealRegion')}</td>
				<td>
					<select name="city_id" class="f-input" style="width:160px;">${Utility::Option(Utility::OptionArray($allcities, 'id','name'), $team['city_id'], 'all cities')}</select>
				</td>
			</tr>
			<tr>
				<td style='vertical-align:top;'>${I('DealDescription')}</td>
				<td><textarea cols="45" rows="5" name="detail" id="team-create-detail" class="f-textarea">{$team['description']}</textarea></td>
			</tr>	
			<tr>
				<td>${I('MarketPrice')}</td>
				<td><input type="text" size="10" name="market_price" id="team-create-market-price" class="number" value="${moneyit($team['market_price'])}" datatype="money" require="true" /></td>
			</tr>
			<tr>
				<td>${I('ProposedPrice')}</td>
				<td><input type="text" size="10" name="team_price" id="team-create-team-price" class="number" value="${moneyit($team['team_price'])}" datatype="double" require="true" /></td>
			</tr>		

			<tr>
				<td>${I('LowerLimit')}</td>
				<td>
					<input type="text" size="10" name="min_number" id="team-create-min-number" class="number" value="${intval($team['min_number'])}" maxLength="6" datatype="number" require="true" />
					<label>${I('UpperLimit')}</label>
				  <input type="text" size="10" name="max_number" id="team-create-max-number" class="number" value="${intval($team['max_number'])}" maxLength="6" datatype="number" require="true" />
					</div>
				</td>
			</tr>
			<tr>
				<td>Photo 1 (${I('Optional')})</td>
				<td>
				<input type="file" size="30" name="upload_image" id="team-create-image" class="f-input" />
						<!--{if $team['image']}--><span class="hint">${team_image($team['image'])}</span><!--{/if}-->
				</td>
			</tr>			
			<tr>
				<td>Photo 2 (${I('Optional')})</td>
				<td>
					<input type="file" size="30" name="upload_image1" id="team-create-image1" class="f-input" />
						<!--{if $team['image1']}--><span class="hint" id="team_image_1">${team_image($team['image1'])}&nbsp;&nbsp;<a href="javascript:;" onclick="X.team.imageremove({$team['id']}, 1);">${I('delete')}</a></span><!--{/if}-->
				</td>
			</tr>
			<tr>
				<td>Photo 3 (${I('Optional')})</td>
				<td><input type="file" size="30" name="upload_image2" id="team-create-image2" class="f-input" />
						<!--{if $team['image2']}--><span class="hint" id="team_image_2">${team_image($team['image2'])}&nbsp;&nbsp;<a href="javascript:;" onclick="X.team.imageremove({$team['id']}, 2);">${I('delete')}</a></span><!--{/if}--></td>
			</tr>
			<tr>
			  <td>&nbsp;</td>
			  <td height="40">&nbsp;</td>
		  </tr>
							
		</table>
	<input type="hidden" name="expire_time" id="" value="${date('Y-m-d', $team['expire_time'])}"  />
		<input type="hidden" name="end_time" id="" xd="${date('Y-m-d', $team['end_time'])}" xt="${date('H:i:s', $team['end_time'])}" value="${date('Y-m-d H:i:s', $team['end_time'])}" />
		<input type="hidden" name="begin_time" id="" xd="${date('Y-m-d', $team['begin_time'])}" xt="${date('H:i:s', $team['begin_time'])}" value="${date('Y-m-d H:i:s', $team['begin_time'])}"  />
		<input type="hidden" name="sort_order" id="team-create-sort_order" value="${$team['sort_order'] ? $team['sort_order'] : 0}"/>
		<h3>${I('YourInformation')}</h3>
		<table width="100%">
			<tr>
				<td>${I('PartnerItself')}</td>
				<td><input type="radio" name="partner"/></td>
			</tr>
			<tr>
				<td>${I('BusinessGetter')}</td>
				<td><input type="radio" name="partner"/></td>
			</tr>	
			<tr>
				<td>${I('FullName')}</td>
				<td><input type="text" size="30" name="realname" id="settings-realname" class="f-input" value="{$login_user['realname']}" /></td>	
		  </tr>		
			<tr>
				<td>${I('Username')}</td>
				<td><input type="text" size="30" name="username" id="settings-username" class="f-input" value="{$login_user['username']}" /></td>	
		  </tr>				  		
		  <tr>
				<td width="25%">${I('Mobile')}</td>
				<td><input type="text" size="30" name="mobile" id="team-create-mobile" class="f-input"  datatype="require" require="true" value="{$login_user['mobile']}" /></td>
			</tr>
			<tr>
				<td>${I('Email')}</td>
				<td><input type="text" size="30" name="email" id="team-create-email" class="f-input" datatype="require" require="true" value="{$login_user['email']}" /> </td>
			</tr>
			<tr>
			  <td>&nbsp;</td>
			  <td height="40">&nbsp;</td>
		  </tr>
		</table>
	<h3>${I('PartnerDetails')}</h3>
		<table width="100%">
		  <tr>
				<td width="25%">${I('PartnerName')}</td>
				<td><input type="text" size="30" name="part_name" id="team-create-pname" class="f-input"   value="${htmlspecialchars($team['part_name'])}"/></td>
			</tr>
			<tr>
				<td>${I('PartnerAddress')}</td>
				<td><input type="text" size="30" name="part_add" id="team-create-padd" class="f-input"  value="${htmlspecialchars($team['part_add'])}" /> </td>
			</tr>
			<tr>
				<td>${I('PhoneNumber')}</td>
				<td><input type="text" size="30" name="part_phone" id="team-create-pphone" class="f-input"  value="${htmlspecialchars($team['part_phone'])}"/></td>
			</tr>
			<tr>
				<td>${I('Email')}</td>
				<td><input type="text" size="30" name="part_email" id="team-create-pemail" class="f-input"  value="${htmlspecialchars($team['part_email'])}"/></td>
			</tr>
			<tr>
				<td>${I('WebsiteURL')}</td>
				<td><input type="text" size="30" name="part_url" id="team-create-purl" class="f-input" value="${htmlspecialchars($team['part_url'])}"  /></td>
			</tr>
			<tr style="display:none;">
				<td style='vertical-align:top;'>${I('Deal Details')}</td>
				<td><textarea cols="45" rows="5" name="detail" id="team-create-detail" class="f-textarea">{$team['detail']}</textarea></td>
			</tr>
			<tr>
			  <td>&nbsp;</td>
			  <td height="40">&nbsp;</td>
		  </tr>
		</table>
<h3>${I('AdditionalComments')} (${I('Optional')})</h3>
		<table width="100%">	
			<tr>
				<td></td>
				<td><textarea cols="45" rows="5" name="summary" id="team-create-summary" class="f-textarea" datatype="require" require="true">{$team['summary']}</textarea></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="checkbox" name="term"/> ${I('IDoAccept')}</td>
			</td>
			<tr>
				<td>&nbsp;</td>
				<td>
				<input type="hidden" name="guarantee" value="Y" />
				<input type="hidden" name="system" value="Y" />
				<input type="submit" class="formbutton" value="${I('Submit')}"/></td>
			</tr>
		</table>			
		</form>	
		
	</div>
</div>

<!--{include footer}-->
