body,ul,ol,form{
	margin:0 0;
	padding:0 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
ul,ol{list-style:none}
h1,h2,h3,div,li,p{margin:0;padding:2px;font-size:medium}
h2,li,.s{border-bottom:1px solid #ccc}
h1{
	background-color: #b5cb10;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #13b1c7;
	color: #333;
}
h2{background:#EEEEEE;}
.n{border:1px solid #ffed00;background:#fffcaa}
.t,.a,.stamp,#ft{color:#999;font-size:small}
a{color:#C55400;}
img{border:0px;}
h1 a{color:#FFFFFF; text-decoration:none;}
.navBg td{
	background-image: url(images/nav-bg.gif);
	background-repeat: repeat-x;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #12C1DA;
	height: 51px;
	vertical-align: middle;
	padding-top: 7px;
}

.navBg a{
	text-decoration: none;
	color: #000;
}