<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="feedback">
    <div id="content" class="help">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Feedback</h2></div>
                <div class="sect">
                                    <p class="notice">Please leave your suggestions here, and you may also recommend a biz whose product you want to groupbuy.                   <form id="feedback-user-form" method="post" action="/feedback/suggest.php" class="validator">
                        <div class="field fullname">
                            <label for="feedback-fullname">Your name</label>
                            <input type="text" size="30" name="title" id="feedback-fullname" class="f-input" value="{$login_user['username']}" require="true" datatype="require" />
                        </div> 
                        <div class="field email">
                            <label for="feedback-email-address">Email</label>
                            <input type="text" size="30" name="contact" id="feedback-email-address" class="f-input" value="{$login_user['email']}" require="true" datatype="require" />
                            <span class="hint">Please type your Email here to get reply from us.</span>
                        </div>
                        <div class="field suggest">
                            <label for="feedback-suggest">Content</label>
                            <textarea cols="30" rows="5" name="content" id="feedback-suggest" class="f-textarea" require="true" datatype="require"></textarea>
                        </div>
                        <div class="clear"></div>
                        <div class="act">
                            <input type="submit" value="OK" name="commit" id="feedback-submit" class="formbutton"/>
                        </div>
                    </form>
                                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
