﻿<!--{include block_main_friendlink}-->
<div id="footer_wrapper">
	<div id="footer" class="footer">
	<div class="column_first">
	    <a href="/index.php"><img src="/static/img/logosmall.png" alt="top deal" /></a>
	    <div class="copyright">
		<p>
		    &copy; 2011 TopDeal.ch copyright reserved
		</p>
		<span>by TopDeal S.A.</span></div>
	</div>
	<div class="column linespace">
	    <h3>TOPDEAL</h3>
	    <ul>
		<li>
		    <a href="/about/contact.php">${I('ContactUs')}</a>
		</li>
		<li>
		    <a href="/about/us.php">${I('AboutUs')}</a>
		</li>
		<li>
		    <a href="/about/press.php">${I('Press')}</a>
		</li>
		<li>
		    <a href="/about/terms.php">${I('GeneralConditions')}</a>
		</li>
		<li>
		    <a href="/about/privacy.php">${I('PrivacyPolicy')}</a>
		</li>
	    </ul>
	</div>
	<div class="column">
	    <h3>${strtoupper(I('LearnMore'))}</h3>
	    <ul>
		<li>
		    <a href="https://topdealch.zendesk.com" target="_new">${I('Faqs')}</a>
		</li>
		<!--<li>
		    <a href="#">Payment and Refund info </a>
		</li>-->
		<li>
		    <a href="/account/refer.php">${I('ReferAFriend')}</a>
		</li>
	    </ul>
	</div>
	<div class="column linespace">
	    <h3>${strtoupper(I('Partners'))}</h3>
	    <ul>
		<li>
		    <a href="/about/contact.php">${I('GetFeatured')}</a>
		</li>
		<li>
		    <a href="/deals/submit.php">${I('SuggestADeal')}</a>
		</li>
      </ul>
	</div>
	<!--<div class="column linespace">
	    <h3>GETTING PERSONAL</h3>
	    <ul>
		<li>
		    <a href="#">Follow Hypes: Twitter</a>
		</li>
		<li>
		    <a href="#">Track Hypes: RSS </a>
		</li>
		<li>
		    <a href="#">Refer a friend</a>
		</li>
		<li>
		    <a href="#">Publish Hypes: Blogs</a>
		</li>
	    </ul>
	</div>-->

<div class="column linespace" style="padding-left:60px;float:left">
    <h5>${I('Payer avec')}</h5>
    <table border="0" cellspacing="1" cellpadding="3">
  <tr>
    <td><img src="/static/css/i/post-finance.png" width="54" height="33" /></td>
    <td><img src="/static/css/i/visa.png" width="54" height="33" /></td>
    <td><img src="/static/css/i/master-card.png" width="53" height="32" /></td>
  </tr>
  <tr>
    <td><img src="/static/css/i/paypal.png" width="54" height="22" /></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  </table>
</div>
	</div>
</div>
<!--{include html_footer}-->
