<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="forum"><!--
	<div class="dashboard" id="dashboard">
		<ul>${current_forum('index')}</ul>
	</div>
                -->
    <div id="content" class="coupons-box clear">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2 class="font_bold">All topics</h2>
					<!--{if is_manager()}-->
					<ul class="filter"><li><a href="/forum/new.php" class="button font_bold">New topic</a></li></ul>
					<!--{/if}-->
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="360" colspan="2">Topic</th><th width="80" nowrap>Category</th><th width="80" nowrap>Reply/read</th><th width="100" nowrap>Latest reply</th></tr>
					<!--{loop $topics $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td><a class="deal-title" href="/forum/topic.php?id={$one['id']}" style="${$one['head']?'color:#F00;':''}"><img src="${team_image($teams[$one['team_id']]['image'], true)}" width="90" height="70"/></a></td>
							<td style="text-align:left;"><a class="deal-title" href="/forum/topic.php?id={$one['id']}" style="${$one['head']?'color:#F00;':''}">${htmlspecialchars($one['title'])}</a></td>
                                                        <td nowrap><!--{if $one['public_id']}-->Public forum<!--{elseif $one['team_id']}-->Deal forum<!--{else}-->Local forum<!--{/if}--></td>
                                                        <td align="center" nowrap>{$one['reply_number']}/{$one['view_number']}</td>
                                                        <td class="author" nowrap>{$users[$one['last_user_id']]['username']}<br/>${Utility::HumanTime($one['last_time'])}</td>
						</tr>
					<!--{/loop}-->
                    </table>
			<div>{$pagestring}</div>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
<!--
    <div id="sidebar">
		<!--{include block_side_subscribe}-->
    </div>
-->
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
