<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="forum"><!--
	<div class="dashboard" id="dashboard">
		<ul>${current_forum(null)}</ul>
	</div>
                -->
    <div id="content" class="coupons-box clear">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2 class="font_bold">Add a new topic</h2>
				</div>
                <div class="sect">
                    <form id="forum-new-form" method="post" class="validator">
                        <div class="field">
                            <label>Forum</label>
							<select name='category' style="margin-top:3px;">
							<optgroup label="local forum">
								<option value="city">{$city['name']} forum</option>
							</optgroup>
							<optgroup label="public forum">
								${Utility::Option($publics, $id)}
							</optgroup>
							</select>
                        </div>
                          <div class="field">
                            <label>Deal</label> 
                            <select name="team_id" style="width: 300px">
                            <!--{loop $teams $index $one}-->
                            <option value="{$one['id']}" title="${htmlspecialchars($one['title'])}" 
                                    <!--{if $coupon['team_id'] == $one['id']}-->selected='selected'<!--{/if}-->>{$one['title']}
                            </option>
                            <!--{/loop}-->
                            </select>
                        </div>
						<div class="field">
							<label>Title</label>
							<input type="text" size="10" name="title" id="team-create-style" class="f-input" value="${htmlspecialchars($topic['title'])}" datatype="require" require="true" style="width:600px; border: solid 1px #7F2452"/>
						</div>
						<div class="field">
							<label>Content</label>
							<textarea style="width:600px;height:240px;" name="content" id="forum-new-content" class="f-textarea" datatype="require" require="true">${htmlspecialchars($topic['content'])}</textarea>
						</div>
						<div class="act">
                            <a href="javascript: document.getElementById('forum-new-form').submit();" class="button font_bold ok">Submit</a>
                        </div>
                    </form>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
<!--
    <div id="sidebar">
		<!--{include block_side_subscribe}-->
    </div>
-->
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
