<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="forum">
	<div class="dashboard" id="dashboard">
		<ul>${current_forum('city')}</ul>
	</div>
    <div id="content" class="coupons-box clear">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2 class="font_bold">{$city['name']}Forum topic</h2>
					<ul class="filter"><li><a href="/forum/new.php" class="button font_bold">New topic</a></li></ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="440">Topic</th><th width="80" nowrap>Reply/Read</th><th width="100" nowrap>Latest reply</th></tr>
					<!--{loop $topics $index $one}-->
						<tr ${$index%2?'':'class="alt"'}><td style="text-align:left;"><a class="deal-title" href="/forum/topic.php?id={$one['id']}" style="${$one['head']?'color:#F00;':''}">${htmlspecialchars($one['title'])}</a></td><td align="center" nowrap>{$one['reply_number']}/{$one['view_number']}</td><td class="author" nowrap>{$users[$one['last_user_id']]['username']}<br/>${Utility::HumanTime($one['last_time'])}</td></tr>
					<!--{/loop}-->
                    </table>
		<div>{$pagestring}</div>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
<!--
    <div id="sidebar">
		<!--{include block_side_subscribe}-->
    </div>
-->
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
