<!--{include header}-->
<?php
function anableLinks($text){
	$text = preg_replace("@<script[^>]*>.+</script[^>]*>@i", "", $text);
	// The Regular Expression filter
	$reg_exUrl = "/(http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?/";

	// Check if there is a url in the text
	if(preg_match($reg_exUrl, $text, $url)) {

	       // make the urls hyper links
	       return preg_replace($reg_exUrl, "<a href=\"$url[0];\" target=\"_blank\">$url[0]</a>", $text);

	} else {

	       // if no urls in the text just return the text
	       return $text;

	}

}
?>
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="forum">
    <!--
	<div class="dashboard" id="dashboard">
		<ul>${current_forum(null)}</ul>
	</div>
    -->
    <div id="content" class="coupons-box clear">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head clear_fix">
		    <img src="${team_image($team['image'], true)}" width="160" height="90" style="float:left; margin: 0 10px 10px 0;">
                    <h2 class="font_bold">${htmlspecialchars($topic['title'])}</h2>
					<ul class="filter" style="position:absolutely;top:60px;clear:both;float:none;"><li><a href="#reply" class="font_bold button reply">Reply</a></li><!--{if is_manager()}--><li><a href="/ajax/topic.php?action=topicremove&id={$topic['id']}" class="font_bold ajaxlink button delete" ask="sure to delete the topic？">Delete</a></li><li><a href="/ajax/topic.php?action=topichead&id={$topic['id']}" class="font_bold ajaxlink button gotop">Top</a></li><!--{/if}--></ul>
				</div>
                <div class="sect">
				<table id="replies-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr>
					<td width="48" valign="top"><div class="avatar"><img src="${user_image($users[$topic['user_id']]['avatar'])}" width="48" height="48" /></div></td>
					<td width="660">
						<div class="author">
							<span style="float:right;">${Utility::HumanTime($topic['create_time'])}<!--{if is_manager()}-->&nbsp;<a href="/ajax/topic.php?action=topicremove&id={$topic['id']}" class="ajaxlink" ask="sure to delete the topic">－delete</a><!--{/if}--></span><b>{$users[$topic['user_id']]['username']}</b><div class="clear"></div>
						</div>
						<div class="topic-content">
							${nl2br(anableLinks($topic['content']))}
						</div>
					</td>
					</tr>
					<!--{loop $replies $index $one}-->
					<tr ${$index%2?'':'class="alt"'}>
					<td width="48" valign="top">
						<div class="avatar"><img src="${user_image($users[$one['user_id']]['avatar'])}" width="48" height="48" /></div>
					</td>
					<td width="660">
						<div class="author">
							<span style="float:right;">${Utility::HumanTime($one['create_time'])}<!--{if is_manager()}-->&nbsp;<a href="/ajax/topic.php?action=topicremove&id={$one['id']}" class="ajaxlink" ask="sure to delete the reply？">－delete</a><!--{/if}--></span><b>{$users[$one['user_id']]['username']}</b><div class="clear"></div>
						</div>
						<div class="topic-content">
							${nl2br(anableLinks($one['content']))}
						</div>
					</td>
					</tr>
					<!--{/loop}-->
				</table>	
				<div>{$pagestring}</div>
				</div>
				<div class="head" id="reply">
					<h2 class="font_bold">Quick reply</h2>
				</div>
				<div class="sect consult-form">
					<!--{if is_login()}-->
                    <form id="forum-reply-form" method="post" action="/forum/topic.php?id={$topic['id']}" class="validator">
					<input type="hidden" name="parent_id" value="{$topic['id']}" />
					<textarea style="width:850px;height:100px;" name="content" id="forum-new-content" class="f-textarea" require="true" datatype="require"></textarea>
					<p class="commit"><a href="javascript: document.getElementById('forum-reply-form').submit();" class="button font_bold publish">Publish</a></p>
					</form>
					<!--{else}-->
					Please <a href="/account/login.php?r={$currefer}">login</a>or<a href="/account/signup.php">register</a>before asking.
					<!--{/if}-->
					<div class="clear"></div>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
<!--
    <div id="sidebar">
		<!--{include block_side_subscribe}-->
    </div>
-->
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
