<!--{include html_header}-->
<div class="top_wrraper">
    <div class="top">
	<!--{if $login_user}-->
	<!--{else}-->
                <a href="/account/signup.php" style="margin-right:10px;color:#fff;border-right: 1px solid #fff;border-left: 1px solid #fff;padding: 0 20px;line-height: 21px;" class="font_normal">${I('Register')}</a>	
	<!--{/if}-->
<?php
parse_str($_SERVER['QUERY_STRING'], $query_string);
$query_string['tr'] = 'fr';
$rdr_str = http_build_query($query_string);
$frLink = $INI['system']['wwwprefix'] . '/' . "?".$rdr_str;

$query_string['tr'] = 'en';
$rdr_str = http_build_query($query_string);
$enLink = $INI['system']['wwwprefix'] . '/' . "?".$rdr_str;
/*
if(!$pre_launch) {
	
	if ( $lang == 'en' )
	{
		
		echo "<a href=\"".$frLink."\" class=\"normal font_normal\" style=\"line-height: 21px; padding: 5px;\"> FR </a>/<a href=\"".$enLink."\" class=\"selected font_normal\"> EN </a>";
	}
	else
	{
		echo "<a href=\"".$frLink."\" class=\"selected font_normal\" style=\"line-height: 21px; padding: 5px;\"> FR </a>/<a href=\"".$enLink."\" class=\"normal font_normal\"> EN </a>";
	}
	
}
*/
?>
    </div>
</div>
<div id="header" class="header clear_fix">
    <div class="right fr">
<!--{if $login_user}-->    
	<ul class="account_info">
		<li class="username">${I('Welcome')} <b>{$login_user['username']}！</b></li>
		<li class="account"><a href="/account/refer.php" id="myaccount" class="account">${I('Account')}</a></li>
		<li class="logout"><a href="/account/logout.php">${I('Logout')}</a></li>
	</ul>
	<div id="fb-root"></div> 
	<script> 
		window.fbAsyncInit = function() {
			FB.init({
				appId : '184414568270630',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml : true // parse XFBML
			});
		};
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);

	</script> 
<!--{else}-->
<div id="fb-root"></div> 
	<script> 
		window.fbAsyncInit = function() {
			FB.init({
				appId : '184414568270630',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml : true // parse XFBML
			});
		};
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);

                

        function fblogin()
        {
             FB.login(function(response) {
               if (response.authResponse) {
                 window.location.href = '{$INI['system']['wwwprefix']}/fblogin.php';;
               }
             }, {scope: 'publish_stream,email,user_birthday'});
        }
    </script>
        <form id="login-user-form" action="/account/login.php" method="post">
			<label for="login-email-address" class="font_bold">${I('Header_Login')}</label>
			<input type="text" size="30" name="email" id="login-email-address" class="w-input" value="${I('Header_Login_Value')}" require="true" datatype="require|limit" min="2">
			<label for="login-password" class="font_bold">${I('Header_Password')}</label>
			<input type="password" size="30" name="password" id="login-password" class="w-input" require="true" datatype="require">
            <input type="submit" value="OK"/>
			<div style='clear:both'><span></span></div>
			<div><a href="javascript:fblogin()" style="color:#000;"><strong class="font_bold">facebook</strong> <span class="font_light">connect<span></a></div>
			<div><a href="/redirect.php" style="color:#000;"><strong class="font_bold">twitter</strong> <span class="font_light">connect<span></a></div>
<!--			
			
			<fb:login-button size="large" onlogin="Groupon.FacebookConnect.onConnect()" perms="publish_stream,email,user_birthday">Facebook Sign in</fb:login-button>
-->        
		</form>
<!--{/if}-->
    </div>
    <div class="left">
        <div class="banner clear_fix">
            <div class="logo fl">
                <a href="/index.php" class="link"><img src="/static/img/new_logo.png"  alt="{$INI['system']['sitename']}"></a>
            </div>
<!--					
		<!--{if $lang=="en"}--><div class="hotdeal_box_en" onclick="window.location='{$INI['system']['wwwprefix']}/invitenwin/index.php';"><span></span></div><!--{elseif $lang =='fr'}--><div class="hotdeal_box"  onclick="window.location='{$INI['system']['wwwprefix']}/invitenwin/index.php';"><span></span></div><!--{/if}-->
-->
       </div>
 
		<!--{if !$pre_launch}-->
        <div class="navigation">
<!--
			<div id="new_icon" class="font_bold" style="right: 120px;">New</div>
-->
            <ul class="clear_fix">
					${current_frontend()}
            </ul>
        </div>
		<!--{/if} -->

	</div>
</div>
<!--{if $session_notice=Session::Get('notice',true)}-->
<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p>{$session_notice}</p><span class="close">
<!--{if $lang=="en"}-->Close<!--{elseif $lang =='fr'}--> Fermer<!--{/if}-->
</span></div></div> 
<!--{/if}-->
<!--{if $session_notice=Session::Get('error',true)}-->
<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p><span class="close">
<!--{if $lang=="en"}-->Close<!--{elseif $lang =='fr'}--> Fermer<!--{/if}-->
</span></div></div> 
<!--{/if}-->
<script type="text/javascript">
$(document).ready(function(){
	$('.selectbox .text').click(function(e){
		e.stopPropagation();
		e.preventDefault();
		var w = $(this).parents('.BoxConer1').outerWidth();
		var menu = $(this).parents('.BoxConer1').find('.city-list');
		if(menu.is(':visible')) {
			menu.slideUp();
			return false;
		}
		else menu.slideDown();
		menu.animate({'width': w},500);
	});

	$(document).click(function(){
		var menu = $(this).find('.city-list');
		menu.slideUp();
	});
	$('#login-email-address').focus(function(){
		clearEmail(this.id);
	});
	$('#login-email-address').blur(function(){
		fillEmail(this.id);
	});
	
});
function clearEmail(id){
	var tmp = "${I('Header_Login_Value')}";
	var val = $('#'+id).val();
	if(val == tmp) $('#'+id).val("");
}

function fillEmail(id){
	var tmp = "${I('Header_Login_Value')}";
	var val = $('#'+id).val();
	if(val == '') $('#'+id).val(tmp);
}
</script>
