<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="maillist">
	<div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content welcome">
				<div class="head">
					 <h2>Friend link</h2>
				</div>
                <div class="sect">
					<div class="link">
            		<!--{loop $logos $one}-->
						<a href="{$one['url']}" title="{$one['title']}" target="_blank"><img src="{$one['logo']}" alt="{$one['title']}" /></a>
            		<!--{/loop}-->
        			</div>
        			<div class="cl"></div>
      				<div id="txt_link">
					<!--{loop $texts $one}-->
						<a href="{$one['url']}" title="{$one['title']}" target="_blank">{$one['title']}</a>
            		<!--{/loop}-->
                    </div>
					
				<div class="intro"><p>  1, does not link to a reactionary, pornographic, gambling and other undesirable content or provide links to sites inappropriate content, and site name or content in violation of state policies and regulations related to the site; </p>
<p> 2, does not link contains a virus, trojan, or malicious pop-up plug-in settings to change someone else's computer Web site, and a number of pop ads website; </p>
<p> 3, not the actual content of linked websites and does not match the name of the site, such as Guizhan is under construction or not yet a clear theme of the website, please do not present your application, you are welcome to apply after construction is completed in Guizhan; </ p >
<p> 4, does not link to non-top-level domain, linked to other sites, no actual content, only domain names point to only a single page website or the content of the site; </p>
<p> 5, under normal circumstances does not link to the website can not be accessed; </p>
<p> 6, Note: <a href="/feedback/suggest.php"> submit an application </a> link to this site before you do, or not passed. </p>
				</div>
			</div>
		</div>
		<div class="box-bottom"></div>
	</div>
</div>
<div id="sidebar">
	<div class="side-pic">
	   <p><img src="/static/img/subscribe-pic1.jpg" /></p> 
	   <p><img src="/static/img/subscribe-pic2.jpg" /></p> 
	   <p><img src="/static/img/subscribe-pic3.jpg" /></p> 
	</div>
</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
