<!--{include header}-->
<div id="main" class="main clear_fix">
    <div class="sidebar fl">
        <div class="top">
            <a href="#"class="sl">120 <img src="/static/img/charater.png" /></a><span class="dv">J&#39;ACHETE</span>
        </div>
        <div class="pt">
            <p>
                VALEUR <span>&nbsp;&nbsp;   <b>20</b><img src="/static/img/charater1.png" /></span>
            </p>
            <p class="pink">
                REMISE <span>&nbsp;&nbsp; <b>60%</b></span>
            </p>
            <p>
                ECONOMIE <span><b>20</b><img src="/static/img/charater1.png" /></span>
            </p>
        </div>
        <div class="box temps">
            <h2>TEMPS RESTANT</h2>
            <div class="col">
                <p>
                    Jours
                </p>
                <a class="item" href="1">1</a>
            </div>
            <div class="col">
                <p>
                    Heures
                </p>
                <a class="item" href="10">10</a>
            </div>
            <div class="col">
                <p>
                    Minutes
                </p>
                <a class="item" href="11">11</a>
            </div>
        </div>
        <div class="box">
            <h2>168 ACHATS</h2>
            <p>
                Il reste<span> 332 </span>Deals disposition,a acheter maintenant. 
            </p>
        </div>
        <div class="box">
            <div class="check">
                <p>
                    Deal valid&#233; ! disponible &#224; l'achat
                </p>
            </div>
        </div>
        <div class="map">
            <h2>SUSHI ZEN</h2>
            <p>
                Rue du bourg 18 
                <br/>
                1004 Lausanne 
                <br/>
                CH - Suisse 
            </p>
            <a href="#"><img src="/static/img/map.png" /></a>
        </div>
    </div>
    <div class="content">
        <div class="rightside">
            <!--box corner -->
            <div class="BoxCorner BoxConer1">
                <div class="BGM BoxTable">
                    <div class="add">
                        <a href="/deals/submit.php">${I('Propose_Deal')}</a>
                    </div>
                </div>
                <div class="BgBL">
                    <div class="BgBR">
                        <div class="BgBM">
                        </div>
                    </div>
                </div>
            </div>
            <!--end box corner--><!--box corner -->
            <div class="BoxCorner">
                <div class="BgTL">
                    <div class="BgTR">
                        <div class="BgTM">
                        </div>
                    </div>
                </div>
                <div class="BGM BoxTable">
                    <!--{include block_side_subscribe}-->
                </div>
                <div class="BgBL">
                    <div class="BgBR">
                        <div class="BgBM">
                        </div>
                    </div>
                </div>
            </div>
            <!--end box corner-->
            <div class="connect">
                <!--end box corner-->
            <div class="connect">
            <!--{if $login_user}-->
            <!--{else}-->
                <div>
                    <?php include WWW_ROOT. "/fb_connector.php"; ?>
                </div>
                <div>
                    <a href="/redirect.php"><img src="/tw_connect/images/lighter.png"  alt="Twitter Connect"/></a>
                </div>
              <!--{/if}-->
            </div>
            <div class="Iframe">
                <img src="/static/img/IframeFacebook.png" />
            </div>
            <div class="espace">
                ESPACE PUB
            </div>
        </div>
        <div class="maincontent ">
            <div class="slideshow" id="slideshow">
                <div class="Item">
                    <h2><a href="">LOREM IPSUM CONSECTUOR ELIT NULLA</a></h2>
                    <p>
                        Dolor sit amet, consectetur adipiscing elit. Nulla commodo libero. dolor sit amet, consectetur adipiscing elit. Nulla commodo libero. dolor sit amet, consectetur adipiscing elit. Nulla commodo libero.dolor sit amet, consectetur adipiscing elit. 
                    </p>
													<div class="BoxCorner">
			                        <div class="BgTL">
			                            <div class="BgTR">
			                                <div class="BgTM">
			                                </div>
			                            </div>
			                        </div>
			                        <div class="BGM BoxTable slide_container">
			                        	<div class="link_list">
			                            <a class="link" href="#"><img src="/static/img/img1.jpg" /></a>
																	<a class="link" href="#"><img src="/static/img/img2.jpg" /></a>
																	<a class="link" href="#"><img src="/static/img/img3.jpg" /></a>
																	<a class="link" href="#"><img src="/static/img/img4.jpg" /></a>
																</div>
			                        </div>
			                        <div class="BgBL">
			                            <div class="BgBR">
			                                <div class="BgBM">
			                                </div>
			                            </div>
			                        </div>
			                    </div>														
                </div>												
            </div>
            <div class="pagging">
            </div>
            <div class="feature">
                <div class="column">
                    <h3><a href="">Nous vous proposons</a></h3>
                    <ul>
                        <li>
                            Dinner Dhow Cruise along Karachi Marina
                        </li>
                        <li>
                            Fresh International Cuisine Buffet
                        </li>
                        <li>
                            Unlimited soft drinks
                        </li>
                        <li>
                            The cruise lasts for 2 hours
                        </li>
                        <li>
                            Children Under 9 go free
                        </li>
                        <li>
                            On-board live entertainment, including 
                        </li>
                        <li>
                            Traditional Dancing
                        </li>
                        <li>
                            Traditional tea and Sheesha 
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h3><a href="">Conditions</a></h3>
                    <ul>
                        <li>
                            Dinner Dhow Cruise along Karachi Marina
                        </li>
                        <li>
                            Fresh International Cuisine Buffet
                        </li>
                        <li>
                            Unlimited soft drinks
                        </li>
                        <li>
                            The cruise lasts for 2 hours
                        </li>
                        <li>
                            Children Under 9 go free
                        </li>
                        <li>
                            On-board live entertainment, including 
                        </li>
                        <li>
                            Traditional Dancing
                        </li>
                        <li>
                            Traditional tea and Sheesha 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="detail">
                <h3><a href="#">D&#233;tail</a></h3>
                <p>
                    Ce petit restaurant sp&#233;cialis&#233; dans cette gastronomie tr&#233;s tendance, car &#233; la fois raffin&#233;e et l&#233;g&#233;re, te propose d&#233;acqu&#233;rir un bon pour CHF 19.- te donnant droit &#233; un repas d&#233;une valeur de CHF 40.- &#233; composer parmi les mets propos&#233;s sur la carte (&#233; l&#233;exception des boissons) !
                </p>
                <p>
                    Chez Itsu Sushi, ce nouveau petit &#233;tablissement de la rue Pradier, entre la gare et le quartier des P&#233;quis &#233; Gen&#233;ve, tu pourras trouver les deux crit&#233;res qui font d&#233;faut &#233; beaucoup d&#233;&#233;tablissements &#233; Gen&#233;ve. Les sushis, sashimis et autres d&#233;licieux rouleaux &#233; base de poisson ou v&#233;g&#233;tariens sont r&#233;alis&#233;s avec le plus grand soin et dans la plus pure tradition par des sushi men. Les ingr&#233;dients de base sont de la premi&#233;re fra&#233;cheur, la cuisson du riz... 
                </p>
            </div>
        </div>
    </div>
</div>
<!--{include footer}-->
