</div>
<div class="container" id="footer">
		<div class="row text-center m-footer">
			<div class="col-md-12 footer">
				2011 - <?php echo date('Y')?> &copy; TopDeal S.A., tous droits réservés
			</div>			
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/v4/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
<!--[if IE ]>
    <script type="text/javascript">
        //Placeholder fix
        $('input, textarea').placeholder();
    </script>
<![endif]--> 
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(https://assets.zendesk.com/external/zenbox/v2.5/zenbox.css);
</style>
<script type="text/javascript">
if (typeof(Zenbox) !== "undefined") {
Zenbox.init({
dropboxID: "20300101",
url: "https://topdealch.zendesk.com",
tabTooltip: "Assistance",
tabImageURL: "https://p3.zdassets.com/external/zenbox/images/tab_fr_support_black.png",
tabColor: "white",
tabPosition: "Left"
});
}
</script>
  </body>
</html>