<div class="terms-container" style="width: 860px; height: 500px; overflow-y: auto;padding: 20px">
<style>
	.terms-container p ,.terms-container p strong{
		font-family: Georgia, 'HelveticaNeue',Sans-Serif;
		font-size: 16px;
		font-style: italic;
		line-height: 20px;
	}
	.terms-container p strong{
		line-height: 30px;
	}
</style>
	{$invitecontest['terms_conditions']}
</div>
