<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
<script type="text/javascript" src="/static/js/jquery.simpleValidate.js"></script>
<script type="text/javascript" src="/static/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/static/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

	
    
       
        <div class="box-content">
            <link rel="stylesheet" type="text/css" href="/static/css/summer.css">
           
	<script src="/static/js/script.js" type="text/javascript"></script>
            <div class="main-content">
		<!-- Banner -->
		<div class="banner clear_fix">
			<div class="left">
				<div class="featured">
					<h1 class="title">{$invitecontest['title']}</h1>
					<div class="description">
						<p>Grand prix de l’été</p>
						<a href="#" class="subtitle">1 bon à faire valoir <br/>sur l’iPhone 5 !</a>
					</div>
					<img src="/static/img/iphone5.png">
				</div>
			</div>
			<div class="right">
				<div class="item">
					<img src="/static/img/bike.png"/>	
					<p>Premier prix intermédiaire</p>
					<h3>1 vélo électrique</h3>
				</div>
				<div class="item">
					<img src="/static/img/bike.png"/>	
					<p>Deuxième prix intermédiaire</p>
					<h3>1 vélo électrique</h3>
				</div>
			</div>
		</div><!-- End of banner -->
		<div class="separator"><img src="/static/img/dot_line.png"/></div>
		<div class="content clear_fix">
			<div class="left">
				<h2>Comment participer?</h2>
				<p style="padding-bottom: 20px;">Pellentesque feugiat iaculis quam, vel pretium lorem accumsan euismod. Suspendisse potenti. Nam in est lorem. Proin cursus condimentum mauris, a mollis nisl sodales nec. <strong>Vivamus</strong> dolor tellus, euismod a scelerisque ut, vestibulum vitae nunc. Praesent vel consectetur nisl. Suspendisse potenti. Aliquam dictum pellentesque tellus sit amet varius. Vivamus non felis erat, a euismod nunc. Maecenas in purus ac metus pellentesque rhoncus laoreet nec velit. Praesent eget fringilla metus.Praesent vel consectetur nisl. Suspendisse potenti. Aliquam dictum pellentesque tellus sit amet varius. Vivamus non felis erat, a euismod nunc. <strong>Maecenas in purus</strong> ac metus pellentesque rhoncus laoreet nec velit. Praesent eget fringilla metus.
Praesent vel consectetur nisl. Suspendisse potenti. Aliquam dictum pellentesque tellus sit amet varius. Vivamus non felis erat, a euismod nunc. Maecenas in purus ac  velit. Praesent eget fringilla metus.</p>
				<a href="index.php?cmd=terms" id="terms">Conditions générales du concours</a>
			</div>
                    <!--{if $login_user_id == ''}-->
			<div class="right">
				<div class="clear_fix" style="overflow:hidden;">
                                     <form id="login-form" action="/account/login.php" method="post">
					<div class="column signup-form">
						<label>Vous êtes déjà <span>enregistré</span> sur TopDeal</label>
						<div class="input-container">
							<div class="input-label">Email</div>
							<input type="text" name="email" value="">
						</div>
						<div class="input-container">
							<div class="input-label">Mot de passe</div>
							<input type="password" name="password" value="">
						</div>
						<div class="clear_fix" style="padding: 15px 0 0 5px;">
							<a href="#">Mot de passe oublié?</a>
							<a href="javascript:doLogin();" class="button width-64 fr mr-7"><div>OK</div></a>
						</div>
                                                

					</div>
                                         <input type="hidden" name="ref" value="{$INI['system']['wwwprefix']}/invitenwin/index.php?cmd=subscribe"/>
                                         </form>
					<div class="column signup-form">
                                            <form id="signup-user-form" method="post" action="/account/signup.php" class="required-form2">
						<label>Vous voulez vous <span>inscrire</span> sur TopDeal</label>
						<div class="input-container">
							<div class="input-label">Email</div>
							<input type="text" name="email" value="">
						</div>
						<div class="input-container">
							<div class="input-label">Mot de passe</div>
							<input type="password" name="password" value="">
						</div>
						<div class="input-container">
							<div class="input-label">Confirmer le mot de passe</div>
							<input type="password" name="password2" value="">
						</div>
						<div class="clear_fix" style="padding: 15px 0 0 5px;">
							<a href="javascript:doRegister()" class="button width-130 fr mr-7"><div>S'INSCRIRE</div></a>
						</div>
                                                <input type="hidden" name="ref" value="{$INI['system']['wwwprefix']}/invitenwin/index.php?cmd=subscribe"/>
                                            </form>
					</div>
                                        <script type="text/javascript">
                                            function doLogin(){
                                                document.getElementById("login-form").submit();
                                            }
                                            
                                            function doRegister(){
                                                document.getElementById("signup-user-form").submit();
                                            }
                                        </script>
				</div>
				<div class="connect clear_fix" style="overflow:hidden;">
					<div class="fl"><p>Vous connecter avec</p></div>
					<a href="#" class="fl"><img src="/static/img/button_facebook.png"/></a>
					<a href="#" class="fl"><img src="/static/img/button_twitter.png"/></a>
				</div>
				<div class="separator"><img src="/static/img/greydot_line.png"/></div>
				<div class="connect clear_fix connect-footer">
					<div class="fl connect-text">
						<strong>Partagez ce concours avec vos amis!</strong>
						<p>Attention ceci n’est pas une participation au concours</p>
					</div>
					<a href="#" class="fl"><img src="/static/img/mail.png" height="36"/></a>
					<a href="#" class="fl"><img src="/static/img/icon_facebook.png"/></a>
					<a href="#" class="fl"><img src="/static/img/icon_twitter.png"/></a>
				</div>
			</div>
                    <!--{else}-->
                    <div class="right">
				<div class="clear_fix" style="overflow:hidden;">
					<div class="column bonjour">
						<label>Bonjour <span>{$login_user['first_name']}&nbsp;{$login_user['first_name']}</span></label>
						<p>Tente ta chance avec notre grand concours de l’été.</p>
						<p>Pour cela il te suffit de te rendre sur ta page personnelle !</p>
						<a href="index.php?cmd=subscribe" class="button_tag"><img src="/static/img/button_tag.png"/></a>
					</div>					
				</div>
				<div class="separator"><img src="/static/img/greydot_line.png"/></div>
				<div class="connect clear_fix connect-footer">
					<div class="fl connect-text">
						<strong>Partagez ce concours avec vos amis!</strong>
						<p>Attention ceci n’est pas une participation au concours</p>
					</div>
					<a href="#" class="fl"><img src="/static/img/mail.png" height="36"/></a>
					<a href="#" class="fl"><img src="/static/img/icon_facebook.png"/></a>
					<a href="#" class="fl"><img src="/static/img/icon_twitter.png"/></a>
				</div>
			</div>
                    <!--{/if}-->
		</div>
	</div><!-- End of Main Content -->

</div>


<script type="text/javascript">
$(document).ready(function(){
	Cufon.replace('.header .banner .selectbox, #suggest_deal .selectbox,.action a,.product .label,.navigation a,.maincontent h3,.maincontent h2,.account_info li.account, .account_info li.logout, .font_normal,  .Deal_footer .col p',{ fontFamily: 'Akkurat' });
	$('.input-container').autoHideLabel();
	$('#terms').fancybox();
});
</script>
<script type="text/javascript"> Cufon.now(); </script>
        </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->


<!--{include footer}-->
