<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    
   <link rel="stylesheet" type="text/css" href="/static/css/summer.css">
        <div class="box-content">
            <div class="main-content summer5">
		<h1 class="title">Le concours de l’été</h1>
		<div class="top-banner clear_fix">
			<div class="column-2" style="position:relative;">
				<label>Bonjour <span>{$login_user['first_name']}</span></label>
				<div class="circle">{$count}</div>
			</div>
			<div class="column-2">
				<p>amis se sont inscrits avec ton URL et te permettront peut-être
de gagner l'un des 3 cadeaux de l’été !</p>
				<p>Veux-tu augmenter tes chances de gagner? Partage avec
d’autres amis ton URL personnelle.</p>
				<a href="index.php?cmd=invite" class="button_tag"><img src="/static/img/button_tag2.png"/></a>
			</div>
		</div>
		<!-- Banner -->
		<div class="banner clear_fix">			
			<div class="left">
				<div class="featured">
					<div class="description">
						<p>Grand prix de l’été</p>
						<a href="#" class="subtitle">1 bon à faire valoir <br/>sur l’iPhone 5 !</a>
					</div>
					<img src="/static/img/iphone5.png">
				</div>
			</div>
			<div class="right">
				<div class="item">
					<img src="/static/img/bike.png"/>	
					<p>Premier prix intermédiaire</p>
					<h3>1 vélo électrique</h3>
				</div>
				<div class="item">
					<img src="/static/img/bike.png"/>	
					<p>Deuxième prix intermédiaire</p>
					<h3>1 vélo électrique</h3>
				</div>
			</div>
		</div><!-- End of banner -->
		<div class="separator"><img src="/static/img/dot_line.png"/></div>
		<div class="content clear_fix">
			<div class="left widthauto">
				<h2>Comment participer?</h2>
				<p style="padding-bottom: 20px;">Pellentesque feugiat iaculis quam, vel pretium lorem accumsan euismod. Suspendisse potenti. Nam in est lorem. Proin cursus condimentum mauris, a mollis nisl sodales nec. <strong>Vivamus</strong> dolor tellus, euismod a scelerisque ut, vestibulum vitae nunc. Praesent vel consectetur nisl. Suspendisse potenti. Aliquam dictum pellentesque tellus sit amet varius. Vivamus non felis erat, a euismod nunc. Maecenas in purus ac metus pellentesque rhoncus laoreet nec velit. Praesent eget fringilla metus.Praesent vel consectetur nisl. Suspendisse potenti. Aliquam dictum pellentesque tellus sit amet varius. Vivamus non felis erat, a euismod nunc. <strong>Maecenas in purus</strong> ac metus pellentesque rhoncus laoreet nec velit. Praesent eget fringilla metus.
Praesent vel consectetur nisl. Suspendisse potenti. Aliquam dictum pellentesque tellus sit amet varius. Vivamus non felis erat, a euismod nunc. Maecenas in purus ac  velit. Praesent eget fringilla metus.</p>
				<a href="index.php?cmd=terms">Conditions générales du concours</a>
			</div>
			<div class="separator"><img src="/static/img/greydot_longline.png"/></div>
			<div class="connect clear_fix connect-footer">
				<div class="fl connect-text">
					<strong>Partagez ce concours avec vos amis!</strong>
					<p>Attention ceci n’est pas une participation au concours</p>
				</div>
				<a href="#" class="fl"><img src="/static/img/mail.png" height="36"/></a>
				<a href="#" class="fl"><img src="/static/img/icon_facebook.png"/></a>
				<a href="#" class="fl"><img src="/static/img/icon_twitter.png"/></a>
			</div>
		</div>
	</div>
        </div>
			
			
        </div>
        <div class="box-bottom"></div>
    </div>
	

</div> <!-- bd end -->
</div> <!-- bdw end -->


<!--{include footer}-->
