<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">   
        <div class="box-content">
             <link rel="stylesheet" type="text/css" href="/static/css/summer.css">
    		<script src="/static/js/script.js" type="text/javascript"></script>
            <div class="main-content summer3">		
		<div class="top-banner clear_fix signup-form">
			<h1 class="title">Ta page personnelle Concours de l’été</h1>
			<div class="column-2">
				<p>Voici ton URL personnelle à partager avec tes amis !</p>
				<div class="clear_fix">
					<div class="input-container medium-input fl">
						<div class="input-label"></div>
						<input type="text" name="url" value="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}">
					</div>
					<a href="#" class="button fl" style="margin-top:21px;width: 80px;margin-left: 10px;"><div>COPIER</div></a>
				</div>
				<p style="padding: 20px 0;">Tu peux également la partager avec:</p>
				<div class="clear_fix social">
					<a href="#" class="fl"><img src="/static/img/mail.png" height="36"/></a>
					<a href="#" class="fl"><img src="/static/img/icon_facebook.png"/></a>
					<a href="#" class="fl"><img src="/static/img/icon_twitter.png"/></a>											
				</div>
			</div>
			<div class="column-2"><form id="frmInviteFriends" method="post" action="index.php">
				<p>OU partage directement sur les emails de tes amis !</p>
				<div class="email-container">
					<div class="input-container medium-input">
						<div class="input-label">Adresse email 1</div>
						<input type="text" name="friend[]" value="">
					</div>
					<div class="input-container medium-input">
						<div class="input-label">Adresse email 2</div>
						<input type="text" name="friend[]" value="">
					</div>
					<div class="clear_fix" style="margin-bottom: 20px;">
						<div class="input-container medium-input fl">
							<div class="input-label">Adresse email 3</div>
							<input type="text" name="friend[]" value="">
						</div>
						<a href="#" class="button fl" id="btnAdd" style="margin-top:21px;margin-left: 10px;"><div>+</div></a>
					</div>
				</div>
				<p>Utilise le message TopDeal <a href="javascript:$('#idMsg').focus();">ou un mot plus perso</a>.</p>
				<div class="input-container large-input">
					<div class="input-label">Ton nom</div>
					<input type="text" name="tname" value="" id="idSender">
				</div>
				<div class="input-container textarea-input">
					<div class="input-label">Message rédigé par TopDeal</div>
					<textarea name="message" id="idMsg"></textarea>
				</div>
                            	<a href="javascript:invitefriends();" class="button fr" style="width: 110px; margin:10px 42px 0 0;"><div>ENVOYER</div></a>
                                <input type="hidden" name="cmd" value="invite" />
                                <script type="text/javascript">
                                    function invitefriends()
                                    {
                                        if ( document.getElementById('idMsg').value.length == 0 )
                                        {
                                            $('#idMsg').val('Message rédigé par TopDeal');
                                        }
                                         if ( document.getElementById('idSender').value.length == 0 )
                                        {
                                            alert("Please enter your Name");
                                            document.getElementById('idSender').focus();
                                            return;
                                        }
                                        document.getElementById('frmInviteFriends').submit();
                                    }
                                    </script>
                            </form></div>
		</div>		
		<div class="separator"><img src="/static/img/dot_line.png"/></div>
		<div class="content clear_fix">
			<div class="left widthauto">
				<h2>Comment participer?</h2>
				<p style="padding-bottom: 20px;">Pellentesque feugiat iaculis quam, vel pretium lorem accumsan euismod. Suspendisse potenti. Nam in est lorem. Proin cursus condimentum mauris, a mollis nisl sodales nec. <strong>Vivamus</strong> dolor tellus, euismod a scelerisque ut, vestibulum vitae nunc. Praesent vel consectetur nisl. Suspendisse potenti. Aliquam dictum pellentesque tellus sit amet varius. Vivamus non felis erat, a euismod nunc. Maecenas in purus ac metus pellentesque rhoncus laoreet nec velit. Praesent eget fringilla metus.Praesent vel consectetur nisl. Suspendisse potenti. Aliquam dictum pellentesque tellus sit amet varius. Vivamus non felis erat, a euismod nunc. <strong>Maecenas in purus</strong> ac metus pellentesque rhoncus laoreet nec velit. Praesent eget fringilla metus.
Praesent vel consectetur nisl. Suspendisse potenti. Aliquam dictum pellentesque tellus sit amet varius. Vivamus non felis erat, a euismod nunc. Maecenas in purus ac  velit. Praesent eget fringilla metus.</p>
				<a href="index.php?cmd=terms">Conditions générales du concours</a>
			</div>
		</div>
	</div>
        </div>
			
			
        </div>
<script type="text/javascript">
$(document).ready(function(){
	$('.input-container').autoHideLabel();
});
</script>
        <div class="box-bottom"></div>
    </div>
	

</div> <!-- bd end -->
</div> <!-- bdw end -->


<!--{include footer}-->
