Bonjour {$user['username']},<br />
<br />
Merci de vous être enregistré sur  {$INI['system']['sitename']}，veuillez cliquer sur le lien ci-dessous afin de vérifier votre adresse e-mail :<br />
<br />
<a href="{$INI['system']['wwwprefix']}/account/verify.php?code={$user['secret']}">{$INI['system']['wwwprefix']}/account/verify.php?code={$user['secret']}</a><br />
<br />
--<br />
{$INI['system']['sitename']} - Des offres quotidiennes exceptionnelles en Suisse Romande !
