<h2>{$invitee['name'}} purchased the Hype: '{$team['title']}'</h2>
Dear {$inviter['name']},<br />
You received bonus: {$invite['credit']}<br />
Your account balance: {$inviter['money']}<br />
<br />
--<br />
{$INI['system']['sitename']} - Collective Buying Everyday
