<h2>{$name} vous invite à vous inscrire sur {$INI['system']['sitename']}</h2>
{$content}<br />
<br />
Cliquez sur le lien suivant pour accepter l'invitation de votre ami:
<a href="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}">{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}</a><br />
<br />
--<br />
{$INI['system']['sitename']} - Des offres originales en Suisse romande aux meilleurs prix !