<!--{include manage_header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('inventory')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Inventory Position</h2>
				</div>
				<div class="sect" style="padding:0 10px;">
					<form method="get">
						<p style="margin:5px 0;">order No. : <input type="text" name="id" value="${htmlspecialchars($id)}" class="h-input"/>&nbsp;user<input type="text" name="uemail" class="h-input" value="${htmlspecialchars($uemail)}" >&nbsp;deal No.<input type="text" name="team_id" class="h-input number" value="{$team_id}" ></p>
						<p style="margin:5px 0;">ordering time：<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="cbday" value="{$cbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="ceday" value="{$ceday}" />&nbsp;paying time：<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="pbday" value="{$pbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="peday" value="{$peday}" /></p>
						<p style="margin:5px 0;"><input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/></p>
					</form>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
<!-- ${$pos = strrpos($_SERVER['REQUEST_URI'], "?") }-->
<!--{if $pos===false}-->
<!-- ${$url = $INI['system']['wwwprefix'] .	'/manage/order/inventory.php?download=1' }-->
<!--{elseif strrpos($_SERVER['REQUEST_URI'], "download") === false}-->
<!-- ${$url_ques = explode("?", $_SERVER['REQUEST_URI']) }-->
<!-- ${$url = $INI['system']['wwwprefix'] .	'/manage/order/inventory.php?'.$url_ques[1].'&download=1' }-->
<!--{/if}-->
                    <tr><th colspan="10" align="right" style="text-align:right;"><input type="button" onclick="javascript:window.open('{$url}')" value="Download" class="formbutton"  style="padding:1px 6px;"/></th>
                    </tr>
					<tr><th width="40">Deal ID</th>
                                            <th width="300">Deal Title</th>
                                            <th width="40">Option ID</th>
                                            <th width="300">Option Title</th>
                                            <th width="40" nowrap>Max Allowed</th>
                                            <th width="40" nowrap>Total Sold</th>
                                            <th width="40" nowrap>Available</th>
                                             <th width="40" nowrap>Price</th>
                                              <th width="40" nowrap>Total Money</th>
                                             
                                            
                                        </tr>
					<!--{loop $result $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td><a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$one['team_id']}</a></td>
						<td>{$one['deal']}</td>
						<td>{$one['option_id']}</td>
						<td>{$one['option title']}</td>
						<td><!--{if $one['max']>0 }-->{$one['max']}<!--{else}--><i>No Limit</i><!--{/if}--></td>
						<td>{$one['total']}</td>
						<td><!--{if $one['max']>0 }-->{$one['max'] - $one['total']}<!--{/if}--></td>
                                                <td>{$one['price']}</td>
                                                <td>${moneyit($one['total']*$one['price'])}</td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="9">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
