<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:600px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span></h3>
	<div style="overflow-x:hidden;padding:10px;" id="dialog-order-id" oid="{$popup['id']}">
            
	<form method="post" action="/manage/misc/popup.php" class="validator">
            <!--{if $popup['id']}-->
            <input name ="popup_id" value="{$popup['id']}" type="hidden" />
            <!--{/if}-->
            <table>
                        <tr>
                                <td style="padding-bottom:0;">&nbsp;</td>
                        </tr>
                              <tr>
                                <td style="padding-bottom:0;">Popup Name</td>
                        </tr>
                              <tr>
                                      <td><input type="text" value="{$popup['popup_name']}" name="popup_name" placeholder="Popup name"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">Popup Title</td>
                        </tr>
                              <tr>
                                      <td><input type="text" value="{$popup['popup_title']}" name="popup_title" placeholder="Popup Title"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">Popup URL</td>
                        </tr>
                              <tr>
                                      <td><input type="text" value="{$popup['popup_link']}" name="popup_link" placeholder="Link (http://www.facebook.com)"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">Popup Start Date</td>
                        </tr>
                              <tr>
                                      <td style="padding-bottom:0;"><input style="margin-bottom:0;" type="text" value="<!--{if $popup['id']}-->${date('Y-m-d H:i', $popup['popup_startdate'])}<!--{else} -->${date('Y-m-d H:i')}<!--{/if}-->" name="popup_startdate" placeholder=""/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">Popup End Date</td>
                        </tr>
                              <tr>
                                      <td style="padding-bottom:0;"><input style="margin-bottom:0;" type="text" value="<!--{if $popup['id']}-->${date('Y-m-d H:i', $popup['popup_enddate'])}<!--{else} -->${date('Y-m-d H:i', strtotime('+1 week'))}<!--{/if}-->" name="popup_enddate" placeholder=""/></td>
                              </tr>
                         <tr>
                                <td style="padding-bottom:0;">Popup Text</td>
                        </tr>
                        <tr>
                          <td>
                              <textarea  name="popup_text" rows="3" cols="40">{$popup['popup_text']}</textarea>
                          </td>
                        </tr>
                             
                              <tr><td><input type="submit" value="Submit" class="formbutton" /></td></tr>
			</table>
        </form>
	</div>
</div>