<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('unpay')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Order to be paid</h2>
				</div>
				<div class="sect" style="padding:0 10px;">
					<form method="get">
						<p style="margin:5px 0;">order No.：<input type="text" name="id" value="${htmlspecialchars($id)}" class="h-input"/>&nbsp;user：<input type="text" name="uemail" class="h-input" value="${htmlspecialchars($uemail)}" >&nbsp;deal No.：<input type="text" name="team_id" class="h-input number" value="{$team_id}" ></p>
						<p style="margin:5px 0;">ordering time：<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="cbday" value="{$cbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="ceday" value="{$ceday}" />&nbsp;paying time：<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="pbday" value="{$pbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="peday" value="{$peday}" /></p>
						<p style="margin:5px 0;"><input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/></p>
					</form>
				</div>
                <div class="sect"><form name="frmOrdUpd" method="post" action="update.php">
					<input type="hidden" name="action" />
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th>&nbsp;</th><th width="40">ID</th><th width="390">deal</th><th width="180">user</th><th width="40" nowrap>quantity</th><th width="50" nowrap>total</th><th width="50" nowrap>balance</th><th width="50" nowrap>Promo Card</th><th width="50" nowrap>due </th><th width="50" nowrap>express</th><th width="50">Payment Method</th><th width="50" nowrap>operation</th></tr>
					<!--{loop $orders $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td><input type="checkbox" value="{$one['id']}" name="id[]" onclick="javascript:document.getElementById('cbAll').checked=false;"/></td>
						<td>{$one['id']}</td>
						<td></td>
						<td><a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink">{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</a><!--{if Utility::IsMobile($users[$one['user_id']]['mobile'])}-->&nbsp;&raquo;&nbsp;<a href="/ajax/misc.php?action=sms&v={$users[$one['user_id']]['mobile']}" class="ajaxlink">SMS</a><!--{/if}--></td>
						<td>{$one['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['origin'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['credit'])}</td>
                                                <td><span class="money">{$currency}</span>${moneyit($one['card'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['origin']-$one['credit'])}</td>
						<td>{$option_delivery[$teams[$one['team_id']]['delivery']]}${$one['express_id']?'Y':''}</td>
                                                <td>{$one['service']}</td>
						<td class="op" nowrap><a href="/ajax/manage.php?action=orderremove&id={$one['id']}" class="ajaxlink" ask="sure to delete this order?">delete</a><!--{if $one['state'] != 'pay' && is_deal_success($teams[$one['team_id']])}-->&nbsp;|&nbsp;
	<a href="/ajax/manage.php?action=ordercash&id={$one['id']}" class="ajaxlink" ask="sure to pay it in cash?">cash</a>|&nbsp;
	<a href="/ajax/manage.php?action=ordercash&id={$one['id']}&mode=wire" class="ajaxlink" ask="sure to pay it in wire?">wire</a>
		|&nbsp;<a href="/ajax/manage.php?action=ordercash&id={$one['id']}&mode=maestro" class="ajaxlink" ask="sure to pay it in maestro?">maestro</a>
	<!--{/if}--></td>
					</tr>
                                        <!--{loop $order_items[$one['id']] $index2 $item}-->
                                        <tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td></td>
						<td>{$one['id']}-{$item['id']}</td>
						<td>{$item['team_id']}&nbsp;(<a class="deal-title" href="/team.php?id={$item['team_id']}" target="_blank">{$teams[$item['team_id']]['title']}</a>)</td>
						<td></td>
						<td>{$item['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($item['price'])}</td>
						<td></td>
						<td></td>
						<td>{$option_delivery[$teams[$item['team_id']]['delivery']]}${$one['express_id']?'Y':''}</td>
                                                <td></td>
						<td class="op" nowrap></td>	
					</tr>
                                        <!--{/loop}-->
					<!--{/loop}-->
					<tr><td><input type="checkbox" id="cbAll" onclick="javascript:checkAll('id[]',this.checked);" />&nbsp;All&nbsp;</td><td colspan="9"><input type="button" value="Cash" class="formbutton"  style="padding:1px 6px;" onclick="javascript: submitAction('cash');"/>&nbsp;<input type="button" value="Cancel" class="formbutton"  style="padding:1px 6px;" onclick="javascript: submitAction('cancel');"/></td></tr>
					<tr><td colspan="10">{$pagestring}</td></tr>
                    </table></form>
				</div>
				<script language="javascript" type="text/javascript">
						function checkAll(strElemName, value)
						{
							var objElems = document.getElementsByName(strElemName);
							if ( objElems )
								for ( iLen = objElems.length-1; iLen >= 0; iLen-- )
									objElems[iLen].checked = value;
						}
						
						function submitAction(strAct)
						{
							if ( strAct == 'cancel' )
								if ( !confirm("Are you sure you want to Cancel the order(s)?") )
									return;
								else
									document.frmOrdUpd.action.value = "ordercancel";
							else if ( strAct == 'cash' )
								if ( !confirm("Are you sure you want to Cash the order(s)?") )	
									return;
								else
									document.frmOrdUpd.action.value = "ordercash";
							else
								return;
								
								
							document.frmOrdUpd.submit();
						}
					</script>
					<script type="text/javascript">
						jQuery(document).ajaxStart(function () {
							jQuery('#ajaxBusy').css("display","block");
						  });
					  
						jQuery('body').append('<div id="ajaxBusy"><br/><br/><br/>Please Wait...</div>');
					</script>	
					<style>
						#ajaxBusy {
							  display: none;
							  margin: 0px 0px 0px -50px; /* left margin is half width of the div, to centre it */
							  padding: 30px 10px 10px 10px;
							  position: fixed;
							  left: 30%;
							  top: 325px;
							  width: 500px;
							  height: 150px;
							  text-align: center;
							  background: #DEF3BD no-repeat center center;
							  border: 1px solid #000;
							  z-index:9999
						}
					</style>	
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
