<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="contest">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_contest('create')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				<!--{if $team['id']}-->
					<h2>Edit deals</h2>

				<!--{else}-->
					<h2>Create Contest</h2>
				<!--{/if}-->
				</div>
                <div class="sect">
				<form id="-user-form" method="post" action="/manage/contest/createnew.php?id={$team['id']}" enctype="multipart/form-data" class="validator">
					<input type="hidden" name="id" value="{$team['id']}" />
					<input type="hidden" name="cityid" value="{$city_id}" />
						<div class="field">
						<label>Contest title</label>
						<input type="text" size="30" name="title" id="team-create-title" class="f-input" value="${htmlspecialchars($team['title'])}" datatype="require" require="true" />
					</div>
					<div class="field">
							<label>Description</label>
							<div style="float:left;"><textarea cols="45" rows="5" name="description" id="team-create-express" class="f-textarea">{$team['description']}</textarea></div>
						</div>
					<div class="field">
						<label>Select Deals</label>
						<INPUT TYPE="hidden" NAME="deals">
						<select name="selectfrom" id="select-from" multiple size="10" style="width:200px; font-size:14px; padding:5px; border-color:#0099FF;">
								<!--{loop $deals $index $one}-->
								<option value="{$one['id']}">{$one['title']}</option><br />
								<!--{/loop}-->
							</select>
						 
							<a href="JavaScript:void(0);" id="btn-add">Add &raquo;</a>
							<a href="JavaScript:void(0);" id="btn-remove">&laquo; Remove</a>
						 
							<select name="selectto" id="select-to" multiple size="10" style="width:200px; font-size:14px; padding:5px; border-color:#0099FF;">
							</select>						
					</div>
					<div class="field">
						<label>Start time</label>
						<input type="text" size="30" name="start_time" id="" class="numberd" xd="${date('Y-m-d', $team['start_time'])}" xt="${date('H:i:s', $team['start_time'])}" value="${date('Y-m-d H:i:s', $team['start_time'])}" maxlength="30" datatype="require" require="true"  /></div>
					<div class="field">
						<label>End time</label>
						<input type="text" size="30" name="end_time" id="" class="numberd" xd="${date('Y-m-d', $team['end_time'])}" xt="${date('H:i:s', $team['end_time'])}" value="${date('Y-m-d H:i:s', $team['end_time'])}" maxlength="30" datatype="require" require="true"  />
						<span class="hint">Date/time format YYYY-MM-DD HH:MM:SS example 2010-06-10 23:12:09 </span>
					</div>
					
					<div class="field">
				<input type="hidden" name="ppublish" value="{$publish}" />
					<!--{if $publish == 'pauto'}-->
						<label>Minimum Vote</label>
	<input type="text" size="20" name="min_vote" id="" class="numberd" value="{$team['min_vote']}" maxlength="10" datatype="require" require="true"  /><span class="hint">You Select Auto Option To Publish ,Please Specify Minimum Number of Vote  </span>
						<!--{elseif $publish=='pmanual'}-->

						<strong>You Select manual option to Publish</strong>
						<!--{/if}-->
						
					</div>
					<INPUT TYPE="button" NAME="commit" VALUE="Save" onClick="getList(this.form)" id="leader-submit" class="formbutton" style="margin:10px 0 0 120px;">
					
				</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script type="text/javascript">
window.x_init_hook_teamchangetype = function(){
	X.team.changetype("{$team['team_type']}");
};
window.x_init_hook_page = function() {
	X.team.imageremovecall = function(v) {
		jQuery('#team_image_'+v).remove();
	};
	X.team.imageremove = function(id, v) {
		return !X.get(WEB_ROOT + '/ajax/misc.php?action=imageremove&id='+id+'&v='+v);
	};
};
</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script>
	function getList(form) {
  for (var j=0;j<form.selectto.length;j++) {
    form.deals.value += form.selectto.options[j].value;
    form.deals.value += "\|";
  }
 document.forms[0].submit();
}
$(document).ready(function() {
 
    $('#btn-add').click(function(){
        $('#select-from option:selected').each( function() {
                $('#select-to').append("<option value='"+$(this).val()+"'>"+$(this).text()+"</option>");
            $(this).remove();
        });
    });
    $('#btn-remove').click(function(){
        $('#select-to option:selected').each( function() {
            $('#select-from').append("<option value='"+$(this).val()+"'>"+$(this).text()+"</option>");
            $(this).remove();
        });
    });
 
});
    </script>
<!--{include manage_footer}-->
