<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>user info & recharge</h3>
	<div style="overflow-x:hidden;padding:10px;">
            <form method="post" action="" enctype="multipart/form-data">
                
                <strong>Remarks:</strong> <br><br>
                <textarea id="remarks" name="remarks"></textarea>
            <br><br>
            <input id="remarks_submit" onclick="lm();" type="button" value="Submit" />
            </form>
	</div>
</div>