<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_misc($selector)}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				Home Page Pop ups	
						
				</div>
                 <a href="/ajax/manage.php?action=popup" class="ajaxlink">add Popup</a>
                <div class="sect">
                    <table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
                        <tr><th width="40">ID</th>
                            <th width="400">Popup Name</th>
                            <th width="140">Popup Title</th>
                            <th width="140">Popup Start</th>
                            <th width="140">Popup End</th>
                            <th width="140">Operation</th>
                        </tr>
                        <!--{loop $popups $index $one}-->

                        <tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
                                <td>{$one['id']}</a></td>
                                <td nowrap>{$one['popup_name']}</td>
                                <td nowrap>{$one['popup_title']}</td>
                                <td nowrap>${date('Y-m-d H:i', $one['popup_startdate'])}</td>
                                <td nowrap>${date('Y-m-d H:i', $one['popup_enddate'])}</td>
                                
                                <td class="op" nowrap>
                                    <a href="/ajax/manage.php?action=popup&id={$one['id']}" class="ajaxlink">edit</a>
                                    ｜
                                    <a href="/manage/misc/popup.php?action=popupdelete&id={$one['id']}" ask="sure to delete this popup?" >delete</a>
                                    |
                                   <a href="/manage/misc/popup.php?action=<!--{if $one['status'] == 1 }-->deactivate<!--{else} -->activate<!--{/if}-->&id={$one['id']}"> <!--{if $one['status'] == 1 }-->Deactivate<!--{else} -->Activate<!--{/if}--></a>
                                </td>
                        </tr>
                        <!--{/loop}-->
					
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
