<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_user('index')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>users list</h2>
                    <ul class="filter">
						<li><form action="/manage/user/index.php" method="get">username：<input type="text" name="uname" class="h-input" value="${htmlspecialchars($uname)}" >&nbsp;email：<input type="text" name="like" class="h-input" value="${htmlspecialchars($like)}" >&nbsp;<select name="ucity" style="width:120px;">${Utility::Option(option_category('city'), $ucity, 'all cities')}</select>&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/><form></li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="50">ID</th><th width="200">Email/username</th><th width="100" nowrap>name/city</th><th width="40">account balance</th><th width="40">zipcode</th><th width="120">registration IP/registration time</th></th><th width="100">telephone</th><th width="120">operation</th></tr>
					<!--{loop $users $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>{$one['email']}<br/>{$one['username']}<!--{if Utility::IsMobile($one['mobile'])}-->&nbsp;&raquo;&nbsp;<a href="/ajax/misc.php?action=sms&v={$one['mobile']}" class="ajaxlink">SMS</a><!--{/if}--></td>
						<td>${$one['realname']?$one['realname']:'----';}<br/><!--{if $one['city_id']}-->{$allcities[$one['city_id']]['name']}<!--{else}-->other<!--{/if}--></td>
						<td><span class="currency">{$currency}</span>${moneyit($one['money'])}</td>
						<td>{$one['zipcode']}</td>
						<td>{$one['ip']}<br/>${date('Y-m-d H:i', $one['create_time'])}</td>
						<td>{$one['mobile']}</td>
						<td class="op"><a href="/ajax/manage.php?action=userview&id={$one['id']}" class="ajaxlink">detail</a>｜<a href="/manage/user/edit.php?id={$one['id']}">edit</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="8">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
