<!--{include manage_header}-->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team($selector)}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				Brands 	
						
				</div>
                <input type="button" onclick="javascript:window.location.href = '/manage/team/edit_brands.php'" value="Add New Brands" class="formbutton" style="padding:1px 6px; width:250px;">
                <div class="sect" style="padding:0 10px;">
                    <form method="post" id="import_form" enctype="multipart/form-data" action="/manage/team/brand_import.php">
                            <input id = "import_file" name="import_file" type="file" style="display:none;" />
                            <input id="import_button" type="button" value="Import" class="formbutton"  style="padding:1px 6px;"/>
                    </form>
                </div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="400">Brand Title</th>
                                            <th width="140">operation</th></tr>
					<!--{loop $brands $index $one}-->
					
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</a></td>
						
						<td nowrap>{$one['brand_title']}</td>
						
						<td class="op" nowrap>
                                                    <a href="/manage/team/edit_brands.php?id={$one['id']}">edit</a>
                                                    ｜<a href="/manage/team/brands.php?action=brandremove&id={$one['id']}" ask="sure to delete this brand?" >delete</a>
                                                    | <a href="/manage/team/export_brands.php?id={$one['id']}">Export</a>
                                                </td>
					</tr>
					<!--{/loop}-->
					
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<script>
  $(function() {
      $('#import_button').on('click', function(){
          $('#import_file').click();
      });
      $('#import_file').on('change',function(){
        //do whatever you want
        var filename = $('#import_file').val();
        var extension = filename.replace(/^.*\./, '');

        // Iff there is no dot anywhere in filename, we would have extension == filename,
        // so we account for this possibility now
        if (extension == filename) {
            extension = '';
        } else {
            // if there is an extension, we convert to lower case
            // (N.B. this conversion will not effect the value of the extension
            // on the file upload.)
            extension = extension.toLowerCase();
        }
        if(extension == "json")
        {
            c = confirm('Are you sure you want to import the brand ?');
            if(c){
                $('#import_form').submit();
            }
        }
        
    });
  });
  </script>
<!--{include manage_footer}-->
