<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_supplier('list')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Suppliers</h2>
					<ul class="filter"><li><form method="get">Supplier name：<input type="text" name="ptitle" class="h-input" value="${htmlspecialchars($ptitle)}" >&nbsp;<select name="open" class="h-input">${Utility::Option($option_open, $open, 'display')}</select>&nbsp;<select name="city_id" class="h-input">${Utility::Option(option_category('city'), $city_id, 'all cities')}</select>&nbsp;<select name="group_id" class="h-input">${Utility::Option(option_category('partner'), $group_id, 'all categories')}</select>&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/><form></li></ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="320">name</th><th width="60">category</th><th width="120">person to contact</th><th width="130">telephone</th><th width="60">display</th><th width="40">sort</th><th width="100">operation</th></tr>
					<!--{loop $suppliers $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td style="text-align:left;"><a class="deal-title" href="/manage/partner/edit.php?id={$one['id']}">{$one['title']}</a></td>
						<td nowrap>{$groups[$one['group_id']]}<br/>{$cities[$one['city_id']]}</td>
						<td nowrap>{$one['contact']}</td>
						<td nowrap>{$one['phone']}<br/>{$one['mobile']}</td>
						<td nowrap>{$one['open']}</td>
						<td nowrap>{$one['head']}</td>
						<td class="op" nowrap><a href="/manage/supplier/edit.php?id={$one['id']}">edit</a>｜<a href="/ajax/manage.php?action=partnerremove&id={$one['id']}" class="ajaxlink" ask="sure to delete this biz?">delete</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="7">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
