<!--{include manage_header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('index')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Order of today's Hype</h2>
				</div>
				<div class="sect" style="padding:0 10px;">
					<form method="get">
                                            <p style="margin:5px 0;">order No. : <input type="text" name="id" value="${htmlspecialchars($id)}" class="h-input"/>&nbsp;user<input type="text" name="uemail" class="h-input" value="${htmlspecialchars($uemail)}" >&nbsp;deal No.<input type="text" name="team_id" class="h-input number" value="{$team_id}" >&nbsp; Ship Status <select name="ship_status">${Utility::Option($delivery_status, $ship_status)}</select>&nbsp; Ship ETA<input type="text" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="ship_eta" value="${date('Y-m-d',$ship_eta)}"></p>
						<p style="margin:5px 0;">ordering time：<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="cbday" value="{$cbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="ceday" value="{$ceday}" />&nbsp;paying time：<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="pbday" value="{$pbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="peday" value="{$peday}" /></p>
						<p style="margin:5px 0;"><input type="submit" value="search" class="formbutton"  style="padding:1px 6px;"/></p>
					</form>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
<!-- ${$pos = strrpos($_SERVER['REQUEST_URI'], "?") }-->
<!--{if $pos===false}-->
<!-- ${$url = '/manage/order/index.php?download=1' }-->
<!--{elseif strrpos($_SERVER['REQUEST_URI'], "download") === false}-->
<!-- ${$url_ques = explode("?", $_SERVER['REQUEST_URI']) }-->
<!-- ${$url = '/manage/order/index.php?'.$url_ques[1].'&download=1' }-->
<!--{/if}-->
                    <tr><th colspan="13" align="right" style="text-align:right;"><input type="button" onclick="javascript:window.open('{$url}')" value="Download" class="formbutton"  style="padding:1px 6px;"/></th>
                    </tr>
					<tr><th width="40">ID</th><th width="50">Order no</th><th width="310">deal</th><th width="180">user</th><th width="25" nowrap>quantity</th>
                                            <th width="40" nowrap>total</th><th width="50" nowrap>balance</th><th width="50" nowrap>Promo Card</th>
                                            <th width="50" nowrap>payment</th><th width="50" nowrap>express</th><th width="50" nowrap>Shipment Status (ETA)</th>
                                            <th width="50">Payment Method</th>
                                            <th width="50" nowrap>operation</th></tr>
					<!--{loop $orders $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>{$one['pay_id']}</td>
						<td></td>
						<td><a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink">{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</a><!--{if Utility::IsMobile($users[$one['user_id']]['mobile'])}-->&nbsp;&raquo;&nbsp;<a href="/ajax/misc.php?action=sms&v={$users[$one['user_id']]['mobile']}" class="ajaxlink">SMS</a><!--{/if}--></td>
						<td>{$one['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['origin'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['credit'])}</td>
                                                <td><span class="money">{$currency}</span>${moneyit($one['card'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['money'])}</td>
						<td>{$option_delivery[$teams[$one['team_id']]['delivery']]}${$one['express_id']?'Y':''}</td>
                                                <td></td>
                                                <td>{$one['service']}</td>
						<td class="op" nowrap><!--{if $one['state']=='pay'}--><a href="/ajax/manage.php?action=orderview&id={$one['id']}" class="ajaxlink">detail</a><!--{elseif $one['state'] != 'pay' }--><a href="/ajax/manage.php?action=ordercash&id={$one['id']}" class="ajaxlink" ask="sure to pay it in cash?">cash</a>|&nbsp;
	<a href="/ajax/manage.php?action=ordercash&id={$one['id']}&mode=wire" class="ajaxlink" ask="sure to pay it in wire?">wire</a>|&nbsp;<a href="/ajax/manage.php?action=ordercash&id={$one['id']}&mode=maestro" class="ajaxlink" ask="sure to pay it in maestro?">maestro</a><!--{/if}-->
        |&nbsp;<a href="/manage/order/order_edit.php?id={$one['id']}">Edit</a> 
                                                </td>
					</tr>
                                        <!--{loop $order_items[$one['id']] $index2 $item}-->
                                        <tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}-{$item['id']}</td>
						<td></td>
						<td>{$item['team_id']}&nbsp;(<a class="deal-title" href="/team.php?id={$item['team_id']}" target="_blank">
                                                        <!--{if $item['option_id']}-->
														<!--{if $options[$item['option_id']]['parent_option_id'] > 0 }-->
														<?php
															$parent_id = $options[$item['option_id']]['parent_option_id'];
															$parent_title = $parent_options[$parent_id]['title_fr'];
															echo $parent_title." &gt; ";														
														?>
														
														<!--{/if}-->
                                                        {$options[$item['option_id']]['title_fr']}                                                        
                                                        <!--{else}-->
                                                        {$teams[$item['team_id']]['title']}
                                                        <!--{/if}-->
                                                    </a>)</td>
						<td></td>
						<td>{$item['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($item['price'])}</td>
						<td></td>
						<td></td>
                                                <td></td>
                                                
						<td>{$option_delivery[$teams[$item['team_id']]['delivery']]}${$one['express_id']?'Y':''}</td>
                                                <!--{if $item['delivery'] == 'express' || $item['delivery'] == 'pickup'}-->
                                                <td>{$delivery_status[$item['delivery_status']]} (${date('d-m-Y',$item['delivery_time'])}) |<br/>
                                                    <a href="/ajax/manage.php?action=ordershipstatus&id={$item['id']}" class="ajaxlink">Update</a></td>
                                                <!--{else}-->
                                                <td></td>
                                                <!--{/if}-->
                                                <td></td>
                                                <td class="op" nowrap>
                                                     <a href="/manage/order/edit_orderitem.php?id={$item['id']}">Edit</a> 
                                                </td>
					</tr>
                                        <!--{/loop}-->
					<!--{/loop}-->
					<tr><td colspan="9">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
