<div id="footer_wrapper">
	<div id="footer">
			<div class="container">
				<div class="aside-box wth-200"> <a href="javascript:gotoTop();"><img src="/static/images/logo_footer.png" /></a> </div>
				<div class="aside-box link-list">
					<h3>TopDeal</h3>
					<ul>
						${current_about()}
<!--
						<li><a href="http://www.topdeal.ch/apropos">A propos</a></li>
						<li><a href="http://www.topdeal.ch/contact">Contact</a></li>
						<li><a href="http://www.topdeal.ch/jobs">Jobs</a></li>
						<li><a href="http://www.topdeal.ch/presse">Presse</a></li>
-->
					</ul>
				</div>
				<div class="aside-box link-list">
					<h3>Partenaires</h3>
					<ul>
						<li><a href="http://www.topdeal.ch/contact">Proposer un deal</a></li>
<!--
						<li><a href="http://www.topdeal.ch/partenaires">Proposer un deal</a></li>
-->
					</ul>
				</div>
				<div class="aside-box link-list">
					<h3>Informations</h3>
					<ul>
						<li><a href="https://topdealch.zendesk.com" target="_new">FAQs</a></li>
						<li><a href="http://www.topdeal.ch/infos/conditions_utilisation">Conditions d'utilisation</a></li>
						<li><a href="http://www.topdeal.ch/infos/confidentialite">Confidentialit&#233;</a></li>
					</ul>
				</div>
				<div class="aside-box payment-box">
					<ul>
						<li><img src="/static/images/visa.jpg" width="62" height="40" alt="visa" /></li>
						<li><img src="/static/images/mastercard.jpg" width="62" height="40" alt="mastercard" /></li>
						<li><img src="/static/images/postfinance.jpg" width="62" height="40" alt="post finance" /></li>
						<li><img src="/static/images/paypal.jpg" width="62" height="40" alt="paypal" /></li>
					</ul>
				</div>
				<div class="copyright">
					<p>&copy; 2012 TopDeal.ch copyright TopDeal S.A.</p>
				</div>
			</div>
		</div>
</div>
<!--{include manage_html_footer}-->
