<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('pay')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Payment</h2></div>
                <div class="sect">
                    <form method="post">
					<!--${$index=0;}-->
					<!-- Paypal -->
						<div class="wholetip clear"><h3>${++$index}、Paypal</h3></div>
                        <div class="field">
                            <label>Account API UsearName</label>
                            <input type="text" size="30" name="paypal[username]" class="f-input" value="{$INI['paypal']['username']}" style="width:200px;" /><span class="inputtip">Email of paypal account.</span>
                        </div>
                        <div class="field">
                            <label>API Password</label>
                            <input type="text" size="30" name="paypal[password]" class="f-input" value="{$INI['paypal']['password']}" style="width:200px;"/>
                        </div>
						 <div class="field">
                            <label>API Signature</label>
                            <input type="text" size="30" name="paypal[signature]" class="f-input" value="{$INI['paypal']['signature']}" style="width:200px;"/>
                        </div>
					<!-- Paypal/End -->
	<!-- Post Finance -->
						<div class="wholetip clear"><h3>${++$index}、Post Finance</h3></div>
                        <div class="field">
                            <label>Post Finance UsearName</label>
                            <input type="text" size="30" name="post[username]" class="f-input" value="{$INI['post']['username']}" style="width:200px;" /><span class="inputtip">User Name of Post Finance account.</span>
                        </div>
                        <div class="field">
                            <label>Post Finance Password</label>
                            <input type="text" size="30" name="post[password]" class="f-input" value="{$INI['post']['password']}" style="width:200px;"/>
                        </div>
						
					<!-- PostFinance/End -->
					<!-- other -->
						<div class="wholetip clear"><h3>${++$index}、Payment tips</h3></div>
                        <div class="field">
                            <label>Tips</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="other[pay]" class="f-textarea editor">${htmlspecialchars($INI['other']['pay'])}</textarea></div>
                        </div>
                        <div class="act">
                            <input type="submit" value="Save" name="commit" class="formbutton"/>
                        </div>
					<!-- other/End -->
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
