<!--{include manage_header}-->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_partner('index')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Biz</h2>
					<ul class="filter"><li><form method="get">biz name：<input type="text" name="ptitle" class="h-input" value="${htmlspecialchars($ptitle)}" >&nbsp;<select name="open" class="h-input">${Utility::Option($option_open, $open, 'display')}</select>&nbsp;<select name="city_id" class="h-input">${Utility::Option(option_category('city'), $city_id, 'all cities')}</select>&nbsp;<select name="group_id" class="h-input">${Utility::Option(option_category('partner'), $group_id, 'all categories')}</select>&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/></form></li></ul>
				</div>
                <div class="sect" style="padding:0 10px;">
                    <form method="post" id="import_form" enctype="multipart/form-data" action="/manage/partner/import.php">
                            <input id = "import_file" name="import_file" type="file" style="display:none;" />
                            <input id="import_button" type="button" value="Import" class="formbutton"  style="padding:1px 6px;"/>
                    </form>
                </div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="320">name</th><th width="60">category</th><th width="120">person to contact</th><th width="130">telephone</th><th width="60">display</th><th width="40">sort</th><th width="100">operation</th></tr>
					<!--{loop $partners $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td style="text-align:left;"><a class="deal-title" href="/manage/partner/edit.php?id={$one['id']}">{$one['title']}</a></td>
						<td nowrap>{$groups[$one['group_id']]}<br/>{$cities[$one['city_id']]}</td>
						<td nowrap>{$one['contact']}</td>
						<td nowrap>{$one['phone']}<br/>{$one['mobile']}</td>
						<td nowrap>{$one['open']}</td>
						<td nowrap>{$one['head']}</td>
						<td class="op" nowrap><a href="/manage/partner/edit.php?id={$one['id']}">edit</a>｜<a href="/ajax/manage.php?action=partnerremove&id={$one['id']}" class="ajaxlink" ask="sure to delete this biz?">delete</a>|<a href="/manage/partner/export.php?id={$one['id']}">export</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="7">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<script>
  $(function() {
      $('#import_button').on('click', function(){
          $('#import_file').click();
      });
      $('#import_file').on('change',function(){
        //do whatever you want
        var filename = $('#import_file').val();
        var extension = filename.replace(/^.*\./, '');

        // Iff there is no dot anywhere in filename, we would have extension == filename,
        // so we account for this possibility now
        if (extension == filename) {
            extension = '';
        } else {
            // if there is an extension, we convert to lower case
            // (N.B. this conversion will not effect the value of the extension
            // on the file upload.)
            extension = extension.toLowerCase();
        }
        if(extension == "zip")
        {
            c = confirm('Are you sure you want to import the partner ?');
            if(c){
                
                
                $('#import_form').submit();
            }
        }
        
    });
  });
  </script>
<!--{include manage_footer}-->
