<style>.remove_img{cursor:pointer; color:#f04e1e;}</style>

<!--{include manage_header}-->
<!--{if $INI['system']['googlemap']}-->
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key={$INI['system']['googlemap']}" type="text/javascript"></script>
<script type="text/javascript">
window.x_init_hook_gm = function() {
	X.misc.setgooglemap = function(ll) {
		X.get(WEB_ROOT+'/ajax/system.php?action=googlemap&ll='+ll);
	};
	X.misc.setgooglemapclick = function(overlay, latlng) {
		jQuery('#inputlonglat').val(latlng.y+','+latlng.x);
	};
};
</script>
<!--{/if}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_partner(null)}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Edit Business</h2><b style="margin-left:20px;font-size:16px;">（{$partner['title']}）</b></div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="/manage/partner/edit.php?id={$partner['id']}" enctype="multipart/form-data" class="validator">
					<input type="hidden" name="id" value="{$partner['id']}" />
						<div class="wholetip clear"><h3>1.Login Info</h3></div>
						<div class="field">   
                            <label>Account Status</label>
							<?php $status='';if($partner['enable']=='Y'){$status="checked='checked'";}?>
                            <input value="Y" type="checkbox" {$status} name="enable" placeholder="Enable"/></td>
                        </div>
                        <div class="field">
                            <label>Username</label>
                            <input type="text" size="30" name="username" id="partner-create-username" class="f-input" value="{$partner['username']}" require="true" datatype="require" />
                        </div>
                        <div class="field password">
                            <label>Password</label>
                            <input type="text" size="30" name="password" id="settings-password" class="f-input" />
                            <span class="hint">If you do not want to change your password, please leave blank</span>
                        </div>
						<div class="wholetip clear"><h3>2.tagging information</h3></div>
						<div class="field">
							<label>city & category</label>
							<select name="city_id" class="f-input" style="width:160px;">${Utility::Option(option_category('city'), $partner['city_id'], '-Select City-')}</select><select name="group_id" class="f-input" style="width:160px;">${Utility::Option(option_category('partner'), $partner['group_id'])}</select>
						</div>
                        <div class="field">
                            <label>Sort Field</label>
                            <input type="text" size="10" name="head" value="${abs(intval($partner['head']))}" class="number"/><span class="inputtip">Large number of front row</span>
						</div>
						<div class="field">
							<label>homepage display</label>
							<!--
							<input type="text" size="30" name="display" id="partner-edit-display" class="number" value="{$partner['display']}" maxLength="1" require="true" datatype="english" style="text-transform:uppercase;" />
							-->
							<select  name="display" class="f-input" style="width:108px;">
							<!-- ${ $displayNo = "";} -->
							<!-- ${ $displayYes = "";} -->
							<!--{if $partner['display'] == "Y" }-->
								<!-- ${ $displayYes = "selected='selected'";} -->
							<!-- {else} -->
								<!-- ${ $displayNo = "selected='selected'"; } -->
							<!-- {/if} -->
							
								<option value="N" <!-- ${ echo $displayNo;} --> >N</option>
								<option value="Y" <!-- ${ echo $displayYes;} --> >Y</option>
							</select>
							<span class="inputtip">Y: Home Business Show N: do not participate in Home Business Show</span>
						</div>
						<div class="field">
							<label>biz display</label>
							<!--
							<input type="text" size="30" name="open" id="partner-edit-open" class="number" value="{$partner['open']}" maxLength="1" require="true" datatype="english" style="text-transform:uppercase;" />
							-->
							<select  name="open" class="f-input" style="width:108px;">
							<!-- ${ $openNo = "";} -->
							<!-- ${ $openYes = "";} -->
							<!--{if $partner['open'] == "Y" }-->
								<!-- ${ $openYes = "selected='selected'";} -->
							<!-- {else} -->
								<!-- ${ $openNo = "selected='selected'"; } -->
							<!-- {/if} -->
							
								<option value="N" <!--  ${ echo $openNo;} --> > N</option>
								<option value="Y" <!--  ${ echo $openYes;} --> > Y</option>
								
							</select>
							<span class="inputtip">Y: Front merchants display N: not involved in show Business prospects</span>
						</div>
						<div class="field">
							<label>biz pictures</label>
							<input type="file" size="30" name="upload_image" id="team-create-image" class="f-input" />
							<!--{if $partner['image']}-->
								<span class="hint" id="{$partner['id']}_image">
									<span id="{$partner['id']}_image_url">${team_image($partner['image'])}</span>
									 - 
									<span class="remove_img" onclick="removeImg({$partner['id']},'image');">Remove</span>
								</span>
							<!--{/if}-->
						</div>
						<div class="field">
							<label>biz picture 1</label>
							<input type="file" size="30" name="upload_image1" id="team-create-image1" class="f-input" />
							<!--{if $partner['image1']}-->
								<span class="hint" id="{$partner['id']}_image1">
									<span id="{$partner['id']}_image1_url">${team_image($partner['image1'])}</span>
									 - 
									<span class="remove_img" onclick="removeImg({$partner['id']},'image1');">Remove</span>
								</span>
							<!--{/if}-->
						</div>
						<div class="field">
							<label>biz picture 2</label>
							<input type="file" size="30" name="upload_image2" id="team-create-image2" class="f-input" />
							<!--{if $partner['image2']}-->
								<span class="hint" id="{$partner['id']}_image2">
									<span id="{$partner['id']}_image2_url">${team_image($partner['image2'])}</span>
									 - 
									<span class="remove_img" onclick="removeImg({$partner['id']},'image2');">Remove</span>
								</span>
							<!--{/if}-->
						</div>
					<!--{if $INI['system']['googlemap']}-->
                        <div class="field">
                            <label>Map coordinates</label>
                            <input type="text" size="30" name="longlat" style="width:300px;cursor:point;" class="f-input" id="inputlonglat" readonly value="{$partner['longlat']}" onclick="X.misc.setgooglemap('{$partner['longlat']}');" /><span class="inputtip"><a href="javascript:;" style="cursor:point;" onclick="jQuery('#inputlonglat').val('');">Cancels the GogleMap coordinate information</a></span>
						</div>
					<!--{/if}-->
						<div class="wholetip clear"><h3>3.Basic Information</h3></div>
                        <div class="field">
                            <label>biz name</label>
                            <input type="text" size="30" name="title" id="partner-create-title" class="f-input" value="{$partner['title']}" datatype="require" require="true" />
                        </div>
						 <div class="field">
                            <label>email address</label>
                            <input type="text" size="30" name="email_address" id="email_address" class="f-input" value="{$partner['email']}"/>
                        </div>
                        <div class="field">
                            <label>Website URL</label>
                            <input type="text" size="30" name="homepage" id="partner-create-homepage" class="f-input" value="{$partner['homepage']}"/>
                        </div>
                        <div class="field">
                            <label>Person To Contact</label>
                            <input type="text" size="30" name="contact" id="partner-create-contact" class="f-input" value="{$partner['contact']}"/>
						</div>
                        <div class="field">
                            <label>Partner Address</label>
                            <input type="text" size="30" name="address" id="partner-create-address" class="f-input" value="{$partner['address']}" datatype="require" require="true" />
						</div>
                        <div class="field">
                            <label>telephone</label>
                            <input type="text" size="30" name="phone" id="partner-create-phone" class="f-input" value="{$partner['phone']}" maxLength="50" require="true" datatype="require" />
						</div>
                        <div class="field">
                            <label>mobile number</label>
                            <input type="text" size="30" name="mobile" id="partner-create-mobile" class="f-input" value="{$partner['mobile']}" maxLength="50" />
						</div>
                        <div class="field">
                            <label>Location information</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="location" id="partner-create-location" class="f-textarea editor">${htmlspecialchars($partner['location'])}</textarea></div>
						</div>
						<div class="field">
                            <label>Business Address</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="business_address" id="partner-create-business_address" class="f-textarea editor">${htmlspecialchars($partner['business_address'])}</textarea></div>
						</div>	
                        <div class="field">
                            <label>Other Info</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="other" id="partner-create-other" class="f-textarea editor">${htmlspecialchars($partner['other'])}</textarea></div>
						</div>
						<div class="wholetip clear"><h3>4.Bank Information</h3></div>
                        <div class="field">
                            <label>account bank</label>
                            <input type="text" size="30" name="bank_name" id="partner-create-bankname" class="f-input" value="{$partner['bank_name']}"/>
                        </div>
                        <div class="field">
                            <label>Account Name</label>
                            <input type="text" size="30" name="bank_user" id="partner-create-bankuser" class="f-input" value="{$partner['bank_user']}"/>
                        </div>
                        <div class="field">
                            <label>Bank account</label>
                            <input type="text" size="30" name="bank_no" id="partner-create-bankno" class="f-input" value="{$partner['bank_no']}"/>
                        </div>
                        <div class="act">
                            <input type="submit" value="edit" name="commit" id="partner-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->

<script>
function removeImg(partner_id, column){
	if (confirm('Are you really want to remove this image?'))
	{	
		$.ajax({
			url: '../../ajax/partner_actions.php',
			data: {partner_id:partner_id, column:column},
			type: "post",
			cache: false,
			success: function(data) {
				if(data == 1){
					$('#'+partner_id+'_'+column+'_url').html('');
					$('#'+partner_id+'_'+column).hide();
				} else {
					alert('Errror occur while removing image.');
				}
			}
		});
	}
}
</script>