<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_userdeal($selector)}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				<!--{if $selector=='failure'}-->
                    <h2>deal failed</h2>
				<!--{elseif $selector=='success'}-->
                    <h2>deal tipped</h2>
				<!--{else}-->
                    <h2>current deal</h2>
				<!--{/if}-->
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="400">deal name</th><th width="80" nowrap>city</th><th width="100">date</th><th width="50">deal tipped</th><th width="60" nowrap>price</th><th width="140">operation</th></tr>
					<!--{loop $teams $index $one}-->
					<!--${$oldstate = $one['state']}-->
					<!--${$one['state'] = team_state($one)}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</a></td>
						<td>
							${$one['team_type']=='normal' ? '[Deal]' : ''}
							${$one['team_type']=='seconds' ? '[Deal]' : ''}
							${$one['team_type']=='goods' ? '[Goods]' : ''}
							${$one['team_type']=='weekly' ? '[Weekly]' : ''}
							<a class="deal-title" href="/manage/userdeal/edit.php?id={$one['id']}" >{$one['title']}</a>
							<a href="/ajax/deals.php?action=userdealdetail&id={$one['id']}" class="ajaxlink">[Detail]</a>
						</td>
						<td nowrap>{$cities[$one['city_id']]['name']}<br/>{$groups[$one['group_id']]['name']}</td>
						<td nowrap>${date('Y-m-d',$one['begin_time'])}<br/>${date('Y-m-d',$one['end_time'])}</td>
						<td nowrap>{$one['now_number']}/{$one['min_number']}</td>
						<td nowrap><span class="money">{$currency}</span>${moneyit($one['team_price'])}<br/><span class="money">{$currency}</span>${moneyit($one['market_price'])}</td>
						<td class="op" nowrap>|<!--{if $one['legitimate']== 0}--> <a href="/ajax/deals.php?action=userdealverify&id={$one['id']}">validate</a><!--{elseif $one['is_publish']== 0 }--><a href="/manage/userdeal/publish.php?id={$one['id']}" >Publish</a><!--{else}--><a style="color:#CC3300;">Published</a><!--{/if}-->| <a href="/ajax/deals.php?action=userdealreject&id={$one['id']}" class="ajaxlink" ask="sure to delete this deal?" >reject</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="7">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
