<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('page')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Pape editing</h2></div>
                <div class="sect">
                    <form method="post">
						<div class="field">
							<label>Page</label>
							<select name="id" id="manage_system_page_id" class="f-input" onchange="X.manage.loadpage(this.options[this.selectedIndex].value);">${Utility::Option($pages, $id, '-')}</select>
						</div>
					<!--{if $content||$id}-->
						<div class="field">
							<label>page content</label>
							<div style="float:left;"><textarea style="width:600px;height:450px;" class="editor" name="value">${htmlspecialchars($value)}</textarea></div>
						</div>
						<div class="field">
							<label>page content french </label>
							<div style="float:left;"><textarea style="width:600px;height:450px;" class="editor" name="value_fr">${htmlspecialchars($value_fr)}</textarea></div>
						</div>						
					<!--{/if}-->
                        <div class="act">
                            <input type="submit" value="Save" name="commit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
