<!--{include manage_header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team('team')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				<!--{if $brand['id']}-->
					<h2>Edit Brand</h2>
					
				<!--{else}-->
					<h2>Create Brand</h2>
				<!--{/if}-->
		</div>
                <div class="sect">
				<form id="-user-form" method="post" action="/manage/team/edit_brands.php" class="validator">
                                   <!--{if $brand['id']}-->
                                   <input type="hidden" id="brand_id" name="id" value="{$brand['id']}" />
                                   <!--{/if}-->
                                    <div class="field">    
                                        <label>Brand Title</label>
                                        <input type="text"  name="brand_title" id="brand_title"  value="{$brand['brand_title']}"  require="true" />
                                    </div>
                                   <div class="field">    
                                        <label>Brand Text</label>
                                        <div style="float:left;"><textarea cols="45" rows="5" name="brand_text" id="team-create-summary" class="f-textarea" datatype="require" require="true">{$brand['brand_text']}</textarea></div>
                                    </div>
                </div>
</div>
<input type="submit" value="Save" name="commit" id="leader-submit" class="formbutton" style="margin:10px 0 0 120px;"/>
				</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script type="text/javascript">
    
window.x_init_hook_teamchangetype = function(){
	X.team.changetype("{$team['team_type']}");
};
window.x_init_hook_page = function() {
	X.team.imageremovecall = function(v) {
		jQuery('#team_image_'+v).remove();
	};
	X.team.imageremove = function(id, v) {
		return !X.get(WEB_ROOT + '/ajax/misc.php?action=imageremove&id='+id+'&v='+v);
	};
};
jQuery(document).ready( function(){
    jQuery('#express-zone-div input').click(function () { 
        var v = jQuery(this).attr('value');
        if (v == 'express' || v == 'pickup' || v=='express_pickup') {
            jQuery('#stock-zone').css('display', 'block');
        }
        else{
            jQuery('#stock-zone').css('display', 'none');
        }
    });
    
    team_id = $('#team_id').val();
    $('#team-desc-image').fileupload({
        url: WEB_ROOT + '/manage/team/fileupload.php?action=desc&team_id='+team_id,
        add: function (e, data) {
            team_id = $('#team_id').val();
            if(team_id == 0){
                alert('Please Save deal and then upload the images');
            }
            else{
               var goUpload = true;
                var uploadFile = data.files[0];
                if (!(/\.(gif|jpg|jpeg|tiff|png)$/i).test(uploadFile.name)) {
                    $('#desc-image-error').html('Please upload image file');
                     $('#desc-image-error').show();
                    goUpload = false;
                }
                if (uploadFile.size > 5000000) { // 5mb
                     $('#desc-image-error').html('Please upload image less than 5mb');
                      $('#desc-image-error').show();
                    goUpload = false;
                }
                if (goUpload == true) {
                    data.submit();
                } 
            }
            
        },
        done: function (e, data) {
            file = JSON.parse(data._response.result);
            $('#desc_images').append('<div><img src="/static/'+file.image_loc+'" width="200" /><a href="javascript:;" class="delete_image" id="'+file.id+'">X</a></div>');
        },
    });
    $('#team-slideshow-image').fileupload({
        url: WEB_ROOT + '/manage/team/fileupload.php?action=gallery&team_id='+team_id,
        add: function (e, data) {
            team_id = $('#team_id').val();
            if(team_id == 0){
                alert('Please Save deal and then upload the images');
            }
            else{
               var goUpload = true;
                var uploadFile = data.files[0];
                if (!(/\.(gif|jpg|jpeg|tiff|png)$/i).test(uploadFile.name)) {
                    $('#gallery-image-error').html('Please upload image file');
                     $('#gallery-image-error').show();
                    
                    goUpload = false;
                }
                if (uploadFile.size > 5000000) { // 5mb
                     $('#gallery-image-error').html('Please upload image less than 5mb');
                      $('#gallery-image-error').show();
                    goUpload = false;
                }
                if (goUpload == true) {
                    data.submit();
                } 
            }
            
        },
        done: function (e, data) {
            file = JSON.parse(data._response.result);
            $('#gallery_images').append('<div><img src="/static/'+file.image_loc+'" width="200" /><a href="javascript:;" class="delete_image" id="'+file.id+'">X</a></div>');
        },
    });
    
    
     $(document).on("click", ".delete_image", function() {
           id = $(this).attr('id');
                $.ajax({
                                url: WEB_ROOT + '/manage/team/fileupload.php?action=delete&id='+id,
                                success:function(data)
                                {
                                    $('#'+id).parent('div').remove();
                                }

              });
        });      
});

</script>
<!--{include manage_footer}-->
