<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_misc('index')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Topdeal.ch Backend</h2>
				</div>
                <div class="sect">
					<div class="wholetip clear"><h3>Today's data</h3></div>
					<div style="margin:0 20px;">
						<p>New users: {$user_today_count}</p>
						<p>Number of orders：{$order_today_count}，orders paid：{$order_today_pay_count}，orders to be paid：{$order_today_unpay_count}</p>
						<p>Online payment：{$income_pay}</p>
						<p>Online topup：{$income_charge}</p>
						<p>Offline topup：{$income_store}</p>
						<p>Users' withdraw：{$income_withdraw}</p>
					</div>
					<div class="wholetip clear"><h3>Statistics</h3></div>
					<div style="margin:0 20px;">
						<p>Number of deals：{$team_count}</p>
						<p>Registrations：{$user_count}</p>
						<p>Orders：{$order_count}</p>
						<p>Email subscriptions：{$subscribe_count}</p>
					</div>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
