<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>Add Video</h3>
	<div style="overflow-x:hidden;padding:10px;">
            <form method="post" action="/manage/system/uploadvideo.php" enctype="multipart/form-data">
                <div>
                    Upload a video file
                </div>
                
                <div>
                    <strong>Video Name:</strong>
                    <input type="text" name="video_title" value="{$video['video_name']}" />
                </div>
                <div>
                    <strong>Video Start Time:</strong>
                    <input type="text" name="video_starttime" value="${date('Y-m-d', $startdate)}" />
                </div>
                <div>
                    <strong>Video End Time:</strong>
                    <input type="text" name="video_endtime" value="${date('Y-m-d', $enddate)}" />
                </div>
                 <div>
                     <input type="checkbox" name="default_video" value="1" <?php if($video['default']==1){ echo 'checked="checked"';} ?>  />
                    Make Default
                </div>
                <?php 
                if(isset($_GET['id'])){
                ?>
                <input type="hidden" name="id" value="<?php echo $_GET['id']; ?>" />
                <?php 
                }else{
                ?>
                <strong>Input File:</strong> <br><br>
            <input type="file" name="video_file" />
            <?php } ?>
            <br><br>
            
            <input type="submit" value="Submit" />
	</div>
</div>