<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:600px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span></h3>
	<div style="overflow-x:hidden;padding:10px;" id="dialog-order-id" oid="{$order['id']}">
            <input id="refund_order_item" name="refund_order_item" type="hidden" value="{$refund_order_item}" />
            <input id="order_id" name="order_id" type="hidden" value="{$order_id}" />
	<table width="96%" align="center" class="coupons-table">
            <tr>
                    
                    <td>
                        <b>refund policy：</b>
                        <select name="refund" id="order-dialog-refund-id">${Utility::Option($option_refund, '', 'please select a way of refunding')}</select>&nbsp;
                    </td>
                </tr>
            
                <tr>
                    <td>
                        <b>Reason:</b>
                <input name="reason_refund" id="reason_refund" type="text" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="yes" onclick="return X.manage.orderitemrefund();"/></td></tr>
	<!--{/if}-->

	</table>
	</div>
</div>
