<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_vote('question')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>
						<!--{if $action == 'list-all'}-->
							List of all questions
						<!--{else}-->
							List of questions being surveyed
						<!--{/if}-->
					</h2>
					<ul class="filter">
						<li>
							<a href="question.php?action=add">Add new questions</a>
						</li>
						<li>
							<!--{if $action == 'list-all'}-->
								<a href="question.php?action=list-is_show-1">List of questions being surveyed</a>
							<!--{else}-->
								<a href="question.php?action=list-all">List of all questions</a>
							<!--{/if}-->
						</li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr>
						<th width="40">ID</th>
						<th width="400">Title</th>
						<th width="100">State</th>
						<th width="100">Sort</th>
						<th width="300">Operation</th>
					</tr>
					<!--{if !$question_list}-->
					<tr>
						<td colspan=5 align="center">no questions</td>
					</tr>
					<!--{/if}-->
					<!--{loop $question_list $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>{$one['title']}</td>
						<td>${$one['is_show'] ? 'display' : 'hide'}</td>
						<td>{$one['order']}</td>
						<td class="op">
							${$one['is_show'] ? '<a href="question.php?action=change_show&id='.$one['id'].'&value=0">hide</a>' : '<a href="question.php?action=change_show&id='.$one['id'].'&value=1">display</a>'}
							<a href="options.php?question_id={$one['id']}">option</a>
							<a href="question.php?action=edit&id={$one['id']}">edit</a>
							<a href="javascript: if(confirm('sure to delete？')) window.location.href = 'question.php?action=del&id={$one['id']}'">delete</a>
						</td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="8">{$pagestring}</tr>
                    </table>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
