<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_coupon('advancecreate')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2>New Advance coupon</h2>
				</div>
                <div class="sect">
                    <form id="login-user-form" method="post" class="validator">
					<input type="hidden" name="id" value="{$card['id']}" />
                        <div class="field">
                            <label>Deal</label> 
                            <select name="team_id" style="width: 300px">
                            <!--{loop $teams $index $one}-->
                            <option value="{$one['id']}" title="${htmlspecialchars($one['title'])}" 
                                    <!--{if $coupon['team_id'] == $one['id']}-->selected='selected'<!--{/if}-->>{$one['title']}
                            </option>
                            <!--{/loop}-->
                            </select>
                        </div>
                        
                        <div class="field">
                            <label>quantity</label>
                            <input type="text" size="30" name="quantity" id="card-create-quantity" class="number" value="${abs(intval($coupon['quantity']))}" datatype="number" require="true" />
                            
                        </div>
                        <div class="act">   
                            <input type="submit" value="Create" name="commit" id="partner-submit" class="formbutton"/>
                        </div>
					</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
