<!--{include manage_header}-->
 
<div id="bdw" class="bdw">
<div id="bd" class="cf"> 
<div id="coupons"> 
    <form id="frmGenStatement" method='post' action="{$INI['system']['wwwprefix'].'/manage/statement/generate.php'}">
		<input type="hidden" name="team_id" value='0'/>
    </form>
    <div class="dashboard" id="dashboard">
		<ul>${mcurrent_revenue($selector)}</ul>
    </div>
    <div id="content" class="coupons-box clear mainwide"> 
		<div class="box clear"> 
            <div class="box-top"></div>
            <div class="box-content"> 
				<div class="head">
                    <!--filters -->
					<ul class="filter"> 
						<li>
							<form action="/manage/revenue/supplier.php" method="post">
							Deal:<input type="text" class="h-input" name="title" value="${htmlspecialchars($title)}" >&nbsp;
							Partner Title:<input type="text" class="h-input" name="partner" value="${htmlspecialchars($partnerTitle)}" >&nbsp;
							Supplier : <select name="supplier_id" datatype="require" require="require" class="f-input" style="width:200px;">${Utility::Option($suppliers, $supplier_id, '--- Supplier ---')}</select>&nbsp;
							<input type="submit" value="filter" class="formbutton"  style="padding:1px 6px;"/>
							<form>
						</li>
					</ul>
					<!--//filters -->	
					<br /><br />
					<h2>Revenue by Supplier</h2>
				</div>
                
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="100" nowrap>No.</th>
                                                    <th width="350">Supplier</th>
                                                    <th width="160">Total Deal Sold</th>
                                                    <th width="160">Total Revenue Generated</th>
                                                    <th width="160" nowrap>Total Coupons Generated</th>
                                                    <th width="160">Total Coupons Validated</th>
                                                    <th width="160">Total Coupons Invoiced</th>
                                                    <th width="260">Total Coupons Pending for Invoice</th>
													<!--<th width="260">Topdeal Margin</th>-->
                                                    <th width="100">Action</th></tr>
					<!--{loop $revenue $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td>{$one['id']}</td>
							<td>
                                                            {$one['supplier_name']}
							</td>
						
							<td nowrap>{$one['total_sold']}</td>
							<!-- <td>{$one['total_sold'] * $one['margin']}</td>-->
							<td>{$one['totalMargin'] }</td>
                                                        <td>{$one['coupon_generated']}</td>
                                                        <td>{$one['coupon_validated']}</td>
                                                        <td>{$one['coupon_invoiced']}</td>
                                                        <td>{$one['coupon_waiting_invoiced']}</td>
                                                        <!--<td>{$one['margin']}</td>-->
														<td>
                                                            <a href="#" onclick="javascript:GenerateStatement({$one['id']});">Generate Statement</a>
							</td>
						</tr>	
					<!--{/loop}-->
						<tr><td colspan="6">{$pagestring}</td></tr>
                    </table>
                                        <script type="text/javascript">
					function GenerateStatement(team_id)
					{
						//console.log('here');
						$('#frmGenStatement input[name=team_id]').val(team_id);
						$('#frmGenStatement').submit();
					}
					</script>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
