<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:700px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>Management authorization：{$user['email']}</h3>
	<div style="overflow-x:hidden;padding:10px;">
	<form method="POST" id="form_authorization_id">
	<input type="hidden" name="action" value="authorization" />
	<input type="hidden" name="id" value="{$user['id']}" />
	<table width="96%" cellpadding="3" class="coupons-table">
		<tr><td width="100" nowrap="nowrap"><input type="checkbox" name="auth[]" value="team" ${in_array('team', $INI['authorization'][$user['id']])?'checked':''}/>&nbsp;<b>Deals Manager</b></td>
		  <td width="15" nowrap="nowrap">&nbsp;</td>
	    <td nowrap="nowrap">（edit and add deals）</td></tr>
		<tr>
		  <td colspan="3" nowrap="nowrap"></td>
	    </tr>
		<tr><td nowrap="nowrap"><input type="checkbox" name="auth[]" value="help" ${in_array('help', $INI['authorization'][$user['id']])?'checked':''}/>&nbsp;<b>Customer Service Manager</b></td>
		  <td nowrap="nowrap">&nbsp;</td>
	    <td nowrap="nowrap">（Q & A of this deal, webpage, template and bulletin）</td></tr>
		<tr>
		  <td colspan="3" nowrap="nowrap"></td>
	    </tr>
		<tr><td nowrap="nowrap"><input type="checkbox" name="auth[]" value="order" ${in_array('order', $INI['authorization'][$user['id']])?'checked':''}/>&nbsp;<b>Orders Manager</b></td>
		  <td nowrap="nowrap">          
	    <td nowrap="nowrap">（order management, refund, express and etc.）</tr>
		<tr>
		  <td colspan="3" nowrap="nowrap"></td>
	    </tr>
		<tr><td nowrap="nowrap"><input type="checkbox" name="auth[]" value="market" ${in_array('market', $INI['authorization'][$user['id']])?'checked':''}/>&nbsp;<b>marketing Manager</b></td>
		  <td nowrap="nowrap">&nbsp;</td>
	    <td nowrap="nowrap">（email & SMS marketing, data download）</td></tr>
		<tr>
		  <td colspan="3" nowrap="nowrap"></td>
	    </tr>
		<tr><td nowrap="nowrap"><input type="checkbox" name="auth[]" value="admin" ${in_array('admin', $INI['authorization'][$user['id']])?'checked':''}/>&nbsp;<b>System Manager</b></td>
		  <td nowrap="nowrap">          
	    <td nowrap="nowrap">（users, categories, bizes, financial stuff, etc.）</tr>
		<tr>
		  <td colspan="3">&nbsp;</td>
	    </tr>
		<tr><td colspan="3"><input type="submit" class="formbutton2" value="Determination authorization" /></td></tr>
	</table>
	</form>
	</div>
</div>
