<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_coupon('cardsend')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2>Send Promo Code</h2>
				</div>
                <div class="sect">
                    <form id="login-user-form" method="post" class="validator">
					
                        <div class="field">
                            <label>Deal</label> 
                            <input type="text" name="team_id" require="true" datatype="number" class="number" /><span class="inputtip">Please type the deal ID</span>
                        </div>
                        
                        <div class="field">
                            <label>Card Code</label>
                            <input type="text" size="30" name="code" id="card-code"  value="{$card['code']}"  datatype="require"  require="true" />
                            
                        </div>
                        <div class="act">   
                            <input type="submit" value="Send Cards" name="commit" id="partner-submit" class="formbutton"/>
                        </div>
					</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
