<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2>Mail Partner Statement</h2>
					<span style="float:right;" >
						<a href="/manage/statement/index.php"> << Back </a>
					</span>
				</div>
                <div class="sect">
                    <form id="email-partner-statement-form" method="post" action="/manage/statement/email.php" enctype="multipart/form-data" class="validator">
	
                        <div class="field">
                            <label>Email to:</label>
                            <input type="text" size="30" name="partner_email" id="partner-statement-email" class="f-input" value="{$partnerEmail}" require="true" datatype="require" />
                            <span class="inputtip">add more emails use separator ';'</span>
                        </div>
                         <div class="field">
                            <label>Subject:</label>
                            <input type="text" size="30" name="partner_subject" id="partner-statement-mail-subject" class="f-input" value=" {$EmailSubject}" require="true" datatype="require" />
                            
                        </div>
                        <div class="field">
                            <label>Mail Body</label>
                            <div style="float:left;">
                                <textarea cols="45" rows="5" name="partner_message" id="partner-statement-mail-body" class="f-textarea editor">{$emailBody}</textarea>
                            </div>
						</div>
						<div class="field">
                            <label>&nbsp;</label>
                            <a href="{$downloadPdf}" target="_blank">View Statment</a>
                        </div>
                        <div class="act">
							<input type="hidden" name="statement_id" value="{$statement_id}" />
							<input type="hidden" name="fileName" value="{$fileName}" />
							<input type="hidden" name="pdfFilePath" value="{$pdfFilePath}" />
							<input type="hidden" name="downloadPdf" value="{$downloadPdf}" />
                            <input type="submit" value="Mail" name="commit" id="supplier-submit" class="formbutton"/>
                        </div>
						<div class="act errMessage" style="display:none; color:red;"></div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
	<script>
		jQuery(document).ready(function(){
			jQuery("#email-partner-statement-form").bind("submit",function(){
				
				var partner_statement_email 			= jQuery.trim(jQuery("#partner-statement-email").val());
				var partner_statement_mail_subject 		= jQuery.trim(jQuery("#partner-statement-mail-subject").val());
				var partner_statement_mail_body		 	= jQuery.trim(jQuery("#partner-statement-mail-body").val());
				
				var errMessage	=	"";
				
				if(partner_statement_email==""){
					errMessage += "Please Enter Email Address";
				}
				
				if(partner_statement_mail_subject==""){
					errMessage += "Please Enter Email Subject";
				}
				
				if(errMessage==""){
					jQuery(".errMessage").html("");
					jQuery(".errMessage").css('display','none');
					//CONFIRM BOX
					var r = confirm("Are you sure you want to send email?");
					if (r == true) {
						return true;
					} 
					
				}else{
					jQuery(".errMessage").html(errMessage);
					jQuery(".errMessage").css('display','block');
					return false;
				}
			});
		});
	</script>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
