<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_credit('goods')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Goods exchange</h2>
					<ul class="filter">
						<li><a href="/manage/credit/ajax.php?action=edit" class="ajaxlink">Add goods for exchange</a></li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="50">ID</th><th width="350">name</th><th width="150">credit exchange</th><th width="40" nowrap>quantity</th><th width="40" nowrap>sort</th><th width="40" nowrap>display</th><th width="140">operation</th></tr>
					<!--{loop $goods $index $one}-->
					<tr ${$index%2?'':'class="alt"'}>
						<td>{$one['id']}</td>
						<td>{$one['title']}</td>
						<td>{$one['score']}</td>
						<td>{$one['consume']}/{$one['number']}</td>
						<td>{$one['display']}</td>
						<td>{$one['sort_order']}</td>
						<td class="op"><a href="/manage/credit/ajax.php?action=disable&id={$one['id']}" class="ajaxlink">${$one['enable']=='Y'?'forbid':'start'}</a>｜<a href="/manage/credit/ajax.php?action=edit&id={$one['id']}" class="ajaxlink">edit</a>｜<a href="/manage/credit/ajax.php?action=remove&id={$one['id']}" class="ajaxlink" ask="Sure to delete this ?">delete</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="8">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
