<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_misc('promotions')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Promotions</h2>
                    <ul class="filter">
						<li class="label"> </li>
						
					</ul>
				</div>
                <div class="sect">

<form action="" method="post" enctype="multipart/form-data">
    <table width="96%" border="0" class="coupons-table">
        <tr>
        <td width="27%" height="25">
            &nbsp;
        </td>
	<td width="73%" height="25">
            <input name="promotions[today_deals]" type="checkbox" <?php if( isset($INI['promotions']['today_deals']) && $INI['promotions']['today_deals'] == 1 ){?>checked="checked"<?php } ?> /> &nbsp;Show Today Deals on Homepage
	</td>
    </tr>
    <tr>
        <td width="27%" height="25">
            Title:
        </td>
	<td width="73%" height="25">
            <input  name ="promotions[title]" value="{$INI['promotions']['title']}" type="text" />
	</td>
    </tr>
    <tr>
        <td width="27%" height="25">
            Link:
        </td>
	<td width="73%" height="25">
            <input name ="promotions[link]" value="{$INI['promotions']['link']}" type="text" />
	</td>
    </tr>
    <tr>
        <td width="27%" height="25">
            Start Date:
        </td>
	<td width="73%" height="25">
            <input  name ="promotions[start_time]" value="<!--{if $INI['promotions']['start_time'] != ''}-->{$INI['promotions']['start_time']}<!--{else}-->${date('Y-m-d H:i')}<!--{/if}-->" type="text" />
	</td>
    </tr>
    <tr>
        <td width="27%" height="25">
            End Date:
        </td>
	<td width="73%" height="25">
            <input  name ="promotions[end_time]" value="<!--{if $INI['promotions']['end_time'] != ''}-->{$INI['promotions']['end_time']}<!--{else}-->${date('Y-m-d H:i')}<!--{/if}-->" type="text" />
	</td>
    </tr>
    <tr>
        <td width="27%" height="25">
            Promotion Image:
        </td>
	<td width="73%" height="25">
            <input name ="promotion_image" type="file" /> 
	</td>
    </tr>
    <!--{if $INI['promotions']['image'] != ""}-->
    <tr>
        <td colspan="2">
            
            <img src ="{$INI['system']['wwwprefix']}/static/{$INI['promotions']['image']}" width="500" height="300" />
        </td>
    </tr>
    <!--{/if}-->
    <tr>
        <td align="left">
            <input type="submit" value="Submit" class="formbutton">
        </td>
    </tr>
    </table>
</form>

				</div>
			</div>
		</div>
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<!--{include manage_footer}-->
