<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_market('down')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2>{$INI['system']['couponname']} download</h2>
					<ul class="filter">${mcurrent_market_down('downcoupon')}</ul>
				</div>
                <div class="sect">
                    <form method="post" target="_blank" class="validator">
                        <div class="field">
                            <label>Deal name</label>
							<input type="text" name="team_id" require="true" datatype="number" class="number" /><span class="inputtip">Please type the deal ID</span>
						</div>

                        <div class="field">
                            <label>State</label>
							<div style="padding-top:8px;"><input type="checkbox" name="consume[]" value="Y" checked />&nbsp; consumed&nbsp;&nbsp;<input type="checkbox" name="consume[]" value="N" checked>&nbsp;consumable</div>
						</div>

                        <div class="act">
                            <input type="submit" value="download" name="commit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
