<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="user">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_user(null)}<li class="current"><a href="/manage/user/edit.php?id={$user['id']}">edit users</a><span></span></li></ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>edit users</h2><b style="margin-left:20px;font-size:16px;">（{$user['email']}/{$user['username']}）</b></div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="/manage/user/edit.php?id={$user['id']}">
					<input type="hidden" name="id" value="{$user['id']}" />
						<div class="wholetip clear"><h3>1、ID info</h3></div>
						<div class="field">   
                            <label>Account Status</label>
							<?php $status='';if($user['enable']=='Y'){$status="checked='checked'";}?>
                            <input value="Y" type="checkbox" {$status} name="enable" placeholder="Enable"/></td>
                        </div>
                        <div class="field">                            
                            <label>First Name</label>
                            <input type="text" value="<!--{if $user['first_name'] != ''}-->{$user['first_name']}<!--{else}-->Prénom<!--{/if}-->" name="first_name" placeholder="Prénom"/></td>
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input type="text" value="<!--{if $user['last_name'] != ''}-->{$user['last_name']}<!--{else}-->Nom<!--{/if}-->" name="last_name" placeholder="Nom"/></td>
                        </div>
                        <div class="field">
                            <label>user email</label>
                            <input type="text" size="30" name="email" id="user-edit-email" class="f-input" value="{$user['email']}" />
                        </div>
                        <div class="field">
                            <label>username</label>
                            <input type="text" size="30" name="username" id="user-edit-username" class="f-input" value="{$user['username']}" />
                        </div>
			<div class="field">
                            <label>real name</label>
                            <input type="text" size="30" name="realname" id="user-edit-realname" class="f-input" value="{$user['realname']}" />
                        </div>
						<div class="field">
                            <label>QQ No.</label>
                            <input type="text" size="30" name="qq" id="user-edit-qq" class="number" value="{$user['qq']}" />
                        </div>
                        <div class="field password">
                            <label>login password</label>
                            <input type="text" size="30" name="password" id="settings-password" class="f-input" />
                            <span class="hint">If you're not going to change your password, keep it blank</span>
                        </div>
						<div class="wholetip clear"><h3>2、basic info</h3></div>
                                                
                                                <div class="field">
                                                    <label>Birth Date</label>
                                                        <input type="text" value="${date('j',$user['birth_day'])}" name="bd_day" class="wth-33" />
							<input type="text" value="${date('n',$user['birth_day'])}" name="bd_month" class="wth-33" />
							<input type="text" value="${date('y',$user['birth_day'])}" name="bd_year" class="wth-46" />
							&nbsp;&nbsp;<span>XX / XX / 19XX</span>
                                                </div>
                        <div class="field">
                            <label>zipcode</label>
                            <input type="text" size="30" name="zipcode" id="user-edit-zipcode" class="f-input" value="{$user['zipcode']}"/>
                        </div>
                        <div class="field">
                            <label>address</label>
                            <input type="text" size="30" name="address" id="user-edit-address" class="f-input" value="{$user['address']}"/>
			</div>
                        <div class="field">
                            <label>address 2</label>
                            <input type="text" size="30" name="address2" id="user-edit-address" class="f-input" value="{$user['address2']}"/>
			</div>
                        <div class="field">
                            <label>City</label>
                            <input type="text" size="30" name="region" id="user-edit-address" class="f-input" value="{$user['region']}"/>
			</div>
						<div class="field">
                            <label>Gender</label>
								<select name="gender" class="f-input" style="width:107px;" required>
									<option value='' >-Select-</option>
									<option value='M' <!--{if $user['gender'] == 'M'}-->selected = "selected"<!--{/if}-->>Male</option>
									<option value='F' <!--{if $user['gender'] == 'F'}-->selected = "selected"<!--{/if}-->>Female</option>
								</select>
						</div>
                                                
                        <div class="field">
                            <label>mobile</label>
                            <input type="text" size="30" name="mobile" id="user-edit-mobile" class="number" value="{$user['mobile']}" maxLength="11" />
						</div>
						
						<div class="wholetip clear"><h3>3、additional info</h3></div>
                        <div class="field">
                            <label>email verification</label>
                            <input type="text" size="30" name="secret" id="user-edit-secret" class="f-input" value="{$user['secret']}"/>
                            <span class="hint">verified, please empty this field</span>
                        </div>
						<!--{if $login_user_id==1&&$user['id']>1}-->
                        <div class="field">
                            <label>manager</label>
                            <input type="text" size="30" name="manager" id="user-edit-manager" class="number" value="{$user['manager']}" maxLength="1" require="true" datatype="require" style="text-transform:uppercase;" /><span class="inputtip">Y:yes N:no</span>
						</div>
						<!--{/if}-->
                        <div class="act">
                            <input type="submit" value="edit" name="commit" id="user-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
