<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('videos')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Home Page Videos</h2></div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th>
                                            <th width="320">Title</th>
                                            <th width="60">Default</th>
                                            <th width="130">Action</th>
                                        </tr>
					<!--{loop $videos $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td style="text-align:left;">
                                                    {$one['video_name']}
                                                </td>
                                                <td nowrap>
                                                    <!--{if $one['default'] == 1 }-->
                                                        Default 
                                                    <!--{else} -->
                                                        -
                                                    <!--{/if}-->
                                                </td>
						
						<td class="op" nowrap>
                                                    <a href="/manage/system/videos.php?action=activate&id={$one['id']}">Default</a>
                                                    ｜
                                                    <a href="/ajax/manage.php?action=addvideo&id={$one['id']}" class="ajaxlink">Edit</a>|
                                                    <a href="/manage/system/videos.php?action=remove&id={$one['id']}"  ask="sure to delete this Video?">delete</a>
                                                </td>
					</tr>
					<!--{/loop}-->
					
                    </table>
				</div>
                <a href="/ajax/manage.php?action=addvideo" class="ajaxlink">add Video</a>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
