<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('skin')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>System skin</h2></div>
                <div class="sect">
                    <form method="post">
                        <div class="field">
                            <label>Template</label>
							<select name="skin[template]" class="f-input" style="width:200px;">${Utility::Option(ZSystem::GetTemplateList(), $INI['skin']['template'])}</select>
							<span class="hint">Among the templates installed under [${DIR_ROOT}/template] directory，only the default one supports the switch of multiple themes</span>
                        </div>
                        <div class="field">
                            <label>Theme</label>
							<select name="skin[theme]" class="f-input" style="width:200px;">${Utility::Option(ZSystem::GetThemeList(), $INI['skin']['theme'])}</select>
							<span class="hint">Among the themes installed under the directory [${WWW_ROOT}/static/theme] , only the default one support the switch between themes</span>
                        </div>
                        <div class="act">
                            <input type="submit" value="Save" name="commit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
