<!--{include manage_header}-->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team($selector)}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				<!--{if $selector=='failure'}-->
                    <h2>deal failed</h2>
				<!--{elseif $selector=='success'}-->
                    <h2>Unpublished Deals</h2>
                    <!--{elseif $selector=='search'}-->
                    <h2>Search Results</h2>
				<!--{else}-->
                    <h2>On going deals</h2>
				<!--{/if}-->	
						
				</div>
                <div class="sect" style="padding:0 10px;">
                    <form method="get" action="search.php">
                            <p style="margin:5px 0;">Search Term : <input type="text" name="rechercher" value="${htmlspecialchars($_REQUEST['rechercher'])}" class="h-input"/>&nbsp;Supplier : <select name="supplier_id" datatype="require" require="require" class="f-input" style="width:200px;">${Utility::Option($suppliers, $supplier_id, '--- please select a Supplier ---')}</select><span class="inputtip"></span> &nbsp;
                                &nbsp; Hidden: <select name="system" class="f-input" style="width:160px;">
                                                  ${Utility::Option($hidden_team_options, $system)}					  
                                          	</select><input type="submit" value="Search" class="formbutton"  style="padding:1px 6px;"/></p>
                    </form>
                </div>

                <div class="sect" style="padding:0 10px;">
                    <form method="post" id="import_form" enctype="multipart/form-data" action="/manage/team/import.php">
						<input id = "import_file" name="import_file" type="file" style="display:none;" />
                        <input id="import_button" type="button" value="Import" class="formbutton"  style="padding:1px 6px;"/>
                    </form>

                <div class="sect" style="padding:40px 40px;">
                    <a href="/ajax/manage.php?action=bulkdimensions" style="background: #85c422; padding:15px; text-decoration: none; color: #FFF;" class="ajaxlink" >Upload Bulk Dimensions</a>

                </div>
				
				<input type="button" value="ETA" class="formbutton eta_value_popup" />
				
				<form method="post" name="deals_list" id="deals_list" action="index.php">
					<div class="sect">
						<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr>
							<th width="40">All<input type="checkbox" class="eta_selecctall" /></th>
							<th width="40">ID</th><th width="400">deal name</th>
							<th width="80" nowrap>category</th>
							<th width="100">date</th>
							<th width="50">deal tipped</th>
							<th width="60" nowrap>price</th>
							<th width="140">operation</th>
						</tr>
						<!--{loop $teams $index $one}-->
						<!--${$oldstate = $one['state']}-->
						<!--${$one['state'] = team_state($one)}-->
						<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
							<td><input type="checkbox" class="eta_checkbox" name="eta[{$one['id']}]" id="{$one['id']}"></td>
							<td>{$one['id']}</a></td>
							<td>
								${$one['team_type']=='normal' ? '[Deal]' : ''}
								${$one['team_type']=='seconds' ? '[Deal]' : ''}
								${$one['team_type']=='goods' ? '[Goods]' : ''}
								${$one['team_type']=='weekly' ? '[Weekly]' : ''}
								<a class="deal-title" href="/team.php?id={$one['id']}" target="_blank">{$one['title']}</a>
							</td>
							<td nowrap>{$cities[$one['city_id']]['name']}<br/>{$groups[$one['group_id']]['name']}</td>
							<td nowrap>${date('Y-m-d',$one['begin_time'])}<br/>${date('Y-m-d',$one['end_time'])}</td>
							<td nowrap>{$one['now_number']}/{$one['min_number']}</td>
							<td nowrap><span class="money">{$currency}</span>${moneyit($one['team_price'])}<br/><span class="money">{$currency}</span>${moneyit($one['market_price'])}</td>
							<td class="op" nowrap><a href="/ajax/manage.php?action=teamdetail&id={$one['id']}" class="ajaxlink">detail</a>｜<a href="/manage/team/edit.php?id={$one['id']}">edit</a>｜<a href="/ajax/manage.php?action=teamremove&id={$one['id']}" class="ajaxlink" ask="sure to delete this deal?" >delete</a><!--{if (in_array($one['state'],array('success','soldout')))}-->｜<a href="/manage/team/down.php?id={$one['id']}" target="_blank">download</a><!--{/if}--> | 
								<a href="/manage/team/export.php?id={$one['id']}" target="_blank">Export</a>
							</td>
						</tr>
						<!--{/loop}-->
						<tr>
							<th width="40">All<input type="checkbox" class="eta_selecctall" /></th>
							<th width="40">ID</th><th width="400">deal name</th>
							<th width="80" nowrap>category</th>
							<th width="100">date</th>
							<th width="50">deal tipped</th>
							<th width="60" nowrap>price</th>
							<th width="140">operation</th>
						</tr>
						<tr><td colspan="7"><input type="button" value="ETA" class="formbutton eta_value_popup" /></td></tr>
						<tr><td colspan="7">{$pagestring}</tr>
						</table>
					</div>
				</form>				
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<script>
$(document).ready(function() {
    $('.eta_selecctall').click(function(event) {  //on click 
        if(this.checked) { // check select status
            $('.eta_checkbox').each(function() { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"               
            });
        }else{
            $('.eta_checkbox').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"                       
            });         
        }
    });
    
});

  $(function() {
	
	//eta value popup open
	jQuery(".eta_value_popup").on("click",function(){
		jQuery(document).ajaxStart(function () {
			jQuery('#ajaxBusy').css("display","block");
		});
		jQuery(document).ajaxStop(function () {
			jQuery('#ajaxBusy').css("display","none");
		});
		
		$.ajax({
			type: "POST",
			url:  WEB_ROOT + '/ajax/eta_value.php',
			cache:false,
			data:$("form#deals_list").serialize(),
			dataType: 'html',
			success: function(msg){
				if(msg != ''){
					X.boxShow(msg, true)
				}else{
					alert('Please select deals.');
				}
			},
		});		
	});
	
	  
      $('#import_button').on('click', function(){
          $('#import_file').click();
      });
      $('#import_file').on('change',function(){
        //do whatever you want
        var filename = $('#import_file').val();
        var extension = filename.replace(/^.*\./, '');

        // Iff there is no dot anywhere in filename, we would have extension == filename,
        // so we account for this possibility now
        if (extension == filename) {
            extension = '';
        } else {
            // if there is an extension, we convert to lower case
            // (N.B. this conversion will not effect the value of the extension
            // on the file upload.)
            extension = extension.toLowerCase();
        }
        if(extension == "zip")
        {
            c = confirm('Are you sure you want to import the deal form archive?');
            if(c){
                $('#import_form').submit();
            }
        }
        
    });
  });
  </script>
<!--{include manage_footer}-->
