<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_vote('question')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>“{$question['title']}”List of options</h2>
					<ul class="filter">
						<li>
							<a href="options.php?action=add&question_id={$question_id}">Add new options</a>
						</li>
						<li>
							<a href="question.php">List of questions</a>
						</li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr>
						<th width="40">ID</th>
						<th width="300">Name</th>
						<th width="50">State</th>
						<th width="50">Sort</th>
						<th width="200">Operation</th>
					</tr>
					<!--{if !$options_list}-->
					<tr>
						<td colspan=5 align="center">no options</td>
					</tr>
					<!--{/if}-->
					<!--{loop $options_list $index $one}-->
						<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
							<td>{$one['id']}</td>
							<td>${$one['is_input'] ? '<font color="red">'.$one['name'].'</font>' : $one['name']}</td>
							<td>${$one['is_show'] ? 'display' : 'hide'}</td>
							<td>{$one['order']}</td>
							<td class="op">
								${$one['is_show'] ? '<a href="options.php?action=change_show&question_id=' . $one['question_id'] . '&id='.$one['id'].'&value=0">hide</a>' : '<a href="options.php?action=change_show&question_id=' . $one['question_id'] . '&id='.$one['id'].'&value=1">display</a>'}
								<a href="options.php?action=edit&question_id={$one['question_id']}&id={$one['id']}">edit</a>
								<a href="javascript: if(confirm('sure to delete？')) window.location.href = 'options.php?action=del&question_id={$one['question_id']}&id={$one['id']}'">delete</a>
							</td>
						</tr>
						${$one['is_br'] ? '<tr><td colspan=5>&nbsp;</td></tr>' : ''}
					<!--{/loop}-->
                    </table>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->