<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:580px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Close</span>Contest Details</h3>
	<div style="overflow-x:hidden;padding:10px;">
	<table width="96%" align="center" class="coupons-table">
		<tr><td width="80"><b>Contest Title:</b></td><td><b>{$team['title']}</b></td></tr>
		<tr><td colspan="2"><b>Begin Time: ${date('Y-m-d',$team['start_time'])}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>End Time : ${date('Y-m-d',$team['end_time'])}</b></td></tr>

		
		<tr><td colspan="2"><b>Publish Method:</b> &nbsp;&nbsp; "{$team['publish']} "</td></tr>
		
		<!--{if $team['publish'] == 'Automatic'}--><tr><td colspan="2"><b> Minimum Vote: </b>{$team['min_vote']}</td></tr><!--{/if}-->
		
		<tr><th colspan="2"><hr/></th></td></tr>
		<tr><td colspan="2">
		<b>Total Votes For Contest:</b> {$totalvote} 
		<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="400">Title</th><th width="100">No.of Vote</th></tr>
		<!--{loop $teams $index $one}-->
		<!--${
		$result = DB::Query("Select Count(*) as count from vote_deal where deal_id =".$one['id']);
			while($row = mysql_fetch_array($result))
			{
				$count_vote = $row['count'];
			}
			
		}-->
		<tr>
		<td>{$one['id']}</td>
		<td>{$one['title']}</td>
		<td>{$count_vote}</td>
		</tr>
		<!--{/loop}-->
		</table>
		</td>
		</tr>
			
	</table>
	</div>
</div>
