<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team('team')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				<!--{if $team['id']}-->
					<h2>Edit deals</h2>
					<ul class="filter">${current_manageteam('editmeta', $team['id'])}</ul>
				<!--{else}-->
					<h2>Create new deals</h2>
				<!--{/if}-->
				</div>
                <div class="sect">
				<form id="-user-form" method="post" action="/manage/team/editmeta.php?id={$team['id']}" enctype="multipart/form-data" class="validator">
					<input type="hidden" name="id" value="{$team['id']}" />
					<div class="wholetip clear"><h3>Meta Information</h3></div>
                                        
					<div class="field">
						<label>Highlights</label>
                                                <div style="float:left;"><textarea cols="45" rows="6" name="highlights_en" id="team-edit-highlights" class="f-textarea">${htmlspecialchars($team_meta['highlights_en'])}</textarea></div>
					</div>
					<div class="field">
						<label>Conditions</label>
                                                <div style="float:left;"><textarea cols="45" rows="6" name="terms_en" id="team-edit-conditions" class="f-textarea">${htmlspecialchars($team_meta['terms_en'])}</textarea></div>
					</div>
					<div class="field">
						<label>Company Details</label>
						<div style="float:left;"><textarea cols="45" rows="6" name="details_en" id="team-edit-company" class="f-textarea">${htmlspecialchars($team_meta['details_en'])}</textarea></div>
					</div>
                                        <div class="field">
						<label>Highlights (FR)</label>
                                                <div style="float:left;"><textarea cols="45" rows="6" name="highlights_fr" id="team-edit-highlights-fr" class="f-textarea">${htmlspecialchars($team_meta['highlights_fr'])}</textarea></div>
					</div>
					<div class="field">
						<label>Conditions (FR)</label>
                                                <div style="float:left;"><textarea cols="45" rows="6" name="terms_fr" id="team-edit-conditions-fr" class="f-textarea">${htmlspecialchars($team_meta['terms_fr'])}</textarea></div>
					</div>
					<div class="field">
						<label>Company Details (FR)</label>
						<div style="float:left;"><textarea cols="45" rows="6" name="details_fr" id="team-edit-company-fr" class="f-textarea">${htmlspecialchars($team_meta['details_fr'])}</textarea></div>
					</div>
					<input type="submit" value="OK，submit" name="commit" id="leader-submit" class="formbutton" style="margin:10px 0 0 120px;"/>
				</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
