<!--{include manage_header}-->
<!--${$action=($s=='store')?'Top-line ':' Users withdraw cash';}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="money">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_misc('money')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Offline topup (total：<span class="currency">{$currency}</span>${abs($summary)})</h2>
                    <ul class="filter">
						<li class="label"> </li>
						${mcurrent_misc_money($s)}
					</ul>
				</div>
                <div class="sect" style="padding:0 10px;">
                        <form method="get">
                                <input type="hidden" name="s" value="{$s}" />
                                <p style="margin:5px 0;">user<input type="text" name="uemail" class="h-input" value="${htmlspecialchars($uemail)}" >&nbsp;Detail.<input type="text" name="detail" class="h-input number" value="{$details}" ></p>
                                <p style="margin:5px 0;"><input type="submit" value="search" class="formbutton"  style="padding:1px 6px;"/></p>
                        </form>
		</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="200">Email/username</th><th width="100">action</th><th width="160">sum</th><th width="200">operator</th><th width="200"> time</th><th>Detail</th></tr>
					<!--{loop $flows $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td nowrap>{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</td>
							<td nowrap>{$action}</td>
							<td nowrap><span class="money">{$currency}</span>${moneyit(abs($one['money']))}</td>
							<td nowrap>{$users[$one['admin_id']]['email']}<br/>{$users[$one['admin_id']]['username']}</td>
							<td nowrap>${date('Y-m-d H:i', $one['create_time'])}</td>
						<td nowrap>{$one['detail']}</td>
						</tr>
					<!--{/loop}-->
						<tr><td colspan="5">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
