<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:600px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>Add Beneficiary Details</h3>
	<div style="overflow-x:hidden;padding:10px;" id="dialog-order-id" oid="{$popup['id']}">
            
	<form method="post" action="/manage/coupon/mark.php" class="validator">
            <input name ="coupon_id" value="{$coupon_id}" type="hidden" />
                <table>
                        <tr>
                                <td style="padding-bottom:0;"> First Name</td>
                        </tr>
                        <tr>
                                <td><input type="text" value="" name="gift_first_name" placeholder="First name"/></td>
                        </tr>
                        <tr>
                          <td style="padding-bottom:0;">Last Name</td>
                        </tr>
                        <tr>
                                <td><input type="text" value="" name="gift_last_name" placeholder="Last Name"/></td>
                        </tr>
                              <tr><td><input type="submit" value="Submit" class="formbutton" /></td></tr>
			</table>
        </form>
	</div>
</div>