<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:600px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span></h3>
	<div style="overflow-x:hidden;padding:10px;" id="dialog-order-id" oid="{$order['id']}">
	<form method="post" action="/ajax/manage.php?action=editorders" class="validator">
            <input name ="order_ids" value="{$order_ids}" type="hidden" />
            <table>
                        <tr>
                                <td style="padding-bottom:0;">&nbsp;</td>
                        </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Prénom</td>
                        </tr>
                              <tr>
                                      <td><input type="text" value="{$order['realname']}" name="realname" placeholder="Prénom"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Nom</td>
                        </tr>
                              <tr>
                                      <td><input type="text" value="{$order['lastname']}" name="last_name" placeholder="Nom"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*E-mail</td>
                        </tr>
                              <tr>
                                      <td><input type="text" value="{$order['email']}" name="email" placeholder="Email"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Numéro de mobile</td>
                        </tr>
                              <tr>
                                      <td style="padding-bottom:0;"><input style="margin-bottom:0;" type="text" value="{$order['mobile']}" name="mobile" placeholder="Numéro de portable"/></td>
                              </tr>
                              <tr>
                                      <td><p class="font-12">En cas de problème, nous pourrons vous contacter</p></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Adresse</td>
                        </tr>
                              <tr>
                                      <td><input type="text" value="{$order['address']}" name="address" placeholder="Adresse 1"/></td>
                              </tr>
                              <tr>
                                      <td><input type="text" value="{$order['address2']}" name="adresse2" placeholder="Adresse 2"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Code postal</td>
                        </tr>
                              <tr>
                                      <td><input type="text" class="wth-120" name="zipcode" value="{$order['zipcode']}" placeholder="Code postal"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Ville</td>
                        </tr>
                              <tr>
                                      <td><input type="text" name="region" value="{$order['region']}" placeholder="Ville"/></td>
                              </tr>
                              <tr><td></td><td><input type="submit" value="Submit" class="formbutton" /></td></tr>
			</table>
        </form>
	</div>
</div>