<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="misc">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('pay')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
                
            <div id="purchase-list" class="panier">
		<table id='order-edit-table'>			
                        <!--{loop $order_items $index $one}-->
                        <!--${$title = $one['option_id'] ? $options[$one['option_id']]['title'] : $teams[$one['team_id']]['title']}-->
                        <!--${$image = $one['option_id'] ? $options[$one['option_id']]['image'] : $teams[$one['team_id']]['image']}-->
			<!--begin a product in painer-->
			<tr ${$index==0?'class="first-row"':''}>
				<th colspan="4"> {$teams[$one['team_id']]['title']} <span>(${ZTeam::DeliveryTypeDescription($teams[$one['team_id']]['delivery'])})</span>
				</th>
			</tr>
                        <!--{if $one['option_id']}-->
                        <td colspan="4">{$options[$one['option_id']]['summary']}</td>
                        <!--{/if}-->
			<tr>
                            
				<td class="purchase-product">
                                    {$title}
                                </td>
				<td class="purchase-quantity">
				<!--
					<div class="edit-quantity">
						<div class="quantity-text">{$one['quantity']}</div>						
					</div>
				-->		
                                <input type="text" id="quan-{$one['id']}" value="{$one['quantity']}" default="{$one['quantity']}" size="2" class="quan-numeric" />	x</td>
				<td class="purchase-price">{$one['price']}<span>CHF</span></td>
				<td class="purchase-total">${moneyit($one['quantity']*$one['price'])}<span>CHF</span></td>
                                <td>
                                   
                                    <a class="ajaxlink" href="/ajax/manage.php?action=refund_order_item&refund_order_item={$one['id']}&order_id={$order['id']}">Refund</a>
                                    <a class="update-order" id="{$one['id']}" href="/manage/order/order_edit.php?refund_order_item={$one['id']}&order_id={$order['id']}">Update</a>
                                </td>
			</tr>
                        <!--{if $one['mode'] == 'gift'}-->
                        <!--{if $teams[$one['team_id']]['delivery'] == 'coupon'}-->
                        <tr class="panier-gift-box">
				<th colspan="4"> <div class="gift-box-left">
						<h4>Je souhaite offrir ce cadeau à:</h4>
						<p>Ce cadeau se présente sous la forme d’un bon à imprimer </p>
					</div>
					<div class="gift-box-right">
						<input type="text"  placeholder="Prénom" name="first_name_{$one['id']}" />
						<input type="text"  placeholder="Nom" name="last_name_{$one['id']}" />
					</div>
				</th>
			</tr>                        
                        <!--{else if $teams[$one['team_id']]['delivery'] == 'express'}-->
                        <tr class="panier-gift-box">
				<th colspan="4"> <div class="gift-box-left">
						<h4>Je souhaite offrir ce cadeau à:</h4>
						<p>Ce cadeau sera envoyé par courrier à cette adresse</p>
					</div>
					<div class="gift-box-right">
						<input type="text" value="Prénom" name="first_name_{$one['id']}" class="delivery-address-input" />
						<input type="text" value="Nom" name="last_name_{$one['id']}" />
						<input type="text" value="Adresse 1" name="address_{$one['id']}" />
						<input type="text" value="Adresse 1" name="address2_{$one['id']}" />
						<br />
						<input type="text" value="CP" name="zipcode_{$one['id']}" class="wth-40" />
						<input type="text" value="Ville" name="region_{$one['id']}" class="wth-195 mrgl-16" />
					</div>
				</th>
			</tr>
                        <!--{/if}-->
                        <!--{/if}-->
                       
                        
			<!--end a product in painer-->
			<!--{/loop}-->			
			
                        <!--{if $credit >0}-->
			<tr class="credit-deducted">
				<th colspan="3">Crédits déduits</th>
				<th class="purchase-total">-{$credit}<span>CHF</span></th>
			</tr>
                        <!--{/if}-->
			<tr class="total-paid">
				<th colspan="3"><h4>Total à payer:</h4></th>
				<th class="purchase-total"><h3>{$order['origin']}<span>CHF</span></h3></th>
				
			</tr>
			
		</table> 
	</div>
            <div style='margin-bottom:15px;'>
                <h4>History</h4>
                 <!--{if $flow}-->
                 <table> 
                     
                 <!--{loop $flow $f_in $f_one}-->
                 <tr>
                     <td>{$f_one['detail']} ON (${date('d-m-Y',$f_one['create_time'])})</td>
                 </tr>
                  <!--{/loop}-->	
                  </table>
                 <!--{else}-->
                 <span>No History available.</span>
                 <!--{/if}-->
            </div>
            <div align="left">
            <h4>Shipping Details Edit</h4>
            <form method="post" action="" class="validator">
                <input name="order_id" value="{$order['id']}" type="hidden" />
            <table align="left">
                              <tr>
                                <td style="padding-bottom:0;">*Prénom</td>
                      
                                      <td><input type="text" value="{$order['realname']}" name="realname" placeholder="Prénom"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Nom</td>
                                <td><input type="text" value="{$order['lastname']}" name="last_name" placeholder="Nom"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*E-mail</td>
                                <td><input type="text" value="{$order['email']}" name="email" placeholder="Email"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Numéro de mobile</td>
                                <td style="padding-bottom:0;"><input style="margin-bottom:0;" type="text" value="{$order['mobile']}" name="mobile" placeholder="Numéro de portable"/></td>
                              </tr>
                              <tr>
                                  <td colspan="2"><p class="font-12">En cas de problème, nous pourrons vous contacter</p></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Adresse</td>
                                <td><input type="text" value="{$order['address']}" name="address" placeholder="Adresse 1"/></td>
                              </tr>
                              <tr>
                                    <td style="padding-bottom:0;">Adresse2</td>
                                    <td><input type="text" value="{$order['address2']}" name="address2" placeholder="Adresse 2"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Code postal</td>
                                <td><input type="text" class="wth-120" name="zipcode" value="{$order['zipcode']}" placeholder="Code postal"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Ville</td>
                                      <td><input type="text" name="region" value="{$order['region']}" placeholder="Ville"/></td>
                              </tr>
                              <tr><td></td><td><input id="edit-order-submit" type="submit" ask="Do you really want to edit shipping details?" value="Submit" class="formbutton" /></td></tr>
			</table>
        </form>
                
            </div>
            
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<style>
    #order-edit-table tr{
       height: 35px;
    }
    </style>
    <script>
        jQuery('#edit-order-submit').click(function(){
            c = confirm(jQuery(this).attr('ask'));
            if(c == false){
                        event.preventDefault();
                        event.stopPropagation();
            }
        });
        $(document).ready(function() {
    $(".quan-numeric").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    
    $('.update-order').click(function(e){
        id = $(this).attr('id');
        default_val = $('#quan-'+id).attr('default');
        qty = $('#quan-'+id).val();
        if(qty == 0 ){
            alert('Please Refund the item.');
            e.preventDefault();
        }
        else if(qty >= default_val){
            alert('Quantity cant be increased');
            e.preventDefault();
        }
        else if(qty < default_val) {
            href = $(this).attr('href');
            diff = default_val-qty;  
            href += '&quantity='+ diff;
            window.location.href = href;
            e.preventDefault();
        }
    });
});
    </script>
<!--{include manage_footer}-->
