<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('generatesitemap')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Email setting</h2></div>
                <div class="sect">
                    <form method="post">
			<div class="wholetip clear"><h3>1、Sitemap configuration</h3></div>
			
                        <div class="field">
                            <label>Location</label>
                            <input type="text" size="30" name="location" class="f-input" value="{$INI['sitemap']['location']}" style="width:200px;" />
                        </div>    
                        <div class="field">
                            <label>Static Pages</label>
                           <div style="float:left;">
                               <textarea name="static_pages" cols="45" rows="5">${implode($INI['sitemap']['static_pages'],',')}</textarea>
                               <span class="hint">Use coma &quot; &comma; &quot; to separate the pages</span>
                           </div>
                        </div>
                        <div class="field">
                            <label>Static Pages Priority</label>
                           <div style="float:left;">
                               <input type="text" size="10" name="static_pages_priority" class="f-input" value="${isset($INI['sitemap']['static_pages_priority'])?$INI['sitemap']['static_pages_priority']:0.5}" style="width:200px;" />
                               <span class="hint">From 0.0 to 1.0</span>
                           </div>
                        </div>
                        <div id="deal-active-priority" class="field">
                                <label>Only Active deals</label>
                                <div style="margin-top:5px;">
                                    <input type="radio" name="active_deals" value="Yes" ${$INI['sitemap']['active_deals']=='Yes'?'checked':''} />
                                    &nbsp;Yes&nbsp;
                                    <input type="radio" name="active_deals" value="No" ${$INI['sitemap']['active_deals']=='No'?'checked':''} />&nbsp;No&nbsp;</div>
                        </div>
                        <div id="active-deal-priority" style="display:<!--{if $INI['sitemap']['active_deals'] == 'No' }-->block<!--{else}-->none<!--{/if}-->;" class="field">
                            <label>Inactive Deal Priority</label>
                           <div style="float:left;">
                               <input type="text" size="10" name="inactive_deal_priority" class="f-input" value="${isset($INI['sitemap']['inactive_deal_priority'])?$INI['sitemap']['inactive_deal_priority']:0.9}" style="width:200px;" />
                               <span class="hint">From 0.0 to 1.0</span>
                           </div>
                        </div>
                        <div class="field">
                            <label>Deal Category Priority</label>
                           <div style="float:left;">
                               <input type="text" size="10" name="deal_category_priority" class="f-input" value="${isset($INI['sitemap']['deal_category_priority'])?$INI['sitemap']['deal_category_priority']:0.9}" style="width:200px;" />
                               <span class="hint">From 0.0 to 1.0</span>
                           </div>
                        </div>
                         <div class="field">
                            <label>Deal Priority</label>
                           <div style="float:left;">
                               <input type="text" size="10" name="deal_priority" class="f-input" value="${isset($INI['sitemap']['deal_priority'])?$INI['sitemap']['deal_priority']:0.9}" style="width:200px;" />
                               <span class="hint">From 0.0 to 1.0</span>
                           </div>
                        </div>
                        <div class="act">
                            <input type="submit" value="save" name="commit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<script>
jQuery(document).ready( function(){
    jQuery('#deal-active-priority input').click(function () { 
        var v = jQuery(this).attr('value');
        if (v == 'No') {
            jQuery('#active-deal-priority').css('display', 'block');
        }
        else{
            jQuery('#active-deal-priority').css('display', 'none');
        }
    });
});

</script>
<!--{include manage_footer}-->