<!--{include manage_header}-->
<style>
.relative { position: relative; }

.my-btn:link,
.my-btn:visited {
  color: #fff;
  padding: 7px 10px;
  border: 1px solid transparent;
  transition: all 0.2s;
}
.my-btn:hover,
.my-btn:active {
	text-decoration: none;
}

.my-btn-primary {
  background-color: #8cdd57;
  border-color: #66B035;
}
	.my-btn-primary:hover {
	  background-color: #73CA3B;
	  border-color: #539B23;
	}
.btn-warehouse {
	position: absolute;
	right: 0px;
	top: 15px;
}
</style>
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team('team')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				<!--{if $team['id']}-->
					<h2>Edit multi deals</h2>
				<!--{else}-->
					<h2>Create multi deals</h2>
				<!--{/if}-->
				</div>
                <div class="sect">
                                      <h3>Deal: {$team['title']}</h3>
<div class="relative">
	 <a class="my-btn my-btn-primary btn-warehouse ajaxlink" href="/ajax/team_price_history.php?multiDeal=multiDeal&id={$team['id']}&option_id={$multi['id']}">Price History</a>
</div>				  
                  <br />

				<form id="-user-form" method="post" action="/manage/team/multi.php?id={$team['id']}" enctype="multipart/form-data" class="validator">
					<input type="hidden" name="team_id" value="{$team['id']}" />
                                  <input type="hidden" name="id" value="{$multi['id']}" />
<div id="fieldset">
<!-- Option 1 -->
<div id="fields-1">
					<div class="wholetip clear"><h3>multi deal option </h3></div>
					<div class="field">
						<label>deal title</label>
						<input type="text" size="30" name="title" id="team-create-title" class="f-input" datatype="require" require="true" value="{$multi['title']}"/>
					</div>
					<div class="field">
						<label>deal title fr</label>
						<input type="text" size="30" name="title_fr" id="team-create-title-fr" class="f-input"  datatype="require" require="true" value="{$multi['title_fr']}"/>
					</div>				
					<div class="field">
						<label>sku</label>
						<input type="text" size="30" name="sku" id="team-create-sku" class="f-input"  datatype="require" require="true" value="{$multi['sku']}"/>
					</div>			
					<div class="field">
						<label>type</label>
						<select name="type" class="f-input" style="width:160px;">
                                                  <option value="flat" <!--{if $multi['type'] =='flat' } -->selected<!--{/if}-->>flat</option>
												  <option value="gender" <!--{if $multi['type'] =='gender'} -->selected<!--{/if}-->>gender</option>
												  <option value="sub" <!--{if $multi['type'] =='sub'} -->selected<!--{/if}-->>sub</option>
                                          	</select>
					</div>

					
					<div class="field">
						<label>market price</label>
						<input type="text" size="10" name="market_price" id="team-create-market-price" class="number"  datatype="money" require="true" value="{$multi['market_price']}"/>
						<label>web price</label>
						<input type="text" size="10" name="team_price" id="team-create-team-price" class="number"  datatype="double" require="true" value="{$multi['team_price']}"/>
						<label>virtual buyers</label>
						<input type="text" size="10" name="pre_number" id="team-create-pre_number" class="number" value="${moneyit($multi['pre_number'])}" datatype="number" require="true" />
					</div>
                                         <div class="field">
						<label>Partner Revenue</label>
						<input type="text" size="10" name="partner_revenue" id="team-partner-revenue" class="number"  datatype="money" require="true" value="{$multi['partner_revenue']}"/>
						
					</div>
					<div class="field">
						<label>lower limit</label>
						<input type="text" size="10" name="min_number" id="team-create-min-number" class="number" value="${intval($multi['min_number'])}" maxLength="6" datatype="number" require="true" />
						<label>upper limit</label>
						<input type="text" size="10" name="max_number" id="team-create-max-number" class="number" value="${intval($multi['max_number'])}" maxLength="6" datatype="number" require="true" />
						<label>limit for one user</label>
						<input type="text" size="10" name="per_number" id="team-create-per-number" class="number" value="${intval($multi['per_number'])}" maxLength="6" datatype="number" require="true" />
						<span class="hint">The lower limit must be bigger than 0, the biggest quantity/every user's limit of buying:0 means no upper limit (quantity of goods|numbers of buyers which are determined by the conditions of a successful deal)</span>
					</div>
                                        <div class="field">
                                            <label><strong>Volume</strong></label>
						<div style="float:left;">
                                                    <label>Length</label>
                                                    <input type="text" size="10" name="volume_length" id="volume_length" class="number" value="{$multi['volume_length']}" maxLength="6" datatype="number" require="true" />
                                                    <label>Width</label>
                                                    <input type="text" size="10" name="volume_breadth" id="volume_breadth" class="number" value="{$multi['volume_breadth']}" maxLength="6" datatype="number" require="true" />
                                                    <label>Height</label>
                                                    <input type="text" size="10" name="volume_height" id="volume_height" class="number" value="{$multi['volume_height']}" maxLength="6" datatype="number" require="true" />
                                                </div>
                                        </div>
                                        <div class="field">
						<label>Weight</label>
						<div style="float:left;">
                                                    <input type="text" size="10" name="volume_weight" id="volume_weight" class="number" value="{$multi['volume_weight']}" maxLength="6" datatype="number" require="true" />
                                                </div>
                                        </div>
                                        <div id ="stock-zone" style="display:<!--{if $team['delivery'] == 'express' || $team['delivery'] == 'pickup' || $team['delivery'] == 'express_pickup' }-->block<!--{else}-->none<!--{/if}-->;">
                                            <div class="field">
                                                <label>Available Stock</label>
                                                <input type="text" size="10" <!--{if $multi['id']}--> disabled="disabled" <!--{/if}--> name="stock_count" id="stock_count" class="number" value="${intval($multi['stock_count'])}" maxLength="6" datatype="number" require="true" />
                                            </div>
                                            <div class="field">
                                                <label>Alert Threshold</label>
                                                <input type="text" size="10" name="alert_threshold" id="alert_threshold" class="number" value="${intval($multi['alert_threshold'])}" maxLength="6" datatype="number" require="true" />
                                            </div>
                                        </div>
					<!-- CASH BACK -->
					<div class="field">
						
						<!--${$is_cash_back_allowed_val = ""}-->		
						<!--  {if $multi['is_cash_back_allowed'] == 1 } -->
							<!--  ${ $is_cash_back_allowed_val	=	"checked='checked'"  }   -->
						<!-- {/if} -->
								
						<h3> <input type="checkbox" name="is_cash_back_allowed" id="is_cash_back_allowed" <!-- ${ echo $is_cash_back_allowed_val }-->  /> Allow Cash Back</h3>
					</div>
					<div class="is_cash_back_allowed_region" >
						 <div class="field">
								<label>Cash Back Value</label>
								<input type="text" size="10" name="cb_amount" id="cash_back_val"  value="${ $multi['cb_amount'] }" maxLength="6" datatype="money" require="true" />
								<span id="cash_back_val_err" style="padding-left: 185px;  display:none; color:red;"></span>
						</div>
					   <div class="field">
						   <label  >Start Time</label>
						  
								<!--${$cb_start_time = ""}-->		
								<!--  {if !empty($multi['cb_start_time']) && $multi['cb_start_time']!="" } -->
									<!--  ${ $cb_start_time	=	date('Y-m-d', $multi['cb_start_time'])  }   -->
								<!-- {/if} -->
								
								<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" id="cb_start_time" name="cb_start_time" value="${ $cb_start_time }" /> 
								<span id="cb_start_time_err" style="padding-left: 185px;  display:none; color:red;"></span>
						</div>
						<div class="field">
								<label  >End Time</label>
								
								<!--${$cb_end_time = ""}-->		
								<!--  {if !empty($multi['cb_end_time']) && $multi['cb_end_time']!="" } -->
									<!--  ${ $cb_end_time	=	date('Y-m-d', $multi['cb_end_time'])  }   -->
								<!-- {/if} -->
								
								
								<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" id="cb_end_time" name="cb_end_time" value="${ $cb_end_time }" /> 
								<span id="cb_end_time_err" style="padding-left: 185px;  display:none; color:red;"></span>
						</div>
					</div>					
					<!-- CASH BACK END -->					
					
					<div class="field">
						<label>thumbnail</label>
						<input type="file" size="30" name="upload_image" id="team-create-image" class="f-input" />
						<!--{if $multi['image']}--><span class="hint">${team_image($multi['image'])}</span><!--{/if}-->
					</div>
					<div class="field">
						<label>detail</label>
						<div style="float:left;"><textarea cols="45" rows="5" name="summary" id="team-create-detail-1" class="f-textarea">{$multi['summary']}</textarea></div>
					</div>
					<div class="field">
						<label>detail fr</label>
						<div style="float:left;"><textarea cols="45" rows="5" name="summary_fr" id="team-create-detail-fr-1" class="f-textarea">{$multi['summary_fr']}</textarea></div>
					</div>					
</div>
<!-- Option 1 End -->
</div>					
					<input type="submit" value="Save" name="commit" id="leader-submit" class="formbutton" style="margin:10px 0 0 100px;"/>
					<input type="submit" name="add" id="add_field" value="Add More" class="formbutton" style="margin:10px 0 0 100px;" />
					<input type="submit" name="sub" id="add_field" value="Add Sub" class="formbutton" style="margin:10px 0 0 100px;" />
	   <a href="/manage/team/edit_multi.php?id={$team['id']}"><input type="button" name="cancel" id="add_field" value="Cancel" class="formbutton" style="margin:10px 0 0 100px;" /></a>
	   
						<input type="hidden" name="parent_option_id" value="{$multi['parent_option_id']}" />

					</form>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script type="text/javascript">
window.x_init_hook_teamchangetype = function(){
	X.team.changetype("{$team['team_type']}");
};
window.x_init_hook_page = function() {
	X.team.imageremovecall = function(v) {
		jQuery('#team_image_'+v).remove();
	};
	X.team.imageremove = function(id, v) {
		return !X.get(WEB_ROOT + '/ajax/misc.php?action=imageremove&id='+id+'&v='+v);
	};
};


//CHECK IS CASH BACK FEATURE ALLOWED OR NOT
jQuery(document).ready(function(){

	isCashBackAllowed();
	
	jQuery("#is_cash_back_allowed").live("click",function(){
		isCashBackAllowed();
	});
	
	 jQuery("#cash_back_val").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if (jQuery.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
});

function isCashBackAllowed(){

	if (jQuery("#is_cash_back_allowed").is(":checked")) {
		jQuery(".is_cash_back_allowed_region").css("display","block");
		/*
		jQuery("#cash_back_val").removeAttr("readonly");
		jQuery("#cb_start_time").removeAttr("readonly");
		jQuery("#cb_end_time").removeAttr("readonly");
		*/
	}else{
		jQuery(".is_cash_back_allowed_region").css("display","none");
		
		resetCashBackField();
		
	}
}


function resetCashBackField(){

	jQuery("#cash_back_val").val("");
	jQuery("#cb_start_time").val("");
	jQuery("#cb_end_time").val("");
	
	//REMOVE ERROR REGION
	jQuery("#cash_back_val_err").css("display","none");
	jQuery("#cash_back_val_err").text("");
}

//BIND IS CACH BACK ALLOWED FEaTURE
   jQuery('#-user-form').bind('submit', function() {

		var cash_back_val	=	jQuery.trim(jQuery("#cash_back_val").val());
		var cb_start_time	=	jQuery.trim(jQuery("#cb_start_time").val());
		var cb_end_time		=	jQuery.trim(jQuery("#cb_end_time").val());
		
		var errMessage		=	"";
		
		if (jQuery("#is_cash_back_allowed").is(":checked")) {
		
			if(cash_back_val=="" || cash_back_val<=0){
			
				jQuery("#cash_back_val_err").css("display","block");
				errMessage	+= "Please Enter Cash Back Amount";
				jQuery("#cash_back_val_err").text("Please Enter Cash Back Amount");
			}else{
				jQuery("#cash_back_val_err").css("display","none");
				jQuery("#cash_back_val_err").text("");
			}
			
			//START TIME VALIDATIOn
			if(cb_start_time==""){
				jQuery("#cb_start_time_err").css("display","block");
				errMessage	+= "Please Enter Start Time";
				jQuery("#cb_start_time_err").text("Please Select Start Time");
			}else{
				jQuery("#cb_start_time_err").css("display","none");
				jQuery("#cb_start_time_err").text("");
			}
			
			//END TIME VALIDATION
			/*
			if(cb_end_time==""){
				jQuery("#cb_end_time_err").css("display","block");
				errMessage	+= "Please Enter Start Time";
				jQuery("#cb_end_time_err").text("Please Select End Time");
			}else{
				jQuery("#cb_end_time_err").css("display","none");
				jQuery("#cb_end_time_err").text("");
			}
			*/
			
			//TIME VALIDATION
			if(cb_start_time!="" && cb_end_time != ""){

				if(cb_end_time <= cb_start_time){
					jQuery("#cb_end_time_err").css("display","block");
					errMessage	+= "Please Select Valid Date Range";
					jQuery("#cb_end_time_err").text("Please Select Valid Date Range");
				}else{
					jQuery("#cb_end_time_err").css("display","none");
					jQuery("#cb_end_time_err").text("");
				}
			}
			
		}
		
		if(errMessage!=""){
			return false;
		}
	});
</script>
<!--{include manage_footer}-->
