<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>user info & recharge</h3>
	<div style="overflow-x:hidden;padding:10px;">
            <form method="post" action="/manage/team/bulkdimensions.php" enctype="multipart/form-data">
                <div>
                    Upload a csv file , with first row as header and following columns (team_id,weight,height,width,length).
                </div>
                <strong>Input File:</strong> <br><br>
            <input type="file" name="dimension_file" />
            <br><br>
            <input type="submit" value="Submit" />
	</div>
</div>
