<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('refund')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Order Refunded</h2>
				</div>
				<div class="sect" style="padding:0 10px;">
					<form method="get">
						<p style="margin:5px 0;">order No.：<input type="text" name="id" value="${htmlspecialchars($id)}" class="h-input"/>&nbsp;user：<input type="text" name="uemail" class="h-input" value="${htmlspecialchars($uemail)}" >&nbsp;deal No.：<input type="text" name="team_id" class="h-input number" value="{$team_id}" >&nbsp; Delivery Type <select name="delivery"><option value=""></option>
						<option value="pickup">pickup</option><option value="express">express</option></select>&nbsp; Ship Status <select name="ship_status"><option value="">tous</option>${Utility::Option($delivery_status, $ship_status)}</select>&nbsp; Ship ETA<input type="text" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="ship_eta" value="{$ship_eta}"></p>
						<p style="margin:5px 0;">ordering time：<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="cbday" value="{$cbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="ceday" value="{$ceday}" />&nbsp;paying time：<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="pbday" value="{$pbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="peday" value="{$peday}" /></p>
						<p style="margin:5px 0;"><input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/></p>
					</form>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
                                            <!-- ${$pos = strrpos($_SERVER['REQUEST_URI'], "?") }-->
<!--{if $pos===false}-->
<!-- ${$url = '/manage/order/refund.php?download=1' }-->
<!--{elseif strrpos($_SERVER['REQUEST_URI'], "download") === false}-->
<!-- ${$url_ques = explode("?", $_SERVER['REQUEST_URI']) }-->
<!-- ${$url = '/manage/order/refund.php?'.$url_ques[1].'&download=1' }-->
<!--{/if}-->
                    <tr><th colspan="10" align="right" style="text-align:right;"><input type="button" onclick="javascript:window.open('{$url}')" value="Download" class="formbutton"  style="padding:1px 6px;"/></th>
                    </tr>
                    <tr><th width="40">ID</th><th width="340">deal</th><th width="180">user</th><th width="40" nowrap>quantity</th><th width="50" nowrap>total</th><th width="50" nowrap>Balance</th><th width="50" nowrap>Promo Card</th><th width="50" nowrap>Payment</th><th width="50" nowrap>Fare</th><th width="50" nowrap>Shipment Status (ETA)</th><th width="50">Payment Method</th><th width="50">Reason</th><th width="50" nowrap>operation</th></tr>
					<!--{loop $orders $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td></td>
						<td><a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink">{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</a><!--{if Utility::IsMobile($users[$one['user_id']]['mobile'])}-->&nbsp;&raquo;&nbsp;<a href="/ajax/misc.php?action=sms&v={$users[$one['user_id']]['mobile']}" class="ajaxlink">SMS</a><!--{/if}--></td>
						<td>{$one['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['origin'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['credit'])}</td>
                        <td><span class="money">{$currency}</span>${moneyit($one['card'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['money'])}</td>
						<td>CHF {$one['fare']}</td>
						<td></td>
                        <td>{$one['service']}</td>
                        <td>{$flows[$one['id']]['detail']}</td>
						<td class="op" nowrap><a href="/ajax/manage.php?action=orderview&id={$one['id']}" class="ajaxlink">detail</a></td>
					</tr>
                                        <!--{loop $order_items[$one['id']] $index2 $item}-->
                                        <tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}-{$item['id']}</td>
						<td>{$item['team_id']}&nbsp;(<a class="deal-title" href="/team.php?id={$item['team_id']}" target="_blank">
                                                        <!--{if $item['option_id']}-->
                                                        {$options[$item['option_id']]['title_fr']}                                                        
                                                        <!--{else}-->
                                                        {$teams[$item['team_id']]['title']}
                                                        <!--{/if}-->
                                                    </a>)</td>
						<td></td>
						<td>{$item['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($item['price'])}</td>
						<td></td>
						<td></td>
						<td></td>
						<td>{$option_delivery[$item['delivery']]} (CHF{$item['fare']})</td>
                                                <td></td>
						<!--{if $one['state']=='pay' && ($item['delivery'] == 'express' || $item['delivery'] == 'pickup')}-->
                                                <td>{$delivery_status[$item['delivery_status']]} (${date('d-m-Y',$item['delivery_time'])}) |<br/>
                                                    <a href="/ajax/manage.php?action=ordershipstatus&id={$item['id']}" class="ajaxlink">Update</a></td>
                                                <!--{else}-->
                                                <td></td>
                                                <!--{/if}-->
						<td></td>
						<td class="op" nowrap></td>
					</tr>
                                        <!--{/loop}-->
					<!--{/loop}-->
					<tr><td colspan="9">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
