<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:580px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Close</span>Deal Status</h3>
	<div style="overflow-x:hidden;padding:10px;">
	<table width="96%" align="center" class="coupons-table">
		<tr><td><b>User's Deal Validation</b> </td><td><span style="color:#F00;font-weight:bold;">Successfull</span>
		</td></tr>
	</table>
	
	</div>
</div>
