<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2>Publish deals</h2>
				
				</div>
                <div class="sect">
				<form id="-user-form" method="post" action="/manage/userdeal/publish.php?id={$team['id']}"  class="validator">
					<input type="hidden" name="id" value="{$team['id']}" />
					<div class="field">
						
						<p style="font-size:14px;"><Strong>{$team['title']}</Strong></p>
					</div>
					<div class="field">
						<label>Start Time</label>
						<input type="text" size="30" name="begin_time" id="" class="numberd" xd="${date('Y-m-d', $team['begin_time'])}" xt="${date('H:i:s', $team['begin_time'])}" value="${date('Y-m-d H:i:s', $team['begin_time'])}" maxlength="30" /></div>
						<div class="field">
					<label>End time</label>
						<input type="text" size="30" name="end_time" id="" class="numberd" xd="${date('Y-m-d', $team['end_time'])}" xt="${date('H:i:s', $team['end_time'])}" value="${date('Y-m-d H:i:s', $team['end_time'])}" maxlength="30" />
					</div>
					
					<div class="field">
					<label>Default Reward</label>
					<input type="text" size="30" name="reward" class="numberd" value="{$reward}" maxlength="30"/>
					</div>
					
					<input type="submit" value="Save" name="commit" id="leader-submit" class="formbutton" style="margin:10px 0 0 120px;"/>
				</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script type="text/javascript">
window.x_init_hook_teamchangetype = function(){
	X.team.changetype("{$team['team_type']}");
};
window.x_init_hook_page = function() {
	X.team.imageremovecall = function(v) {
		jQuery('#team_image_'+v).remove();
	};
	X.team.imageremove = function(id, v) {
		return !X.get(WEB_ROOT + '/ajax/misc.php?action=imageremove&id='+id+'&v='+v);
	};
};
</script>
<!--{include manage_footer}-->
