<!--{include manage_header}-->
<style>
    .title_head{color:#000;}
    .blue{ color:#00f !important;}
</style>
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('stock_status')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Deals / Deal Options Stock Status</h2>
				</div>
				<div class="sect" style="padding:0 10px;">
					<form id="order-status-form" method="get">
                                                <p style="margin:5px 0;">
                                                    
                                                Search Term :<input type="text" name="search_deal" id="search_deal" class="h-input" value="{$search_deal}" >
                                                Deal ID OR Option ID:<input type="text" name="team_id" id="team_id" class="h-input" value="{$team_id}" >
                                                Deal Status: <select name="deal_status" id="deal_status" class="f-input" style="width:160px;">${Utility::Option($option_deal_status, $deal_status)}</select>
                                                <br> Supplier: <select id="supplier_id" name="supplier_id" class="f-input" style="width:200px;">${Utility::Option($suppliers, $supplier_id, '--- please select a Supplier ---')}</select><span class="inputtip"> &nbsp; Order Status: <select name="order_status" id="order_status" class="f-input" style="width:160px;">${Utility::Option($option_order_status, $order_status)}</select></span>
						
                                                <p style="margin:5px 0;">
                                                    <input id="sort" name="sort" type="hidden" value="{$sort}">
                                                    <input id="direction" name="direction" type="hidden" value="{$sort_direction}">
                                                    <input type="submit" value="search" class="formbutton"  style="padding:1px 6px;"/>
                                                    &nbsp;
                                                    <a class="formbutton" href="/manage/order/stock_status.php">Back</a>
                                                </p>
					
				</div>
                <div>
                    Page Size : <select id="page_size" name="page_size" class="f-input">${Utility::Option($option_page_size, $page_size)}</select>
                </div>
                </form>
                <form name="frmOrdUpd" id="frmOrdUpd" action="mail_suppliers.php" method="get">
                <div class="sect">
                    
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
<!-- ${$pos = strrpos($_SERVER['REQUEST_URI'], "?") }-->
<!--{if $pos===false}-->
<!-- ${$url = '/manage/order/stock_status.php?download=1' }-->
<!--{elseif strrpos($_SERVER['REQUEST_URI'], "download") === false}-->
<!-- ${$url_ques = explode("?", $_SERVER['REQUEST_URI']) }-->
<!-- ${$url = '/manage/order/stock_status.php?'.$url_ques[1].'&download=1' }-->
<!--{/if}-->
                   <tr><th colspan="10" align="right" style="text-align:right;"><input type="button" onclick="javascript:window.open('{$url}')" value="Download" class="formbutton"  style="padding:1px 6px;"/></th>
                    </tr>
                    </tr>
                    
                    <tr><td><input type="checkbox" id="cbAll" onclick="javascript:checkAll('id[]',this.checked);" />&nbsp;All&nbsp;</td><td colspan="8">
                                                 <!-- <input type="submit" value="Mail Suppliers" class="formbutton"  style="padding:1px 6px;"/>&nbsp; -->
												  <input type="button" value="Mail Suppliers" class="formbutton mail_supplier_popup"  style="padding:1px 6px;"/>&nbsp;
                                             </td></tr>
                                             
					<tr>
                                            <th></th>
                                            <th width="270" nowrap><a class="title_head">Title</a></th>
                                            
                                            <th width="200"><a class="title_head <!--{if $sort == 'stock_count'  }-->blue<!--{/if}-->" href="javascript:sortby('stock_count', '<!--{if $sort == 'stock_count'  }-->asc<!--{else}-->desc<!--{/if}-->');">Current Stock</a></th>
                                            
                                            <th width="50" nowrap><a class="title_head <!--{if $sort == 'express'  }-->blue<!--{/if}-->" href="javascript:sortby('express', '<!--{if $sort == 'express'  }-->asc<!--{else}-->desc<!--{/if}-->');">Express Waiting Qty.</a></th>
                                            <th width="50" nowrap><a class="title_head <!--{if $sort == 'pickup'  }-->blue<!--{/if}-->" href="javascript:sortby('pickup', '<!--{if $sort == 'pickup'  }-->asc<!--{else}-->desc<!--{/if}-->');">Picked Up Waiting Qty.</a></th>
                                            
                                            
                                            <th width="40" nowrap><a class="title_head <!--{if $sort == 'express_available'  }-->blue<!--{/if}-->" href="javascript:sortby('express_available', '<!--{if $sort == 'express_available'  }-->asc<!--{else}-->desc<!--{/if}-->');">Express Preparation Qty.</a></th>
                                            <th width="40" nowrap><a class="title_head <!--{if $sort == 'express_delivered'  }-->blue<!--{/if}-->" href="javascript:sortby('express_delivered', '<!--{if $sort == 'express_delivered'  }-->asc<!--{else}-->desc<!--{/if}-->');">Express Delivered Qty.</a></th>
                                            
                                            <th width="40" nowrap><a class="title_head <!--{if $sort == 'pickup_delivered'  }-->blue<!--{/if}-->" href="javascript:sortby('pickup_delivered', '<!--{if $sort == 'pickup_delivered'  }-->asc<!--{else}-->desc<!--{/if}-->');">Picked Up Qty.</a></th>
                                            <th width="40" nowrap><a class="title_head <!--{if $sort == 'pickup_available'  }-->blue<!--{/if}-->" href="javascript:sortby('pickup_available', '<!--{if $sort == 'pickup_available'  }-->asc<!--{else}-->desc<!--{/if}-->');">Picked Available Qty.</a></th>
                                            
                                            <th width="40" nowrap>Deal Status</th>
											<th width="40" nowrap>Email Sent</th>
                                            <th width="50" nowrap>History</th>
                                            <th width="50" nowrap>operation</th>
                                        </tr>
					<!--{loop $teams $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$index}">
                                            <td>
                                                <input type="checkbox" value="<!--{if $one['type'] == 'option'}-->{$one['option_id']}<!--{elseif  $one['type'] == 'deal'}-->{$one['team_id']}<!--{/if}-->" name="id[]" onclick="javascript:document.getElementById('cbAll').checked=false;"/>
                                                <input name="type_<!--{if $one['type'] == 'option'}-->{$one['option_id']}<!--{elseif  $one['type'] == 'deal'}-->{$one['team_id']}<!--{/if}-->" value="{$one['type']}" type="hidden" />
                                                <!--{if $one['type'] == 'option'}-->
                                                <input name="team_id_{$one['option_id']}" value="{$one['team_id']}" type="hidden" />
                                                <!--{/if}-->
                                            </td>
                                            <td>  {$one['team_id']}&nbsp;<!--{if $one['type'] == 'option'}-->(<a class="deal-title" href="/manage/team/edit.php?id={$one['team_id']}" target="_blank">{$one['team_title']}</a>)<!--{elseif  $one['type'] == 'deal'}--><a class="deal-title" href="/manage/team/edit.php?id={$one['team_id']}" target="_blank">{$one['title']}</a><!--{/if}-->
                                                <br /><!--{if  $one['type'] == 'option'}--> Option:&nbsp;<a class="deal-title" href="/manage/team/multi.php?id={$one['option_id']}&team_id={$one['team_id']}" target="_blank">{$one['title']}</a><!--{/if}-->
                                            </td>
                                                
                                            <td title="Current Stock">{$one['stock_count']}</td>
                                                
                                                <td title="Express Waiting"><!--{if $one['express'] > 0 && $one['type'] == 'deal'  }--><a href="/manage/order/pay.php?team_id={$one['team_id']}&ship_status=1&delivery=express">{$one['express']}</a><!--{elseif $one['express'] > 0 && $one['type'] == 'option'}--><a href="/manage/order/pay.php?option_id={$one['option_id']}&ship_status=1&delivery=express">{$one['express']}</a><!--{else}--><!--{if $one['express']==NULL}-->0<!--{else}-->{$one['express']}<!--{/if}--><!--{/if}--></td>
                                                <td title="Picked Up Waiting"><!--{if $one['pickup'] > 0 && $one['type'] == 'deal'  }--><a href="/manage/order/pay.php?team_id={$one['team_id']}&ship_status=1&delivery=pickup">{$one['pickup']}</a><!--{elseif $one['pickup'] > 0 && $one['type'] == 'option'}--><a href="/manage/order/pay.php?option_id={$one['option_id']}&ship_status=1&delivery=pickup">{$one['pickup']}</a><!--{else}--><!--{if $one['pickup']==NULL}-->0<!--{else}-->{$one['pickup']}<!--{/if}--><!--{/if}--></td>    
                                                
                                                <td title="Express Available"><!--{if $one['express_available'] > 0 && $one['type'] == 'deal'  }--><a href="/manage/order/pay.php?team_id={$one['team_id']}&ship_status=5&delivery=express">{$one['express_available']}</a><!--{elseif $one['express_available'] > 0 && $one['type'] == 'option'}--><a href="/manage/order/pay.php?option_id={$one['option_id']}&ship_status=5&delivery=express">{$one['express_available']}</a><!--{else}--><!--{if $one['express_available']==NULL}-->0<!--{else}-->{$one['express_available']}<!--{/if}--><!--{/if}--></td>
                                                <td title="Express Delivered"><!--{if $one['express_delivered'] > 0 && $one['type'] == 'deal'  }--><a href="/manage/order/pay.php?team_id={$one['team_id']}&ship_status=3&delivery=express">{$one['express_delivered']}</a><!--{elseif $one['express_delivered'] > 0 && $one['type'] == 'option'}--><a href="/manage/order/pay.php?option_id={$one['option_id']}&ship_status=3&delivery=express">{$one['express_delivered']}</a><!--{else}--><!--{if $one['express_delivered']==NULL}-->0<!--{else}-->{$one['express_delivered']}<!--{/if}--><!--{/if}--></td>
                                                
                                                <td title="Picked Up"><!--{if $one['pickup_delivered'] > 0 && $one['type'] == 'deal'  }--><a href="/manage/order/pay.php?team_id={$one['team_id']}&ship_status=4&delivery=pickup">{$one['pickup_delivered']}</a><!--{elseif $one['pickup_delivered'] > 0 && $one['type'] == 'option'}--><a href="/manage/order/pay.php?option_id={$one['option_id']}&ship_status=4&delivery=pickup">{$one['pickup_delivered']}</a><!--{else}--><!--{if $one['pickup_delivered']==NULL}-->0<!--{else}-->{$one['pickup_delivered']}<!--{/if}--><!--{/if}--></td>    
                                                <td title="Pick Up Available"><!--{if $one['pickup_available'] > 0 && $one['type'] == 'deal'  }--><a href="/manage/order/pay.php?team_id={$one['team_id']}&ship_status=2&delivery=pickup">{$one['pickup_available']}</a><!--{elseif $one['pickup_available'] > 0 && $one['type'] == 'option'}--><a href="/manage/order/pay.php?option_id={$one['option_id']}&ship_status=2&delivery=pickup">{$one['pickup_available']}</a><!--{else}--><!--{if $one['pickup_available']==NULL}-->0<!--{else}-->{$one['pickup_available']}<!--{/if}--><!--{/if}--></td>    
                                                <td title="Deal Status"><!--{if $one['end_time'] > $now }-->Active<!--{elseif  $one['end_time'] < $now }-->Inactive<!--{/if}--></td>
												<td title="Email Sent"><!--{if $one['supplier_email_sent'] > 0 }-->Yes<!--{else}-->No<!--{/if}--></td>
                                                <td><a class="ajaxlink" href="/ajax/manage.php?action=stock_history<!--{if $one['type'] == 'deal' }-->&team_id={$one['team_id']}<!--{elseif $one['type'] == 'option'}-->&option_id={$one['option_id']}<!--{/if}-->">Stock History</a></td>
                                                <td class="op" nowrap><a href="/manage/order/edit_stock.php?id=<!--{if $one['type'] == 'deal' }-->{$one['team_id']}<!--{elseif $one['type'] == 'option'}-->{$one['option_id']}<!--{/if}-->&type={$one['type']}<!--{if isset($_GET) }-->&page=${urlencode(serialize($_GET))}<!--{/if}-->">edit stock</a></td>
					</tr>
                                         <!--{/loop}-->
                                         <tr><td><input type="checkbox" id="cbAll" onclick="javascript:checkAll('id[]',this.checked);" />&nbsp;All&nbsp;</td><td colspan="8">
                                                 <!-- <input type="submit" value="Mail Suppliers" class="formbutton"  style="padding:1px 6px;"/>&nbsp; -->
												  <input type="button" value="Mail Suppliers" class="formbutton mail_supplier_popup"  style="padding:1px 6px;"/>&nbsp;
                                             </td></tr>
					<tr><td colspan="9">{$pagestring}</tr>
                    </table>
				</div>
                    <!--{if isset($_GET) }--><input name="page_get" value="${urlencode(serialize($_GET))}" type="hidden" /><!--{/if}-->
                </form>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
  
        <script language="javascript" type="text/javascript">
						function checkAll(strElemName, value)
						{
							var objElems = document.getElementsByName(strElemName);
							if ( objElems )
								for ( iLen = objElems.length-1; iLen >= 0; iLen-- )
									objElems[iLen].checked = value;
						}
        function sortby(option, dir){
            document.getElementById('direction').value = dir;
            document.getElementById('sort').value = option;
            document.getElementById('order-status-form').submit();
        }
        jQuery(document).ready( function(){
			jQuery('#page_size').change(function () { 
				 $('#order-status-form').submit();
			});
			
			//mail supplier popup open
			jQuery(".mail_supplier_popup").live("click",function(){
				createMailSupplierList();
			});
				
			function createMailSupplierList()
			{
				//console.log('here');
				//jQuery('#ajaxBusy').css("display","block");
				 jQuery(document).ajaxStart(function () {
					jQuery('#ajaxBusy').css("display","block");
				  });
				  jQuery(document).ajaxStop(function () {
					jQuery('#ajaxBusy').css("display","none");
				  });
			  
			  var supplier_id = $('#supplier_id').val();
			  var order_status = $('#order_status').val();
			  var deal_status = $('#deal_status').val();
			  var team_id = $('#team_id').val();
			  var search_deal = $('#search_deal').val();
			  var formData = {id:supplier_id, order_status:order_status, deal_status:deal_status, team_id:team_id, search_deal:search_deal}; //Array
				//X.get( WEB_ROOT + '/ajax/partner_coupon.php?team_id=1&revenue=2');
					jQuery.ajax({
						//type: "POST",
						type: "GET",
						url:  WEB_ROOT + '/ajax/mail_supplier.php',
						cache:false,
						//data:jQuery("form#frmOrdUpd").serialize(),
						data:formData,
						success: function(msg){	
										X.boxShow(msg, true)
									},
					});
				//jQuery('#ajaxBusy').css("display","none");
				//$('#frmGenStatement input[name=team_id]').val(team_id);
				//$('#frmGenStatement').submit();
			}
			jQuery('body').append('<div id="ajaxBusy"><br/><br/><br/>Please Wait...</div>');
					 // AJAX activity indicator bound to ajax start/stop document events
					 
		});
    </script>
	<style>
		#ajaxBusy {
			  display: none;
			  margin: 0px 0px 0px -50px; /* left margin is half width of the div, to centre it */
			  padding: 30px 10px 10px 10px;
			  position: fixed;
			  left: 34%;
			  top: 23%;
			  width: 500px;
			  height: 150px;
			  text-align: center;
			  background: #DEF3BD no-repeat center center;
			  border: 1px solid #000;
			  z-index:9999
		}
	</style>	
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->