<!--{include manage_header}-->
<style>
   .coupons-table .order-waiting td{
        background: #ffdcd7 !important;
    } 
</style>
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('pay')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Order paid</h2>
				</div>
				<div class="sect" style="padding:0 10px;">
					<form method="get">
						<p style="margin:5px 0;">order No.：<input type="text" name="id" value="${htmlspecialchars($id)}" class="h-input"/>&nbsp;user：<input type="text" name="uemail" class="h-input" value="${htmlspecialchars($uemail)}" >&nbsp;deal No.：<input type="text" name="team_id" class="h-input number" value="{$team_id}" >&nbsp; Delivery Type <select name="delivery"><option value=""></option>
						<option value="pickup">pickup</option><option value="express">express</option></select>&nbsp; Ship Status <select name="ship_status"><option value="">tous</option>${Utility::Option($delivery_status, $ship_status)}</select>&nbsp; Ship ETA<input type="text" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="ship_eta" value="{$ship_eta}"></p>
						<p style="margin:5px 0;">ordering time：<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="cbday" value="{$cbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="ceday" value="{$ceday}" />&nbsp;paying time：<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="pbday" value="{$pbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="peday" value="{$peday}" /></p>
						<p style="margin:5px 0;"><input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/></p>
					</form>
				</div>
                <div class="sect">
                    <form name="frmOrdBarCode" action="" method="post">
                        
                        <input name="mark_shipped" type="submit" id="print_barcodes_button" value="Mark as Shipped" class="formbutton"  style="width: 175px; padding:1px 6px;"/>&nbsp;
                         <input name="mark_unshipped" type="submit" id="print_barcodes_button" value="Mark as UnShipped" class="formbutton"  style="width: 200px; padding:1px 6px;"/>&nbsp;
			
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
                                          
                                            <!-- ${$pos = strrpos($_SERVER['REQUEST_URI'], "?") }-->
<!--{if $pos===false}-->
<!-- ${$url = '/manage/order/pay.php?download=1' }-->
<!--{elseif strrpos($_SERVER['REQUEST_URI'], "download") === false}-->
<!-- ${$url_ques = explode("?", $_SERVER['REQUEST_URI']) }-->
<!-- ${$url = '/manage/order/pay.php?'.$url_ques[1].'&download=1' }-->
<!--{/if}-->
                    <tr><th colspan="10" align="right" style="text-align:right;"><input type="button" onclick="javascript:window.open('{$url}')" value="Download" class="formbutton"  style="padding:1px 6px;"/></th>
                    </tr>
                    <tr><td colspan="2"><input type="checkbox" id="cbAll" onclick="javascript:checkAll('order_items[]',this.checked);" />&nbsp;Select All&nbsp;</td>
                                        <td colspan="7"></td></tr>
					<tr><th width="40">ID</th><th width="340">deal</th><th width="180">user</th><th width="40" nowrap>quantity</th><th width="50" nowrap>total</th><th width="50" nowrap>Balance</th><th width="50" nowrap>Promo Card</th><th width="50" nowrap>Payment</th><th width="50" nowrap>Fare</th><th width="50" nowrap>Shipment Status (ETA)</th><th width="50">Payment Method</th><th width="50" nowrap>operation</th></tr>
					<!--{loop $orders $index $one}-->
                                            <!-- ${$delivery_status_check = 0 }-->
                                            <!--{loop $order_items[$one['id']] $index3 $item1}-->
                                            
                                              <!--{if $item1['delivery_status'] == 1 && $delivery_status_check == 0  }-->
                                                <!-- ${$delivery_status_check = 1 }-->
                                              <!--{/if}-->
                                            <!--{/loop}-->
					<tr class="<!--{if $delivery_status_check == 1 }-->order-waiting <!--{/if}-->${$index%2?'':'alt'}" id="order-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td></td>
						<td><a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink">{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</a><!--{if Utility::IsMobile($users[$one['user_id']]['mobile'])}-->&nbsp;&raquo;&nbsp;<a href="/ajax/misc.php?action=sms&v={$users[$one['user_id']]['mobile']}" class="ajaxlink">SMS</a><!--{/if}--></td>
						<td>{$one['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['origin'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['credit'])}</td>
                        <td><span class="money">{$currency}</span>${moneyit($one['card'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['money'])}</td>
						<td>CHF {$one['fare']}</td>
						<td></td>
                        <td>{$one['service']}</td>
						<td class="op" nowrap>
                                                    <a href="/ajax/manage.php?action=orderview&id={$one['id']}" class="ajaxlink">detail</a>
                                                 |&nbsp;<a href="/manage/order/order_edit.php?id={$one['id']}">Edit</a>
                                                </td>
					</tr>
                                        <!--{loop $order_items[$one['id']] $index2 $item}-->
                                        <tr class="<!--{if $delivery_status_check == 1 }-->order-waiting<!--{/if}-->${$index%2?'':' alt'}" id="order-list-id-{$one['id']}">
                                            <td> <input type="checkbox" value="{$item['id']}" name="order_items[]" /></td>
                                                <td>{$one['id']}-{$item['id']}</td>
						<td>{$item['team_id']}&nbsp;(<a class="deal-title" href="/team.php?id={$item['team_id']}" target="_blank">
                                                        <!--{if $item['option_id']}-->
                                                        {$options[$item['option_id']]['title_fr']}                                                        
                                                        <!--{else}-->
                                                        {$teams[$item['team_id']]['title']}
                                                        <!--{/if}-->
                                                    </a>)</td>
						<td></td>
						<td>{$item['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($item['price'])}</td>
						<td></td>
						<td></td>
						<td></td>
						<td>{$option_delivery[$item['delivery']]} (CHF{$item['fare']})</td>
						<!--{if $one['state']=='pay' && ($item['delivery'] == 'express' || $item['delivery'] == 'pickup')}-->
                                                <td>{$delivery_status[$item['delivery_status']]} (${date('d-m-Y',$item['delivery_time'])}) |<br/>
                                                    <a href="/ajax/manage.php?action=ordershipstatus&id={$item['id']}" class="ajaxlink">Update</a></td>
                                                <!--{else}-->
                                                <td></td>
                                                <!--{/if}-->
						<td> <a href="/manage/order/edit_orderitem.php?id={$item['id']}">Edit</a></td> 
						<td class="op" nowrap></td>
					</tr>
                                        <!--{/loop}-->
					<!--{/loop}-->
                                        <tr><td colspan="2"><input type="checkbox" id="cbAll" onclick="javascript:checkAll('order_items[]',this.checked);" />&nbsp;Select All&nbsp;</td>
                                        <td colspan="7"></td></tr>
					<tr><td colspan="9">{$pagestring}</tr>
                    </table>
                    </form>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<script language="javascript" type="text/javascript">
        function checkAll(strElemName, value)
        {
                var objElems = document.getElementsByName(strElemName);
                if ( objElems )
                        for ( iLen = objElems.length-1; iLen >= 0; iLen-- )
                                objElems[iLen].checked = value;
        }
      
    </script>
<!--{include manage_footer}-->
