<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:700px;">
    <h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Close</span>Label</h3>
    <div id="generated_label">
    <img src="/generated_labels/label_{$identcode}.gif" width="700" height="500" />
    </div>
    <div class="print-invoice">
		<a href="#" onclick="window.print();"><font><font class="">Print Label</font></font></a>
	</div>
</div>
<style>
    .print-invoice a {
display: block;
background: #85c422;
height: 25px;
color: #ffffff;
line-height: 25px;
text-align: center;
font-family: "Gudea-Bold", Arial, Helvetica, sans-serif;
}
</style>