<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_coupon('consume')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Consumed </h2>
					<ul class="filter">
						<li><form method="get"> deal ID：<input type="text" class="h-input" name="tid" value="${htmlspecialchars($tid)}" >&nbsp; user：<input type="text" class="h-input" name="uname" value="${htmlspecialchars($uname)}" >&nbsp; coupon Mo.：<input type="text" class="h-input" name="coupon" value="${htmlspecialchars($coupon)}" >&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/></form></li>
					</ul>
				</div>
                <div class="sect">
                    <form id="coupon-form-grid" action="print.php" method="post">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
                                            <tr>
                                                <th></th>
                                            <th width="100"> No. </th><th width="450"> deal </th><th width="150"> Option</th><th width="180"> user </th><th width="80" nowrap> consumption date </th>
                                            <th width="40" nowrap> Status </th><th width="40" nowrap> Remarks </th>
                                            </tr>
					<!--{loop $coupons $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
                                                <td><input type="checkbox" name="cpnid[]" value="{$one['id']}" onclick="javascript:document.getElementById('cbAll').checked=false;"/></td>
						<td>{$one['id']}</td>
						<td>{$one['team_id']}&nbsp;(<a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a>)</td>
						 <td>{$options[$orders[$one['order_id']]['option_id']]['title']}</td>
                                                <td nowrap>{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</td>
						<td nowrap>${date('Y-m-d',$one['consume_time'])}<br/>${date('H:i:s',$one['consume_time'])}</td>
                                                <td>

                                                    <a href="/manage/coupon/mark.php?id={$one['id']}&action=usable">Mark Usable</a>
                                                    |
                                                    <a class="ajaxlink" href="/ajax/manage.php?action=mark_coupon_gift&coupon_id={$one['id']}">Mark Gift</a>
                                                </td>
                                        </tr>

                                                    <!--{if $one['status']==0}-->
                                                    Normal
                                                    <!--{elseif $one['status']==1}-->
                                                    Disputed
                                                    <!--{/if}-->	
                                                </td>
                                                <td>
                                                    <!--{if $one['status']==0}-->
                                                    -
                                                    <!--{elseif $one['status']==1}-->
                                                    {$one['remarks']}
                                                    <!--{/if}-->	
                                                </td>
					</tr>

					<!--{/loop}-->
                                        <tr><td><input type="checkbox" id='cbAll' onclick="javascript:checkAll('cpnid[]',this.checked)">&nbsp;All&nbsp;</td><td colspan="6"><input type="submit" value="Print" class="formbutton"  style="padding:1px 6px;"/> &nbsp;<input type="submit" value="Mark Disputed" id="mark_disputed" class="formbutton"  style="width : 200px;padding:1px 16px;"/> &nbsp;<input type="submit" value="Mark As UnDisputed" id="mark_undisputed_button" class="formbutton"  style="width : 200px;padding:1px 16px;"/></td></tr>
					<tr><td colspan="6">{$pagestring}</tr>
                    </table>
                        <input name="remarks_disputed"  id="remarks_disputed" type="hidden" />
                        <input name="marked_disputed"  id="marked_disputed" type="hidden" value="0" />
                        <input name="marked_undisputed"  id="marked_undisputed" type="hidden" value="0" />
                    </form>
                     <a href="/ajax/manage.php?action=coupon_mark_disputed" id="mark_disputed_anchor" style="display: none;" class="ajaxlink" >Upload Bulk Dimensions</a>
                    <script language="javascript" type="text/javascript">
						function checkAll(strElemName, value)
						{
							var objElems = document.getElementsByName(strElemName);
							if ( objElems )
								for ( iLen = objElems.length-1; iLen >= 0; iLen-- )
									objElems[iLen].checked = value;
						}
                                                jQuery(function() {
                                                        $("#mark_disputed").click( function(e){
                                                           
                                                               $('#mark_disputed_anchor').click();
                                                            
                                                                    e.preventDefault();
                                                        });
                                                        $("#mark_undisputed_button").click( function(e){
                                                               $('#marked_disputed').val(0);
                                                            $('#marked_undisputed').val(1);
                                                            
                                                                    e.preventDefault();
                                                                    $('#coupon-form-grid').submit();
                                                        });
                                                        
                                                        $( "#remarks_submit" ).on( "click", function(e) {
                                                         e.preventDefault();
                                                                   
                                                                    alert('adf');
                                                                    e.preventDefault();
                                                        });
                                                 
                                                 
					});
                                             function lm(){
                                                    remarks = $("#remarks").val();
                                                    
                                                    $('#remarks_disputed').val(remarks);
                                                    $('#marked_disputed').val(1);
                                                     $('#marked_undisputed').val(0);
                                                    
                                                    $('#coupon-form-grid').submit();
                                            }   
					</script>
                                        
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
