<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>Update Order Item Status：</h3>
	<div style="overflow-x:hidden;padding:10px;">

		<table>
			<tr><td><b>Deal:</b></td><td>{$team['title_fr']}</td></tr>
			<tr><td><b>Current Order Status: </b></td><td><select name='delivery_status' id='ship_status'>${Utility::Option($delivery_status, $order_item['delivery_status'])}</select></td></tr>
			<tr><td></td><td></td></tr>
			<tr><td>Delivery ETA</td><td><input id='ship_eta' onFocus="WdatePicker({isShowClear:false,readOnly:true})" type='text' value='${date("d-m-Y",$order_item['delivery_time'])}' name='eta' /></td></tr>
			<tr><td></td><td><input type="button" class="formbutton" value="Update" onclick="update_ship_status();"/></td></tr>
		</table>	

           
		
	</div>
</div>
<script type="text/javascript">
function update_ship_status() 
{
	
	var status = jQuery('#ship_status').val();
	var eta = jQuery('#ship_eta').val();

	console.log('updating shipping status...'+status + ' eta = ' + eta);
	X.get(WEB_ROOT + '/ajax/manage.php?action=ordershipstatusupdate&id={$order_item['id']}&status=' + status + '&eta=' + eta);
}


</script>
