<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_vote('index')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>home </h2>
				</div>
                <div class="sect">
					<div class="wholetip clear"><h3>feedback data</h3></div>
					<div style="margin:0 20px;">
						<p>persons times having been surveyed today：{$vote_feedback_today_count}</p>
						<p>tatal persons times having been surveyed：{$vote_feedback_all_count}</p>
					</div>

					<div class="wholetip clear"><h3>questions data</h3></div>
					<div style="margin:0 20px;">
						<p>number of questions being surveyed：{$vote_question_show_count}</p>
						<p>number of all questions surveyed：{$vote_question_all_count}</p>
					</div>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
