<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>${$category?'Edit':'New'} {$zone[1]}</h3>
	<div style="overflow-x:hidden;padding:10px;">
	<p>English name, English name Repeat: require unique classification</p>
<form method="post" action="/manage/category/edit.php" class="validator">
	<input type="hidden" name="id" value="{$category['id']}" />
	<input type="hidden" name="zone" value="{$zone[0]}" />
	<table width="96%" class="coupons-table">
		<tr><td width="80" nowrap><b>English：</b></td><td><input type="text" name="name" value="{$category['name']}" require="true" datatype="require" class="f-input" /></td></tr>
		<tr><td nowrap><b>English name Repeat：</b></td><td><input type="text" name="ename" value="{$category['ename']}" require="true" datatype="english" class="f-input" style="text-transform:lowercase;" /></td></tr>
		<tr><td nowrap><b>first letter：</b></td><td><input type="text" name="letter" value="{$category['letter']}" maxLength="1" require="true" datatype="english" class="f-input" style="text-transform:uppercase;" /></td></tr>
		<tr><td nowrap><b>category：</b></td><td><input type="text" name="czone" value="{$category['czone']}" class="f-input" /></td></tr>
		<tr><td nowrap><b>display(Y/N)：</b></td><td><input type="text" name="display" value="{$category['display']}" class="f-input" style="text-transform:uppercase;"/></td></tr>
		<tr><td nowrap><b>sort (descending)：</b></td><td><input type="text" name="sort_order" value="${intval($category['sort_order'])}" class="f-input" /></td></tr>
		<tr><td colspan="2" height="10">&nbsp;</td></tr>
		<tr><td></td><td><input type="submit" value="yes" class="formbutton" /></td></tr>
	</table>
</form>
	</div>
</div>
