<!--{include manage_header}-->
 
<div id="bdw" class="bdw">
<div id="bd" class="cf"> 
<div id="coupons"> 
		<form id="frmGenStatement" method='post' action="{$INI['system']['wwwprefix'].'/manage/statement/generate.php'}">
		<input type="hidden" name="team_id" value='0'/>
		</form>
    <div class="dashboard" id="dashboard">
		<ul>${mcurrent_statement("generate")}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide"> 
		<div class="box clear"> 
            <div class="box-top"></div>
            <div class="box-content"> 
                <div class="head"> 
					
					<ul class="filter"> 
						<li><form action="/manage/statement/generate.php" method="get">Deal：<input type="text" class="h-input" name="title" value="${htmlspecialchars($title)}" >&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/>&nbsp;Partner Title.：<input type="text" class="h-input" name="ptitle" value="${htmlspecialchars($ptitle)}" >&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/><form></li>
					</ul>
					<br /><br />
                    <h2>Generate Statements</h2>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="100" nowrap>No.</th>
                                                    <th width="450">Deal</th>
													<th width="300">Partner</th>
                                                    <!-- <th width="160">Due Date</th> -->
                                                    <th width="60" nowrap>Revenue Accumulated</th>                                         
                                                    <th width="100">Action</th></tr>
					<!--{loop $teams $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td>{$one['id']}</td>
							<td>{$one['id']}&nbsp;(<a class="deal-title" href="/team.php?id={$one['id']}" target="_blank">
							<!-- 
							// include/teamplate/manage_team_index.html using {$one['title']} to display deal title 
							// not sure, where are we using title_fr in the system
							// so at the time of saving title, we will set title_fr = title
							-->
							<!--{if $lang=="en"}-->
								{$one['title']}
							<!--{elseif $lang =='fr'}-->
								<!--{if $one['title_fr'] != ''}-->
									{$one['title_fr']}
								<!--{else}-->
									{$one['title']}
								<!--{/if}-->
							<!--{/if}-->							
							</a>)
							</td>
							<td>{$partners[$one['partner_id']]['title']}</td>
							<!--
							<td nowrap>
							<!--{if $one['ps_last_time']>0}-- >
							${date('d-m-Y', $one['ps_last_time'] + $one['ps_frequency'])}
							<!--{else}-- >
							${date('d-m-Y', $one['ps_start_time'])}
							<!--{/if}-- >
							</td>
							-->
							<td>{$revenues[$one['id']]['revenue']}</td>
							<td>								
								<a href="javascript:;" onclick="javascript:GenerateStatement({$one['id']},'{$revenues[$one['id']]['revenue']}'); return false;">Generate</a>								
							</td>
						</tr>	
					<!--{/loop}-->						
						<tr><td colspan="6">{$pagestring}</td></tr>
                    </table>
					<script type="text/javascript">
					function GenerateStatement(team_id,revenue)
					{
						//console.log('here');
						//jQuery('#ajaxBusy').css("display","block");
						 jQuery(document).ajaxStart(function () {
							jQuery('#ajaxBusy').css("display","block");
						  });
						  jQuery(document).ajaxStop(function () {
							jQuery('#ajaxBusy').css("display","none");
						  });
					  
						X.get( WEB_ROOT + '/ajax/partner_coupon.php?team_id='+team_id+"&revenue="+revenue);
						//jQuery('#ajaxBusy').css("display","none");
						//$('#frmGenStatement input[name=team_id]').val(team_id);
						//$('#frmGenStatement').submit();
					}
					jQuery('body').append('<div id="ajaxBusy"><br/><br/><br/>Please Wait...</div>');
					 // AJAX activity indicator bound to ajax start/stop document events
					 
					</script>	
					<style>
						#ajaxBusy {
							  display: none;
							  margin: 0px 0px 0px -50px; /* left margin is half width of the div, to centre it */
							  padding: 30px 10px 10px 10px;
							  position: fixed;
							  left: 30%;
							  top: 325px;
							  width: 500px;
							  height: 150px;
							  text-align: center;
							  background: #DEF3BD no-repeat center center;
							  border: 1px solid #000;
							  z-index:9999
						}
					</style>	
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
