<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Mail supplier</h2></div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="" enctype="multipart/form-data" class="validator">
			<!--{if isset($_GET['page_get']) }-->
                                        <input type="hidden" name="page" value="${urlencode($_GET['page_get'])}" />
                                        <!--{/if}-->			
                        <div class="field">
                            <label>Email to:</label>
                            <input type="text" size="30" name="email" id="supplier-mail-email" class="f-input" value="{$supplier['email']}" require="true" datatype="require" />
                            <span class="inputtip">add more emails use separator ';'</span>
                        </div>
                         <div class="field">
                            <label>Subject:</label>
                            <input type="text" size="30" name="subject" id="supplier-mail-subject" class="f-input" value="Commande {$supplier['title']} au ${date('d.m.Y')}" require="true" datatype="require" />
                            
                        </div>
                        <div class="field">
                            <label>Mail Body</label>
                            <div style="float:left;">
                                <textarea cols="45" rows="5" name="message" id="supplier-mail-body" class="f-textarea editor">{$mail_body}</textarea>
                            </div>
			</div>
						
                        <div class="act">
							<input type="hidden" value="{$order_email_sent}" name="order_email_sent" />
							<input type="hidden" value='{$order_team_option_old_record}' name="order_team_option_old_record" />
                            <input type="submit" value="Mail" name="commit" id="supplier-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
