<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_user('manager')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>list of managers</h2>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="50">ID</th><th width="200">email</th><th width="100" nowrap>username</th><th width="100" nowrap>name</th><th width="200">registration time</th></th><th width="100">mobile</th><th width="80">operation</th></tr>
					<!--{loop $users $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>{$one['email']}</td>
						<td>{$one['username']}</td>
						<td>{$one['realname']}</td>
						<td>${date('Y-m-d H:i', $one['create_time'])}</td>
						<td>{$one['mobile']}</td>
						<td class="op" nowrap><a href="/manage/user/edit.php?id={$one['id']}">edit</a><!--{if is_manager(true)}-->｜<a href="/ajax/system.php?action=authorization&id={$one['id']}" class="ajaxlink">authorization</a><!--{/if}--></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="7">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
