<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('single')}</ul>
	</div>
   <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Pays the valuable inquiry connection</h2>
					<ul class="filter"><li><form method="get">External transaction number (order number)&nbsp; ：&nbsp;<input type="text" name="no" class="h-input" /> &nbsp; <input type="submit" value="Inquiry" class="formbutton"  style="padding:1px 6px;"/></form></li></ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr>
							<td>{$alipayInfo}</td>						
						</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
