<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('shipping')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Shipping Fares</h2></div>
                <div class="sect">
                    <form method="post">
                        <!--{if isset($_GET['id'])}-->
                        <input type="hidden" name="id" value="${intval($_GET['id'])}" />
                        <!--{/if}-->
			
                        <div class="field">
                            <label>Shipping Fares Title</label>
                            <input type="text" size="30" name="fares_title" class="f-input" value="{$shipment_fares['fares_title']}" style="width:200px;" />
                        </div>
                        <div class="field">
                            <label>Fares Type</label>
                            <input type="text" size="30" name="fares_type" class="f-input" value="<!--{if isset($shipment_fares['fares_type'])}-->{$shipment_fares['fares_type']}<!--{else}-->Swiss Post<!--{/if}-->" style="width:200px;" />
                        </div>
                        <div class="field">
                            <label>Weight(kg)</label>
                            <input type="text" size="30" name="fares_weight" class="number" value="{$shipment_fares['fares_weight']}"/>
                        </div>
                        <div class="field">
                                            <label><strong>Volume</strong></label>
						<div style="float:left;">
                                                    <label>Length (in cm)</label>
                                                    <input type="text" size="10" name="fares_length" id="fares_length" class="number" value="${intval($shipment_fares['fares_length'])}" maxLength="6" datatype="number" require="true" />
                                                    
                                                    <label>Width (in cm)</label>
                                                    <input type="text" size="10" name="fares_width" id="fares_width" class="number" value="${intval($shipment_fares['fares_width'])}" maxLength="6" datatype="number" require="true" />
                                                    
                                                    <label>Height (in cm)</label>
                                                    <input type="text" size="10" name="fares_height" id="fares_height" class="number" value="${intval($shipment_fares['fares_height'])}" maxLength="6" datatype="number" require="true" />
                                                    
                                                </div>
                                            <span class="inputtip">in cm.</span>
                        </div>
                        <div class="field">
                            <label>Price (CHF)</label>
                            <input type="text" size="30" name="fares_price" class="number" value="{$shipment_fares['fares_price']}"/>
                        </div>
                        <div class="act">
                            <input type="submit" value="Save" name="commit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
