<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:700px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Close&nbsp;</span>Deal Details</h3>
	<div style="overflow-x:hidden;padding:10px;">
	<table width="96%" align="center" cellpadding="3" class="coupons-table">
		<tr><td width="80" nowrap="nowrap"><b>Deal Title：</b></td>
		  <td>&nbsp;</td>
	    <td><b>{$team['title']}</b></td></tr>
		<tr><td nowrap="nowrap"><b>Begin Time</b></td>
		  <td>&nbsp;</td>
	    <td>Start:<b>${date('Y-m-d',$team['begin_time'])}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As Of:<b>${date('Y-m-d',$team['end_time'])}</b></td></tr>

		<tr><td nowrap="nowrap"><b>Current State：</b></td>
		  <td>&nbsp;</td>
	    <td><span style="color:#F00;font-weight:bold;">${state_explain($team)}</span><!--{if $team['close_time']&&$team['now_number']>=$team['min_number']&&$team['delivery']!='express'}-->&nbsp;&nbsp;<span style="color:#F8C;font-weight:bold;"><!--{if ($team['teamcoupon'])}-->&lt;{$INI['system']['couponname']}Not Finished&gt;<!--{else}-->&lt;{$INI['system']['couponname']}Have Been issued&gt;<!--{/if}--></span><!--{/if}--></td></tr>
		<tr><td nowrap="nowrap"><b>Quote：</b></td>
		  <td>&nbsp;</td>
	    <td>Minimum:{$team['min_number']}&nbsp;&nbsp;&nbsp;&nbsp;Maximum：${$team['max_number']==0?'No Limit':$team['max_number']}</td></tr>
		<tr><td nowrap="nowrap"><b>Deal Pricing:</b></td>
		  <td>&nbsp;</td>
	    <td>Market Price：<b>${moneyit($team['market_price'])}</b>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Price：<b>${moneyit($team['team_price'])}</b>&nbsp;$</td></tr>
		<tr><th colspan="3" nowrap="nowrap"><hr/></th></td>
		<tr><td nowrap="nowrap"><b>Deal situation：</b></td>
		  <td>&nbsp;</td>
		  <td><b>{$team['now_number']}</b>&nbsp;，The actual total&nbsp;<b>{$paycount}</b>&nbsp;People bought&nbsp;<b>{$buycount}</b>&nbsp;Bought Times
    </td></tr>
		<tr><td nowrap="nowrap"><b>Payment statistics：</b></td>
		  <td width="15">&nbsp;</td>
	    <td>Online payment:<b>${moneyit($onlinepay)}</b>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;Balance of payments:<b>${moneyit($creditpay)}</b>&nbsp;$</td></tr>
		<tr><td nowrap="nowrap"><b>Account balance:</b></td>
		  <td>&nbsp;</td>
	    <td>Total payments:<b>${moneyit($onlinepay+$creditpay)}</b>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;Credit vouchers:<b>${moneyit($cardpay)}</b>&nbsp;$</td></tr>
	<!--{if $team['needline']}-->
		<tr><th colspan="3"><hr/></th></td>
		<tr><td colspan="3">
			<button style="padding:0;" id="dialog_subscribe_button_id" onclick="if(confirm('Send e-mail process, please be patient, agreed to do？')){this.disabled=true;return X.misc.noticenext({$team['id']},0);}">Mail subscription&nbsp;(<span id="dialog_subscribe_count_id">0</span>/{$subcount})</button>&nbsp;
			<!--{if $team['noticesmssubscribe']}--><button style="padding:0;" id="dialog_smssubscribe_button_id" onclick="if(confirm('The process of sending text messages, please be patient, agreed to do？')){this.disabled=true;return X.misc.noticenextsms({$team['id']},0);}">SMS Subscription&nbsp;(<span id="dialog_smssubscribe_count_id">0</span>/{$smssubcount})</button>&nbsp;<!--{/if}-->
			<!--{if $team['noticesms']}--><button id="dialog_sms_button_id" onclick="if(confirm('The process of sending text messages, please be patient, agreed to do？')){this.disabled=true;return X.misc.noticesms({$team['id']},0);}">Text messages sent in coupons&nbsp;(<span id="dialog_sms_count_id">0</span>/{$couponcount})</button>&nbsp;<!--{/if}-->
			<!--{if $team['teamcoupon']}--><button onclick="this.disabled=true;return X.manage.teamcoupon({$team['id']});">Sends the ticket automatically&nbsp;({$couponcount}/{$buycount})</button>&nbsp;<!--{/if}-->
		</td></tr>
	<!--{/if}-->
	</table>
	</div>
</div>
