<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:430px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>Order History</h3>
        <div style="padding-left: 10px;">
            
            <!--{if isset($_GET['option_id']) }-->
            <b>Deal ID: {$option_info['team_id']}  </b> &nbsp; <b>Deal Title: </b>{$team_info['title']}<br>
            <b>Option ID:  </b>{$option_id} &nbsp; <b>Option Title: </b>{$option_info['title']} <br />
            <b>Total Stock Added: </b>{$total_stock_added} &nbsp; <b>Current Stock: </b>  {$option_info['stock_count']}
            <!--{/if}-->
            <!--{if isset($_GET['team_id']) }-->
            <b>Deal ID: {$team_id}  </b> &nbsp; <b>Deal Title: </b>{$team_info['title']} <br />
            <b>Total Stock Added: </b>{$total_stock_added} &nbsp;<b>Current Stock: </b>{$team_info['stock_count']}
            <!--{/if}-->
        </div>
        <div style="overflow-x:hidden;padding:10px;">
            <!--{if isset($stock_history) && !empty($stock_history)  }-->
                <table width="96%" align="center" class="coupons-table">
                    <tr><td width="80"><b>Quanity Added</b></td>
                        <td><b>Date</b></td>
                        <td><b>User</b></td>
                    </tr>
		<!--{loop $stock_history $index $one}-->
                    <tr>
                        <td width="80">
                            {$one['quantity']} 
                        </td>
                        <td>${date('m.d.Y H:i:s', $one['create_time'])}</td>
                        <td>{$users[$one['user_id']]['username']}</td>
                    </tr>
                <!--{/loop}-->
                </table>
            <!--{else}-->
            <span style="color:#F00;font-weight:bold;"> No Stock History Available</span>
            <!--{/if}-->
	</div>
</div>
