<!--{include manage_header}-->
<!--{if $INI['system']['googlemap']}-->
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key={$INI['system']['googlemap']}" type="text/javascript"></script>
<script type="text/javascript">
window.x_init_hook_gm = function() {
	X.misc.setgooglemap = function(ll) {
		X.get(WEB_ROOT+'/ajax/system.php?action=googlemap&ll='+ll);
	};
	X.misc.setgooglemapclick = function(overlay, latlng) {
		jQuery('#inputlonglat').val(latlng.y+','+latlng.x);
	};
};
</script>
<!--{/if}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_supplier(null)}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Edit Supplier</h2><b style="margin-left:20px;font-size:16px;">（{$supplier['title']}）</b></div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="/manage/supplier/edit.php?id={$supplier['id']}" enctype="multipart/form-data" class="validator">
					<input type="hidden" name="id" value="{$supplier['id']}" />
						<div class="wholetip clear"><h3>1、Login Info</h3></div>
                        <div class="field">
                            <label>Username</label>
                            <input type="text" size="30" name="username" id="partner-create-username" class="f-input" value="{$supplier['username']}" require="true" datatype="require" />
                        </div>
                        <div class="field password">
                            <label>Password</label>
                            <input type="text" size="30" name="password" id="settings-password" class="f-input" />
                            <span class="hint">If you do not want to change your password, please leave blank</span>
                        </div>
						<div class="wholetip clear"><h3>2.tagging information</h3></div>
						<div class="field">
							<label>City and classification</label>
							<select name="city_id" class="f-input" style="width:160px;">${Utility::Option(option_category('city'), $supplier['city_id'], '-Select City-')}</select><select name="group_id" class="f-input" style="width:160px;">${Utility::Option(option_category('partner'), $supplier['group_id'])}</select>
						</div>
                        <div class="field">
                            <label>Sort Field</label>
                            <input type="text" size="10" name="head" value="${abs(intval($supplier['head']))}" class="number"/><span class="inputtip">Large number of front row</span>
						</div>
						<div class="field">
							<label>Display</label>
							<input type="text" size="30" name="display" id="partner-edit-display" class="number" value="{$supplier['display']}" maxLength="1" require="true" datatype="english" style="text-transform:uppercase;" /><span class="inputtip">Y: Home Business Show N: do not participate in Home Business Show</span>
						</div>
						<div class="field">
							<label>Show Partner</label>
							<input type="text" size="30" name="open" id="partner-edit-open" class="number" value="{$supplier['open']}" maxLength="1" require="true" datatype="english" style="text-transform:uppercase;" /><span class="inputtip">Y: Front merchants display N: not involved in show Business prospects</span>
						</div>
						<div class="field">
							<label>Business Image</label>
							<input type="file" size="30" name="upload_image" id="team-create-image" class="f-input" />
							<!--{if $supplier['image']}--><span class="hint">${team_image($supplier['image'])}</span><!--{/if}-->
						</div>
						<div class="field">
							<label>Business Image1</label>
							<input type="file" size="30" name="upload_image1" id="team-create-image1" class="f-input" />
							<!--{if $supplier['image1']}--><span class="hint">${team_image($supplier['image1'])}</span><!--{/if}-->
						</div>
						<div class="field">
							<label>Business Image2</label>
							<input type="file" size="30" name="upload_image2" id="team-create-image2" class="f-input" />
							<!--{if $supplier['image2']}--><span class="hint">${team_image($supplier['image2'])}</span><!--{/if}-->
						</div>
					<!--{if $INI['system']['googlemap']}-->
                        <div class="field">
                            <label>Map coordinates</label>
                            <input type="text" size="30" name="longlat" style="width:300px;cursor:point;" class="f-input" id="inputlonglat" readonly value="{$supplier['longlat']}" onclick="X.misc.setgooglemap('{$supplier['longlat']}');" /><span class="inputtip"><a href="javascript:;" style="cursor:point;" onclick="jQuery('#inputlonglat').val('');">Cancels the GogleMap coordinate information</a></span>
						</div>
					<!--{/if}-->
						<div class="wholetip clear"><h3>3、Basic Information</h3></div>
                        <div class="field">
                            <label>Supplier Name</label>
                            <input type="text" size="30" name="title" id="partner-create-title" class="f-input" value="{$supplier['title']}" datatype="require" require="true" />
                        </div>
                        <div class="field">
                            <label>Supplier Email</label>
                            <input type="text" size="30" name="email" id="supplier-create-email" class="f-input" value="{$supplier['email']}" require="true" datatype="require" />
                            <span class="inputtip">add more emails use separator ';'</span>
                        </div>
                        <div class="field">
                            <label>Website URL</label>
                            <input type="text" size="30" name="homepage" id="partner-create-homepage" class="f-input" value="{$supplier['homepage']}"/>
                        </div>
                        <div class="field">
                            <label>Contact</label>
                            <input type="text" size="30" name="contact" id="partner-create-contact" class="f-input" value="{$supplier['contact']}"/>
						</div>
                        <div class="field">
                            <label>Partner Adderess</label>
                            <input type="text" size="30" name="address" id="partner-create-address" class="f-input" value="{$supplier['address']}" datatype="require" require="true" />
						</div>
                        <div class="field">
                            <label>Contact</label>
                            <input type="text" size="30" name="phone" id="partner-create-phone" class="f-input" value="{$supplier['phone']}" maxLength="18" require="true" datatype="require" />
						</div>
                        <div class="field">
                            <label>Mobile</label>
                            <input type="text" size="30" name="mobile" id="partner-create-mobile" class="f-input" value="{$supplier['mobile']}" maxLength="11" />
						</div>
                        <div class="field">
                            <label>Location information</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="location" id="partner-create-location" class="f-textarea editor">${htmlspecialchars($supplier['location'])}</textarea></div>
						</div>
                        <div class="field">
                            <label>Addition Information</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="other" id="partner-create-other" class="f-textarea editor">${htmlspecialchars($supplier['other'])}</textarea></div>
						</div>
						<div class="wholetip clear"><h3>4、Bank Information</h3></div>
                        <div class="field">
                            <label>Bank</label>
                            <input type="text" size="30" name="bank_name" id="partner-create-bankname" class="f-input" value="{$supplier['bank_name']}"/>
                        </div>
                        <div class="field">
                            <label>Account Name</label>
                            <input type="text" size="30" name="bank_user" id="partner-create-bankuser" class="f-input" value="{$supplier['bank_user']}"/>
                        </div>
                        <div class="field">
                            <label>Bank account</label>
                            <input type="text" size="30" name="bank_no" id="partner-create-bankno" class="f-input" value="{$supplier['bank_no']}"/>
                        </div>
                        <div class="act">
                            <input type="submit" value="edit" name="commit" id="partner-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
