<!--{include manage_header}-->
 <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
  <style>
      #content label {
float: left;
padding-right: 11px;
width: 170px;
height: 30px;
line-height: 30px;
font-size: 14px;
text-align: right;
color: #333;
white-space: nowrap;
}
#technical-detail-table td{
    padding:15px;
}

.relative { position: relative; }

.my-btn:link,
.my-btn:visited {
  color: #fff;
  padding: 7px 10px;
  border: 1px solid transparent;
  transition: all 0.2s;
}
.my-btn:hover,
.my-btn:active {
	text-decoration: none;
}

.my-btn-primary {
  background-color: #8cdd57;
  border-color: #66B035;
}
	.my-btn-primary:hover {
	  background-color: #73CA3B;
	  border-color: #539B23;
	}
.btn-warehouse {
	position: absolute;
	right: 0px;
	top: 15px;
}

/* To Fix ui-sortable hiding issue in Chrome */
#bd,
#bd2,
.ui-tabs { position: static; }
/* To Fix ui-sortable hiding issue in Chrome */

      </style>
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team('team')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				<!--{if $team['id']}-->
					<h2>Edit deals</h2>
					<ul class="filter">${current_manageteam('edit', $team['id'])}</ul>
				<!--{else}-->
					<h2>Creat deals</h2>
				<!--{/if}-->
		</div>
                <div class="sect">
				<form id="-user-form" method="post" action="/manage/team/edit.php?id={$team['id']}" enctype="multipart/form-data" class="validator">
                                    <input type="hidden" id="team_id" name="id" value="<!--{if $team['id']}-->{$team['id']}<!--{else}-->0<!--{/if}-->" />
                                    <div id="tabs" >
  <ul>
    <li><a href="#tabs-1">Configuration</a></li>
    <li><a href="#tabs-2">Content</a></li>
    <li><a href="#tabs-3">Images</a></li>
  </ul>
  <div class="relative">
	<a class="my-btn my-btn-primary btn-warehouse ajaxlink" href="/ajax/warehouse.php?action=view&id={$team['id']}">Warehouse sections</a>
	
  </div>
   <div class="relative" style="margin-top:35px;">
	 <a class="my-btn my-btn-primary btn-warehouse ajaxlink" href="/ajax/team_price_history.php?multiDeal=deal&id={$team['id']}">Price History</a>
	</div>
   
 
  <div id="tabs-1" style="">
      <div>
        <label>Category</label>  <select name="group_id" class="f-input" style="width:160px;">${Utility::Option($groups, $team['group_id'])}</select>
      </div>
      <div>
        <label>Featured</label> <select name="featured" class="f-input" style="width:160px;">${Utility::Option($featured_team_options, isset($team['featured'])?$team['featured']:1)}</select>     
      </div>
      <div>
      <label>multi buy?</label>
        <select name="type" class="f-input" style="width:160px;">
          <option value="">No</option>
          <option value="flat" <!--{if $team['type']  } -->selected<!--{/if}-->>Multi - Flat</option>
                                                          <option value="gender" <!--{if $team['type'] && $team['type'] =='gender'} -->selected<!--{/if}-->>Multi - Gender</option>
        </select>
      </div>
      <div>
      <label> Hidden?</label>
        <select name="system" class="f-input" style="width:160px;">
          ${Utility::Option($hidden_team_options, $team['system'])}					  
        </select>
      </div>
	  <div>
      <label> SKU</label>
        <input type="text" size="30" name="sku" id="team-create-sku" class="f-input" value="${htmlspecialchars($team['sku'])}" datatype="require" require="true" />
      </div>					
      <div class="wholetip clear"><h3>Price</h3></div>
      <div>
                <label>market price</label>
                <input type="text" size="10" name="market_price" id="team-create-market-price" class="number" value="${moneyit($team['market_price'])}" datatype="money" require="true" />
      </div>
      <div>    
                <label>web price</label>
                <input type="text" size="10" name="team_price" id="team-create-team-price" class="number" value="${moneyit($team['team_price'])}" datatype="double" require="true" />
      </div>
      <div>
                <label>Partner Revenue</label>
                <input type="text" size="10" name="partner_revenue" id="team-create-market-price" class="number" value="${moneyit($team['partner_revenue'])}" datatype="money" require="true" />
      </div>
      <div>
                <label>virtual buyers</label>
                <input type="text" size="10" name="pre_number" id="team-create-pre_number" class="number" value="${moneyit($team['pre_number'])}" datatype="number" require="true" />
       </div>
      <div class="wholetip clear"><h3>Stock</h3></div>
      <div>
                <label>Available Stock</label>
                <input type="text" size="10" name="stock_count" id="stock_count" class="number" value="${intval($team['stock_count'])}" <!--{if $team['id']}--> disabled="disabled" <!--{/if}-->  maxLength="6" datatype="number" require="true" />
      </div> 
     
      <div>
          <label>limit for one user</label>
            <input type="text" size="10" name="per_number" id="team-create-per-number" class="number" value="${intval($team['per_number'])}" maxLength="6" datatype="number" require="true" />
            <span class="hint">The lower limit must be bigger than 0, the biggest quantity/every user's limit of buying：0 means no upper limit （quantity of goods|numbers of buyers which are determined by the conditions of a successful deal）</span>
      </div>
      <div style="clear: both;">
				<label>Available Qty</label>
				<input type="text" size="10" name="max_number" id="team-create-max-number" class="number" value="${intval($team['max_number'])}" maxLength="6" datatype="number" require="true" />
        </div>				
       <div class="wholetip clear"><h3>Duration</h3></div>
        <div>
                <label>Start time</label>
                <input type="text" size="30" name="begin_time" id="" class="numberd" xd="${date('Y-m-d', $team['begin_time'])}" xt="${date('H:i:s', $team['begin_time'])}" value="${date('Y-m-d H:i:s', $team['begin_time'])}" maxlength="30" />
        </div>
        <div class="field">
                <label>End time</label>
                <input type="text" size="30" name="end_time" id="" class="numberd" xd="${date('Y-m-d', $team['end_time'])}" xt="${date('H:i:s', $team['end_time'])}" value="${date('Y-m-d H:i:s', $team['end_time'])}" maxlength="30" />
        </div>
        <div class="wholetip clear"><h3>Delivery Method</h3></div>
        <div>
               
                <div style="margin-top:5px;" id="express-zone-div">
                    <input type="radio" name="delivery" value="coupon" ${$team['delivery']=='coupon'?'checked':''} />&nbsp;{$INI['system']['couponname']}&nbsp;
                    <input type="radio" name="delivery" value='express' ${$team['delivery']=='express'?'checked':''} />&nbsp;Express delivery&nbsp;
                    <input type="radio" name="delivery" value='pickup' ${$team['delivery']=='pickup'?'checked':''} />&nbsp;Pickup&nbsp;
                    <input type="radio" name="delivery" value='express_pickup' ${$team['delivery']=='express_pickup'?'checked':''} />&nbsp;Express or Pickup&nbsp;
                </div>
        </div>
        
        <div class="wholetip clear"><h3>Partner Coupon Settings</h3></div>
        <div>
            <label>Partner</label>
            <select name="partner_id" datatype="require" require="require" class="f-input" style="width:200px;">${Utility::Option($partners, $team['partner_id'], '--- please select a Partner ---')}</select><span class="inputtip">Partner is optional</span>
        </div>
        
       <div class="field">
           <label style="width: 215px;">{$INI['system']['couponname']} Due Time For Customer</label>
                <input type="text" size="30" name="expire_time" id="" class="numberd" value="${date('Y-m-d', $team['expire_time'])}" maxLength="30" />
                <span class="hint">Date/time format：YYYY-MM-DD HH:MM:SS （example：2010-06-10 23:12:09）</span>
        </div>
       <div>
                <label style="width: 215px;">{$INI['system']['couponname']} Due Time For Partner</label>
                <input type="text" size="30" name="expire_time_partner" id="" class="numberd" value="${date('Y-m-d', $team['expire_time_partner'])}" maxLength="30" />
                <span class="hint">Date/time format：YYYY-MM-DD HH:MM:SS （example：2010-06-10 23:12:09）</span>
        </div>
        
        <div class="wholetip clear"><h3>Product Dimensions</h3></div>
        <div>
            <label>Length</label>
            <input type="text" size="10" name="volume_length" id="volume_length" class="number" value="{$team['volume_length']}" maxLength="6" datatype="number" require="true" />
        </div> 
        <div>
            <label>Width</label>
            <input type="text" size="10" name="volume_breadth" id="volume_breadth" class="number" value="{$team['volume_breadth']}" maxLength="6" datatype="number" require="true" />
        </div> 
        <div>
            <label>Height</label>
            <input type="text" size="10" name="volume_height" id="volume_height" class="number" value="{$team['volume_height']}" maxLength="6" datatype="number" require="true" />
        </div>   
        
        <span class="inputtip">in cm.</span>
        <div>
                <label>Weight</label>
                <div style="float:left;">
                    <input type="text" size="10" name="volume_weight" id="volume_weight" class="number" value="{$team['volume_weight']}" maxLength="6" datatype="number" require="true" />
                    <span class="inputtip">in kg.</span>
                </div>
        </div>
    <div class="wholetip clear"><h3>Shipping fees and ETA</h3></div>
    <div>
            <label>Delivery ETA</label>
            <input type="text" size="30"  name="delivery_eta" id="team-create-eta" class="f-input" value="{$team['delivery_eta']}" />
            <span class="hint">Estimated Delivery Time in # of Days. 0 Means available instantly</span>
    </div>
    <div style="clear:both;">
            <label>Delivery costs</label>
            <input type="text" size="10" name="fare" id="team-create-fare" class="number" value="${intval($team['fare'])}" maxLength="6" datatype="money" require="true" />
    </div>
    <div class="wholetip clear"><h3>Supplier</h3></div>
     <div>
            <label>Supplier</label>
            <select name="supplier_id" datatype="require" require="require" class="f-input" style="width:200px;">${Utility::Option($suppliers, $team['supplier_id'], '--- please select a Supplier ---')}</select><span class="inputtip">Supplier is optional</span>
    </div>
    <div class="wholetip clear"><h3>Brand</h3></div>
     <div>
            <label>Brand</label>
            <select name="brand_id" datatype="require" require="require" class="f-input" style="width:200px;">${Utility::Option($brands, $team['brand_id'], '--- please select a Brand ---')}</select>
    </div>
	 
	 <div class="wholetip clear">
		
		<!--${$is_cash_back_allowed_val = ""}-->		
		<!--  {if $team['is_cash_back_allowed'] == 1 } -->
			<!--  ${ $is_cash_back_allowed_val	=	"checked='checked'"  }   -->
		<!-- {/if} -->
				
		<h3> <input type="checkbox" name="is_cash_back_allowed" id="is_cash_back_allowed" <!-- ${ echo $is_cash_back_allowed_val }-->  /> Allow Cash Back</h3>
	</div>
	<div class="is_cash_back_allowed_region" >
		 <div>
				<label>Cash Back Value</label>
				<input type="text" size="10" name="cb_amount" id="cash_back_val"  value="${ $team['cb_amount'] }" maxLength="6" datatype="money" require="true" />
				<span id="cash_back_val_err" style="padding-left: 185px;  display:none; color:red;"></span>
		</div>
	   <div>
		   <label  >Start Time</label>
		  
				<!--${$cb_start_time = ""}-->		
				<!--  {if !empty($team['cb_start_time']) && $team['cb_start_time']!="" } -->
					<!--  ${ $cb_start_time	=	date('Y-m-d', $team['cb_start_time'])  }   -->
				<!-- {/if} -->
				
				<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" id="cb_start_time" name="cb_start_time" value="${ $cb_start_time }" /> 
				<span id="cb_start_time_err" style="padding-left: 185px;  display:none; color:red;"></span>
		</div>
		<div>
				<label  >End Time</label>
				
				<!--${$cb_end_time = ""}-->		
				<!--  {if !empty($team['cb_end_time']) && $team['cb_end_time']!="" } -->
					<!--  ${ $cb_end_time	=	date('Y-m-d', $team['cb_end_time'])  }   -->
				<!-- {/if} -->
				
				
				<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" id="cb_end_time" name="cb_end_time" value="${ $cb_end_time }" /> 
				<span id="cb_end_time_err" style="padding-left: 185px;  display:none; color:red;"></span>
		</div>
	</div>
  </div><!--  tab-1 end-->
  <div id="tabs-2">
      `<div style="clear:both;">
                <label>Title</label>
                <input type="text" size="30" name="title" id="team-create-title" class="f-input" value="${htmlspecialchars($team['title'])}" datatype="require" require="true" />
        </div>
        <div >
            <label>Emotional Text (Also SEO Description text) </label>
            <div ><textarea cols="45" rows="5" name="seo_description" id="team-create-summary" class="f-textarea" datatype="require" require="true">{$team['seo_description']}</textarea></div>
        </div>
    	<div>
            <label>nous vous proposons</label>
            <div ><textarea cols="45" rows="5" name="summary" id="team-create-detail" class="f-textarea">{$team['summary']}</textarea></div>
        </div>				
        <div>
                <label>vous aimerez</label>
                <div style="margin-top: 25px;">
                    <table id="notice-table" class="aimerez_sortable" width="100%" border="0">
						<thead>
							<tr>
								<td width="10">&nbsp;</td>
								<td width="220"><strong>detail</strong></td>
							   <td><a class="add-row-notice" href="javascript:void(0);"><img src="/static/images/add-green.png" /></a></td>
							</tr>
						</thead>
						<tbody>
							<?php 
								if($team['notice'] != ''){
							?>
							<tr>
								<?php 
									$notice = explode('<br />', $team['notice']); 
									$i = 0;
									foreach( $notice as $nt){
								   
								?>
								<td><img src="/static/images/up-down-icon.png" /></td>
								<td><input type="text" value="<?php echo $nt; ?>" name="vous_aimerez[]" /></td>
							 <?php 
							   echo '<td><a class="delete-row" href="javascript:void(0);"><img src="/static/images/delete-icon.png" /></a></td></tr><tr>';
							 }  
							}
							?>
							<tr>
								<td><img src="/static/images/up-down-icon.png" /></td>
								<td width="220"><input type="text" name="vous_aimerez[]" /></td>
								<td><a class="delete-row" href="javascript:void(0);"><img src="/static/images/delete-icon.png" /></a></td>
							</tr>
						</tbody>
                    </table>
                </div>
                
        </div>
        <div id="field_userreview">
                <label>Condition</label>
                <div><textarea cols="45" rows="5" name="detail" id="team-create-userreview" class="f-textarea">{$team['detail']}</textarea></div>

        </div>
        <div>
                <label>Technical Information</label>
                <div style="margin-top: 25px;">
                    <table id="technical-detail-table" class="soratble_information" width="100%" border="0">
						<thead>
							<tr>
								<td width="10">&nbsp;</td>
								<td width="120"><strong>title</strong></td>
								<td width="220"><strong>detail</strong></td>
							   <td><a class="add-row" href="javascript:void(0);"><img src="/static/images/add-green.png" /></a></td>
							</tr>
						</thead>
						<tbody>
							<?php 
								if($team['systemreview'] != ''){
							?>
							<tr>
								<?php 
									$systemreview = explode('<br />', $team['systemreview']); 
									$i = 0;
									foreach( $systemreview as $sr){
								   
								?>
								<?php 
									if($i == 0){
								?>
										<td><img src="/static/images/up-down-icon.png" /></td>
								<?php
									}
								?>
								<td><input type="text" value="<?php echo $sr; ?>" name="technical_details[]" /></td>
							 <?php 
								if($i == 1){
									echo '<td><a class="delete-row" href="javascript:void(0);"><img src="/static/images/delete-icon.png" /></a></td></tr><tr>';
									$i = 0;
								}
								else{
									$i++;
								}
							 }  
							}else{
							?>
							<tr>
								<td><img src="/static/images/up-down-icon.png" /></td>
								<td width="120"><input type="text" name="technical_details[]" /></td>
								<td width="220"><input type="text" name="technical_details[]" /></td>
								<td><a class="delete-row" href="javascript:void(0);"><img src="/static/images/delete-icon.png" /></a></td>
							</tr>
							<?php 
							}
							?>
						</tbody>
                    </table>
                </div>
        </div>
  </div>
  <div id="tabs-3" style="">
    <div class="field">
            <label>Header Image</label>
            <input type="file" size="30" name="upload_image" id="team-create-image" class="f-input" />
            <!--{if $team['image']}-->
            <img src="${team_image($team['image'])}" width="200" />
            <span class="hint">${team_image($team['image'])}</span>
            <!--{/if}-->
    </div>
    <div class="wholetip clear"><h3>Description Images</h3></div>
    <div class="field">
            <label>Upload Images</label>
            <input type="file" size="30" name="desc_image" id="team-desc-image" class="f-input" multiple/>
            <div id="desc-image-error" style="display:none;"></div>
    </div>
    <div id="desc_images">
        <ul id="desc_images_list">
    <?php
         foreach($desc_images as $dsc_img){
            echo '<li id="gl_'.$dsc_img['id'].'"><div class="image_dsc">
            <img src="/static/'.$dsc_img['image_loc'].'" width="200" />
            <a href="javascript:;" class="delete_image" id="'.$dsc_img['id'].'">X</a>
            </div></li>';
        }
    ?>
        </ul>
    </div>
    <div class="wholetip clear"><h3>Slide Show  Images</h3></div>
    <div>
            <label>Upload Images</label>
            <input type="file" size="30" name="slideshow_image" id="team-slideshow-image" class="f-input" multiple />
            <div id="gallery-image-error" style="display:none;"></div>
    </div>
    <div id="gallery_images" >
        <ul id="galler_images_list">
    <?php
         foreach($gallery_images as $dsc_img){
            echo '<li id="gl_'.$dsc_img['id'].'"><div>
            <img src="/static/'.$dsc_img['image_loc'].'" width="200" />
            <a href="javascript:;" class="delete_image" id="'.$dsc_img['id'].'">X</a>
            </div></li>';
        }
    ?>
        </ul>
    </div>
    <div>
            <label>FLV.sw</label>
            <input type="text" size="30" name="flv" id="team-create-flv" class="f-input" value="{$team['flv']}" />
            <span class="hint">format is as：http://www.youtube.com/embed/xpPIXcDSS1I</span>
    </div>
    
  </div>
</div>

<input type="submit" value="Save" name="commit" id="leader-submit" class="formbutton" style="margin:10px 0 0 120px;"/>
				</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script type="text/javascript">
    
window.x_init_hook_teamchangetype = function(){
	X.team.changetype("{$team['team_type']}");
};
window.x_init_hook_page = function() {
	X.team.imageremovecall = function(v) {
		jQuery('#team_image_'+v).remove();
	};
	X.team.imageremove = function(id, v) {
		return !X.get(WEB_ROOT + '/ajax/misc.php?action=imageremove&id='+id+'&v='+v);
	};
};
jQuery(document).ready( function(){
    jQuery('#express-zone-div input').click(function () { 
        var v = jQuery(this).attr('value');
        if (v == 'express' || v == 'pickup' || v=='express_pickup') {
            jQuery('#stock-zone').css('display', 'block');
        }
        else{
            jQuery('#stock-zone').css('display', 'none');
        }
    });
    
    team_id = $('#team_id').val();
    $('#team-desc-image').fileupload({
        url: WEB_ROOT + '/manage/team/fileupload.php?action=desc&team_id='+team_id,
        add: function (e, data) {
            team_id = $('#team_id').val();
            if(team_id == 0){
                alert('Please Save deal and then upload the images');
            }
            else{
               var goUpload = true;
                var uploadFile = data.files[0];
                if (!(/\.(gif|jpg|jpeg|tiff|png)$/i).test(uploadFile.name)) {
                    $('#desc-image-error').html('Please upload image file');
                     $('#desc-image-error').show();
                    goUpload = false;
                }
                if (uploadFile.size > 5000000) { // 5mb
                     $('#desc-image-error').html('Please upload image less than 5mb');
                      $('#desc-image-error').show();
                    goUpload = false;
                }
                if (goUpload == true) {
                    data.submit();
                } 
            }
            
        },
        done: function (e, data) {
            file = JSON.parse(data._response.result);
            $('#desc_images_list').append('<li id="gl_'+file.id+'"><div><img src="/static/'+file.image_loc+'" width="200" /><a href="javascript:;" class="delete_image" id="'+file.id+'">X</a></div></li>');
            $("ul#desc_images_list").sortable('refresh');
        },
    });
    $('#team-slideshow-image').fileupload({
        url: WEB_ROOT + '/manage/team/fileupload.php?action=gallery&team_id='+team_id,
        add: function (e, data) {
            team_id = $('#team_id').val();
            if(team_id == 0){
                alert('Please Save deal and then upload the images');
            }
            else{
               var goUpload = true;
                var uploadFile = data.files[0];
                if (!(/\.(gif|jpg|jpeg|tiff|png)$/i).test(uploadFile.name)) {
                    $('#gallery-image-error').html('Please upload image file');
                     $('#gallery-image-error').show();
                    
                    goUpload = false;
                }
                if (uploadFile.size > 5000000) { // 5mb
                     $('#gallery-image-error').html('Please upload image less than 5mb');
                      $('#gallery-image-error').show();
                    goUpload = false;
                }
                if (goUpload == true) {
                    data.submit();
                } 
            }
            
        },
        done: function (e, data) {
            file = JSON.parse(data._response.result);
            $('#galler_images_list').append('<li id="gl_'+file.id+'"><div><img src="/static/'+file.image_loc+'" width="200" /><a href="javascript:;" class="delete_image" id="'+file.id+'">X</a></div></li>');
            $("ul#galler_images_list").sortable('refresh');
        },
    });
    
    
     $(document).on("click", ".delete_image", function() {
           id = $(this).attr('id');
                $.ajax({
                                url: WEB_ROOT + '/manage/team/fileupload.php?action=delete&id='+id,
                                success:function(data)
                                {
                                    $('#'+id).parent('div').remove();
                                }

              });
        }); 
        $(document).on("click", ".add-row-notice", function() {
            $('#notice-table').append('<tr><td><img src="/static/images/up-down-icon.png" /></td><td width="220"><input type="text" name="vous_aimerez[]" /></td><td><a class="delete-row" href="javascript:void(0);"><img src="/static/images/delete-icon.png" /></a></td></tr>')
        });
        $(document).on("click", ".add-row", function() {
            $('#technical-detail-table').append('<tr><td><img src="/static/images/up-down-icon.png" /></td><td width="120"><input type="text" name="technical_details[]" /></td><td width="220"><input type="text" name="technical_details[]" /></td><td><a class="delete-row" href="javascript:void(0);"><img src="/static/images/delete-icon.png" /></a></td></tr>')
        }); 
        $(document).on("click", ".delete-row", function() {
            $(this).parent().parent().remove();
        }); 
        
         $("ul#galler_images_list").sortable({ 
                opacity: 0.6, 
                cursor: 'move',
                update : function () {
                    var order = $('#galler_images_list').sortable('toArray').toString();
                    console.log(order);
                    team_id = $('#team_id').val();
                    $.ajax({
                                url: WEB_ROOT + '/manage/team/fileupload.php?action=order_change&team_id='+team_id+'&order='+order,
                                success:function(data)
                                {
                                    //$('#'+id).parent('div').remove();
                                }

                    });
                    
                    
                    }
          
         });
         $("ul#desc_images_list").sortable({ 
                opacity: 0.6, 
                cursor: 'move',
                update : function () {
                    var order = $('#desc_images_list').sortable('toArray').toString();
                    console.log(order);
                    team_id = $('#team_id').val();
                    $.ajax({
                                url: WEB_ROOT + '/manage/team/fileupload.php?action=order_change&team_id='+team_id+'&order='+order,
                                success:function(data)
                                {
                                    //$('#'+id).parent('div').remove();
                                }

                    });
                    
                    
                    }
          
         });
        
});


//CHECK IS CASH BACK FEATURE ALLOWED OR NOT
jQuery(document).ready(function(){

	isCashBackAllowed();
	
	jQuery("#is_cash_back_allowed").on("click",function(){
		isCashBackAllowed();
	});
	
	 jQuery("#cash_back_val").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if (jQuery.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
});

function isCashBackAllowed(){

	if (jQuery("#is_cash_back_allowed").prop("checked")) {
		jQuery(".is_cash_back_allowed_region").css("display","block");
		/*
		jQuery("#cash_back_val").removeAttr("readonly");
		jQuery("#cb_start_time").removeAttr("readonly");
		jQuery("#cb_end_time").removeAttr("readonly");
		*/
	}else{
		jQuery(".is_cash_back_allowed_region").css("display","none");
		
		resetCashBackField();
		
	}
}


function resetCashBackField(){

	jQuery("#cash_back_val").val("");
	jQuery("#cb_start_time").val("");
	jQuery("#cb_end_time").val("");
	
	//REMOVE ERROR REGION
	jQuery("#cash_back_val_err").css("display","none");
	jQuery("#cash_back_val_err").text("");
}

//BIND IS CACH BACK ALLOWED FEaTURE
   jQuery('#-user-form').bind('submit', function() {

		var cash_back_val	=	jQuery.trim(jQuery("#cash_back_val").val());
		var cb_start_time	=	jQuery.trim(jQuery("#cb_start_time").val());
		var cb_end_time		=	jQuery.trim(jQuery("#cb_end_time").val());
		
		var errMessage		=	"";
		
		if (jQuery("#is_cash_back_allowed").prop("checked")) {
		
			if(cash_back_val=="" || cash_back_val<=0){
			
				jQuery("#cash_back_val_err").css("display","block");
				errMessage	+= "Please Enter Cash Back Amount";
				jQuery("#cash_back_val_err").text("Please Enter Cash Back Amount");
			}else{
				jQuery("#cash_back_val_err").css("display","none");
				jQuery("#cash_back_val_err").text("");
			}
			
			//START TIME VALIDATIOn
			if(cb_start_time==""){
				jQuery("#cb_start_time_err").css("display","block");
				errMessage	+= "Please Enter Start Time";
				jQuery("#cb_start_time_err").text("Please Select Start Time");
			}else{
				jQuery("#cb_start_time_err").css("display","none");
				jQuery("#cb_start_time_err").text("");
			}
			
			//END TIME VALIDATION
			/*
			if(cb_end_time==""){
				jQuery("#cb_end_time_err").css("display","block");
				errMessage	+= "Please Enter Start Time";
				jQuery("#cb_end_time_err").text("Please Select End Time");
			}else{
				jQuery("#cb_end_time_err").css("display","none");
				jQuery("#cb_end_time_err").text("");
			}
			*/
			//TIME VALIDATION
			if(cb_start_time!="" && cb_end_time != ""){

				if(cb_end_time <= cb_start_time){
					jQuery("#cb_end_time_err").css("display","block");
					errMessage	+= "Please Select Valid Date Range";
					jQuery("#cb_end_time_err").text("Please Select Valid Date Range");
				}else{
					jQuery("#cb_end_time_err").css("display","none");
					jQuery("#cb_end_time_err").text("");
				}
			}
			
		}
		
		if(errMessage!=""){
			return false;
		}
	});
</script>

<!-- JQuery Sortable-->
<script>
	var fixHelperModified = function(e, tr) {
    var $originals = tr.children();
    var $helper = tr.clone();
    $helper.children().each(function(index) {
        jQuery(this).width($originals.eq(index).width())
    });
		return $helper;
	},
	updateIndex = function(e, ui) {
		jQuery('td.index', ui.item.parent()).each(function (i) {
			$(this).html(i + 1);
		});
	};

	jQuery(".soratble_information tbody").sortable({
		helper: fixHelperModified,
		stop: updateIndex
	});
	
	jQuery(".aimerez_sortable tbody").sortable({
		helper: fixHelperModified,
		stop: updateIndex
	});
	
	//}).disableSelection();
	
	 //CHECK WHICH DELIVERY METHOD SELECT
	 jQuery('input[name="delivery"]').on('change', function() {
	 
		var deliveryMethodValue = jQuery('input[name="delivery"]:checked').val(); 
	
		if( deliveryMethodValue=='express' || deliveryMethodValue=='pickup' ||  deliveryMethodValue=='express_pickup' ){
			 jQuery('select[name="partner_id"]').val(32);
		}else{
			 jQuery('select[name="partner_id"]').val('');
		}
	  
	});
</script>
<!--{include manage_footer}-->
