<!--{include manage_header}-->
 
<div id="bdw" class="bdw">
<div id="bd" class="cf"> 
<div id="coupons"> 
    <div class="dashboard" id="dashboard">
		<ul>${mcurrent_statement($selector)}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide"> 
		<div class="box clear"> 
            <div class="box-top"></div>
            <div class="box-content"> 
                <div class="head"> 
                   
					
					<ul class="filter"> 
						<li><form action="/manage/statement/index.php" method="get">Deal：<input type="text" class="h-input" name="title" value="${htmlspecialchars($title)}" >&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/>&nbsp;Partner Title.：<input type="text" class="h-input" name="ptitle" value="${htmlspecialchars($ptitle)}" >&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/>
						{$tabFilter}
						<form></li>
					</ul>
					<br /><br />
					 <h2>Partner Statements</h2>
				</div>
				<div style="clear:both; pading:10px;">&nbsp;</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="100" nowrap>No.</th>
                                                    <th width="450">Deal</th>
													<th width="300">Partner</th>
                                                    <th width="160">Generation Date</th>
													<!--{if $tabOpenForPaid=="all" || $tabOpenForPaid=="paid" }-->
													<th width="160">Payment Date</th>
													<!--{/if}-->
													
                                                    <th width="60" nowrap>Revenue</th>
                                                    
                                                    <th width="160">${I('State')}</th>
                                                <th width="100">Action</th></tr>
					<!--{loop $statements $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td>{$one['id']}</td>
							<td>{$one['team_id']}&nbsp;(<a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">
							<!--{if $lang=="en"}-->
								{$teams[$one['team_id']]['title']}
							<!--{elseif $lang =='fr'}-->
								<!--{if $one['title_fr'] != ''}-->
									{$teams[$one['team_id']]['title_fr']}
								<!--{else}-->
									{$teams[$one['team_id']]['title']}
								<!--{/if}-->
							<!--{/if}-->							
							</a>)
							</td>
							<td>{$partners[$one['partner_id']]['title']}</td>
							<td nowrap>${date('d-m-Y', $one['create_time'])}</td>
							<!--{if $tabOpenForPaid=="all" || $tabOpenForPaid=="paid" }-->
								<!-- ${ $paymentDate	=	"N/A"} -->
								<!--{if $one['paid_time'] != "" }-->
									<!-- ${ $paymentDate	=	date('d-m-Y', $one['paid_time'])} -->
								<!--{/if}-->
									<td nowrap>{$paymentDate}</td>
							<!--{/if}-->
							
							<td>{$one['revenue']}</td>
							<td nowrap><!--{if $one['status']==1}-->[New]<!--{elseif $one['status'] == 2}-->[New - Paid]<!--{elseif $one['status'] == 4}-->Paid<!--{/if}--></td>
                                                        <td><a href="/manage/statement/view.php?id={$one['id']}">View</a> | 
														<a target="_blank" href="/manage/statement/view.php?id={$one['id']}&action=print">Print</a> |
														<!-- <a href="/manage/statement/view.php?id={$one['id']}&action=email">Email</a>-->
														<a href="/manage/statement/email.php?id={$one['id']}&action=email">Email</a>
														|
														<!--<a href="/manage/statement/view.php?id={$one['id']}&action=dtafile">DAT File</a> |-->
														<!--{if $one['status']!=2 && $one['status']!=4}-->
														<a href="/manage/statement/view.php?id={$one['id']}&action=markpaid">Mark Paid</a>
														<!--{else}-->
														<a href="/manage/statement/view.php?id={$one['id']}&action=markunpaid">Mark UnPaid</a>
														<!--{/if}--></td>
						</tr>	
					<!--{/loop}-->
						<tr><td colspan="6">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
