<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="misc">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('pay')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
                
            <div id="purchase-list" class="panier">
                <form method="post" action="" id="form-orderitem-edit" class="validator">
                     <input name='order_item_id' type="hidden" value="{$order_item['id']}" />
		<table id='order-edit-table'>			
                        
			<tr>
				<td colspan="4" align='left'> 
                                    <strong>ORDER ID:</strong>&nbsp; {$order['id']}<strong> Order Date time :</strong> ${date('Y-m-d H:i', $order['create_time'])} / ${date('Y-m-d H:i', $order['pay_time'])}
				</td>
			</tr>
                        <tr>
				<td colspan="4" align='left'> 
                                    <strong>Total Amount:</strong><!--{if $order['credit'] }--> Paid ${moneyit($order['credit'])}  <!--{/if}--> <!--{if $order['service']!='credit'&&$order['money']}-->{$payservice[$order['service']]}Payment <b>${moneyit($order['money'])}</b> $<!--{/if}-->&nbsp; 
                                    <strong>Status :</strong> {$paystate[$order['state']]}
				</td>
			</tr>
                        <tr>
				<td colspan="4" align='left'> 
                                    <strong>Order Amount Summary:</strong>
				</td>
			</tr>
                        <tr>
				<td colspan="4" align='left'> 
                                    <strong> Item Cost : </strong>{$order_item['price']}&nbsp; Item Fares : {$order_item['fare']}
				</td>
			</tr>
                        <tr>
				<td colspan="4" align='left'> 
                                    <strong> Order Payment Summary:</strong>
				</td>
			</tr>
                        <tr>
				<td colspan="4" align='left'> 
                                    <!--{if $order['credit']}-->Paid <b>${moneyit($order['credit'])}</b> {$currency} with balance <!--{/if}-->&nbsp;<!--{if $order['service']!='credit'&&$order['money']}-->{$payservice[$order['service']]}Payment <b>${moneyit($order['money'])}</b> $<!--{/if}--><!--{if $order['card_id']}-->&nbsp;Vouchers:<b>${moneyit($order['card'])}</b> Points<!--{/if}-->
				</td>
			</tr>
                        
                        <tr>
				<td colspan="4" align='left'> 
                                    <a class="ajaxlink refund-button" style="padding:9px 9px; text-decoration: none;" href="/ajax/manage.php?action=refund_order_item&refund_order_item={$order_item['id']}&order_id={$order['id']}">Refund</a>
                                    
				</td>
			</tr>
                        
                        <tr>
				<td colspan="4" align='left'> 
                                    <strong> Deal :</strong> {$team['title']}
				</td>
			</tr>
                        <tr>
				<td colspan="4" align='left'> 
                                    <!--{if $order_item['option_id']}-->
                                    <strong>Options :</strong> <select name="option_id">${Utility::Option($options_arr, $order_item['option_id'])}</select>
                                    <!--{/if}-->
                                    <strong>Quantity:</strong> 
                                    <input type="text" name="quantity" id="quantity" value="{$order_item['quantity']}" default="{$order_item['quantity']}" size="2" class="quan-numeric" />
                                    
				</td>
			</tr>
                        <tr>
				<td colspan="4" align='left'> 
                                    <strong>Shipment Type :</strong> <select name="shipment_type"><option value="">tous</option>${Utility::Option($option_delivery, $order_item['delivery'])}</select>
				</td>
			</tr>
                        <tr>
                                <td style="padding-bottom:0;">*Prénom</td>
                      
                                      <td><input type="text" value="<!--{if $order_item['first_name']}-->{$order_item['first_name']}<!--{else}-->{$order['realname']}<!--{/if}-->" name="realname" placeholder="Prénom"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Nom</td>
                                <td><input type="text" value="<!--{if $order_item['last_name']}-->{$order_item['last_name']}<!--{else}-->{$order['lastname']}<!--{/if}-->" name="last_name" placeholder="Nom"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*E-mail</td>
                                <td><input type="text" value="<!--{if $order_item['email']}-->{$order_item['email']}<!--{else}-->{$order['email']}<!--{/if}-->" name="email" placeholder="Email"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Numéro de mobile</td>
                                <td style="padding-bottom:0;"><input style="margin-bottom:0;" type="text" value="<!--{if $order_item['mobile']}-->{$order_item['mobile']}<!--{else}-->{$order['mobile']}<!--{/if}-->" name="mobile" placeholder="Numéro de portable"/></td>
                              </tr>
                              <tr>
                                  <td colspan="2"><p class="font-12">En cas de problème, nous pourrons vous contacter</p></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Adresse</td>
                                <td><input type="text" value="<!--{if $order_item['address']}-->{$order_item['address']}<!--{else}-->{$order['address']}<!--{/if}-->" name="address" placeholder="Adresse 1"/></td>
                              </tr>
                              <tr>
                                    <td style="padding-bottom:0;">Adresse2</td>
                                    <td><input type="text" value="<!--{if $order_item['address2']}-->{$order_item['address2']}<!--{else}-->{$order['address2']}<!--{/if}-->" name="adresse2" placeholder="Adresse 2"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Code postal</td>
                                <td colspan='3'><input type="text" class="wth-120" name="zipcode" value="<!--{if $order_item['zipcode']}-->{$order_item['zipcode']}<!--{else}-->{$order['zipcode']}<!--{/if}-->" placeholder="Code postal"/></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:0;">*Ville</td>
                                      <td><input type="text" name="region" value="<!--{if $order_item['region']}-->{$order_item['region']}<!--{else}-->{$order['region']}<!--{/if}-->" placeholder="Ville"/></td>
                              </tr>
                       
                        <tr>
                            <td>Select Method for charging additional Cost</td>
                        </tr>
                        <tr>
                            <td><input name='method_additional_cost' checked="checked" value="user_balance_cash" type="radio"/> User Balance and Cash</td>
                        </tr>
                        <tr>
                            <td ><input name='method_additional_cost' value="cash" type="radio"/> Cash</td>
                        </tr>
                        <tr>
                            <td ><input name='method_additional_cost' value="wire" type="radio"/>Wire</td>
                        </tr>
						  <tr>
                            <td ><input name='method_additional_cost' value="maestro" type="radio"/>Maestro</td>
                        </tr>
                        <tr>
                            <td>
                                <input class="formbutton" id="submit-orderitem" type="submit" value="OK" ask="Do you really want to edit?"  /> &nbsp;
                                <input class="formbutton" type="button" value="Cancel" onclick="window.location.href = '{$_SERVER['HTTP_REFERER']}'" />
                            </td>
                        </tr>
			</table>
                 </form>
                
            </div>
            
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<style>
    #order-edit-table tr{
       height: 35px;
    }
    .refund-button{
        padding: 1px 6px;
font-weight: bold;
color: #ffffff;
border: 0;
cursor: pointer;
background: #85c422;
font-size: 16px;
font-family: 'Gudea-Bold', arial;
text-transform: capitalize;
margin-left: 5px;
    }
    </style>
    <script>
        jQuery('#form-orderitem-edit').submit(function(){
            c = confirm(jQuery('#submit-orderitem').attr('ask'));
            if(c == false){
                        event.preventDefault();
                        event.stopPropagation();
            }
        });
        $(document).ready(function() {
    $(".quan-numeric").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    
   $(".quan-numeric").blur(function(e){
        
        default_val = $(this).attr('default');
        qty = $(this).val();
        if(qty == 0 ){
            alert('Please Refund the item.');
            $(this).val(default_val);
            e.preventDefault();
        }
        else if(qty > default_val){
            alert('Quantity cant be increased');
            $(this).val(default_val);
            e.preventDefault();
        }
        
    });
});
    </script>
<!--{include manage_footer}-->
