<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_coupon('advance')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2> Advance Coupon </h2>					
				</div>
				<div class="sect customize">
					<form method="get">deal ID:<input  style="width:100px" type="text" name="tid" value="${htmlspecialchars($tid)}" class="h-input" />&nbsp;biz ID：<input  style="width:100px" type="text" name="pid" value="${htmlspecialchars($pid)}" class="h-input" />&nbsp;symbol:<input  style="width:100px" type="text" name="code" value="${htmlspecialchars($code)}" class="h-input" />&nbsp;state：<select name="state">${Utility::Option($usage, $state, 'all')}</select>&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/>&nbsp;<input type="submit" name="download" value="download" class="formbutton"  style="padding:1px 6px;"/><form>
				</div>	
                <div class="sect disabletop">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="120">ID</th>
                                            <th width="80">Create Time</th>
                                            <th width="150">Deal</th>
                                            <th width="380">Partner</th>
                                            
                                        </tr>
					<!--{loop $coupons $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td nowrap>${date('Y-m-d',$one['create_time'])}</td>
						<td nowrap>{$teams[$one['team_id']]['title']}</td>
						<td>{$one['partner_id']}<!--{if $one['partner_id']}-->&nbsp;({$partners[$one['partner_id']]['title']})<!--{/if}--></td>
						
					</tr>
					<!--{/loop}-->
					<tr><td colspan="7">{$pagestring}</td></tr>
                    </table>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
