<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:600px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span></h3>
	<div style="overflow-x:hidden;padding:10px;" id="dialog-order-id" oid="{$order['id']}">
	<table width="96%" align="center" class="coupons-table">
		<tr><td width="80"><b>user info：</b></td><td>{$user['username']} / {$user['email']}</td></tr>
		<tr><td><b>deal name：</b></td><td>{$team['title']}</td></tr>
		<tr><td><b>quantity：</b></td><td>{$order['quantity']}</td></tr>
	<!--{if $order['condbuy']}-->
		<tr><td><b>options：</b></td><td>{$order['condbuy']}</td></tr>
	<!--{/if}-->
		<tr><td><b>payment state：</b></td><td>{$paystate[$order['state']]}</td></tr>
		<tr><td><b>deal No.：</b></td><td>{$order['pay_id']}</td></tr>
		<tr><td><b>payment detail：</b></td><td><!--{if $order['credit']}-->Paid <b>${moneyit($order['credit'])}</b> {$currency} with balance <!--{/if}-->&nbsp;<!--{if $order['service']!='credit'&&$order['money']}-->{$payservice[$order['service']]}Payment <b>${moneyit($order['money'])}</b> $<!--{/if}--><!--{if $order['card_id']}-->&nbsp;Vouchers:<b>${moneyit($order['card'])}</b> Points<!--{/if}--></td></tr>
		<tr><td><b>ordering time：</b></td><td>${date('Y-m-d H:i', $order['create_time'])} / ${date('Y-m-d H:i', $order['pay_time'])}</td></tr>

	<!--{if $user['mobile']}-->
		<tr><td><b>mobile：</b></td><td>{$user['mobile']}</td></tr>
	<!--{/if}-->
	
	<!--{if $user['qq']}-->
		<tr><td><b>QQ：</b></td><td>{$user['qq']}</td></tr>
	<!--{/if}-->

	<!--{if $user['msn']}-->
		<tr><td><b>MSN：</b></td><td>{$user['msn']}</td></tr>
	<!--{/if}-->
	<!--{if $order['remark']}-->
		<tr><td width="80"><b>buyer's notes：</b></td><td>${htmlspecialchars($order['remark'])}</td></tr>
	<!--{/if}-->

	<!--{if $team['delivery']=='express'}-->
		<tr><th colspan="2"><hr/></th></td>
		<tr><td width="80"><b>receiver：</b></td><td>{$order['realname']}</td></tr>
		<tr><td><b>mobile number：</b></td><td>{$order['mobile']}</td></tr>
		<tr><td><b>address：</b></td><td>{$order['address']}</td></tr>
		<tr><th colspan="2"><hr/></th></td>
		<tr><td><b>express info：</b></td><td><select name="express_id" id="order-dialog-select-id">${Utility::Option($option_express, $order['express_id'], 'please select express')}</select>&nbsp;<input type="text" name="in" id="order-dialog-input-id" value="{$order['express_no']}" style="width:150px;" maxLength="32" />&nbsp;&nbsp;<input type="submit" value="Submit" onclick="return X.manage.orderexpress();"/></td></tr>
	<!--{/if}-->

	<!--{if $order['state']=='pay'}-->
		<tr><th colspan="2"><hr/></th></td>
		<tr>
                    <td><b>refund policy：</b></td>
                    <td>
                        <select name="refund" id="order-dialog-refund-id">${Utility::Option($option_refund, '', 'please select a way of refunding')}</select>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                <input name="reason_refund" id="reason_refund" type="text" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="yes" onclick="return X.manage.orderrefund();"/></td></tr>
	<!--{/if}-->

	</table>
	</div>
</div>
