<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:700px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Close</span>Deal Details</h3>
	<div style="overflow-x:hidden;padding:10px;">
	<table width="96%" align="center" cellpadding="3" class="coupons-table">
		<tr><td width="80" nowrap="nowrap"><b>Deal Title</b></td>
		  <td width="15">&nbsp;</td>
	    <td><b>{$team['title']}</b></td></tr>
		<tr><td nowrap="nowrap"><b>Begin Time</b></td>
		  <td>&nbsp;</td>
	    <td>Start:<b>${date('Y-m-d',$team['begin_time'])}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As Of:<b>${date('Y-m-d',$team['end_time'])}</b></td></tr>

		<tr><td nowrap="nowrap"><b>Current State</b></td>
		  <td>&nbsp;</td>
	    <td><span style="color:#F00;font-weight:bold;">${state_explain($team)}</span><!--{if $team['close_time']&&$team['now_number']>=$team['min_number']&&$team['delivery']!='express'}-->&nbsp;&nbsp;<span style="color:#F8C;font-weight:bold;"><!--{if ($team['teamcoupon'])}-->&lt;{$INI['system']['couponname']}Not Finished&gt;<!--{else}-->&lt;{$INI['system']['couponname']}Have Been issued&gt;<!--{/if}--></span><!--{/if}--></td></tr>
		<tr><td nowrap="nowrap"><b>Quote</b></td>
		  <td>&nbsp;</td>
	    <td>Minimum:{$team['min_number']}&nbsp;&nbsp;&nbsp;&nbsp;Maximum${$team['max_number']==0?'No Limit':$team['max_number']}</td></tr>
		<tr><td nowrap="nowrap"><b>Deal Pricing:</b></td>
		  <td>&nbsp;</td>
	    <td>Market Price<b>${moneyit($team['market_price'])}</b>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Price<b>${moneyit($team['team_price'])}</b>&nbsp;$</td></tr>
		<tr><th colspan="3" nowrap="nowrap"><hr/></th></td>
		<tr><td nowrap="nowrap"><b>Deal situation</b></td>
		  <td>&nbsp;</td>
		  <td><b>{$team['now_number']}</b>&nbsp;，The actual total&nbsp;<b>{$paycount}</b>&nbsp;People bought&nbsp;<b>{$buycount}</b>&nbsp;Bought Times
    </td></tr>
		<tr><td nowrap="nowrap"><b>Payment statistics</b></td>
		  <td>&nbsp;</td>
	    <td>Online payment:<b>${moneyit($onlinepay)}</b>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;Balance of payments:<b>${moneyit($creditpay)}</b>&nbsp;$</td></tr>
		<tr><td nowrap="nowrap"><b>Account balance:</b></td>
		  <td>&nbsp;</td>
	    <td>Total payments:<b>${moneyit($onlinepay+$creditpay)}</b>&nbsp;$&nbsp;&nbsp;&nbsp;&nbsp;Credit vouchers:<b>${moneyit($cardpay)}</b>&nbsp;$</td></tr>
		<tr><th colspan="3"><hr/></th></td>
      <tr>
        <td><b>User Details</b></td>
        <td>ID <b>{$suser['id']}</b>&nbsp;Username&nbsp;<b>{$suser['username']}</b>&nbsp;Mobile no.&nbsp;<b>{$suser['mobile']}</b>&nbsp;Email&nbsp;<b>{$suser['email']}</b></td>
      </tr>			
		<tr><td><b>Validation</b> :</td>
		  <td>&nbsp;</td>
		  <td><span style="color:#F00;font-weight:bold;"> <!--{if ($team['legitimate']) == 0}--> Under process
				<!--{elseif ($team['legitimate']) == 1}--> validated
				<!--{else}--> rejected <!--{/if}--></span>
		</td></tr>
	</table>
	</div>
</div>
