<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_contest('winner')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>contest winner</h2>
                    <ul class="filter">
						<li><form action="/manage/contest/winner.php" method="get">date:<input type="text" name="date" class="h-input" value="">(yyyy-mm-dd)&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/><form></li>
					</ul>
				</div>
                <div class="sect">
                  <br>
                    <b>Date:</b> {$date}
		&nbsp;                  
                    <b>Winner:</b> {$random_winner['user_email']}
                  
                  
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
