<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('shipping')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Shipping fares</h2></div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th>
                                            <th width="320">Title</th>
                                            <th width="60">Shipping Company</th>
                                            <th width="120">Shipping Weight(kg)</th>
                                            <th width="60">Shipping Length</th>
                                            <th width="60">Shipping Height</th>
                                            <th width="60">Shipping Width</th>
                                            <th width="130">Shipping Price</th>
                                        </tr>
					<!--{loop $shipment_fares $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td style="text-align:left;">
                                                    {$one['fares_title']}
                                                </td>
						<td nowrap>{$one['fares_type']}</td>
						<td nowrap>{$one['fares_weight']}</td>
                                                <td nowrap>{$one['fares_length']}</td>
                                                <td nowrap>{$one['fares_height']}</td>
						<td nowrap>{$one['fares_width']}</td>
                                                <td nowrap>{$one['fares_price']}</td>
						<td class="op" nowrap>
                                                    <a href="/manage/system/shipping_edit.php?id={$one['id']}">edit</a>
                                                    ｜
                                                    <a href="/manage/system/shipping.php?action=remove&id={$one['id']}"  ask="sure to delete this fares?">delete</a>
                                                </td>
					</tr>
					<!--{/loop}-->
					
                    </table>
				</div>
                <a href="/manage/system/shipping_edit.php">
                    <input type="button" id="add_field" value="Add" class="formbutton" style="margin:10px 0 0 120px;" />
                </a>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
