<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team('team')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				<!--{if $team['id']}-->
					<h2>Edit deals</h2>
					<ul class="filter">${current_manageteam('editseo', $team['id'])}</ul>
				<!--{else}-->
					<h2>Create new deals</h2>
				<!--{/if}-->
				</div>
                <div class="sect">
				<form id="-user-form" method="post" action="/manage/team/editseo.php?id={$team['id']}" enctype="multipart/form-data" class="validator">
					<input type="hidden" name="id" value="{$team['id']}" />
					<div class="wholetip clear"><h3>1、SEO info</h3></div>
					<div class="field">
						<label>SEO title</label>
						<input type="text" size="30" name="seo_title" id="team-create-title" class="f-input" value="{$team['seo_title']}" />
					</div>
					<div class="field">
						<label>SEO keywords</label>
						<input type="text" size="30" name="seo_keyword" id="team-create-keyword" class="f-input" value="{$team['seo_keyword']}" />
					</div>
					<div class="field">
						<label>SEO description</label>
						<div style="float:left;"><textarea cols="45" rows="5" name="seo_description" id="team-create-description" class="f-textarea">${htmlspecialchars($team['seo_description'])}</textarea></div>
					</div>
					<input type="submit" value="OK，submit" name="commit" id="leader-submit" class="formbutton" style="margin:10px 0 0 120px;"/>
				</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
