<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team('team')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2>Edit Stock</h2>
					<ul class="filter">${mcurrent_order('stock_status')}</ul>
				</div>
                <div class="sect">
				<form id="-user-form" method="post" action="" enctype="multipart/form-data" class="validator">
					<input type="hidden" name="type" value="{$type}" />
                                        <!--{if isset($_GET['page']) }-->
                                        <input type="hidden" name="page" value="${urlencode($_GET['page'])}" />
                                        <!--{/if}-->
                                        <input type="hidden" name="team_option_id" value="{$team_option['id']}" />
					<div class="wholetip clear">
                                            <!--{if $type == 'deal'}-->
                                            
                                            <h3>Deal ID: {$team_option['id']}</h3>
                                            <h3>Deal Title: {$team_option['title']}</h3>
                                            <!--{/if}-->
                                            <!--{if $type == 'option'}-->
                                            <h3>Deal ID: {$team['id']}</h3>
                                            <h3>Deal Title: {$team['title']}</h3>
                                            <h3>Option ID: {$team_option['id']} 
                                            <h3>Option Title:  {$team_option['title']}</h3>
                                            <!--{/if}-->
                                        </div>
					<div class="field">
						<label>Current Stock: </label>
                                                <input type="text" disabled="disabled" size="10" name="stock_count" class="number" value="${intval($team_option['stock_count'])}" maxLength="6" datatype="number" require="true" />
					</div>
                                  
					<div class="field">
						<label> Order Booked: </label>
                                                <input type="text" disabled="disabled" size="10" name="order_booked" class="number" value="${intval($order_item_count)}" maxLength="6" datatype="number" require="true" />
					</div>
                                        
                                        <div class="field">
						<label>Add Stock </label>
                                                <input type="text" size="10" name="add_stock" class="number" value="${intval(add_stock)}" maxLength="6" datatype="number" require="true" />
					</div>
					
				
					<input type="submit" value="Save" name="commit" id="leader-submit" class="formbutton" style="margin:10px 0 0 120px;"/>
				</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script type="text/javascript">
window.x_init_hook_teamchangetype = function(){
	X.team.changetype("{$team['team_type']}");
};
window.x_init_hook_page = function() {
	X.team.imageremovecall = function(v) {
		jQuery('#team_image_'+v).remove();
	};
	X.team.imageremove = function(id, v) {
		return !X.get(WEB_ROOT + '/ajax/misc.php?action=imageremove&id='+id+'&v='+v);
	};
};
</script>
<!--{include manage_footer}-->
