<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="system">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('bulletin')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>System bulletin</h2></div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="/manage/system/bulletin.php">
					<input type="hidden" name="id" value="{$system['id']}" />
						<div class="wholetip clear"><h3>1、Website bulletin</h3></div>
                        <div class="field">
                            <label>website bulletin</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="bulletin[0]" id="system-create-location" class="f-textarea editor">${htmlspecialchars($INI['bulletin'][0])}</textarea></div>
                        </div>
						<div class="wholetip clear"><h3>2、City bulletin</h3></div>
					<!--{loop $hotcities $one}-->
                        <div class="field">
                            <label>{$one['name']}</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="bulletin[{$one['id']}]" id="system-create-location" class="f-textarea editor">${htmlspecialchars($INI['bulletin'][$one['id']])}</textarea></div>
						</div>
					<!--{/loop}-->
                        <div class="act">
                            <input type="submit" value="Save" name="commit" id="system-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
