<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>${$goods?'edit':'Get'} credits & convert them into goods</h3>
	<div style="overflow-x:hidden;padding:10px;">
	<p>Goods title and credit must follow a unique grouping criterion.</p>
<form method="post" action="/manage/credit/edit.php" class="validator" enctype="multipart/form-data" >
	<input type="hidden" name="id" value="{$goods['id']}" />
	<table width="96%" class="coupons-table">
		<tr><td width="80" nowrap><b>Goods title：</b></td><td><input type="text" name="title" value="{$goods['title']}" require="true" datatype="require" class="f-input" /></td></tr>
		<tr><td nowrap><b>Credits：</b></td><td><input type="text" name="score" value="${abs(intval($goods['score']))}" maxLength="10" require="true" datatype="number" class="f-input" /></td></tr>
		<tr><td nowrap><b>Quantity：</b></td><td><input type="text" name="number" value="${abs(intval($goods['number']))}" class="f-input" /></td></tr>
		<tr><td nowrap><b>Picture：</b></td><td><input type="file" name="upload_image" class="f-input" /></td></tr>
		<tr><td nowrap><b>Sort：</b></td><td><input type="text" name="sort_order" value="${intval($goods['sort_order'])}" class="f-input" /></td></tr>
		<tr><td nowrap><b>Display：</b></td><td><input type="text" name="display" value="{$goods['display']}" class="f-input" /></td></tr>
		<tr><td colspan="2" height="10">&nbsp;</td></tr>
		<tr><td></td><td><input type="submit" value="yes" class="formbutton" /></td></tr>
	</table>
</form>
	</div>
</div>
