<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_vote('feedback')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>“{$question['title']}”feedback detail</h2>
					<ul class="filter">
						<li><a href="feedback.php?action=question_list">list of survey items being conducted</a></li>
						<li><a href="feedback.php?action=question_list&show_all=1">list of all questions</a></li>
						<li><a href="feedback.php?action=list">detailed list of feedback</a></li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr>
						<th width="40">ID</th>
						<th width="300">Name</th>
						<th width="100">Feedback(person time)</th>
						<th width="100">State</th>
						<th width="100">Sort</th>
						<th width="50">Operation</th>
					</tr>
					<!--{if !$options_list}-->
					<tr>
						<td colspan=5 align="center">no options</td>
					</tr>
					<!--{/if}-->
					<!--{loop $options_list $index $one}-->
						<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
							<td>{$one['id']}</td>
							<td>${$one['is_input'] ? '<font color="red">'.$one['name'].'</font>' : $one['name']}</td>
							<td>{$one['feedback']}</td>
							<td>${$one['is_show'] ? 'display' : 'hide'}</td>
							<td>{$one['order']}</td>
							<td>${$one['is_input'] ? '<a href="feedback.php?action=input_list&options_id='.$one['id'].'">check</a>' : ''}</td>
						</tr>
						${$one['is_br'] ? '<tr><td colspan=5>&nbsp;</td></tr>' : ''}
					<!--{/loop}-->
                    </table>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
