<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_vote('question')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>“{$question['title']}”Add options</h2>
					<ul class="filter">
						<li>
							<a href="options.php?action=list&question_id={$question_id}">List of options</a>
						</li>
						<li>
							<a href="question.php">List of questions</a>
						</li>
					</ul>
				</div>
                <div class="sect">
					<form method="post" action="?action=${$action=='add' ? 'add_submit' : 'edit_submit'}">
						<div class="field">
                            <label>name</label>
                            <input type="text" size="30" name="options[name]" class="f-input" value="{$options['name']}"/>
                            <span class="inputtip">no more than 60 characters</span>
                        </div>
						<div class="field">
                            <label>starting in a new line or not</label>
                            <input type="radio" name="options[is_br]" value="1" <!--{if $options['is_br']}-->checked<!--{/if}-->/>yes
                            <input type="radio" name="options[is_br]" value="0" <!--{if !$options['is_br']}-->checked<!--{/if}-->/>no
                        </div>
						<div class="field">
                            <label>with an input frame or not</label>
                            <input type="radio" name="options[is_input]" value="1" <!--{if $options['is_input']}-->checked<!--{/if}-->/>yes
                            <input type="radio" name="options[is_input]" value="0" <!--{if !$options['is_input']}-->checked<!--{/if}-->/>no
                        </div>
						<div class="field">
                            <label>display or not</label>
                            <input type="radio" name="options[is_show]" value="1" <!--{if $options['is_show']}-->checked<!--{/if}-->/>display
                            <input type="radio" name="options[is_show]" value="0" <!--{if !$options['is_show']}-->checked<!--{/if}-->/>hide
                        </div>
						<div class="field">
                            <label>sort</label>
                            <input type="text" size="30" name="options[order]" class="number" value="{$options['order']}"/>
                        </div>
                        <div class="act">
							<input type="hidden" name="question_id" value="{$question['id']}"/>
							<input type="hidden" name="options[id]" value="{$options['id']}"/>
                            <input type="submit" value="<!--{if $action=='add'}-->add<!--{else}-->edit<!--{/if}-->" name="commit" class="formbutton"/>
                        </div>
					</form>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
