<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('upgrade')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>DailyHypes (${SYS_VERSION}_${SYS_SUBVERSION})</h2>
				</div>
                <div class="sect">
					<div class="wholetip clear"><h3>Latest version{$newversion}_{$newsubversion}&nbsp;[<!--{if $isnew}--><span style="color:green">yes</span><!--{else}--><span style="color:red">no</span><!--{/if}-->]&nbsp;[<a href="/manage/system/upgrade.php?action=db">Upgrade the database scheme</a>]</h3></div>
				<!--{if $install}-->
					<div class="wholetip clear"><h3>latest release</h3></div>
					<div style="margin:0 20px;">
						<!--{loop $install $v $l}-->
						<p><a href="{$l}">Wroupon_{$v}</a></p>
						<!--{/loop}-->
					</div>
				<!--{/if}-->
				<!--{if $upgrade}-->
					<div class="wholetip clear"><h3>Upgrade release</h3></div>
					<div style="margin:0 20px;">
					<!--{loop $upgrade $v $l}-->
						<p><a href="{$l}">Wroupon_Upgrade_{$v}</a></p>
					<!--{if $upgradedesc[$v]}-->
						<p style="text-index:2em;">{$upgradedesc[$v]}</p>
					<!--{/if}-->
					<!--{/loop}-->
					</div>
				<!--{/if}-->
				<!--{if $patch}-->
					<div class="wholetip clear"><h3>Patch</h3></div>
					<div style="margin:0 20px;">
					<!--{loop $patch $v $l}-->
						<p><a href="{$l}">Wroupon_Patch_${SYS_VERSION}_{$v}</a></p>
					<!--{if $patchdesc[$v]}-->
						<p style="text-index:2em;">{$patchdesc[$v]}</p>
					<!--{/if}-->
					<!--{/loop}-->
					</div>
				<!--{/if}-->
					<div class="wholetip clear"> <h3> upgrade steps </ h3> </ div>
<div style="margin:0 20px;">
<p> 1, first upgrade the database structure, <b> to upgrade the database structure will not affect the existing data </ b> </ p>
<p> 2, download the upgrade package, direct overwrite existing data, foreground templates are subject to change, please note that a backup of your modified files. </p>
<p> 3, paper covers, complete the upgrade. </p>
					</div>

					<div class="wholetip clear"><h3> software information</h3></div>
					<div style="margin:0 20px;">
					<!--{loop $software $n $meta}-->
						<p>{$n}：<!--{if $meta[0]=='link'}--><a href="{$meta[1]}" target="_blank">{$meta[1]}</a><!--{else}-->{$meta[1]}<!--{/if}--></p>
					<!--{/loop}-->
					</div>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
