<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_vote('feedback')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>${$show_all ? 'list of all questions' : 'list of questions being surveyed'}</h2>
					<ul class="filter">
						<li>${$show_all ? '<a href="feedback.php?action=question_list">list of questions being surveyed</a>' : '<a href="feedback.php?action=question_list&show_all=1">list of all questions</a>'}</li>
						<li><a href="feedback.php?action=list">detailed list of feedback</a></li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr>
						<th width="40">ID</th>
						<th width="400">Title</th>
						<th width="100">Feedback(persons times)</th>
						<th width="100">State</th>
						<th width="100">Sort</th>
						<th width="300">Operations</th>
					</tr>
					<!--{if !$question_list}-->
					<tr>
						<td colspan=6 align="center">no questions</td>
					</tr>
					<!--{/if}-->
					<!--{loop $question_list $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>{$one['title']}</td>
						<td>{$one['feedback']}</td>
						<td>${$one['is_show'] ? 'dispaly' : 'hide'}</td>
						<td>{$one['order']}</td>
						<td class="op">
							<a href="feedback.php?action=question_view&question_id={$one['id']}">detail</a>
						</td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="8">{$pagestring}</tr>
                    </table>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
