<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_vote('feedback')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>list of feedback</h2>
					<ul class="filter">
						<li><a href="feedback.php?action=question_list">list of questions being surveyed</a></li>
						<li><a href="feedback.php?action=question_list&show_all=1">list of all questions</a></li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr>
						<th width="40">ID</th>
						<th width="200">User</th>
						<th width="100">IP</th>
						<th width="150">Time</th>
						<th width="200">Operation</th>
					</tr>
					<!--{if !$feedback_list}-->
					<tr>
						<td colspan=5 align="center">no feedback</td>
					</tr>
					<!--{/if}-->

					<!--{loop $feedback_list $index $one}-->
						<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
							<td>{$one['id']}</td>
							<td>${$one['username'] ? '<a href="../user/edit.php?id='. $one['user_id'] .'">' . $one['username'] . '</a>' : 'guest'}</td>
							<td>{$one['ip']}</td>
							<td>${date("Y-m-d H:i:s", $one['addtime'])}</td>
							<td class="op">
								<a href="feedback.php?action=view&id={$one['id']}">check</a>
								<a href="javascript: if(confirm('sure to delete？')) window.location.href = 'feedback.php?action=del&id={$one['id']}'">delete</a>
							</td>
						</tr>
					<!--{/loop}-->
					<tr><td colspan="8">{$pagestring}</tr>
                    </table>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
