<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:380px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">close</span>SMS sending：{$mobile}</h3>
	<div style="overflow-x:hidden;padding:10px;">
		<p style="margin:10px 0;">Please type SMS content</p>
		<textarea id="dialog_content" style="width:340px;margin-bottom:10px;padding:4px;" rows="8"></textarea>
		<input type="submit" value="send" class="formbutton" onclick="misc_smssend();" />
	</div>
</div>
<script>
function misc_smssend() {
	var content = jQuery.trim(jQuery('#dialog_content').val());
	if (!content) return alert('please type SMS content');
	X.get(WEB_ROOT + '/ajax/misc.php?action=smssend&v={$mobile}&content=' + encodeURIComponent(content));
}

function call_succ() {
	alert('SMS to：{$mobile} is succussfully sent！');
	X.boxClose();
}

function call_fail(c) {
	alert('SMS to：{$mobile} is not sent，error code：' + c);
}
</script>
