<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${current_account('/order/index.php')}</ul>
	</div>
    <div id="content" class="coupons-box clear">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>${I(My_Orders)}</h2>
                    <ul class="filter">
						<li class="label"> </li>
						${current_order_index($selector)}
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="380">${I(DName)}</th><th width="60">${I(Quantity)}</th><th width="60">${I(Total)}</th><th width="60">Statut</th><th width="60">${I(Operation)}</th></tr>
					<!--{loop $orders $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td style="text-align:left;"><a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">
							
							<!--{if $lang=="en"}-->{$teams[$one['team_id']]['title']}<!--{elseif $lang =='fr'}--> {$teams[$one['team_id']]['title_fr']}<!--{/if}-->
							</a></td>
							<td>{$one['quantity']}</td>
							<td><span class="money">{$currency}</span>${moneyit($one['origin'])}</td>
							<td><!--{if $one['state']=='pay'}-->${I(Paid)}<!--{elseif $teams[$one['team_id']]['close_time']>0}-->${I(Expired)}<!--{else}-->${I(ToBePaid)}<!--{/if}--><!--{/if}--></td>
							<td class="op"><!--{if ($one['state']=='unpay'&&$teams[$one['team_id']]['close_time']==0)}--><a href="/order/check.php?id={$one['id']}">${I(Pay)}</a><!--{elseif $one['state']=='pay'}--><a href="/order/view.php?id={$one['id']}">${I(Detail)}</a><!--{/if}--></td>
						</tr>
					<!--{/loop}-->
						<tr><td colspan="5">{$pagestring}</td></tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_aboutorder}-->
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
