<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    <div id="order-pay-return" class="box">
        <div class="box-top"></div>
        <div class="box-content">
                        <div class="head success">
                <h2>Congratulations，payment succeeded！</h2>
            </div>
            <div class="sect">
            <p class="nologin-tip">Payment succeeded, please<a href="javascript:;" onclick="window.close();return false;">close this window</a></p>            </div>
                    </div>
        <div class="box-bottom"></div>
    </div>
</div>
<div id="sidebar">
    <div class="sbox">
        <div class="sbox-top"></div>
        <div class="sbox-content">
            <div class="side-tip">
                <h3 class="first">invitation rebate</h3>
				<p>When your invited friend buys for the first time, you will receive&nbsp;${abs($INI['system']['invitecredit'])}&nbsp;{$currency}rebate<br />
                <a href="/account/referrals.php" target="_blank">Click for your specified invitation link</a>
                </p>
            </div>
        </div>
        <div class="sbox-bottom"></div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
