<!--{include html_header}-->
<div id="main">
	<div class="container">
		<div id="primary">
		<div class="success"><h2>
		<!--{if $lang=="en"}-->
			Your order has been paid successfully!
		<!--{elseif $lang =='fr'}--> 
			Votre commande a &eacute;t&eacute; trait&eacute;e avec succ&egrave;s!
		<!--{/if}-->
		</h2> </div>
		<div class="sect">
			<p class="error-tip"><a href="/order/view.php?id={$order_id}"> ${I('OrderDetail')}</a></p>
		</div>
		</div> <!-- primary end -->
		<!--{include sidebar}-->
	</div> <!-- container end -->
</div> <!-- main end -->
<!--{include html_footer}-->
