<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="order-detail">
	<div class="dashboard" id="dashboard">
		<ul>${current_account(null)}</ul>
	</div>
    <div id="content">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>${I('Details')}</h2>
                </div>
                <div class="sect">

<table cellspacing="0" cellpadding="0" border="0" class="data-table">
    <tr>
        <th>${I('OrderNo')}.:</th>
        <td class="orderid"><strong>{$order['id']}</strong></td>
        <th>${I('OrderTime')}:</th>
        <td><span>${date('Y-m-d H:i',$order['create_time'])}</span></td>
    </tr>
<!--{if $order['condbuy']}-->
    <tr>
        <th>${I('Order Options')}:</th>
        <td colspan="3" class="status">{{$order['condbuy']}}</td>
    </tr>
<!--{/if}-->
<!--{if $order['remark']}-->
    <tr>
        <th>${I('notes')}:</th>
        <td colspan="3" class="status">${htmlspecialchars($order['remark'])}</td>
    </tr>
<!--{/if}-->
</table>

<table cellspacing="0" cellpadding="0" border="0" class="info-table">
    <tr>
        <th class="left" width="auto">${I('Deal_Name')}</th>
        <th width="35">${I('Price')}</th>
        <th width="10"></th>
        <th width="45">${I('Quantity')}</th>
        <th width="10"></th>
        <th width="45">${I('Total')}</th>
        <th width="150">${I('State')}</th>
    </tr>
    <tr>
        <td class="left"><a href="/team.php?id={$order['team_id']}" target="_blank">
			<!--{if $lang=="en"}-->
			{$team['title']}
			<!--{elseif $lang =='fr'}-->
			{$team['title_fr']}
			<!--{/if}-->		
		</a></td>
        <td><span class="money">{$currency}</span>${moneyit($order['price'])}</td>
        <td>x</td>
        <td>{$order['quantity']}</td>
        <td>=</td>
        <td class="total"><span class="money">{$currency}</span>${moneyit($order['price']*$order['quantity'])}</td>
        <td class="status">
			<!--{if !$express&&!$order['card_id']}-->
				<!--{if empty($coupons)}-->
					${I('WFDTip')}
				<!--{else}-->
					${I('DealSucc')}
				<!--{/if}-->
			<!--{else}-->-<!--{/if}-->
			</td>
    </tr>

<!--{if $order['card_id']}-->
    <tr>
        <td class="left">card:{$order['card_id']}</td>
        <td>${moneyit($order['card'])}</td>
        <td>x</td>
        <td>1</td>
        <td>=</td>
        <td class="total"><span class="money">{$currency}</span>${moneyit($order['card'])}</td>
        <td class="status">-</td>
    </tr>
<!--{/if}-->

<!--{if $express}-->
    <tr>
        <td class="left">${I('express')}</td>
        <td>${moneyit($team['fare'])}</td>
        <td>x</td>
        <td>1</td>
        <td>=</td>
        <td class="total"><span class="money">{$currency}</span>${moneyit($team['fare'])}</td>
        <td class="status">-</td>
    </tr>
<!--{/if}-->

<!--{if $express||$order['card_id']}-->
    <tr>
        <td class="left"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"><span class="money">{$currency}</span>${moneyit($order['origin'])}</td>
        <td class="status">${I('DealSucc')}</td>
    </tr>
<!--{/if}-->

</table>

<!--{if $team['delivery']=='coupon'}-->
<table cellspacing="0" cellpadding="0" border="0" class="data-table">
    <tr>
        <th>{$INI['system']['couponname']}:</th>
        <td class="other-coupon">
		<!--{if empty($coupons)}-->
			<!--{if $lang=="en"}-->
				{$INI['system']['couponname']} would be sent to customers automatically after the deal tipped
			<!--{elseif $lang =='fr'}-->
				vous recevrez une confirmation par e-mail une fois l'offre valid&eacute;e
			<!--{/if}-->	
		<!--{/if}-->
		<!--{loop $coupons $one}-->
		<p>{$one['id']} - {$one['secret']}</p>
		<!--{/loop}-->
		</td>
    </tr>
    <tr>
        <th>${I('HowToUse')}:</th>
        <td>
			<!--{if $lang=="en"}-->
			Click on "My Bons" tab, print your coupon and show it to the partner
			<!--{elseif $lang =='fr'}-->
			Pour b&eacute;n&eacute;ficier de votre prestation, cliquez sur l'onglet "Mes Bons", imprimez votre coupon et pr&eacute;sentez le chez le partenaire
			<!--{/if}-->		
		
		
		</td>
    </tr>
</table>
<!--{elseif $team['delivery']=='express'}-->
<table cellspacing="0" cellpadding="0" border="0" class="data-table">
    <tr>
        <th>${I('express')}:</th>
	<!--{if $order['express_id']}-->
        <td>{$option_express[$order['express_id']]}:{$order['express_no']}</td>
	<!--{else}-->
        <td class="other-coupon">
		<!--{if $lang=="en"}-->
			please wait for the delivery.
		<!--{elseif $lang =='fr'}-->
			vous recevrez une confirmation par e-mail une fois l'offre valid&eacute;e
		<!--{/if}-->			
		</td>
	<!--{/if}-->
    </tr>
    <tr>
        <th>${I('receiver')}:</th>
        <td>{$order['realname']}</td>
    </tr>
    <tr>
        <th>${I('Address')}:</th>
        <td>{$order['address']}</td>
    </tr>
    <tr>
        <th>${I('Mobile')}:</th>
        <td>{$order['mobile']}</td>
    </tr>
</table>
<!--{elseif $team['delivery']=='pickup'}-->
<table cellspacing="0" cellpadding="0" border="0" class="data-table">
    <tr>
        <th>${I('self delivery')}:</th>
        <td class="other-coupon"></td>
    </tr>
    <tr>
        <th>${I('Location')}:</th>
        <td>{$team['address']}</td>
    </tr>
    <tr>
        <th>${I('Phone_Number')}:</th>
        <td>{$team['mobile']}</td>
    </tr>
</table>
<!--{/if}-->
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
