<!--{if $order['service']=='credit'}-->
<form id="order-pay-credit-form" method="post" sid="{$order_id}">
	<input type="hidden" name="order_id" value="{$order_id}" />
	<input type="hidden" name="service" value="credit" />
	<input type="submit" class="formbutton gotopay" value="pay with account balance" />
</form>
<!--{elseif $order['service']=='paypal'}-->
<form method="post" action="{$post_url}" sid="{$order['id']}"  id="form1" name="form1" style="display:none;">
	<!-- PayPal Configuration -->
	<input type="hidden" name="business" value="{$Business}">
	<input type="hidden" name="cmd" value="{$cmd}">
	<input type="hidden" name="return" value="{$return_url}">
	<input type="hidden" name="cancel_return" value="{$cancel_url}">
	<input type="hidden" name="notify_url" value="{$notify_url}">
	<input type="hidden" name="rm" value="2">
	<input type="hidden" name="currency_code" value="{$currency_code}">
	<input type="hidden" name="lc" value="{$location}">
	<input type="hidden" name="charset" value="utf-8" />

	<!-- Payment Page Information -->
	<input type="hidden" name="no_shipping" value="1">
	<input type="hidden" name="no_note" value="1">
        <input type="hidden" name="paymentaction" value="{$paymentaction}" />

	<!-- Product Information -->
	<input type="hidden" name="item_name" value="{$item_name}">
	<input type="hidden" name="amount" value="{$amount}">
	<input type="hidden" name="quantity" value="1" AUTOCOMPLETE="OFF">
	<input type="hidden" name="item_number" value="{$item_number}">

	<!-- Customer Information -->
	<input type="hidden" name="first_name" value="{$login_user['realname']}">
	<input type="hidden" name="last_name" value="">
	<input type="hidden" name="address1" value="{$login_user['address']}">
	<input type="hidden" name="address2" value="">

	<input type="hidden" name="zip" value="{$login_user['zipcode']}">
	<input type="hidden" name="email" value="{$login_user['email']}">
	<img src="/static/css/i/paypal.png" /><br/><input type="submit" class="formbutton gotopay" value="Go to PayPal" style="vertical-align:middle;"/>
</form>
<!--{elseif $order['service']=='post'}-->
<form method="post" action="https://e-payment.postfinance.ch/ncol/prod/orderstandard.asp" id="form1" name="form1" style="display:none;">

<input type="hidden" name="PSPID" value="{$uid}"  AUTOCOMPLETE="OFF">
<input type="hidden" name="orderID" value="{$pay_id}" >
<input type="hidden" name="amount" value="{$amount}" >
<input type="hidden" name="currency" value="{$currency}" >
<input type="hidden" name="Operation" value="{$operation}">
<input type="hidden" name="accepturl" value="{$accepturl}">
<input type="hidden" name="cancelurl" value="{$cancelurl}">
<input type="hidden" name="LANGUAGE" value="fr_FR">

<input type="hidden" name="SHASign" value="{$hash}">
<!-- post payment redirection:-->


<input align="middle"  type="submit" value="Proceed To Payment" id="submit2" name="submit2">
</form>
<!--{elseif $order['service']=='swissbilling'}-->
<form method="post" action="swissbilling/swissbilling.php" id="form1" name="form1" style="display:none;">

<input type="hidden" name="order_id" value="{$order_id}">
<input type="hidden" name="pay_id" value="{$pay_id}" >
<input type="hidden" name="amount" value="{$order['origin']}" >
<input type="hidden" name="firstname" value="{$order['realname']}" >
<input type="hidden" name="lastname" value="{$order['lastname']}" >
<input type="hidden" name="adr1" value="{$order['address']}" >
<input type="hidden" name="city" value="{$order['region']}" >
<input type="hidden" name="zip" value="{$order['zipcode']}" >
<input type="hidden" name="country" value="{$order['country']}" >
<input type="hidden" name="email" value="{$user['email']}" >
<input type="hidden" name="phone" value="{$order['mobile']}" >
<input type="hidden" name="user_ID" value="{$order['user_id']}" >
  
<input type="hidden" name="quantity" value="{$order['quantity']}" >
<input type="hidden" name="desc" value="{$team['title']}" >
<input type="hidden" name="desc_fr" value="{$team['title_fr']}" >
  
<input type="hidden" name="unit_price" value="{$order['price']}" >
<input type="hidden" name="fare" value="{$order['fare']}" >
<!--  redirection:-->
<input align="middle"  type="submit" value="Proceed To Payment" id="submit2" name="submit2">
</form>
<!--{elseif $order['service']=='datatrans'}-->
 <form method="post" action="{$dt_web_post}" id="form1" name="form1">
        
        
    <input type="hidden" name="refno" value="{$pay_id}" >
    <input type="hidden" name="amount" value="{$amount}" >
    <input type="hidden" name="currency" value="{$currency}" >
    <input type="hidden" name="merchantId" value="{$merchantID}" >

    <input type="hidden" name="successUrl" value="{$return_url}">
    <input type="hidden" name="cancelUrl" value="{$return_url}">
    <input type="hidden" name="errorUrl" value="{$return_url}">
    
    <input type="hidden" name="hiddenMode" value="yes" />
    <input type="hidden" name="useAlias" value="yes" />
    <input type="hidden" name="reqtype" value="CAA" />
    

    <input type="hidden" name="order_id" value="{$order_id}">
    <input type="hidden" name="pay_id" value="{$pay_id}" >
    <input type="hidden" name="sign" value="{$sign}" />
	<input type="hidden" name="aliasCC" value="{$cc_alias['cc_alias']}" />
	<input type="hidden" name="expm" value="{$cc_alias['expm']}" />
	<input type="hidden" name="expy" value="{$cc_alias['expy']}" />
	<input type="hidden" name="paymentmethod" value="{$cc_alias['method']}" />
</form>
<!--{/if}-->
<script type="text/javascript">
  document.form1.submit();
</script>
