<form action="/order/getpay.php?id={$id}" method="post" class="validator" name="myform" id="myform">
<!--{if false==$creditonly && false==$credityes}-->
	<input type="hidden" name="paytype" value="{$pt}" />
<!--{else}-->
	<input type="hidden" name="paytype" value="credit" />
<!--{/if}-->
<!--{if $credityes || false==$creditonly}-->
	<input type="hidden" name="order_id" value="{$order['id']}" />
	<input type="hidden" name="team_id" value="{$order['team_id']}" />
	<input type="hidden" name="cardcode" value="" />
	<input type="hidden" name="quantity" value="{$order['quantity']}" />
	<input type="hidden" name="address" value="{$order['address']}" />
	<input type="hidden" name="express" value="{$order['express']}" />
	<input type="hidden" name="remark" value="{$order['remark']}" />
	<input type="submit" value="${I(Confirm)}" class="formbutton" style="display:none;" />
<!--{/if}-->
</form>
<script type="text/javascript">
	document.myform.submit();
</script>
