<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="order-detail">
	<div class="dashboard" id="dashboard">
		<ul>${current_account(null)}</ul>
	</div>
    <div id="content">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>${I('Details')}</h2>
                </div>
                <div class="sect">

<table cellspacing="0" cellpadding="0" border="0" class="data-table">
    <tr>
        <th>${I('OrderNo')}.:</th>
        <td class="orderid"><strong>{$order['id']}</strong></td>
        <th>${I('OrderTime')}:</th>
        <td><span>${date('Y-m-d H:i',$order['create_time'])}</span></td>
    </tr>
<!--{if $order['condbuy']}-->
    <tr>
        <th>${I('Order Options')}:</th>
        <td colspan="3" class="status">{{$order['condbuy']}}</td>
    </tr>
<!--{/if}-->
<!--{if $order['remark']}-->
    <tr>
        <th>${I('notes')}:</th>
        <td colspan="3" class="status">${htmlspecialchars($order['remark'])}</td>
    </tr>
<!--{/if}-->
</table>

<table cellspacing="0" cellpadding="0" border="0" class="info-table">
    <tr>
        <th class="left" width="auto">${I('Deal_Name')}</th>
        <th width="35">${I('Price')}</th>
        <th width="10"></th>
        <th width="45">${I('Quantity')}</th>
        <th width="10"></th>
        <th width="45">${I('Total')}</th>
        <th width="150">${I('State')}</th>
    </tr>
    <tr>
        <td class="left"><a href="/team.php?id={$order['team_id']}" target="_blank">
			<!--{if $lang=="en"}-->
			{$team['title']}
			<!--{elseif $lang =='fr'}-->
			{$team['title_fr']}
			<!--{/if}-->		
		</a></td>
        <td><span class="money">{$currency}</span>${moneyit($order['price'])}</td>
        <td>x</td>
        <td>{$order['quantity']}</td>
        <td>=</td>
        <td class="total"><span class="money">{$currency}</span>${moneyit($order['price']*$order['quantity'])}</td>
        <td class="status">
			<!--{if !$express&&!$order['card_id']}-->
				<!--{if empty($coupons)}-->
					${I('WFDTip')}
				<!--{else}-->
					${I('DealSucc')}
				<!--{/if}-->
			<!--{else}-->-<!--{/if}-->
			</td>
    </tr>

<!--{if $order['card_id']}-->
    <tr>
        <td class="left">card:{$order['card_id']}</td>
        <td>${moneyit($order['card'])}</td>
        <td>x</td>
        <td>1</td>
        <td>=</td>
        <td class="total"><span class="money">{$currency}</span>${moneyit($order['card'])}</td>
        <td class="status">-</td>
    </tr>
<!--{/if}-->

<!--{if $team['delivery']=='express'}-->
    <tr>
        <td class="left">${I('express')}</td>
        <td>${moneyit($team['fare'])}</td>
        <td>x</td>
        <td>1</td>
        <td>=</td>
        <td class="total"><span class="money">{$currency}</span>${moneyit($team['fare'])}</td>
        <td class="status">-</td>
    </tr>
<!--{/if}-->

<!--{if $express||$order['card_id']}-->
    <tr>
        <td class="left"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"><span class="money">{$currency}</span>${moneyit($order['origin'])}</td>
        <td class="status">${I('DealSucc')}</td>
    </tr>
<!--{/if}-->

</table>


<table cellspacing="0" cellpadding="0" border="0" class="data-table">
    <tr><!--{if $lang=="en"}-->
        <th>Bank details for the wire transfer:</th>
        <td class="other-coupon">
Please proceed to wire transfer with the total amount by also mentioning the order number (see above). Once the wire transfer is done, it
will take 1 or 2 days before your order is processed, you will get a confirmation e-mail. If you have any question, feel free to contact us at:
support@topdeal.ch
<br/><br/>
Bank information:<br/><br/>
IBAN: CH11 0900 0000 1251 1462 2<br/>
Account no.: 12-511462-2<br/>
Account’s owner: TopDeal SA<br/>
Company address: Ch. Des Berges 4, 1022 Chavannes-près-Renens<br/>
        </td>
        <!--{elseif $lang =='fr'}-->
        <th>Détails pour le virement bancaire:</th>
        <td class="other-coupon">
Veuillez procéder au virement bancaire du montant total et en mentionnant dans les communications le numéro de commande (voir ci- dessus). 
<br/><br/>
Une fois le virement effectué, il faut compter 1 à 2 jours pour que votre commande soit validée, vous recevrez à ce moment là un e- mail de confirmation. En cas de questions, vous pouvez nous contacter sur support@topdeal.ch 
<br/><br/>
Informations bancaires pour le virement: 
<br/><br/>
IBAN: CH11 0900 0000 1251 1462 2<br/>
No. Compte CCP: 12-511462-2 <br/>
Titulaire du compte: TopDeal SA <br/>
Adresse société: Ch. Des Berges 4, 1022 Chavannes-près-Renens<br/>

        </td>
        <!--{/if}-->
    </tr>
    
</table>

                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
