<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<!--{if is_newbie()}--><div id="sysmsg-guide"><div class="link"><a href="/help/tour.php"></a></div><a id="sysmsg-guide-close" href="javascript:void(0);" class="close">Close</a></div><!--{/if}-->
	<div id="deal-default">
		<div id="content">
			<div id="deal-intro" class="cf">
                <h1 style="padding-left:0;">biz：{$partner['title']}</h1>
                <div class="main">
					<div class="other">{$partner['other']}</div>
					<div class="other" style="margin-top:5px;">
						<p><b>phone</b>：{$partner['phone']}</p>
						<p><b>location</b>：{$partner['address']}</p>
					<!--{if $partner['homepage']}-->
						<p><b>website</b>：<a href="{$partner['homepage']}" target="_blank">${domainit($partner['homepage'])}</a></p>
					<!--{/if}-->
					</div>
					<div class="partner_team_info" style="margin:10px;padding:5px;background-color:#C3DCAF;">
						<p>organized groupbuy deals<b>{$team_count}</b> times<p>
						<p>buy <b>{$join_number}</b> person time</p>
						<p>save <b>${moneyit($save_number)}</b> {$currency}</p>
					</div>
				</div>
                <div class="side">
                    <div class="deal-buy-cover-img" id="team_images">
					<!--{if $partner['image1']||$partner['image2']}-->
						<div class="mid">
							<ul>
								<li class="first"><img src="${team_image($partner['image'])}"/></li>
							<!--{if $partner['image1']}-->
								<li><img src="${team_image($partner['image1'])}"/></li>
							<!--{/if}-->
							<!--{if $partner['image2']}-->
								<li><img src="${team_image($partner['image2'])}"/></li>
							<!--{/if}-->
							</ul>
							<div id="img_list">
								<a ref="1" class="active">1</a>
							<!--${$imageindex=1;}-->
							<!--{if $partner['image1']}-->
								<a ref="${++$imageindex}" >{$imageindex}</a>
							<!--{/if}-->
							<!--{if $partner['image2']}-->
								<a ref="${++$imageindex}" >{$imageindex}</a>
							<!--{/if}-->
							</div> 
						</div>
						<!--{else}-->
							<img src="${team_image($partner['image'])}" width="440" height="280" />
						<!--{/if}-->
					</div>
                </div>
            </div>
            <div id="recent-deals" class="cf" style="margin-top:15px;">
				<div class="box">
					<div class="box-top"></div>
					<div class="box-content">
						<div class="head"><h2>deals</h2></div>
						<div class="sect">
							<ul class="deals-list">
							<!--{loop $teams $index $one}-->
								<li class="${$index++%2?'alt':''} ${$index<=2?'first':''}">
									<p class="time">${date('Y year n month j date', $one['begin_time'])}</p>
									<h4><a href="/team.php?id={$one['id']}" title="{$one['title']}" target="_blank">${mb_strimwidth($one['title'],0,86,'...')}</a></h4>
									<div class="pic">
										<div class="{$one['picclass']}"></div>
										<a href="/team.php?id={$one['id']}" title="{$one['title']}" target="_blank"><img alt="{$one['title']}" src="${team_image($one['image'])}" width="200" height="121"></a>
									</div>
									<div class="info"><p class="total"><strong class="count">{$one['now_number']}</strong>persons have bought</p><p class="price">original price：<strong class="old"><span class="money">{$currency}</span>${moneyit($one['market_price'])}</strong><br />discount：<strong class="discount">${team_discount($one)}off</strong><br />current price：<strong><span class="money">{$currency}</span>${moneyit($one['team_price'])}</strong><br />save：<strong><span class="money">{$currency}</span>${moneyit($one['market_price']-$one['team_price'])}</strong><br /></p></div>
								</li>
							<!--{/loop}-->
							</ul>
							<div class="clear"></div>
							<div>{$pagestring}</div>
						</div>
					</div>
					<div class="box-bottom"></div>
				</div>
            </div>
		</div>
    </div>
    <div id="sidebar">
		<!--{include block_side_Business}-->
		<!--{include block_side_subscribe}-->
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
