<?php
$history = $_SESSION['deal_view_history'];
?>

<div id="secondary">
	<div id="nextdeal"></div>
	<!--{if $login_user_id != ''}-->
	<div class="myaccount_container clearfix">
		<div class="aside-box user-info">
			<div class="avatar-box">
							<img src="${user_image($login_user['avatar'])}" width="52" height="52" />
				<!--{if $login_user['avatar'] == ''}-->
				<div class="add-button"><a href="#">+</a></div>
				<!--{/if}-->
			</div>
			<h3><a href="/account/settings.php">Mon compte</a></h3>
			<p><a href="/account/logout.php">Déconnexion</a></p>
			<p class="user-name"><b>{$login_user['email']}</b></p>
		</div>
		<div class="aside-box credits-box">
			<div class="credits">
				<p>${moneyit($login_user['money'])}</p>
			</div>
			<p class="credits-text">Crédits à votre actif</p>
			<p>Invitez des amis et <a href="/account/refer.php" class="link-red">obtenez plus
				de crédits!</a></p>
		</div>
	</div>
	<!--{else}-->
        <div id="fb-root"></div>
        <script> 
		window.fbAsyncInit = function() {
			FB.init({
				appId : '184414568270630',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml : true // parse XFBML
			});
		};
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);

                

        function fblogin()
        {
             FB.login(function(response) {
               if (response.authResponse) {
                 window.location.href = '{$INI['system']['wwwprefix']}/fblogin.php';;
               }
             }, {scope: 'publish_stream,email,user_birthday'});
        }
    </script>
	<div class="not-connect">
		<div class="aside-box user-info">
			<h3 id="show-connect"><a href="#">Se connecter <span>à son compte</span></a></h3>
		</div>
		<div class="aside-box credits-box">
			<h3 id="show-credits"><a href="#">S’inscrire <span>et gagner des crédits</span></a></h3>
		</div>
		<div class="connects-box">
			<div class="connect-content">
				
					<div id="connect-box" class="popup-box">
						<div class="connect-left">
						<h3>Connexion à votre compte</h3>
						<div class="connect-form">
							<form action="/account/login.php" name="connects" method="post" id="login-form">
								<input type="text" name="email" placeholder="E-mail ou nom d'utilisateur" />
								<input type="password" name="password" placeholder="Mot de passe"/>
                                <input type="hidden" name="ref" value="/index.php"/>
								<input type="submit" value="OK" name="submit_btn" />
								<p class="forgot-link" id="forgot-box-show"><a href="#">Mot de passe oublié?</a></p>
							</form>
						</div>
						<div class="clr-both">
							<p class="text-italic">Ou connectez-vous avec:</p>
							<ul class="out-connect">
								<li><a href="javascript:fblogin()"><img src="/static/images/facebook-btn.jpg" width="74" height="20" alt="facebook" /></a></li>
								<li><a href="/redirect.php"><img src="/static/images/twitter-btn.jpg" width="74" height="20" alt="facebook" /></a></li>
							</ul>
						</div>
						</div>
					</div>
					<div id="forgot-box" class="popup-box">
						<div class="connect-left">
						<h3>Mot de passe oublié</h3>
						<div class="connect-form">							
								<input type="text" name="email" value="Votre email" placeholder="Votre email" id="repass-email"/>
								<p class="error-text" style="display:none;">Pas d’utilisateur enregistré avec
cette adresse.</p>
								<input type="submit" value="Envoyer" name="submit_btn" onclick="forgotPassword(this);"/>
								<p class="forgot-link" id="back-connect">&lt; <a href="#">Retour</a></p>
						</div>
						</div>
						<div class="connect-right">
							<p>Veuillez entrer l’email que vous utilisez pour votre compte TopDeal et nous vous enverrons un email pour changer votre mot de passe.</p>
						</div>
					</div>
					<div id="forgot-box" class="popup-box repass-box">
						<div class="connect-left">
						<h3>Mot de passe oublié</h3>
						<div class="connect-form">
							<p class="notice-text">Réinitialisation du mot de passe effectuée avec succès! Un e-mail a été envoyé à l'adresse <a href="#" id="repass-email-success">mc@relaxintheair.com</a>. Cliquez sur le lien dans l'e-mail pour changer votre mot de passe.</p>
						</div>
					</div>
				</div>
					<div id="register-box" class="popup-box">
						<div class="connect-left">
						<h3>Inscription à TopDeal !</h3>
						<div class="connect-form">
							<form action="/account/signup.php" name="connects" method="post">
								<input type="text" name="email" placeholder="Email"/>
								<input type="password" name="password" placeholder="Mot de passe" />
								<input type="password" name="password2" placeholder="Confirmer mot de passe" />
								<p>
									<input type="checkbox" name="subscribe" checked="checked" />
									Recevoir la newsletter
								</p>
                                                                <input type="hidden" name="ref" value="/index.php"/>
								<input type="submit" value="OK" name="submit_btn" />
							</form>
						</div>
						<p class="register-text">En cliquant sur OK vous acceptez les<br />
<a href="/infos/conditions_utilisation" target="_new">Conditions d’utilisation</a> et de <a href="/infos/confidentialite" target="_new">Confidentialité</a></p>
						<div class="clr-both">
							<p class="text-italic">Ou connectez-vous avec:</p>
							<ul class="out-connect">
								<li><a href="javascript:fblogin()"><img src="/static/images/facebook-btn.jpg" width="74" height="20" alt="facebook" /></a></li>
								<li><a href="/redirect.php"><img src="/static/images/twitter-btn.jpg" width="74" height="20" alt="facebook" /></a></li>
							</ul>
						</div>
					</div>
						<div class="connect-right">
							<p>En vous inscrivant gratuitement sur TopDeal, vous avez la possibilité d’inviter vos amis à vous rejoindre et ainsi gagner des crédits. Ces crédits pourront être utlisés pour l’achat de deals et ont une validté illimitée dans le temps.</p>
						</div>
				</div>
				<div id="close-popup"><a href="#">Fermer fenêtre</a></div>
			</div>
		</div>
	</div>
	<!--{/if}-->
	<!--{if $history != null}-->	
	<div class="aside-box">
		<h3>Derniers deals consultés</h3>
		<ul class="deals-recommend">
        <!--{loop $history $index $one}--> 
			<li><div class="thumb-box" onclick="top.location.href='{$INI['system']['wwwprefix']}<!--${echo ZTeam::GetTeamUrl($one)}-->'">
				<img src="${team_image($one['image'], true)}" width="200" height="81" alt="" />
				<div class="gift-box"> <a href="<!--${echo ZTeam::GetTeamUrl($one)}-->"><img height="15" width="15" alt="" src="/static/images/add-white-02.png" /></a> </div>
			</div></li>
        <!--{/loop}-->			
		</ul>
	</div>
	<!--{/if}-->
	
	<div class="aside-box">
		<h3>Recevoir la newsletter</h3>
		<div class="newsletter clearfix">
			<form action="/ajax/subscribe.php" name="newsletter-frm" id="newsletter-frm" method="get">
				<input type="hidden" name="action" value="subscribe"/>
				<a href="#" class="submit-btn" onclick="subscribe();"><img src="/static/images/input-icon.jpg" width="32" height="31" alt="Recherche" /></a>
				<input type="text" placeholder="Votre email" name="email"/>
			</form>
		</div>
	</div>
	<div class="aside-box bor-none">
		<h3>TopDeal online</h3>
		<ul class="social-link">
			<li><a href="http://www.facebook.com/TopDeal.ch" target="_blank"><img src="/static/images/facebook-icon.jpg" width="31" height="31" alt="Facebook" /></a>
				<p><a href="http://www.facebook.com/TopDeal.ch" target="_blank">Facebook</a></p>
			</li>
			<li><a href="http://twitter.com/#!/topdealch" target="_blank"><img src="/static/images/twitter-icon.jpg" width="31" height="31" alt="" /></a>
				<p><a href="http://twitter.com/#!/topdealch" target="_blank">Twitter</a></p>
			</li>
			<li><a href="http://www.linkedin.com/company/topdeal-s-a-" target="_blank"><img src="/static/images/linkedin-icon.jpg" width="31" height="31" alt="" /></a>
				<p><a href="http://www.linkedin.com/company/topdeal-s-a-" target="_blank">Linkedin</a></p>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
function forgotPassword(obj){
	var self = $(obj);
	var email = $('#repass-email').val();
	var url = ROOT + '/account/repass.php ';	
	var data = {'email': email};
	$.post(url,data, function(data){
		var isSuccess = data.data.data;
		if(isSuccess === true) {
			$('#repass-email-success').text(email);
			$('#repass-email-success').attr('href','mailto:'+email);
			$('#forgot-box').fadeOut();
			$('.repass-box').fadeIn();
		}else{
			if(!$('.error-text').is(':visible')) $('.error-text').fadeIn();
			else{
				$('.error-text').fadeOut();
				$('.error-text').fadeIn();
			}
		}
	}, 'json');
}

$(document).ready(function(){
	$('#login-form input[type=button]').click(function(e){
		e.preventDefault();
		var loginForm = $('#login-form');
		var url = ROOT + '/ajax/validator.php';
		var email = $('#login-form input[name=email]');
		var pass = $('#login-form input[type=password]');
		var data = {
			'email': email.val(),
			'password': pass.val(),
			'n':'prelogin'
		}
		$.post(url, data, function(data){
			if(data.data == 100) {
				email.addClass('error-input');
				email.val('Utilisateur inconnu');
				pass.removeClass('error-input');
			}
			else if(data.data == 200) {
				email.removeClass('error-input');
				pass.addClass('error-input');
				pass.attr('placeholder','Mot de passe erroné');
				pass.focus();
			}
			else if(data.error == 0) {
				pass.removeClass('error-input');
				loginForm.submit();
			}
		}, 'json');	
	});
})
</script>
