<!--{include html_header}-->
<div id="main">
	<div class="container">

		<div id="primary">	

			 <h2>${I('RWTC')}</h2>
            <div class="sect">
				<h4>${I('LastStep')}</h4>
					<form id="enter-address-form" action="/account/signup_twitteremail.php" method="post" class="validator">
					<div class="mail">
						<label>${I('EYEA')}: </label>

						<input id="enter-address-mail" name="email" class="f-input f-mail" type="text" value="<?php echo $login_user['email']; ?>" size="20" require="true" datatype="email" />
					</div>
					<div class="city">
						<label>&nbsp;</label>
						<input id="enter-address-commit" type="submit" class="formbutton" value="${I('Submit')}" />
					</div>
					</form>
			</div>
		</div> <!-- primary end -->
		<!--{include sidebar}-->		

	</div> <!-- container end -->
</div> <!-- main end -->

<!--{include html_footer}-->
