html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    line-height: 20px;
}

.clear_fix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a {
    text-decoration: none;
	color:#7F2E52
}

.clear_fix { !


	display: inline-block; !
	zoom: 1; !
	display: block;
}

.fr{float: right;}
.fl{float: left;}

/*-------Common-------*/
body{
	font-family: akkurat,Verdana ,Arial , tahoma;
	font-size:12px;
	line-height: 16px;
	/* background: #f2f2f2; */
	background: #c7c7c7 url(../img/special_background.png) repeat-y top center;
}

#doc{
	width: 960px;
	margin: 0 auto;
	background: #f2f2f2;
}
.top_wrraper .top,.header, .main, .footer{
	width: 960px;
	margin: 0 auto;	
}

/*-------Header-------*/

.top_wrraper{
	background: #3a3a3a;
	text-align: right;
	padding: 0 20px 0 0;
	margin-bottom: 18px;
	font-size: 12px;
	color: white;
}


.top_wrraper .selected{
	color: #8cdd57;
}

.top_wrraper .normal{
	color: white;
}

.top_wrraper a:hover{
	color: #8cdd57;
}

.header .logo{
	margin: 25px 0px 0px 20px;
}

.header .hotdeal_box{
	pointer: 11px;
	float:left;
	width: 298px;
	height: 78px;
	background: url('../img/hot_deal.png') no-repeat;
	margin: 10px 0 0 130px;
	cursor:pointer;
}

.header .hotdeal_box_en{
	float:left;
	width: 298px;
	height: 78px;
	background: url('../img/hot_deal_en.png') no-repeat;
	margin: 10px 0 0 130px;
	cursor:pointer;
}

.header .left{
	margin-right: 190px;
	background: #fff;
}

.header .right{
	width: 195px;
	background: url('../img/form_bg.png') no-repeat;
	height: 150px;
	margin-top: 5px;
	margin-right: -5px;
	border-radius: 0 15px 15px 0;
}

.header .right a:hover{
	text-decoration:none;
}

.header .right form{
	margin-left: 20px;
	margin-top: 10px;
	font-size: 11px;
}

.header .right label{
	font-size: 11px;
}

.header .right .w-input{
	background-color: #fff;
	border: solid 1px #fff;
	border-radius: 4px;
	height: 20px;
	display:block;
	width: 120px;
	margin: 6px 0;
}

.header .right  input[type=password] {
	float:left;
}
.header .right  input[type=submit] {
	float: left;
	width: 30px;
	height: 21px;
	border: 1px solid black;
	background: black;
	color: white;
	margin: 6px 3px 3px 5px;
}

.header .right p{
	padding: 8px 0px 6px 0px;
	color: #a4a5a5;
	text-align:left;
}

.header .navigation{
	position:relative;
}

.header .navigation, .header .action{
	background: #3a3a3a;
	height:36px;
}

.header .navigation a,.header .action a{
	color: #fff;
	padding: 0 3px;
	margin-left: 25px;
	font-size: 15px;
	line-height: 36px;
}

.header .action a{
	margin-left: 5px;
}

.header .navigation li{
	float:left;
	display:block;
}

.header .navigation a:hover,.header .action a:hover{
	color: #8cdd57;
}

.header .navigation .selected  a,.header .current  a{
	color: #8cdd57;
}

.header .navigation #new_icon{
	display: block;
	position: absolute;
	color: white;
	right: 45px;
	top: -25px;
	background: url(../img/deals-details.png) no-repeat center center;
	padding: 3px 10px;
	border-radius: 6px;
	font-size: 11px;
	text-align:center;
	height: 15px;
	vertical-align: middle;
}

.navigation #new_icon .cufon{
	padding-bottom: 0px;
	padding-top: 2px;
}

.header .inputarea, .header .banner{
	height: 125px;
}

.header .banner .BoxConer1 {
	margin-right: 15px;	
	float:right;
	width: 145px;
}

.header .banner .BoxConer2 {
	margin: 77px 15px 0px 0px;	
	float:right;
	width: 145px;
	color: #3a3a3a;
	font-size: 15px;
}

.header .banner .selectbox{
	padding:6px 10px 0 10px;
	
}

.header .label {
	text-align: center;
	background: #3A3A3A;
	padding: 8px 0px;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

/*
.header .slogan .left_ct{
	background: url(../img/left_ct.png) no-repeat left;
	padding-left: 10px;
} 

.header .slogan .right_ct{
	background: url(../img/right_ct.png) no-repeat right;
	padding-right: 10px;
} 

.header .BoxTable .center_ct{
	background:#f0f1f2;
	padding: 10px 4px;
} 
*/
.header .selectbox .icon_down, #suggest_deal .selectbox .icon_down{
	background: url(../img/icon_down.png) no-repeat right center;
	padding-right: 28px;
	color: #3a3a3a;
	font-size: 15px;
	text-transform:uppercase;
} 

.header .selectbox .text{
	color: #3a3a3a;
	font-size: 15px;
	margin-top:5px;
} 

.header .inputarea{
	padding: 0px 15px 0px 15px;
} 

.header .inputarea .left_input{
	background: url(../img/left_input.png) no-repeat left;
	padding-left: 5px;
} 

.header .inputarea .right_input{
	background: url(../img/right_input.png) no-repeat right;
	padding-right: 5px;
} 

.header .inputarea .center_input{
	background:#f0f1f2;
	height: 27px;
} 

.header .inputarea input{
	width: 130px;
	border: none;
	background: #F0F1F2;
	margin-top: 2px;
	padding: 4px;
	outline: none;
} 
.header .label{
	text-align: center;
	background: #3a3a3a;
	padding: 8px 0px;
	font-size: 15px;
	font-weight: bold;
	color: white;
} 

/*-------Main-------*/
.main{
	margin: 15px auto;
/*	background:url(../img/BGMain-2.png) repeat-y left top;*/
}



.main .sidebar{
	width: 150px;
	background: white url(../img/bg.png) repeat-x top;
	position: relative;
	padding: 10px 0;
}

.main .content{
	margin-left: 165px;
	background: white url(../img/bg.png) repeat-x top;
	padding: 30px 15px 10px 12px;
	zoom:1;
}

.main .content_ouverture{
	background: white url(../img/bg.png) repeat-x top;
	padding: 30px 15px 10px 12px;
	zoom:1;
}

.main .content_ouverture h2{
	text-align: center;
	color: #3a3a3a;
	font-weight: bold;
	font-size: 24px;
}

.main .content_ouverture ul li{
	width: 113px;
	text-align: center;
	float: left;
}

.main .content_ouverture .content_ouver{
	width: 460px;
	margin:30px auto;
}

.main .content_ouverture .content_ouver a{
	color: #7f2452;
	font-size: 14px;
	font-family: arial;
}

.main .content_ouverture .content_ouver .round_bg{
	background: white url(../img/round_bg.png) no-repeat center;
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: arial;
	width: 91px;
	height: 91px;
	font-weight: bold;
	padding-top: 16px;
	line-height: 72px;
}

.main2{
	margin: 15px auto;
	background:url(../img/BGMain-2.png) repeat-y left top;
}

.main2 .sidebar{
	width: 150px;
	background: white url(../img/bg.png) repeat-x top;
	position: relative;
	padding: 10px;
}
.main2 .sidebar2{
	width: 130px;
	background: white url(../img/bg.png) repeat-x top;
	position: relative;
	padding: 10px;
}

.main2 .content2{
	margin-left: 165px;
	background: white url(../img/bg.png) repeat-x top;
	padding: 30px 15px 10px 12px;
	zoom:1;
}

.main2 .content_ouverture{
	background: white url(../img/bg.png) repeat-x top;
	padding: 30px 15px 10px 12px;
	zoom:1;
}

.main2 .content_ouverture h2{
	text-align: center;
	color: #3a3a3a;
	font-weight: bold;
	font-size: 24px;
}

.main2 .content_ouverture ul li{
	width: 113px;
	text-align: center;
	float: left;
}

.main2 .content_ouverture .content_ouver{
	width: 460px;
	margin:30px auto;
}

.main2 .content_ouverture .content_ouver a{
	color: #7f2452;
	font-size: 14px;
	font-family: arial;
}

.main2 .content_ouverture .content_ouver .round_bg{
	background: white url(../img/round_bg.png) no-repeat center;
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: arial;
	width: 91px;
	height: 91px;
	font-weight: bold;
	padding-top: 16px;
	line-height: 72px;
}

/* left */

.sidebar p{	
	line-height: 20px;	
	color:#000;
	font-size:13px;
	padding:0px;
}
.sidebar h2 {
	font-size: 17px;
	font-weight:normal;
	letter-spacing: -1px;
	margin-bottom: 10px;
	line-height: 18px;
}
.sidebar h4 {
	color:#000;
	font-size: 20px;
	font-weight:normal;
	text-align:center;
	margin: 5px 0px;	
}

.sidebar #deal-intro  h4{
	font-size: 18px;
}

.sidebar #deal-intro  p{
	font-size: 12px;
	font-weight:bold;
}

.sidebar #deal-intro{
	padding: 10px 10px 0;
}
.sidebar .box {
	border-bottom: 1px solid #f0f1f1;
	padding: 5px 0 10px 0;
	margin:5px 0 10px 0;
}
.sidebar .temps{
	margin: 5px -27px 0px -8px;
	border-bottom:none;
	padding: 10px 10px 20px;
}

.sidebar .box .check {
	padding-left: 40px;
	background:url(../img/trueIcon.png) no-repeat 0px center;
}

.sidebar .box .check  p {
	border-left: 1px solid #E1E2E3;
    padding-left: 10px;
	text-align:left;
}
.buy-now{
	color: #fff;
	text-align:center;
	padding: 10px;
	display:block;
	text-transform: uppercase;
	font-weight: bold;
	background-image: url(i/buy-button-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
}
a.gift-it{
	color: #3a3a3a;
	line-height: 20px;
	font-weight: bold;
	text-shadow:#5d9051 0px 0px 2px;
	text-align:center;
	text-transform: uppercase;	
	padding: 21px 10px 21px 47px;
    margin:-10px 0px 0px 26px;	
	display:block;
	background: url(i/gift-it-button.png) no-repeat center center ;
    width: 109px;
	text-decoration:none;
}
a:hover.gift-it{
	color: #000;

}


.sidebar .box  p span{
	font-size: 22px;   
}


.temps  {
	overflow:hidden;
	clear:both;
}

.temps  h2 {
	font-size: 16px;
	text-transform:uppercase;
	margin-left: 10px;
}
.temps .col, .Deal_footer .col {
	float:left;
	width:28%;
	text-align:center;
}

.product .col + .col{
	width:34%;
}

.temps p, .Deal_footer p {
	color:#7f2452;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
}

.temps .item, .Deal_footer .item {
	margin-top: 5px;
	display:block;
	background: url(../img/circleICon.png) no-repeat left center;
	width: 37px;
	text-align:center;
	line-height: 37px;
	color:#fff;
	font-size: 19px;
	height: 37px;
}

.temps .item:hover {
	opacity: 0.8;	
}
.temps .item2 {
	margin-top: 5px;
	display:block;
	background: url(../img/circleIConS.png) no-repeat left center;
	width: 30px;
	text-align:center;
	line-height: 30px;
	color:#fff;
	font-size: 16px;
	height: 30px;
}
.temps .item2:hover {
	opacity: 0.8;	
}

.main .sidebar .top{
    left: -48px;
    position: absolute;
    top: 20px;
    width: 182px;
	padding: 0 10px;
}

.main .sidebar .top .buy_button{
	background: url(../img/buy_button.png) no-repeat top;
	height: 145px;
	padding-top: 40px;
	cursor:pointer;
}

.main  .buy_button .buy_it{
	font-size: 22px;
	color: white;
	margin-right: 0px;
	display:block;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

.main  .buy_button a:hover{
	color: #3a3a3a;
}

.main .sidebar .pt{
	padding: 0 10px;
	padding-top: 90px;
	border-bottom: 15px solid #f0f1f1;
	padding-bottom: 10px;
	margin-bottom: -7px;
	margin-top: 150px;	
	clear:right;
}

.main .sidebar .map{
	border-top: 15px solid #f0f1f1;
	padding: 0 10px;
	padding-top: 15px;
}

.main .sidebar .pt table{
	width: 100%;
}

.main .sidebar .pt td{
	padding: 2px 0;
	font-size: 14px;
	height: 10px;
	text-transform: uppercase;
}

.main .sidebar .pt td.value{
	font-size: 20px;
	font-weight: bolder;
	padding-top: 15px;
	text-align:right;
	white-space: nowrap;
}

.main .sidebar .top .sl{
	font-size: 32px;
	color: #fff;
	margin-left: 11px;
	text-align: center;
	display:block;
	margin-bottom: 60px;

}
.sl{
	padding:10px 0px 0px 5px;
	*padding-top:0px
}

.main .sidebar .top .sl span{
	color: white;
    font-size: 37px;
    line-height: 17px;
    margin-left: -8px;
}

.main .sidebar .top .dv{
	font-size: 19px;
	color: #fff;
	font-weight:bold;
	margin-right: 0px;
	padding-top: 5px;
	*padding-top: 18px;
	text-transform: uppercase;
	overflow: hidden;
	white-space:nowrap;
	text-align:center;
}
.dv{
	display:block
}

.pink{color: #7f2452;}


.map p {
	line-height:20px;
	padding: 0px 2px 5px 2px;
}

.map img {
	border: 4px solid #7f2452;	
}

/*BoxCorner*/
.BoxCorner {
	margin-bottom: 16px;	
}

.BgTL {
	padding-left:6px;	
	background:url(../img/bgBox.png) no-repeat left top;
}

.BgTR {
	padding-right: 6px;	
	background:url(../img/bgBox.png) no-repeat right top;
}

.BgTM {
	height: 6px;
	background: #f0f1f2;
}	


.BgBL {
	padding-left:6px;	
	background:url(../img/bgBox.png) no-repeat left -6px;
}

.BgBR {
	padding-right: 6px;	
	background:url(../img/bgBox.png) no-repeat right -6px;
}

.BgBM {
	height: 6px;
	background: #f0f1f2;
}	

.BGM {
	background: #f0f1f2;
	padding:6px 0 0px 6px;
}

.BoxConer1 .BgBL{
	padding-left:10px;	
	background:url(../img/bgBox1.png) no-repeat left -11px;
}

.BoxConer1 .BgBR{
	padding-right:10px;	
	background:url(../img/bgBox1.png) no-repeat right -11px;
}

.BoxConer1 .BgBM {
	background: #f0f1f2;
	height:10px;
}
/*right*/


.rightside {
	float:right;
	width: 160px;
	min-height: 500px;
}

.connect ,.Iframe {
	margin-bottom: 16px;	
}

.connect > div {
	margin-bottom: 13px;
}

.espace {
	background:#cfd2d3;
	padding:12px;
	min-height: 138px;
}

.BoxTable .add{
	margin-top:5px;
	background: url(../img/addIcon.png) no-repeat 131px center;
	padding: 0px 20px  0 10px;
	cursor: pointer;
	text-transform: uppercase;
}

.BoxTable h2 {
	font-size:20px;
	margin-bottom: 5px;
	font-weight: normal;
	color:#cfd2d3;
}

.BoxTable .column {
	font-size:10px;
}	

.BoxTable .row {
	border-bottom: 1px solid #e5e6e7;	
	overflow: hidden;	
	padding: 5px 0;
}

.BoxTable .row p {
	margin-left: 5px;	
	
}

.BoxTable .last {
	border:none;
}
/*content*/

.maincontent {
	margin-right: 175px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}

.maincontent h2 ,.maincontent h3 {
	margin-bottom: 10px;	
}

.maincontent h2 a,.maincontent h3 a, .maincontent h2, .maincontent h3{
	color:#7f2452;
	font-size:20px;	
	font-family: akkurat,Verdana, Arial, Helvetica, sans-serif;
}


.maincontent h3 {
	font-size: 20px;
 	text-transform:inherit;
}

/*feature*/

.feature {
	overflow:hidden;
	margin-top: 30px;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #e1e2e3;
}

.feature .column,.BoxTable .column {
	float:left;
	width:40%;
	!width:49%;
	margin-right:24px
}

.feature ul, .maincontent ul {
	list-style-type:disc ;	
}
.feature li, .maincontent ul li {
	line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 15px;
    padding-left: 1px;}

/*slideshow*/
.slideshow .slide_container{
	background:  #F0F1F2;
	padding: 3px;
}

.slideshow .slide_container .link_list{
	height: 288px;
	margin-left: 2px;
	margin-top: -2px;
	overflow:hidden;
}
.slideshow .link {
  display: block;
}

.slideshow .link img{
	width:580px;
}
.slideshow p {
	padding:0 0 10px 0;
}

.slideshow .link img {
}

.pagging {
	height: 15px;
	margin-top: 10px;	
	margin-left:45%;
}

.pagging a {
	display:block;
	width:13px;
	height: 13px;
	margin-right: 8px;
	background:url(../img/paggingIcon.gif) no-repeat left top;
	float:left;
	text-indent: -9990px;
}

.pagging a.active {
	background:url(../img/paggingIcon.gif) no-repeat left -13px;	
}

.detail {
	padding: 18px 0 10px 0;	
}

.detail p {
	margin-bottom: 15px;	
}

.detail a{
	color:#7f2e52;
}
.detail a:hover{
	text-decoration:none;
}


/*footer*/

#footer_wrapper {
    background-color: #7F2452;
    color: #FFFFFF;
    min-height: 160px;
    overflow: hidden;
    padding:20px 0 0px 0;
}

#footer a {
	color:#fff;	
}

#footer .column_first {
	width: 150px;
	padding:30px 0 0 0px;	
	float: left;
	margin-right: 15px;
}

#footer .column img {
	padding:4px
}



#footer .column {
	width: 164px;
	float: left;
	padding: 20px 0 0 15px;
	min-height: 164px;
}

#footer .column li {
	padding: 1px 0;	
}

#footer .column h3{
	font-size:15px;	
	font-weight:500;
}

.copyright {
	background: url(../img/lineBg.png) no-repeat top left;
	line-height: 18px;
	color:#fff;
	padding: 10px 0 0 0;
}

.linespace {
	background: url(../img/line_verticel-bg.png) no-repeat left center;	
}

/*Product format*/

.maincontent  .product{
	margin-left: 10px;
	width: 48%;
	margin-top:10px;
	margin-bototm:10px
}

.maincontent  .product .label{
	font-size: 16px;
	color: #303030;
}

.maincontent  .product .content{
	margin-left: 147px;
	background: none;
	padding: 0px;
}

.maincontent  .product p{
	margin: 8px 0px;
	color: #404040;
}

.maincontent  .product div a{
	line-height: 30px;
}

.maincontent  .product .content .pink{
	color: #7f2352;
}

.maincontent  .product .content .right_grey{
	/*background:url(../img/right_grey.png) no-repeat right top;*/
	padding-right: 7px;
}

.maincontent  .product .content .left_grey{
	/*background:#f0f1f2;*/
	padding: 0px 8px;
	height: 34px;
	margin-bottom: 4px;
	line-height: 34px;	
}

.maincontent  .product .content p{
	margin: 8px 0px 8px 0px;
	color: #404040;
}

.maincontent  .product .content .left_grey span{
	font-size: 19px;
	line-height: 33px;
	float:left;
	margin-right: 5px;
}

.maincontent  .product .content .right_pink{
	background:url(../img/right_pink.png) no-repeat right top;
	padding-right: 7px;
	margin-top:19px;
	overflow:hidden;
}

.maincontent  .product .content .left_pink{
	background:#7f2352;
	padding: 0px 5px;
	height: 34px;
	color: white;
	line-height: 34px;
}

.maincontent  .product .content .left_pink span{
	font-size: 25px;
	line-height: 33px;
	float:right;

	overflow: hidden;
	
}

.maincontent  .product .content p span{
	float:right;
	margin-right: 5px;
}
.line{
	float:left;
	width: 100%;
	margin: 12px auto;
	height: 1px;
	background-color: #E1E2E3;
}
.team_title .filter{
	float:right;
}
.team_title .filter li{
	float:left;
	padding: 5px 8px;
	list-style:none;
}
#deals_septrt{
 /* border-bottom-color: #CCCCCC; border-bottom-style: solid;  border-bottom-width: 1px; margin-bottom:10px; padding-bottom:10px;*/
}

#deals_septrt h1{
	padding-left:3px;
	padding-bottom:8px;
	color: #7F2452;
	text-align: center;
}

#deals_septrt .fl{
	float:left
}
#deals_septrt .wrap{
	float:right;
	font-size:12px;
	white-space:nowrap;
}
#deals_septrt .money{
	background:	#EEEEEE;
	border: 1px solid #D4D4D4;
	padding:1px;
}
#deals_septrt .price{
	font-weight: 700;
	display:block;
	padding:1px;
	font-size:11px;
}

#deals_septrt .buy_deal{
	background: url(../img/deals-details.png) no-repeat center center;
	line-height: 33px;
	color: #FFF;
	font-size: 11px;
	text-align:center;
	color:#fff;
	display:block;
	width: 56px;
}
.buy_deal2{
	background: url(../img/deals-details-2.png) no-repeat center center;
	line-height: 33px;
	color: #FFF;
	font-size: 11px;
	text-align:center;
	color:#fff;
	display:block;
}


#deals_septrt .saving {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: line-through;
    -moz-text-decoration-style: solid;
    font-size: 0.8em;
    margin-top: 5px;
}
.cl{
	clear:both;
	border-bottom:dotted 1px gray;
	padding:3px 0px;

}
#deals_septrt a.deal_suggest{

    color: #484848;
    font-size: 11px;
    font-weight: bold;;
    text-transform: none;
	display:block;
	padding:6px 0px;
}
a.deal_suggest2{
	color: #484848;
	font-size: 11px;
	font-weight: bold;
	;
	text-transform: none;
	display:block;
	padding:6px 0px;
	text-align: center;
}

#deals_septrt .recommend_deals{
	list-style: none;
	margin: 10px 0 0 5px;
	font-size: 14px;
}
	
#deals_septrt  .recommend_deals li{
	padding: 5px 0;
	font-size: 14px;
}

#deals_septrt img{
	width: 90px;
	height: auto;
}

.recommend_deals li.account a{
	color: white;
	font-size: 9px;
}

.account_info{
	list-style: none;
	margin: 10px 0 0 5px;
	font-size: 14px;
	height: 151px;
}

.account_info li{
	padding: 5px 0 5px 20px;
	font-size: 14px;
}
.account_info li a{
	min-width: 60px;
}
.account_info li.account{
	height: 38px;
	line-height: 33px;
}

.account_info li.account a{
	background: #7F2452;
	padding: 5px 15px;
	border-radius: 4px;
	text-transform: uppercase;
	color: white;
	font-size: 13px;
	text-align:center;
}

.account_info li.logout{
	height: 38px;
	line-height: 33px;
}

.account_info li.logout a{
	font-size: 13px;
	text-transform: uppercase;	
	background:#f0f1f2;
	border-radius: 4px;
	padding: 5px 15px;
}

.dashboard li{
	background: #FFF url(../img/bg.png) repeat-x top;
}
.dashboard li.current a{
	color: #8CDD57;
}
.dashboard li a{
	background:transparent;
	height: 24px;
	padding: 10px 7px 0 17px;
}

.dashboard li span{
	background:transparent;
}

.city-list{
	display:none;
	position:absolute;
	z-index: 1000;
	width: 145px;
}

.city-list li a{
	display: block;
	border-radius: 6px 6px 6px 6px;
	background:#F0F1F2;
	padding: 3px 3px 3px 10px;
	margin: 1px auto;
}

.city-list li a:hover, .city-list li.current a{
	background:#8CDD57;
	color: #333;
	border-radius: 6px 6px 6px 6px;
	text-decoration:none;
}

td.subscribe_email{
	color: #7F2452;
	font-weight: bold;
	font-size: 11px;
	text-align:center;
}

/*Submit page*/

.loginup #content{
	width: 100%;
}

#signup #content .head, #login #content .head{
	border-bottom: 1px solid #CCC;
}
#login #content .sect{
	border-top: none;
}
#signup #content .head h2, #login #content .head h2, #login #content .head a, #login #content .head{
	color: #7F2452;
}
#signup #content .sect{
	border-top:none;
}
.loginup #content .sect{
	width: 100%;
	border-top: none;
}

.loginup #content .field label, 
#signup #content .field label,
#login #content .field label
{
	width: 170px;
}

#login #content .field .f-input{
	width: 270px;	
}
.loginup #deal-buy-login {
    background-color: #3A3A3A;
    color: #FFFFFF;
    border: none;
}
input.formbutton, #signup input.formbutton {
	border: none;
	background: url(../img/purple_button.png) no-repeat;
	color: white;
	letter-spacing: .1em;
	cursor: pointer;
	height: 30px;
	width: 122px;
}
input.formbutton2, #signup input.formbutton2 {
	border: none;
	background: url(../img/purple_button2.png) no-repeat;
	color: white;
	letter-spacing: .1em;
	cursor: pointer;
	height: 30px;
	width: 226px;
}

#footer_wrapper  .Add_Email{
    padding: 6px 0px;
	width: 450px;
}

#footer_wrapper  .Add_Email .label{
    color: white;
	text-align: center;
	font-size: 15px;
	margin-bottom: 22px;
}

#footer_wrapper  .Add_Email input{
    width: 235px; height: 25px;
	background: white;
	border: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 48px;
}

#footer_wrapper  .Add_Email .submit{
   width: 100px;
	 height: 30px;
	background: #3a3a3a;
	color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 22px;
	margin-left: 6px;
	font-weight: bold;
}


.question_content{
    border-bottom: 1px solid #DADCDD;
    margin-bottom: 12px;
    overflow: hidden;
    padding-bottom: 12px;
}

.title_content{oveflow: hidden;}	

.question_content .title_content h2{
	font-size: 20px;
	color: #7F2452;
	float: left;
	font-weight: normal;
}

.question_content .title_content .action_down{
	padding: 2px 8px;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
	background: #ecedef;
	float: right;
	cursor:pointer;
}

.question_content .title_content .icon_down{
	padding-right: 20px;
	background: url(../img/icon_down.gif) no-repeat right;
	color: #575757;
}

.question_content .title_content .action_up{
	padding: 2px 8px;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
	background: #7edb29;
	float: right;
}

.question_content .title_content .action_up .icon_down{
	padding-right: 20px;
	background: url(../img/icon_up.gif) no-repeat right;
	color: #575757;
}

.question_content .anser_main{
	margin-left: 15px;
	display:none;
}

.sidebar .mn_content{
	border-bottom: 1px solid #efefef;
	padding: 12px 0px;
}

.sidebar .mn_content .mn_item{
	color: #792C55;
    display: block;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.sidebar h3{
	font-size: 16px;
	font-weight: bold;
	color: #2c2c2c;
	margin: 10px;
}

.sidebar .mn_content .item{
	margin-bottom: 16px;
}

.sidebar .mn_content p{
	text-transform: none;
	color: #2c2c2c;
	font-weight: normal;
	font-size: 12px;
}

.product_content{
	border-bottom: 1px solid #efefef;
	padding: 8px;
	width: 46%;  
	float: left;
}

.product_content h2{
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
}

.product_content p{
	color: #484848;
	margin-bottom: 6px;
}

.product_content ul li{
	list-style: none;
	margin: 6px 8px 4px 4px;
}

.product_content ul li .bt_detail{
	color: white;
    display: block;
    font-size: 10px;
    line-height: 12px;
    padding: 4px 8px;
    width: 75px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.product_content ul li .violet{
	background: #6a1643;
}

.product_content ul li .gray{
	background: #2c2c2c;  
}

#suggest_deal{
	background: none;
}
#suggest_deal .content{
	margin-left: 0;
	margin-right: 190px;
	padding-top: 15px;
}

#suggest_deal .sidebar{
	width: 155px;
}

#suggest_deal .BoxConer1{
	width: 150px;
	margin-left: 0;
}
#suggest_deal td{
	padding: 10px;
}
#suggest_deal .f-input{
	border:none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 23px;
	width: 300px;
	background-color:#F0F1F2;
}

#suggest_deal textarea, .f-textarea{
	border:none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 400px;
	background-color:#F0F1F2;	
}

#suggest_deal .sidebar, #login .sidebar{
	color: #7F2452;
}

#suggest_deal .sidebar li{
	list-style: decimal inside;
	padding-bottom: 10px;
}

#suggest_deal .sidebar p{
	padding-bottom: 10px;	
}

#suggest_deal h2{
	color: #7F2452;
	font-size: 20px;
	padding: 10px;
}


#signup #sidebar .side-tip h2, #login #sidebar .side-tip h2{
	color: #7F2452;
}
.faq .f-input{
	width: 123px;
	margin-top: 10px;
}

.social-icons{
padding-bottom:15px; border-bottom:dotted 1px #999;
}

.heading-social{
color:#7F2452; font-style:italic; padding:15px 0px 0px 0px; display:block
}

.recent-counter{
	position:relative; width:135px; float:left; height:150px; padding:5px 0px;
}
.interest-list{
width: 150px; float:left;	
}
.interest-list li{
padding:3px 0px;
}

.sbox .social{
	background: url("i/social.png") no-repeat;	
	width: 29px;
	height: 29px;
	float:left;
	margin: 4px;
	display:block;
}
.sbox a.social:hover{
	text-decoration:none;
}
.sbox .facebook{
	background-position: top left;
}
.sbox .linkedin{
	background-position: 0px -39px;
}
.sbox .twitter{
	background-position: 0px -117px;
}
.sbox .tumblr{
	background-position: 0px -78px;
}


#extra .buy-button {
	background-image: url(../img/buy-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 28px;
	width: 65px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: arial;
  	cursor: pointer;
}
#extra .color1{
	color:#7f2452	
}
#extra td{
	vertical-align: middle;
	padding:5px 13px;
}
#extra .price {
	font-size: 20px;
	font-weight: bold;
}
#extra h1{
color:#7f2452;
font-size:16px;
padding:5px 0px;
}

#extra .tr1 td{
	background:#e5e5e5;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #C9C9C9;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C9C9C9;
}
.extraTitle{
	background-image: url(i/extra-bg.png);
	width:100px;
	height:26px;
	float: right;
	font-weight: bold;
	text-transform: uppercase;
	background-repeat: no-repeat;
	background-position: right;
	text-align: center;
	margin-right: -17px;
	line-height: 26px;
}
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  padding:20px;
  width:570px; border:solid 7px #414141; padding:5px; box-shadow:#000 1px 1px 5px;
}

#boxes #dialogx,#dialogxb {
  padding:10px;
  background-color:#ffffff;
}

.buy_deal_option {
    background: url("../img/deals-details.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    line-height: 33px;
    text-align: center;
}

#referrals .label_head{
	color: #763653;
	font-weight: bold;
	font-size: 15px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
}

#referrals .Title_head{
	color: #3C3C3C;
    font-size: 45px;
    font-weight: normal;
    line-height: 50px;
    padding-top: 15px;
}

#referrals .tag_image{
	margin: 70px 10px 190px 35px;
}

#referrals .tag_content{
	position: absolute;
	width: 130px;
}


#referrals .tag_content .tag_bg{
	background: url(../img/tag_bg.png) repeat-x top;
	padding: 25px 0px;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	color: white;
}

#referrals .bt{
	background:#763454;
	padding: 4px 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#referrals .left_bt{
	background: url(../img/left_bt.png) no-repeat left;
	padding: 16px 0 15px 48px;
}

#referrals .left_bt .bt{
	background:#f0f1f2;
	padding: 5px 10px 8px 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: #773453;
	-moz-border-radius:0px 4px 4px 0px;
	-webkit-border-radius:0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}

#referrals .bt_add{
	background: url(../img/bt_add.png) no-repeat center;
	margin-top: -41px;
    padding: 70px 40px 34px 18px;

}

#referrals .ipt{
	width: 380px;
	border: 1px solid #7c9d5b;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	height: 28px;
}

#referrals .link1{
	background: url(../img/link1.png) no-repeat center;
	margin-left: 6px;
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 8px;
}
#referrals .link2{
	background: url(../img/link2.png) no-repeat center;
	margin-left: 6px;
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 8px;
}
#referrals .link3{
	background: url(../img/link3.png) no-repeat center;
	margin-left: 6px;
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 8px;
}
#referrals .link4{
	background: url(../img/link4.png) no-repeat center;
	margin-left: 6px;
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 8px;
}
#referrals .link5{
	background: url(../img/link5.png) no-repeat center;
	display: block;
	margin-left: 6px;
	width: 16px;
	height: 16px;
	margin-top: 8px;
}

#referrals .right_ct_bt{
	background: url(../img/right_ct_bt.png) no-repeat center;
	color: white;
    font-size: 18px;
    padding: 42px 9px 42px 6px;
	margin-top: -18px;
	width: 84px;
	text-align:center;
}

#referrals .left_ct_bt{
	background: url(../img/left_ct_bt.png) repeat-x center;
	color: white;
    font-size: 14px;
    padding: 11px 21px;
	overflow: hidden;
	margin-top: 15px;
}

#referrals .right_bt_bt{
	background: url(../img/right_bt_bt.png) no-repeat center;
	color: white;
    margin-top: -45px;
    padding: 42px 0 0;
    text-align: center;
    width: 102px;
}

#referrals .right_bt_bt p{
	font-size: 13px;
}

#referrals .center_bt_bt{
	width: 100px;
	text-align: left;
	color: #80c241;
	padding-top: 20px;
}

#referrals .left_bt_bt{
	width: 160px;
	text-align: left;
	color: #80c241;
	padding-top: 20px;
}


#referrals .tag_container{
	position: relative;
}

.st_twitter{
	display: inline-block;
    margin-top: 7px;
}
.credit a img{
	height: auto;
}

/*Deal Footer*/

.maincontent .Deal_footer {
  background: url("../img/deal_footer_fond.png") no-repeat scroll 0 0 transparent;
  height: 135px;
  overflow:hidden;
  margin-left: -7px;
  cursor: pointer;
}

.maincontent .Deal_footer .Price{
  color: #FFFFFF;
  float: left;
  font-size: 32px;
  line-height: 135px;
  height: 135px;
  text-align: center;
  width: 135px;
  margin-top: 50px;
  *+margin-top: 0;
}

.maincontent .Deal_footer .Footer_buy_button {
  background: url("../img/deal_footer_acheter.png") no-repeat scroll center center transparent;
  text-align:center;	
  float: left;
  height: 135px;
  line-height: 135px;
  width: 160px;
  margin: auto 40px;
}
.maincontent .Deal_footer .Footer_buy_button a{
  color: #FFFFFF;
  font-size:22px;
  text-transform: uppercase;
  display:block;
  margin-top: 55px;
  *+margin-top: 0;
}

.maincontent .Deal_footer .Footer_count_down{
  float:left;
  color: #fff;
  text-align:center;
  margin-top: 30px;
  *+margin-top: 25px;
}

.maincontent .Deal_footer .Footer_count_down h2{
	color: #fff;
	font-size: 14px;
	margin-bottom: 0;
}

.maincontent .Deal_footer .Footer_count_down .col{
	margin-right: 10px;
	width: 48px;
}

.maincontent .Deal_footer .Footer_count_down .col:last-child{
	margin-right: 0;
}

.maincontent .Deal_footer .Footer_count_down .item{
	width: 48px;
	height: 48px;
	background: url("../img/deal_footer_temps.png") no-repeat scroll center center transparent;
	font-size: 24px;
	line-height: 48px;
}

.maincontent .Deal_footer .Footer_count_down p{
	color: #fff;
	font-size: 11px;
	margin-top: 3px;
}

.maincontent .product_package, .maincontent .purple_box {
	border: solid 2px #7F2452;
	padding: 10px;
	border-radius: 11px 11px 11px 11px;
	width: 557px;
}

.maincontent .product_package td{
	vertical-align:top;
}

.maincontent .product_package td:last-child{
	text-align:right;
}

.maincontent .conditions, .maincontent .grey_box{
	margin-top:10px;
	background: #c3c2c1;
	padding: 10px;
	border-radius: 11px 11px 11px 11px;
	width: 561px;
}

.maincontent .conditions td{
	vertical-align:top;
}

.product_container  .conditions, .product_container .product_package{
	width: auto;
	display:none;
}

.product_container  .conditions h3, .product_container .product_package h3{
	padding: 0;
	margin: 0 0 10px;
}

.maincontent h1 strong{
	color:#7F2452;
	font-size: 20px;
}

.deal-status {
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}
/* Forum */
#forum .button{
	background: #7F2452 no-repeat 5px center;
	color: white;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	font-weight: bold;
	box-shadow: 0px 0px 3px #333;
	padding: 7px 15px 7px 25px;
}
#forum #content .head{
	margin:0 10px 10px;
	padding: 0;
}
#forum .filter .button{
	background-image: url(../img/document-new.png);
	padding: 7px 15px 7px 25px;
}

#forum .filter .reply{
	background-image: url(../img/reply.png);
}

#forum .filter .delete{
	background-image: url(../img/delete.png);
}

#forum .filter .gotop{
	background-image: url(../img/gotop.png);
}

#forum .publish{
	background-image: url(../img/publish.png);
	padding: 7px 15px 7px 25px;
}

#forum #content .act .ok{
	background-image: url(../img/ok.png);
	padding: 7px 15px 7px 25px;
	width: auto;
	height: auto;	
}

#forum .sect{
	width: auto;
}

#forum #content{
	width: 100%;
}

#forum .coupons-table{
	width: 100%;
	padding: 0;
	margin: 0;
}

#forum #content .field{
	width: auto;
}

#forum #content .head h2{
	display:block;
	margin-right: 200px;
	padding: 10px 5px;
}

#forum #content .act{
	margin-left: 180px;
}

#forum .coupons-table th{
	background: #7F2452;
	color: #fff;
}

#forum .coupons-table th:first-child{
	border-radius: 11px 0 0 0;	
}

#forum .coupons-table th:last-child{
	border-radius: 0 11px 0 0;	
}

#forum .coupons-table td{
	background: #f9f9f9;
	vertical-align: top;
}

#forum .coupons-table .alt td{
	background: #F2F2F2;
}

#forum h2 .cufon, .navigation .cufon{
	padding: 0 0 5px;
	_padding: 0px;
}

#forum #content div.author{
	background-color: transparent;
}
