<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="maillist">
	<div id="content" style="width: 960px;">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content welcome">
				<div class="head">
					 <h2>Enregistrez-vous par e-mail</h2>
				</div>
                <div class="sect">
					<div class="lead"><h4>Enregistrez-vous dès aujourd’hui afin de bénéficier d’incroyables deals dans la région de  {$city['name']} Romande allant jusqu’à 90% de réduction!</h4></div>
					<div class="enter-address">
						<p>Ne manquez aucune bonne affaire et soyez informé de chaque nouveau NoOpY!</p>
						<div class="enter-address-c">
						<form id="enter-address-form" action="/subscribe.php" method="post" class="validator">
						<div class="mail">
							<label>Tapez votre adresse e-mail:</label>
							<input id="enter-address-mail" name="email" class="f-input f-mail" type="text" value="{$login_user['email']}" size="20" require="true" datatype="email" />
							<span class="tip">(Votre adresse e-mail ne sera divulguée à aucune tierce personne!)</span>
						</div>
						<div class="city" style="width:310px;">
							<label>&nbsp;</label>
							<select name="city_id" class="f-city">${Utility::Option(Utility::OptionArray($hotcities, 'id', 'name'), $city['id'])}</select>
							<input id="enter-address-commit" type="submit" class="formbutton" value="Souscrire" />
						</div>
						</form>
					</div>
					<div class="clear"></div>
				</div>
				<div class="intro">
					<p>Chaque jour, NoOpY vous propose une offre privilège dans les domaines du diverstissement, restauration, hôtellerie, etc...</p>
				</div>
			</div>
		</div>
		<div class="box-bottom"></div>
	</div>
</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
