<?php
$current_deal =  current_team($city['id']);
if($current_deal){

	if($current_deal['title']){
		$current_deal_title = mb_strlen($current_deal['title']) > 43 ? mb_substr($current_deal['title'], 0, 43) . "..." : $current_deal['title'];
		$current_team_price = $current_deal['team_price'];
	}
	/*
	if($feature_team['title']){
		$deal_title = mb_strlen($feature_team['title']) > 43 ? mb_substr($feature_team['title'], 0, 43) . "..." : $feature_team['title'];
		$team_price = $feature_team['team_price'];
	}
	*/
?>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<div class="container-fluid subscription-form">
	<div class="container">
		<form action="/ajax/subscribe.php" name="newsletter-frm" id="newsletter-frm">
			<input type="hidden" name="action" value="subscribe" />
			<input type="hidden" name="fullname" id="fullname" placeholder="Votre nom" />
			<ul class="list-inline">
				<li class="padding-right20"><a href="/team/index.php">L'offre du jour:</a>
				</li>
				<li class="today-deal"><a href="<!--${echo ZTeam::GetTeamUrl($current_deal)}-->">{$current_deal_title} ${moneyit($current_team_price, true)}</a>
				</li>
				<li class="form-title">Ne ratez aucune offre</li>
				<li>
					<input type="email" name="email" id="email" placeholder="Saisissez votre e-mail" />
				</li>
				<li>
					<input onclick="subscribe();" type="button" value="Je m'abonne" class="submit-01" />
				</li>
				<li>
					<a href="#" id="close-subscription"><img src="/static/images/close-btn.png"></a>
				</li>
			</ul>
		</form>
	</div>
</div>
<div id="open-subscription">
	<img src="/static/images/subscribe.png">
</div>
<script type="text/javascript">
	if($.cookie('subscribe') != undefined) {
		$('.subscription-form').hide();
		$('#open-subscription').show();
	}
	$(document).ready(function(){
		$('#close-subscription').click(function(){
			$('.subscription-form').slideUp();
			$('#open-subscription').slideDown();
			if($.cookie('subscribe') == undefined) {
				$.cookie('subscribe', 'off', { expires: 7, path: '/' });
			}
		});
		$('#open-subscription').click(function(){
			$('html,body').animate({
          scrollTop: 0
        }, 500, function(){
					$('.subscription-form').slideDown();
					$('#open-subscription').slideUp();
			});
			if($.cookie('subscribe') != undefined) {
				$.removeCookie('subscribe', { path: '/' });
			}
		});
	});	
</script>
<?php } ?>