<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="recent-deals">
    <div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>{$city['name']}Current deals</h2></div>
				<div class="sect">
					<ul class="deals-list">
					<!--{loop $teams $index $one}-->
						<li class="${$index++%2?'alt':''} ${$index<=2?'first':''}">
							<p class="time">${date('Y year n month j date', $one['begin_time'])} - ${date('Y year n month j date', $one['end_time'])}</p>
							<h4><a href="/team.php?id={$one['id']}" title="{$one['title']}" target="_blank">{$one['title']}</a></h4>
							<div class="pic">
								<div class="{$one['picclass']}"></div>
								<a href="/team.php?id={$one['id']}" title="{$one['title']}" target="_blank"><img alt="{$one['title']}" src="${team_image($one['image'], true)}" width="200" height="121"></a>
							</div>
							<div class="info"><p class="total"><strong class="count">{$one['now_number']}</strong>persons have bought</p><p class="price">original price：<strong class="old"><span class="money">{$currency}</span>${moneyit($one['market_price'])}</strong><br />discount：<strong class="discount">${moneyit((10*$one['team_price']/$one['market_price']))}off</strong><br />current price：<strong><span class="money">{$currency}</span>${moneyit($one['team_price'])}</strong><br />save：<strong><span class="money">{$currency}</span>${moneyit($one['market_price']-$one['team_price'])}</strong><br /></p></div>
						</li>
					<!--{/loop}-->
					</ul>
					<div class="clear"></div>
					<div>{$pagestring}</div>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
	<div id="sidebar">
		<!--{include block_side_subscribe}-->
	</div>
</div>
    </div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
