<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">


<!--{if $team['close_time']}-->
<div id="sysmsg-tip" class="sysmsg-tip-deal-close"><div class="sysmsg-tip-top"></div><div class="sysmsg-tip-content"><div class="deal-close"><div class="focus">Sorry, you come late，<br />This product has been sold out friends。</div><div id="tip-deal-subscribe-body" class="body"><form id="tip-deal-subscribe-form" method="post" action="/subscribe.php" class="validator"><table><tr><td>Do not want to miss Tomorrow's hot products？Subscribe to the latest hot commodity dail a day information：&nbsp;</td><td><input type="text" name="email" class="f-text" value="" require="true" datatype="email" /></td><td>&nbsp;<input class="commit" type="submit" value="Subscribe" /></td></tr></table></form></div></div><span id="sysmsg-tip-close" class="sysmsg-tip-close">Close</span></div><div class="sysmsg-tip-bottom"></div></div>
<!--{/if}-->

<!--{if $order}-->
<div id="sysmsg-tip" ><div class="sysmsg-tip-top"></div><div class="sysmsg-tip-content">You have gotten down the order form, but has not paid money<a href="/order/check.php?id={$order['id']}">View order and payment</a><span id="sysmsg-tip-close" class="sysmsg-tip-close">Close</span></div><div class="sysmsg-tip-bottom"></div></div><div id="deal-default">
<!--{/if}-->

	<div id="deal-default">
		<!--{include block_team_share}-->
		<div id="content">
			<div id="deal-intro" class="cf">
                <h1><!--{if $team['close_time']==0}--><a class="deal-today-link" href="/team.php?id={$team['id']}">Hot Products:</a><!--{/if}-->{$team['title']}</h1>
                <div class="main">
                    <div class="deal-buy">
                        <div class="deal-price-tag"></div>
					<!--{if ($team['state']=='soldout')}-->
                        <p class="deal-price"><strong>{$currency}${moneyit($team['team_price'])}</strong><span class="deal-price-soldout"></span></p>
					<!--{elseif $team['close_time']}-->
                        <p class="deal-price"><strong>{$currency}${moneyit($team['team_price'])}</strong><span class="deal-price-expire"></span></p>
					<!--{else}-->
                        <p class="deal-price"><strong>{$currency}${moneyit($team['team_price'])}</strong><span><a ${$team['begin_time']<time()?'href="/team/buy.php?id='.$team['id'].'"':''}><img src="/static/css/i/button-deal-buy.gif" /></a></span></p>
					<!--{/if}-->
                    </div>
                    <table class="deal-discount">
                        <tr>
                            <th>Original Price</th>
                            <th>Discount</th>
                            <th>Save</th>
                        </tr>
                        <tr>
                            <td>{$currency}${moneyit($team['market_price'])}</td>
							<td>${team_discount($team)}</td>
                            <td>{$currency}{$discount_price}</td>
                        </tr>
                    </table>
				</div>
                <div class="side">
                    <div class="deal-buy-cover-img" id="team_images">
					<!--{if $team['image1']||$team['image2']}-->
						<div class="mid">
							<ul>
								<li class="first"><img src="${team_image($team['image'])}"/></li>
							<!--{if $team['image1']}-->
								<li><img src="${team_image($team['image1'])}"/></li>
							<!--{/if}-->
							<!--{if $team['image2']}-->
								<li><img src="${team_image($team['image2'])}"/></li>
							<!--{/if}-->
							</ul>
							<div id="img_list">
								<a ref="1" class="active">1</a>
							<!--${$imageindex=1;}-->
							<!--{if $team['image1']}-->
								<a ref="${++$imageindex}" >{$imageindex}</a>
							<!--{/if}-->
							<!--{if $team['image2']}-->
								<a ref="${++$imageindex}" >{$imageindex}</a>
							<!--{/if}-->
							</div> 
						</div>
						<!--{else}-->
							<img src="${team_image($team['image'])}"/>
						<!--{/if}-->
					</div>
				<!--{if strip_tags($team['summary'])!=$team['summary']}-->{$team['summary']}<!--{else}--><div class="digest"><br />${nl2br(strip_tags($team['summary']))}</div><!--{/if}-->
                </div>
            </div>
            <div id="deal-stuff" class="cf">
                <div class="clear box box-split">
                    <div class="box-top"></div>
                    <div class="box-content cf">
                        <div class="main">
						<!--{if trim(strip_tags($team['detail']))}-->
                            <h2 id="detail">Details of the single</h2>
							<div class="blk detail">{$team['detail']}</div>
						<!--{/if}-->
						</div>
                        <div class="side">
                            <div id="side-Business">
								<h2>{$partner['title']}</h2>
								<div style="margin-top:10px;">{$partner['location']}</div>
								<div style="margin-top:10px;"><a href="{$partner['homepage']}" target="_blank">${domainit($partner['homepage'])}</a></div>
								<!--{include block_block_partnermap}-->
							</div>
						</div>
                        <div class="clear"></div>
                    </div>
                    <div class="box-bottom"></div>
                </div>
            </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_bulletin}-->
		<!--{include block_side_flv}-->
		<!--{include block_side_ask}-->
		<!--{include block_side_vote}-->
		<!--{include block_side_subscribe}-->
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
