<!--{include html_header}-->
<div id="main">
		<div class="container">

<!--{include content_home}-->
<!-- #primary -->
<!--{include sidebar_detail}-->

<!-- #secondary -->
		</div>
	</div>
	<!-- #main -->

<!--{include html_footer}-->

