<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
<script type="text/javascript" src="/static/js/jquery.simpleValidate.js"></script>
	<!--{if $login_user_id != ''}--> 
    <form action="/team/buy.php?id={$team['id']}&op={$op}" method="post" class="required-main">
	<input id="deal-per-number" value="{$team['per_number']}" type="hidden" />
	<!--{/if}-->
    <div id="deal-buy" class="box">
        <div class="box-top"></div>
        <div class="box-content">
            <div class="head"><h2>${I(Submit_Order)} <!--{if $team['farefree']>0}-->&nbsp;(<span class="currency">{$team['farefree']}</span>free of express fee)<!--{/if}--></h2></div>
            <div class="sect">
            <table class="order-table">
                <tr>
                    <th class="deal-buy-desc" width="50%">Description</th>
                    <th class="deal-buy-quantity">${I(Quantity)}</th>
                    <th class="deal-buy-multi"></th>
                    <th class="deal-buy-price">${I(Price)}</th>
                    <th class="deal-buy-equal"></th>
                    <th class="deal-buy-total">${I(Total)}</th>
                </tr>
                <tr>
                    <td class="deal-buy-desc">
						<!--{if $lang=="en"}-->
						{$team['title']}
						<!--{elseif $lang =='fr'}-->
						{$team['title_fr']}
						<!--{/if}-->					
					</td>
                    <td class="deal-buy-quantity">
					<input type="text" class="input-text f-input" maxlength="4" name="quantity" value="{$order['quantity']}" ff="${abs(intval($team['farefree']))}" id="deal-buy-quantity-input" ${$team['per_number']==1?'readonly':''} style="display:none;" />
					
					<select name="quantity" id="deal-buy-quantity-input" style="width:50px;" onchange="document.getElementById('deal-buy-total').innerHTML={$team['team_price']}*this.options[this.selectedIndex].value;document.getElementById('deal-buy-total-t').innerHTML={$team['team_price']}*this.options[this.selectedIndex].value<!--{if $team['delivery']=='express'}-->+{$team['fare']}<!--{/if}-->;">
						<!--{loop $tmp $index $tmp2}-->
						<option value="{$tmp2}" >{$tmp2}</option>
						<!--{/loop}-->
					</select>
					<span style="font-size:12px;color:gray; display:none;">
					<!--{if $team['per_number']==0}-->
					at most 9999 pieces
					<!--{else}-->
					at most {$team['per_number']} pieces
					<!--{/if}-->
					</span>
					</td>
                    <td class="deal-buy-multi">x</td>
                    <td class="deal-buy-price"><span class="money">{$currency}</span><span id="deal-buy-price">{$team['team_price']}</span></td>
                    <td class="deal-buy-equal">=</td>
                    <td class="deal-buy-total"><span class="money">{$currency}</span><span id="deal-buy-total">{$order['quantity']*$team['team_price']}</span><!-- $order['quantity'] --></td>
                </tr>
				<!--{if $team['delivery']=='express'}-->
                <tr>
                    <td class="deal-buy-desc">	<!--{if $lang=="en"}-->
						Shipping fees
						<!--{elseif $lang =='fr'}-->
					Frais d'envoi
						<!--{/if}--></td>
                    <td class="deal-buy-quantity"></td>
                    <td class="deal-buy-multi"></td>
                    <td class="deal-buy-price"><span class="money">{$currency}</span><span id="deal-express-price" v="{$team['fare']}">{$team['fare']}</span></td>
                    <td class="deal-buy-equal">=</td>
                    <td class="deal-buy-total"><span class="money">{$currency}</span><span id="deal-express-total" v="{$team['fare']}">{$team['fare']}</span></td>
                </tr>
				<!--{/if}-->

				<tr class="order-total">
                    <td class="deal-buy-desc"><strong>${I(Total_Order)}</strong></td>
                    <td class="deal-buy-quantity"></td>
                    <td class="deal-buy-multi"></td>
                    <td class="deal-buy-price"></td>
                    <td class="deal-buy-equal">=</td>
                    <td class="deal-buy-total"><span class="money">{$currency}</span><strong id="deal-buy-total-t">{$order['origin']}</strong></td>
                </tr>
            </table>
              <br />
              <a href="/team/gift.php?id={$team['id']}&op={$op}">${I(Buy_Gift_Message)}</a>
              <br />              
			<br /><!--
			<!--{if $team['delivery']=='express'}-->
			<div class="expresstip">${nl2br($team['express'])}</div>
			<div class="wholetip clear"><h3>express info</h3></div>
			<!--{/if}-->
			-->
			<!--{if $login_user_id == ''}--> 
			<div class="wholetip clear"><h3 style="text-transform:none !important;">
			<!--{if $lang=="en"}-->
			Already registered? Please log in
			<!--{elseif $lang =='fr'}-->
			Est-ce que vous avez d&eacute;j&agrave; un compte ?
			<!--{/if}-->				
			</h3>
			</div>
			<form id="login-user-form" method="post" action="/account/login.php"  class="required-form" >
				<div class="field email">
					<label for="login-email-address"><em class="required">*</em> ${I(Username)}</label>
					<input type="text" size="30" name="email" id="login-email-address" class="f-input required" value="" min="2" />
				</div>
				<div class="field password">
					<label for="login-password"><em class="required">*</em> ${I(Password)}</label>
					<input type="password" size="30" name="password" id="login-password" class="f-input required" />
				</div>                
				<div class="act">
					<input type="hidden" name="ref" value="/team/buy.php?id={$team['id']}&op={$op}"  />
					<input type="submit" value="${I(Login)}" name="commit" id="login-submit" class="formbutton"/> <span class="lostpassword"><a href="/account/repass.php"> ${I(ForgotPassword)}?</a></span> 
				</div>
			</form>
			<script type="text/javascript">
			$(document).ready(function() {
				$('form.required-form').simpleValidate({
				  errorElement: 'em'
				});
			});
			</script>	
			<br />			
			<div class="wholetip clear"><h3 style="text-transform:none !important;">
			<!--{if $lang=="en"}-->
			Create a new account
			<!--{elseif $lang =='fr'}-->
			ou bien ouvrir un nouveau compte.
			<!--{/if}-->				
			</h3></div>
			<div class="field" style="text-align:center;">
				<strong>${I(Buy_Info)}</strong>
			</div>
			<form id="signup-user-form" method="post" action="/account/signup.php" class="required-form2">
			<div class="field email">
				<label for="login-email-address"><em class="required">*</em> ${I(Email)}</label>
				<input type="text" size="30" name="email" id="login-email-address" class="f-input required email" value="" require="true" datatype="require|limit" min="2" />
			</div>
			<div class="field password">
				<label for="signup-password"><em class="required">*</em> ${I(Password)}</label>
				<input type="password" size="30" name="password" id="signup-password" class="f-input required" require="true" datatype="require" />
				<span class="hint">${I(HintPassword)}</span>
			</div>
			<div class="field password">
				<label for="signup-password-confirm"><em class="required">*</em> ${I(RepeatPassword)}</label>
				<input type="password" size="30" name="password2" id="signup-password-confirm" class="f-input required" require="true" datatype="compare" compare="signup-password" />
			</div>		
			<div class="field username">
				<label><em class="required">*</em> ${I(PFullName)}</label>
				<input type="text" size="30" name="realname" id="settings-realname" class="f-input required" value="{$login_user['realname']}" require="true" datatype="require" />
			</div>
			<div class="field username">
				<label></label>
				
				<!--{if $login_user['gender'] == 'F'}-->
					<!--${$fselect = 'checked="checked"'}-->
					<!--${$mselect = ''}-->
				<!--{else}-->
					<!--${$mselect = 'checked="checked"'}-->
					<!--${$fselect = ''}-->
				<!--{/if}-->				
				<input type="radio" value="M" name="gender" {$mselect} /> ${I(Mister)}.
				<input type="radio" value="F" name="gender" {$fselect} /> ${I(Miss)}.				
			</div>
			<div class="field mobile">
				<label><em class="required">*</em> ${I(Phone_Number)}</label>
				<input type="text" size="30" name="mobile" id="settings-mobile" class="number required" value="{$login_user['mobile']}" require="true" datatype="mobile" maxLength="14" /> <span class="hint">${I(Phone_Info)}</span>
			</div>				
			<div class="field username">
				<label><em class="required">*</em> ${I(Address)}</label>
				<input type="text" size="30" name="address" id="settings-address" class="f-input required" value="{$login_user['address']}" require="true" datatype="require" />
			</div>					
			<div class="field">
				<label><em class="required">*</em> ${I(Zipcode)}</label>
				<input type="text" maxLength=6 size="10" name="zipcode" id="settings-zipcode" class="f-input required number" value="{$login_user['zipcode']}" />
			</div>								
			<div class="field city" style="display:none;">
				<label><em class="required">*</em> ${I(City)}</label>
				<select name="city_id" class="f-city">
					${Utility::Option(Utility::OptionArray($allcities, 'id', 'name'), $login_user['city_id'])}
					<option value='0'>Others</option>
				</select>
			</div>	
			<div class="field city">
				<label><em class="required">*</em> ${I(City)}</label>
				<input type="text"  size="10" name="region" id="settings-region" class="f-input required" value="{$login_user['region']}" />
			</div>				

			<div class="field password">
				<label><em class="required">*</em> ${I(Country)}</label>
				<select name="country" class="f-city">
					<!--{loop $countries $country_id $country}-->
						<!--{if $country_id == 'CH'}-->
							<!--${$cselect = 'selected="selected"'}-->
						<!--{else}-->
							<!--${$cselect = ''}-->
						<!--{/if}-->
							<option value='{$country_id}' {$cselect}>{$country}</option>
					<!--{/loop}-->
				</select>
			</div>
			<div class="wholetip clear" style="display:none;"><h3>Additional Comment About Your Order</h3></div>
			<!--{if $condbuy=nanooption($team['condbuy'])}-->
			<div class="field mobile" style="display:none;">
				<label>order options</label>
				<select name="condbuy" class="f-input required" style="width:auto;">${Utility::Option(array_combine($condbuy, $condbuy), 'condbuy')}</select>
			</div>
			<!--{/if}-->
			<div class="field mobile" style="display:none;">
				<label>order info</label>
				<textarea name="remark" class="f-textarea">${htmlspecialchars($order['remark'])}</textarea>
			</div>
                <div class="field" style="margin-left:110px">
                    <input type="checkbox" value="1" name="auto-login" id="autologin" class="f-check" checked />
                    <label for="autologin">${I(AutoLogin)}</label>
                </div>	            
			<div class="form-submit"><input type="hidden" name="ref" value="/team/buy.php?id={$team['id']}&op={$op}"  /><input type="submit" class="formbutton" name="buy" value="Continue"/></div>
            </div>
			</form>
			<script type="text/javascript">
			$(document).ready(function() {
				$('form.required-form2').simpleValidate({
				  errorElement: 'em'
				});
			});
			</script>			
			<!--{else}-->			
			<div class="wholetip clear"><h3>${I(Buy_Info)}</h3></div>
			<div class="field username">
				<label> <em class="required">*</em> ${I(PFullName)}</label>
				<input type="text" size="30" name="realname" id="settings-realname" class="f-input required" value="{$login_user['realname']}" require="true" datatype="require" />
			</div>
			<div class="field username">
				<label></label>
				<!--{if $login_user['gender'] == 'M'}-->
					<!--${$mselect = 'checked="checked"'}-->
					<!--${$fselect = ''}-->
				<!--{else}-->
					<!--${$fselect = 'checked="checked"'}-->
					<!--${$mselect = ''}-->
				<!--{/if}-->				
				<input type="radio" value="M" name="gender" {$mselect} /> ${I(Mister)}.
				<input type="radio" value="F" name="gender" {$fselect} /> ${I(Miss)}.				
			</div>
			<div class="field mobile">
				<label><em class="required">*</em> ${I(Phone_Number)}</label>
				<input type="text" size="30" name="mobile" id="settings-mobile" class="required number" value="{$login_user['mobile']}" require="true" datatype="mobile" maxLength="14" /> <span class="hint">${I(Phone_Info)}</span>
			</div>				
			<div class="field username">
				<label><em class="required">*</em> ${I(Address)}</label>
				<input type="text" size="30" name="address" id="settings-address" class="f-input required" value="{$login_user['address']}" require="true" datatype="require" />
			</div>					
			<div class="field">
				<label><em class="required">*</em> ${I(Zipcode)}</label>
				<input type="text" maxLength=6 size="10" name="zipcode" id="settings-zipcode" class="f-input number required" value="{$login_user['zipcode']}" />
			</div>								
			<div class="field city" style="display:none;">
				<label><em class="required">*</em> ${I(City)}</label>
				<select name="city_id" class="f-city required">
					${Utility::Option(Utility::OptionArray($allcities, 'id', 'name'), $login_user['city_id'])}
					<option value='0'>Others</option>
				</select>
			</div>	
			<div class="field city">
				<label><em class="required">*</em> ${I(City)}</label>
				<input type="text"  size="10" name="region" id="settings-region" class="f-input required" value="{$login_user['region']}" />
			</div>				

			<div class="field password">
				<label><em class="required">*</em>  ${I(Country)}</label>
				<select name="country" class="f-city required">
					<!--{loop $countries $country_id $country}-->
						<!--{if $country_id == $login_user['country']}-->
							<!--${$cselect = 'selected="selected"'}-->
						<!--{else}-->
							<!--${$cselect = ''}-->
						<!--{/if}-->
							<option value='{$country_id}' {$cselect}>{$country}</option>
					<!--{/loop}-->
				</select>
			</div>
			<div class="wholetip clear" style="display:none;"><h3>Additional Comment About Your Order</h3></div>
			<!--{if $condbuy=nanooption($team['condbuy'])}-->
			<div class="field mobile" style="display:none;">
				<label>order options</label>
				<select name="condbuy" class="f-input required" style="width:auto;">${Utility::Option(array_combine($condbuy, $condbuy), 'condbuy')}</select>
			</div>
			<!--{/if}-->
			<div class="field mobile" style="display:none;">
				<label>order info</label>
				<textarea name="remark" class="f-textarea">${htmlspecialchars($order['remark'])}</textarea>
			</div>
                        <div class="wholetip clear"><h3>CODE PROMO (Si vous poss&eacute;dez un code promotionnel)</h3></div>
                        <div class="field mobile">
				<label>Code Promo</label>
				<input name="cid" value=""  size="10" class="f-input"/>
			</div>
			<div class="wholetip clear">							
				<h3>
				<!--{if $lang=="en"}-->
				PAYMENT METHOD
				<!--{elseif $lang =='fr'}-->
				MODE DE PAIEMENT
				<!--{/if}-->	
            			</h3>
			</div>
	    <div class="wholetip clear"> 
<style type="text/css">
.payment_table{
	margin-left: 0;
	width: 650px;
	color: #000;
	margin-top: 30px;
}
.payment_table td{
	padding: 20px 0;
	vertical-align: middle;
}

.payment_table td.Icon{
	width: 30%;
	text-align:center;
}
.payment_table p{
	margin-left: 17px;
}
.payment_table p sup{
	font-size: 8px;
	vertical-align:top;
}
.payment_table .Red{
	color: red;
}
</style>
            <table border="0" cellspacing="0" cellpadding="5" class="payment_table">
		<tr>
			<td class="Icon"><img src="/static/img/visa_master.png"/></td>
			<td valign="top">	<!--{if $INI['post']['username']}-->
				<input id="check-post" type="radio" name="paytype" value="post" checked="checked"/>
					<strong>						
					<!--{if $lang=="en"}-->
					Credit cards
					<!--{elseif $lang =='fr'}-->
					Carte de crédits
					<!--{/if}-->
					</strong>
				<!--{/if}-->
				<p>
					<!--{if $lang=="en"}-->
					Payment by VISA and MasterCard
					<!--{elseif $lang =='fr'}-->
					Paiement par carte de crédits VISA et MasterCard
					<!--{/if}-->
				</p>				
			</td>

		</tr>
		<tr>
			<td class="Icon"><img src="/static/css/i/post-finance-2.png" width="54" height="34" /></td>	
			<td valign="top"><!--{if $INI['post']['username']}-->
					<input id="check-paypal" type="radio" name="paytype" value="post"/>
					<strong>
						PostFinance Card, PostFinance e-finance
					</strong>
				<!--{/if}--></td>

		</tr>
		<tr>
			<td class="Icon"><img src="/static/css/i/paypal-2.png" width="54" height="34" /></td>	
			<td valign="top"><!--{if $INI['paypal']['username']}-->
				<input id="check-paypal" type="radio" name="paytype" value="paypal"/>
					<strong>Paypal</strong>
				<!--{/if}-->
				<p>
					<!--{if $lang=="en"}-->
					If you have a PayPal account
					<!--{elseif $lang =='fr'}-->
					Si vous possédez un compte PayPal
					<!--{/if}-->
				</p>
			</td>

		</tr>
		<tr>
			<td class="Icon"><img src="/static/img/swissbilling.png"/></td>	
			<td valign="top">
				<!--{if $INI['swissbilling']['id']}-->
				<input id="check-swissbilling" type="radio" name="paytype" value="swissbilling"/>
					<strong>
				<!--{if $lang=="en"}-->
					Invoice to be paid within 14 days (+ 5.- extra fees)
					<!--{elseif $lang =='fr'}-->
					Facture à 14 jours (+ 5.- de frais de traitement)
					<!--{/if}-->
					</strong>
				<!--{/if}-->
				<!--{if $lang=="en"}-->
				<p>Payment by invoice with SwissBilling<small><sup>TM</sup></small>.</p><p class="Red">With this payment method, please use your private address. It is not possible to be delivered at your work place.</p>
				<!--{elseif $lang =='fr'}-->
				<p>Paiement sur facture en une ou plusieurs mensualités avec SwissBilling<small><sup>TM</sup></small>.</p><p class="Red"> Avec ce mode de paiement, veuillez utiliser uniquement votre adresse privée. Il n'est pas possible d'être livré sur votre lieu de travail.</p>
				<!--{/if}-->
			</td>
		</tr>
                <tr>
			<td class="Icon"><img src="/static/img/wire-transfer.png"/></td>	
			<td valign="top">
				<input id="check-wire" type="radio" name="paytype" value="wire"/>
                                        <strong>${I('wire_transfer')}</strong>
				<p>
					${I('wire_transfer_tip')}
				</p>
			</td>

		</tr>
	  </table>
	  </div>
			<div style="padding:10px 0px" align="left" >
	   <input id="check-cond" type="checkbox" name="cond" class="required checkbox" value="checked"/>
			<!--{if $lang=="en"}-->
				 I do accept the <a style="text-decoration:underline" href="/about/terms.php" target="_blank">general conditions</a> and <a style="text-decoration:underline" href="/about/privacy.php" target="_blank">privacy policy</a>
			<!--{elseif $lang =='fr'}-->
				 J'accepte les <a style="text-decoration:underline" href="/about/terms.php" target="_blank">conditions g&eacute;n&eacute;rales</a> et de <a style="text-decoration:underline" href="/about/privacy.php" target="_blank">confidentialit&eacute;</a>
			<!--{/if}-->		   
				 <label><em class="required"></em> </label>
			</div>				
			<input type="hidden" name="id" value="{$order['id']}" />
			<br />
			<div><input type="submit" class="formbutton" name="buy" value="Continue"/></div>
            </div>
			<!--{/if}-->
        </div>
        <div class="box-bottom"></div>
    </div>
	<!--{if $login_user_id != ''}--> 	
    </form>
		<script type="text/javascript">
		$(document).ready(function() {
			$('form.required-main').simpleValidate({
			  errorElement: 'em'
			});
		});
		</script>		
	<!--{/if}-->
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script>
window.x_init_hook_dealbuy = function(){
	X.team.dealbuy_farefree(${abs(intval($order['quantity']))});
	X.team.dealbuy_totalprice();
};
jQuery(document).ready(){
	jQuery('.most_coupons').css({
		display: 'none',
		position: 'absolute'
	});
	jQuery('#deal-buy-quantity-input').mouseover(function(){
		$(this).next().slideDown();
	});
}
</script>
<!--{include footer}-->
