<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<!--{if is_newbie()}--><div id="sysmsg-guide"><div class="link"><a href="/help/tour.php"></a></div><a id="sysmsg-guide-close" href="javascript:void(0);" class="close">Close</a></div><!--{/if}-->

<!--{if $team['close_time']}-->
<div id="sysmsg-tip" class="sysmsg-tip-deal-close"><div class="sysmsg-tip-top"></div><div class="sysmsg-tip-content"><div class="deal-close"><div class="focus">Sorry, you are late，<br />this deal is over.</div><div id="tip-deal-subscribe-body" class="body"><form id="tip-deal-subscribe-form" method="post" action="/subscribe.php" class="validator"><table><tr><td>Don't miss other deals, subscribe our daily deal news now：&nbsp;</td><td><input type="text" name="email" class="f-text" value="" require="true" datatype="email" /></td><td>&nbsp;<input class="commit" type="submit" value="订阅" /></td></tr></table></form></div></div><span id="sysmsg-tip-close" class="sysmsg-tip-close">Close</span></div><div class="sysmsg-tip-bottom"></div></div>
<!--{/if}-->

<!--{if $order}-->
<div id="sysmsg-tip" ><div class="sysmsg-tip-top"></div><div class="sysmsg-tip-content">You have ordered, not paid yet.<a href="/order/check.php?id={$order['id']}">View order and payment</a><span id="sysmsg-tip-close" class="sysmsg-tip-close">Close</span></div><div class="sysmsg-tip-bottom"></div></div><div id="deal-default"> 
<!--{/if}-->

	<div id="deal-default">
		<!--{include block_team_share}-->
		<div id="content">
			<div id="deal-intro" class="cf">
                <h1><!--{if $team['close_time']==0}--><a class="deal-today-link" href="/team.php?id={$team['id']}">Today's Deal：</a><!--{/if}-->{$team['title']}</h1>
                <div class="main">
                    <div class="deal-buy">
                        <div class="deal-price-tag"></div>
					<!--{if ($team['state']=='soldout')}-->
                        <p class="deal-price"><strong>{$currency}${moneyit($team['team_price'])}</strong><span class="deal-price-soldout"></span></p>
					<!--{elseif $team['close_time']}-->
                        <p class="deal-price"><strong>{$currency}${moneyit($team['team_price'])}</strong><span class="deal-price-expire"></span></p>
					<!--{else}-->
                        <p class="deal-price"><strong>{$currency}${moneyit($team['team_price'])}</strong><span><a href="${$team['begin_time']<time()?'/team/buy.php?id='.$team['id'] : 'javascript: alert(\'Deal has not yet begun...\')'}"><img src="/static/css/i/button-deal-buy_seconds.gif" /></a></span></p>
					<!--{/if}-->
                    </div>
                    <table class="deal-discount">
                        <tr>
                            <th>Original Price</th>
                            <th>Discount</th>
                            <th>Save</th>
                        </tr>
                        <tr>
                            <td>{$currency}${moneyit($team['market_price'])}</td>
							<td>${team_discount($team)}</td>
                            <td>{$currency}{$discount_price}</td>
                        </tr>
                    </table>
					<!--{if $team['begin_time'] > time()}-->
						<div class="deal-box deal-timeleft deal-on" id="deal-timeleft" curtime="{$now}000" diff="{$diff_time}000">
							<h3>Time Left To Buy</h3>
							<div class="limitdate"><ul id="counter">
							<!--{if $left_day>0}-->
								<li><span>{$left_day}</span>Days</li><li><span>{$left_hour}</span>Hours</li><li><span>{$left_minute}</span>Minutes</li>
							<!--{else}-->
								<li><span>{$left_hour}</span>Hours</li><li><span>{$left_minute}</span>Minutes</li><li><span>{$left_time}</span>Seconds</li>
							<!--{/if}-->
							</ul></div>
						</div>
					<!--{else}-->
						<!--{if $team['close_time']}-->
						<div class="deal-box deal-timeleft deal-off" id="deal-timeleft" curtime="{$now}000" diff="{$diff_time}000">
							<h3>Time Left To Buy0</h3>
							<div class="limitdate"><p class="deal-buy-ended">${date('Y-m-d', $team['close_time'])}<br>${date('H:i:s', $team['close_time'])}</p></div>
						</div>
						<!--{else}-->
						<div class="deal-box deal-timeleft deal-on" id="deal-timeleft" curtime="{$now}000" diff="{$diff_time}000">
							<h3>Deal will is over at: </h3>
							<div class="limitdate">1<ul id="counter">
							<!--{if $left_day>0}-->
								<li><span>{$left_day}</span>Days</li><li><span>{$left_hour}</span>Hours</li><li><span>{$left_minute}</span>Minutes</li>
							<!--{else}-->
								<li><span>{$left_hour}</span>Hours</li><li><span>{$left_minute}</span>Minutes</li><li><span>{$left_time}</span>Seconds</li>
							<!--{/if}-->
							</ul></div>
						</div>
						<!--{/if}-->
					<!--{/if}-->

					<!--{if $team['close_time']==0}-->
						<!--{if $team['state']=='none'}-->
						<div class="deal-box deal-status" id="deal-status">
							<!--{if ($team['max_number'] - $team['now_number']) > 0}-->
								<p class="deal-buy-tip-top">Left<strong>${($team['max_number'] - $team['now_number'])}</strong></p>
							<!--{elseif (!$team['max_number'])}-->
								<p class="deal-buy-tip-top">Deal in Progress</p>
							<!--{else}-->
								<p class="deal-buy-tip-top">Deal has Ended</p>
							<!--{/if}-->
							<div class="progress-pointer" style="padding-left:{$bar_size-$bar_offset}px;"><span></span></div>
							<div class="progress-bar"><div class="progress-left" style="width:{$bar_size-$bar_offset}px;"></div><div class="progress-right "></div></div>
							<div class="cf"><div class="min">0</div><div class="max">{$team['min_number']}</div></div>
							<p class="deal-buy-tip-btm">This Deal Has  <strong>{$team['min_number']-$team['now_number']}</strong>Left To Be On</p>
						</div>
						<!--{else}-->
						<div class="deal-box deal-status deal-status-open" id="deal-status">
							<p class="deal-buy-tip-top"><strong>{$team['now_number']}</strong> bought </p>
							<p class="deal-buy-on" style="line-height:200%;"><img src="/static/css/i/deal-buy-succ.gif"/> The deal is tipped! <!--{if $team['max_number']>$team['now_number']||$team['max_number']==0}--><br/>You can buy it now.<!--{/if}--></p>
						</div>
						<!--{/if}-->
					<!--{else}-->
						<div class="deal-box deal-status deal-status-{$team['state']}" id="deal-status"><div class="deal-buy-seconds"></div><p class="deal-buy-tip-total">Totally <strong>{$team['now_number']}</strong> bought </p></div> 
					<!--{/if}-->
				</div>
                <div class="side">
                    <div class="deal-buy-cover-img" id="team_images">
					<!--{if $team['image1']||$team['image2']}-->
						<div class="mid">
							<ul>
								<li class="first"><img src="${team_image($team['image'])}"/></li>
							<!--{if $team['image1']}-->
								<li><img src="${team_image($team['image1'])}"/></li>
							<!--{/if}-->
							<!--{if $team['image2']}-->
								<li><img src="${team_image($team['image2'])}"/></li>
							<!--{/if}-->
							</ul>
							<div id="img_list">
								<a ref="1" class="active">1</a>
							<!--${$imageindex=1;}-->
							<!--{if $team['image1']}-->
								<a ref="${++$imageindex}" >{$imageindex}</a>
							<!--{/if}-->
							<!--{if $team['image2']}-->
								<a ref="${++$imageindex}" >{$imageindex}</a>
							<!--{/if}-->
							</div> 
						</div>
						<!--{else}-->
							<img src="${team_image($team['image'])}"/>
						<!--{/if}-->
					</div>
				<!--{if strip_tags($team['summary'])!=$team['summary']}-->{$team['summary']}<!--{else}--><div class="digest"><br />${nl2br(strip_tags($team['summary']))}</div><!--{/if}-->
                </div>
            </div>
            <div id="deal-stuff" class="cf">
                <div class="clear box ${($partner&&!option_yes('teamwhole'))?'box-split':''}">
                    <div class="box-top"></div>
                    <div class="box-content cf">
                        <div class="main" id="team_main_side">
						<!--{if trim(strip_tags($team['detail']))}-->
                            <h2 id="detail">Details of the single</h2>
							<div class="blk detail">{$team['detail']}</div>
						<!--{/if}-->
						<!--{if trim(strip_tags($team['notice']))}-->
							<h2 id="detailit">Special Note</h2>
							<div class="blk cf">{$team['notice']}</div>
						<!--{/if}-->
						<!--{if trim(strip_tags($team['userreview']))}-->
							<h2 id="userreview">User Reviews</h2>
							<div class="blk review">${userreview($team['userreview'])}</div>
						<!--{/if}-->
						<!--{if trim(strip_tags($team['systemreview']))}-->
							<h2 id="systemreview">{$INI['system']['abbreviation']}said</h2>
							<div class="blk review">{$team['systemreview']}</div>
						<!--{/if}-->
						</div>
                        <div class="side" id="team_partner_side_${(!option_yes('teamwhole')&&abs(intval($partner['id'])))?1:0}">
                            <div id="side-Business">
								<h2>{$partner['title']}</h2>
								<div style="margin-top:10px;">{$partner['location']}</div>
								<div style="margin-top:10px;"><a href="{$partner['homepage']}" target="_blank">${domainit($partner['homepage'])}</a></div>
								<!--{include block_block_partnermap}-->
							</div>
						</div>
                        <div class="clear"></div>
                    </div>
                    <div class="box-bottom"></div>
                </div>
            </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_invite}-->
		<!--{include block_side_bulletin}-->
		<!--{include block_side_flv}-->
		<!--{include block_side_others_seconds}-->
		<!--{include block_side_ask}-->
		<!--{include block_side_Business}-->
		<!--{include block_side_vote}-->
		<!--{include block_side_subscribe}-->
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
