<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="consult">
	<div class="dashboard" id="dashboard">
		<ul>${current_ask('ask', $id)}</ul>
	</div>
	<div id="content">
		<div class="box">
			<div class="box-top"></div>
			<div class="box-content">
				<div class="head">
					<h2>groupbuy Q&A</h2>
				</div>
				<div class="sect consult-list">
					<ul class="list">
					<!--{loop $asks $one}-->
					<li id="ask-entry-{$one['id']}" >
						<div class="item">
							<p class="user"><strong>{$users[$one['user_id']]['username']}</strong><span>${Utility::HumanTime($one['create_time'])}</span></p>
							<div class="clear"></div>
							<p class="text">{$one['content']}</p>
							<p class="reply"><strong>reply：</strong>{$one['comment']}</p>
						</div>
					</li>
					<!--{/loop}-->
					</ul>
					{$pagestring}
				</div>
				<div class="head" id="post">
					<h2>I want to ask</h2>
				</div>
				<div class="sect consult-form">
				<!--{if is_login()}-->
					<form id="consult-add-form" method="post" action="/ajax/team.php?action=ask&id={$team['id']}">
					<input type="hidden" id="parent_id" value="{$parent_id}"/>
					<textarea class="f-textarea" cols="60" rows="5" name="content" id="consult-content"></textarea>
					<p class="commit">
						<input type="hidden" name="team_id" value="{$team['id']}" />
						<input type="hidden" name="type" value="ask" />
						<input type="submit" value="OK，submit" name="commit" class="formbutton"/>
					</p>
					</form>
					<div id="consult-add-succ" class="succ"><p>Your question has been submitted successfully, and you would be replied soon. Come back a few minutes later.</p><p><a href="/team.php?id={$team['id']}">Back to the deal</a>，or<a id="consult-add-more" href="javascript:void(0);">to ask other questions？</a></p></div>
				<!--{else}-->
					Please firstly<a href="/account/login.php?r={$currefer}">login</a>or<a href="/account/signup.php">register</a>before asking
				<!--{/if}-->
				</div>
			</div>
			<div class="box-bottom"></div>
		</div>
	</div>
	<div id="sidebar">
		<!--{include block_side_invite}-->
		<!--{include block_side_team}-->
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
