<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="recent-deals">
<!--{if option_yes('categoods')}-->
	<div class="dashboard" id="dashboard">
		<ul>${current_teamcategory($group_id)}</ul>
	</div>
<!--{/if}-->
    <div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>{$category['name']}Hot commodity</h2></div>
				<div class="sect">
					<ul class="deals-list">
					<!--{loop $goods $index $one}-->
						<li class="${$index++%2?'alt':''} ${$index<=2?'first':''}">
							<h4><a href="/team.php?id={$one['id']}" title="{$one['title']}" target="_blank">${mb_strimwidth($one['title'],0,86,'...')}</a></h4>
							<div class="pic">
								<div class="{$one['picclass']}"></div>
								<a href="/team.php?id={$one['id']}" title="{$one['title']}" target="_blank"><img alt="{$one['title']}" src="${team_image($one['image'], true)}" width="200" height="121"></a>
							</div>
							<div class="info">
								<p class="total"><strong class="count">{$one['now_number']}</strong>Person purchase</p>
								<p class="price">Initial Cost：<strong class="old"><span class="money">{$currency}</span>${moneyit($one['market_price'])}</strong><br />Discount：<strong class="discount">${team_discount($one)}Off</strong><br />Price：<strong><span class="money">{$currency}</span>${moneyit($one['team_price'])}</strong><br />Save：<strong><span class="money">{$currency}</span>${moneyit($one['market_price']-$one['team_price'])}</strong><br /></p>
							</div>
							<!--{if option_yes('moneysave')}--><div id="info_a">Total Savings:<strong class="count">{$currency}${moneyit($one['now_number']*($one['market_price']-$one['team_price']))}</strong></div><!--{/if}-->
						</li>
					<!--{/loop}-->
					</ul>
					<div class="clear"></div>
					<div>{$pagestring}</div>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
	<div id="sidebar">
		<!--{include block_side_subscribe}-->
	</div>
</div>
    </div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
