<!--{include header}-->
<div id="main">
		<div class="container">

<!--{include content}-->
<!-- #primary -->
<!--{include sidebar}-->

<!-- #secondary -->
		</div>
	</div>
	<!-- #main -->

<!--{include footer}-->
