
<!--{include header}-->
<link href="http://dinetime.pk/dailyhypes/static/css/index.css" rel="stylesheet" type="text/css" />


<div id="bdw" class="bdw">
<div id="bd" class="cf">

<!--{if $team['close_time']}-->
<div id="sysmsg-tip" class="sysmsg-tip-deal-close"><div class="sysmsg-tip-top"></div><div class="sysmsg-tip-content"><div class="deal-close"><div class="focus">Sorry, you're late.<br />Deal is closed。</div><div id="tip-deal-subscribe-body" class="body"><form id="tip-deal-subscribe-form" method="post" action="/subscribe.php" class="validator"><table><tr><td>Don't miss tomorrow's deals, Subscribe everyday's deals:&nbsp;</td><td><input type="text" name="email" class="f-text" value="" require="true" datatype="email" /></td><td>&nbsp;<input class="commit" type="submit" value="Subscribe" /></td></tr></table></form></div></div><span id="sysmsg-tip-close" class="sysmsg-tip-close">close</span></div><div class="sysmsg-tip-bottom"></div></div>
<!--{/if}-->

<!--{if $order}-->
<div id="sysmsg-tip" ><div class="sysmsg-tip-top"></div><div class="sysmsg-tip-content">You've placed your order, but you haven't paid.<a href="/order/check.php?id={$order['id']}">Check order and pay</a><span id="sysmsg-tip-close" class="sysmsg-tip-close">close</span></div><div class="sysmsg-tip-bottom"></div></div><div id="deal-default"> 
<!--{/if}-->

	<div id="deal-default">
		<!--{include block_team_share}-->
		<div id="content">
			<div id="deal-intro" class="cf">
                <h1><!--{if $team['close_time']==0}--><a class="deal-today-link" href="/team.php?id={$team['id']}"><!--{if ($team['team_type']=='weekly')}-->Week's<!--{else}-->Today's<!--{/if}--> Hype:</a><!--{/if}-->{$team['title']}</h1>
                <div class="main">
                  <div class="deal-buy">
                        <div class="deal-price-tag"></div>
					<!--{if ($team['state']=='soldout')}-->
                        <p class="deal-price"><strong>{$currency}${moneyit($team['team_price'])}</strong><span class="deal-price-soldout"></span></p>
					<!--{elseif $team['close_time']}-->
                        <p class="deal-price"><strong>{$currency}${moneyit($team['team_price'])}</strong><span class="deal-price-expire"></span></p>
					<!--{else}-->
                        <p class="deal-price"><strong>{$currency}${moneyit($team['team_price'])}</strong><span><a ${$team['begin_time']<time()?'href="/team/buy.php?id='.$team['id'].'"':''}><img src="/static/css/i/button-deal-buy.png" /></a></span></p>
					<!--{/if}-->
                    </div>
                    <table cellpadding="0" class="deal-discount">
                        <tr>
                            <th nowrap="nowrap"><strong>Value</strong></th>
                            <th nowrap="nowrap"><strong>Discount</strong></th>
                            <th nowrap="nowrap"><strong>Save</strong></th>
                      </tr>
                        <tr>
                            <td><span class="rs">{$currency}</span>${moneyit($team['market_price'])}</td>
							<td>${moneyit((100*($team['market_price'] - $team['team_price'])/$team['market_price']))}<span class="rs">%</span></td>
                            <td><span class="rs">{$currency}</span>{$discount_price}</td>
                        </tr>
                    </table>
					<!--{if $team['close_time']}-->
                    <div id="deal-timeleft" >
						<h3>Time left to Nab it!</h3>
						<div class="digitalbg">
                        <ul><li>12</li>
                        <li>12</li>
                        <li>12</li></ul>
                        </div>
                        <div class="labels">
                        <ul><li>HOURS</li>
                        <li>MINUTES</li>
                        <li>SECONDS</li></ul>
                        </div>
				  </div>
						
						<!--{/if}-->
					  </div>
					</div>
					<!--{/if}-->

				<!--{if $team['close_time']==0}-->
					<!--{if $team['state']=='none'}-->
<div class="deal-box deal-status" id="deal-status">
						<p class="deal-buy-tip-top"><strong>{$team['now_number']}</strong>  bought</p>
						<div class="progress-pointer" style="padding-left:{$bar_size-$bar_offset}px;"><span></span></div>
						<div class="progress-bar"><div class="progress-left" style="width:{$bar_size-$bar_offset}px;"></div><div class="progress-right "></div></div>
						<div class="cf"><div class="min">0</div><div class="max">{$team['min_number']}</div></div>
						<p class="deal-buy-tip-btm">Needs <strong>{$team['min_number']-$team['now_number']}</strong> more to be Tipped! </p>
					</div>
					<!--{else}-->
					<div class="deal-box deal-status deal-status-open" id="deal-status">
						<p class="deal-buy-tip-top"><strong>{$team['now_number']}</strong> bought</p>
					<!--{if $team['max_number']&&$team['max_number']>$team['now_number']}-->
						<p class="deal-buy-tip-btm">This deal has:<strong>{$team['max_number']-$team['now_number']}</strong> left, buy now</p>
					<!--{/if}-->
                      <div class="side" id="team_partner_side_${(!option_yes('teamwhole')&&abs(intval($partner['id'])))?1:0}">
                            <div id="side-Business">
								<h2>{$partner['title']}</h2>
								<div style="margin-top:10px;">{$partner['location']}</div>
								<div style="margin-top:10px;"><a href="{$partner['homepage']}" target="_blank">${domainit($partner['homepage'])}</a></div>
								<!--{include block_block_partnermap}-->
							</div>
						</div>
						<p class="deal-buy-on" style="line-height:200%;"><img src="/static/css/i/deal-buy-succ.png"/> deal tipped！ <!--{if $team['max_number']>$team['now_number']||$team['max_number']==0}--><br/>available to buy<!--{/if}--></p>
					<!--{if $team['reach_time']}-->
						<p class="deal-buy-tip-btm">Minimum Buys to meet to Tip this Deal:<strong>{$team['min_number']}</strong> persons</p>
					<!--{/if}-->
					</div>
					<!--{/if}-->
				<!--{else}-->
					<div class="deal-box deal-status deal-status-{$team['state']}" id="deal-status"><div class="deal-buy-{$team['state']}"></div>
					<p class="deal-buy-tip-total">in total <strong>{$team['now_number']}</strong> bought</p></div> 
				<!--{/if}-->
				</div>
                <div class="side">
                    <div class="deal-buy-cover-img" id="team_images">
					<!--{if $team['image1']||$team['image2']}-->
						<div class="mid">
							<ul>
								<li class="first"><img src="${team_image($team['image'])}"/></li>
							<!--{if $team['image1']}-->
								<li><img src="${team_image($team['image1'])}"/></li>
							<!--{/if}-->
							<!--{if $team['image2']}-->
								<li><img src="${team_image($team['image2'])}"/></li>
							<!--{/if}-->
							</ul>
							<div id="img_list">
								<a ref="1" class="active">1</a>
							<!--${$imageindex=1;}-->
							<!--{if $team['image1']}-->
								<a ref="${++$imageindex}" >{$imageindex}</a>
							<!--{/if}-->
							<!--{if $team['image2']}-->
								<a ref="${++$imageindex}" >{$imageindex}</a>
							<!--{/if}-->
							</div> 
						</div>
						<!--{else}-->
							<img src="${team_image($team['image'])}" width="440" height="280" />
						<!--{/if}-->
					</div>
				<!--{if strip_tags($team['summary'])!=$team['summary']}-->{$team['summary']}<!--{else}--><div class="digest"><br />${nl2br(strip_tags($team['summary']))}</div><!--{/if}-->
				<br /><br /><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=173930869284502&amp;amp;xfbml=1"></script><fb:comments numposts="10" width="425" publish_feed="false" simple="true"></fb:comments>
                </div>
            </div>
            <div id="deal-stuff" class="cf">
                <div class="clear box ${($partner&&!option_yes('teamwhole'))?'box-split':''}">
                    <div class="box-top"></div>
                    <div class="box-content cf">
                        <div class="main" id="team_main_side">
						<!--{if trim(strip_tags($team['detail']))}-->
                            <h2 id="detail">Detail</h2>
							<div class="blk detail">{$team['detail']}</div>
						<!--{/if}-->
						<!--{if trim(strip_tags($team['notice']))}-->
							<h2 id="detailit">Tips</h2>
							<div class="blk cf">{$team['notice']}</div>
						<!--{/if}-->
						<!--{if trim(strip_tags($team['userreview']))}-->
							<h2 id="userreview">Reviews</h2>
							<div class="blk review">${userreview($team['userreview'])}</div>
						<!--{/if}-->
						<!--{if trim(strip_tags($team['systemreview']))}-->
							<h2 id="systemreview">{$INI['system']['abbreviation']} Says</h2>
							<div class="blk review">{$team['systemreview']}</div>
						<!--{/if}-->
						</div>

                      

                        <div class="clear"></div>
                    </div>
                    <div class="box-bottom"></div>
                </div>
            </div>
    </div>
    <div id="sidebar">
	
		<!--{include block_side_subscribe}-->
		<!--{include block_side_business}-->
		<!--{include block_side_fbfanbox}-->
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
