<!--{include header}-->

<div id="main" class="main clear_fix">
  <div class="sidebar fl">
    <div class="top"> <a href="#"class="sl">
      ${moneyit($team['team_price'])}<img src="/static/img/charater.png" /> <a ${$team['begin_time']<time()?'href="/team/buy.php?id='.$team['id'].'"':''}> <span class="dv">&nbsp;</span> </a>
      <!--{/if}-->
      </a> </div>
    <div class="map">
      <h2>{$partner['title']}</h2>
      <p> {$partner['location']} </p>
    </div>
  </div>
  <div class="content">
    <div class="rightside">
      <!--box corner -->
      <div class="BoxCorner BoxConer1">
        <div class="BGM BoxTable">
          <div class="add"> <a href="/deals/submit.php">${I('Propose_Deal')}</a> </div>
        </div>
        <div class="BgBL">
          <div class="BgBR">
            <div class="BgBM"> </div>
          </div>
        </div>
      </div>
      <!--end box corner-->
      <!--box corner -->
      <!--{include block_side_contest}-->
      <div class="BoxCorner">
        <div class="BgTL">
          <div class="BgTR">
            <div class="BgTM"> </div>
          </div>
        </div>
        <div class="BGM BoxTable">
          <!--{include block_side_subscribe}-->
        </div>
        <div class="BgBL">
          <div class="BgBR">
            <div class="BgBM"> </div>
          </div>
        </div>
      </div>
      <!--{include block_social}-->
    </div>
    <div class="maincontent ">
      <div class="slideshow" id="slideshow">
        <div class="Item">
          <h2>
            <!--{if $team['close_time']==0}-->
            <a  href="/team.php?id={$team['id']}">
            <!--{if ($team['team_type']=='weekly')}-->
            Deal exceptionnel:
            <!--{else}-->
            Deal du jour:
            <!--{/if}-->
            </a>
            <!--{/if}-->
            <!--{if $lang=="en"}-->
            {$team['title']}
            <!--{elseif $lang =='fr'}-->
            {$team['title_fr']}
            <!--{/if}-->
          </h2>
          <div class="BoxCorner">
            <div class="BgTL">
              <div class="BgTR">
                <div class="BgTM"> </div>
              </div>
            </div>
            <div class="BGM BoxTable slide_container">
              <div class="link_list">
                <!--{if $team['image1']||$team['image2']}-->
                <a class="link" href="#"><img src="${team_image($team['image'])}"/></a>
                <!--{if $team['image1']}-->
                <a class="link" href="#"><img src="${team_image($team['image1'])}"/></a>
                <!--{/if}-->
                <!--{if $team['image2']}-->
                <a class="link" href="#"><img src="${team_image($team['image2'])}"/></a>
                <!--{/if}-->
                <!--{else}-->
                <a class="link" href="#"><img src="${team_image($team['image'])}"/></a>
                <!--{/if}-->
              </div>
            </div>
            <div class="BgBL">
              <div class="BgBR">
                <div class="BgBM"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagging"> </div>
      <!--{if $lang=="en"}-->
      <!--{if strip_tags($team['summary'])!=$team['summary']}-->
      {$team['summary']}
      <!--{else}-->
      <div class="digest"><br />
        ${nl2br(strip_tags($team['summary']))}</div>
      <!--{/if}-->
      <!--{elseif $lang =='fr'}-->
      <!--{if strip_tags($team['summary'])!=$team['summary']}-->
      {$team['summary_fr']}
      <!--{else}-->
      <div class="digest"><br />
        ${nl2br(strip_tags($team['summary_fr']))}</div>
      <!--{/if}-->
      <!--{/if}-->
      <br />
      <div class="detail">
        <!--{if $lang=="en"}-->
        <!--{if trim(strip_tags($team['detail']))}-->
        <h3>D&#233;tail</h3>
        {$team['detail']}
        <!--{/if}-->
        <!--{elseif $lang =='fr'}-->
        <!--{if trim(strip_tags($team['detail_fr']))}-->
        <h3>D&#233;tail</h3>
        {$team['detail_fr']}
        <!--{/if}-->
        <!--{/if}-->
        <br />
        <fb:comments numposts="10" width="425" publish_feed="false" simple="true" xid="deal-{$team['id']}"></fb:comments>
      </div>
    </div>
  </div>
</div>
<!--{include footer}-->
