<!--{include wap_header}-->

<h2><a href="index.php">Today's main</a>&nbsp;|&nbsp;<a href="now.php">Current deals</a>&nbsp;|&nbsp;Recent deals</h2>

<!--{loop $teams $team}-->
<p>${++$index}.&nbsp;<a href="team.php?id={$team['id']}">{$team['title']}</a></p>
<p>current price：{$currency}${moneyit($team['team_price'])} , original price：{$currency}${moneyit($team['market_price'])} , discount：${team_discount($team)} , save：{$currency}${moneyit($team['market_price']-$team['team_price'])}</p>
<p><a href="team.php?id={$team['id']}"><img src="${team_image($team['image'], true)}" width="200" height="120" /></a></p>
<!--{/loop}-->

{$pagestring}

<!--{include wap_footer}-->
