<!--{include wap_header}-->
<h2>My{$INI['system']['couponname']}</h2>
<p><a href="mycoupon.php">usable</a>&nbsp;|&nbsp;used&nbsp;|&nbsp;<a href="mycoupon.php?s=expired">expired</a></p>

<!--{loop $coupons $index $one}-->
<table id="order-list" style="margin:5px 0;" cellspacing="1" cellpadding="3" border="0" bgcolor="#13b0c5" width="100%">
	<tr><td bgcolor="#c5f5fb">No.：</td><td bgcolor="#dae992">{$one['id']}</td></tr>
	<tr><td bgcolor="#c5f5fb">code：</td><td bgcolor="#dae992">{$one['secret']}</td></tr>
	<tr><td bgcolor="#c5f5fb">deal：</td><td bgcolor="#dae992">{$teams[$one['team_id']]['product']}</td></tr>
	<tr><td bgcolor="#c5f5fb" width="60" nowrap>use：</td><td bgcolor="#dae992">${date('Y-m-d', $one['consume_time'])}</td></tr>
</table>
<!--{/loop}-->

<table><td>{$pagestring}</td></tr></table>

<!--{include wap_footer}-->
