<!--{include wap_header}-->
<h2>My order</h2>
<p><a href="myorder.php">paid</a>&nbsp;|&nbsp;to be paid</p>

<!--{loop $orders $index $one}-->
<table id="order-list" style="margin:5px 0;" cellspacing="1" cellpadding="3" border="0" bgcolor="#13b0c5" width="100%">
	<tr><td bgcolor="#c5f5fb" width="60" nowrap>date：</td><td bgcolor="#dae992">${date('Y-m-d H:i', $one['create_time'])}</td></tr>
	<tr><td bgcolor="#c5f5fb">deal：</td><td bgcolor="#dae992"><a class="deal-title" href="team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a></td></tr>
	<tr><td bgcolor="#c5f5fb">amount：</td><td bgcolor="#dae992">{$currency}${moneyit($one['origin'])}</td></tr>
	<!--{if $teams[$one['team_id']]['close_time']>0}-->
	<tr><td bgcolor="#c5f5fb">detail：</td><td bgcolor="#dae992">expired</td></tr>
	<!--{else}-->
	<tr><td bgcolor="#c5f5fb">detail：</td><td bgcolor="#dae992"><a href="pay.php?id={$one['id']}">pay</a></td>
	<!--{/if}-->
</table>
<!--{/loop}-->

<table><td>{$pagestring}</td></tr></table>

<!--{include wap_footer}-->
