<!--{include wap_header}-->

<h2><a href="my.php">account detail</a>&nbsp;|&nbsp;income and expenditure record</h2>

<!--{loop $flows $index $one}-->
<table id="order-list" style="margin:5px 0;" cellspacing="1" cellpadding="3" border="0" bgcolor="#13b0c5" width="100%">
	<tr><td bgcolor="#c5f5fb" width="60" nowrap>date：</td><td bgcolor="#dae992">${date('Y-m-d H:i', $one['create_time'])}</td></tr>
	<tr><td bgcolor="#c5f5fb">content：</td><td bgcolor="#dae992">{$option_flow[$one['action']]}&nbsp;-&nbsp;<!--{if $one['action']=='coupon'}-->{$INI['system']['couponname']}rebate<!--{elseif $one['action']=='invite'}-->friend：{$users[$one['detail_id']]['username']}<!--{elseif $one['action']=='buy'}--><a href="team.php?id={$one['detail_id']}">{$teams[$one['detail_id']]['product']}</a><!--{elseif $one['action']=='refund'}--><a href="team.php?id={$one['detail_id']}">{$teams[$one['detail_id']]['product']}</a><!--{elseif $one['action']=='charge'}-->recharge online<!--{elseif $one['action']=='withdraw'}-->user withdraws<!--{elseif $one['action']=='store'}-->offline recharge<!--{/if}--></td></tr>
	<tr><td bgcolor="#c5f5fb">income and expenditure：</td><td bgcolor="#dae992">${$one['direction']=='income'?'income':'expenditure'}</td></tr>
	<tr><td bgcolor="#c5f5fb">amount：</td><td bgcolor="#dae992">{$currency}${moneyit($one['money'])}</td></tr>
</table>
<!--{/loop}-->
<table><td>{$pagestring}</td></tr></table>

<!--{include wap_footer}-->
