<!--{include wap_header}-->

<!--{loop $cities $letter $ones}-->	
<p><b>{$letter}</b></p>
<!--{loop $ones $one}--><p><a href="city.php?ename={$one['ename']}&r={$currefer}">{$one['name']}</a></p><!--{/loop}-->
<!--{/loop}-->

<!--{include wap_footer}-->
