<!--{include wap_header}-->

<h2>login{$INI['system']['sitename']}</h2>

<form action="/wap/login.php" method="POST">
<p>account：</p>
<p><input type="text" name="email"/></p>
<p>password：</p>
<p><input type="password" name="password"/></p>
<p><input type="checkbox" name="remember" value="1" checked="checked" />remember me</p>
<p><input class="forButton" type="submit" value="login" /></p>
</form>

<!--{include wap_footer}-->
