<!--{include wap_header}-->

<h2>Today's main&nbsp;|&nbsp;<a href="now.php">current deals</a>&nbsp;|&nbsp;<a href="done.php">recent deals</a></h2>
<p><a href="team.php?id={$team['id']}">{$team['title']}</a></p>
<p>{$team['now_number']}have bought&nbsp;<!--{if $team['state']=='soldout'}-->sold out<!--{elseif $team['close_time']}-->closed<!--{else}--><a href="buy.php?id={$team['id']}">buy</a><!--{/if}--></p>

<p>current price：{$currency}${moneyit($team['team_price'])} , original price：{$currency}${moneyit($team['market_price'])} , discount：${team_discount($team)}% , save：{$currency}${moneyit($team['market_price']-$team['team_price'])}</p>
<p><a href="buy.php?id={$team['id']}"><img src="${team_image($team['image'], true)}" width="200" height="120" /></a></p>
<!--{if trim(strip_tags($team['summary']))}-->
<h2>details of the deal</h2>
<p>${htmlspecialchars($team['summary'])}</p>
<!--{/if}-->
<!--{if trim(strip_tags($team['notice']))}-->
<h2>Tips</h2>
<p>{$team['notice']}</p>
<!--{/if}-->
<!--{if trim(strip_tags($team['userreview']))}-->
<h2>they said</h2>
<p>${userreview($team['userreview'])}</p>
<!--{/if}-->
<!--{if trim(strip_tags($team['systemreview']))}-->
<h2>{$INI['system']['abbreviation']}Said</h2>
<p>{$team['systemreview']}</p>
<!--{/if}-->
<h2>buy</h2>
<p>{$team['now_number']}have bought&nbsp;<!--{if $team['state']=='soldout'}-->sold out<!--{elseif $team['close_time']}-->closed<!--{else}--><a href="buy.php?id={$team['id']}">buy</a><!--{/if}--></p>

<!--{include wap_footer}-->
