<!--{include wap_header}-->

<h2>{$INI['system']['subtitle']}</h2>
<p>{$city['name']}There's no deal for today, please check <a href="done.php">for recent deals</a></p>
<p>{$pagestring}</p>
<!--{include wap_footer}-->
