<h2>About this website</h2>
<p>This website is for groupbuying within a period. You may visit it on your phone and purchase with your account balance. Please recharge your account first.</p>
<h2>fast navigation</h2>
<table width="100%" border="0" cellpadding="2" cellspacing="0" class="navBg">
  <tr >
    <td align="center"><img src="../static/css/i/wap/deal.png" width="32" height="32" /></td>
    <td>&nbsp;</td>
    <td width="100%"><a href="index.php" accesskey="0">Today's deals</a></td>
  </tr><!--{if is_login()}-->
  <tr>
    <td align="center"><img src="../static/css/i/wap/deal.png" width="32" height="32" /></td>
    <td>&nbsp;</td>
    <td width="100%"><a href="myorder.php" accesskey="1">My order</a></td>
  </tr>
  <tr>
    <td align="center"><img src="../static/css/i/wap/deal.png" width="32" height="32" /></td>
    <td>&nbsp;</td>
    <td width="100%"><a href="mycoupon.php" accesskey="2">My{$INI['system']['couponname']}</a></td>
  </tr><!--{/if}-->
  <tr>
    <td align="center"><img src="../static/css/i/wap/personal.png" width="32" height="32" /></td>
    <td>&nbsp;</td>
    <td width="100%"><a href="my.php" accesskey="3">Personal account</a></td>
  </tr><!--{/if}-->
 <tr>
   <td align="center"><img src="../static/css/i/wap/city-switch.png" width="32" height="32" /></td>
   <td>&nbsp;</td>
    <td width="100%"><a href="city.php" accesskey="8">City switch</a></td>
  </tr>
    <tr>
      <td align="center"><img src="../static/css/i/wap/home.png" width="32" height="32" /></td>
      <td>&nbsp;</td>
    <td width="100%"><a href="index.php" accesskey="9">Back to home</a></td>
  </tr>
<!--{if is_login()}--><tr>
  <td align="center"><img src="../static/css/i/wap/log-out.png" width="32" height="32" /></td>
  <td>&nbsp;</td>
    <td width="100%"><a href="logout.php" accesskey="x">Logout</a></td>
  </tr>
<!--{else}--><tr>
  <td align="center"><img src="../static/css/i/wap/log-in.png" width="32" height="32" /></td>
  <td>&nbsp;</td>
    <td width="100%"><a href="login.php" accesskey="x">Login</a></td>
  </tr><!--{/if}-->
</table>
<div id="ft">&copy; 2010 {$INI['system']['sitename']}</div>
</body>
</html>
