<!--{include wap_header}-->

<h2>Deal name</h2>
<p>{$team['title']}</p>
<p>Quantity：<!--{if $team['per_number']}-->{$team['per_number']}<!--{else}-->no upper limit<!--{/if}-->
<p>Price：{$currency}${moneyit($team['team_price'])}</p>

<!--{if $team['delivery']=='express'}-->
<p>Express：{$currency}${moneyit($team['fare'])}</p>
<!--{/if}-->
<form action="buy.php?id={$team['id']}" method="post" >
<input type="hidden" name="id" value="{$team['id']}" />
<h2>Options</h2>
<p>Quantity<span style="color:red;">(*)</span></p>
<p><input type="text" name="quantity" value="1" ${$team['per_number']==1 ? 'readonly':''} /></p>

<!--{if $team['delivery']=='express'}-->
<p>Receiver<span style="color:red;">(*)</span></p>
<p><input type="text" name="realname" id="settings-realname" class="f-input" value="{$login_user['realname']}" /></p>
<p>Mobile<span style="color:red;">(*)</span></p>
<p><input type="text" name="mobile" id="settings-mobile" class="number" value="{$login_user['mobile']}" maxLength="11" /></p>
<p>Zipcode<span style="color:red;">(*)</span></p>
<p><input type="text" name="zipcode" id="settings-mobile" class="number" value="{$login_user['zipcode']}" maxLength="6" /></p>
<p>Address<span style="color:red;">(*)</span></p>
<p><input type="text" name="address" id="settings-address" class="f-input" value="{$login_user['address']}" /></p>
<!--{/if}-->

<p>Notes</p>
<p><textarea name="remark" style="width:200px;height:40px;padding:2px;">${htmlspecialchars($order['remark'])}</textarea></p>

<p><input type="hidden" name="id" value="{$order['id']}" /><input class="forButton" type="submit" name="buy" value="have confirmed，buy"/></p>

</form>

<!--{include wap_footer}-->
