html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	margin-left:auto;
	margin-right:auto;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 12px;
	vertical-align: baseline;
}
body { line-height: 1; background: #d3e1d0; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
h1,h2,h3,h4 {text-transform:uppercase;line-height:20px;}
.clear_fix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

a{text-decoration: none;}

.clear_fix { !
	display: inline-block; !
	zoom: 1; !
	display: block;
}

.fr{float: right;}
.fl{float: left;}

/*-------Common-------*/
body{
	font-family: akkurat ,Arial , tahoma;
	font-size:12px;
	line-height: 16px;
}
.top,.header, .main, .footer{
	width: 960px;
	margin: 0 auto;	
}

/*-------Header-------*/

.top_wrraper{
	background: #3a3a3a;
	text-align: right;
	padding: 4px 20px 4px 0px;
	margin-bottom: 18px;
	font-size: 12px;
	color: white;
}


.top .selected{
	color: #8cdd57;
}

.top .normal{
	color: white;
}

.top a:hover{
	color: #8cdd57;
}

.header .logo{
	margin: 25px 0px 0px 20px;
}

.header .left{
	margin-right: 165px;
	background: #fff;
}

.header .right{
	width: 150px; background: #fff;
}

.header .right p{
	padding: 8px 0px 6px 0px;
	color: #a4a5a5;
}

.header .navigation, .header .action{
	background: #3a3a3a;
}

.header .navigation a,.header .action a{
	color: #fff;
	padding: 0 10px;
	margin-left: 50px;
	font-size: 15px;
	line-height: 36px;
}

.header .action a{
	margin-left: 5px;
}

.header .navigation a:hover,.header .action a:hover{
	color: #8cdd57;
}

.header .navigation .selected  a,.header .action .selected  a{
	color: #8cdd57;
}

.header .inputarea, .header .banner{
	height: 125px;
}

.header .banner .BoxConer1 {
	margin-right: 15px;	
	float:right;
	width: 145px;
}

.header .banner .selectbox{
	padding:6px 10px 0 10px;
	
}
/*
.header .slogan .left_ct{
	background: url(../background/left_ct.png) no-repeat left;
	padding-left: 10px;
} 

.header .slogan .right_ct{
	background: url(../background/right_ct.png) no-repeat right;
	padding-right: 10px;
} 

.header .BoxTable .center_ct{
	background:#f0f1f2;
	padding: 10px 4px;
} 
*/
.header .selectbox .icon_down{
	background: url(../background/icon_down.png) no-repeat right center;
	padding-right: 28px;
	color: #3a3a3a;
	font-size: 15px;
} 

.header .selectbox .text{
	color: #3a3a3a;
	font-size: 15px;
	margin-top:5px;
} 

.header .inputarea{
	padding: 0px 15px 0px 15px;
} 

.header .inputarea .left_input{
	background: url(../background/left_input.png) no-repeat left;
	padding-left: 5px;
} 

.header .inputarea .right_input{
	background: url(../background/right_input.png) no-repeat right;
	padding-right: 5px;
} 

.header .inputarea .center_input{
	background:#f0f1f2;
	height: 27px;
} 

.header .inputarea input{
	width: 110px;
	border: none;
	background: #f0f1f2;
	margin-top: 4px;
} 
/*-------Main-------*/
.main{
	margin: 15px auto;
	background:url(../background/BGMain.png) repeat-y left top;
}

.main .sidebar{
	width: 130px;
	background: white url(../background/bg.png) repeat-x top;
	position: relative;
	padding: 10px;
}

.main .content{
	margin-left: 165px;
	background: white url(../background/bg.png) repeat-x top;
	padding: 30px 15px 10px 12px;
	zoom:1;
}

/* left */

.sidebar p{	
	line-height: 20px;	
}
.sidebar h2 {
	font-size: 22px;
	font-weight:normal;
	letter-spacing: -1px;
	margin-bottom: 10px;
	line-height: 18px;
}

.box {
	border-bottom: 1px solid #f0f1f1;
	padding: 5px 0 10px 0;
	margin:5px 0 10px 0;
}

.box .check {
	padding-left: 52px;
	background:url(../background/trueIcon.png) no-repeat 10px center;
}

.box .check  p {
	border-left: 1px solid #E1E2E3;
    padding-left: 10px;
}

.box  p span{
	font-size: 22px;   
}


.temps  {
	overflow:hidden;	
}

.temps  h2 {
	font-size: 16px;
	text-transform:capitalize;
}
.temps .col {
	float:left;
	width:33%;
}

.temps p {
	color:#7f2452;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
}

.temps .item {
	margin-top: 5px;
	display:block;
	background: url(../background/circleICon.png) no-repeat left center;
	width: 37px;
	text-align:center;
	line-height: 37px;
	color:#fff;
	font-size: 19px;
	height: 37px;
}

.temps .item:hover {
	opacity: 0.8;	
}

.main .sidebar .top{
	background: url(../background/top.png) no-repeat top;
	 height: 103px;
    left: -21px;
    position: absolute;
    top: 20px;
    width: 182px;
	padding: 38px 0 0;
	! padding: 28px 0 0;/*hack for ie7*/
}

.main .sidebar .pt{
	padding-top: 120px;
	border-bottom: 1px solid #f0f1f1;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.main .sidebar .pt p{
	font-size: 15px;
	line-height: 28px;
}

.main .sidebar .pt p span{
	font-size: 22px;
}

.main .sidebar .top .sl{
	font-size: 37px;
	color: #fff;
	margin-left: 11px;
}

.main .sidebar .top .sl span{
	color: white;
    font-size: 37px;
    line-height: 17px;
    margin-left: -8px;
}

.main .sidebar .top .dv{
	font-size: 14px;
	color: #3a3a3a;
	margin-left: 10px;
	font-weight:bold;
}

.pink{color: #7f2452;}


.map p {
	line-height:20px;
	padding: 0px 2px 5px 2px;
}

.map img {
	border: 4px solid #7f2452;	
}

/*BoxCorner*/
.BoxCorner {
	margin-bottom: 16px;	
}

.BgTL {
	padding-left:6px;	
	background:url(../background/bgBox.png) no-repeat left top;
}

.BgTR {
	padding-right: 6px;	
	background:url(../background/bgBox.png) no-repeat right top;
}

.BgTM {
	height: 6px;
	background: #f0f1f2;
}	


.BgBL {
	padding-left:6px;	
	background:url(../background/bgBox.png) no-repeat left -6px;
}

.BgBR {
	padding-right: 6px;	
	background:url(../background/bgBox.png) no-repeat right -6px;
}

.BgBM {
	height: 6px;
	background: #f0f1f2;
}	

.BGM {
	background: #f0f1f2;
	padding:6px 0 0px 6px;
}

.BoxConer1 .BgBL{
	padding-left:10px;	
	background:url(../background/bgBox1.png) no-repeat left -11px;
}

.BoxConer1 .BgBR{
	padding-right:10px;	
	background:url(../background/bgBox1.png) no-repeat right -11px;
}

.BoxConer1 .BgBM {
	background: #f0f1f2;
	height:10px;
}
/*right*/


.rightside {
	float:right;
	width: 125px;
	min-height: 500px;
}

.connect ,.Iframe {
	margin-bottom: 16px;	
}

.connect > div {
	margin-bottom: 13px;
}

.espace {
	background:#cfd2d3;
	padding:12px;
	min-height: 138px;
}

.BoxTable .add{
	margin-top:5px;
	background: url(../background/addIcon.png) no-repeat 90px center;
	padding: 0px 20px  0 10px;
	cursor: pointer;
}

.BoxTable h2 {
	font-size:20px;
	margin-bottom: 5px;
	font-weight: normal;
	color:#cfd2d3;
}

.BoxTable .column {
	font-size:10px;
}	

.BoxTable .row {
	border-bottom: 1px solid #e5e6e7;	
	overflow: hidden;	
	padding: 5px 0;
}

.BoxTable .row p {
	margin-left: 5px;	
	
}

.BoxTable .last {
	border:none;
}
/*content*/

.maincontent {
	margin-right: 150px;
	font-family: Arial, Helvetica, sans-serif;
	
}

.maincontent h2 ,.maincontent h3 {
	margin-bottom: 10px;	
}

.maincontent h2 a,.maincontent h3 a{
	color:#7f2452;
	font-size:23px;	
	font-family: akkurat,Arial, Helvetica, sans-serif;
	font-weight:normal;
}


.maincontent h3 {
	font-size: 22px;	
	text-transform:capitalize;
}

.maincontent .product_container{
	border-bottom: 1px solid #e1e2e3;
	padding: 12px 0px;
	height: 205px;
}

.maincontent .product_container .product{
	margin-left: 10px;
	width: 48%;
}

.maincontent .product_container .product .label{
	font-size: 23px;
	color: #303030;
}

.maincontent .product_container .product .content{
	margin-left: 147px;
	background: none;
	padding: 0px;
}

.maincontent .product_container .product p{
	margin: 8px 0px;
	color: #404040;
}

.maincontent .product_container .product .content .pink{
	color: #7f2352;
}

.maincontent .product_container .product .content .right_grey{
	background:url(../background/right_grey.png) no-repeat right top;
	padding-right: 7px;
}

.maincontent .product_container .product .content .left_grey{
	background:#f0f1f2;
	padding: 0px 8px;
	height: 34px;
	margin-bottom: 4px;
}

.maincontent .product_container .product .content p{
	margin: 0px;
	color: #404040;
}

.maincontent .product_container .product .content .left_grey span{
	font-size: 19px;
	line-height: 33px;
}

.maincontent .product_container .product .content .right_pink{
	background:url(../background/right_pink.png) no-repeat right top;
	padding-right: 7px;
}

.maincontent .product_container .product .content .left_pink{
	background:#7f2352;
	padding: 0px 8px;
	height: 34px;
	color: white;
}

.maincontent .product_container .product .content .left_pink span{
	font-size: 25px;
	line-height: 33px;
}
/*feature*/

.feature {
	overflow:hidden;
	margin-top: 30px;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #e1e2e3;
}

.feature .column,.BoxTable .column {
	float:left;
	width:50%;
	!width:49%;
}

.feature ul {
	list-style-type:disc ;	
}
.feature li {
	list-style: inside;
	line-height: 18px;
}

/*slideshow*/

.slideshow .link {
	background:  #F0F1F2;
    -webkit-border-radius: 3px;
	-moz-border-radius:3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
    display: inline-block;
    padding: 5px;
}

.slideshow p {
	padding:0 0 10px 0;
}

.slideshow .link img {
}

.pagging {
	height: 15px;
	margin-top: 10px;	
	margin-left:40%;
}

.pagging a {
	display:block;
	width:13px;
	height: 13px;
	margin-right: 8px;
	background:url(../background/paggingIcon.gif) no-repeat left top;
	float:left;
}

.pagging a.active {
	background:url(../background/paggingIcon.gif) no-repeat left -13px;	
}

.detail {
	padding: 18px 0 10px 0;	
}

.detail p {
	margin-bottom: 15px;	
}

/*footer*/

#footer_wrapper {
    background-color: #7F2452;
    color: #FFFFFF;
    min-height: 160px;
    overflow: hidden;
    padding:20px 0 0px 0;
}

#footer a {
	color:#fff;	
}

#footer .column_first {
	width: 224px;
	padding:30px 0 0 0px;	
	float: left;
}


#footer .column {
	width: 164px;
	float: left;
	padding: 20px 0 0 15px;
	min-height: 164px;
}

#footer .column li {
	padding: 1px 0;	
}

#footer .column h3{
	font-size:15px;	
	font-weight:500;
}

.copyright {
	background: url(../background/lineBg.png) no-repeat top left;
	line-height: 18px;
	color:#fff;
	padding: 10px 0 0 0;
}

.linespace {
	background: url(../background/line_verticel-bg.png) no-repeat left center;	
}