<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:700px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Close&nbsp;</span>Bulk ETA</h3>
	<div style="overflow-x:hidden;padding:10px;">

	<form name="ajax_eta_value_form" id="ajax_eta_value_form">
		<table class="tt-table" id="tableId" width="100%">
			<tr>
				<td>
					<input class="h-input" type="number" min="1" max="50" size="2" name="eta_val" id="eta_val" placeholder="ETA">
					<input type="button" name="update_eta" id="update_eta" value="Update" class="update_eta formbutton">
					<input type="hidden" value="{$eta}" name="eta_ajax" id="eta_ajax" />
				</td>
			</tr>
		</table>
	</form>
	</div>
</div>	

<script>
$(".update_eta").on("click",function(){
	$.ajax({
		url: '../../ajax/deals_bulk_eta.php',
		type: 'post',
		dataType: 'json',
		data:$("form#ajax_eta_value_form").serialize(),
		success: function(data) {
			if(data == 0){
				alert('Please enter ETA value and select deals.');
			} else if(data == 1){
				alert('Please enter ETA value.');
			} else if(data == 2){
				alert('Please select deals.');
			} else if(data == 3){
				window.location.href = '<?php echo WEB_ROOT . "/manage/team/index.php?eta=1"?>';
				//alert('ETA updated successfully.');
			}
		}
	});	
});
</script>