

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Colors
   ========================================================================== */

.white 			{ color: #fff; }
.yellow 		{ color: #ffc100; }
.pink 			{ color: #fa8564; }
.purple 		{ color: #e0547f; }
.primary 		{ color: #1fbba6; }
.cyan 			{ color: #22beef; }
.blue 			{ color: #3468af; }
.darkblue 		{ color: #003366; }
.darkgreen 		{ color: #aec785; }
.bg-white 		{ background-color: #fff; }
.bg-yellow 		{ background-color: #ffc100; }
.bg-pink 		{ background-color: #fa8564; }
.bg-purple 		{ background-color: #e0547f; }
.bg-primary 	{ background-color: #1fbba6; }
.bg-cyan 		{ background-color: #22beef; }
.bg-blue 		{ background-color: #3468af; }
.bg-darkblue 	{ background-color: #003366; }
.bg-darkgreen 	{ background-color: #aec785; }


html.tt-toolbar {
	/*padding-top: 60px;*/
}

html {
	background-color: #f1f1f1;
	height: 100%;
}

body {
	background-color: transparent;
	font-family: "Lato", Arial;
	height: 100%;
}


a:link,
a:visited {
	outline: none;
}

/* ==========================================================================
   Table
   ========================================================================== */

.tt-table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
}

.tt-table th,
.tt-table td {
	background: #fff;
    border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.tt-table th {
	background-color: #f6f5f5;
}



/* ==========================================================================
   Form
   ========================================================================== */




#main-logo {
	display: block;
	text-align: center;
	padding-top: 10px;
}
.folded #main-logo,
.mobile #main-logo { display: none; }



#tt-wrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
}

#tt-adminbar {
	margin-left: 300px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	position: fixed;
	z-index: 100;
}
	.folded #tt-adminbar,
	.mobile #tt-adminbar {
		margin-left: 0px;
	}

#collapse-menu {
	font-size: 30px;
	cursor: pointer;
	width: 60px;
	height: 59px;
	padding-top: 10px;
	text-align: center;
	float: left;
}
	.folded #collapse-menu {
		background: #18202a;
		color: #fff;
		height: 60px;
	}
	.mobile.folded #collapse-menu {
		background: #fff;
		height: 59px;
		color: #333;
	}

.rightlinks {
	float: right;
	margin-right: 340px;
	margin-top: 20px;
}
.folded .rightlinks {
	margin-right: 100px;
}

#adminmenuback {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	width: 300px;
	background-color: #18202a;
}
#adminmenu-wrap {
	float: left;
	width: 300px;
}
.folded #adminmenuback,
.folded #adminmenu-wrap { width: 60px; padding-top: 60px; }
.mobile.folded #adminmenuback,
.mobile.folded #adminmenu-wrap { display: none; }

.folded #adminmenu { padding-top: 70px; }
.mobile #adminmenu { padding-top: 150px; }



/* Menu Links */

#adminmenu a:link,
#adminmenu a:visited {
	color: #95a0aa;
	display: block;
	text-decoration: none;
}
#adminmenu a:hover,
#adminmenu a:active {
	color: #fff;
}
#adminmenu a.menu-top {
	font-size: 20px;
	padding-left: 85px;
}

/* Menu Sub Links */
#adminmenu .tt-submenu a {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 85px;
	margin-right: 30px;
	border-bottom: 1px solid #344356;
}
#adminmenu .tt-submenu li:last-child a { border-bottom: 0px; }

#adminmenu .tt-submenu {
	display: none;
	min-width: 200px;
	list-style: none;
	overflow: visible;
	word-wrap: break-word;
	padding: 7px 0 8px;
	z-index: 9999;
	background-color: #1d2e43;
}
	.folded #adminmenu-wrap .tt-submenu {
		position: absolute;
		top: -1000em;
		left: 300px;
	}
	.mobile #adminmenu-wrap .tt-submenu {
		position: relative;
		left: 0px;
		top: 0px;
	}


/* Hover Color */
#adminmenu .tt-submenu a:focus,
#adminmenu .tt-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus {
	color: #fff;
}




/* On click Show/Hide Sub Menu */
#adminmenu .selected .tt-submenu {
	display: block;
}

/* On Hover Show/Hide Sub Menu when Folded */
.folded #adminmenu .opensub .tt-submenu {
	display: block;
	top: 0px;
	left: 60px;
}




#adminmenu,
#adminmenu li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#adminmenu li.menu-top {
	position: relative;
	min-height: 65px;
	position: relative;
	border-bottom: 1px solid #686871;
}
#adminmenu li.menu-top:hover,
#adminmenu li.select {
	background-color: #0e141b;
}


#adminmenu li.current.menu-top {
	border-bottom: 0px;
	background: #1fbba6;
}
#adminmenu li.current.menu-top a.menu-top:link,
#adminmenu li.current.menu-top a.menu-top:visited {
	color: #fff;
}

#adminmenu .tt-menu-arrow {
	position: absolute;
	right: 20px;
	top: 18px;
	font-size: 25px;
}
#adminmenu .tt-menu-image {
	position: absolute;
	left: 30px;
	top: 22px;
}
	.folded .tt-menu-image { width: 60px; }

#adminmenu .tt-menu-name {
	padding: 22px 0;
}



/*
.tt-menu-image {
	float: left;
	text-align: center;
	width: 90px;
	height: 65px;
	line-height: 63px;
}*/


#tt-content {
	margin: 0px 25px 0 325px;
	padding: 60px 0 0;
	height: 100%;
}
	.folded #tt-content { margin-left: 85px; height: 100%; }
		.mobile.folded #tt-content { margin-left: 0px; height: 100%; margin-right: 0px; }
#tt-body {
	float: left;
	width: 100%;
	padding-bottom: 200px;
}

/* ==========================================================================
   Folded
   ========================================================================== */
.folded #adminmenu-wrap .tt-submenu-head { display: block; color: #fff; }

#adminmenu-wrap .tt-submenu-head,
.folded #adminmenu-wrap .tt-menu-name {
	display: none;
}

/* ==========================================================================
   Auto Fold
   ========================================================================== */




/* ==========================================================================
   Dashboard
   ========================================================================== */
.db-shortcuts {
	color: #fff;
	text-align: center;
}
.db-shortcuts a:link,
.db-shortcuts a:visited {
	color: #fff;
	text-decoration: none;
}
.db-shortcuts a:active,
.db-shortcuts a:hover {
	opacity: 0.7;
}

.tile {
	margin-bottom: 20px; 
	display: block;
}
	.tile .icon {
		font-size: 80px;
		padding: 20px 0;
	}
	.tile .title {
		font-size: 18px;
		text-transform: uppercase;
		padding: 5px 0;
	}





.greet-wrap { margin-bottom: 25px; }
.greeting {
	font-weight: 300;
	font-size: 30px;
	color: #444;
}


.data {
	background-color: #fff;
	padding: 15px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	margin-bottom: 20px;
}
	.data .title {
		font-size: 16px;
		color: #666;
	}
	.data .count {
		font-size: 36px;
		color: #ccc;
		font-weight: bold;
	}
	.data .icon {
		color: #fff;
		position: relative;
		width: 75px;
		height: 75px;
		float: right;
	}
	.foldeds .data .icon {
		width: 37px;
		height: 37px;
	}
	.data .icon span {
		font-size: 45px;
		position: absolute;
		left: 20%;
		top: 20%;
	}







