/* ==========================================================================
   Colors
   ========================================================================== */

.white 			{ color: #fff; }
.yellow 		{ color: #ffc100; }
.pink 			{ color: #fa8564; }
.purple 		{ color: #e0547f; }
.primary 		{ color: #1fbba6; }
.cyan 			{ color: #22beef; }
.blue 			{ color: #3468af; }
.darkblue 		{ color: #003366; }
.darkgreen 		{ color: #aec785; }
.bg-white 		{ background-color: #fff; }
.bg-yellow 		{ background-color: #ffc100; }
.bg-pink 		{ background-color: #fa8564; }
.bg-purple 		{ background-color: #e0547f; }
.bg-primary 	{ background-color: #1fbba6; }
.bg-cyan 		{ background-color: #22beef; }
.bg-blue 		{ background-color: #3468af; }
.bg-darkblue 	{ background-color: #003366; }
.bg-darkgreen 	{ background-color: #aec785; }


html.tt-toolbar {
	/*padding-top: 60px;*/
}

html {
	background-color: #f1f1f1;
	height: 100%;
}

body {
	background-color: transparent;
	font-family: "Lato", Arial;
	height: 100%;
	font-size: 13px;
}


a:link,
a:visited,
a:focus,
:focus {
	outline: none;
}
.bootstrap-select .btn:focus {
	outline: none !important;
}



/* ==========================================================================
   Common Styles
   ========================================================================== */

span.action,
a.action {
	cursor: pointer;
}

.fs-14 { font-size: 14px; }
.fs-19 { font-size: 19px; }
.fs-22 { font-size: 22px; }

.pd-15 { padding: 15px; }
.pd-30 { padding: 30px; }
.pt-7 { padding-top: 7px; }
.pr-15 { padding-right: 10px; }

.pt-10 { padding-top: 10px; }
.pr-10 { padding-right: 10px; }
.pb-10 { padding-bottom: 10px; }
.pl-10 { padding-left: 10px; }
.pl10 { padding-left: 10px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px; }
.pl40 { padding-left: 40px; }
.pl50 { padding-left: 50px; }

.mt5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mr-10 { margin-right: 10px; }
.mb-10 { margin-bottom: 10px; }
.mb0 	{ margin-bottom: 0px; }
.ml-10 { margin-left: 10px; }

.c-red { color: #e74c3c; }
.c-gray { color: #999; }
.images-container img { margin-bottom: 30px; }

.tt-action {
	cursor: pointer;
	filter: alpha(opacity=20);
	opacity: .7;
}
.tt-action:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.img-wrap {
	position: relative;
	display: inline-block;
}
	.img-wrap .tt-action {
		position: absolute;
		top: 5px;
		right: 20px;
		font-size: 18px;
	}


/* Typo */
.nowrap { white-space: nowrap; }



/* Labels */

.tt-label-gray {
	background-color: #F4F4F4;
	border: 1px solid #C1C1C1;
	font-weight: normal;
	color: #333;
}

.no-border input,
input.no-border {
	border: 0px;
}



/* hover effects */
.no-underline,
.no-underline:hover { text-decoration: none; }

.primary.hover-color:hover {
	color: #0d9784;
}

/* ==========================================================================
   Misc
   ========================================================================== */

.event-logo {
	max-width: 200px;
}

	.event-logo.img-wrap .tt-action { right: 5px; }






/* ==========================================================================
   Table
   ========================================================================== */

table.tt-table {
	width: 100%;
	margin-bottom: 15px;
	border: 0px;
	border-collapse: separate;
}

table.sticky-thead,
table.dark-header {
	border-collapse: separate;
	border: 0px;
}


table.laravel-table {
	width: 100% !important;
}

table.tt-table > thead > tr > th {
	border-top: 1px solid #ddd;
}

table.sticky-thead > thead > tr > th,
table.tt-table > thead > tr > th,
table.tt-table > tfoot > tr > th,
table.tt-table > tbody > tr > td {
	background: #fff;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}
table.sticky-thead > thead > tr > th:last-child,
table.tt-table > thead > tr > th:last-child,
table.tt-table > tfoot > tr > th:last-child,
table.tt-table > tbody > tr > td:last-child {
	border-right: 1px solid #ddd;
}

table.tt-table > thead > tr > th,
table.tt-table > tfoot > tr > th {
	background-color: #f6f5f5 !important;
}
table.sticky-thead > thead > tr > th,
table.dark-header > thead > tr > th {
		background-color: #19458b !important;
		color: #fff;
		border-bottom-width: 0px;
		border-top: 0px;
		border-right: 1px solid #3664ad;
		border-left: 1px solid #042c6b;
		text-align: left !important;
		white-space: nowrap;
}


/* ==========================================================================
   Table Reporting
   ========================================================================== */

table.tt-table > tbody > tr.bg-event > td,
table.tt-table > tbody > tr > td.bg-event {
	background-color: #c8fac8;
}
table.tt-table > tbody > tr.bg-hotel > td,
table.tt-table > tbody > tr > td.bg-hotel {
	background-color: #ffffc8;
}
table.tt-table > tbody > tr.bg-group > td,
table.tt-table > tbody > tr > td.bg-group {
	background-color: #fff0f0;
}
table.tt-table > tbody > tr.bg-room-type > td,
table.tt-table > tbody > tr > td.bg-room-type {
	background-color: #f0f0f0;
}

.bg-event .space { padding-left: 10px; }
.bg-hotel .space { padding-left: 20px; }
.bg-group .space { padding-left: 30px; }
.bg-room-type .space { padding-left: 40px; }

.and-or {
	padding-left: 15px;
}



/* ==========================================================================
   Alerts
   ========================================================================== */
.alert-container {
	margin: 0 50px;
	text-align: center;
	position: fixed;
	top: 40px;
	width: 100%;
	z-index: 101;
}
.tt-alert {
	background-color: #fff;
	display: inline-block;
	padding: 6px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	font-weight: bold;
}
	.tt-alert-success {
		color: #00A100;
		border-color: #3cb835;
		background-color: #F7FFF7;
	}
	.tt-alert-error {
		color: #f00;
		border-color: #F56565;
		background-color: #FFF7F7;
	}




/* ==========================================================================
   Admin Bar
   ========================================================================== */

#main-logo {
	display: block;
	text-align: center;
	padding-top: 10px;
}
#main-logo span {
	width: 190px;
	height: 140px;
	display: inline-block;
	background: url('../img/sprite-global.png') no-repeat -30px -20px;
}
.folded #main-logo,
.mobile #main-logo { display: none; }



#tt-wrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
}



#tt-adminbar {
	margin-left: 230px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	position: fixed;
	z-index: 100;
}
	.folded #tt-adminbar,
	.mobile #tt-adminbar {
		margin-left: 0px;
	}

#collapse-menu {
	font-size: 30px;
	cursor: pointer;
	width: 60px;
	height: 59px;
	padding-top: 10px;
	text-align: center;
	float: left;
}
	.folded #collapse-menu {
		background: #18202a;
		color: #fff;
		height: 60px;
	}
	.mobile.folded #collapse-menu {
		background: #fff;
		height: 59px;
		color: #333;
	}

.nav-header {
	float: right;
	margin-right: 340px;
}
	.folded .nav-header { margin-right: 40px; }
	.mobile .nav-header { margin-right: 15px; }

	.nav-header > div {
		position: relative;
		color: #666;
		float: left;
		border-left: 1px solid #ccc;
		height: 60px;
	}
	.nav-header > div > a {
		padding: 10px 20px 0;
		display: block;
	}
	.nav-header .nav-notification > a,
	.nav-header .nav-message > a { padding-top: 17px; }

	.nav-header a:link,
	.nav-header a:visited {
		color: #666;
	}
	.nav-header a:hover,
	.nav-header a:active {
		color: #000;
	}

	.nav-header > div .badge {
		font-size: 13px;
	    padding: 4px 10px;
	    position: absolute;
	    right: 7px;
	    top: 9px;
	}

#tt-adminbar .dropdown-menu {
	margin-top: -1px;
}
.nav-user .dropdown-menu {
	width: 100%;
}

.user-link:link,
.user-link:visited { text-decoration: none; }
.nav-notification .fa-bell { font-size: 26px; }
.nav-message .fa-envelope { font-size: 26px; }
.user-link .fa-caret-down { font-size: 22px; }

	.user-photo {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin-right: 15px;
	}
	.user-info {
		font-size: 20px;
		font-weight: 300;
		margin-right: 20px;
	}
	.mobile .user-info { display: none; }

	/* Ref Code from Ace Admin */
	.dropdown-caret:before {
		border-bottom: 7px solid rgba(0,0,0,0.2);
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		content: "";
		display: inline-block;
		left: 9px;
		position: absolute;
		top: -7px;
	}
	.dropdown-caret:before {
		left: auto;
		right: 9px;
	}
	.dropdown-caret:after {
		border-bottom: 6px solid #fff;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		content: "";
		display: inline-block;
		left: 10px;
		position: absolute;
		top: -6px;
	}
	.dropdown-caret:after {
		left: auto;
		right: 10px;
	}


/* ==========================================================================
   Admin bar - Admin left menu
   ========================================================================== */

#adminmenuback {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	width: 230px;
	background-color: #18202a;
}

#adminmenu-wrap {
	float: left;
	width: 230px;
	background-color: #18202a;
}
	.mobile #adminmenu-wrap {
		float: none;
		width: auto;
	}

.folded #adminmenuback,
.folded #adminmenu-wrap { width: 60px; padding-top: 60px; }
.mobile #adminmenuback,
.mobile.folded #adminmenu-wrap { display: none; }

.folded #adminmenu { padding-top: 70px; }
.mobile #adminmenu { padding-top: 150px; }



/* Menu Links */

#adminmenu a:link,
#adminmenu a:visited {
	color: #95a0aa;
	display: block;
	text-decoration: none;
}
#adminmenu a:hover,
#adminmenu a:active {
	color: #fff;
}
#adminmenu a.menu-top {
	font-size: 14px;
	padding-left: 70px;
}
#adminmenu a.menu-top .glyphicon-hdd {
	font-size: 20px;
}
.folded #adminmenu a.menu-top {
	height: 64px;
	width: 60px;
	padding-left: 0px;
}

/* Menu Sub Links */
#adminmenu .tt-submenu a {
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 70px;
	margin-right: 30px;
	border-bottom: 1px solid #344356;
}
	.folded #adminmenu .tt-submenu a {
		margin-left: 20px;
		margin-right: 20px;
	}

#adminmenu .tt-submenu li:last-child a { border-bottom: 0px; }

#adminmenu .tt-submenu {
	display: none;
	min-width: 200px;
	list-style: none;
	overflow: visible;
	word-wrap: break-word;
	padding: 7px 0 8px;
	z-index: 9999;
	background-color: #1d2e43;
}
	.folded #adminmenu-wrap .tt-submenu {
		position: absolute;
		top: -1000em;
		left: 300px;
	}
	.mobile #adminmenu-wrap .tt-submenu {
		position: relative;
		left: 0px;
		top: 0px;
	}


/* Hover Color */
#adminmenu .tt-submenu a:focus,
#adminmenu .tt-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus,
#adminmenu .tt-submenu li.current a {
	color: #fff;
}


/* On click Show/Hide Sub Menu */
#adminmenu .current .tt-submenu,
#adminmenu .selected .tt-submenu {
	display: block;
}

/* On Hover Show/Hide Sub Menu when Folded */
.folded #adminmenu .opensub .tt-submenu {
	display: block;
	top: 0px;
	left: 60px;
}


#adminmenu,
#adminmenu li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#adminmenu li.menu-top {
	position: relative;
	min-height: 65px;
	position: relative;
	border-bottom: 1px solid #686871;
}
#adminmenu li.menu-top:hover,
#adminmenu li.select {
	background-color: #0e141b;
}


#adminmenu li.current.menu-top {
	border-bottom: 0px;
	background: #1fbba6;
}
#adminmenu li.current.menu-top a.menu-top:link,
#adminmenu li.current.menu-top a.menu-top:visited {
	color: #fff;
}

#adminmenu .tt-menu-arrow {
	position: absolute;
	right: 20px;
	top: 18px;
	font-size: 25px;
}
	.folded #adminmenu .tt-menu-arrow { display: none; }

#adminmenu .tt-menu-image {
	position: absolute;
	left: 30px;
	top: 22px;
}
	.folded #adminmenu .tt-menu-image {
		width: auto;
		left: 20px;
		top: 20px;
	}
	#adminmenu .icon {
		background-repeat: no-repeat;
		position: absolute;
		width: 28px;
		height: 37px;
		background-image: url('../img/sprite-global.png');
		background-repeat: no-repeat;
	}
	.folded #adminmenu .icon {
		left: -4px;
		top: -6px;
	}

	#adminmenu .icon-dashboard { background-position: -0px 5px;}
	#adminmenu .current .icon-dashboard,
	#adminmenu .opensub .icon-dashboard { background-position: -0px -35px; }

	#adminmenu .icon-customers { background-position: -0px -75px; }
	#adminmenu .current .icon-customers,
	#adminmenu .opensub .icon-customers { background-position: -0px -115px; }

	#adminmenu .icon-events { background-position: -0px -160px; }
	#adminmenu .current .icon-events,
	#adminmenu .opensub .icon-events { background-position: -0px -200px; }

	#adminmenu .icon-hotels { background-position: -0px -235px; }
	#adminmenu .current .icon-hotels,
	#adminmenu .opensub .icon-hotels { background-position: -0px -275px; }

	#adminmenu .icon-rooms { background-position: -0px -320px; }
	#adminmenu .current .icon-rooms,
	#adminmenu .opensub .icon-rooms { background-position: -0px -360px; }

	#adminmenu .icon-reservations { background-position: -0px -397px; }
	#adminmenu .current .icon-reservations,
	#adminmenu .opensub .icon-reservations { background-position: -0px -437px; }

	#adminmenu .icon-waitlist { background-position: -0px -480px; }
	#adminmenu .current .icon-waitlist,
	#adminmenu .opensub .icon-waitlist { background-position: -0px -520px; }

	#adminmenu .icon-appearance { background-position: -0px -555px; }
	#adminmenu .current .icon-appearance,
	#adminmenu .opensub .icon-appearance { background-position: -0px -595px; }

	#adminmenu .icon-settings { background-position: -0px -640px; }
	#adminmenu .current .icon-settings,
	#adminmenu .opensub .icon-settings { background-position: -0px -680px; }

	#adminmenu .icon-web-management { background-position: -0px -720px; }
	#adminmenu .current .icon-web-management,
	#adminmenu .opensub .icon-web-management { background-position: -0px -760px; }
	


#adminmenu .tt-menu-name {
	padding: 22px 0;
}


#tt-content {
	margin: 0px 25px 0 235px;
	padding: 60px 0 0;
	height: 100%;
}
	.folded #tt-content { margin-left: 85px; }
		.mobile #tt-content { margin-left: 0px; margin-right: 0px; padding-top: 0px; }
		.mobile.folded #tt-content { margin-left: 0px; margin-right: 0px; }
#tt-body {
	float: left;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 200px;
}
.mobile #tt-body {
	margin-top: 75px;
}

.folded #adminmenu-wrap .tt-submenu-head {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #344356;
	font-size: 16px;
	display: block;
	color: #fff;
}

#adminmenu-wrap .tt-submenu-head,
.folded #adminmenu-wrap .tt-menu-name {
	display: none;
}





/* ==========================================================================
   Portlet / Widgets
   ========================================================================== */

/* http://jqueryui.com/sortable/#portlets */
.column.ui-sortable {
	min-height: 150px;
}


.portlet {
	position: relative;
	min-width: 255px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	margin-bottom: 30px;
}

.portlet.inactive:before {
	content: " ";
	height: 100%;
	width: 100%;
	background-color: #fff;
	opacity: 0.7;
	display: block;
	position: absolute;
	z-index: 99;
}

.portlet-content {
	padding: 15px 25px;
}

.portlet-header {
	font-size: 24px;
	padding: 8px 25px;
	border-bottom: 1px solid #eee;
	position: relative;
}
.portlet-header.fs-small { font-size: 14px; }
	.column .portlet-header { cursor: move;	}
	.mobile .portlet-header { font-size: 19px; }

  .portlet-toggle {
	color: #999;
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    padding: 16px 13px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
  }
  .portlet-header.fs-small .portlet-toggle { padding: 9px 13px; }

.portlet-footer {
	text-align: right;
	padding: 15px 25px;
	border-top: 1px solid #eee;
}
  .portlet-placeholder {
    border: 2px dashed #1abc9c;
    margin: 0 0 30px 0;
    height: 150px;
  }

.ui-sortable-helper {
	opacity: 0.7;
	z-index: 1000;
}


/* View log panel */
.view-log .panel-primary .portlet-toggle {
	color: #fff;
    padding: 16px 13px;
    position: absolute;
    right: 0;
    top: -7px;
    width: 50px;
}



/* ==========================================================================
   Form Styles
   ========================================================================== */

.tt-form label.control-label {
	font-weight: 300;
	margin-bottom: 5px;
	text-align: left;
}

.tt-form-control {
	display: block;
	width: 100%;
	border: 2px solid #bdc3c7;
	border-radius: 5px;
	padding: 6px 12px;
}
.tt-form-control.inline {
	display: inline-block;
}
.tt-form-control:focus {
	outline: none;
	border: 2px solid #1abc9c;
}

.tt-form .fixed-width label {
	width: 100px;
	padding-right: 0px;
}

.btn.selectpicker {
	border: 2px solid #bdc3c7;
}

.tt-btn {
	min-width: 150px;
	height: 40px;
	background: transparent;
	border: 0px;
	border-radius: 5px;
	margin: 0 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	font-weight: 700;
}
.tt-btn-sm {
	float: right;
	width: auto;
	height: auto;
	padding: 2px 15px 5px;
	font-size: 13px;
}

.mobile .tt-btn {
	display: block;
	margin: 0px 0 10px;
	width: 100%;
}
.tt-btn:first-child { margin-left: 0px; }
.tt-btn:last-child { margin-right: 0px; }

.tt-btn.tt-btn-cancel {
	background-color: #bdc3c7;
	color: #fff;
}
	.tt-btn.tt-btn-cancel:hover { background-color: #aab0b5; }

.tt-btn.tt-btn-delete {
	background-color: #e84c3d;
	color: #fff;
}
	.tt-btn.tt-btn-delete:hover { background-color: #ca3628; }

.tt-btn.tt-btn-primary {
	background-color: #1abc9c;
	color: #fff;
	border-bottom: 2px solid #16a085;
	vertical-align: top;
}
	.tt-btn.tt-btn-primary:hover { background-color: #169e83; border-bottom-color: #0e7964; }
.tt-btn.tt-btn-primary.inactive {
	background-color: #dee1e3;
	border-color: #d3d5d7;
}


.input-group.date .input-group-addon {
	background: transparent;
	border: 0px;
	color: #999;
}
.datepicker.dropdown-menu {
	z-index: 1051;
}



/* ==========================================================================
   Custom Style of Checkbox and Raido
   ========================================================================== */

.custom-rc label {
	font-weight: normal;
    display: inline-block;  
    cursor: pointer;  
    position: relative;
    padding-top: 7px; 
}
.custom-rc.pt-0 label { padding-top: 0px; }
.custom-rc.pr-20 label {
	padding-right: 20px;
}

.custom-rc input[type="checkbox"],
.custom-rc input[type="radio"] { display:none; }
	.custom-rc input[type="checkbox"]:checked + label,
	.custom-rc input[type="radio"]:checked + label {
		 color: #16a085;
	}

	.custom-rc input[type="checkbox"] + label span,
	.custom-rc input[type="radio"] + label span {
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    margin: -1px 4px 0 0;
	    vertical-align: middle;
	    cursor: pointer;
	    background: url(../img/custom-check-radio.png) left top no-repeat;
	}
	.custom-rc input[type="checkbox"] + label span { background-position: left top; }
	.custom-rc input[type="radio"] + label span { background-position: -60px top; }

	.custom-rc input[type="checkbox"]:checked + label span { background-position: -30px top; }
	.custom-rc input[type="radio"]:checked + label span { background-position: -90px top; }

/* End Custom Styling Radio and Checkboxes */





/* ==========================================================================
   Pages - Common Styles
   ========================================================================== */

.tt-page-header {
	position: relative;
	min-width: 255px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	margin-bottom: 30px;
	padding: 15px;
}
	.tt-page-header .title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	.tt-page-header .status {
		font-size: 21px;
	}
		.tt-page-header .state {
			padding-left: 15px;
		}
		.tt-page-header .published {
			color: #27ae60;
		}
			.tt-page-header .published .fa {
				font-size: 13px;
				position: relative;
			    top: -3px
			}
	.tt-page-header .status-info {
		font-size: 17px;
		color: #aaa;
	}






/* ==========================================================================
   Dashboard
   ========================================================================== */
.db-shortcuts {
	color: #fff;
	text-align: center;
}
.db-shortcuts a:link,
.db-shortcuts a:visited {
	color: #fff;
	text-decoration: none;
}
.db-shortcuts a:active,
.db-shortcuts a:hover {
	opacity: 0.7;
}

.tile {
	margin-bottom: 20px; 
	display: block;
}
	.tile .icon {
		font-size: 80px;
		padding: 20px 0;
	}
	.tile .title {
		font-size: 18px;
		text-transform: uppercase;
		padding: 5px 0;
	}
	.tile .icon span {
		width: 110px;
		height: 100px;
		display: inline-block;
		background-image: url('../img/sprite-dashboard.png');
		background-repeat: no-repeat;
		background-size: cover;

	}
	.icon span.icon-hotels { background-position: 15px 20px; }
	.icon span.icon-events { background-position: 20px -70px; }
	.icon span.icon-customers { background-position: 10px -155px; }
	.icon span.icon-rooms { background-position: 25px -255px; }
	.icon span.icon-reservations { background-position: 25px -340px; }
	.icon span.icon-waitlist { background-position: 30px -435px; }



.greet-wrap { margin-bottom: 25px; }
.greeting {
	font-weight: 300;
	font-size: 30px;
	color: #444;
}


.data {
	background-color: #fff;
	padding: 15px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	margin-bottom: 20px;
}
	.data .title {
		font-size: 16px;
		color: #666;
	}
	.mobile .data .title { font-size:  13px; }
	.data .count {
		font-size: 36px;
		color: #ccc;
		font-weight: bold;
	}
	.mobile .data .count {
		font-size: 25px;
	}
	.data .icon {
		position: relative;
		display: inline-block;
		width: 75px;
		height: 75px;
		float: right;
		/*background-size: cover;*/
		background-repeat: no-repeat;
		background-image: url('../img/sprite-dashboard.png');
	}

	.data .icon-customers { background-position: 0px -600px; }
	.data .icon-reports { background-position: 0px -675px; }
	.data .icon-notes { background-position: 0px -750px; }
	.data .icon-daily-sales { background-position: 0px -825px; }
		.foldeds .data .icon {
			width: 37px;
			height: 37px;
		}
		.mobile .data .icon {
		    float: right;
		    height: 50px;
		    position: relative;
		    width: 50px;
		}

/* ==========================================================================
   Dashboard Date Time Wrap
   ========================================================================== */

.date-time-wrap {
	position: relative;
	font-size: 14px;
	background: #fff;
	height: 60px;
	width: 230px;
	float: right;
}
.date-time-wrap .date-wrap {
	padding-left: 10px;
	color: #fff;
	background: #1fbba6;
	width: 90px;
	height: 60px;
	float: left;
	position: relative;
}
.date-time-wrap .date-wrap > span,
.date-time-wrap .time-wrap > span {
	position: absolute;
}
.date-wrap .day {
	top: 3px;
}
.date-wrap .date {
	top: 10px;
	font-size: 36px;
	font-weight: 700;
}
.date-wrap .month {
	top: 30px;
	left: 55px;
}

.date-time-wrap .time-wrap {
	float: left;
	height: 60px;
	position: relative;
	color: #1fbba6;
}
.time-wrap .time {
	font-size: 38px;
	font-weight: 700;
	top: 8px;
	left: 22px;
}
.time-wrap .ampm {
	top: 3px;
	left: 98px;
}

.greeting {
	float: left;
}











/* ==========================================================================
   Login
   ========================================================================== */

#login {
	font-size: 16px;
	width: 420px;
	max-width: 420px;
	padding: 8% 0 0;
	margin: auto;
}
.mobile #login {
	font-size: 15px;
	width: 100%;
	padding-left: 20px; 
	padding-right: 20px; 
}

#login .title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 45px;
}


#login .input {
	font-family: "Lato", Arial;
	color: #666;
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	padding: 20px;
	position: relative;
}
	#login .input:focus {
		border-color: #999;
		z-index: 11;
		outline: 0px;
	}
	#login .input.user {
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}
	#login .input.pass {
		top: -1px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	#login .input.email {
		border-radius: 3px;
	}

#login .btn-submit {
	background: #3366cc;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	display: block;
	width: 100%;
	padding: 13px 0;
	border: 0px;
	border-radius: 3px;
	margin: 25px 0;
}




/* Data Table UI Changes */

.yadcf-filter-wrapper {
	position: relative;
}

.yadcf-filter-reset-button { /* Ajax Search Input Field Reset Cross */
	display: none;
	position: absolute;
	right: 5px;
	background: transparent;
	border: 0px;
	top: 7px;
}
	.yadcf-filter.inuse ~ .yadcf-filter-reset-button { display: block; }

.yadcf-filter.tt-form-control {
	border-width: 1px;
	border-radius: 0px;
	margin-top: 3px;
}

table.dataTable {
	margin: 0px !important;
}

.dataTables_length .bootstrap-select {
	width: auto !important;
	margin: 0 10px !important; 
}

div.dataTables_length {
	border: 1px solid #ebebeb;
	display: block;
	border-bottom: 0px;
	padding: 10px 8px 7px;
}
div.dataTables_info {
	background: #fafafa;
	border-top: 0px;
	padding: 12px 8px;
	border: 1px solid #ebebeb;
}
div.dataTables_paginate {
	position: relative;
	top: -31px;
	right: 9px;
}

.dataTables_info,
.dataTables_length {
	color: #999;
}
.dataTables_filter { display: none; }

 

.dataTables_paginate .paginate_button {
	position: relative;
	padding: 3px 9px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #333;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px;
	cursor: pointer;
}
.dataTables_paginate span span {
	position: relative;
	padding: 3px 9px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #333;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px;
}
.paginate_button.first {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.paginate_button.last {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.paginate_button.disabled {
	color: #777;
	cursor: not-allowed;
}

.paginate_button:hover {
	color: #333;
	background-color: #eee;
	border-color: #ddd;
}
.paginate_button.current {
	z-index: 2;
	color: #fff;
	background-color: #313641;
	border-color: #313641;
	cursor: default;
}


/* ==========================================================================
   TT Modal
   ========================================================================== */

.tt-modal .modal-content {
	border-radius: 7px;
	border: none;
	background-color: #f9fafb;
	-webkit-box-shadow: -13px 15px 0px 2px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    -13px 15px 0px 2px rgba(0, 0, 0, 0.35);
	box-shadow:         -13px 15px 0px 2px rgba(0, 0, 0, 0.35);
}
.tt-modal .modal-header { border-bottom: 2px solid #ecf0f1; }

.tt-modal .modal-footer {
	border-top: none;
	background: #ecf0f1;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.tt-modal .close { font-size: 28px; }

.modal-backdrop { background-color: #121d2a }
.modal-backdrop.in {
	filter: alpha(opacity=85);
	opacity: .85;
}



/* ==========================================================================
   room-bulk-rates
   ========================================================================== */

#room-bulk-rates input.rate {
	width: 60px;
}
#room-bulk-rates input.nights {
	width: 110px;
}




/* ==========================================================================
   Fixes
   ========================================================================== */

.modal-open .datepicker.dropdown-menu { z-index: 1051 !important; }






/* ==========================================================================
   Auto Complete
   ========================================================================== */

.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius:4px;
}
.twitter-typeahead .hint-small
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}
.twitter-typeahead {
     width: 100%;
}
.tt-dropdown-menu {
     width: 100%;
}
.tt-hint {
     width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
 
}
.tt-suggestion {
    display: block;
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
.tt-suggestion .media > .pull-left {
	margin-top: 5px;
}


/*Caret Pixel Perfect*/
.bootstrap-select.show-menu-arrow .dropdown-toggle:after,
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	bottom: -5px
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after,
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	top: -4px;
}

.pleasewait {
	color: #1DA31F;
	padding: 5px 10px;
	background-color: rgba(201, 229, 182, 0.12);
	margin: 10px 10px 20px;
	border: 1px solid rgba(179, 232, 167, 0.46);
	text-align: center;
}

.page-heading {
	color: #5CB85C;
	font-size: 24px;
	margin: -10px 0 10px;
}

.check-conf {
	text-align: right;
	padding-right: 15px;
	margin-bottom: 10px;
	margin-top: -10px;
}

.ho-lala .portlet {
	position: static;
	min-width: auto;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	margin-bottom: 0;
	padding: 0px;
}

/* New Theme */
.page-heading .glyphicon-edit {
	position: relative;
	top: 3px;
}
a.glyphicon-edit:link,
a.glyphicon-edit:visited {
	color: #6BB613;
}
a.glyphicon-edit:hover,
a.glyphicon-edit:active {
	text-decoration: none;
	color: #58A300;
}

.w80p { width: 80%; }

#assignstockList_processing
{
	position: fixed;
    left: 40%;
    width: 250px;
    margin: -25px 0 0 -25px;
	z-index: 1000;
    border: 1px solid #ddd;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 0;
	background-color: #E7E7E8;
}