<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:700px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Close&nbsp;</span>Deal Price History</h3>
	<div style="overflow-x:hidden;padding:10px;">

	<table class="tt-table" id="tableId" width="100%">
	<thead>
		<tr>
			<!--{if ($multiDeal!=multiDeal)}-->
			<th width="20%">Title</th>
			<!--{/if}-->
			<!--{if ($multiDeal==multiDeal)}-->
			<th width="20%">Title</th>
			<!--{/if}-->
			<th width="20%">User name</th>
			<th width="15%">Market Price</th>
			<th width="15%">Web Price</th>
			<th width="15%">Revenue</th>
			<th width="15%">Time</th>	
		</tr>
	 </thead>
			<!--{if !empty($result)}-->
			<!--{loop $result $row} -->
		<tr>
				
				
				<!--{if ($multiDeal!=multiDeal)}-->
				<td>{$row['teamtitle']}</td>
				<!--{/if}-->
				<!--{if ($multiDeal==multiDeal)}-->
				<td>{$row['optiontitle']}</td>
				<!--{/if}-->
				<td>{$row['username']}</td>
				<td>{$row['market_price']}</td>
				<td>{$row['team_price']}</td>
				<td>{$row['partner_revenue']}</td>
				<td>${getDateTimeByTimestamp($row['create_time'])}</td>
			</tr>
			<!--{/loop}-->
			<!--{else}-->
		<tr>
			<td colspan="4" align="center">No Record Found</td>
		</tr>
		<!--{/if}-->
</table>

</div>
</div>	