<style type="text/css">
body{
font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#3e3939; text-align:center}
.ReadMsgBody { width: 100%;}
.ExternalClass {width: 100%;}</style>
</head>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#d3e1d0">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#d3e1d0"><table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%"><img src="logo.jpg" width="327" height="143"></td>
                <td width="50%"><table border="0" align="right" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="right"><a href="http://www.facebook.com/TopDeal.ch"><img src="facebook.png" width="40" height="40" border="0"></a></td>
                    <td><a href="http://twitter.com/#!/topdealch"><img src="twitter.png" width="40" height="40" border="0"></a></td>
                    <td><a href="http://topdealch.tumblr.com/"><img src="tumblr.png" width="40" height="40" border="0"></a></td>
                    <td><a href="http://www.linkedin.com/company/topdeal-s-a-"><img src="linkedin.png" width="40" height="40" border="0"></a></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#3a3a3a" style="font-family:Arial, Helvetica, sans-serif; color:white; font-size:21px; text-align:center ; padding:20px 10px;"><p>Gagnez CHF 40.- de cr&eacute;dits TopDeal en partageant votre lien personnel &agrave; vos amis !</p>
              <p> <a href="http://www.facebook.com/TopDeal.ch"><img src="register_button.png" alt="" border="0" /></a></p></td>
          </tr>
          <tr>
            <td bgcolor="#D3E1D0">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td style="border-top:10px solid #3a3a3a" colspan="2"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; color:#7f2352; font-size:18px;padding:5px; text-align:center"><p><strong>DEAL DU JOUR:</strong></p>
                      Passez votre brevet  &laquo;PADI Scuba Diver&raquo; pour 295.- au lieu de 590.-  chez &laquo; Deep Turtle &raquo;!</td>
                  </tr>
                  <tr>
                    <td align="center"><img src="main-image.jpg" width="685" height="209" /></td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="6">
                      <tr>
                        <td colspan="2"><div style="background:#7f2352;-moz-border-radius: 15px;border-radius: 15px;">
                          <table width="100%" border="0" align="center" cellpadding="10" cellspacing="0">
                            <tr>
                              <td style="font-family:Arial, Helvetica, sans-serif; color:white;" width="50%"><div align="left"><span style="font-family:Arial, Helvetica, sans-serif; color:white; font-size:20px;">Prix 295.-</span></div></td>
                              <td style="font-family:Arial, Helvetica, sans-serif; color:white; font-size:20px;" width="50%" align="right"><a href="http://www.topdeal.ch/topdeal_prod/team.php?id=31" target="_blank"><font color="#FFFFFF">Voir le deal</font></a></td>
                              </tr>
                            </table>
                        </div></td>
                        </tr>
                      <tr>
                        <td style="border-right:dotted 1px #999"  width="50%"><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px;"><strong>Valeur</strong></td>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px;" align="right"><strong>CHF 590</strong></td>
                          </tr>
                          <tr>
                            <td  style="font-family:Arial, Helvetica, sans-serif; color:#7f2352; font-size:13px;"><strong>Rabais </strong></td>
                            <td  style="font-family:Arial, Helvetica, sans-serif; color:#7f2352; font-size:13px;"  align="right"><strong>50%</strong></td>
                          </tr>
                          <tr>
                            <td  style="font-family:Arial, Helvetica, sans-serif; font-size:13px;" ><strong>Economie</strong></td>
                            <td  style="font-family:Arial, Helvetica, sans-serif; font-size:13px;"  align="right"> <strong>CHF 295</strong></td>
                          </tr>
                        </table></td>
                        <td width="50%"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:15px;padding:10px; text-align:left">Durant ce cours, vous apprenez toutes les connaissances fondamentales de la plong&eacute;e-loisir au cours du d&eacute;veloppement des connaissances th&eacute;oriques.</td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td colspan="2"><img src="spacer.gif" width="1" height="1"></td>
                        </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#D3E1D0">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50%"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="border-top:10px solid #3a3a3a" colspan="2"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; color:#7f2352; font-size:18px;padding:5px; text-align:center">Durant ce cours, vous apprene toutes<br>
                          les connaissances fondamentales</td>
                      </tr>
                      <tr>
                        <td align="center"><img src="deal-2.jpg" width="328" height="208" /></td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
                          <tr>
                            <td><div style="background:#7f2352;-moz-border-radius: 15px;border-radius: 15px; ">
                              <table width="100%" border="0" align="center" cellpadding="10" cellspacing="0">
                                <tr>
                                  <td style="font-family:Arial, Helvetica, sans-serif; color:white;" width="50%">Prix 79.-<span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: white"> </span></td>
                                  <td style="font-family:Arial, Helvetica, sans-serif; color:white; font-size:16px;" width="50%" align="right">voir le deal</td>
                                </tr>
                              </table>
                            </div></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
                              <tr>
                                <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px;" width="78%">Valeur</td>
                                <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px;" width="22%" align="right">CHF 590</td>
                              </tr>
                              <tr>
                                <td  style="font-family:Arial, Helvetica, sans-serif; font-size:13px;" >Rabais </td>
                                <td  style="font-family:Arial, Helvetica, sans-serif; font-size:13px;"  align="right">50%</td>
                              </tr>
                              <tr>
                                <td  style="font-family:Arial, Helvetica, sans-serif; font-size:13px;" >Economie</td>
                                <td  style="font-family:Arial, Helvetica, sans-serif; font-size:13px;"  align="right"> CHF 295 </td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
                
                <td width="30" bgcolor="#D3E1D0"><img src="spacer.gif" width="10" height="1"></td>
                <td width="50%"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="border-top:10px solid #3a3a3a" colspan="2"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; color:#7f2352; font-size:18px;padding:5px; text-align:center">Durant ce cours, vous apprene toutes<br>
                          les connaissances fondamentales</td>
                      </tr>
                      <tr>
                        <td align="center"><img src="deal-3.jpg" width="328" height="208" /></td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
                          <tr>
                            <td><div style="background:#7f2352;-moz-border-radius: 15px;border-radius: 15px;">
                              <table width="100%" border="0" align="center" cellpadding="10" cellspacing="0">
                                <tr>
                                  <td style="font-family:Arial, Helvetica, sans-serif; color:white;" width="50%">Prix 225.-</td>
                                  <td style="font-family:Arial, Helvetica, sans-serif; color:white; font-size:20px;" width="50%" align="right"><span style="font-family:Arial, Helvetica, sans-serif; color:white; font-size:16px;">voir le deal</span></td>
                                </tr>
                              </table>
                            </div></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
                              <tr>
                                <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px;" width="78%">Valeur</td>
                                <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px;" width="22%" align="right">CHF 590</td>
                              </tr>
                              <tr>
                                <td  style="font-family:Arial, Helvetica, sans-serif; font-size:13px;" >Rabais </td>
                                <td  style="font-family:Arial, Helvetica, sans-serif; font-size:13px;"  align="right">50%</td>
                              </tr>
                              <tr>
                                <td  style="font-family:Arial, Helvetica, sans-serif; font-size:13px;" >Economie</td>
                                <td  style="font-family:Arial, Helvetica, sans-serif; font-size:13px;"  align="right"> CHF 295 </td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          </table></td>
      </tr>
      <tr>
        <td bgcolor="#D3E1D0">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="border-top:5px solid #3a3a3a" colspan="2"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:15px;padding:10px; text-align:left">Durant ce cours, vous apprene toutes les connaissances fondamentales Durant ce cours, vous apprene toutes les connaissances fondamentales Durant ce cours, vous apprene toutes les connaissances fondamentales Durant ce cours, vous apprene toutes les connaissances fondamentales Durant ce cours, vous apprene toutes les connaissances fondamentales Durant ce cours, vous apprene toutes les connaissances fondamentales Durant ce cours, vous apprene toutes les connaissances fondamentales Durant ce cours, vous apprene toutes les connaissances fondamentales</td>
              </tr>
              </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#D3E1D0">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#7F2352"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="footer-logo.jpg" width="162" height="53"></td>
            <td width="60%"  style="font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:11px;padding:3px; text-align:left">If you no longer wish to receive our updates you can unsubscribe here.<br>
              &copy; 2011 TopDeal.ch copyright reserved by TopDeal S.A.</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#d3e1d0">&nbsp;</td>
  </tr>
</table>
