﻿Search for subscriber:
<form action="impl/get.php">
Email: <input name='email' type='text'>
<input type='submit' value="Get">
</form>
<br/>
Add new subscriber:
<form action="impl/add.php">
Email: <input name='email' type='text'>
<input type='submit' value="Add">
</form>