<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:700px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Close&nbsp;</span>Warehouse Section</h3>
	<div style="overflow-x:hidden;padding:10px;">

	<table class="tt-table" id="tableId" width="100%">
	<thead>
		<tr>
			<th>Section</th>
			<th>Description</th>
		</tr>
	 </thead>
			<!--{if !empty($wareHouseResult)}-->
			<!--{loop $wareHouseResult $row} -->
			<tr>
				<td>{$row['name']}</td>
				<td>{$row['description']}</td>
			</tr>
			<!--{/loop}-->
			<!--{else}-->
		<tr>
			<td colspan="4" align="center">No Record Found</td>
		</tr>
		<!--{/if}-->
</table>

</div>
</div>	