<!--{include html_header}-->
<div id="main">
		<div class="container">

<!--{include content_payes}-->
<!-- #primary -->
<!--{include sidebar}-->

<!-- #secondary -->
		</div>
	</div>
	<!-- #main -->

<!--{include html_footer}-->
