<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    <div id="order-pay-return" class="box">
        <div class="box-top"></div>
        <div class="box-content">
			<div class="success"><h2>
			<!--{if $lang=="en"}-->
				Your order has been paid successfully!
			<!--{elseif $lang =='fr'}--> 
				Votre commande a &eacute;t&eacute; trait&eacute;e avec succ&egrave;s!
			<!--{/if}-->
			</h2> </div>
            <div class="sect">
                <p class="error-tip"><a href="/order/view.php?id={$order_id}"> ${I('OrderDetail')}</a></p>
            </div>
		</div>
		<div class="box-bottom"></div>
	</div>
</div>
<div id="side">
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
