<!--{include html_header}-->
<div id="main">
	<div class="container">
		<div id="primary">
<!--{if is_get()}-->
<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>This order hasn't been paid, please pay it</p><span class="close">close</span></div></div>
<!--{/if}-->

			<div class="head">
				<h2>${I('to_be_paid')}：<strong class="total-money">${moneyit($total_money)}</strong> {$currency}</h2>
			</div>

<!--{if $order['service']=='credit'}-->
<form id="order-pay-credit-form" method="post" sid="{$order_id}">
	<input type="hidden" name="order_id" value="{$order_id}" />
	<input type="hidden" name="service" value="credit" />
	<input type="submit" class="formbutton gotopay" value="${I('pay_with_account')}" />
</form>
<!--{elseif $order['service']=='cashondelivery'}-->
<form id="order-pay-credit-form" method="post" sid="{$order_id}">
	<input type="hidden" name="order_id" value="{$order_id}" />
	<input type="hidden" name="service" value="cashondelivery" />
	<input type="submit" class="formbutton gotopay" value="pay on delivery" />
</form>
<!--{elseif $order['service']=='tenpay'}-->
<form id="order-pay-form" method="post" sid="{$order_id}" target="_blank">
	<input type="hidden" name="order_id" value="{$order_id}" />
	<input type="hidden" name="reqUrl" value="{$reqUrl}" />
	<input type="hidden" name="action" value="redirect" />
	<img src="/static/css/i/tenpay.jpg" /><br/>
	<input type="submit" class="formbutton" value="to tenpay for payment" />
</form>
<!--{elseif $order['service']=='alipay'}-->
<form id="order-pay-form" method="post" action="https://www.alipay.com/cooperate/gateway.do?_input_charset={$_input_charset}" target="_blank" sid="{$order['id']}">
	<input type="hidden" name="body" value="{$body}" />
	<input type="hidden" name="notify_url" value="{$notify_url}" />
	<input type="hidden" name="out_trade_no" value="{$out_trade_no}" />
	<input type="hidden" name="partner" value="{$partner}" />
	<input type="hidden" name="payment_type" value="1" />
	<input type="hidden" name="return_url" value="{$return_url}" />
	<input type="hidden" name="seller_email" value="{$seller_email}" />
	<input type="hidden" name="service" value="{$service}" />
	<input type="hidden" name="show_url" value="{$show_url}" />
	<input type="hidden" name="subject" value="{$subject}" />
	<input type="hidden" name="total_fee" value="{$total_money}" />
<!--{if $itbpay}--><input type="hidden" name="it_b_pay" value="{$itbpay}" /><!--{/if}-->
	<input type="hidden" name="sign_type" value="{$sign_type}" />
	<input type="hidden" name="sign" value="{$sign}" />
	<img src="/static/css/i/alipay.png" /><br /><input type="submit" class="formbutton gotopay" value="Goto Alipay " />
</form>
<!--{elseif $order['service']=='bill'}-->
<form id="order-pay-form"  target="_blank" method="post" action="https://www.99bill.com/gateway/recvMerchantInfoAction.htm" sid="{$order['id']}">
	<input type="hidden" name="inputCharset" value="{$inputCharset}"/>
	<input type="hidden" name="bgUrl" value="{$bgUrl}"/>
	<input type="hidden" name="pageUrl" value="{$pageUrl}"/>
	<input type="hidden" name="version" value="{$version}"/>
	<input type="hidden" name="language" value="{$language}"/>
	<input type="hidden" name="signType" value="{$signType}"/>
	<input type="hidden" name="signMsg" value="{$signMsg}"/>
	<input type="hidden" name="merchantAcctId" value="{$merchantAcctId}"/>
	<input type="hidden" name="payerName" value="{$payerName}"/>
	<input type="hidden" name="payerContactType" value="{$payerContactType}"/>
	<input type="hidden" name="payerContact" value="{$payerContact}"/>
	<input type="hidden" name="orderId" value="{$orderId}"/>
	<input type="hidden" name="orderAmount" value="{$orderAmount}"/>
	<input type="hidden" name="orderTime" value="{$orderTime}"/>
	<input type="hidden" name="productName" value="{$productName}"/>
	<input type="hidden" name="productNum" value="{$productNum}"/>
	<input type="hidden" name="productId" value="{$productId}"/>
	<input type="hidden" name="productDesc" value="{$productDesc}"/>
	<input type="hidden" name="ext1" value="{$ext1}"/>
	<input type="hidden" name="ext2" value="{$ext2}"/>
	<input type="hidden" name="payType" value="{$payType}"/>
	<input type="hidden" name="bankId" value="{$bankId}"/>
	<input type="hidden" name="redoFlag" value="{$redoFlag}"/>
	<input type="hidden" name="pid" value="{$pid}"/>
	<img src="/static/css/i/99bill.png" /><br /><input type="submit" class="formbutton gotopay" value="Quick money to pay" />
</form>
<!--{elseif $order['service']=='paypal'}-->
<form id="order-pay-form" method="post" action="{$post_url}" target="_blank" sid="{$order['id']}">
	<!-- PayPal Configuration -->
	<input type="hidden" name="business" value="{$Business}">
	<input type="hidden" name="cmd" value="{$cmd}">
	<input type="hidden" name="return" value="{$return_url}">
	<input type="hidden" name="cancel_return" value="{$cancel_url}">
	<input type="hidden" name="notify_url" value="{$notify_url}">
	<input type="hidden" name="rm" value="2">
	<input type="hidden" name="currency_code" value="{$currency_code}">
	<input type="hidden" name="lc" value="{$location}">
	<input type="hidden" name="charset" value="utf-8" />

	<!-- Payment Page Information -->
	<input type="hidden" name="no_shipping" value="1">
	<input type="hidden" name="no_note" value="1">

	<!-- Product Information -->
	<input type="hidden" name="item_name" value="{$item_name}">
	<input type="hidden" name="amount" value="{$amount}">
	<input type="hidden" name="quantity" value="{$quantity}">
	<input type="hidden" name="item_number" value="{$item_number}">

	<!-- Customer Information -->
	<input type="hidden" name="first_name" value="{$login_user['realname']}">
	<input type="hidden" name="last_name" value="">
	<input type="hidden" name="address1" value="{$login_user['address']}">
	<input type="hidden" name="address2" value="">

	<input type="hidden" name="zip" value="{$login_user['zipcode']}">
	<input type="hidden" name="email" value="{$login_user['email']}">
	<img src="/static/css/i/paypal.png" /><br/><input type="submit" class="formbutton gotopay" value="Go to PayPal" style="vertical-align:middle;"/>
</form>
<!--{elseif $order['service']=='chinabank'}-->
<form id="order-pay-form" method="post" action="https://pay3.chinabank.com.cn/PayGate" target="_blank" sid="{$order['id']}">
	<input type="hidden" name="v_mid" value="{$v_mid}" />
	<input type="hidden" name="v_oid" value="{$v_oid}" />
	<input type="hidden" name="v_amount" value="{$total_money}" />
	<input type="hidden" name="v_moneytype" value="{$v_moneytype}" />
	<input type="hidden" name="v_url" value="{$v_url}" />
	<input type="hidden" name="v_md5info" value="{$v_md5info}" />
	<img src="/static/css/i/chinabank.png" /><br/><input type="submit" class="formbutton gotopay" value="Go to Internet Banking Online Payment" style="vertical-align:middle;"/>
</form>
<!--{/if}-->
			<div class="back-to-check"><a href="/order/check.php?id={$order_id}">&raquo; ${I('back_to_payment_method')}</a></div>
                    
		</div><!-- primary end -->
		<!--{include sidebar}-->
	</div> <!-- container end -->
</div> <!-- main end-->

<!--{include html_footer}-->
