<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    <div id="order-pay-return" class="box">
        <div class="box-top"></div>
        <div class="box-content">
			<div class="error"><h2>
			<!--{if $lang=="en"}-->
				Sorry, payment failed!
			<!--{elseif $lang =='fr'}--> 
				D&eacute;sol&eacute;, votre paiement a &eacute;chou&eacute;, veuillez recommencer
			<!--{/if}-->			
			</h2></div>
            <div class="sect">
			<!--{if $order_id}-->
				<p class="error-tip">
				<!--{if $lang=="en"}-->Back to<!--{elseif $lang =='fr'}-->Retour<!--{/if}--> 
				<a href="/order/check.php?id={$order_id}"><!--{if $lang=="en"}-->my order<!--{elseif $lang =='fr'}-->mes achat<!--{/if}--></a> 
				<!--{if $lang=="en"}-->to pay again<!--{elseif $lang =='fr'}-->Payer denouveau<!--{/if}--> 
				</p>
			<!--{else}-->
				<p class="error-tip">
				<!--{if $lang=="en"}-->Back to<!--{elseif $lang =='fr'}-->Retour<!--{/if}--> 
				<a href="/order/index.php?s=unpay"><!--{if $lang=="en"}-->my order<!--{elseif $lang =='fr'}-->mes achat<!--{/if}--></a> 
				<!--{if $lang=="en"}-->to pay again<!--{elseif $lang =='fr'}-->Payer denouveau<!--{/if}--> 
				</p>			
			<!--{/if}-->
            </div>
		</div>
        <div class="box-bottom"></div>
    </div>
</div>
<div id="sidebar">
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
