<!--{include header}-->
<!--{if is_get()}-->
<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>This order hasn't been paid, please pay it</p><span class="close">close</span></div></div>
<!--{/if}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="order-pay">
    <div id="content">
        <div id="deal-buy" class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>your Payment is confirmed with transaction ID:{$txn_id} </h2>
					<br /><p>Note Above Transaction id for future USE</p>
                </div>
             </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
