<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
<script type="text/javascript" src="/static/js/jquery.simpleValidate.js"></script>
	
    
       
        <div class="box-content">
            <link rel="stylesheet" type="text/css" href="/static/css/summer.css">
           
	<script src="/static/js/script.js" type="text/javascript"></script>
            <div class="main-content">
		<!-- Banner -->
		<div class="banner clear_fix">
			<div class="left">
				<div class="featured">
					<h1 class="title">{$invitecontest['title']}</h1>
					<div class="description">
						<p>Grand prix de l’été</p>
						<a href="#" class="subtitle">1 bon à faire valoir <br/>sur l'iPhone 5 dès sa sortie</a>
					</div>
					<img src="/static/img/iphone5.png">
				</div>
			</div>
			<div class="right">
				<div class="item">
					<img src="/static/img/headphone.jpg" width="166"/>	
					<p>Premier prix intermédiaire</p>
					<h3>1 Casque Beats Studio by Dr. Dre</h3>
				</div>
				<div class="item">
					<img src="/static/img/bike.png" width="222"/>	
					<p>Deuxième prix intermédiaire</p>
					<h3>1 vélo électrique Flow Promovec</h3>
				</div>
			</div>
		</div><!-- End of banner -->
		<div class="separator"><img src="/static/img/dot_line.png"/></div>
		<div class="content clear_fix" style="overflow: hidden;">
			<div class="left">
				<h2>Comment participer?</h2>
				<div style="padding-bottom: 20px;">
					<ul>
						<li>1) Connectez-vous à votre compte TopDeal.ch ou créez un nouveau compte</li>
						<li>2) Partagez votre lien personnel auprès de vos amis par e-mail ou via les réseaux sociaux</li>
						<li>3) Suivez le nombre d’amis inscrits directement depuis votre page personnelle</li>
						<li>4) Le <strong>dimanche 26 août à 22h</strong>, la personne ayant réuni le plus grand nombre d’invitations sera désigné gagnant du 1er prix intermédiaire</li>
						<li>5) Le <strong>dimanche 2 septembre à 22h</strong> la personne ayant réuni le plus grand nombre d’invitations sera désigné gagnant du 2ème prix intermédiaire (le gagnant du 1er prix intermédiaire n’est pas éligible)</li>
						<li>6) Le <strong>dimanche 9 septembre à 22h</strong>, la personne ayant cumulé depuis le début du concours le plus grand nombre d’invitations gagnera le grand prix de l’été. Les gagnants des prix intermédiaires sont également éligibles pour ce prix.</li>
					</ul>
      </div>
				<a href="index.php?cmd=terms" id="terms">Conditions générales du concours</a>
			</div>
                    <!--{if $login_user_id == ''}-->
			<div class="right">
				<div class="clear_fix" style="overflow:hidden;">
                                     <form id="login-form" action="/account/login.php" method="post">
					<div class="column signup-form">
						<label>Vous êtes déjà <span>enregistré</span> sur TopDeal</label>
						<div class="input-container">
							<div class="input-label">Email</div>
							<input type="text" name="email" value="">
						</div>
						<div class="input-container">
							<div class="input-label">Mot de passe</div>
							<input type="password" name="password" value="">
						</div>
						<div class="clear_fix" style="padding: 15px 0 0 5px;">
							<a href="http://www.topdeal.ch/topdeal_stage/account/repass.php">Mot de passe oublié?</a>
							<a href="javascript:doLogin();" class="button width-64 fr mr-7"><div>OK</div></a>
						</div>
					</div>
					 <input type="hidden" name="ref" value="/invitenwin/index.php?cmd=subscribe"/>
					 </form>
					<div class="column signup-form">
						<form id="signup-user-form" method="post" action="/account/signup.php" class="required-form2">
						<label>Vous voulez vous <span>inscrire</span> sur TopDeal</label>
						<div class="input-container">
							<div class="input-label">Email</div>
							<input type="text" name="email" value="">
						</div>
						<div class="input-container">
							<div class="input-label">Mot de passe</div>
							<input type="password" name="password" value="">
						</div>
						<div class="input-container">
							<div class="input-label">Confirmer le mot de passe</div>
							<input type="password" name="password2" value="">
						</div>
						<div class="clear_fix" style="padding: 15px 0 0 5px;">
							<a href="javascript:doRegister()" class="button width-130 fr mr-7"><div>S'INSCRIRE</div></a>
						</div>
                                                <input type="hidden" name="ref" value="{$INI['system']['wwwprefix']}/invitenwin/index.php?cmd=subscribe"/>
                                            </form>
					</div>
                                        <script type="text/javascript">
                                            function doLogin(){
                                                document.getElementById("login-form").submit();
                                            }
                                            
                                            function doRegister(){
                                                document.getElementById("signup-user-form").submit();
                                            }
                                        </script>
				</div>
				<div class="connect clear_fix" style="overflow:hidden;">
					<div class="fl"><p>Vous connecter avec</p></div>
					<a href="javascript:fblogin()" class="fl"><img src="/static/img/button_facebook.png"/></a>
					<a href="/redirect.php" class="fl"><img src="/static/img/button_twitter.png"/></a>
				</div>
				<div class="separator"><img src="/static/img/greydot_line.png"/></div>
				<div class="connect clear_fix connect-footer">
					<div class="fl connect-text">
						<strong>Partagez ce concours avec vos amis!</strong>
						<p>Attention ceci n’est pas une participation au concours</p>
					</div>
					<!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                <a class="addthis_button_facebook" addthis:url="{$INI['system']['wwwprefix']}/invitenwin"></a>
                                <a class="addthis_button_twitter" addthis:title="Grand concours de l’été sur TopDeal.ch ! Gagnez un bon pour un iPhone 5 dès sa sortie !"  addthis:url="{$INI['system']['wwwprefix']}/invitenwin"></a>
                                <a class="addthis_button_email" addthis:url="{$INI['system']['wwwprefix']}/invitenwin"></a>
                                
                                </div>
                                <script type="text/javascript">
                                    var addthis_config = {
                                        data_track_addressbar: true,
                                         ui_email_note: "Hello , je te recommande vivement de t'inscrire sur TopDeal.ch qui te permettra de profiter de superbes offres quotidiennes ainsi que de gagner un bon pour un iPhone 5 !"
                                    
                                };

                                </script>
                                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5022c1cd44adddd8"></script>
                                <!-- AddThis Button END -->	
				</div>
			</div>
                    <!--{else}-->
                    <div class="right">
				<div class="clear_fix" style="overflow:hidden;">
					<div class="column bonjour">
						<label>Bonjour <span>{$user_name}</span></label>
						<p>Tente ta chance avec notre grand concours de l’été.</p>
						<p>Pour cela il te suffit de te rendre sur ta page personnelle !</p>
						<a href="index.php?cmd=subscribe" class="button_tag"><img src="/static/img/button_tag.png"/></a>
					</div>					
				</div>
				<div class="separator"><img src="/static/img/greydot_line.png"/></div>
				<div class="connect clear_fix connect-footer">
					<div class="fl connect-text">
						<strong>Partagez ce concours avec vos amis!</strong>
						<p>Attention ceci n’est pas une participation au concours</p>
					</div>
						<!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                <a class="addthis_button_facebook" addthis:url="{$INI['system']['wwwprefix']}/invitenwin"></a>
                                <a class="addthis_button_twitter"  addthis:title="Grand concours de l’été sur TopDeal.ch ! Gagnez un bon pour un iPhone 5 dès sa sortie !" addthis:url="{$INI['system']['wwwprefix']}/invitenwin"></a>
                                <a class="addthis_button_email" addthis:url="{$INI['system']['wwwprefix']}/invitenwin"></a>
                                </div>
                                <script type="text/javascript">
                                    var addthis_config = {
                                        data_track_addressbar: true,
                                         ui_email_note: "Hello , je te recommande vivement de t'inscrire sur TopDeal.ch qui te permettra de profiter de superbes offres quotidiennes ainsi que de gagner un bon pour un iPhone 5 !"
                                    
                                };
                                </script>
                                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5022c1cd44adddd8"></script>
                                <!-- AddThis Button END -->	
				</div>
			</div>
                    <!--{/if}-->
		</div>
	</div><!-- End of Main Content -->

</div>


<script type="text/javascript">
$(document).ready(function(){
	Cufon.replace('.header .banner .selectbox, #suggest_deal .selectbox,.action a,.product .label,.navigation a,.maincontent h3,.maincontent h2,.account_info li.account, .account_info li.logout, .font_normal,  .Deal_footer .col p',{ fontFamily: 'Akkurat' });
	$('.input-container').autoHideLabel();
});
</script>
<script type="text/javascript"> Cufon.now(); </script>
        </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->


<!--{include footer}-->