<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    
   <link rel="stylesheet" type="text/css" href="/static/css/summer.css">
        <div class="box-content">
            <div class="main-content summer5">
		<h1 class="title">Le concours de l’été</h1>
		<div class="top-banner clear_fix">
			<div class="column-2" style="position:relative;">
				<label>Bonjour <span>{$user_name}</span></label>
				<div class="circle">{$count}</div>
			</div>
			<div class="column-2">
				<p>Amis se sont inscrits avec ton URL personnelle et te permettront peut-être de gagner un des 3 cadeaux de l’été !</p>
				<p>Veux-tu augmenter tes chances de gagner? Partage avec d’autres amis ton URL personnelle.</p>
				<a href="index.php?cmd=invite" class="button_tag"><img src="/static/img/button_tag2.png"/></a>
			</div>
		</div>
		<!-- Banner -->
		<div class="banner clear_fix">			
			<div class="left">
				<div class="featured">
					<div class="description">
						<p>Grand prix de l’été</p>
						<a href="#" class="subtitle">1 bon à faire valoir <br/>sur l'iPhone 5 dès sa sortie</a>
					</div>
					<img src="/static/img/iphone5.png">
				</div>
			</div>
			<div class="right">
				<div class="item">
					<img src="/static/img/headphone.jpg" width="166"/>	
					<p>Premier prix intermédiaire</p>
					<h3>1 Casque Beats Studio by Dr. Dre</h3>
				</div>
				<div class="item">
					<img src="/static/img/bike.png" width="222"/>	
					<p>Deuxième prix intermédiaire</p>
					<h3>1 vélo électrique Flow Promovec</h3>
				</div>
			</div>
		</div><!-- End of banner -->
		<div class="separator"><img src="/static/img/dot_line.png"/></div>
		<div class="content clear_fix">
			<div class="left widthauto">
				<h2>Comment participer?</h2>
				<div style="padding-bottom: 20px;">
					<ul>
						<li>1) Connectez-vous à votre compte TopDeal.ch ou créez un nouveau compte</li>
                        <li>2) Partagez votre lien personnel auprès de vos amis par e-mail ou via les réseaux sociaux</li>
                        <li>3) Suivez le nombre d’amis inscrits directement depuis votre page personnelle</li>
                        <li>4) Le <strong>dimanche 26 août à 22h</strong>, la personne ayant réuni le plus grand nombre d’invitations sera désigné gagnant du 1er prix intermédiaire</li>
                        <li>5) Le <strong>dimanche 2 septembre à 22h</strong> la personne ayant réuni le plus grand nombre d’invitations sera désigné gagnant du 2ème prix intermédiaire (le gagnant du 1er prix intermédiaire n’est pas éligible)</li>
                        <li>6) Le <strong>dimanche 9 septembre à 22h</strong>, la personne ayant cumulé depuis le début du concours le plus grand nombre d’invitations gagnera le grand prix de l’été. Les gagnants des prix intermédiaires sont également éligibles pour ce prix.</li>
					</ul>
		    </div>
				<a href="index.php?cmd=terms">Conditions générales du concours</a>
			</div>
			<div class="separator"><img src="/static/img/greydot_longline.png"/></div>
			<div class="connect clear_fix connect-footer">
				<div class="fl connect-text">
					<strong>Partagez ce concours avec vos amis!</strong>
					<p>Attention ceci n’est pas une participation au concours</p>
				</div>
				<!--<a href="#" class="fl"><img src="/static/img/mail.png" height="36"/></a>
				<a href="#" class="fl"><img src="/static/img/icon_facebook.png"/></a>
				<a href="#" class="fl"><img src="/static/img/icon_twitter.png"/></a>-->
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                <a class="addthis_button_facebook" addthis:url="{$INI['system']['wwwprefix']}/invitenwin"></a>
                                <a class="addthis_button_twitter" addthis:title="Grand concours de l’été sur TopDeal.ch ! Gagnez un bon pour un iPhone 5 dès sa sortie !" addthis:url="{$INI['system']['wwwprefix']}/invitenwin"></a>
                                <a class="addthis_button_email" addthis:url="{$INI['system']['wwwprefix']}/invitenwin"></a>
                                </div>
                               <script type="text/javascript">
                                    var addthis_config = {
                                        data_track_addressbar: true,
                                         ui_email_note: "Hello , je te recommande vivement de t'inscrire sur TopDeal.ch qui te permettra de profiter de superbes offres quotidiennes ainsi que de gagner un bon pour un iPhone 5 !"
                                    
                                };
                                </script>
                                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5022c1cd44adddd8"></script>
                                <!-- AddThis Button END -->
			</div>
		</div>
	</div>
        </div>
			
			
        </div>
        <div class="box-bottom"></div>
    </div>
	

</div> <!-- bd end -->
</div> <!-- bdw end -->


<!--{include footer}-->
