<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">   
        <div class="box-content">
             <link rel="stylesheet" type="text/css" href="/static/css/summer.css">
    		<script src="/static/js/script.js" type="text/javascript"></script>
    		<script src="/static/js/mootools.1.2.3.js" type="text/javascript"></script>
    		<script src="/static/js/ZeroClipboard.js" type="text/javascript"></script>
            <div class="main-content summer3">		
		<div class="top-banner clear_fix signup-form">
			<h1 class="title">Ta page personnelle Concours de l’été</h1>
			<div class="column-2">
				<p>Voici ton URL personnelle à partager avec tes amis !</p>
				<div class="clear_fix">
					<div class="input-container medium-input fl">
						<div class="input-label"></div>
						<input type="text" id="url" name="url" value="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}">
					</div>
					<a href="#" class="button fl" style="margin-top:21px;width: 80px;margin-left: 10px;" id="copy"><div>COPIER</div></a>
				</div>
				<p style="padding: 20px 0;">Tu peux également la partager avec:</p>
				<div class="clear_fix social">
					<!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                <a class="addthis_button_facebook" addthis:url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}"></a>
                                <a class="addthis_button_twitter" addthis:title="Grand concours de l’été sur TopDeal.ch ! Gagnez un bon pour un iPhone 5 dès sa sortie !" addthis:url="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}"></a>
                                <a class="addthis_button_email" addthis:url="{$INI['system']['wwwprefix']}/invitenwin"></a>
                                </div>
                                <script type="text/javascript">
                                    var addthis_config = {
                                        data_track_addressbar: true,
                                         ui_email_note: "Hello , je te recommande vivement de t'inscrire sur TopDeal.ch qui te permettra de profiter de superbes offres quotidiennes ainsi que de gagner un bon pour un iPhone 5 !"
                                    
                                };
                                </script>
                                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5022c1cd44adddd8"></script>
                                <!-- AddThis Button END -->											
				</div>
			</div>
			<div class="column-2"><form id="frmInviteFriends" method="post" action="index.php" accept-charset="UTF-8">
				<p>OU partage directement sur les emails de tes amis !</p>
				<div class="email-container">
					<div class="input-container medium-input">
						<div class="input-label">Adresse email 1</div>
						<input type="text" name="friend[]" value="">
					</div>
					<div class="input-container medium-input">
						<div class="input-label">Adresse email 2</div>
						<input type="text" name="friend[]" value="">
					</div>
					<div class="clear_fix" style="margin-bottom: 20px;">
						<div class="input-container medium-input fl">
							<div class="input-label">Adresse email 3</div>
							<input type="text" name="friend[]" value="">
						</div>
						<a href="#" class="button fl" id="btnAdd" style="margin-top:21px;margin-left: 10px;"><div>+</div></a>
					</div>
				</div>
				<p>Utilise le message TopDeal <a href="javascript:$('#idMsg').focus();">ou un mot plus perso</a>.</p>
				<div class="input-container large-input">
					<div class="input-label">Ton nom</div>
					<input type="text" name="tname" value="" id="idSender">
				</div>
				<div class="input-container textarea-input">
					<div class="input-label">Hello,<br/><br/>

Si tu ne connais pas encore ce site, je te recommande vivement de t'inscrire sur TopDeal.ch qui te permettra de profiter de superbes offres quotidiennes !</div>
					<textarea name="message" id="idMsg"></textarea>
				</div>
                            	<a href="javascript:invitefriends();" class="button fr" style="width: 110px; margin:10px 42px 0 0;"><div>ENVOYER</div></a>
                                <input type="hidden" name="cmd" value="invite" />
                                <script type="text/javascript">
                                    function invitefriends()
                                    {
                                        if ( document.getElementById('idSender').value.length == 0 )
                                        {
                                            alert("S'il vous plaît entrez votre nom");
                                            document.getElementById('idSender').focus();
                                            return;
                                        }
										if ( document.getElementById('idMsg').value.length == 0 )
                                        {
                                            $('#idMsg').val($('#idMsg').prev().text());
                                        }
                                        document.getElementById('frmInviteFriends').submit();
                                    }
                                    </script>
                            </form></div>
		</div>		
		<div class="separator"><img src="/static/img/dot_line.png"/></div>
		<div class="content clear_fix">
			<div class="left widthauto">
				<h2>Comment participer?</h2>
				<div style="padding-bottom: 20px;">
					<ul>
						<li>1) Connectez-vous à votre compte TopDeal.ch ou créez un nouveau compte</li>
                        <li>2) Partagez votre lien personnel auprès de vos amis par e-mail ou via les réseaux sociaux</li>
                        <li>3) Suivez le nombre d’amis inscrits directement depuis votre page personnelle</li>
                        <li>4) Le <strong>dimanche 26 août à 22h</strong>, la personne ayant réuni le plus grand nombre d’invitations sera désigné gagnant du 1er prix intermédiaire</li>
                        <li>5) Le <strong>dimanche 2 septembre à 22h</strong> la personne ayant réuni le plus grand nombre d’invitations sera désigné gagnant du 2ème prix intermédiaire (le gagnant du 1er prix intermédiaire n’est pas éligible)</li>
                        <li>6) Le <strong>dimanche 9 septembre à 22h</strong>, la personne ayant cumulé depuis le début du concours le plus grand nombre d’invitations gagnera le grand prix de l’été. Les gagnants des prix intermédiaires sont également éligibles pour ce prix.</li>
					</ul>
		    </div>
				<a href="index.php?cmd=terms">Conditions générales du concours</a>
			</div>
		</div>
	</div>
        </div>
			
			
        </div>
<script type="text/javascript">
$(document).ready(function(){
	$('.input-container').autoHideLabel();
});
window.addEvent("load",function() {
	
	setTimeout(function() {
		//set path
		ZeroClipboard.setMoviePath('http://davidwalsh.name/dw-content/ZeroClipboard.swf');
		//create client
		var clip = new ZeroClipboard.Client();
		//event
		clip.addEventListener('mousedown',function() {
			clip.setText(document.getElementById('url').value);
		});
		clip.addEventListener('complete',function(client,text) {
			$('#copy div').text('COPIÉ');
			setTimeout(function(){
				$('#copy div').text('COPIER');
			}, 3000);
		});
		//glue it to the button
		clip.glue('copy');
	}, 1000);
	
});
		
</script>
        <div class="box-bottom"></div>
    </div>
	

</div> <!-- bd end -->
</div> <!-- bdw end -->


<!--{include footer}-->
