<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    
   
        <div class="box-content">  
            <link rel="stylesheet" type="text/css" href="/static/css/summer.css">	<!-- Main Content -->
	<div class="main-content summer4">
		<div class="personnelle">
			<h1 class="title">Ta page personnelle Concours de l’été</h1>
			<p>Merci beaucoup de ta participation au Concours de l’été !</p>
			<p>Un email a été envoyé à tes amis avec ton URL personnelle.</p>

			<p>Tu peux revenir à tout moment sur la page Concours pour voir combiende tes amis se sont inscrits avec<br/>
			ton URL personnelle et inviter d’autres amis pour augmenter tes chances de gagner l’un de nos 3 cadeaux !</p>
			<a href="index.php?cmd=stats" class="back">Retour sur la page Concours</a>
			<div class="separator"><img src="/static/img/dot_line.png"/></div>		
			<a href="index.php?cmd=terms">Conditions générales du concours</a>
		</div>		
	</div><!-- End of Main Content -->
        </div>
			
			
        </div>
        <div class="box-bottom"></div>
    </div>
	

</div> <!-- bd end -->
</div> <!-- bdw end -->


<!--{include footer}-->
