<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
<script type="text/javascript" src="/static/js/jquery.simpleValidate.js"></script>
	<!--{if $login_user_id != ''}--> 
    <form action="/team/buy.php?id={$team['id']}&op={$op}" method="post" class="required-main">
	<input id="deal-per-number" value="{$team['per_number']}" type="hidden" />
	<!--{/if}-->
    <div id="deal-buy" class="box">
        <div class="box-top"></div>
        <div class="box-content">
            
        </div>
</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->


<!--{include footer}-->
