<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="contest">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_invitecontest('index')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2>Contest Home</h2>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="400">Title</th>
                                           <th width="50">Start Time</th>
                                            <th width="50">End Time</th>
                                            <th width="100">Operation</th></tr>
					<!--{loop $invitecontests $index $one}-->
					
					
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>
						{$one['title']}
						</td>
                                                <td nowrap>${date('Y-m-d',$one['start_time'])}</td>
						<td nowrap>${date('Y-m-d',$one['end_time'])}</td>
						<td class="op" nowrap><a href="/manage/invitenwin/index.php?cmd=edit&id={$one['id']}">edit</a><!--|<a href="/ajax/deals.php?action=teamremove&id={$one['id']}" class="ajaxlink" ask="sure to delete this deal?" >delete</a>--></td>
					</tr>
					<!--{/loop}-->
					
                    </table>
				</div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script type="text/javascript">
window.x_init_hook_teamchangetype = function(){
	X.team.changetype("{$team['team_type']}");
};
window.x_init_hook_page = function() {
	X.team.imageremovecall = function(v) {
		jQuery('#team_image_'+v).remove();
	};
	X.team.imageremove = function(id, v) {
		return !X.get(WEB_ROOT + '/ajax/misc.php?action=imageremove&id='+id+'&v='+v);
	};
};
</script>
<!--{include manage_footer}-->
