<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_invitecontest('subscription')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>contest participant list</h2>
                    <ul class="filter">
						<li><form action="/manage/contest/list.php" method="get">date:<input type="text" name="date" class="h-input" value="">(yyyy-mm-dd)&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/><form></li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="75">Date</th><th width="200">User</th>
                                            <th width="200">Contest</th>
                                        </tr>
					<!--{loop $subscribers $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>${date('Y-m-d',$one['subscription_time'])}</td>
						<td>{$users[$one['user_id']]['email']}</td>
                                                <td>{$contests[$one['invitecontest_id']]['title']}</td>
					</tr>
					<!--{/loop}--> 
					<tr><td colspan="8">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
