<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_invitecontest('referals')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>contest participant list</h2>
                   
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr>
                                            <th width="200">User</th>
                                            <th width="200">Refer By</th>
                                            <th width="200">Contest</th>
                                        </tr>
					<!--{loop $referals $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						
						<td>{$users[$one['user_id']]['email']}</td>
                                                <td>{$refer_by_users[$one['refer_by']]['email']}</td>
                                                <td>{$contests[$one['invitecontest_id']]['title']}</td>
					</tr>
					<!--{/loop}--> 
					<tr><td colspan="8">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
